<ui:composition template="/WEB-INF/templates/layout.xhtml"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:pe="http://primefaces.org/ui/extensions"
     xmlns:p="http://primefaces.org/ui"
>
     <ui:define name="content">
       <h:form>
            <p:outputPanel deferred="true" deferredMode="visible">
		        <h3>Loaded after the panel becomes visible on page scroll.</h3>
		        <p>Lorem ipsum dolor sit amet...</p>
		    </p:outputPanel>
 
	    </h:form>
     </ui:define>
</ui:composition>