<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/template.xhtml">

    <ui:define name="subheader">
        Page Header
    </ui:define>
    
    <ui:define name="content">
        
        <div class="Container100">
            <div class="ContainerIndent">
                <div class="Card ShadowEffect TexAlCenter">
                    <br/>
                    <h2>Empty Page</h2>
                    <br/>
                    <span class="gray">Use this page to start from scratch and place your custom content.</span>
                    <br/><br/>
                </div>
            </div>
        </div>
        
    </ui:define>

</ui:composition>