<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jstl/core">
	<ui:define name="subheader">
       #{msg.hdr_administration}
    </ui:define>
   
	<ui:define name="content">
	
	<div class="Container100">
    <div class="ContainerIndent">
    <div class="Card ShadowEffect">
    <div class="Container100  Responsive100">
    <div class="ContainerIndent">
     	 <div class="Container20  Responsive60">
    	 <div class="ContainerIndent">
    	 <p:row></p:row><div class="EmptyBox40"></div><p:row></p:row> 
			<h:form>
				<ui:include src="/views/admin/include/adminInclude.xhtml" />
			</h:form>
		 </div>
	 	 </div>
	 	 <div class="Container80  Responsive100">
		<f:event type="preRenderView" listener="#{systemLogList.preRenderView}" />
		<f:metadata>
			<f:viewAction action="#{systemLogList.onLoadAction}" />
		</f:metadata>
       <h:form id="auditTrailForm">
		  <div class="Container100">
            <div class="ContainerIndent">
                    <div class="Container100  Responsive100">
                     <div class="ContainerIndent">
                     
                        <h2 class="TexAlCenter BigTopic"> #{msg.hdr_login_audit_trail} </h2>
          <p:tabView id="pnl"> 
			<p:tab title="#{msg.hdr_SystemLogList}">
                <p:dataTable  id="listTable" var="loginAuditTrail" selection="#{systemLogList.selectedLoginAuditTrailList}"
				value="#{systemLogList.loginAuditTrailList}" rowsPerPageTemplate="#{sessionScope['USER_IN_CONTEXT'].actualDisplayRowsSize}"
				rows="#{sessionScope['USER_IN_CONTEXT'].displayRowsSize}"
				currentPageReportTemplate="#{msg.lbl_showing} {startRecord}-{endRecord} #{msg.lbl_outOf} {totalRecords}"
				rowKey="#{loginAuditTrail.userId}" emptyMessage="#{msg.table_empty_msg}" 	widgetVar="auditTrailTableWidgetVar" 
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				paginator="true"  paginatorPosition="bottom" 	rowIndexVar="rowIndex" 
				filteredValue="#{systemLogList.filteredLoginAuditTrailList}" reflow="true" tableStyle="table-layout: auto;" >
				
				<f:facet name="header">
				<div style="height: 50px;">
				<table id="filter" style="margin-top: -15px;">
					<tr>
						<td align="left">
							<!-- <p:inputText id="globalFilter"
							onkeyup="PF('auditTrailTableWidgetVar').filter()"
							placeholder="#{msg.lbl_search}" style="width:75%"/> -->
						</td>
						
						<td align="right">
						 <p:commandButton id="toggler" type="button" class="GrayButton"
							icon="fa fa-calculator" title="#{msg.btn_columns}"/>
							<p:ajax event="page" oncomplete="updateToggles(PF('columnToggler'))" />
						<p:columnToggler widgetVar="columnToggler" datasource="listTable" trigger="toggler" style="width:100%">
						 </p:columnToggler>
						</td>
					</tr>
				</table>
					</div>	
								
				</f:facet>
				<p:column  selectionMode="multiple" headerText="#{msg.lbl_select}" 
				value="#{loginAuditTrail.checked}" style="width:54px;" class="TexAlCenter text-top" visible="false" >
					</p:column>
 			    <p:column headerText="#{msg.lbl_userId}" sortBy="#{loginAuditTrail.userId}" filterMatchMode="contains" 
					filterBy="#{loginAuditTrail.userId}" >
					<h:outputText value="#{loginAuditTrail.userId}" >					
						</h:outputText>
				</p:column>
				<p:column class="text-top" headerText="#{msg.lbl_action}" sortBy="#{loginAuditTrail.action}" filterMatchMode="contains" filterBy="#{loginAuditTrail.action}" filterStyle="display:none" >
                    <f:facet name="filter">
	               		  <p:selectOneMenu onchange="PF('auditTrailTableWidgetVar').filter()"  >
	                   		<f:selectItem itemLabel="#{msg.lbl_choose}" itemValue="#{null}" noSelectionOption="true" />
	                   		<f:selectItem itemLabel="#{msg.LoggedIn}" itemValue="LoggedIn"  />
	                   		<f:selectItem itemLabel="#{msg.LoggedOut}" itemValue="LoggedOut"  />
	                   		<f:selectItem itemLabel="#{msg.LoginFailed}" itemValue="LoginFailed"  />
	                	  </p:selectOneMenu>
	            	</f:facet>

						<h:outputText value="#{loginAuditTrail.action != null ? msg[loginAuditTrail.action] : ''}" >					

						</h:outputText>
				</p:column>
				<p:column headerText="#{msg.lbl_timestamp}" sortBy="#{loginAuditTrail.time_stamp}" filterMatchMode="contains" filterBy="#{systemLogList.getDateFormat(loginAuditTrail.time_stamp)}" >
						<h:outputText value="#{loginAuditTrail.time_stamp}" >
			         	<f:convertDateTime type="both" timeZone="#{sessionScope['USER_IN_CONTEXT'].timeZone}" />
			         	</h:outputText> 
				</p:column>
				<p:column headerText="#{msg.lbl_ipAddress}"
					sortBy="#{loginAuditTrail.ipAddress}" filterMatchMode="contains"
					filterBy="#{loginAuditTrail.ipAddress}" rendered="#{systemLogList.ipAddressLogBool}">
					<h:outputText value="#{loginAuditTrail.ipAddress}" />
				</p:column> 
			</p:dataTable>
			</p:tab>
			</p:tabView>
			<p:blockUI block="pnl"  widgetVar="bui"/>
			<p:blockUI block="pnl" class="spinner" trigger="pnl">
       		 <p:graphicImage class="spinner" value="/images/ajax-loader.gif"/>
		     </p:blockUI>  
       	  
       	  
       	 
		 </div>
        </div>
       </div>
     </div>
   </h:form>
     </div>
     </div>
     </div>
     </div>
     </div>
     </div>
     
	</ui:define>
</ui:composition>