<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jstl/core">
	<ui:define name="subheader">
      #{msg.hdr_administration}
    </ui:define>
   
	<ui:define name="content">
	<div class="Container100">
    <div class="ContainerIndent">
    <div class="Card ShadowEffect">
    <div class="Container100  Responsive100">
    <div class="ContainerIndent">
     	 <div class="Container20  Responsive20">
    	 <div class="ContainerIndent">
    	 <p:row></p:row><div class="EmptyBox40"></div><p:row></p:row> 
			<h:form>
				<ui:include src="/views/admin/include/adminInclude.xhtml" />
			</h:form>
		 </div>
	 	 </div>
	 	 <div class="Container80  Responsive80">
	 		<div class="ContainerIndent">
	 		 <h1 class="TexAlCenter BigTopic"> #{msg.hdr_SystemLogList}</h1>
	 			<f:event type="preRenderView" listener="#{systemLogList.preRenderView}" />
				<f:metadata>
				<f:viewAction action="#{systemLogList.onLoadAction}" />
				</f:metadata>
		        
                <p:dataTable  id="listTable" var="user" selection="#{systemLogList.selectedDocs}"
				value="#{systemLogList.userList}" rowsPerPageTemplate="#{sessionScope['USER_IN_CONTEXT'].actualDisplayRowsSize}"
				rows="#{sessionScope['USER_IN_CONTEXT'].displayRowsSize}"
				currentPageReportTemplate="#{msg.lbl_showing} {startRecord}-{endRecord} #{msg.lbl_outOf} {totalRecords}"
				rowKey="#{user.userId}" emptyMessage="#{msg.table_empty_msg}" 	widgetVar="listTableWidgetVar" 
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				paginator="true"  paginatorPosition="bottom" 	rowIndexVar="rowIndex" 
				filteredValue="#{systemLogList.filteredUserList}" reflow="true" tableStyle="table-layout: auto;">
				
				<f:facet name="header">
				<div style="height: 50px;">
				<table id="filter" style="margin-top: -15px;">
					<tr>
						<td align="left">
							<p:inputText id="globalFilter"
							onkeyup="PF('listTableWidgetVar').filter()"
							placeholder="#{msg.lbl_search}" style="width:75%"/>
						</td>
						
						<td align="right">
						 <p:commandButton id="toggler" type="button" class="GrayButton"
							icon="fa fa-calculator" title="#{msg.btn_columns}"/>
							<p:ajax event="page" oncomplete="updateToggles(PF('columnToggler'))" />
						<p:columnToggler widgetVar="columnToggler" datasource="listTable" trigger="toggler" style="width:100%">
						 <p:ajax event="toggle" listener="#{user.onToggle}" />
						 </p:columnToggler>
						</td>
					</tr>
				</table>
					</div>	
								
				</f:facet>
				<p:column  selectionMode="multiple" headerText="#{msg.lbl_select}" 
				value="#{user.checked}" style="width:54px;" class="TexAlCenter text-top" visible="false" >
					</p:column>
 			    <p:column headerText="#{msg.lbl_userId}" sortBy="#{user.userId}" filterMatchMode="contains" 
					filterBy="#{user.userId}" filterStyle="display:none"  >
					<h:outputText value="#{user.userId}" >					
						</h:outputText>
				</p:column>
				<p:column class="text-top" headerText="#{msg.lbl_action}" sortBy="#{user.action}" filterMatchMode="contains" filterBy="#{user.action}" filterStyle="display:none" >
						<h:outputText value="#{user.action}" >					
						</h:outputText>
				</p:column>
				<p:column class="text-top" headerText="#{msg.lbl_timestamp}" sortBy="#{user.time_stamp}" filterMatchMode="contains" filterBy="#{user.time_stamp}" filterStyle="display:none" >
						<h:outputText value="#{user.time_stamp}" />
			           
				        
				</p:column>
				<p:column headerText="#{msg.lbl_ipAddress}"
					sortBy="#{user.ipAddress}" filterMatchMode="contains"
					filterBy="#{user.ipAddress}" filterStyle="display:none" >
					<h:outputText value="#{user.ipAddress}" />
				</p:column> 
			</p:dataTable>
			<p:blockUI block="listTable"  widgetVar="bui"/>
			<p:blockUI block="listTable" class="spinner" trigger="listTable">
       		 <p:graphicImage class="spinner" value="/images/ajax-loader.gif"/>
		     </p:blockUI>  
       	  </div>
       	  </div>
       	 </div>
       	 </div>
       	 </div>
       	 </div>
       	 </div>
       </ui:define>
</ui:composition>