<ui:composition template="/WEB-INF/templates/template.xhtml"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:pe="http://primefaces.org/ui/extensions"
     xmlns:p="http://primefaces.org/ui"
     xmlns:c="http://java.sun.com/jstl/core">
    <ui:define name="subheader">
         #{msg.hdr_employee}
    </ui:define>
    <ui:define name="content">
       <f:event type="preRenderView" listener="#{employeeView.preRenderView}" />
       <f:metadata>
           <f:viewAction action="#{employeeView.onLoadAction}"/>
       </f:metadata> 
       <div class="Container70 Responsive100">
		 <div class="ContainerIndent">
			<div class="Card ShadowEffect ">
			  <div class="Container100 Responsive100">
				<div class="ContainerIndent">
                <h:form id="employeeViewForm" enctype="multipart/form-data">   
                  <p:messages id="messages" globalOnly="true" showDetail="true"
				     autoUpdate="true" closable="true" escape="false" />

			        <div class="ui-widget ui-widget-header ui-corner-all ui-helper-clearfix">
			          <div class="ui-toolbar-group-left">
			 
			             <p:commandButton  value="#{msg.btn_edit}" id="btnEdit" icon="fa fa-pencil" 
			                action="#{employeeView.editAction(employeeView.employee.identifier)}" rendered="#{employeeView.employee.active eq 'Y'}" />
			             <p:commandButton  value="#{msg.btn_cancel}" id="btnCancel" icon="fa fa-close" 
			                action="#{employeeView.cancelAction}" process="@this" />
			             <span class="ui-separator">
                           <span class="fa fa-ellipsis-v SoftGray"></span>
                         </span>
			             <p:commandButton id="lock" icon="fa fa-lock" process="@form" 
			                actionListener="#{employeeView.lockViewedEmployee(employeeView.employee.identifier)}"
				            title="#{msg.lbl_lockEmployee}" rendered="#{employeeView.employee.active eq 'Y'}" />
			             <p:commandButton id="unlock" icon="fa fa-unlock" process="@form" 
			                actionListener="#{employeeView.unlockViewedEmployee(employeeView.employee.identifier)}"
				            title="#{msg.lbl_unlockEmployee}" rendered="#{employeeView.employee.active eq 'N'}" /> 
                      </div>
                     <div class="ui-toolbar-group-right">
                         <p:commandButton id="delete" icon="fa fa-trash-o" process="@form" 
                            action="#{employeeView.deleteViewedEmployee(employeeView.employee.identifier)}"
				            rendered="#{employeeView.employee.active eq 'N'}" title="#{msg.lbl_deleteEmployee}">
			                <p:confirm header="#{msg.confirmation}" message="#{msg.delete_sure}" icon="ui-icon-alert" />
			             </p:commandButton>
				         <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                             <p:commandButton value="#{msg.btn_yes}" type="button" styleClass="ui-confirmdialog-yes "
                                icon="ui-icon-check fa fa-check Fs14 White" />
                              <p:commandButton value="#{msg.btn_no}" type="button" styleClass="ui-confirmdialog-no "
                                icon="ui-icon-close fa fa-close Fs14 White" />
                         </p:confirmDialog>
                      </div> 
                   </div>  
			                             
		            <p:tabView>
          	           <p:tab title="#{msg.hdr_employee}">
          	            <div class="Card SoftBlue ui-fluid"  >
				         <div class="Container100  Responsive100">
				           <div class="ContainerIndent " > 
				              <p:panelGrid columns="4" layout="grid" style="border:0px !important; background:none;">
				                
				                <p:outputLabel for="identifier" value="#{msg.lbl_identifier}" />
				                <p:outputLabel id="identifier"  value="#{employeeView.employee.identifier}"/> 
				                
				                <p:outputLabel for="ma" value="#{msg.lbl_ma}" />
				                <p:outputLabel id="ma"	value="#{employeeView.employee.maId}"/>
				                
				                <p:outputLabel for="firstName" value="#{msg.lbl_firstName}" />
				                <p:outputLabel id="firstName"	value="#{employeeView.employee.firstName}"/>
				                
				                <p:outputLabel for="surName" value="#{msg.lbl_surName}" />
				                <p:outputLabel id="surName"	value="#{employeeView.employee.surName}"/>
				                
				                <p:outputLabel for="qualificationsMAId" value="#{msg.lbl_qualiMAId}" />
				                <p:outputLabel id="qualificationsMAId"	value="#{employeeView.employee.qualificationsMaId}"/>
				                
				                <p:outputLabel for="calendarId" value="#{msg.lbl_calendar}" />
				                <p:outputLabel id="calendarId"	value="#{employeeView.employee.calendarId}"/>
				                
				                
			                 </p:panelGrid>
			                </div>
			               </div>
			              </div> 
			            </p:tab>
			        </p:tabView>      
			     </h:form>
		       </div>
             </div>
           </div>
        </div>
     </div>
	   <div class="Container30 Responsive100">
		 <div class="ContainerIndent">
		   <div class="Card ShadowEffect HeiAutoOnMobile">
			 <h2 class="CardTopic"><i class="icon-info"></i>#{msg.hdr_info}</h2>
			  <div class="EmptyBox10"></div>
				<div class="SeparatorFull"></div>
                  <div class="EmptyBox10"></div>
					
						  <p:panelGrid columns="3" layout="grid" columnClasses="ui-grid-col-5,ui-grid-col-6,ui-grid-col-1" style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank" >
							<p:outputLabel for="createBy" value="#{msg.lbl_createdBy}: " />
							<p:outputLabel id="createBy" value="#{employeeView.getUserFullName(employeeView.employee.createBy)}"	/>
                            <p:graphicImage  class ="Fright Fs30 circlesmallicon" value="/images/#{empty employeeView.getUserImage(employeeView.employee.createBy) ? 'default.jpg' : employeeView.getUserImage(employeeView.employee.createBy)}"/>

							        
							<p:outputLabel for="createTime" value="#{msg.lbl_createdOn}: " />
							<p:outputLabel id="createTime" value="#{employeeView.employee.createTime}">
							   <f:convertDateTime type="both"  timeZone="#{sessionScope['USER_IN_CONTEXT'].timeZone}" />
					        </p:outputLabel>
                            <div class="EmptyBox10"></div>
                            
                            <p:row></p:row><div class="EmptyBox10"></div><p:row></p:row>
                                    
							<p:outputLabel for="updateBy" value="#{msg.lbl_lastUpdatedBy}: " />
							<p:outputLabel id="updateBy" value="#{employeeView.getUserFullName(employeeView.employee.updateBy)}"	/>
                            <p:graphicImage class ="Fright Fs30 circlesmallicon" rendered="#{employeeView.employee.updateBy ne null}" value="/images/#{empty employeeView.getUserImage(employeeView.employee.updateBy) ? 'default.jpg' : employeeView.getUserImage(employeeView.employee.updateBy)}"/>

							        
							<p:outputLabel for="updateTime" value="#{msg.lbl_lastUpdatedOn}: " />
							<p:outputLabel id="updateTime" value="#{employeeView.employee.updateTime}">
							   <f:convertDateTime type="both"  timeZone="#{sessionScope['USER_IN_CONTEXT'].timeZone}" />
					        </p:outputLabel>
                            <div class="EmptyBox10"></div>
							
							<p:row></p:row><div class="EmptyBox10"></div><p:row></p:row>
                                    
                            <p:outputLabel for="lockedBy" rendered="#{employeeView.employee.lockedBy ne null}" value="#{msg.lbl_lockedBy}: " />
							<p:outputLabel id="lockedBy" value="#{employeeView.getUserFullName(employeeView.employee.lockedBy)}"	/>
						    <p:graphicImage class ="Fright Fs30 circlesmallicon" rendered="#{employeeView.employee.lockedBy ne null}" value="/images/#{empty employeeView.getUserImage(employeeView.employee.lockedBy) ? 'default.jpg' : employeeView.getUserImage(employeeView.employee.lockedBy)}"></p:graphicImage>
							
							<p:outputLabel for="lockedTime" rendered="#{employeeView.employee.lockedTime ne null}" value="#{msg.lbl_lockedTime}: " />
							<p:outputLabel id="lockedTime" value="#{employeeView.employee.lockedTime}"	>
							<f:convertDateTime type="both"  timeZone="#{sessionScope['USER_IN_CONTEXT'].timeZone}" />
							</p:outputLabel>
							<div class="EmptyBox10"></div>
							
							<p:row></p:row><div class="EmptyBox10"></div><p:row></p:row>
							<p:outputLabel for="unlockedBy" rendered="#{employeeView.employee.unlockedBy ne null}" value="#{msg.lbl_unlockedBy}: " />
							<p:outputLabel id="unlockedBy" value="#{employeeView.getUserFullName(employeeView.employee.unlockedBy)}  "	/>
							<p:graphicImage class ="Fright Fs30 circlesmallicon" rendered="#{employeeView.employee.unlockedBy ne null}" value="/images/#{empty employeeView.getUserImage(employeeView.employee.unlockedBy) ? 'default.jpg' : employeeView.getUserImage(employeeView.employee.unlockedBy)}"></p:graphicImage>
	
							<p:outputLabel for="unlockedTime" rendered="#{employeeView.employee.unlockedTime ne null}" value="#{msg.lbl_unlockedTime}: " />
							<p:outputLabel id="unlockedTime" value="#{employeeView.employee.unlockedTime}"	>
							<f:convertDateTime type="both"  timeZone="#{sessionScope['USER_IN_CONTEXT'].timeZone}" />
							</p:outputLabel>
							 
						</p:panelGrid>
						 
				   </div>
			    </div>		
             </div>
         
    </ui:define>
 </ui:composition>
			                             