<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
	<ui:define name="subheader">
        #{msg.hdr_facilities}
    </ui:define>
	<ui:define name="content">
		<f:event type="preRenderView"
			listener="#{facilitiesAddUpdate.preRenderView}" />
		<f:metadata>
			<f:viewAction action="#{facilitiesAddUpdate.onLoadAction}" />
		</f:metadata>
		<h:form id="facilitiesAddUpdateForm" enctype="multipart/form-data">
			<div id="user" class="Container100">
				<div class="ContainerIndent">
					<div class="Card ShadowEffect">
						<div class="Container100 Responsive100 ui-fluid">
							<div class="ContainerIndent">
								<p:messages id="messages" globalOnly="true" showDetail="true"
									autoUpdate="true" closable="true" escape="false" />
								<p:panelGrid id="savePnl" columns="3"
									style="border:1px !important; background:none;"
									styleClass="ui-panelgrid-blank ui-responsive">
									<p:commandButton value="#{msg.btn_save}" id="btnSave"
										icon="fa fa-save"
										actionListener="#{facilitiesAddUpdate.saveAction}"
										ajax="false" onstart="PF('blockUIForButtons').block()">
									</p:commandButton>
									<p:commandButton value="#{msg.btn_cancel}" id="btnCancel"
										icon="fa fa-close"
										action="#{facilitiesAddUpdate.cancelAction}" process="@this" />
								</p:panelGrid>

								<p:tabView id="tabView" orientation="left">
									<p:tab title="#{msg.lbl_facilitiesDetails}"
										titleStyle="background-color: #FFFFFF;height:55px;">
										<div class="Card SoftBlue ui-fluid">
											<div class="Container50  Responsive100">
												<div class="ContainerIndent ">
													<p:panelGrid id="facilities" columns="2" layout="grid"
														style="border:0px !important; background:none;"
														styleClass="ui-panelgrid-blank">

														<p:outputLabel for="identifier"
															value="#{msg.lbl_identifier}"
															rendered="#{facilitiesAddUpdate.showIdentifier eq 'true'}" />
														<p:outputLabel id="identifier"
															value="#{facilitiesAddUpdate.facilities.identifier}"
															disabled="true"
															rendered="#{facilitiesAddUpdate.showIdentifier eq 'true'}" />

														<p:spacer style="height:5%;"
															rendered="#{facilitiesAddUpdate.showIdentifier eq 'true'}" />
														<p:spacer style="height:5%;"
															rendered="#{facilitiesAddUpdate.showIdentifier eq 'true'}" />

														<p:outputLabel for="name" value="#{msg.lbl_name}" />
														<p:inputText id="name"
															value="#{facilitiesAddUpdate.facilities.name}"
															required="true"
															disabled="#{facilitiesAddUpdate.facilities.active eq 'N'}" />

														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />

														<p:outputLabel for="qualificationsId"
															value="#{msg.lbl_qualificationsId}" />
														<p:selectCheckboxMenu id="qualificationsId"
															style="display: inline-block !important;vertical-align:top;"
															scrollHeight="120"
															value="#{facilitiesAddUpdate.qualificationsNameList}"
															filter="true" filterMatchMode="contains"
															label="#{msg.lbl_select}"
															collectionType="java.util.ArrayList" required="true">
															<f:selectItems
																value="#{facilitiesAddUpdate.qualificationsList}"
																var="qualifications" itemValue="#{qualifications.id}"
																itemLabel="#{qualifications.qualificationName}"
																itemLabelEscaped="true" />
														</p:selectCheckboxMenu>

														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />

														<p:outputLabel for="sewageTreatmentType"
															value="#{msg.lbl_sewageTreatmentType}" />
														<p:inputText id="sewageTreatmentType"
															value="#{facilitiesAddUpdate.facilities.sewageTreatmentType}"
															disabled="#{facilitiesAddUpdate.facilities.active eq 'N'}" />

														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />

														<p:outputLabel for="constructionYear"
															value="#{msg.lbl_constructionYear}" />
														<p:selectOneMenu id="constructionYear"
															value="#{facilitiesAddUpdate.facilities.constructionYear}"
															filter="true" filterMatchMode="contains">
															<f:selectItem itemLabel="#{msg.lbl_select}" itemValue=""
																noSelectionOption="true" />
															<f:selectItems value="#{facilitiesAddUpdate.yearList}"
																var="years" itemValue="#{years}" itemLabel="#{years}"
																itemLabelEscaped="true" />
														</p:selectOneMenu>

														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />

														<p:outputLabel for="serialNo" value="#{msg.lbl_serialNo}" />
														<p:inputText id="serialNo"
															value="#{facilitiesAddUpdate.facilities.serialNo}"
															disabled="#{facilitiesAddUpdate.facilities.active eq 'N'}" />

														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />

														<p:outputLabel for="clientId" value="#{msg.lbl_clientId}" />
														<p:selectOneMenu id="clientId"
															value="#{facilitiesAddUpdate.facilities.clientId}"
															disabled="#{facilitiesAddUpdate.facilities.active eq 'N'}"
															filter="true" filterMatchMode="contains">
															<f:selectItem itemLabel="#{msg.lbl_select}" itemValue=""
																noSelectionOption="true" />
															<f:selectItems value="#{facilitiesAddUpdate.crmList}"
																var="person"
																itemLabel="#{facilitiesAddUpdate.filterClients(person.id)}"
																itemValue="#{person.id}" />
														</p:selectOneMenu>

														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />

														<p:outputLabel for="blowerType"
															value="#{msg.lbl_blowerType}" />
														<p:inputText id="blowerType"
															value="#{facilitiesAddUpdate.facilities.blowerType}"
															disabled="#{facilitiesAddUpdate.facilities.active eq 'N'}" />

														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />

														<p:outputLabel for="buildingSize"
															value="#{msg.lbl_buildingSize}" />
														<p:inputText id="buildingSize"
															value="#{facilitiesAddUpdate.facilities.buildingSize}"
															disabled="#{facilitiesAddUpdate.facilities.active eq 'N'}" />

														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />

														<p:outputLabel for="numberOfContainer"
															value="#{msg.lbl_numberOfContainer}" />
														<p:inputText id="numberOfContainer"
															value="#{facilitiesAddUpdate.facilities.numberOfContainer}"
															disabled="#{facilitiesAddUpdate.facilities.active eq 'N'}" />

														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />

														<p:outputLabel for="diameter" value="#{msg.lbl_diameter}" />
														<p:inputText id="diameter"
															value="#{facilitiesAddUpdate.facilities.diameter}"
															disabled="#{facilitiesAddUpdate.facilities.active eq 'N'}" />

													</p:panelGrid>
												</div>
											</div>
											<div class="Container50  Responsive100">
												<div class="ContainerIndent ">
													<p:panelGrid id="facilitiesOne" columns="2" layout="grid"
														style="border:0px !important; background:none;"
														styleClass="ui-panelgrid-blank">

														<p:outputLabel for="customerNumber"
															value="#{msg.lbl_customerNumber_facility}" />
														<p:inputText id="customerNumber"
															value="#{facilitiesAddUpdate.facilities.customerNumber}"
															disabled="#{facilitiesAddUpdate.facilities.active eq 'N'}" />


														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />

														<p:outputLabel for="crashInPrimaryTreatment"
															value="#{msg.lbl_crashInPrimaryTreatment}" />
														<p:inputText id="crashInPrimaryTreatment"
															value="#{facilitiesAddUpdate.facilities.crashInPrimaryTreatment}"
															disabled="#{facilitiesAddUpdate.facilities.active eq 'N'}" />

														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />

														<p:outputLabel for="remarks" value="#{msg.lbl_remarks}" />
														<p:inputText id="remarks"
															value="#{facilitiesAddUpdate.facilities.remarks}"
															disabled="#{facilitiesAddUpdate.facilities.active eq 'N'}" />

														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />

														<p:outputLabel for="waterDepth"
															value="#{msg.lbl_waterDepth}" />
														<p:inputText id="waterDepth"
															value="#{facilitiesAddUpdate.facilities.waterDepth}"
															disabled="#{facilitiesAddUpdate.facilities.active eq 'N'}" />

														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />

														<p:outputLabel for="connectionSize"
															value="#{msg.lbl_connectionSize}" />
														<p:inputText id="connectionSize"
															value="#{facilitiesAddUpdate.facilities.connectionSize}"
															disabled="#{facilitiesAddUpdate.facilities.active eq 'N'}" />

														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />

														<p:outputLabel for="otherForms"
															value="#{msg.lbl_otherForms}" />
														<p:inputText id="otherForms"
															value="#{facilitiesAddUpdate.facilities.otherForms}"
															disabled="#{facilitiesAddUpdate.facilities.active eq 'N'}" />

														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />

														<p:outputLabel for="freelyAccessible"
															value="#{msg.lbl_freelyAccessible}" />
														<p:selectBooleanCheckbox id="freelyAccessible"
															value="#{facilitiesAddUpdate.facilities.freelyAccessible}"
															disabled="#{facilitiesAddUpdate.facilities.active eq 'N'}" />

														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />

														<p:outputLabel for="docket" value="#{msg.lbl_docket}" />
														<p:inputText id="docket"
															value="#{facilitiesAddUpdate.facilities.docket}"
															disabled="#{facilitiesAddUpdate.facilities.active eq 'N'}" />

														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />

														<p:outputLabel for="password" value="#{msg.lbl_password}" />
														<p:inputText id="password"
															value="#{facilitiesAddUpdate.facilities.password}"
															disabled="#{facilitiesAddUpdate.facilities.active eq 'N'}" />

														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />

														<p:outputLabel for="revival" value="#{msg.lbl_revival}" />
														<p:inputText id="revival"
															value="#{facilitiesAddUpdate.facilities.revival}"
															disabled="#{facilitiesAddUpdate.facilities.active eq 'N'}" />

														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />

														<p:outputLabel for="buffer" value="#{msg.lbl_buffer}" />
														<p:inputText id="buffer"
															value="#{facilitiesAddUpdate.facilities.buffer}"
															disabled="#{facilitiesAddUpdate.facilities.active eq 'N'}" />

														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />

														<p:outputLabel for="waterRightsPermitUntil"
															value="#{msg.lbl_waterRightsPermitUntil}" />
														<p:calendar id="waterRightsPermitUntil"
															locale="#{layoutMenu.user.language}"
															value="#{facilitiesAddUpdate.facilities.waterRightsPermitUntil}"
															converter="dateConverter"
															pattern="#{CommonConstants.APP_DATE_FORMAT}" mask="true"
															widgetVar="dobWidget"
															disabled="#{facilitiesAddUpdate.facilities.active eq 'N'}" />

													</p:panelGrid>
												</div>
											</div>
										</div>
									</p:tab>
									<p:tab title="#{msg.lbl_maintenanceVisit}"
										titleStyle="background-color: #FFFFFF;height:55px;">
										<div class="Card SoftBlue ui-fluid">
											<div class="Container50  Responsive100">
												<div class="ContainerIndent ">
													<p:panelGrid id="maintenanceVisit" columns="2"
														layout="grid"
														style="border:0px !important; background:none;"
														styleClass="ui-panelgrid-blank">

														<p:outputLabel for="maintenanceCycle"
															value="#{msg.lbl_maintenanceCycle}" />
														<p:selectOneMenu id="maintenanceCycle"
															value="#{facilitiesAddUpdate.facilities.maintenanceCycle}">
															<f:selectItem itemLabel="#{msg.lbl_select}" itemValue=""
																noSelectionOption="true" />
															<f:selectItem itemLabel="#{msg.maintenanceCycle4}"
																itemValue="4" />
															<f:selectItem itemLabel="#{msg.maintenanceCycle3}"
																itemValue="3" />
															<f:selectItem itemLabel="#{msg.maintenanceCycle2}"
																itemValue="2" />
															<f:selectItem itemLabel="#{msg.maintenanceCycle1}"
																itemValue="1" />
														</p:selectOneMenu>

														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />

														<p:outputLabel for="monthOfMaitnenace"
															value="#{msg.lbl_monthOfMaintenance}" />
														<p:selectCheckboxMenu id="monthOfMaitnenace"
															style="display: inline-block !important;vertical-align:top;"
															scrollHeight="120"
															value="#{facilitiesAddUpdate.monthMapList}" filter="true"
															filterMatchMode="contains" label="#{msg.lbl_select}"
															collectionType="java.util.ArrayList">
															<f:selectItems
																value="#{facilitiesAddUpdate.monthMap.entrySet()}"
																var="months" itemValue="#{months.key}"
																itemLabel="#{months.value}" itemLabelEscaped="true" />
														</p:selectCheckboxMenu>

														<!-- 							      
							      <p:spacer style="height:5%;" />
            				    <p:spacer style="height:5%;" />								      
							      
					           <p:outputLabel for="visitingDay" value="#{msg.lbl_visitingDay}" />							
							   <p:selectCheckboxMenu id="visitingDay" style="display: inline-block !important;vertical-align:top;"  scrollHeight="120" value="#{facilitiesAddUpdate.visitingDayList}" filter="true" 
              	                   filterMatchMode="contains" label="#{msg.lbl_select}" collectionType="java.util.ArrayList">	 
              	                   <f:selectItems value="#{facilitiesAddUpdate.weekList}" var="visitingDay" itemValue="#{visitingDay.id}" 
									   itemLabel="#{visitingDay.value}" itemLabelEscaped="true"  />
			                    </p:selectCheckboxMenu>  
			                     -->

														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />

														<p:outputLabel for="primaryTreatment"
															value="#{msg.lbl_primaryTreatment}" />
														<p:inputText id="primaryTreatment"
															value="#{facilitiesAddUpdate.facilities.primaryTreatment}"
															disabled="#{facilitiesAddUpdate.facilities.active eq 'N'}" />



														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />

														<p:outputLabel for="buildingPlan"
															value="#{msg.lbl_buildingPlan}" />
														<p:inputText id="buildingPlan"
															value="#{facilitiesAddUpdate.facilities.buildingPlan}"
															disabled="#{facilitiesAddUpdate.facilities.active eq 'N'}" />

													</p:panelGrid>
												</div>
											</div>


											<div class="Container50  Responsive100">
												<div class="ContainerIndent ">
													<p:panelGrid id="maintenanceVisitOne" columns="2"
														layout="grid"
														style="border:0px !important; background:none;"
														styleClass="ui-panelgrid-blank">


														<p:outputLabel for="costWithoutOffer"
															value="#{msg.lbl_costWithoutOffer}" />
														<p:inputText id="costWithoutOffer"
															value="#{facilitiesAddUpdate.facilities.costWithoutOffer}"
															disabled="#{facilitiesAddUpdate.facilities.active eq 'N'}" />

														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />

														<p:outputLabel for="billingMode"
															value="#{msg.lbl_billingMode}" />
														<p:selectOneMenu id="billingMode"
															value="#{facilitiesAddUpdate.facilities.billingMode}">
															<f:selectItem itemLabel="#{msg.lbl_select}" itemValue=""
																noSelectionOption="true" />
															<f:selectItem itemLabel="#{msg.billingMode1}"
																itemValue="1" />
															<f:selectItem itemLabel="#{msg.billingMode2}"
																itemValue="2" />
															<f:selectItem itemLabel="#{msg.billingMode3}"
																itemValue="3" />
															<f:selectItem itemLabel="#{msg.billingMode4}"
																itemValue="4" />
														</p:selectOneMenu>



														<!-- 	                          <p:spacer style="height:5%;" />
					          <p:spacer style="height:5%;" />
					          
 	                          <p:outputLabel for="visitingHours" value="#{msg.lbl_visitingHours}" />							 
							  <p:selectOneMenu id="visitingHours" value="#{facilitiesAddUpdate.facilities.visitingHours}"> 
			                    <f:selectItem itemLabel="#{msg.lbl_select}" itemValue=""  noSelectionOption="true" />
				                <f:selectItem itemLabel="#{msg.visitingHours1}" itemValue="1" />
					       	    <f:selectItem itemLabel="#{msg.visitingHours2}" itemValue="2" />
								<f:selectItem itemLabel="#{msg.visitingHours3}" itemValue="3" />
							  </p:selectOneMenu> 
					       

			                    
			                  <p:selectOneMenu id="visitingTime"  value="#{facilitiesAddUpdate.facilities.visitingTime}">
	            			    <f:selectItem itemLabel="#{msg.lbl_select}" itemValue="" noSelectionOption="true" />
							    <f:selectItems value="#{facilitiesAddUpdate.timeList}" var="visitingTime" itemLabel="#{visitingTime.id}" itemValue="#{visitingTime.id}"  itemLabelEscaped="true" />
						      </p:selectOneMenu> -->

														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />

														<p:outputLabel for="reminder" value="#{msg.lbl_reminder}" />
														<p:selectOneMenu id="reminder"
															value="#{facilitiesAddUpdate.facilities.reminder}">
															<f:selectItem itemLabel="#{msg.lbl_select}" itemValue=""
																noSelectionOption="true" />
															<f:selectItem itemLabel="#{msg.reminder30}"
																itemValue="30" />
															<f:selectItem itemLabel="#{msg.reminder60}"
																itemValue="60" />
														</p:selectOneMenu>

														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />

														<p:outputLabel for="blocked" value="#{msg.lbl_blocked}" />
														<p:selectBooleanCheckbox id="blocked"
															value="#{facilitiesAddUpdate.facilities.blocked}"
															disabled="#{facilitiesAddUpdate.facilities.active eq 'N'}" />



													</p:panelGrid>
												</div>
											</div>
										</div>

									</p:tab>



									<p:tab title="#{msg.lbl_facilitiesCheck}"
										titleStyle="background-color: #FFFFFF;height:55px;">
										<div class="Card SoftBlue ui-fluid">
											<div class="Container100  Responsive100">
												<div class="ContainerIndent ">
													<p:panelGrid id="facilitiesCheck" columns="3" layout="grid"
														columnClasses="ui-grid-col-2,ui-grid-col-7,ui-grid-col-3"
														style="border:0px !important; background:none;"
														styleClass="ui-panelgrid-blank">

														<p:row></p:row>
														<p:outputLabel for="powerFailureDetection"
															value="#{msg.lbl_powerFailureDetection}" />
														<p:selectBooleanCheckbox id="powerFailureDetection"
															value="#{facilitiesAddUpdate.facilities.powerFailureDetection}"
															disabled="#{facilitiesAddUpdate.facilities.active eq 'N'}" />

														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />

														<p:row></p:row>
														<p:outputLabel for="controlFreeOfCharge"
															value="#{msg.lbl_controlFreeOfCharge}" />
														<p:selectBooleanCheckbox id="controlFreeOfCharge"
															value="#{facilitiesAddUpdate.facilities.controlFreeAccess}"
															disabled="#{facilitiesAddUpdate.facilities.active eq 'N'}" />

														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />

														<p:row></p:row>
														<p:outputLabel for="announcementToUWBME"
															value="#{msg.lbl_announcementToUWBME}" />
														<p:selectBooleanCheckbox id="announcementToUWBME"
															value="#{facilitiesAddUpdate.facilities.announcementToUwbme}"
															disabled="#{facilitiesAddUpdate.facilities.active eq 'N'}" />

														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />

														<p:row></p:row>
														<p:outputLabel for="reportsResultsUwb"
															value="#{msg.lbl_reportsResultsUwb}" />
														<p:selectBooleanCheckbox id="reportsResultsUwb"
															value="#{facilitiesAddUpdate.facilities.reportsResultsUwb}"
															disabled="#{facilitiesAddUpdate.facilities.active eq 'N'}" />

														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />

														<p:row></p:row>
														<p:outputLabel for="reportsResultsCity"
															value="#{msg.lbl_reportsResultsCity}" />
														<p:selectBooleanCheckbox id="reportsResultsCity"
															value="#{facilitiesAddUpdate.facilities.reportsResultsCity}"
															disabled="#{facilitiesAddUpdate.facilities.active eq 'N'}" />

														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />

														<p:row></p:row>
														<p:outputLabel for="reportsResultsCustomer"
															value="#{msg.lbl_reportsResultsCustomer}" />
														<p:selectBooleanCheckbox id="reportsResultsCustomer"
															value="#{facilitiesAddUpdate.facilities.reportsResultsCustomer}"
															style="margin-top:10px"
															disabled="#{facilitiesAddUpdate.facilities.active eq 'N'}" />

													</p:panelGrid>
												</div>
											</div>
										</div>
									</p:tab>

									<p:tab title="#{msg.lbl_features}"
										titleStyle="background-color: #FFFFFF;height:55px;">

										<div class="Card SoftBlue ui-fluid">
											<h6 class="TexAlLeft BigTopic">
												#{msg.lbl_locationOfTheFacility}</h6>
											<div class="Container50  Responsive100">
												<div class="ContainerIndent ">
													<p:panelGrid id="features" columns="2" layout="grid"
														style="border:0px !important; background:none;"
														styleClass="ui-panelgrid-blank">

														<p:outputLabel for="locationStreet"
															value="#{msg.lbl_street}" />
														<p:inputText id="locationStreet"
															value="#{facilitiesAddUpdate.facilities.locationStreet}"
															disabled="#{facilitiesAddUpdate.facilities.active eq 'N'}" />

														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />


														<p:outputLabel for="locationHouseNumber"
															value="#{msg.lbl_houseNumber}" />
														<p:inputText id="locationHouseNumber"
															value="#{facilitiesAddUpdate.facilities.locationHouseNumber}"
															disabled="#{facilitiesAddUpdate.facilities.active eq 'N'}" />

														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />

														<p:outputLabel for="locationPostCode"
															value="#{msg.lbl_post}" />
														<p:inputText id="locationPostCode"
															value="#{facilitiesAddUpdate.facilities.locationPostCode}"
															disabled="#{facilitiesAddUpdate.facilities.active eq 'N'}">
															<pe:keyFilter regEx="/[\d]/" preventPaste="false" />
														</p:inputText>


													</p:panelGrid>
												</div>
											</div>

											<div class="Container50  Responsive100">
												<div class="ContainerIndent ">
													<p:panelGrid id="featuresOne" columns="2" layout="grid"
														style="border:0px !important; background:none;"
														styleClass="ui-panelgrid-blank">


														<p:outputLabel for="locationPlace"
															value="#{msg.lbl_place}" />
														<p:inputText id="locationPlace"
															value="#{facilitiesAddUpdate.facilities.locationPlace}"
															disabled="#{facilitiesAddUpdate.facilities.active eq 'N'}" />

														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />

														<p:outputLabel for="locationDistrict"
															value="#{msg.lbl_district}" />
														<p:inputText id="locationDistrict"
															value="#{facilitiesAddUpdate.facilities.locationDistrict}"
															disabled="#{facilitiesAddUpdate.facilities.active eq 'N'}" />


													</p:panelGrid>

												</div>
											</div>
										</div>
										<div class="Container100  Responsive100">
											<div class="ContainerIndent ">
												<p:separator style="width:100%;" />
											</div>
										</div>

										<div class="Card SoftBlue ui-fluid">
											<div class="Container50  Responsive100">
												<div class="ContainerIndent ">

													<p:panelGrid id="quardinates" columns="2" layout="grid"
														style="border:0px !important; background:none;"
														styleClass="ui-panelgrid-blank">

														<p:outputLabel for="easting" value="#{msg.lbl_easting}" />
														<!-- <p:inputText id="easting" value="#{facilitiesAddUpdate.facilities.easting}" maxlength="7"
							      disabled="#{facilitiesAddUpdate.facilities.active eq 'N'}" placeholder="#{msg.lbl_east}">  
							      <pe:keyFilter regEx="/[\d]/" />
							 </p:inputText> -->
														<p:inputText id="easting"
															value="#{facilitiesAddUpdate.facilities.easting}"
															disabled="#{facilitiesAddUpdate.facilities.active eq 'N'}">
														</p:inputText>

														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />

														<p:outputLabel for="northing" value="#{msg.lbl_northing}" />
														<!-- <p:inputText id="northing" value="#{facilitiesAddUpdate.facilities.northing}" maxlength="7"
							      disabled="#{facilitiesAddUpdate.facilities.active eq 'N'}" placeholder="#{msg.lbl_north}" > 
							   <pe:keyFilter regEx="/[\d]/" /> -->
														<p:inputText id="northing"
															value="#{facilitiesAddUpdate.facilities.northing}"
															disabled="#{facilitiesAddUpdate.facilities.active eq 'N'}">
														</p:inputText>


													</p:panelGrid>
												</div>
											</div>

											<div class="Container50  Responsive100">
												<div class="ContainerIndent ">

													<p:panelGrid id="quardinatesOne" columns="2" layout="grid"
														style="border:0px !important; background:none;"
														styleClass="ui-panelgrid-blank">

														<p:outputLabel for="degreeOfLongitude"
															value="#{msg.lbl_degreeOfLongitude}" />
														<!-- <p:inputText id="degreeOfLongitude" value="#{facilitiesAddUpdate.facilities.degreeOfLongitude}" 
							      disabled="#{facilitiesAddUpdate.facilities.active eq 'N'}" styleClass="#{facilitiesAddUpdate.longitudeBool ? 'ui-state-error !important':''}" placeholder="#{msg.lbl_longitude}" >  
							   </p:inputText> -->
														<p:inputMask id="degreeOfLongitude"
															value="#{facilitiesAddUpdate.facilities.degreeOfLongitude}"
															mask="99° 99' 99, 9''"
															disabled="#{facilitiesAddUpdate.facilities.active eq 'N'}"
															placeholder="#{msg.lbl_longitude}" />

														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />

														<p:outputLabel for="degreeOfLatitude"
															value="#{msg.lbl_degreeOfLatitude}" />
														<!-- <p:inputText id="degreeOfLatitude" value="#{facilitiesAddUpdate.facilities.degreeOfLatitude}"
							      disabled="#{facilitiesAddUpdate.facilities.active eq 'N'}" styleClass="#{facilitiesAddUpdate.latitudeBool ? 'ui-state-error !important':''}" placeholder="#{msg.lbl_latitude}" >  
				               </p:inputText> -->
														<p:inputMask id="degreeOfLatitude"
															value="#{facilitiesAddUpdate.facilities.degreeOfLatitude}"
															mask="99° 99' 99, 9''"
															disabled="#{facilitiesAddUpdate.facilities.active eq 'N'}"
															placeholder="#{msg.lbl_latitude}" />

													</p:panelGrid>
												</div>
											</div>

										</div>

										<div class="Container100  Responsive100">
											<div class="ContainerIndent ">
												<p:separator style="width:100%;" />
											</div>
										</div>

										<div class="Card SoftBlue ui-fluid">
											<div class="Container50  Responsive100">
												<div class="ContainerIndent ">
													<p:panelGrid id="area" columns="2" layout="grid"
														style="border:0px !important; background:none;"
														styleClass="ui-panelgrid-blank">

														<p:outputLabel for="areaOfMunicipality"
															value="#{msg.lbl_areaOfMunicipality}" />
														<p:inputText id="areaOfMunicipality"
															value="#{facilitiesAddUpdate.facilities.areaOfMunicipality}"
															disabled="#{facilitiesAddUpdate.facilities.active eq 'N'}" />

														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />


														<p:outputLabel for="hall" value="#{msg.lbl_hall}" />
														<p:inputText id="hall"
															value="#{facilitiesAddUpdate.facilities.hall}"
															disabled="#{facilitiesAddUpdate.facilities.active eq 'N'}" />
													</p:panelGrid>

												</div>
											</div>

											<div class="Container50  Responsive100">
												<div class="ContainerIndent ">
													<p:panelGrid id="areaOne" columns="2" layout="grid"
														style="border:0px !important; background:none;"
														styleClass="ui-panelgrid-blank">

														<p:outputLabel for="parcel" value="#{msg.lbl_parcel}" />
														<p:inputText id="parcel"
															value="#{facilitiesAddUpdate.facilities.parcel}"
															disabled="#{facilitiesAddUpdate.facilities.active eq 'N'}" />

														<p:outputLabel for="parcel" />
														<p:row></p:row>

													</p:panelGrid>
												</div>
											</div>
										</div>

										<div class="Container100  Responsive100">
											<div class="ContainerIndent ">
												<p:separator style="width:100%;" />
											</div>
										</div>


										<div class="Card SoftBlue ui-fluid">
											<div class="Container50  Responsive100">
												<div class="ContainerIndent ">
													<p:panelGrid id="featuresTwo" columns="2" layout="grid"
														style="border:0px !important; background:none;"
														styleClass="ui-panelgrid-blank">
														<p:outputLabel for="naviAddress"
															value="#{msg.lbl_naviAddress}" />
														<p:selectBooleanCheckbox id="naviAddress"
															value="#{facilitiesAddUpdate.facilities.naviAddress}"
															disabled="#{facilitiesAddUpdate.facilities.active eq 'N'}">
															<p:ajax event="change" update="navi,naviOne"></p:ajax>
														</p:selectBooleanCheckbox>

													</p:panelGrid>


													<p:panelGrid id="navi" columns="2" layout="grid"
														style="border:0px !important; background:none;"
														styleClass="ui-panelgrid-blank">

														<p:spacer style="height:5%;"
															rendered="#{facilitiesAddUpdate.facilities.naviAddress eq true}" />
														<p:spacer style="height:5%;"
															rendered="#{facilitiesAddUpdate.facilities.naviAddress eq true}" />

														<p:outputLabel for="street" value="#{msg.lbl_street}"
															rendered="#{facilitiesAddUpdate.facilities.naviAddress eq true}" />
														<p:inputText id="street"
															value="#{facilitiesAddUpdate.facilities.street}"
															disabled="#{facilitiesAddUpdate.facilities.active eq 'N'}"
															rendered="#{facilitiesAddUpdate.facilities.naviAddress eq true}" />

														<p:spacer style="height:5%;"
															rendered="#{facilitiesAddUpdate.facilities.naviAddress eq true}" />
														<p:spacer style="height:5%;"
															rendered="#{facilitiesAddUpdate.facilities.naviAddress eq true}" />


														<p:outputLabel for="houseNumber"
															value="#{msg.lbl_houseNumber}"
															rendered="#{facilitiesAddUpdate.facilities.naviAddress eq true}" />
														<p:inputText id="houseNumber"
															value="#{facilitiesAddUpdate.facilities.houseNumber}"
															disabled="#{facilitiesAddUpdate.facilities.active eq 'N'}"
															rendered="#{facilitiesAddUpdate.facilities.naviAddress eq true}" />

													</p:panelGrid>
												</div>
											</div>

											<div class="Container50  Responsive100">
												<div class="ContainerIndent ">

													<p:panelGrid id="naviOne" columns="2" layout="grid"
														style="border:0px !important; background:none;"
														styleClass="ui-panelgrid-blank">

														<p:spacer style="height:5%;"
															rendered="#{facilitiesAddUpdate.facilities.naviAddress eq true}" />
														<p:spacer style="height:5%;"
															rendered="#{facilitiesAddUpdate.facilities.naviAddress eq true}" />

														<p:spacer style="height:5%;"
															rendered="#{facilitiesAddUpdate.facilities.naviAddress eq true}" />
														<p:spacer style="height:5%;"
															rendered="#{facilitiesAddUpdate.facilities.naviAddress eq true}" />

														<p:outputLabel for="postCode" value="#{msg.lbl_post}"
															rendered="#{facilitiesAddUpdate.facilities.naviAddress eq true}" />
														<p:inputText id="postCode"
															value="#{facilitiesAddUpdate.facilities.postCode}"
															disabled="#{facilitiesAddUpdate.facilities.active eq 'N'}"
															rendered="#{facilitiesAddUpdate.facilities.naviAddress eq true}">
															<pe:keyFilter regEx="/[\d]/" />
														</p:inputText>

														<p:spacer style="height:5%;"
															rendered="#{facilitiesAddUpdate.facilities.naviAddress eq true}" />
														<p:spacer style="height:5%;"
															rendered="#{facilitiesAddUpdate.facilities.naviAddress eq true}" />


														<p:outputLabel for="place" value="#{msg.lbl_place}"
															rendered="#{facilitiesAddUpdate.facilities.naviAddress eq true}" />
														<p:inputText id="place"
															value="#{facilitiesAddUpdate.facilities.place}"
															disabled="#{facilitiesAddUpdate.facilities.active eq 'N'}"
															rendered="#{facilitiesAddUpdate.facilities.naviAddress eq true}" />


													</p:panelGrid>



												</div>
											</div>
										</div>

										<div class="Container100  Responsive100">
											<div class="ContainerIndent ">
												<p:separator style="width:100%;" />
											</div>
										</div>

										<div class="Card SoftBlue ui-fluid">
											<div class="Container100  Responsive100">
												<div class="ContainerIndent ">

													<p:panelGrid id="operator" columns="4" layout="grid"
														columnClasses="ui-grid-col-3,ui-grid-col-3,ui-grid-col-3,ui-grid-col-3"
														style="border:0px !important; background:none;"
														styleClass="ui-panelgrid-blank">
														<p:outputLabel for="facilityOperator"
															value="#{msg.lbl_facilityOperator}" />
														<p:inputText id="facilityOperator"
															value="#{facilitiesAddUpdate.facilities.facilityOperator}"
															disabled="#{facilitiesAddUpdate.facilities.active eq 'N'}" />

														<p:outputLabel for="facilityOperator" />
														<p:row></p:row>

													</p:panelGrid>


												</div>
											</div>
										</div>

									</p:tab>
									<p:tab title="#{msg.lbl_monitoringValues}"
										titleStyle="background-color: #FFFFFF;height:55px;">

										<div class="Card SoftBlue ui-fluid">
											<div class="Container100  Responsive100">
												<div class="ContainerIndent ">


													<p:panelGrid id="monitoring" columns="6" layout="grid"
														columnClasses="ui-grid-col-2,ui-grid-col-3,ui-grid-col-2,ui-grid-col-0,ui-grid-col-2,ui-grid-col-3"
														style="border:0px !important; background:none;"
														styleClass="ui-panelgrid-blank">
														<p:row></p:row>
														<p:outputLabel for="phValueFrom"
															value="#{msg.lbl_phValue}" />
														<p:inputText id="phValueFrom"
															value="#{facilitiesAddUpdate.facilities.phValueFrom}"
															disabled="#{facilitiesAddUpdate.facilities.active eq 'N'}" />

														<p:outputLabel for="phValueTo" style="font-weight:bold"
															value="#{msg.lbl_hyphen}" />

														<p:inputText id="phValueTo"
															value="#{facilitiesAddUpdate.facilities.phValueTo}"
															disabled="#{facilitiesAddUpdate.facilities.active eq 'N'}" />
														<p:row></p:row>
													</p:panelGrid>

													<p:panelGrid id="monitoringValue" columns="4" layout="grid"
														columnClasses="ui-grid-col-2,ui-grid-col-3,ui-grid-col-2,ui-grid-col-4"
														style="border:0px !important; background:none;"
														styleClass="ui-panelgrid-blank">

														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />

														<p:row></p:row>
														<p:outputLabel for="bsb5" escape="false"
															value="#{msg.lbl_bsb5}" />
														<p:inputText id="bsb5"
															value="#{facilitiesAddUpdate.facilities.bsb5}"
															disabled="#{facilitiesAddUpdate.facilities.active eq 'N'}" />
														<p:outputLabel value="#{msg.lbl_mg}" />

														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />

														<p:row></p:row>
														<p:outputLabel for="csb" value="#{msg.lbl_csb}" />
														<p:inputText id="csb"
															value="#{facilitiesAddUpdate.facilities.csb}"
															disabled="#{facilitiesAddUpdate.facilities.active eq 'N'}" />
														<p:outputLabel value="#{msg.lbl_mg}" />

														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />

														<p:row></p:row>
														<p:outputLabel for="nges" escape="false"
															value="#{msg.lbl_nges}" />
														<p:inputText id="nges"
															value="#{facilitiesAddUpdate.facilities.nges}"
															disabled="#{facilitiesAddUpdate.facilities.active eq 'N'}" />
														<p:outputLabel value="#{msg.lbl_mg}" />

														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />

														<p:row></p:row>
														<p:outputLabel for="nh4" escape="false"
															value="#{msg.lbl_nh4}" />
														<p:inputText id="nh4"
															value="#{facilitiesAddUpdate.facilities.nh4}"
															disabled="#{facilitiesAddUpdate.facilities.active eq 'N'}" />
														<p:outputLabel value="#{msg.lbl_mg}" />

														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />

														<p:row></p:row>
														<p:outputLabel for="pges" value="#{msg.lbl_pges}"
															escape="false" />
														<p:inputText id="pges"
															value="#{facilitiesAddUpdate.facilities.pges}"
															disabled="#{facilitiesAddUpdate.facilities.active eq 'N'}" />
														<p:outputLabel value="#{msg.lbl_mg}" />

														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />

														<p:row></p:row>
														<p:outputLabel for="afs" value="#{msg.lbl_afs}" />
														<p:inputText id="afs"
															value="#{facilitiesAddUpdate.facilities.afs}"
															disabled="#{facilitiesAddUpdate.facilities.active eq 'N'}" />
														<p:outputLabel value="#{msg.lbl_mg}" />

														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />

														<p:row></p:row>
														<p:outputLabel for="ass" value="#{msg.lbl_ass}" />
														<p:inputText id="ass"
															value="#{facilitiesAddUpdate.facilities.ass}"
															disabled="#{facilitiesAddUpdate.facilities.active eq 'N'}" />
														<p:outputLabel value="#{msg.lbl_ml}" />

														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />
													</p:panelGrid>

													<p:panelGrid id="monitoringValueOne" columns="6"
														layout="grid"
														columnClasses="ui-grid-col-2,ui-grid-col-3,ui-grid-col-2,ui-grid-col-2,ui-grid-col-2,ui-grid-col-1"
														style="border:0px !important; background:none;"
														styleClass="ui-panelgrid-blank">
														<p:row></p:row>
														<p:outputLabel for="bacteriaFrom"
															value="#{msg.lbl_bacteria}" />
														<p:inputText id="bacteriaFrom"
															value="#{facilitiesAddUpdate.facilities.bacteriaFrom}"
															disabled="#{facilitiesAddUpdate.facilities.active eq 'N'}" />

														<p:outputLabel style="font-weight:bold"
															value="#{msg.lbl_hock}" />

														<p:inputText id="bacteriaTo"
															value="#{facilitiesAddUpdate.facilities.bacteriaTo}"
															disabled="#{facilitiesAddUpdate.facilities.active eq 'N'}" />

														<p:outputLabel style="font-weight:bold"
															value="#{msg.lbl_kbe}" />

													</p:panelGrid>
												</div>
											</div>
										</div>
									</p:tab>

								</p:tabView>

								<p:row></p:row>
								<div class="EmptyBox30"></div>

								<p:row></p:row>
								<p:tabView>
									<p:tab title="#{msg.lbl_visitingDay}">
										<div class="Card SoftBlue ui-fluid">
										<div class="Container100  Responsive100">
											<div class="ContainerIndent ">

												<p:dataTable var="visitingTimeAndHours"
													value="#{facilitiesAddUpdate.visitingDayTimeHoursList}"
													rowIndexVar="rowIndex"
													emptyMessage="#{msg.table_empty_msg}"
													tableStyle="table-layout: auto;">

													<p:column headerText="#{msg.lbl_daysweek}">
														<p:outputLabel
															value="#{facilitiesAddUpdate.visitingDayTimeHoursList[rowIndex].visitingDays=msg['weekday.'+=rowIndex+1]}" />
													</p:column>

													<p:column headerText="#{msg.lbl_visitingTimes}">
													<p:panelGrid id="visitTime" columns="3" layout="grid" style="border:0px !important; background:none;"
														columnClasses="ui-grid-col-6,ui-grid-col-1,ui-grid-col-5" styleClass="ui-panelgrid-blank"> 
														<p:selectOneMenu id="visitingHours"
															value="#{facilitiesAddUpdate.visitingDayTimeHoursList[rowIndex].visitingHours}" >

															<f:selectItem itemLabel="#{msg.lbl_select}" itemValue=""
																noSelectionOption="true" />
															<f:selectItem itemLabel="#{msg.visitingHours1}"
																itemValue="1" />
															<f:selectItem itemLabel="#{msg.visitingHours2}"
																itemValue="2" />
															<f:selectItem itemLabel="#{msg.visitingHours3}"
																itemValue="3" />
														</p:selectOneMenu>
														<div class="EmptyBox10" />
														<p:selectOneMenu id="visitingTimes"
															value="#{facilitiesAddUpdate.visitingDayTimeHoursList[rowIndex].visitingTimes}">
															<f:selectItem itemLabel="#{msg.lbl_select}" itemValue=""
																noSelectionOption="true" />
															<f:selectItems value="#{facilitiesAddUpdate.timeList}"
																var="time" itemLabel="#{time.id}" itemValue="#{time.id}"
																itemLabelEscaped="true" />
														</p:selectOneMenu>
														</p:panelGrid>
													</p:column>
												</p:dataTable>
											</div>
										</div>
										</div>
									</p:tab>
								</p:tabView>
							</div>
						</div>
					</div>
					<!-- <p:blockUI block="tabView" widgetVar="bui">LOADING<br />
						<p:graphicImage value="/images/ajax-loader.gif" />
					</p:blockUI> -->
					 <pe:blockUI block="tabView" widgetVar="blockUIForButtons"   css="{top: '400px', left: '', right: '750px'}"  >  
						<h:panelGrid columns="1" style="text-align:center;">
							<h:graphicImage library="images"  value="/images/ajax-loader.gif"/>
							<h:outputText value="#{msg.lbl_loading}"/>  
							<div class="EmptyBox10"></div>
							</h:panelGrid>
					</pe:blockUI>	
				</div>
			</div>
		</h:form>


	</ui:define>
</ui:composition>