<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jstl/core">
	<ui:define name="subheader">
       #{msg.hdr_facilities}
    </ui:define>
	<ui:define name="content">
	<f:event type="preRenderView" listener="#{facilitiesView.preRenderView}" />
	<f:metadata>
			<f:viewAction action="#{facilitiesView.onLoadAction}" />
	</f:metadata>
		  <div class="Container100">
            <div class="ContainerIndent">
               <div class="Card ShadowEffect">
                  <div class="Container100  Responsive100">
                     <div class="ContainerIndent">
                       <h2 class="TexAlCenter BigTopic"> #{msg.hdr_facilitiesList}</h2>
                        <h:form id="facilitiesListForm" >
                          <p:messages id="messages" globalOnly="true" showDetail="true"
				             autoUpdate="true" closable="true" escape="false" />
				            <div class="ui-widget ui-widget-header ui-corner-all ui-helper-clearfix">
				             <div class="ui-toolbar-group-left">
			 	
                              <p:commandButton styleClass="btn" value="#{msg.btn_add}" id="btnAdd" icon="fa fa-plus"
					             action="#{facilitiesView.addAction}" onstart="PF('blockUIForButtons').block()"/> 
					 
                              <p:commandButton value="#{msg.btn_show_acti_facilities}" id="btnShowAct" actionListener="#{facilitiesView.showActive}" 
		       	                disabled="#{facilitiesView.showActiveListBtn eq 'false'}" process="@this" update="facilitiesListForm" onstart="PF('blockUIForButtons').block()"
					            oncomplete="PF('listTableWidgetVar').clearFilters(),PF('blockUIForButtons').unblock()">
		       	              </p:commandButton>
		       	                	
		       	              <p:commandButton value="#{msg.btn_show_inacti_facilities}" id="btnShowInact" actionListener="#{facilitiesView.showInactive}" 
		       	               disabled="#{facilitiesView.showActiveListBtn eq 'true'}" process="@this" update="facilitiesListForm"  onstart="PF('blockUIForButtons').block()"
					            oncomplete="PF('listTableWidgetVar').clearFilters(),PF('blockUIForButtons').unblock()">
		       	              </p:commandButton>
                
				              <span class="ui-separator">
                               <span class="fa fa-ellipsis-v SoftGray"></span>
                              </span>
                              <p:commandButton icon="fa fa-lock" id="lock" actionListener="#{facilitiesView.lockAction}" 
		       	               update="listTable" title="#{msg.lbl_lockFacilities}" rendered="#{facilitiesView.showActivateBtn eq 'false'}"
		       		           process="@form"  onstart="PF('blockUIForButtons').block()"
					            oncomplete="PF('listTableWidgetVar').clearFilters(),PF('blockUIForButtons').unblock()" />
		       		 
		       		
		       	              <p:commandButton icon="fa fa-unlock" id="unlock" actionListener="#{facilitiesView.unlockAction}"
		       	                 update="listTable" title="#{msg.lbl_unlockFacilities}" rendered="#{facilitiesView.showActivateBtn eq 'true'}"
		       	                 process="@form" onstart="PF('blockUIForButtons').block()"
					            oncomplete="PF('listTableWidgetVar').clearFilters(),PF('blockUIForButtons').unblock()" />
				           </div>
                           <div class="ui-toolbar-group-right"> 
				             <p:commandButton id="delete" icon="fa fa-trash" process="@form"
					            actionListener="#{facilitiesView.deleteAction}" title="#{msg.lbl_deleteFacilities}"
					            rendered="#{facilitiesView.showActivateBtn eq 'true'}" onstart="PF('blockUIForButtons').block()"
					            oncomplete="PF('listTableWidgetVar').clearFilters(),PF('blockUIForButtons').unblock()" >
			                   <p:confirm header="#{msg.confirmation}" message="#{msg.delete_sure}" icon="ui-icon-alert" />
			                 </p:commandButton>
			                 <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                                <p:commandButton value="#{msg.btn_yes}" type="button" styleClass="ui-confirmdialog-yes " icon="ui-icon-check fa fa-check Fs14 White" />
                                <p:commandButton value="#{msg.btn_no}" type="button" styleClass="ui-confirmdialog-no " icon="ui-icon-close fa fa-close Fs14 White" />
                             </p:confirmDialog>	
                         </div>
                      </div>
                           <p:dataTable id="listTable" var="facilities" selection="#{facilitiesView.selectedFacilitiesList}" value="#{facilitiesView.facilitiesList}" 
                             rowsPerPageTemplate="#{sessionScope['USER_IN_CONTEXT'].actualDisplayRowsSize}"
				             rows="#{sessionScope['USER_IN_CONTEXT'].displayRowsSize}"
				             currentPageReportTemplate="#{msg.lbl_showing} {startRecord}-{endRecord} #{msg.lbl_outOf} {totalRecords}"
				             rowKey="#{facilities.id}" emptyMessage="#{msg.table_empty_msg}" 	widgetVar="listTableWidgetVar" 
				             paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				             paginator="true"  paginatorPosition="bottom" 	rowIndexVar="rowIndex" 
				             filteredValue="#{facilitiesView.filteredFacilitiesList}"
				             reflow="true" tableStyle="table-layout: auto;">
				
                              <f:facet name="header">
			                    <div style="height: 50px;">
			                      <table id="filter" style="margin-top: -15px;">
					                <tr>
						              <td align="left">
						                <p:inputText id="globalFilter"
						                   onkeyup="PF('listTableWidgetVar').filter()"
						                   bankholder="#{msg.lbl_search}" style="width:75%"/>
						              </td>
					                  <td align="right" >
					                   	 <p:commandButton id="toggler" type="button" class="GrayButton"
					                   	    icon="fa fa-calculator" title="#{msg.btn_columns}"/>
					                   	 <p:ajax event="page" oncomplete="updateToggles(PF('columnToggler'))" />
					                   	 <p:columnToggler widgetVar="columnToggler" datasource="listTable" trigger="toggler" style="width:100%">
					                        <p:ajax event="toggle" listener="#{facilitiesView.onToggle}" />
					                   	 </p:columnToggler>
				                      </td>
					                </tr>
				                  </table>
					            </div>
			                  </f:facet>
			                  
			                  <p:column  selectionMode="multiple" visible="#{facilitiesView.togglerList[0]}" headerText="#{msg.lbl_select}" 
				                   value="#{facilities.checked}" style="width:54px;" class="TexAlCenter text-top" >
					          </p:column>
			                            
		        	          <p:column headerText="#{msg.lbl_identifier}" 
		        	             sortBy="#{facilities.identifier}" filterMatchMode="contains"
		        	             filterBy="#{facilities.identifier}" visible="#{facilitiesView.togglerList[1]}">
						         <p:commandLink id="identifier" class="MarRight10" onstart="PF('blockUIForButtons').block()" value="#{facilities.identifier}" action="#{facilitiesView.viewAction(facilities.identifier)}" />
						                
						         <p:commandLink id="identifierNewTab" action="#{facilitiesView.viewAction(facilities.identifier)}" ajax="false" target="_blank" onstart="PF('blockUIForButtons').block()">
						            <i class="icon-tab Fs22 bottom" title="#{msg.lbl_opennewtab}"></i>
						         </p:commandLink>
					          </p:column>
					                    
					                    
					           <p:column headerText="#{msg.lbl_name}" visible="#{facilitiesView.togglerList[2]}" sortBy="#{facilities.name}" filterMatchMode="contains" filterBy="#{facilities.name}"  >
					             <h:outputText value="#{facilities.name}" />
					          </p:column>
					          
					          <p:column headerText="#{msg.lbl_customerNumber_facility}" visible="#{facilitiesView.togglerList[3]}" sortBy="#{facilities.customerNumber}" 
					          						filterMatchMode="contains" filterBy="#{facilities.customerNumber}" >
					             <h:outputText value="#{facilities.customerNumber}" />
					          </p:column>
					                     
					         <p:column headerText="#{msg.lbl_street}" visible="#{facilitiesView.togglerList[4]}" sortBy="#{facilities.locationStreet}" 
					          						filterMatchMode="contains" filterBy="#{facilities.locationStreet}" >
					             <h:outputText value="#{facilities.locationStreet}" />
					          </p:column>
					          
					          <p:column headerText="#{msg.lbl_houseNumber}" visible="#{facilitiesView.togglerList[5]}" sortBy="#{facilities.locationHouseNumber}" 
					          						filterMatchMode="contains" filterBy="#{facilities.locationHouseNumber}" >
					             <h:outputText value="#{facilities.locationHouseNumber}" />
					          </p:column>
					          
					          <p:column headerText="#{msg.lbl_post}" visible="#{facilitiesView.togglerList[6]}" sortBy="#{facilities.locationPostCode}" 
					          						filterMatchMode="contains" filterBy="#{facilities.locationPostCode}" >
					             <h:outputText value="#{facilities.locationPostCode}" />
					          </p:column>
					          
					          <p:column headerText="#{msg.lbl_place}" visible="#{facilitiesView.togglerList[7]}" sortBy="#{facilities.locationPlace}" 
					          						filterMatchMode="contains" filterBy="#{facilities.locationPlace}" >
					             <h:outputText value="#{facilities.locationPlace}" />
					          </p:column>
					         
					         
					          <p:column headerText="#{msg.lbl_qualificationsId}" visible="#{facilitiesView.togglerList[8]}" sortBy="#{facilities.qualificationsId}" filterMatchMode="contains" filterBy="#{facilitiesView.getQualificationName(facilities.qualificationsId)}" >
					             <h:outputText value="#{not empty facilities.qualificationsId ? facilitiesView.getQualificationName(facilities.qualificationsId) : ''}" />
					          </p:column>
	
					         <!--  <p:column headerText="#{msg.lbl_clientId}" visible="#{facilitiesView.togglerList[4]}" sortBy="#{facilities.clientId}" filterMatchMode="contains" filterBy="#{facilitiesView.filterClients(facilities.clientId)}" >
					             <h:outputText value="#{not empty facilities.clientId ? facilitiesView.filterClients(facilities.clientId) : ''}" />
					          </p:column> -->
					          
					          
	                       </p:dataTable>	 
		                       <!-- <p:blockUI block="listTable"  widgetVar="bui"/>
			                      <p:blockUI block="listTable" class="spinner" trigger="listTable, btnAdd">
       		                      <p:graphicImage class="spinner" value="/images/ajax-loader.gif"/>
		                       </p:blockUI> --> 
		                       <pe:blockUI block="listTable" widgetVar="blockUIForButtons"   css="{top: '400px', left: '', right: '750px'}"  >  
								 <h:panelGrid columns="1" style="text-align:center;">
									<h:graphicImage library="images"  value="/images/ajax-loader.gif"/>
									<h:outputText value="#{msg.lbl_loading}"/>  
									<div class="EmptyBox10"></div>
								</h:panelGrid>
							 </pe:blockUI>
		                       
			            </h:form>
		             </div>
                 </div>
               </div>
             </div>
          </div>
	 </ui:define>
</ui:composition>