<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jstl/core">
	<ui:define name="subheader">
         #{msg.hdr_facilities}
    </ui:define>
	<ui:define name="content">
		<f:event type="preRenderView"
			listener="#{facilitiesView.preRenderView}" />
		<f:metadata>
			<f:viewAction action="#{facilitiesView.onLoadAction}" />
		</f:metadata>
		<div class="Container70 Responsive100">
			<div class="ContainerIndent">
				<div class="Card ShadowEffect ">
					<div class="Container100 Responsive100">
						<div class="ContainerIndent">
							<h:form id="facilitiesviewForm" enctype="multipart/form-data">
								<p:messages id="messages" globalOnly="true" showDetail="true"
									autoUpdate="true" closable="true" escape="false" />

								<div
									class="ui-widget ui-widget-header ui-corner-all ui-helper-clearfix">
									<div class="ui-toolbar-group-left">

										<p:commandButton value="#{msg.btn_edit}" id="btnEdit"
											icon="fa fa-pencil"
											action="#{facilitiesView.editAction(facilitiesView.facilities.identifier)}"
											rendered="#{facilitiesView.facilities.active eq 'Y'}" />
										<p:commandButton value="#{msg.btn_cancel}" id="btnCancel"
											icon="fa fa-close" action="#{facilitiesView.cancelAction}"
											process="@this" />
										<span class="ui-separator"> <span
											class="fa fa-ellipsis-v SoftGray"></span>
										</span>
										<p:commandButton id="lock" icon="fa fa-lock" process="@form"
											actionListener="#{facilitiesView.lockViewedFacilities(facilitiesView.facilities.identifier)}"
											title="#{msg.lbl_lockFacilities}"
											rendered="#{facilitiesView.facilities.active eq 'Y'}" />
										<p:commandButton id="unlock" icon="fa fa-unlock"
											process="@form"
											actionListener="#{facilitiesView.unlockViewedFacilities(facilitiesView.facilities.identifier)}"
											title="#{msg.lbl_unlockFacilities}"
											rendered="#{facilitiesView.facilities.active eq 'N'}" />
									</div>
									<div class="ui-toolbar-group-right">
										<p:commandButton id="delete" icon="fa fa-trash-o"
											process="@form"
											action="#{facilitiesView.deleteViewedFacilities(facilitiesView.facilities.identifier)}"
											rendered="#{facilitiesView.facilities.active eq 'N'}"
											title="#{msg.lbl_deleteFacilities}">
											<p:confirm header="#{msg.confirmation}"
												message="#{msg.delete_sure}" icon="ui-icon-alert" />
										</p:commandButton>
										<p:confirmDialog global="true" showEffect="fade"
											hideEffect="fade">
											<p:commandButton value="#{msg.btn_yes}" type="button"
												styleClass="ui-confirmdialog-yes "
												icon="ui-icon-check fa fa-check Fs14 White" />
											<p:commandButton value="#{msg.btn_no}" type="button"
												styleClass="ui-confirmdialog-no "
												icon="ui-icon-close fa fa-close Fs14 White" />
										</p:confirmDialog>
									</div>
								</div>

								<p:tabView id="tabView" orientation="left">
									<p:tab title="#{msg.lbl_facilitiesDetails}">
										<div class="Card SoftBlue ui-fluid">
											<div class="Container50  Responsive100">
												<div class="ContainerIndent ">
													<p:panelGrid id="facilities" columns="2"
														columnClasses="ui-grid-col-5,ui-grid-col-7" layout="grid"
														style="border:0px !important; background:none;">

														<p:outputLabel for="identifier"
															value="#{msg.lbl_identifier}" />
														<p:outputLabel id="identifier"
															value="#{facilitiesView.facilities.identifier}" />

														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />

														<p:outputLabel for="name" value="#{msg.lbl_name}" />
														<p:outputLabel id="name"
															value="#{facilitiesView.facilities.name}" />

														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />

														<p:outputLabel for="qualificationsId"
															value="#{msg.lbl_qualificationsId}" />
														<p:outputLabel id="qualificationsId"
															value="#{not empty facilitiesView.facilities.qualificationsId ? facilitiesView.getQualificationName(facilitiesView.facilities.qualificationsId) : ''}"
															style="word-wrap:break-word;" />

														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />

														<p:outputLabel for="sewageTreatmentType"
															value="#{msg.lbl_sewageTreatmentType}" />
														<p:outputLabel id="sewageTreatmentType"
															value="#{facilitiesView.facilities.sewageTreatmentType}" />

														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />

														<p:outputLabel for="constructionYear"
															value="#{msg.lbl_constructionYear}" />
														<p:outputLabel id="constructionYear"
															value="#{facilitiesView.facilities.constructionYear}" />

														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />

														<p:outputLabel for="serialNo" value="#{msg.lbl_serialNo}" />
														<p:outputLabel id="serialNo"
															value="#{facilitiesView.facilities.serialNo}" />

														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />

														<p:outputLabel for="clientId" value="#{msg.lbl_clientId}" />
														<p:outputLabel id="clientId"
															value="#{not empty facilitiesView.facilities.clientId ? facilitiesView.filterClients(facilitiesView.facilities.clientId) : ''}"
															style="word-wrap:break-word;" />

														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />

														<p:outputLabel for="blowerType"
															value="#{msg.lbl_blowerType}" />
														<p:outputLabel id="blowerType"
															value="#{facilitiesView.facilities.blowerType}" />

														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />

														<p:outputLabel for="buildingSize"
															value="#{msg.lbl_buildingSize}" />
														<p:outputLabel id="buildingSize"
															value="#{facilitiesView.facilities.buildingSize}" />

														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />

														<p:outputLabel for="numberOfContainer"
															value="#{msg.lbl_numberOfContainer}"
															style="word-wrap:break-word;" />
														<p:outputLabel id="numberOfContainer"
															value="#{facilitiesView.facilities.numberOfContainer}" />

														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />

														<p:outputLabel for="diameter" value="#{msg.lbl_diameter}" />
														<p:outputLabel id="diameter"
															value="#{facilitiesView.facilities.diameter}" />

													</p:panelGrid>
												</div>
											</div>
											<div class="Container50  Responsive100">
												<div class="ContainerIndent ">
													<p:panelGrid id="facilitiesOne" columns="2"
														columnClasses="ui-grid-col-7,ui-grid-col-5" layout="grid"
														style="border:0px !important; background:none;">

														<p:outputLabel for="customerNumber"
															value="#{msg.lbl_customerNumber_facility}" />
														<p:outputLabel id="customerNumber"
															value="#{facilitiesView.facilities.customerNumber}" />

														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />

														<p:outputLabel for="crashInPrimaryTreatment"
															value="#{msg.lbl_crashInPrimaryTreatment}" />
														<p:outputLabel id="crashInPrimaryTreatment"
															value="#{facilitiesView.facilities.crashInPrimaryTreatment}" />

														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />

														<p:outputLabel for="remarks" value="#{msg.lbl_remarks}" />
														<p:outputLabel id="remarks"
															value="#{facilitiesView.facilities.remarks}"
															style="word-wrap:break-word;" />

														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />

														<p:outputLabel for="waterDepth"
															value="#{msg.lbl_waterDepth}" />
														<p:outputLabel id="waterDepth"
															value="#{facilitiesView.facilities.waterDepth}" />

														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />

														<p:outputLabel for="connectionSize"
															value="#{msg.lbl_connectionSize}"
															style="word-wrap:break-word;" />
														<p:outputLabel id="connectionSize"
															value="#{facilitiesView.facilities.connectionSize}" />

														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />

														<p:outputLabel for="otherForms"
															value="#{msg.lbl_otherForms}" />
														<p:outputLabel id="otherForms"
															value="#{facilitiesView.facilities.otherForms}" />

														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />

														<p:outputLabel for="freelyAccessible"
															value="#{msg.lbl_freelyAccessible}" />
														<p:outputLabel id="freelyAccessible"
															value="#{facilitiesView.facilities.freelyAccessible == true ? msg.btn_yes : msg.btn_no}" />

														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />

														<p:outputLabel for="docket" value="#{msg.lbl_docket}" />
														<p:outputLabel id="docket"
															value="#{facilitiesView.facilities.docket}" />

														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />

														<p:outputLabel for="password" value="#{msg.lbl_password}" />
														<p:outputLabel id="password"
															value="#{facilitiesView.facilities.password}" />

														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />

														<p:outputLabel for="revival" value="#{msg.lbl_revival}" />
														<p:outputLabel id="revival"
															value="#{facilitiesView.facilities.revival}" />

														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />

														<p:outputLabel for="buffer" value="#{msg.lbl_buffer}" />
														<p:outputLabel id="buffer"
															value="#{facilitiesView.facilities.buffer}" />

														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />

														<p:outputLabel for="waterRightsPermitUntil"
															value="#{msg.lbl_waterRightsPermitUntil}"
															style="word-wrap:break-word;" />
														<p:outputLabel id="waterRightsPermitUntil"
															value="#{facilitiesView.facilities.waterRightsPermitUntil}">
															<f:convertDateTime
																pattern="#{CommonConstants.APP_DATE_FORMAT}" />
														</p:outputLabel>


													</p:panelGrid>
												</div>
											</div>
										</div>
									</p:tab>


									<p:tab title="#{msg.lbl_maintenanceVisit}"
										titleStyle="background-color: #FFFFFF;height:55px;">
										<div class="Card SoftBlue ui-fluid">
											<div class="Container50  Responsive100">
												<div class="ContainerIndent ">
													<p:panelGrid id="maintenanceVisit" columns="2"
														columnClasses="ui-grid-col-7,ui-grid-col-5" layout="grid"
														style="border:0px !important; background:none;"
														styleClass="ui-panelgrid-blank">

														<p:outputLabel for="maintenanceCycle"
															value="#{msg.lbl_maintenanceCycle}" />
														<p:outputLabel id="maintenanceCycle"
															value="#{empty facilitiesView.facilities.maintenanceCycle ? '': msg['maintenanceCycle'+= facilitiesView.facilities.maintenanceCycle]}" />

														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />

														<p:outputLabel for="monthOfMaitnenace"
															value="#{msg.lbl_monthOfMaintenance}" />
														<p:outputLabel id="monthOfMaitnenace"
															value="#{facilitiesView.facilities.monthOfMaintenance}"
															style="word-wrap:break-word;" />
														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />

														<p:outputLabel for="primaryTreatment"
															value="#{msg.lbl_primaryTreatment}" />
														<p:outputLabel id="primaryTreatment"
															value="#{facilitiesView.facilities.primaryTreatment}" />

														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />

														<p:outputLabel for="buildingPlan"
															value="#{msg.lbl_buildingPlan}" />
														<p:outputLabel id="buildingPlan"
															value="#{facilitiesView.facilities.buildingPlan}" />

													</p:panelGrid>
												</div>
											</div>

											<div class="Container50  Responsive100">
												<div class="ContainerIndent ">
													<p:panelGrid id="maintenanceVisitOne" columns="2"
														columnClasses="ui-grid-col-7,ui-grid-col-5" layout="grid"
														style="border:0px !important; background:none;"
														styleClass="ui-panelgrid-blank">

														<p:outputLabel for="costWithoutOffer"
															value="#{msg.lbl_costWithoutOffer}" />
														<p:outputLabel id="costWithoutOffer"
															value="#{facilitiesView.facilities.costWithoutOffer}" />

														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />

														<p:outputLabel for="billingMode"
															value="#{msg.lbl_billingMode}"
															style="word-wrap:break-word;" />
														<p:outputLabel id="billingMode"
															value="#{empty facilitiesView.facilities.billingMode ? '': msg['billingMode'+= facilitiesView.facilities.billingMode]}" />

														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />

														<p:outputLabel for="reminder" value="#{msg.lbl_reminder}"
															style="word-wrap:break-word;" />
														<p:outputLabel id="reminder"
															value="#{empty facilitiesView.facilities.reminder ? '': msg['reminder'+= facilitiesView.facilities.reminder]}" />

														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />

														<p:outputLabel for="blocked" value="#{msg.lbl_blocked}" />
														<p:outputLabel id="blocked"
															value="#{facilitiesView.facilities.blocked == true ? msg.btn_yes : msg.btn_no}" />



													</p:panelGrid>
												</div>
											</div>
										</div>
										

									</p:tab>
									<p:tab title="#{msg.lbl_facilitiesCheck}"
										titleStyle="background-color: #FFFFFF;height:55px;">
										<div class="Card SoftBlue ui-fluid">
											<div class="Container100  Responsive100">
												<div class="ContainerIndent ">
													<p:panelGrid id="facilitiesCheck" columns="3"
														columnClasses="ui-grid-col-2,ui-grid-col-7,ui-grid-col-3"
														layout="grid"
														style="border:0px !important; background:none;"
														styleClass="ui-panelgrid-blank">

														<p:row></p:row>
														<p:outputLabel for="powerFailureDetection"
															value="#{msg.lbl_powerFailureDetection}" />
														<p:outputLabel id="powerFailureDetection"
															value="#{facilitiesView.facilities.powerFailureDetection == true ? msg.btn_yes : msg.btn_no}" />

														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />

														<p:row></p:row>
														<p:outputLabel for="controlFreeOfCharge"
															value="#{msg.lbl_controlFreeOfCharge}" />
														<p:outputLabel id="controlFreeOfCharge"
															value="#{facilitiesView.facilities.controlFreeAccess == true ? msg.btn_yes : msg.btn_no}" />

														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />

														<p:row></p:row>
														<p:outputLabel for="announcementToUWBME"
															value="#{msg.lbl_announcementToUWBME}" />
														<p:outputLabel id="announcementToUWBME"
															value="#{facilitiesView.facilities.announcementToUwbme == true ? msg.btn_yes : msg.btn_no}" />

														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />

														<p:row></p:row>
														<p:outputLabel for="reportsResultsUwb"
															value="#{msg.lbl_reportsResultsUwb}" />
														<p:outputLabel id="reportsResultsUwb"
															value="#{facilitiesView.facilities.reportsResultsUwb == true ? msg.btn_yes : msg.btn_no}" />

														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />

														<p:row></p:row>
														<p:outputLabel for="reportsResultsCity"
															value="#{msg.lbl_reportsResultsCity}" />
														<p:outputLabel id="reportsResultsCity"
															value="#{facilitiesView.facilities.reportsResultsCity == true ? msg.btn_yes : msg.btn_no}" />

														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />

														<p:row></p:row>
														<p:outputLabel for="reportsResultsCustomer"
															value="#{msg.lbl_reportsResultsCustomer}" />
														<p:outputLabel id="reportsResultsCustomer"
															value="#{facilitiesView.facilities.reportsResultsCustomer == true ? msg.btn_yes : msg.btn_no}" />

													</p:panelGrid>
												</div>
											</div>
										</div>
									</p:tab>

									<p:tab title="#{msg.lbl_features}"
										titleStyle="background-color: #FFFFFF;height:55px;">
										<div class="Card SoftBlue ui-fluid">
											<h6 class="TexAlLeft BigTopic">
												#{msg.lbl_locationOfTheFacility}</h6>
											<div class="Container50  Responsive100">
												<div class="ContainerIndent ">
													<p:panelGrid id="features" columns="2" layout="grid"
														style="border:0px !important; background:none;"
														styleClass="ui-panelgrid-blank">

														<p:outputLabel for="locationStreet"
															value="#{msg.lbl_street}" />
														<p:outputLabel id="locationStreet"
															value="#{facilitiesView.facilities.locationStreet}" />

														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />

														<p:outputLabel for="locationHouseNumber"
															value="#{msg.lbl_houseNumber}" />
														<p:outputLabel id="locationHouseNumber"
															value="#{facilitiesView.facilities.locationHouseNumber}" />

														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />

														<p:outputLabel for="locationPostCode"
															value="#{msg.lbl_post}" />
														<p:outputLabel id="locationPostCode"
															value="#{facilitiesView.facilities.locationPostCode}" />

													</p:panelGrid>
												</div>
											</div>
											<div class="Container50  Responsive100">
												<div class="ContainerIndent ">
													<p:panelGrid id="featuresOne" columns="2" layout="grid"
														style="border:0px !important; background:none;"
														styleClass="ui-panelgrid-blank">

														<p:outputLabel for="locationPlace"
															value="#{msg.lbl_place}" />
														<p:outputLabel id="locationPlace"
															value="#{facilitiesView.facilities.locationPlace}" />

														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />

														<p:outputLabel for="locationDistrict"
															value="#{msg.lbl_district}" />
														<p:outputLabel id="locationDistrict"
															value="#{facilitiesView.facilities.locationDistrict}" />

													</p:panelGrid>

												</div>
											</div>
										</div>

										<div class="Container100  Responsive100">
											<div class="ContainerIndent ">
												<p:separator style="width:100%;" />
											</div>
										</div>

										<div class="Card SoftBlue ui-fluid">
											<div class="Container50  Responsive100">
												<div class="ContainerIndent ">

													<p:panelGrid id="quardinates" columns="2" layout="grid"
														style="border:0px !important; background:none;"
														styleClass="ui-panelgrid-blank">


														<p:outputLabel for="easting" value="#{msg.lbl_easting}" />
														<p:outputLabel id="easting"
															value="#{facilitiesView.facilities.easting}" />

														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />

														<p:outputLabel for="northing" value="#{msg.lbl_northing}" />
														<p:outputLabel id="northing"
															value="#{facilitiesView.facilities.northing}" />


													</p:panelGrid>
												</div>
											</div>

											<div class="Container50  Responsive100">
												<div class="ContainerIndent ">

													<p:panelGrid id="quardinatesOne" columns="2" layout="grid"
														style="border:0px !important; background:none;"
														styleClass="ui-panelgrid-blank">

														<p:outputLabel for="degreeOfLongitude"
															value="#{msg.lbl_degreeOfLongitude}" />
														<p:outputLabel id="degreeOfLongitude"
															value="#{facilitiesView.facilities.degreeOfLongitude}" />

														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />

														<p:outputLabel for="degreeOfLatitude"
															value="#{msg.lbl_degreeOfLatitude}" />
														<p:outputLabel id="degreeOfLatitude"
															value="#{facilitiesView.facilities.degreeOfLatitude}" />

													</p:panelGrid>
												</div>
											</div>
										</div>

										<div class="Container100  Responsive100">
											<div class="ContainerIndent ">
												<p:separator style="width:100%;" />
											</div>
										</div>
										<div class="Card SoftBlue ui-fluid">
											<div class="Container50  Responsive100">
												<div class="ContainerIndent ">
													<p:panelGrid id="area" columns="2" layout="grid"
														style="border:0px !important; background:none;"
														styleClass="ui-panelgrid-blank">

														<p:outputLabel for="areaOfMunicipality"
															value="#{msg.lbl_areaOfMunicipality}" />
														<p:outputLabel id="areaOfMunicipality"
															value="#{facilitiesView.facilities.areaOfMunicipality}" />

														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />

														<p:outputLabel for="hall" value="#{msg.lbl_hall}" />
														<p:outputLabel id="hall"
															value="#{facilitiesView.facilities.hall}" />
													</p:panelGrid>

												</div>
											</div>

											<div class="Container50  Responsive100">
												<div class="ContainerIndent ">
													<p:panelGrid id="areaOne" columns="2" layout="grid"
														style="border:0px !important; background:none;"
														styleClass="ui-panelgrid-blank">

														<p:outputLabel for="parcel" value="#{msg.lbl_parcel}" />
														<p:outputLabel id="parcel"
															value="#{facilitiesView.facilities.parcel}" />

														<p:outputLabel for="parcel" />
														<p:row></p:row>

													</p:panelGrid>
												</div>
											</div>
										</div>

										<div class="Container100  Responsive100">
											<div class="ContainerIndent ">
												<p:separator style="width:100%;" />
											</div>
										</div>

										<div class="Card SoftBlue ui-fluid">
											<div class="Container50  Responsive100">
												<div class="ContainerIndent ">
													<p:panelGrid id="featuresTwo" columns="2" layout="grid"
														style="border:0px !important; background:none;"
														styleClass="ui-panelgrid-blank">

														<p:outputLabel for="naviAddress"
															value="#{msg.lbl_naviAddress}" />
														<p:outputLabel id="naviAddress"
															value="#{facilitiesView.facilities.naviAddress == true ? msg.btn_yes : msg.btn_no}" />
													</p:panelGrid>

													<p:panelGrid id="navi" columns="2" layout="grid"
														style="border:0px !important; background:none;"
														styleClass="ui-panelgrid-blank">

														<p:spacer style="height:5%;"
															rendered="#{facilitiesView.facilities.naviAddress eq true}" />
														<p:spacer style="height:5%;"
															rendered="#{facilitiesView.facilities.naviAddress eq true}" />

														<p:outputLabel for="street" value="#{msg.lbl_street}"
															rendered="#{facilitiesView.facilities.naviAddress eq true}" />
														<p:outputLabel id="street"
															value="#{facilitiesView.facilities.street}"
															rendered="#{facilitiesView.facilities.naviAddress eq true}" />


														<p:spacer style="height:5%;"
															rendered="#{facilitiesView.facilities.naviAddress eq true}" />
														<p:spacer style="height:5%;"
															rendered="#{facilitiesView.facilities.naviAddress eq true}" />

														<p:outputLabel for="houseNumber"
															value="#{msg.lbl_houseNumber}"
															rendered="#{facilitiesView.facilities.naviAddress eq true}" />
														<p:outputLabel id="houseNumber"
															value="#{facilitiesView.facilities.houseNumber}"
															rendered="#{facilitiesView.facilities.naviAddress eq true}" />
													</p:panelGrid>
												</div>
											</div>

											<div class="Container50  Responsive100">
												<div class="ContainerIndent ">

													<p:panelGrid id="naviOne" columns="2" layout="grid"
														style="border:0px !important; background:none;"
														styleClass="ui-panelgrid-blank">

														<p:spacer style="height:5%;"
															rendered="#{facilitiesView.facilities.naviAddress eq true}" />
														<p:spacer style="height:5%;"
															rendered="#{facilitiesView.facilities.naviAddress eq true}" />

														<p:spacer style="height:5%;"
															rendered="#{facilitiesView.facilities.naviAddress eq true}" />
														<p:spacer style="height:5%;"
															rendered="#{facilitiesView.facilities.naviAddress eq true}" />

														<p:outputLabel for="postCode" value="#{msg.lbl_post}"
															rendered="#{facilitiesView.facilities.naviAddress eq true}" />
														<p:outputLabel id="postCode"
															value="#{facilitiesView.facilities.postCode}"
															rendered="#{facilitiesView.facilities.naviAddress eq true}" />

														<p:spacer style="height:5%;"
															rendered="#{facilitiesView.facilities.naviAddress eq true}" />
														<p:spacer style="height:5%;"
															rendered="#{facilitiesView.facilities.naviAddress eq true}" />

														<p:outputLabel for="place" value="#{msg.lbl_place}"
															rendered="#{facilitiesView.facilities.naviAddress eq true}" />
														<p:outputLabel id="place"
															value="#{facilitiesView.facilities.place}"
															rendered="#{facilitiesView.facilities.naviAddress eq true}" />

													</p:panelGrid>
												</div>
											</div>
										</div>

										<div class="Container100  Responsive100">
											<div class="ContainerIndent ">
												<p:separator style="width:100%;" />
											</div>
										</div>

										<div class="Card SoftBlue ui-fluid">
											<div class="Container100  Responsive100">
												<div class="ContainerIndent ">

													<p:panelGrid id="operator" columns="4" layout="grid"
														columnClasses="ui-grid-col-3,ui-grid-col-3,ui-grid-col-3,ui-grid-col-3"
														style="border:0px !important; background:none;"
														styleClass="ui-panelgrid-blank">
														<p:outputLabel for="facilityOperator"
															value="#{msg.lbl_facilityOperator}" />
														<p:outputLabel id="facilityOperator"
															value="#{facilitiesView.facilities.facilityOperator}" />

														<p:outputLabel for="facilityOperator" />
														<p:row></p:row>

													</p:panelGrid>


												</div>
											</div>
										</div>
									</p:tab>
									<p:tab title="#{msg.lbl_monitoringValues}"
										titleStyle="background-color: #FFFFFF;height:55px;">

										<div class="Card SoftBlue ui-fluid">
											<div class="Container100  Responsive100">
												<div class="ContainerIndent ">

													<p:panelGrid id="monitoring" columns="4"
														columnClasses="ui-grid-col-2,ui-grid-col-4,ui-grid-col-3,ui-grid-col-3"
														layout="grid"
														style="border:0px !important; background:none;"
														styleClass="ui-panelgrid-blank">

														<p:row></p:row>
														<p:outputLabel for="phValueFrom"
															value="#{msg.lbl_phValue}" />
														<p:outputLabel id="phValueFrom"
															value="#{facilitiesView.facilities.phValueFrom} #{msg.lbl_hyphen} #{facilitiesView.facilities.phValueTo}" />
														<p:row></p:row>
													</p:panelGrid>

													<p:panelGrid id="monitoringValue" columns="4" layout="grid"
														columnClasses="ui-grid-col-2,ui-grid-col-4,ui-grid-col-3,ui-grid-col-3"
														style="border:0px !important; background:none;"
														styleClass="ui-panelgrid-blank">

														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />

														<p:row></p:row>
														<p:outputLabel for="bsb5" escape="false"
															value="#{msg.lbl_bsb5}" />
														<p:outputLabel id="bsb5"
															value="#{facilitiesView.facilities.bsb5} #{msg.lbl_mg}" />
														<p:row></p:row>

														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />

														<p:row></p:row>
														<p:outputLabel for="csb" value="#{msg.lbl_csb}" />
														<p:outputLabel id="csb"
															value="#{facilitiesView.facilities.csb} #{msg.lbl_mg}" />
														<p:row></p:row>

														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />

														<p:row></p:row>
														<p:outputLabel for="nges" escape="false"
															value="#{msg.lbl_nges}" />
														<p:outputLabel id="nges"
															value="#{facilitiesView.facilities.nges} #{msg.lbl_mg}" />
														<p:row></p:row>


														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />

														<p:row></p:row>
														<p:outputLabel for="nh4" escape="false"
															value="#{msg.lbl_nh4}" />
														<p:outputLabel id="nh4"
															value="#{facilitiesView.facilities.nh4} #{msg.lbl_mg}" />
														<p:row></p:row>

														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />

														<p:row></p:row>
														<p:outputLabel for="pges" value="#{msg.lbl_pges}"
															escape="false" />
														<p:outputLabel id="pges"
															value="#{facilitiesView.facilities.pges} #{msg.lbl_mg}" />
														<p:row></p:row>

														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />

														<p:row></p:row>
														<p:outputLabel for="afs" value="#{msg.lbl_afs}" />
														<p:outputLabel id="afs"
															value="#{facilitiesView.facilities.afs} #{msg.lbl_mg}" />
														<p:row></p:row>

														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />

														<p:row></p:row>
														<p:outputLabel for="ass" value="#{msg.lbl_ass}" />
														<p:outputLabel id="ass"
															value="#{facilitiesView.facilities.ass} #{msg.lbl_ml}" />
														<p:row></p:row>

														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />
														<p:spacer style="height:5%;" />
													</p:panelGrid>
													<p:panelGrid id="monitoringValueOne" columns="5"
														layout="grid"
														columnClasses="ui-grid-col-2,ui-grid-col-4,ui-grid-col-3,ui-grid-col-0,ui-grid-col-3"
														style="border:0px !important; background:none;"
														styleClass="ui-panelgrid-blank">
														<p:row></p:row>
														<p:outputLabel for="bacteriaFrom"
															value="#{msg.lbl_bacteria}" />
														<p:outputLabel id="bacteriaFrom"
															value="#{facilitiesView.facilities.bacteriaFrom} #{msg.lbl_hock} " />
														<p:row></p:row>
														<p:outputLabel
															value="#{facilitiesView.facilities.bacteriaTo} #{msg.lbl_kbe}" />
													</p:panelGrid>
												</div>
											</div>
										</div>
									</p:tab>
									
									<p:tab title="#{msg.lbl_tours}"
										titleStyle="background-color: #FFFFFF;height:55px;">

										<div class="Card SoftBlue ui-fluid">
											<div class="Container100  Responsive100">
												<div class="ContainerIndent ">
												<p:dataTable var="tourFacilities" value="#{facilitiesView.facilityTourList}" rowIndexVar="rowIndex"
													emptyMessage="#{msg.table_empty_msg}" tableStyle="table-layout: auto;">
													<p:column headerText="#{msg.lbl_identifier}">
													 <p:commandLink id="identifier" class="MarRight10" onclick="PF('bui').show()" value="#{tourFacilities.identifier}" 
													 	ajax="false" action="#{facilitiesView.viewTourAction(tourFacilities.identifier)}" target="_blank" />
						                
												         </p:column>
													<p:column headerText="#{msg.lbl_tourDate}">
														<p:outputLabel id="tourDate"
															value="#{facilitiesView.facilityTourList[rowIndex].tourDate}" >
														<f:convertDateTime pattern="#{CommonConstants.APP_DATE_FORMAT}"  />
															</p:outputLabel>
													</p:column>
													<p:column headerText="#{msg.lbl_name}">
														<p:outputLabel id="name"
															value="#{facilitiesView.facilityTourList[rowIndex].name}" />
													</p:column>
													</p:dataTable>
														
									
									            </div>
											</div>
										</div>
									</p:tab>
									
									<p:tab title="#{msg.lbl_tasks}"
										titleStyle="background-color: #FFFFFF;height:55px;">

										<div class="Card SoftBlue ui-fluid">
											<div class="Container100  Responsive100">
												<div class="ContainerIndent ">
														<p:dataTable var="tourTasks"
													value="#{facilitiesView.facilityTaskList}"
													rowIndexVar="rowIndex"
													emptyMessage="#{msg.table_empty_msg}"
													tableStyle="table-layout: auto;">
													
													<p:column headerText="#{msg.lbl_taskId}">
													 <p:commandLink id="identifier" class="MarRight10" onclick="PF('bui').show()" value="#{tourTasks.identifier}" 
													 	ajax="false" action="#{facilitiesView.viewTaskAction(tourTasks.id)}" target="_blank" />
						                            </p:column>
													<p:column headerText="#{msg.lbl_createIn}">
														<p:outputLabel id="projects"
															value="#{facilitiesView.facilityTaskList[rowIndex].project}" />
													</p:column>
													<p:column headerText="#{msg.lbl_status}">
														<p:outputLabel id="status"
															value="#{not empty facilitiesView.facilityTaskList[rowIndex].status ? msg['status.'+=facilitiesView.facilityTaskList[rowIndex].status] :''}" />
													</p:column>
													<p:column headerText="#{msg.lbl_dueDate}">
														<p:outputLabel id="name"
															value="#{facilitiesView.facilityTaskList[rowIndex].dueDate}" >
															<f:convertDateTime pattern="#{CommonConstants.APP_DATE_FORMAT}"  />
															</p:outputLabel>
													</p:column>
													</p:dataTable>	
									            </div>
											</div>
										</div>
									</p:tab>  
								</p:tabView>
								
								
								
													
										<p:row></p:row>
								<div class="EmptyBox30"></div>

								<p:row></p:row>
								<p:tabView>
									<p:tab title="#{msg.lbl_visitingDay}">
										
									<div class="Card SoftBlue ui-fluid">
										<div class="Container100  Responsive100">
											<div class="ContainerIndent ">
												<p:dataTable var="visitingTimeAndHours"
													value="#{facilitiesView.subVisitingDayTimeHoursList}"
													rowIndexVar="rowIndex"
													emptyMessage="#{msg.table_empty_msg}"
													tableStyle="table-layout: auto;">

													<p:column headerText="#{msg.lbl_daysweek}">
														<p:outputLabel
															value="#{facilitiesView.subVisitingDayTimeHoursList[rowIndex].visitingDays=msg['weekday.'+=rowIndex+1]}" />
													</p:column>
													<!-- <p:column headerText="#{msg.lbl_visitingHours}">
														<p:outputLabel id="visitingHours"
															value="#{empty facilitiesView.subVisitingDayTimeHoursList[rowIndex].visitingHours ? '' : msg['visitingHours'+=facilitiesView.subVisitingDayTimeHoursList[rowIndex].visitingHours]}" />
													</p:column> -->
													<p:column headerText="#{msg.lbl_visitingTimes}">
														<p:outputLabel id="visitingHours"
															value="#{empty facilitiesView.subVisitingDayTimeHoursList[rowIndex].visitingHours ? '' : msg['visitingHours'+=facilitiesView.subVisitingDayTimeHoursList[rowIndex].visitingHours]} " />
														<p:outputLabel id="visitingTimes"
															value="#{facilitiesView.subVisitingDayTimeHoursList[rowIndex].visitingTimes}" />
													</p:column>
													</p:dataTable>
											</div>
										</div>
										</div>
									</p:tab>
								</p:tabView>
							</h:form>
						</div>
					</div>
				</div>
			</div>


			<p:dialog id="createMaintenance" stickyHeader="true"
				appendBody="false" header="#{msg.hdr_maintenanceAct}"
				widgetVar="createMaintenanceDialog" class="GrayModena Geometry"
				aria-hidden="false" aria-live="polite"
				style="width: auto !important; max-height:100% !important; max-width: 100%;
          	        height: auto !important; z-index: 1005"
				resizable="false" responsive="true" modal="true">
				<p:panel id="panelCreateMaintenance">
					<p:ajax event="close" update="maintenanceActAddForm" />
					<ui:include
						src="/views/facilities/maintenanceact/maintenanceActAddDialog.xhtml" />
				</p:panel>
			</p:dialog>
			<p:dialog id="updateMaintenance" stickyHeader="true"
				appendBody="false" header="#{msg.hdr_maintenanceAct}"
				widgetVar="updateMaintenanceDialog" class="GrayModena Geometry"
				aria-hidden="false" aria-live="polite"
				style="width: auto !important; max-height:100% !important; max-width: 100%;
	          	        height: auto !important; z-index: 1005"
				resizable="false" responsive="true" modal="true">
				<p:panel id="panelUpdateMaintenance">
					<p:ajax event="close" update="maintenanceActUpdateForm" />
					<ui:include
						src="/views/facilities/maintenanceact/maintenanceActUpdateDialog.xhtml" />
				</p:panel>
			</p:dialog>

			<div class="ContainerIndent">
				<div class="Card ShadowEffect">
					<div class="Container100 Responsive100">
						<div class="ContainerIndent">

							<div class="EmptyBox30"></div>
							<h:form id="maintenanceView">
								<div
									class="ui-widget ui-widget-header ui-corner-all ui-helper-clearfix">
									<div class="ui-toolbar-group-left">

										<p:commandButton styleClass="btn" value="#{msg.btn_add}"
											id="btnAddMaintenance" icon="fa fa-plus" process="@this"
											update="panelCreateMaintenance"
											action="#{facilitiesView.clearView}" />

										<p:commandButton value="#{msg.btn_show_acti_maintenanceAct}"
											id="btnShowAct"
											actionListener="#{facilitiesView.showMaintenanceActActive}"
											disabled="#{facilitiesView.showMaintenanceActiveListBtn eq 'false'}"
											process="@this" update="@form"
											oncomplete="PF('listTableWidgetVar').clearFilters()">
										</p:commandButton>

										<p:commandButton value="#{msg.btn_show_inacti_maintenanceAct}"
											id="btnShowInact"
											actionListener="#{facilitiesView.showMaintenanceActInactive}"
											disabled="#{facilitiesView.showMaintenanceActiveListBtn eq 'true'}"
											process="@this" update="@form"
											oncomplete="PF('listTableWidgetVar').clearFilters()">
										</p:commandButton>

										<span class="ui-separator"> <span
											class="fa fa-ellipsis-v SoftGray"></span>
										</span>

										<p:commandButton icon="fa fa-lock" id="lock"
											actionListener="#{facilitiesView.lockMaintenanceActAction}"
											update="@form" title="#{msg.lbl_lockMaintenanceAct}"
											rendered="#{facilitiesView.showMaintenanceActivateBtn eq 'false'}"
											oncomplete="PF('listTableWidgetVar').clearFilters()" />

										<p:commandButton icon="fa fa-unlock" id="unlock"
											actionListener="#{facilitiesView.unlockMaintenanceActAction}"
											update="@form" title="#{msg.lbl_unlockMaintenanceAct}"
											rendered="#{facilitiesView.showMaintenanceActivateBtn eq 'true'}"
											oncomplete="PF('listTableWidgetVar').clearFilters()" />
									</div>
									<div class="ui-toolbar-group-right">
										<p:commandButton id="delete" icon="fa fa-trash" update="@form"
											actionListener="#{facilitiesView.deleteMaintenanceActAction}"
											title="#{msg.lbl_deleteMaintenanceAct}"
											rendered="#{facilitiesView.showMaintenanceActivateBtn eq 'true'}"
											oncomplete="PF('listTableWidgetVar').clearFilters()">
											<p:confirm header="#{msg.confirmation}"
												message="#{msg.delete_sure}" icon="ui-icon-alert" />
										</p:commandButton>
										<p:confirmDialog global="true" showEffect="fade"
											hideEffect="fade">
											<p:commandButton value="#{msg.btn_yes}" type="button"
												styleClass="ui-confirmdialog-yes "
												icon="ui-icon-check fa fa-check Fs14 White" />
											<p:commandButton value="#{msg.btn_no}" type="button"
												styleClass="ui-confirmdialog-no "
												icon="ui-icon-close fa fa-close Fs14 White" />
										</p:confirmDialog>
									</div>
								</div>
								<p:tabView id="pnl1">
									<p:tab title="#{msg.hdr_maintenanceAct}">
										<p:dataTable id="listTable" var="maintenanceAct"
											selection="#{facilitiesView.selectedMaintenanceActList}"
											value="#{facilitiesView.maintenanceActList}"
											rowsPerPageTemplate="#{sessionScope['USER_IN_CONTEXT'].actualDisplayRowsSize}"
											rows="#{sessionScope['USER_IN_CONTEXT'].displayRowsSize}"
											currentPageReportTemplate="#{msg.lbl_showing} {startRecord}-{endRecord} #{msg.lbl_outOf} {totalRecords}"
											rowKey="#{maintenanceAct.id}"
											emptyMessage="#{msg.table_empty_msg}"
											widgetVar="listTableWidgetVar"
											paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
											paginator="true" paginatorPosition="bottom"
											rowIndexVar="rowIndex"
											filteredValue="#{facilitiesView.filteredMaintenanceActList}"
											reflow="true" tableStyle="table-layout: auto;">

											<f:facet name="header">
												<div style="height: 50px;">
													<table id="filter" style="margin-top: -15px;">
														<tr>
															<td align="left"><p:inputText id="globalFilter"
																	onkeyup="PF('listTableWidgetVar').filter()"
																	bankholder="#{msg.lbl_search}" style="width:75%" /></td>
															<td align="right"><p:commandButton id="toggler"
																	type="button" class="GrayButton"
																	icon="fa fa-calculator" title="#{msg.btn_columns}" /> <p:ajax
																	event="page"
																	oncomplete="updateToggles(PF('columnToggler'))" /> <p:columnToggler
																	widgetVar="columnToggler" datasource="listTable"
																	trigger="toggler" style="width:100%">
																	<p:ajax event="toggle"
																		listener="#{facilitiesView.onToggleMaintenance}" />
																</p:columnToggler></td>
														</tr>
													</table>
												</div>
											</f:facet>

											<p:column selectionMode="multiple"
												visible="#{facilitiesView.togglerList[0]}"
												headerText="#{msg.lbl_select}"
												value="#{maintenanceAct.checked}" style="width:54px;"
												class="TexAlCenter text-top">
											</p:column>

											<p:column headerText="#{msg.lbl_identifier}"
												sortBy="#{maintenanceAct.identifier}"
												filterMatchMode="contains"
												filterBy="#{maintenanceAct.identifier}"
												visible="#{facilitiesView.togglerList[1]}">
												<p:commandLink id="identifier" class="MarRight10"
													value="#{maintenanceAct.identifier}"
													update="panelUpdateMaintenance"
													action="#{facilitiesView.viewMaintenanceAction(maintenanceAct.identifier)}" />
												<!--  <p:commandLink id="identifierNewTab" action="#{facilitiesView.viewAction(maintenanceAct.maId)}" ajax="false" target="_blank" oncomplete="PF('bui').hide()">
			    <i class="icon-tab Fs22 bottom" title="#{msg.lbl_opennewtab}"></i>
			 </p:commandLink> -->
											</p:column>


											<p:column headerText="#{msg.lbl_maintenanceDate}"
												visible="#{facilitiesView.togglerList[2]}"
												sortBy="#{maintenanceAct.maintenanceDate}"
												filterMatchMode="contains"
												filterBy="#{maintenanceAct.maintenanceDate}">
												<h:outputText value="#{maintenanceAct.maintenanceDate}">
													<f:convertDateTime
														pattern="#{CommonConstants.APP_DATE_FORMAT}" />
												</h:outputText>
											</p:column>

											<p:column headerText="#{msg.lbl_maId}"
												visible="#{facilitiesView.togglerList[3]}"
												sortBy="#{maintenanceAct.maId}" filterMatchMode="contains"
												filterBy="#{maintenanceAct.maId}">
												<h:outputText value="#{maintenanceAct.maId}" />
											</p:column>

										</p:dataTable>


										<!--  <p:blockUI block="listTable"  widgetVar="bui"/>
           <p:blockUI block="listTable" class="spinner" trigger="listTable, btnAddMaintenance">
                 <p:graphicImage class="spinner" value="/images/ajax-loader.gif"/>
           </p:blockUI>  -->

									</p:tab>
								</p:tabView>

							</h:form>

						</div>
					</div>
				</div>
			</div>

			<p:dialog id="createDocument" stickyHeader="true" appendBody="false"
				header="#{msg.hdr_facilityDoc}" widgetVar="createDocumentDialog"
				class="GrayModena Geometry" aria-hidden="false" aria-live="polite"
				style="width: auto !important; max-height:100% !important; max-width: 100%;
	height: auto !important; z-index: 1005"
				resizable="false" responsive="true" modal="true">
				<p:panel id="panelDialogDocument">
					<p:ajax event="close" update="dialogFormDocument" />
					<ui:include src="/views/facilities/document/documentDialog.xhtml" />

				</p:panel>
			</p:dialog>
			<p:dialog id="updateDocument" stickyHeader="true" appendBody="false"
				header="#{msg.hdr_facilityDoc}" widgetVar="updateDocumentDialog"
				class="GrayModena Geometry" aria-hidden="false" aria-live="polite"
				style="width: auto !important; max-height:100% !important; max-width: 100%;
	height: auto !important; z-index: 1005"
				resizable="false" responsive="true" modal="true">
				<p:panel id="panelDialogUpdateDocument">
					<p:ajax event="close" update="dialogFormUpdateDocument" />
					<ui:include src="/views/facilities/document/updateDocument.xhtml" />
				</p:panel>
			</p:dialog>

			<div class="ContainerIndent">
				<div class="Card ShadowEffect ">
					<div class="Container100 Responsive100">
						<div class="ContainerIndent">

							<h:form id="document">
								<p:row></p:row>
								<div class="EmptyBox30"></div>
								<p:row></p:row>

								<div
									class="ui-widget ui-widget-header ui-corner-all ui-helper-clearfix">
									<div class="ui-toolbar-group-left">
										<p:commandButton styleClass="btn"
											value="#{msg.lbl_facilityAddDoc}" id="partiDoc"
											icon="fa fa-plus"
											update="panelDialogDocument, panelDialogUpdateDocument"
											rendered="#{facilitiesView.facilities.active eq 'Y'}"
											process="@this" action="#{facilitiesView.addDocument}"
											oncomplete="PF('createDocumentDialog').show();" />

										<p:commandButton value="#{msg.btn_show_act_facilityDoc}"
											id="btnShowActDoc"
											actionListener="#{facilitiesView.showDocumentActive}"
											disabled="#{facilitiesView.showDocumentActiveListBtn eq 'false'}"
											update="@form" />

										<p:commandButton value="#{msg.btn_show_inact_facilityDoc}"
											id="btnShowInactDoc"
											actionListener="#{facilitiesView.showDocumentInactive}"
											disabled="#{facilitiesView.showDocumentActiveListBtn eq 'true'}"
											update="@form" />

										<span class="ui-separator"> <span
											class="fa fa-ellipsis-v SoftGray"></span>
										</span>

										<p:commandButton icon="fa fa-lock" id="lockDoc"
											actionListener="#{facilitiesView.lockDocumentAction}"
											update="@form" title="#{msg.lbl_lockDoc}"
											rendered="#{facilitiesView.showDocumentActivateBtn eq 'false'}" />

										<p:commandButton icon="fa fa-unlock" id="unlockDoc"
											actionListener="#{facilitiesView.unlockDocumentAction}"
											update="@form" title="#{msg.lbl_unlockDoc}"
											rendered="#{facilitiesView.showDocumentActivateBtn eq 'true'}" />
									</div>
									<div class="ui-toolbar-group-right">
										<p:commandButton id="delete" icon="fa fa-trash-o"
											process="@form"
											actionListener="#{facilitiesView.deleteDocumentAction}"
											rendered="#{facilitiesView.showDocumentActivateBtn eq 'true'}"
											title="#{msg.lbl_deleteDoc}"
											oncomplete="PF('listTableWidgetVar2').clearFilters()">
											<p:confirm header="#{msg.confirmation}"
												message="#{msg.delete_sure}" icon="ui-icon-alert" />
										</p:commandButton>

										<p:confirmDialog global="true" showEffect="fade"
											hideEffect="fade">
											<p:commandButton value="#{msg.btn_yes}" type="button"
												styleClass="ui-confirmdialog-yes "
												icon="ui-icon-check fa fa-check Fs14 White" />
											<p:commandButton value="#{msg.btn_no}" type="button"
												styleClass="ui-confirmdialog-no "
												icon="ui-icon-close fa fa-close Fs14 White" />
										</p:confirmDialog>

									</div>
								</div>

								<p:tabView id="documentTabView">
									<p:tab title="#{msg.lbl_facilityDocument}">

										<p:dataTable id="documentListTable" var="document"
											selection="#{facilitiesView.selectedDocument}"
											value="#{facilitiesView.documentList}"
											rowsPerPageTemplate="#{sessionScope['USER_IN_CONTEXT'].actualDisplayRowsSize}"
											rows="#{sessionScope['USER_IN_CONTEXT'].displayRowsSize}"
											tableStyle="table-layout: auto;"
											currentPageReportTemplate="#{msg.lbl_showing} {startRecord}-{endRecord} #{msg.lbl_outOf} {totalRecords}"
											rowKey="#{document.id}" emptyMessage="#{msg.table_empty_msg}"
											widgetVar="listTableWidgetVar2"
											paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
											paginator="true" paginatorPosition="bottom"
											rowIndexVar="rowIndex"
											filteredValue="#{facilitiesView.filteredDocumentList}"
											reflow="true">

											<f:facet name="header">
												<div style="height: 50px;">
													<table id="filter" style="margin-top: -15px;">
														<tr>
															<td align="left"><p:inputText id="globalFilter"
																	onkeyup="PF('listTableWidgetVar2').filter()"
																	placeholder="#{msg.lbl_search}" style="width:75%" /></td>

															<td align="right"><p:commandButton id="toggler"
																	type="button" class="GrayButton"
																	icon="fa fa-calculator" title="#{msg.btn_columns}" /> <p:ajax
																	event="page"
																	oncomplete="updateToggles(PF('columnToggler2'))" /> <p:columnToggler
																	widgetVar="columnToggler2"
																	datasource="documentListTable" trigger="toggler"
																	style="width:100%">
																	<p:ajax event="toggle"
																		listener="#{facilitiesView.onDocumentToggle}" />
																</p:columnToggler></td>
														</tr>
													</table>
												</div>

											</f:facet>
											<p:column selectionMode="multiple"
												visible="#{facilitiesView.togglerDocumentList[0]}"
												headerText="#{msg.lbl_select}" value="#{document.checked}"
												style="width:54px;" class="TexAlCenter text-top">
											</p:column>

											<p:column headerText="#{msg.lbl_docName}"
												sortBy="#{document.name}"
												visible="#{facilitiesView.togglerDocumentList[1]}"
												filterMatchMode="contains" filterBy="#{document.name}">
												<p:commandLink class="MarRight10"
													action="#{facilitiesView.documentView(document.id)}"
													update="panelDialogUpdateDocument">
													<h:outputText value="#{document.name}" />
												</p:commandLink>
											</p:column>

											<p:column headerText="#{msg.lbl_uploadType}"
												sortBy="#{document.uploadType}"
												visible="#{facilitiesView.togglerDocumentList[2]}"
												filterMatchMode="contains" filterBy="#{document.uploadType}">
												<h:outputText
													value="#{document.uploadType ne null ? msg['lbl_'+=document.uploadType] : ''}" />
											</p:column>

											<p:column headerText="#{msg.lbl_docDescription}"
												sortBy="#{document.description}"
												visible="#{facilitiesView.togglerDocumentList[3]}"
												filterMatchMode="contains"
												filterBy="#{document.description}">
												<h:outputText value="#{document.description}" />
											</p:column>

											<p:column headerText="#{msg.lbl_docAttachment}"
												sortBy="#{document.attachment}"
												visible="#{facilitiesView.togglerDocumentList[4]}"
												filterMatchMode="contains" filterBy="#{document.attachment}">
												<h:outputText value="#{document.attachment}" />
											</p:column>

											<p:column class="TexAlCenter text-top" style="width:50px;"
												headerText="#{msg.lbl_action}">
												<p:commandButton id="download" icon="fa fa-download"
													ajax="false"
													action="#{facilitiesView.downloadFile(document.attachment)}"
													title="#{msg.lbl_download}">
												</p:commandButton>
											</p:column>

										</p:dataTable>
										<p:blockUI block="documentListTable" widgetVar="bui" />
										<p:blockUI block="documentListTable" class="spinner"
											trigger="documentListTable">#{msg.lbl_loading}
       		    <p:graphicImage class="spinner"
												value="/images/ajax-loader.gif" />
										</p:blockUI>
									</p:tab>
								</p:tabView>
							</h:form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="Container30 Responsive100">
			<div class="ContainerIndent">
				<div class="Card ShadowEffect HeiAutoOnMobile">
					<h2 class="CardTopic">
						<i class="icon-info"></i>#{msg.hdr_info}
					</h2>
					<div class="EmptyBox10"></div>
					<div class="SeparatorFull"></div>
					<div class="EmptyBox10"></div>

					<p:panelGrid columns="3" layout="grid"
						columnClasses="ui-grid-col-5,ui-grid-col-6,ui-grid-col-1"
						style="border:0px !important; background:none;"
						styleClass="ui-panelgrid-blank">
						<p:outputLabel for="createBy" value="#{msg.lbl_createdBy}: " />
						<p:outputLabel id="createBy"
							value="#{facilitiesView.getUserFullName(facilitiesView.facilities.createBy)}" />
						<p:graphicImage class="Fright Fs30 circlesmallicon"
							value="/images/#{empty facilitiesView.getUserImage(facilitiesView.facilities.createBy) ? 'default.jpg' : facilitiesView.getUserImage(facilitiesView.facilities.createBy)}" />


						<p:outputLabel for="createTime" value="#{msg.lbl_createdOn}: " />
						<p:outputLabel id="createTime"
							value="#{facilitiesView.facilities.createTime}">
							<f:convertDateTime type="both"
								timeZone="#{sessionScope['USER_IN_CONTEXT'].timeZone}" />
						</p:outputLabel>
						<div class="EmptyBox10"></div>

						<p:row></p:row>
						<div class="EmptyBox10"></div>
						<p:row></p:row>

						<p:outputLabel for="updateBy" value="#{msg.lbl_lastUpdatedBy}: " />
						<p:outputLabel id="updateBy"
							value="#{facilitiesView.getUserFullName(facilitiesView.facilities.updateBy)}" />
						<p:graphicImage class="Fright Fs30 circlesmallicon"
							rendered="#{facilitiesView.facilities.updateBy ne null}"
							value="/images/#{empty facilitiesView.getUserImage(facilitiesView.facilities.updateBy) ? 'default.jpg' : facilitiesView.getUserImage(facilitiesView.facilities.updateBy)}" />


						<p:outputLabel for="updateTime" value="#{msg.lbl_lastUpdatedOn}: " />
						<p:outputLabel id="updateTime"
							value="#{facilitiesView.facilities.updateTime}">
							<f:convertDateTime type="both"
								timeZone="#{sessionScope['USER_IN_CONTEXT'].timeZone}" />
						</p:outputLabel>
						<div class="EmptyBox10"></div>

						<p:row></p:row>
						<div class="EmptyBox10"></div>
						<p:row></p:row>

						<p:outputLabel for="lockedBy"
							rendered="#{facilitiesView.facilities.lockedBy ne null}"
							value="#{msg.lbl_lockedBy}: " />
						<p:outputLabel id="lockedBy"
							value="#{facilitiesView.getUserFullName(facilitiesView.facilities.lockedBy)}" />
						<p:graphicImage class="Fright Fs30 circlesmallicon"
							rendered="#{facilitiesView.facilities.lockedBy ne null}"
							value="/images/#{empty facilitiesView.getUserImage(facilitiesView.facilities.lockedBy) ? 'default.jpg' : facilitiesView.getUserImage(facilitiesView.facilities.lockedBy)}"></p:graphicImage>

						<p:outputLabel for="lockedTime"
							rendered="#{facilitiesView.facilities.lockedTime ne null}"
							value="#{msg.lbl_lockedTime}: " />
						<p:outputLabel id="lockedTime"
							value="#{facilitiesView.facilities.lockedTime}">
							<f:convertDateTime type="both"
								timeZone="#{sessionScope['USER_IN_CONTEXT'].timeZone}" />
						</p:outputLabel>
						<div class="EmptyBox10"></div>

						<p:row></p:row>
						<div class="EmptyBox10"></div>
						<p:row></p:row>
						<p:outputLabel for="unlockedBy"
							rendered="#{facilitiesView.facilities.unlockedBy ne null}"
							value="#{msg.lbl_unlockedBy}: " />
						<p:outputLabel id="unlockedBy"
							value="#{facilitiesView.getUserFullName(facilitiesView.facilities.unlockedBy)}  " />
						<p:graphicImage class="Fright Fs30 circlesmallicon"
							rendered="#{facilitiesView.facilities.unlockedBy ne null}"
							value="/images/#{empty facilitiesView.getUserImage(facilitiesView.facilities.unlockedBy) ? 'default.jpg' : facilitiesView.getUserImage(facilitiesView.facilities.unlockedBy)}"></p:graphicImage>

						<p:outputLabel for="unlockedTime"
							rendered="#{facilitiesView.facilities.unlockedTime ne null}"
							value="#{msg.lbl_unlockedTime}: " />
						<p:outputLabel id="unlockedTime"
							value="#{facilitiesView.facilities.unlockedTime}">
							<f:convertDateTime type="both"
								timeZone="#{sessionScope['USER_IN_CONTEXT'].timeZone}" />
						</p:outputLabel>

					</p:panelGrid>

				</div>
			</div>
		</div>

	</ui:define>
</ui:composition>
