<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui">
	<ui:define name="subheader">
       #{msg.hdr_typ}
    </ui:define>
	<ui:define name="content">
		<f:event type="preRenderView" listener="#{taskTypeView.preRenderView}" />
		<f:metadata>
           <f:viewAction action="#{taskTypeView.onLoadAction}"/>
     	</f:metadata>
     	<div id="user" class="Container100">
				<div class="ContainerIndent">
				<div class="Card ShadowEffect">
					<div class="Container100 Responsive100 ui-fluid">
						<div class="ContainerIndent">
		                     <h:form id="form">
			                      <p:messages id="messages" globalOnly="true" showDetail="true"
				                     autoUpdate="true" closable="true" escape="false" />
				                     <p:panelGrid id="panel2" columns="3" style="border:1px !important; background:none;"
											styleClass="ui-panelgrid-blank ui-responsive">
			                                 <p:commandButton value="#{msg.btn_save}" id="btnSave" icon="fa fa-save" update="form"
				                                actionListener="#{taskTypeView.saveAction}" onclick="PF('bui').show()" process="@form"  />
			                                 <p:commandButton value="#{msg.btn_cancel}" id="btnCancel" icon="fa fa-close"
				                                action="#{taskTypeView.cancelAction}" process="@this"/>
				                      </p:panelGrid>
			
			   <p:tabView id="pnl">
				  <p:tab title="#{msg.hdr_typData}">
					  <p:panelGrid columns="4" layout="grid" style="border:0px !important; background:none;">
            					
            					<div class="EmptyBox20"></div>
            					<p:outputLabel for="type" value="#{msg.lbl_typeName}" />
            					<p:inputText id="type" value="#{taskTypeView.type.type}" required="true" />
									 
								<div class="EmptyBox30"/>
								
							
						</p:panelGrid>
				   </p:tab>
			  </p:tabView>
			  <p:blockUI block="pnl" widgetVar="bui">#{msg.lbl_loading}<br /> 
       			<p:graphicImage  value="/images/ajax-loader.gif"/>
    		</p:blockUI>
		    </h:form>
		    
	     </div>
	   </div>
	  </div>
	 </div>
    </div>
  </ui:define>
 </ui:composition>