<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui">

    <f:metadata>
			<f:viewAction action="#{crmView.onLoadAction}" />
    </f:metadata>
	
    <h:form id="addNotesDialogForm" enctype="multipart/form-data">
	  <p:panel id="addNotesPanel">
	  			 
	    <div class="Card ShadowEffect ui-fluid" style="overflow:auto !important;width:600px;Height:320px;" >
	      <div class="Card SoftBlue ui-fluid"  >
	        <div class="Container100  Responsive100">
              <div class="ContainerIndent " >
				 	
		        <p:panelGrid columnClasses="ui-grid-col-4,ui-grid-col-8" styleClass="ui-panelgrid-blank">
		 				
				  <pe:ckEditor height="150" width="100%" language="#{sessionScope['USER_IN_CONTEXT'].language}"
               		value="#{crmView.addNotes.notes}" toolbar="[['Styles','Bold','Italic','Underline','TextColor','BGColor','Strike','BulletedList','NumberedList','Cut','Copy','Paste','Undo','Redo','Link', 'Unlink']]">  
    			  </pe:ckEditor>  
								                       				                
		        </p:panelGrid>
	          </div>
	       </div>
	     </div>
       </div>
      <p:panel style="text-align:center">
              
              <p:commandButton id="btnSave" value="#{msg.btn_save}"  icon="fa fa-save" 
			     actionListener="#{crmView.saveNotes}" ajax="false" onclick=" PF('bui').show() "  >
			  </p:commandButton>
			 
			  <p:commandButton id="btnCancel" value="#{msg.btn_cancel}" icon="fa fa-close" 
			     process="@this" onsuccess="PF('myCrmAddNotesDialog').hide();" 
			     update="addNotesDialogForm:addNotesPanel">
			  </p:commandButton>
	   </p:panel>
      </p:panel>
    </h:form>
		<p:blockUI block="addNotesDialogForm" widgetVar="bui">
    	</p:blockUI>	
    		
</html>



