<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core" >
	<ui:define name="subheader">
        #{msg.hdr_crm}
    </ui:define>
	<ui:define name="content">
	  <f:event type="preRenderView"
	   listener="#{crmManipulate.preRenderView}" />
		<f:metadata>
			<f:viewAction action="#{crmManipulate.onLoadAction}" />
		</f:metadata> 
 	
        <h:form id="crmAddUpdateForm" enctype="multipart/form-data">
	      <div id="user" class="Container100">
			<div class="ContainerIndent">
			  <div class="Card ShadowEffect">
				<div class="Container100 Responsive100 ui-fluid">
				  <div class="ContainerIndent">
					<p:messages id="messages" showDetail="true"  globalOnly="true"
				     closable="true" escape="false"  />
						<p:panelGrid id="btn" columns="3" style="border:1px !important; background:none;"
						 styleClass="ui-panelgrid-blank ui-responsive">
			  	             <p:commandButton id="btnSave"  value="#{msg.btn_save}" icon="fa fa-save" 
							    actionListener="#{crmManipulate.saveAction}" ajax="false" onclick=" PF('bui').show() "  >
						     </p:commandButton>
						     <p:commandButton id="btnCancel" value="#{msg.btn_cancel}" icon="fa fa-close"
						 	    action="#{crmManipulate.cancelAction}" process="@this" />
			            </p:panelGrid>
			
					    <p:tabView id="tabView">
					     <p:tab title="#{msg.hdr_crm}">
					        <div class="Card SoftBlue ui-fluid"  >
						      <div class="Container50  Responsive100">
					            <div class="ContainerIndent " >
				 
								 <p:panelGrid id="userprofile" columns="2" layout="grid" style="border:0px !important;  background:none;"
									 styleClass="ui-panelgrid-blank">
						        	 
						        	 <p:outputLabel value="#{msg.lbl_uploadPicture}" ></p:outputLabel>
									 <p:commandLink onclick="PF('dlg1').show();">	
						               <h:graphicImage  class="circlebigicon" style="margin-bottom:10px"
						                  value = "/moduleUploads/crm/#{empty crmManipulate.crm.picture ? 'default.jpg' : crmManipulate.crm.picture}" />
						             </p:commandLink>
						             
						             <p:outputLabel value="#{msg.lbl_crmIsCompany}" />
						             <p:selectBooleanCheckbox id="checkboxId" required="true" disabled="true" style="margin-bottom:10px;margin-left:10px" value="#{crmManipulate.crm.type}" >
						                <p:ajax listener="#{crmView.changeType}" update="companyDetails,userprofile,branchCompany"  /> 
						             </p:selectBooleanCheckbox>
				             
				                 </p:panelGrid>
                                </div>
                              </div>
                           </div> 
           
				           <div class="Card SoftBlue ui-fluid"  >
					         <div class="Container50  Responsive100">
				               <div class="ContainerIndent " >
				             
				                <p:panelGrid id="crmDetails" columns="2" layout="grid" columnClasses="ui-grid-col-4,ui-grid-col-8"
							       styleClass="ui-panelgrid-blank">    
				             
						             <p:outputLabel for="compname" value="#{msg.lbl_compName}" rendered="#{crmManipulate.crm.type ne false}"/>
									 <p:inputText id="compname" value="#{crmManipulate.crm.firstName}" required="true" style="margin-bottom:10px" placeholder="#{msg.lbl_compName}" rendered="#{crmManipulate.crm.type ne false}"/>
						             
						             <p:outputLabel for="name" value="#{msg.lbl_crmName}" rendered="#{crmManipulate.crm.type ne true}"/>
									 <p:inputText id="name" value="#{crmManipulate.crm.firstName}" required="true" style="margin-bottom:10px" placeholder="#{msg.lbl_crmName}" rendered="#{crmManipulate.crm.type ne true}"/>
						             
						             <p:outputLabel for="surName" value="#{msg.lbl_crmSurName}" rendered="#{crmManipulate.crm.type ne true}"/>
									 <p:inputText id="surName" value="#{crmManipulate.crm.surName}"  rendered="#{crmManipulate.crm.type ne true}" style="margin-bottom:10px"/>
									 
									  <p:outputLabel for="gender" value="#{msg.lbl_crmGender}" rendered="#{crmManipulate.crm.type ne true}"/>
									 <p:selectOneMenu id="gender" value="#{crmManipulate.crm.gender}" rendered="#{crmManipulate.crm.type ne true}">
									 <f:selectItem itemLabel="#{msg.lbl_select}" itemValue="" noSelectionOption="true"/>
										   <f:selectItem itemLabel="#{msg.lbl_genderm}" itemValue="m" />
										   <f:selectItem itemLabel="#{msg.lbl_genderw}" itemValue="w" />
										   <f:selectItem itemLabel="#{msg.lbl_gendero}" itemValue="o" />
									 </p:selectOneMenu>
								
									 <p:outputLabel for="title" value="#{msg.lbl_crmTitle}" rendered="#{crmManipulate.crm.type ne true}"/>
						             <p:inputText id="title" value="#{crmManipulate.crm.title}" rendered="#{crmManipulate.crm.type ne true}" style="margin-bottom:10px"/>
									
							    </p:panelGrid>	
						
						        <p:panelGrid id="branchCompany" columns="2" layout="grid" columnClasses="ui-grid-col-4,ui-grid-col-8"
								 styleClass="ui-panelgrid-blank"> 
						              
						              <p:outputLabel for="company" value="#{msg.lbl_crmCompany}" rendered="#{crmManipulate.crm.type ne false and crmManipulate.crm.branch eq true}"/>
									  <p:selectOneMenu id="company" value="#{crmManipulate.crm.company}" rendered="#{crmManipulate.crm.type ne false and crmManipulate.crm.branch eq true}" 
									  		filter="true" filterMatchMode="contains" required="#{crmManipulate.crm.branch eq 'true'}" >
									       <f:selectItem itemLabel="#{msg.lbl_select}" itemValue="" noSelectionOption="true"/>
									       <f:selectItems value="#{crmManipulate.companyList}" var="crm" itemLabel="#{crm.firstName}" itemValue="#{crm.id}" />
									  </p:selectOneMenu>
						        </p:panelGrid> 
						                     
						        <p:dialog header="#{msg.lbl_uploadPicture}" widgetVar="dlg1" closable="true"  responsive="true">
						           <p:panelGrid id="profilePic" columns="1" layout="grid" style="border:0px !important;  background:none;align:center" 
						              styleClass="ui-panelgrid-blank; ">
						           	<p:fileUpload icon="fa fa-paperclip"  id="docUpload" label="#{msg.lbl_chooseFiles}" 
									   fileUploadListener="#{crmManipulate.fileUploadListener}" value="#{crmManipulate.uploadedFile}" 
									   multiple="true" mode="advanced" dragDropSupport="true" auto="true" sizeLimit="1000000" update="@form" />
									</p:panelGrid>
							    </p:dialog>  
		                     </div> 
	                       </div>
		 
						   <div class="Container50  Responsive100">
					         <div class="ContainerIndent " >		 	
							    <p:panelGrid id="companyDetails" columns="2" layout="grid" styleClass="ui-panelgrid-blank">
							
					               <p:outputLabel for="companyPerson" value="#{msg.lbl_compPerson}" rendered="#{crmManipulate.crm.type eq false}" style="word-wrap: break-word !important;"/>
								    <p:selectOneMenu id="companyPerson" value="#{crmManipulate.crm.company}" rendered="#{crmManipulate.crm.type eq false}"
								  	  filter="true" filterMatchMode="contains">
								       <f:selectItem itemLabel="#{msg.lbl_select}" itemValue="" noSelectionOption="true"/>
								       <f:selectItems value="#{crmManipulate.companyList}" var="crm" itemLabel="#{crm.firstName}" itemValue="#{crm.id}" />
								    </p:selectOneMenu>
					
					
							        <p:outputLabel for="branch" value="#{msg.lbl_crmBranch}" rendered="#{crmManipulate.crm.type ne false}"/> 
									<p:selectBooleanCheckbox id="branch" style="margin-bottom:10px;margin-left:10px" value="#{crmManipulate.crm.branch}"  rendered="#{crmManipulate.crm.type ne false}">
									<p:ajax update="branchCompany"  /> 
									</p:selectBooleanCheckbox>
							      
							        <p:outputLabel for="facility" value="#{msg.lbl_crmFacility}" rendered="#{crmManipulate.crm.type ne false}"/>
								    <p:selectBooleanCheckbox id="facility" style="margin-bottom:10px;margin-left:10px" value="#{crmManipulate.crm.outpatientInpatientFacility}" rendered="#{crmManipulate.crm.type ne false}" >
					                </p:selectBooleanCheckbox>
					             
								    <p:outputLabel for="partners" value="#{msg.lbl_crmPartners}"  rendered="#{crmManipulate.crm.type ne false}"/>
								    <p:selectBooleanCheckbox id="partners" style="margin-bottom:10px;margin-left:10px" value="#{crmManipulate.crm.cooperationPartners}"  rendered="#{crmManipulate.crm.type ne false}">
					                </p:selectBooleanCheckbox>  
							     
							 	</p:panelGrid>
							  </div>
							</div>
					    </div>
							
						<div class="Container100  Responsive100">
				            <div class="ContainerIndent " >
				                <p:separator style="width:100%;" />
				            </div>
				        </div>
							
					    <div class="Card SoftBlue ui-fluid">
					       <div class="Container50  Responsive100">
					         <div class="ContainerIndent " >
					                	
					           <p:panelGrid id="personalDetails" columns="2" layout="grid" styleClass="ui-panelgrid-blank">
					         
					             <p:outputLabel for="street" value="#{msg.lbl_crmStreet}" />
								 <p:inputText id="street" value="#{crmManipulate.crm.street}" placeholder="#{msg.lbl_crmStreet}"/>
								 
								 <p:outputLabel for="houseNo" value="#{msg.lbl_crmHouseNo}" />
					             <p:inputText id="houseNo" value="#{crmManipulate.crm.houseNumber}" />
					              
					             <p:outputLabel for="zip" value="#{msg.lbl_crmZip}" />
								 <p:inputText id="zip" value="#{crmManipulate.crm.zipCode}" placeholder="#{msg.lbl_crmZip}">
								 	<pe:keyFilter regEx="/[\d]/" />
								 </p:inputText>			  
					
								 <p:outputLabel for="place" value="#{msg.lbl_crmPlace}" />
					             <p:inputText id="place" value="#{crmManipulate.crm.place}" />
								
					
					             <p:outputLabel for="country" value="#{msg.lbl_crmCountry}" />
					               <p:selectOneMenu id="country"  value="#{crmManipulate.crm.country}"  >
									<f:selectItem itemLabel="#{msg.lbl_select}" itemValue="" noSelectionOption="true" />
								    <f:selectItems value="#{crmManipulate.countryList}" var="country" itemValue="#{country.id}"
								       itemLabel="#{country.value}" itemLabelEscaped="true" />
								 </p:selectOneMenu>  
					              
								 <p:outputLabel for="additionalAddress" value="#{msg.lbl_crmAddress}"/> 
								 <p:inputText id="additionalAddress" value="#{crmManipulate.crm.additionalAddress}"/>
							     
							     <p:outputLabel for="careOf" value="#{msg.lbl_crmCareOf}" />
					             <p:inputText id="careOf" value="#{crmManipulate.crm.careOf}" />
					
					          </p:panelGrid>	
					                	 
					       </div>
					     </div>
                  
					     <div class="Container50  Responsive100">
					        <div class="ContainerIndent " >
					                    
					          <p:panelGrid id="contactDetails" columns="2" layout="grid" styleClass="ui-panelgrid-blank">
					                       
					             <p:outputLabel for="phone" value="#{msg.lbl_crmPhone}" />
					             <p:inputText id="phone" value="#{crmManipulate.crm.telephone}" required="true" placeholder="#{msg.lbl_crmPhone1}"/>
					                             	
					             <p:outputLabel for="mobile" value="#{msg.lbl_crmMobile}" />
					             <p:inputText id="mobile" value="#{crmManipulate.crm.mobile}" /> 
					                            
					              
					              <p:outputLabel for="mail" value="#{msg.lbl_crmEmail}" />
					             <p:inputText id="mail" value="#{crmManipulate.crm.mail}" required="true">
					                <f:validateRegex pattern="(.+@.+\.[a-zA-Z]+)?"/>
					             </p:inputText>
					                	
					             <p:outputLabel for="website" value="#{msg.lbl_crmWebsite}" />
							     <p:inputText id="website" value="#{crmManipulate.crm.website}" placeholder="#{msg.lbl_website}"/>
					                              	
					
					         </p:panelGrid>
					       </div>
					    </div>
   	                 </div>
   	               </p:tab>
                 </p:tabView>
                </div>
              </div>
             </div>
	            <p:blockUI block="tabView" widgetVar="bui">#{msg.lbl_loading}<br /> 
	       			<p:graphicImage  value="/images/ajax-loader.gif"/>
	    		</p:blockUI>
           </div>
          </div>
        </h:form>
			
    </ui:define>
    </ui:composition>
    		
		