<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui">


    <f:metadata>
	  <f:viewAction action="#{crmView.onLoadAction}" />  
    </f:metadata>
	
    <h:form id="crmDialogForm" enctype="multipart/form-data">
	  <p:panel id="dialogPanel">
	
	    <p:messages id="messages" globalOnly="true" showDetail="true"
		 autoUpdate="true" closable="true" escape="false" />
	  			 	
	     <div class="ui-widget ui-widget-header ui-corner-all ui-helper-clearfix">
	       <div class="ui-toolbar-group-left">
		     <p:commandButton id="btnSave" value="#{msg.btn_create}" icon="fa fa-save"  
		       actionListener="#{crmManipulate.saveAction}" update="crmDialogForm:dialogPanel"/>
		     <p:commandButton  id="btnCancel" value="#{msg.btn_cancel}" icon="fa fa-close" 
			  process="@this" onsuccess="PF('crmDialog').hide();" update="crmDialogForm:dialogPanel">
		     </p:commandButton>
		   
		   </div>
	     </div>
			 
	    <div class="Card ShadowEffect ui-fluid" style="overflow:auto !important;width:780px;height:380px;">
          <div class="Card SoftBlue ui-fluid">	      
		    <div class="Container50  Responsive100">
               <div class="ContainerIndent " >
	  
                 <p:panelGrid id="userprofile" columns="2" layout="grid" columnClasses="ui-grid-col-4,ui-grid-col-8"
			      styleClass="ui-panelgrid-blank">
			              	       
			       <p:outputLabel value="#{msg.lbl_uploadPicture}" />
			       <p:commandLink onclick="PF('dlg1').show()" process="@this">	
                   <h:graphicImage  class="circlebigicon"  style="margin-bottom:10px"
                      value = "/moduleUploads/crm/#{empty crmManipulate.uploadedFile.fileName ? 'default.jpg' : crmManipulate.uploadedFile.fileName}" />
                   </p:commandLink>
                   
                   <p:outputLabel value="#{msg.lbl_crmIsCompany}" />
			       <p:selectBooleanCheckbox id="checkboxId" style="margin-bottom:10px;margin-left:10px" value="#{crmManipulate.crm.type}" >
                   <p:ajax listener="#{crmView.changeType}" update="crmDetails,companyDetails, branchCompany" />
                   </p:selectBooleanCheckbox>
                   
                 </p:panelGrid>
                
                 <p:dialog header="#{msg.lbl_uploadPicture}" widgetVar="dlg1" closable="true"  responsive="true">
                    <p:panelGrid id="profilePic" columns="1" layout="grid" style="border:0px !important;  background:none;align:center" 
                   	 styleClass="ui-panelgrid-blank; ">
            
			   		 <p:fileUpload icon="fa fa-paperclip"  id="docUpload" label="#{msg.lbl_chooseFiles}" 
			       		fileUploadListener="#{crmManipulate.fileUploadListener}" value="#{crmManipulate.uploadedFile}" 
			       		multiple="true" mode="advanced" dragDropSupport="true" auto="true" sizeLimit="1000000" update="userprofile" oncomplete ="PF('dlg1').hide()"/>
			   
			        </p:panelGrid>
		         </p:dialog>   
            
               </div>
            </div>
          </div>
        
          <div class="Card SoftBlue ui-fluid">	      
		    <div class="Container50  Responsive100">
               <div class="ContainerIndent">
        
			    <p:panelGrid id="crmDetails" columns="2" layout="grid" columnClasses="ui-grid-col-5,ui-grid-col-7"
			       styleClass="ui-panelgrid-blank">    
			       
			       
			       <p:outputLabel for="compname" value="#{msg.lbl_compName}" rendered="#{crmView.type ne true}" />
			       <p:inputText id="compname" value="#{crmManipulate.crm.firstName}" required="true"   
				    	placeholder="#{msg.lbl_compName}" rendered="#{crmView.type ne true}" />
                   
                   <p:outputLabel for="name" value="#{msg.lbl_crmName}" rendered="#{crmView.type ne false}" />
			       <p:inputText id="name" value="#{crmManipulate.crm.firstName}" required="true" placeholder="#{msg.lbl_crmName}" rendered="#{crmView.type ne false}"/>
                     
                   
                   <p:outputLabel for="surName" value="#{msg.lbl_crmSurName}" rendered="#{crmView.type ne false}" style="word-wrap:break-word;"/>
			       <p:inputText id="surName" value="#{crmManipulate.crm.surName}"  rendered="#{crmView.type ne false}" required="true"/>
				     
				     				
			       <p:outputLabel for="gender" value="#{msg.lbl_crmGender}" rendered="#{crmView.type ne false}"/>
			       <p:selectOneMenu id="gender" value="#{crmManipulate.crm.gender}" rendered="#{crmView.type ne false}" >
				   <f:selectItem itemLabel="#{msg.lbl_select}" itemValue="" noSelectionOption="true"/>
				   <f:selectItem itemLabel="#{msg.lbl_genderm}" itemValue="m" />
				   <f:selectItem itemLabel="#{msg.lbl_genderw}" itemValue="w" />
				   <f:selectItem itemLabel="#{msg.lbl_gendero}" itemValue="o" />
			       </p:selectOneMenu> 
			       
			       <p:outputLabel for="title" value="#{msg.lbl_crmTitle}" rendered="#{crmView.type ne false}"/>
			       <p:inputText id="title" value="#{crmManipulate.crm.title}" rendered="#{crmView.type ne false}" />
                   
                </p:panelGrid>
           
                <p:panelGrid id="branchCompany" columns="2" layout="grid" columnClasses="ui-grid-col-5,ui-grid-col-7"
			     styleClass="ui-panelgrid-blank">
			      
             	    <p:outputLabel for="company" value="#{msg.lbl_crmCompany}" rendered="#{crmManipulate.crm.branch eq true and crmView.type ne true}" style="word-wrap: break-word !important;"/>
			        <p:selectOneMenu id="company" value="#{crmManipulate.crm.company}" rendered="#{crmManipulate.crm.branch eq true and crmView.type ne true}" 
			         	filter="true" filterMatchMode="contains" required="#{crmManipulate.crm.branch eq 'true'}"> 
			          <f:selectItem itemLabel="#{msg.lbl_select}" itemValue=""  noSelectionOption="true"/>
			          <f:selectItems value="#{crmView.companyList}" var="crm" itemLabel="#{crm.firstName}" itemValue="#{crm.id}" />
			        </p:selectOneMenu>

			    </p:panelGrid>

            </div>
          </div>
          <div class="Container50  Responsive100">
            <div class="ContainerIndent " >
               <p:panelGrid id="companyDetails" columns="2" layout="grid" columnClasses="ui-grid-col-6,ui-grid-col-6"
                styleClass="ui-panelgrid-blank">
            

	                <p:outputLabel for="companyPerson" value="#{msg.lbl_compPerson}" style="word-wrap: break-word !important;" rendered="#{crmView.type eq true}"/>
				  	<p:selectOneMenu id="companyPerson" value="#{crmManipulate.crm.company}" rendered="#{crmView.type eq true}" style="margin-bottom:10px"
				  		filter="true" filterMatchMode="startsWith" >
				       <f:selectItem itemLabel="#{msg.lbl_select}" itemValue="" noSelectionOption="true"/>
				       <f:selectItems value="#{crmView.companyList}" var="crm" itemLabel="#{crm.firstName}" itemValue="#{crm.id}" />
				  	</p:selectOneMenu>
	              
					<p:outputLabel for="branch" value="#{msg.lbl_crmBranch}" rendered="#{crmView.type ne true}"/> 
					<p:selectBooleanCheckbox id="branch" style="margin-bottom:10px;margin-left:10px" 
						value="#{crmManipulate.crm.branch}"  rendered="#{crmView.type ne true}" >
						<p:ajax update="branchCompany" /> 
					</p:selectBooleanCheckbox>
	            
				    <p:outputLabel  for="facility" value="#{msg.lbl_crmFacility}" rendered="#{crmView.type ne true}"/>
				    <p:selectBooleanCheckbox id="facility" style="margin-bottom:10px;margin-left:10px" value="#{crmManipulate.crm.outpatientInpatientFacility}" rendered="#{crmView.type ne true}" >
	                </p:selectBooleanCheckbox>
	             
				    <p:outputLabel for="partners" value="#{msg.lbl_crmPartners}"  rendered="#{crmView.type ne true}" />
				    <p:selectBooleanCheckbox id="partners" style="margin-bottom:10px;margin-left:10px" value="#{crmManipulate.crm.cooperationPartners}"  rendered="#{crmView.type ne true}">
	                </p:selectBooleanCheckbox>  

	           </p:panelGrid>
             </div>
           </div> 
		
		<div class="Container100  Responsive100">
            <div class="ContainerIndent " >
                <p:separator style="width:100%;" />
             </div>
        </div>
			
        <div class="Card SoftBlue ui-fluid"  >
          <div class="Container50  Responsive100">
            <div class="ContainerIndent " >
                	
		         <p:panelGrid id="personalDetails" columns="2" layout="grid" columnClasses="ui-grid-col-4,ui-grid-col-8" 
		            styleClass="ui-panelgrid-blank">
		                	 
				 
				     <p:outputLabel for="street" value="#{msg.lbl_crmStreet}" />
					 <p:inputText id="street" value="#{crmManipulate.crm.street}" placeholder="#{msg.lbl_crmStreet}"/>
					 
					 <p:outputLabel for="houseNo" value="#{msg.lbl_crmHouseNo}" style="word-wrap:break-word;"/>
		             <p:inputText id="houseNo" value="#{crmManipulate.crm.houseNumber}" />
						             
		
		             <p:outputLabel for="zip" value="#{msg.lbl_crmZip}" style="word-wrap:break-word;"/>
					 <p:inputText id="zip" value="#{crmManipulate.crm.zipCode}" placeholder="#{msg.lbl_crmZip}" >
						<pe:keyFilter regEx="/[\d]/" />
					 </p:inputText>
					        
		             <p:outputLabel for="place" value="#{msg.lbl_crmPlace}" />
		             <p:inputText id="place" value="#{crmManipulate.crm.place}" />
		
			         <p:outputLabel for="country" value="#{msg.lbl_crmCountry}" />
					 <p:selectOneMenu id="country"  value="#{crmManipulate.crm.country}"  >
						<f:selectItem itemLabel="#{msg.lbl_select}" itemValue="" noSelectionOption="true" />
					    <f:selectItems value="#{crmView.countryList}" var="country" itemValue="#{country.id}"
					      itemLabel="#{country.value}" itemLabelEscaped="true" />
					 </p:selectOneMenu> 
		                  	
		             <p:outputLabel for="additionalAddress" value="#{msg.lbl_crmAddress}" style="word-wrap:break-word;"/> 
					 <p:inputText id="additionalAddress" value="#{crmManipulate.crm.additionalAddress}"/>
					 
		             <p:outputLabel for="careOf" value="#{msg.lbl_crmCareOf}" />
		             <p:inputText id="careOf" value="#{crmManipulate.crm.careOf}" />
		                	
		
		         </p:panelGrid>	
                	 
            </div>
          </div>
                  
          <div class="Container50  Responsive100">
             <div class="ContainerIndent " >
      
		         <p:panelGrid id="contactDetails" columns="2" layout="grid" columnClasses="ui-grid-col-4,ui-grid-col-8" 
		            styleClass="ui-panelgrid-blank">       
		
					 <p:outputLabel for="phone" value="#{msg.lbl_crmPhone}" />
		             <p:inputText id="phone" value="#{crmManipulate.crm.telephone}" placeholder="#{msg.lbl_crmPhone1}" required="true"/>
		             
		             
		             <p:outputLabel for="mobile" value="#{msg.lbl_crmMobile}" />
		             <p:inputText id="mobile" value="#{crmManipulate.crm.mobile}" /> 
		             
		             
		             <p:outputLabel for="mail" value="#{msg.lbl_crmEmail}" />
		             <p:inputText id="mail" value="#{crmManipulate.crm.mail}" required="true">
		                <f:validateRegex pattern="(.+@.+\.[a-zA-Z]+)?"/>
		             </p:inputText>
		             
		             <p:outputLabel for="website" value="#{msg.lbl_crmWebsite}" />
				     <p:inputText id="website" value="#{crmManipulate.crm.website}" placeholder="#{msg.lbl_website}"/>
		             
		         </p:panelGrid>
        
             </div>
           </div>
   	      </div>
   	    </div>
   	  </div>
    </p:panel>
  </h:form>
			<p:blockUI block="crmDialogForm" widgetVar="bui">#{msg.lbl_loading}<br /> 
       			<p:graphicImage  value="/images/ajax-loader.gif"/>
    		</p:blockUI>
    		<script type="text/javascript"> 
						$( document ).ready(function() {
						$("button[id*='crmDialogForm:btnCancel']").click(function(e) { 
							$("#createCrmNew").html("");$("#createCrmNew").empty();
								});
							});
			 </script> 
</html>