<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jstl/core">
	<ui:define name="subheader">
       #{msg.hdr_crm}
    </ui:define>

	<ui:define name="content">
	<f:event type="preRenderView" listener="#{crmView.preRenderView}" />
	<f:metadata>
			<f:viewAction action="#{crmView.onLoadAction}" />
	</f:metadata>
    <div class="Container100">
      <div class="ContainerIndent">
        <div class="Card ShadowEffect">
          <div class="Container100  Responsive100">
            <div class="ContainerIndent">
              <h2 class="TexAlCenter BigTopic"> #{msg.hdr_crmList}</h2>
		      <h:form id="crmListForm" enctype="multipart/form-data">
		        <p:messages id="messages" globalOnly="true" showDetail="true"
				 closable="true" escape="false" />

		        <p:panel id="changeViewPanel" style="border:none;">
		          <div class="ContainerIndent"> 
			        <div class="ui-widget ui-widget-header ui-corner-all ui-helper-clearfix">
			          <div class="ui-toolbar-group-left">
			             
			             <p:commandButton id="crmAdd" styleClass="btn" value="#{msg.btn_add}"  icon="fa fa-plus"
					      process="@this" oncomplete="PF('crmDialog').show();" action="#{crmManipulate.dialogView}" update="crmDialogForm:dialogPanel">
				         </p:commandButton>	
				
          	             <p:commandButton value="#{msg.list_view}" icon="fa fa-list-ul" update="detailViewForm,listViewForm,changeViewPanel" action="#{crmView.onChangeView(crmView.changeView)}"
          	              process="@this" rendered="#{crmView.changeView eq 'false'}">
          	             </p:commandButton>
          	               	            	     
          	             <p:commandButton value="#{msg.detail_view}" icon="fa fa-laptop" update="detailViewForm,listViewForm,changeViewPanel" action="#{crmView.onChangeView(crmView.changeView)}"
          	              process="@this" rendered="#{crmView.changeView eq 'true'}">
          	             </p:commandButton>
          	   
			          </div>
                    </div>
                  </div>
                </p:panel>
                  <p:dialog id="createCrm" stickyHeader="true"  appendBody="false" header="#{msg.hdr_crm}"
          	              widgetVar="crmDialog" class="GrayModena Geometry"  aria-hidden="false" aria-live="polite"
          	              style="width: auto !important; max-height:100% !important; max-width: 100%;
          	              height: auto !important; z-index: 1005" resizable="false" responsive="true" modal="true"  >
          	              <ui:include src="/views/crm/createDialog.xhtml" />
        		  </p:dialog>
                
                
              </h:form> 
            
              <h:form id ="detailViewForm" >
                <p:panel id="detailViewPanel" style="border:none;"  rendered="#{crmView.detailView eq true}">
                  <div class="Container100  Responsive100">
                    <div class="ContainerIndent  "> 
                      <div class="ui-widget ui-widget-header ui-corner-all ui-helper-clearfix">
				        <div class="ui-toolbar-group-left">
			         
					      <p:commandButton id="btnShowAct" value="#{msg.btn_show_act_crm}" 
					       actionListener="#{crmView.showActive}" 
					       disabled="#{crmView.showActiveListBtn eq 'false'}"
					       process="@this" update="detailViewForm">
				          </p:commandButton>
					
				          <p:commandButton  id="btnShowInact" value="#{msg.btn_show_inact_crm}" 
					       actionListener="#{crmView.showInactive}"
					       disabled="#{crmView.showActiveListBtn eq 'true'}"
					       process="@this" update="detailViewForm">
				          </p:commandButton>
					
				          <span class="ui-separator">
                            <span class="fa fa-ellipsis-v SoftGray"></span>
                          </span>
					
				          <p:commandButton id="lock" icon="fa fa-lock"  process="@form"
					       actionListener="#{crmView.lockAction}"
					       rendered="#{crmView.showActivateBtn eq 'false' and crmView.changeView eq 'true'}"
					       title="#{msg.lbl_lockCrm}" update="dataGridList"
					       oncomplete="PF('detailViewWidgetVar').clearFilters()" />
					 
				          <p:commandButton id="unlock" icon="fa fa-unlock" process="@form"
					       actionListener="#{crmView.unlockAction}"
				           rendered="#{crmView.showActivateBtn eq 'true' and crmView.changeView eq 'true'}"
					       title="#{msg.lbl_unlockCrm}" update="dataGridList"
					       oncomplete="PF('detailViewWidgetVar').clearFilters()" />
					       
				        </div>    
				                 
                        <div class="ui-toolbar-group-right"> 
                        
                          <p:commandButton id="delete" icon="fa fa-trash-o" actionListener="#{crmView.deleteAction}" 
                           title="#{msg.lbl_deleteCrm}" rendered="#{crmView.showActivateBtn eq 'true' and crmView.changeView eq 'true'}"
                           oncomplete="PF('listViewWidgetVar').clearFilters()"  >
                           <c:if test="#{empty crmView.selectedCrmList}">
					         <p:confirm header="#{msg.confirmation}" message="#{msg.delete_sure}" icon="ui-icon-alert" /> 
					       </c:if>
					      </p:commandButton>
					
                         <p:confirmDialog global="true" showEffect="fade" hideEffect="fade"  >
                           <p:commandButton value="#{msg.btn_yes}" type="button" styleClass="ui-confirmdialog-yes"
                            icon="ui-icon-check fa fa-check Fs14 White" />
                           <p:commandButton value="#{msg.btn_no}" type="button" styleClass="ui-confirmdialog-no" 
                            icon="ui-icon-close fa fa-close Fs14 White" />
                         </p:confirmDialog> 
                        </div>
                      </div>
            
                      <p:dataGrid  id="dataGridList" var="crm" selection="#{crmView.selectedCrmList}" columns="3" layout="grid"
				       value="#{crmView.crmList}" rowsPerPageTemplate="#{sessionScope['USER_IN_CONTEXT'].actualDisplayRowsSize}"
				       rows="#{sessionScope['USER_IN_CONTEXT'].displayRowsSize}"  
				       currentPageReportTemplate="#{msg.lbl_showing} {startRecord}-{endRecord} #{msg.lbl_outOf} {totalRecords}"
				       rowKey="#{crm.id}" emptyMessage="#{msg.table_empty_msg}" 	widgetVar="detailViewWidgetVar"
				       paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				       paginator="true"  paginatorPosition="bottom" 	rowIndexVar="rowIndex"
				       reflow="true" tableStyle="table-layout: auto;"> 
				
				
			              <p:commandLink id="identifier1" class="MarRight10" onclick="PF('bui').show()"  
			                action="#{crmView.detailedViewAction(crm.identifier)}" ajax="false">
              
                           <p:panelGrid  columns="2" style="border:none;margin:0 auto;width:90% !important" columnClasses="ui-grid-col-4,ui-grid-col-8">
                            <f:facet name="header">
                              <p:graphicImage value="/moduleUploads/crm/#{empty crm.picture ? 'default.jpg' : crm.picture}" width="20%"/>
                            </f:facet>
                 
                            <h:outputText value="Name" />
                            <h:outputText value="#{crm.firstName} #{crm.surName}" />
                                        
                            <h:outputText value="#{msg.lbl_crmType}" />
                            <h:outputText value="#{empty crm.type ? msg['type.'+=crm.type] : msg['type.'+=crm.type]}" />
                    
                           </p:panelGrid>
                         </p:commandLink>
             
                      </p:dataGrid>
        
                    </div>
   	               </div>
   			      <p:blockUI block="dataGridList"  widgetVar="bui"/>
   			      <p:blockUI block="dataGridList" class="spinner" trigger="dataGridList">#{msg.lbl_loading}
       			    <p:graphicImage class="spinner" value="/images/ajax-loader.gif"/>
   			      </p:blockUI>  
   			    </p:panel>
   			  </h:form>
       	  
		     </div>
            </div>
              <h:form id="listViewForm">
		        <p:panel id="listViewPanel" style="border:none;" rendered="#{crmView.listView eq true}">
		          <div class="Container100  Responsive100">
                    <div class="ContainerIndent"> 
                      <div class="ui-widget ui-widget-header ui-corner-all ui-helper-clearfix">
				        <div class="ui-toolbar-group-left">
			         
					     <p:commandButton value="#{msg.btn_show_act_crm}" id="btnShowAct"
					      actionListener="#{crmView.showActive}" 
					      disabled="#{crmView.showActiveListBtn eq 'false'}"
					      process="@this" update="listViewForm" onstart="PF('blockUIForButtons').block()" 
					      oncomplete="PF('listViewWidgetVar').clearFilters(), PF('blockUIForButtons').unblock()">
				         </p:commandButton>
					 
				         <p:commandButton value="#{msg.btn_show_inact_crm}" id="btnShowInact"
					      actionListener="#{crmView.showInactive}"
					      disabled="#{crmView.showActiveListBtn eq 'true'}"
					      process="@this" update="listViewForm" onstart="PF('blockUIForButtons').block()"
					      oncomplete="PF('listViewWidgetVar').clearFilters(), PF('blockUIForButtons').unblock()">
				         </p:commandButton>
					 
				         <span class="ui-separator">
                          <span class="fa fa-ellipsis-v SoftGray"></span>
                         </span>
					
				         <p:commandButton id="lock" icon="fa fa-lock"  process="@form"
					      actionListener="#{crmView.lockAction}"
					      rendered="#{crmView.showActivateBtn eq 'false'}"
					      title="#{msg.lbl_lockCrm}" update="dataTableList" onstart="PF('blockUIForButtons').block()" 
					      oncomplete="PF('listViewWidgetVar').clearFilters() , PF('blockUIForButtons').unblock()" />
				    
					     <p:commandButton id="unlock" icon="fa fa-unlock" process="@form"
					      actionListener="#{crmView.unlockAction}"
					      rendered="#{crmView.showActivateBtn eq 'true'}"
					      title="#{msg.lbl_unlockCrm}" update="dataTableList" onstart="PF('blockUIForButtons').block()"
					      oncomplete="PF('listViewWidgetVar').clearFilters() , PF('blockUIForButtons').unblock()"  />
			            </div>    
				                 
                        <div class="ui-toolbar-group-right"> 
                         <p:commandButton id="delete" icon="fa fa-trash-o" actionListener="#{crmView.deleteAction}" 
                          title="#{msg.lbl_deleteCrm}" rendered="#{crmView.showActivateBtn eq 'true'}" onstart="PF('blockUIForButtons').block()"
                          oncomplete="PF('listViewWidgetVar').clearFilters()" update="crmListForm:messages">
					       <p:confirm header="#{msg.confirmation}" message="#{msg.delete_sure}" icon="ui-icon-alert" />
					     </p:commandButton>
					
                         <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                          <p:commandButton value="#{msg.btn_yes}" type="button" styleClass="ui-confirmdialog-yes"
                            icon="ui-icon-check fa fa-check Fs14 White" />
                          <p:commandButton value="#{msg.btn_no}" type="button" styleClass="ui-confirmdialog-no" 
                            icon="ui-icon-close fa fa-close Fs14 White" />
                         </p:confirmDialog>	
                        </div>
                      </div>
            
			           <p:dataTable id="dataTableList" var="crm" selection="#{crmView.selectedCrmList}" value="#{crmView.crmList}" 
			            rowsPerPageTemplate="#{sessionScope['USER_IN_CONTEXT'].actualDisplayRowsSize}"
						rows="#{sessionScope['USER_IN_CONTEXT'].displayRowsSize}" currentPageReportTemplate="#{msg.lbl_showing} {startRecord}-{endRecord} #{msg.lbl_outOf} {totalRecords}"
						rowKey="#{crm.id}" emptyMessage="#{msg.table_empty_msg}" 	widgetVar="listViewWidgetVar" 
						paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						paginator="true"  paginatorPosition="bottom" 	rowIndexVar="rowIndex" 
						filteredValue="#{crmView.filteredCrmList}" >
				
					    <f:facet name="header">
						 <div style="height: 50px;">
						   <table id="filter" style="margin-top: -15px;">
							<tr>
								<td align="left">
								   <p:inputText id="globalFilter"
								    onkeyup="PF('listViewWidgetVar').filter()" 
									placeholder="#{msg.lbl_search}" style="width:75%"/>
								</td>
									
								<td align="right">
									<p:commandButton id="toggler" type="button" class="GrayButton"
									  icon="fa fa-calculator" title="#{msg.btn_columns}"/>
									  <p:ajax event="page" oncomplete="updateToggles(PF('columnToggler'))" />
									  
									<p:columnToggler widgetVar="columnToggler" datasource="dataTableList" trigger="toggler" style="width:100%">
									  <p:ajax event="toggle" listener="#{crmView.onToggle}" />
									</p:columnToggler>
								</td>  
							 </tr>
						   </table>
						 </div>	
											
					    </f:facet>
					        <p:column  selectionMode="multiple" headerText="#{msg.lbl_select}" 
					         value="#{crm.checked}" style="width:54px;" class="TexAlCenter text-top" visible="#{crmView.togglerList[0]}">
						    </p:column>
						
						    <p:column headerText="#{msg.lbl_crmDetailView}" style="width:30%">
	                         <p:rowToggler />
	                        </p:column>
				            
							<p:column headerText="#{msg.lbl_crmIdentifier}" sortBy="#{crm.identifier}" filterMatchMode="contains"
						     filterBy="#{crm.identifier}" visible="#{crmView.togglerList[1]}" width="100%" >
						      <p:commandLink id="identifier" class="MarRight10" onclick="PF('bui').show()" 
						       value="#{crm.identifier}" action="#{crmView.listedViewAction(crm.identifier)}" onstart="PF('blockUIForButtons').block()"/>
						      <p:commandLink id="crmIdNewTab" action="#{crmView.listedViewAction(crm.identifier)}" 
						       ajax="false" target="_blank" >
							   <i class="icon-tab Fs22 bottom" title="#{msg.lbl_opennewtab}"></i>
							  </p:commandLink>
					        </p:column> 
									
					        <p:column  headerText="#{msg.lbl_compName}"   sortBy="#{crm.firstName}" filterMatchMode="contains"
					         filterBy="#{crm.firstName}" visible="#{crmView.togglerList[2]}" width="100%">
							 <h:outputText value="#{crm.title} #{crm.firstName} #{crm.surName}"  />
					        </p:column>
					
					        <p:column  headerText="#{msg.lbl_crmType}"  sortBy="#{crm.type}" filterMatchMode="contains"
					         filterBy="#{crm.type}" visible="#{crmView.togglerList[2]}" width="100%">
							 <h:outputText value="#{empty crm.type ? msg['type.'+=crm.type] : msg['type.'+=crm.type]}" />
					        </p:column>
					
						<p:rowExpansion >
							<p:commandLink id="identifier1" class="MarRight10" onclick="PF('bui').show()"  
							 action="#{crmView.listedViewAction(crm.identifier)}" ajax="false">
									
								<p:panelGrid  columns="4" columnClasses="label,value" style="width:100% !important"> 
									<f:facet name="header">
									   <p:graphicImage value="/moduleUploads/crm/#{crm.picture == null ? 'default.jpg' : crm.picture }" width="50px"/> 
									</f:facet>
						 
										<h:outputText for="street" value="#{msg.lbl_crmStreet}" />
										<h:outputText id="street"  value="#{crm.street}"  />
									
										<h:outputText value="#{msg.lbl_crmPhone}" />
										<h:outputText value="#{crm.telephone}"  />
				
										<h:outputText for="houseNo" value="#{msg.lbl_crmHouseNo}" />
										<h:outputText id="houseNo" value="#{crm.houseNumber}" />
										
										<h:outputText for="mobile" value="#{msg.lbl_crmMobile}" />
										<h:outputText id="mobile"  value="#{crm.mobile}"  />
							
										<h:outputText for="zip" value="#{msg.lbl_crmZip}" />
										<h:outputText id="zip" value="#{crm.zipCode}" placeholder="#{msg.lbl_crmZip}"/>
										
				
								        <h:outputText for="mail" value="#{msg.lbl_crmEmail}" />
				                        <h:outputText id="mail" value="#{crm.mail}"  />
								
				
										<h:outputText for="place" value="#{msg.lbl_crmPlace}" />
										<h:outputText id="place" value="#{crm.place}" />
										
										<h:outputText for="website" value="#{msg.lbl_crmWebsite}" />
										<h:outputText id="website" value="#{crm.website}" />
										
										<h:outputText for="country" value="#{msg.lbl_crmCountry}" />
										<h:outputText id="country" value="#{empty crm.country ? '' : msg['country.'+=crm.country]}"  />
										
										<h:outputText for="company" value="#{msg.lbl_compPerson}" rendered="#{crm.type ne 'true'}"/>
										<h:outputText id="company" value="#{crmView.filterInsitute(crm.company)}" rendered="#{crm.type ne 'true'}"/>
										
										<h:outputText for="companyHQ" value="#{msg.lbl_crmCompany}" rendered="#{crm.type eq 'true'}"/>
										<h:outputText id="companyHQ" value="#{crmView.filterInsitute(crm.company)}" rendered="#{crm.type eq 'true'}"/>
										
										<h:outputText for="additionalAddress" value="#{msg.lbl_crmAddress}" />
										<h:outputText id="additionalAddress" value="#{crm.additionalAddress}"  />
										
										<h:outputText for="branch" value="#{msg.lbl_crmBranch}" rendered="#{crm.type eq 'true'}"/> 
										<h:outputText id="branch" value="#{crm.branch eq 'true' ? msg.btn_yes : msg.btn_no}" rendered="#{crm.type eq 'true'}"/>
										
									    <p:row rendered="#{crm.type ne 'true'}" />
										<p:row rendered="#{crm.type ne 'true'}" />
									
										<h:outputText for="careOf" value="#{msg.lbl_crmCareOf}" />
							 			<h:outputText id="careOf" value="#{crm.careOf}" />
				                
										<h:outputText for="outpatientInpatientFacility" value="#{msg.lbl_crmFacility}" rendered="#{crm.type eq 'true'}"/>
										<h:outputText id="outpatientInpatientFacility" value="#{crm.outpatientInpatientFacility eq 'true' ? msg.btn_yes : msg.btn_no}" rendered="#{crm.type eq 'true'}"/>
										
										<p:row rendered="#{crm.type eq 'true'}" />
										<p:row rendered="#{crm.type eq 'true'}" />
										
										<h:outputText for="cooperationPartners" value="#{msg.lbl_crmPartners}"  rendered="#{crm.type eq 'true'}"/>
										<h:outputText id="cooperationPartners" value="#{crm.cooperationPartners eq 'true' ? msg.btn_yes : msg.btn_no}" 
										  rendered="#{crm.type eq 'true'}"/> 
				                
				        
				                </p:panelGrid> 
				            </p:commandLink>
				        </p:rowExpansion>
								
                     </p:dataTable>
                   </div>
                  </div>
                </p:panel>
                <!-- <p:blockUI block="dataTableList"  widgetVar="bui" trigger="btnShowAct, btnShowInact"/> 
                  <p:blockUI block="dataTableList" class="spinner" widgetVar="bui" trigger="dataTableList">#{msg.lbl_loading} <br />
       			   <p:graphicImage value="/images/ajax-loader.gif" style="margin-right: 12px; vertical-align: top;"/>
       			   <div class="EmptyBox10"></div>
   			    </p:blockUI> -->
   			    
   			    <pe:blockUI block="dataTableList" widgetVar="blockUIForButtons"   css="{top: '400px', left: '', right: '750px'}"  >  
					<h:panelGrid columns="1" style="text-align:center;">
      		 			<h:graphicImage library="images"  value="/images/ajax-loader.gif"/>
      		 	  		<h:outputText value="#{msg.lbl_loading}"/>  
             			<div class="EmptyBox10"></div>
    		 		</h:panelGrid>
			 	</pe:blockUI>
   			    
   			    <!-- <p:blockUI block="dataTableList" widgetVar="bui" trigger="btnShowAct, btnShowInact">  
			 
				<h2 class="TexAlLeft BigTopic" style="text-align:center;">#{msg.lbl_loading}</h2>
      		 	<h:graphicImage library="images"  value="/images/ajax-loader.gif" style="margin-right: 12px; vertical-align: top;"/> 
             	<div class="EmptyBox10"></div>
    		   
		   </p:blockUI> -->
   			 
              </h:form>
            </div>
          </div>
        </div>
      
	</ui:define>
</ui:composition>