<ui:composition template="/WEB-INF/templates/template.xhtml"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:pe="http://primefaces.org/ui/extensions"
     xmlns:p="http://primefaces.org/ui"
     xmlns:c="http://java.sun.com/jstl/core">
    <ui:define name="subheader">
         #{msg.hdr_crm}
    </ui:define>
    <ui:define name="content">
      <f:event type="preRenderView" listener="#{crmView.preRenderView}" /> 
       <f:metadata>
           <f:viewAction action="#{crmView.onLoadAction}"/>
       </f:metadata> 

		 <div class="Container70 Responsive100">
		  <div class="ContainerIndent">
			<div class="Card ShadowEffect ">
			 <div class="Container100 Responsive100">
			  <div class="ContainerIndent">
			     <h:form id="crmViewForm" enctype="multipart/form-data">
				  <p:messages id="messages" showDetail="true"
					 closable="true" escape="false"  />
					 	
					  <div class="ui-widget ui-widget-header ui-corner-all ui-helper-clearfix">
					    <div class="ui-toolbar-group-left">
				
						  <p:commandButton id="btnEdit" value="#{msg.btn_edit}"  icon="fa fa-pencil"  process="@this" 
						     action="#{crmView.editAction(crmView.crm.identifier)}" 
						     rendered= "#{crmView.crm.active eq 'Y'}" ajax="false" />
						     
						   <p:commandButton id="btnCancel" value="#{msg.btn_cancel}" icon="fa fa-close" 
							  action="#{crmView.cancelAction}" process="@this" ajax="false" >
						   </p:commandButton>
						   
						   <span class="ui-separator">
				               <span class="fa fa-ellipsis-v SoftGray"></span>
				           </span>
				           
						   <p:commandButton id="lock" icon="fa fa-lock" process="@form" 
							  action="#{crmView.lockViewedCrm(crmView.crm.identifier)}"
							  title="#{msg.lbl_lockCrm}" rendered="#{crmView.crm.active eq 'Y'}" />
							  
						   <p:commandButton id="unlock" icon="fa fa-unlock" process="@form" 
							  action="#{crmView.unlockViewedCrm(crmView.crm.identifier)}"
							  title="#{msg.lbl_unlockCrm}" rendered="#{crmView.crm.active eq 'N'}" />
				        </div>
				        <div class="ui-toolbar-group-right">
				           <p:commandButton id="delete" icon="fa fa-trash-o" process="@form" 
				              action="#{crmView.deleteViewedCrm(crmView.crm.identifier)}"
							  rendered="#{crmView.crm.active eq 'N'}" title="#{msg.lbl_deleteCrm}">
							 <p:confirm header="#{msg.confirmation}" message="#{msg.delete_sure}" icon="ui-icon-alert" />
						   </p:commandButton>
						   
						   <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
				            <p:commandButton value="#{msg.btn_yes}" type="button" styleClass="ui-confirmdialog-yes "
				               icon="ui-icon-check fa fa-check Fs14 White" />
				            <p:commandButton value="#{msg.btn_no}" type="button" styleClass="ui-confirmdialog-no "
				               icon="ui-icon-close fa fa-close Fs14 White" />
				           </p:confirmDialog>
				        </div>
					  </div>
					
					  <p:tabView id="tabView">
					    <p:tab title="#{msg.hdr_crm}"> 
						  <div class="Card SoftBlue ui-fluid" >
					       <div class="Container50  Responsive100">
					       	<div class="ContainerIndent " >
					                   
					          <p:panelGrid id="crmDetails" columns="2" layout="grid" style="border:0px !important; background:none;" cellpadding="2">
							 
							     <p:outputLabel for="picture" value="#{msg.lbl_crmPicture}"/>  
					             <p:graphicImage id="picture" value="/moduleUploads/crm/#{crmView.crm.picture == null? 'default.jpg' : crmView.crm.picture }" 
					                width="50px" /> 
					                
					             <p:outputLabel for="type" value="#{msg.lbl_crmType}"/> 
					             <p:outputLabel id="type" value="#{msg['type.'+=crmView.crm.type]}"/>  
					             
					             <p:outputLabel for="compname" value="#{msg.lbl_compName}" rendered="#{crmView.crm.type eq 'true'}"/>
								 <p:outputLabel id="compname" value="#{crmView.crm.firstName}" rendered="#{crmView.crm.type eq 'true'}"/>
								 
								 <p:outputLabel for="name" value="#{msg.lbl_compName}" rendered="#{crmView.crm.type eq 'false'}"/>
								 <p:outputLabel id="name" value="#{crmView.crm.firstName} #{crmView.crm.surName}" rendered="#{crmView.crm.type eq 'false'}"/>
								 
					             <p:outputLabel for="title" value="#{msg.lbl_crmTitle}" rendered="#{crmView.crm.type eq 'false'}"/>
					             <p:outputLabel id="title" value="#{crmView.crm.title}" rendered="#{crmView.crm.type eq 'false'}"/>
					             
					             <p:outputLabel for="company" value="#{msg.lbl_crmCompany}" rendered="#{crmView.crm.type eq 'true'}"/>
								 <p:outputLabel id="company" value="#{crmView.crm.company}" rendered="#{crmView.crm.type eq 'true'}"/>
								 
							</p:panelGrid>
							  
						  </div>
						</div>
				
					    <div class="Container50  Responsive100">
					      <div class="ContainerIndent " >
					               
					         <p:panelGrid id="companyDetails" columns="2" layout="grid" style="border:0px !important; background:none;">
					               
					             <p:outputLabel for="companyPerson" value="#{msg.lbl_compPerson}" rendered="#{crmView.crm.type ne 'true'}"/>
								 <p:outputLabel id="companyPerson" value="#{crmView.crm.company}" rendered="#{crmView.crm.type ne 'true'}"/>
								 
					
					
					             <p:outputLabel for="branch" value="#{msg.lbl_crmBranch}" rendered="#{crmView.crm.type eq 'true'}"/> 
								 <p:outputLabel id="branch" value="#{crmView.crm.branch eq 'true' ? msg.btn_yes : msg.btn_no}" rendered="#{crmView.crm.type eq 'true'}"/>
								 
								 <p:outputLabel value="#{msg.lbl_crmFacility}" rendered="#{crmView.crm.type eq 'true'}"/>
								 <p:outputLabel id="type1" value="#{crmView.crm.outpatientInpatientFacility eq 'true' ? msg.btn_yes : msg.btn_no}" rendered="#{crmView.crm.type eq 'true'}"/>
					             
								 <p:outputLabel value="#{msg.lbl_crmPartners}"  rendered="#{crmView.crm.type eq 'true'}"/>
								 <p:outputLabel id="type2" value="#{crmView.crm.cooperationPartners eq 'true' ? msg.btn_yes : msg.btn_no}" rendered="#{crmView.crm.type eq 'true'}"/>
					               
					         </p:panelGrid>
					      </div>
					    </div>
				     </div>
			
				     <div class="Container100  Responsive100">
				       <div class="ContainerIndent " >
				        <p:separator style="width:100%;" />
				       </div>
				     </div>
			
				     <div class="Card SoftBlue ui-fluid"  >
				       <div class="Container50  Responsive100">
				         <div class="ContainerIndent " >
				                	
				             <p:panelGrid id="personalDetails" columns="2" layout="grid" styleClass="ui-panelgrid-blank" cellpadding="2">
				              
					             <p:outputLabel for="street" value="#{msg.lbl_crmStreet}" />
								 <p:outputLabel id="street" value="#{crmView.crm.street}" />
								 
								 <p:outputLabel for="houseNo" value="#{msg.lbl_crmHouseNo}" />
					             <p:outputLabel id="houseNo" value="#{crmView.crm.houseNumber}" />
					             
					             <p:outputLabel for="zip" value="#{msg.lbl_crmZip}" />
								 <p:outputLabel id="zip" value="#{crmView.crm.zipCode}" placeholder="#{msg.lbl_crmZip}"/>
					                         
					             <p:outputLabel for="place" value="#{msg.lbl_crmPlace}" />
					             <p:outputLabel id="place" value="#{crmView.crm.place}" />
					             
					             <p:outputLabel for="country" value="#{msg.lbl_crmCountry}" />
					             <p:outputLabel id="country" value="#{not empty crmView.crm.country ? msg['country.'+=crmView.crm.country] : ''}" />
					             
					             <p:outputLabel for="additionalAddress" value="#{msg.lbl_crmAddress}"/> 
								 <p:outputLabel id="additionalAddress" value="#{crmView.crm.additionalAddress}" />
							     
							     <p:outputLabel for="careOf" value="#{msg.lbl_crmCareOf}" />
					             <p:outputLabel id="careOf" value="#{crmView.crm.careOf}" />
					                	
				              </p:panelGrid>	
				                	 
				          </div>
				        </div>
				                  
				        <div class="Container50  Responsive100">
				          <div class="ContainerIndent " >
				                    
					          <p:panelGrid id="contactDetails" columns="2" layout="grid" style="border:0px !important; background:none;" cellpadding="2">
					                    
					             <p:outputLabel for="phone" value="#{msg.lbl_crmPhone}" />
					             <p:outputLabel id="phone" value="#{crmView.crm.telephone}" />
					                	
					             <p:outputLabel for="mobile" value="#{msg.lbl_crmMobile}" />
					             <p:outputLabel id="mobile" value="#{crmView.crm.mobile}" />
							     
							     <p:outputLabel for="mail" value="#{msg.lbl_crmEmail}" />
					             <p:outputLabel id="mail" value="#{crmView.crm.mail}" />
							     
					             <p:outputLabel for="website" value="#{msg.lbl_crmWebsite}" />
							     <p:outputLabel id="website" value="#{crmView.crm.website}" />   	
					                                	
					          </p:panelGrid>
				         </div>
				        </div>
   	                   </div>
                    </p:tab>
                  </p:tabView >
         
                <p:row></p:row><div class="EmptyBox30"></div><p:row></p:row>
         
		        <div class="ui-widget ui-widget-header ui-corner-all ui-helper-clearfix">
			      <div class="ui-toolbar-group-left">
			      
			      <p:commandButton id="crmAddNotes" styleClass="btn" value="#{msg.btn_addNotes}"  icon="fa fa-plus"
					  rendered= "#{crmView.crm.active eq 'Y'}" process="@this" oncomplete="PF('myCrmAddNotesDialog').show();"  />
						<p:dialog id="createCrmNew" stickyHeader="true"  appendBody="false" header="#{msg.hdr_crmAddNotes} #{crmView.addNotes.name}"
		          	        widgetVar="myCrmAddNotesDialog" class="GrayModena Geometry"  aria-hidden="false" aria-live="polite"
		          	        style="width: auto !important; max-height:100% !important; max-width: 100%;
		          	        height: auto !important; z-index: 1005" resizable="false" responsive="true" modal="true"  >
		          	        <ui:include src="/views/crm/addNotes.xhtml" />
		        		</p:dialog> 
		        		 
		           </div>
		         </div>	 
                <p:tabView id="tabViewAddNotes" >
                   <p:tab title="#{msg.lbl_addNotes}"> 
					<div class="Card SoftBlue ui-fluid" >
				      <div class="Container100  Responsive100">
				       	<div class="ContainerIndent " >
       	       
					       	<p:dataGrid var="addNotes" value="#{crmView.addNotesList}" columns="1" layout="grid" emptyMessage="#{msg.table_empty_msg}">
					       	
					       	  <div class="Card SoftBlue ui-fluid"  >
					            <div class="Container30  Responsive100">
					               <div class="ContainerIndent " >
					                	
					                 <p:panelGrid id="addNotesPanelGrid" columns="1" layout="grid" styleClass="ui-panelgrid-blank" cellpadding="2" >
					
					       				<p:outputLabel value="#{addNotes.createTime}">
					       	              <f:convertDateTime type="both"  timeZone="#{sessionScope['USER_IN_CONTEXT'].timeZone}" />
					       	            </p:outputLabel>       	             	
					
					       			 </p:panelGrid>
					                
					               </div>
					            </div>
					           <div class="Container70  Responsive100">
					             <div class="ContainerIndent " >
					                  
					               <p:panelGrid id="addNotes" columns="2" layout="grid" styleClass="ui-panelgrid-blank" cellpadding="2" columnClasses="ui-grid-col-9,ui-grid-col-1" >
					                  
						       	    <p:outputLabel value="#{crmView.getUserFullName(addNotes.createBy)}" 	/>
						       	    <p:graphicImage  class ="Fright Fs30 circlesmallicon" 
						            value="/images/#{empty crmView.getUserImage(addNotes.createBy) ? 'default.jpg' : crmView.getUserImage(addNotes.createBy)}"></p:graphicImage> 
					       	          
					       	      </p:panelGrid>
					       	      
					              <p:panelGrid id="notes" columns="1" layout="grid" styleClass="ui-panelgrid-blank"   >
					       	
					       	          <h:outputText value="#{addNotes.notes}"  escape="false" style="word-wrap:break-word;"/>
					       	       	
					       	      </p:panelGrid>
					       	    </div>
					       	  </div>
					        </div>
					      </p:dataGrid>
       	              </div>
       	          </div>
            	</div>
       	     </p:tab>
          	</p:tabView>
         </h:form>
         </div>
        </div>
       </div>
      </div>
    </div>
    <div class="Container30 Responsive100">
	 <div class="ContainerIndent">
	  <div class="Card ShadowEffect HeiAutoOnMobile">
		<h2 class="CardTopic"><i class="icon-info"></i>#{msg.hdr_info}</h2><div class="EmptyBox10"></div>
		  <div class="SeparatorFull"></div>
            <div class="EmptyBox10"></div>
					
		    <p:panelGrid columns="3" layout="grid" columnClasses="ui-grid-col-5,ui-grid-col-6,ui-grid-col-1" 
			   style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank" cellpadding="2">
									
				<p:outputLabel for="createdBy" value="#{msg.lbl_createdBy}: " />
				<p:outputLabel id="createdBy" value="#{crmView.getUserFullName(crmView.crm.createBy)}"	/>
	            <p:graphicImage  class ="Fright Fs30 circlesmallicon" 
	               value="/images/#{empty crmView.getUserImage(crmView.crm.createBy) ? 'default.jpg' : crmView.getUserImage(crmView.crm.createBy)}"></p:graphicImage>
								        
				<p:outputLabel for="createdTime" value="#{msg.lbl_createdOn}: " />
				<p:outputLabel id="createdTime" value="#{crmView.crm.createTime}">
					<f:convertDateTime type="both"  timeZone="#{sessionScope['USER_IN_CONTEXT'].timeZone}" />
				</p:outputLabel>
	            
	                                    
				<p:row rendered="#{crmView.crm.updateBy ne null}"><div class="EmptyBox30"></div></p:row>
								        
				<p:outputLabel for="updateBy" value="#{msg.lbl_lastUpdatedBy}: " />
				<p:outputLabel id="updateBy" value="#{crmView.getUserFullName(crmView.crm.updateBy)}"	/>
	            <p:graphicImage class ="Fright Fs30 circlesmallicon" 
	               value="/images/#{empty crmView.getUserImage(crmView.crm.updateBy) ? 'default.jpg' : crmView.getUserImage(crmView.crm.updateBy)}"></p:graphicImage>
								        
				<p:outputLabel for="updatedTime" value="#{msg.lbl_lastUpdatedOn}: " />
				<p:outputLabel id="updatedTime" value="#{crmView.crm.updateTime}">
					<f:convertDateTime type="both"  timeZone="#{sessionScope['USER_IN_CONTEXT'].timeZone}" />
				</p:outputLabel>
	            
	            
	             <p:row rendered="#{crmView.crm.lockedBy ne null}"><div class="EmptyBox30"></div></p:row>
	                                    
	            <p:outputLabel for="lockedBy" rendered="#{crmView.crm.lockedBy ne null}" value="#{msg.lbl_lockedBy}: " />
			    <p:outputLabel id="lockedBy" rendered="#{crmView.crm.lockedBy ne null}" value="#{crmView.getUserFullName(crmView.crm.lockedBy)}"	/>
				<p:graphicImage class ="Fright Fs30 circlesmallicon" rendered="#{crmView.crm.lockedBy ne null}" value="/images/#{empty crmView.getUserImage(crmView.crm.lockedBy) ? 'default.jpg' : crmView.getUserImage(crmView.crm.lockedBy)}"></p:graphicImage>
								
				<p:outputLabel for="lockedTime" rendered="#{crmView.crm.lockedTime ne null}" value="#{msg.lbl_lockedTime}: " />
				<p:outputLabel id="lockedTime" rendered="#{crmView.crm.lockedTime ne null}" value="#{crmView.crm.lockedTime}"	>
					<f:convertDateTime type="both"  timeZone="#{sessionScope['USER_IN_CONTEXT'].timeZone}" />
				</p:outputLabel>
				
								
				<p:row rendered="#{crmView.crm.unlockedBy ne null}"><div class="EmptyBox30"></div></p:row>
															
				<p:outputLabel for="unlockedBy" rendered="#{crmView.crm.unlockedBy ne null}" value="#{msg.lbl_unlockedBy}: " />
				<p:outputLabel id="unlockedBy" rendered="#{crmView.crm.unlockedBy ne null}" value="#{crmView.getUserFullName(crmView.crm.unlockedBy)}  "	/>
				<p:graphicImage class ="Fright Fs30 circlesmallicon" rendered="#{crmView.crm.unlockedBy ne null}" value="/images/#{empty crmView.getUserImage(crmView.crm.unlockedBy) ? 'default.jpg' : crmView.getUserImage(crmView.crm.unlockedBy)}"></p:graphicImage>
								
				<p:outputLabel for="unlockedTime" rendered="#{crmView.crm.unlockedTime ne null}" value="#{msg.lbl_unlockedTime}: " />
				<p:outputLabel id="unlockedTime" rendered="#{crmView.crm.unlockedTime ne null}" value="#{crmView.crm.unlockedTime}"	>
				   <f:convertDateTime type="both"  timeZone="#{sessionScope['USER_IN_CONTEXT'].timeZone}" />
				</p:outputLabel>
				
			
            </p:panelGrid>
           </div>
          </div>
         </div>
      </ui:define>
   </ui:composition>