<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui">
	<ui:define name="subheader">
        #{msg.hdr_authorization}
    </ui:define>
	<ui:define name="content">
		<f:event type="preRenderView" listener="#{authorizationView.preRenderView}" />
		<f:metadata>
           <f:viewAction action="#{authorizationView.onLoadAction}"/>
     	</f:metadata>
     	<div id="user" class="Container100">
			<div class="ContainerIndent">
				<div class="Card ShadowEffect">
					<div class="Container100 Responsive100 ui-fluid">
						<div class="ContainerIndent">
		<h:form id="form">
			<p:messages id="messages" globalOnly="true" showDetail="true"
				autoUpdate="true" closable="true" escape="false" />
				<p:panelGrid id="panel2" columns="3" style="border:1px !important; background:none;"
											styleClass="ui-panelgrid-blank ui-responsive">
			<p:commandButton value="#{msg.btn_save}" id="btnSave" icon="fa fa-save"
				actionListener="#{authorizationView.saveAction}" process="@form" update="form" />
			<p:commandButton value="#{msg.btn_cancel}" id="btnCancel" icon="fa fa-close"
				action="#{authorizationView.cancelAction}" process="@this"/>
				</p:panelGrid>
				
			<p:tabView id="pnl">
				<p:tab title="#{msg.hdr_authorization}">
					<p:panelGrid id="blo2" columns="2" layout="grid" style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank">
						        
						        
								<p:outputLabel for="division" value="#{msg.lbl_divisions}" />
            				    <p:selectOneMenu id="division" value="#{authorizationView.authorization.division}"
									required="true"	disabled="#{authorizationView.authorization.active eq 'N'}">
									<f:selectItem itemLabel="#{msg.lbl_select}" itemValue="" noSelectionOption="true" />
									<f:selectItems value="#{authorizationView.divisionList}" var="divisions" itemValue="#{divisions.name}"
										itemLabel="#{divisions.name}" itemLabelEscaped="true" />
								</p:selectOneMenu>
							   
							    
							   
            					<p:outputLabel for="level" value="#{msg.lbl_authorizationlevel}" />
            					<p:inputText id="level" value="#{authorizationView.authorization.level}" required="true"
									requiredMessage="#{msg.err_authorization}" /> 
								
							
							    
            					<p:outputLabel for="authUser" value="#{msg.lbl_user}" />
					            <p:autoComplete id="authUser" required="true" forceSelection="true"  var="names"
					            	value="#{authorizationView.selectedUsers}" multiple="true"
					            	itemLabel="#{names}" itemValue="#{names}"
					               completeMethod="#{authorizationView.completeUser}" style="width:50% !important"> 
                                </p:autoComplete>
						</p:panelGrid>	
				</p:tab>
			</p:tabView>
			<p:blockUI block="pnl" widgetVar="bui">#{msg.lbl_loading}<br /> 
       			<p:graphicImage  value="/images/ajax-loader.gif"/>
       			</p:blockUI>
		</h:form>
	   </div>
	  </div>
	 </div>
	</div>
  </div>
 </ui:define>
</ui:composition>