<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui">
	<ui:define name="subheader">
        #{msg.hdr_authorization}
    </ui:define>
	<ui:define name="content">
		<f:event type="preRenderView" listener="#{authorizationView.preRenderView}" />
		<f:metadata>
			<f:viewAction action="#{authorizationView.onLoadAction}" />
		</f:metadata>
        <div class="Container100">
            <div class="ContainerIndent">
                <div class="Card ShadowEffect">
                    <div class="Container100  Responsive100">
                     <div class="ContainerIndent">
                        <h2 class="TexAlCenter BigTopic"> #{msg.hdr_authorizationlist}</h2>
		                   <h:form id="authorizationListForm">
			                    <p:messages id="messages" globalOnly="true" showDetail="true" autoUpdate="true" closable="true" escape="false" />
				                   <div class="ui-widget ui-widget-header ui-corner-all ui-helper-clearfix"><div class="ui-toolbar-group-left">
				                            <p:commandButton value="#{msg.btn_add}" id="btnAdd" icon="fa fa-plus"
					                           action="#{authorizationView.addAction}" />
				                        <p:commandButton value="#{msg.btn_show_act_auth}" id="btnShowAct" actionListener="#{authorizationView.showActive}"
					                       disabled="#{authorizationView.showActiveListBtn eq 'false'}" process="@this" update="authorizationListForm"
					                       oncomplete="PF('listTableWidgetVar').clearFilters()">
				                        </p:commandButton>
				                        <p:commandButton value="#{msg.btn_show_inact_auth}" id="btnShowInact" actionListener="#{authorizationView.showInactive}"
					                       disabled="#{authorizationView.showActiveListBtn eq 'true'}" process="@this" update="authorizationListForm"
					                       oncomplete="PF('listTableWidgetVar').clearFilters()">
				                        </p:commandButton>
				                        <span class="ui-separator">
                                                 <span class="fa fa-ellipsis-v SoftGray"></span>
                                        </span>
				                        <p:commandButton id="lock" icon="fa fa-lock" process="@form" title="#{msg.lbl_lockAuth}" actionListener="#{authorizationView.lockAction}"
					                       rendered="#{authorizationView.showActivateBtn eq 'false'}" oncomplete="PF('listTableWidgetVar').clearFilters()" />
				                        <p:commandButton id="unlock" icon="fa fa-unlock" process="@form" title="#{msg.lbl_unlockAuth}" actionListener="#{authorizationView.unlockAction}"
					                       rendered="#{authorizationView.showActivateBtn eq 'true'}" oncomplete="PF('listTableWidgetVar').clearFilters()" />
				                        </div>
                                           <div class="ui-toolbar-group-right">
				                        <p:commandButton id="delete" icon="fa fa-trash" process="@form" title="#{msg.lbl_deleteAuth}" actionListener="#{authorizationView.deleteAction}"
					                       rendered="#{authorizationView.showActivateBtn eq 'true'}" oncomplete="PF('listTableWidgetVar').clearFilters()" >
					                    <p:confirm header="#{msg.confirmation}" message="#{msg.delete_sure}" icon="ui-icon-alert" />
			                            </p:commandButton>
			                            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                                                <p:commandButton value="#{msg.btn_yes}" type="button" styleClass="ui-confirmdialog-yes " icon="ui-icon-check fa fa-check Fs14 White" />
                                                <p:commandButton value="#{msg.btn_no}" type="button" styleClass="ui-confirmdialog-no " icon="ui-icon-close fa fa-close Fs14 White" />
                                        </p:confirmDialog>
			                          </div>
			                       </div>
			                       
			<p:dataTable id="listTable" var="authorizations" selection="#{authorizationView.selectedDocs}" value="#{authorizationView.authorizationList}" 
			    rowsPerPageTemplate="#{sessionScope['USER_IN_CONTEXT'].actualDisplayRowsSize}"
				rows="#{sessionScope['USER_IN_CONTEXT'].displayRowsSize}"
				currentPageReportTemplate="#{msg.lbl_showing} {startRecord}-{endRecord} #{msg.lbl_outOf} {totalRecords}"
				rowKey="#{authorizations.id}" emptyMessage="#{msg.table_empty_msg}" 	widgetVar="listTableWidgetVar" 
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				paginator="true"  paginatorPosition="bottom" 	rowIndexVar="rowIndex" 
				filteredValue="#{authorizationView.filteredAuthorizationList}"
				reflow="true" tableStyle="table-layout: auto;">
				<f:facet name="header">
				<div style="height: 50px;">
				<table id="filter" style="margin-top: -15px;">
					<tr>
						<td align="left">
							<p:inputText id="globalFilter"
							onkeyup="PF('listTableWidgetVar').filter()"
							placeholder="#{msg.lbl_search}" style="width:75%"/>
						</td>
						
						<td align="right">
						 <p:commandButton id="toggler" type="button" class="GrayButton"
							icon="fa fa-calculator" title="#{msg.btn_columns}"/>
							<p:ajax event="page" oncomplete="updateToggles(PF('columnToggler'))" />
						<p:columnToggler widgetVar="columnToggler" datasource="listTable" trigger="toggler" style="width:100%">
						 <p:ajax event="toggle" listener="#{authorizationView.onToggle}" />
						 </p:columnToggler>
						</td>
					</tr>
				</table>
			    </div>	
				</f:facet>
			      
			                 <p:column  selectionMode="multiple" visible="#{authorizationView.togglerList[0]}" headerText="#{msg.lbl_select}" 
				               value="#{authorizations.checked}" style="width:54px;" class="TexAlCenter text-top" >
				             </p:column>
			     
				             <p:column headerText="#{msg.lbl_authorizationlevel}" visible="#{authorizationView.togglerList[1]}" sortBy="#{authorizations.level}" filterMatchMode="contains"
					           filterBy="#{authorizations.level}" >
					         <p:commandLink id="level" class="MarRight10" value="#{authorizations.level}" 
					            action="#{authorizationView.viewAction(authorizations.id)}" />
					         <p:commandLink id="authorizationIdNewTab" action="#{authorizationView.viewAction(authorizations.id)}" ajax="false" target="_blank" oncomplete="PF('bui').hide()">
					            <i class="icon-tab Fs22 bottom" title="#{msg.lbl_opennewtab}"></i>
					         </p:commandLink>   
				             </p:column>
						     <p:column headerText="#{msg.lbl_divisions}"
					            sortBy="#{authorizations.division}" visible="#{authorizationView.togglerList[2]}" filterMatchMode="contains"
					            filterBy="#{authorizations.division}" >
					         <h:outputText value="#{authorizations.division}" />
				             </p:column>
				              <p:column headerText="#{msg.lbl_user}"
					            sortBy="#{authorizations.authUser}" visible="#{authorizationView.togglerList[3]}" filterMatchMode="contains"
					            filterBy="#{authorizations.authUser}" >
					          <h:outputText value="#{authorizations.authUser}" />
				            </p:column> 
				 </p:dataTable>
				 <p:blockUI block="listTable"  widgetVar="bui"/>
		   <p:blockUI block="listTable" class="spinner" trigger="listTable,btnAdd, btnShowAct, btnShowInact">
       	   <p:graphicImage class="spinner" value="/images/ajax-loader.gif"/>
		   </p:blockUI> 
		     </h:form>
		  </div>
		</div>
	  </div>
	 </div>
	</div>
  </ui:define>
</ui:composition>