<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jstl/core">
	<ui:define name="subheader">
      #{msg.hdr_authorization}
    </ui:define>
	<ui:define name="content">
		<f:event type="preRenderView"
			listener="#{authorizationView.preRenderView}" />
		<f:metadata>
			<f:viewAction action="#{authorizationView.onLoadAction}" />
		</f:metadata>
		<div class="Container70 Responsive100">
			<div class="ContainerIndent">
				<div class="Card ShadowEffect ">
					<div class="Container100 Responsive100">
						<div class="ContainerIndent">
							<h:form id="form" enctype="multipart/form-data">
								<p:messages id="messages" globalOnly="true" showDetail="true"
									autoUpdate="true" closable="true" escape="false" />
								<div class="ui-widget ui-widget-header ui-corner-all ui-helper-clearfix"><div class="ui-toolbar-group-left">
									<p:commandButton  value="#{msg.btn_edit}" rendered="#{authorizationView.authorization.active eq 'Y'}" id="btnEdit" icon="fa fa-pencil"
										action="#{authorizationView.editAction(authorizationView.authorization.id)}" />
									<p:commandButton  value="#{msg.btn_cancel}" id="btnCancel" icon="fa fa-close"
										action="#{authorizationView.cancelAction}" process="@this" />
									<span class="ui-separator">
                                          <span class="fa fa-ellipsis-v SoftGray"></span>
                                    </span>
									<p:commandButton id="lock" icon="fa fa-lock" process="@form" 
										actionListener="#{authorizationView.lockViewedAuthorization(authorizationView.authorization.id)}"
										title="#{msg.lbl_lockAuth}" rendered="#{authorizationView.authorization.active eq 'Y'}" />
									<p:commandButton id="unlock" icon="fa fa-unlock" process="@form" 
			                                     actionListener="#{authorizationView.unlockViewedAuthorization(authorizationView.authorization.id)}"
				                                 title="#{msg.lbl_unlockAuth}" rendered="#{authorizationView.authorization.active eq 'N'}"  />
									 </div>
                               	     <div class="ui-toolbar-group-right">
									 <p:commandButton id="delete" icon="fa fa-trash-o" process="@form" 
                                        action="#{authorizationView.deleteViewedAuthorization(authorizationView.authorization.id)}"
				                        rendered="#{authorizationView.authorization.active eq 'N'}" title="#{msg.lbl_deleteAuth}">
			                            <p:confirm header="#{msg.confirmation}" message="#{msg.delete_sure}" icon="ui-icon-alert" />
			                         </p:commandButton>
				                     <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                                     <p:commandButton value="#{msg.btn_yes}" type="button" styleClass="ui-confirmdialog-yes "
                                        icon="ui-icon-check fa fa-check Fs14 White" />
                                     <p:commandButton value="#{msg.btn_no}" type="button" styleClass="ui-confirmdialog-no "
                                        icon="ui-icon-close fa fa-close Fs14 White" />
                                     </p:confirmDialog>
				                 </div>
				               </div>
		  <p:tabView>
			 <p:tab title="#{msg.hdr_authorization}">
				    <p:panelGrid columns="4" layout="grid" style="border:0px !important; background:none;">
				    
				               <div class="EmptyBox20"></div>
				               <p:outputLabel for="division" value="#{msg.lbl_divisions}" />
				               <p:outputLabel id="division"  value="#{authorizationView.authorization.division}" required="true" disabled="true" />
				               <p:message for="division" display="text" showDetail="true" autoUpdate="true" escape="false"/>
				               
				               <div class="EmptyBox20"></div>
				               <p:outputLabel for="level" value="#{msg.lbl_authorizationlevel}" />
				               <p:outputLabel id="level" value="#{authorizationView.authorization.level}" required="true" disabled="true" />
				               <p:message for="level" display="text" showDetail="true" autoUpdate="true" escape="false"/>
				               
				               <div class="EmptyBox20"></div>
				               <p:outputLabel for="authUser" value="#{msg.lbl_user}" />
				               <p:outputLabel id="authUser" value="#{authorizationView.authorization.authUser}" required="true" disabled="true" />
				               <p:message for="authUser" display="text" showDetail="true" autoUpdate="true" escape="false"/>
				               
				        </p:panelGrid>
				   </p:tab>
			  </p:tabView>
		    </h:form>
		  </div>
		 </div>
		</div>
	   </div>
	  </div>
	   <div class="Container30 Responsive100">
						<div class="ContainerIndent">
						<div class="Card ShadowEffect HeiAutoOnMobile">
						<h2 class="CardTopic" ><i class="icon-info"></i>#{msg.hdr_info}</h2><div class="EmptyBox10"></div>
						   <div class="SeparatorFull"></div>
                        <div class="EmptyBox10"></div>
						     <p:panelGrid columns="3" layout="grid" columnClasses="ui-grid-col-5,ui-grid-col-6,ui-grid-col-1" style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank" >
									
									<p:outputLabel for="createBy" value="#{msg.lbl_createdBy}: " />
							        <p:outputLabel id="createBy" value="#{authorizationView.getUserFullName(authorizationView.authorization.createBy)}"	/>
                                    <p:graphicImage  class ="Fright Fs30 circlesmallicon" value="/images/#{empty authorizationView.getUserImage(authorizationView.authorization.createBy) ? 'default.jpg' : authorizationView.getUserImage(authorizationView.authorization.createBy)}"></p:graphicImage>
							        
							        <p:outputLabel for="createTime" value="#{msg.lbl_createdOn}: " />
							        <p:outputLabel id="createTime" value="#{authorizationView.authorization.createTime}"	/>
                                    <div class="EmptyBox10"></div>
                                    
							        <p:outputLabel for="updateBy" value="#{msg.lbl_lastUpdatedBy}: " />
							        <p:outputLabel id="updateBy" value="#{authorizationView.getUserFullName(authorizationView.authorization.updateBy)}"	/>
                                    <p:graphicImage class ="Fright Fs30 circlesmallicon" value="/images/#{empty authorizationView.getUserImage(authorizationView.authorization.updateBy) ? 'default.jpg' : authorizationView.getUserImage(authorizationView.authorization.updateBy)}"></p:graphicImage>
							        
							        <p:outputLabel for="updateTime" value="#{msg.lbl_lastUpdatedOn}: " />
							        <p:outputLabel id="updateTime" value="#{authorizationView.authorization.updateTime}"	/>
                                    <div class="EmptyBox10"></div>
                                    
                            <p:outputLabel for="lockedBy" rendered="#{authorizationView.authorization.lockedBy ne null}" value="#{msg.lbl_lockedBy}: " />
							<p:outputLabel id="lockedBy" rendered="#{authorizationView.authorization.lockedBy ne null}" value="#{authorizationView.getUserFullName(authorizationView.authorization.lockedBy)}"	/>
							<p:graphicImage class ="Fright Fs30 circlesmallicon" rendered="#{authorizationView.authorization.lockedBy ne null}" value="/images/#{empty authorizationView .getUserImage(authorizationView.authorization.lockedBy) ? 'default.jpg' : authorizationView.getUserImage(authorizationView.authorization.lockedBy)}"></p:graphicImage>
							
							<p:outputLabel for="lockedTime" rendered="#{authorizationView.authorization.lockedTime ne null}" value="#{msg.lbl_lockedTime}: " />
							<p:outputLabel id="lockedTime" rendered="#{authorizationView.authorization.lockedTime ne null}" value="#{authorizationView.authorization.lockedTime}"	>
							<f:convertDateTime type="both"  timeZone="#{sessionScope['USER_IN_CONTEXT'].timeZone}" />
							</p:outputLabel>
							<div class="EmptyBox10"></div>
							
							<p:row></p:row><div class="EmptyBox10"></div><p:row></p:row>
							<!-- <h:outputText value="&#160;" rendered="#{qmsDocumentView.documents.unlockedBy ne null}" /><h:outputText value="&#160;" rendered="#{qmsDocumentView.documents.unlockedBy ne null}" /><h:outputText value="&#160;" rendered="#{qmsDocumentView.documents.unlockedBy ne null}" /> -->
							
							<p:outputLabel for="unlockedBy" rendered="#{authorizationView.authorization.unlockedBy ne null}" value="#{msg.lbl_unlockedBy}: " />
							<p:outputLabel id="unlockedBy" rendered="#{authorizationView.authorization.unlockedBy ne null}" value="#{authorizationView.getUserFullName(authorizationView.authorization.unlockedBy)}  "	/>
							<p:graphicImage class ="Fright Fs30 circlesmallicon" rendered="#{authorizationView.authorization.unlockedBy ne null}" value="/images/#{empty authorizationView.getUserImage(authorizationView.authorization.unlockedBy) ? 'default.jpg' : authorizationView.getUserImage(authorizationView.authorization.unlockedBy)}"></p:graphicImage>
							
							<p:outputLabel for="unlockedTime" rendered="#{authorizationView.authorization.unlockedTime ne null}" value="#{msg.lbl_unlockedTime}: " />
							<p:outputLabel id="unlockedTime" rendered="#{authorizationView.authorization.unlockedTime ne null}" value="#{authorizationView.authorization.unlockedTime}"	>
							<f:convertDateTime type="both"  timeZone="#{sessionScope['USER_IN_CONTEXT'].timeZone}" />
							</p:outputLabel>
							<div class="EmptyBox10"></div>
							 </p:panelGrid>
							 
						</div>
				</div>
			  </div>
	</ui:define>
  </ui:composition>