<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pm="http://primefaces.org/modena"
     xmlns:fn="http://java.sun.com/jsp/jstl/functions"
   	 xmlns:c="http://java.sun.com/jsp/jstl/core"
     xmlns:pe="http://primefaces.org/ui/extensions"
 >
<pe:importConstants className="com.orb.common.client.constants.CommonConstants" var="CommonConstants" />  

    <div class="Animated05" id="layout-menu-cover">
        <h:form id="menuform">
            <pm:menu model="#{layoutMenu.model}"/>
        </h:form>
    </div>

</ui:composition>