<!DOCTYPE html>

<html lang="en"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:p="http://primefaces.org/ui"
     xmlns:fn="http://java.sun.com/jsp/jstl/functions"
   	 xmlns:c="http://java.sun.com/jsp/jstl/core"
     xmlns:pe="http://primefaces.org/ui/extensions"
>
<pe:importConstants className="com.orb.common.client.constants.CommonConstants" var="CommonConstants" />  
    <h:head>
        <title>#{ADMIN_CONF['companyName']}</title>
		<ui:insert name="cssInclude"></ui:insert>
		<h:outputStylesheet name="css/layout.css" />
		<link rel="shortcut icon" type="image/x-icon" href="#{request.getContextPath()}/images/#{ADMIN_CONF['favIcon']}"/>
		
    </h:head>
    <h:body>
        <p:layout fullPage="true">
         	<p:layoutUnit position="north" id="topbar">
         		<h:form id="topMenuBar">
   					
   					<p:menubar model="#{layoutMenu.topMenuModel}" autoDisplay="false" styleClass="ui-widget-header">
   						<p:menuitem>
   							<p:link href="/common/process/dashboard/loadDashboard.html">
   							<h:graphicImage value="/images/#{ADMIN_CONF['layoutLogo']}" styleClass="layoutLogo"/></p:link>
					    </p:menuitem>
		   				 <f:facet name="options">
		   				 
		   				 	<p:button  id="adminBtn" icon="fa fa-user-md" value="Administration" href="/common/process/admin/loadAdminPage.html"/>
		   				 	<p:tooltip for="adminBtn" value="Admin Settings"/>
		   				 	 
		   				 	<p:commandButton  id="msgBtn" icon="fa fa-envelope-o" value="#{layoutMenu.messages}"/>
		   				 	<p:tooltip for="msgBtn" value="Messages"/>
						    <p:overlayPanel id="msgPanel" for="msgBtn" hideEffect="fade">
						    	 <p:panelGrid styleClass="mntPanels">
						    		 <f:facet name="header"><p:row><p:column>you have #{layoutMenu.messages} Messages</p:column></p:row></f:facet>
								    <ui:repeat value="#{layoutMenu.messageList}" var="messagesVar">
								    	<p:row><p:column><p:commandLink>#{messagesVar.from}<small><span class="alignright" style="font-size: xx-small;"><span class="fa fa-clock-o"></span>#{messagesVar.time}</span></small><br/>#{messagesVar.subject}</p:commandLink></p:column></p:row>
						            </ui:repeat>
								    <f:facet name="footer"><p:row><p:column><a href="#" >See All Messages</a></p:column></p:row></f:facet>
						    	</p:panelGrid>
						    </p:overlayPanel>
						    
						    <p:commandButton  id="notificationBtn" icon="fa fa-bell-o" value="#{layoutMenu.notifications}" />
						    <p:tooltip for="notificationBtn" value="Notifications"/>
						    <p:overlayPanel id="notificationPanel" for="notificationBtn" hideEffect="fade" >
						        <p:panelGrid styleClass="mntPanels">
						        	<f:facet name="header"><p:row><p:column>you have #{layoutMenu.notifications} Notifications</p:column></p:row></f:facet>
								    <ui:repeat value="#{layoutMenu.messageList}" var="messagesVar">
								    	<p:row><p:column><p:commandLink>#{messagesVar.from}<small><span class="alignright" style="font-size: xx-small;"><span class="fa fa-clock-o"></span>#{messagesVar.time}</span></small><br/>#{messagesVar.subject}</p:commandLink></p:column></p:row>
						            </ui:repeat>
								    <f:facet name="footer"><p:row><p:column><a href="#" >See All Notifications</a></p:column></p:row></f:facet>
						    	</p:panelGrid>
						    </p:overlayPanel>
						    
						    <p:commandButton  id="taskBtn" icon="fa fa-file-text-o" value="#{layoutMenu.tasks}" />
						    <p:tooltip for="taskBtn" value="Tasks"/>
						    <p:overlayPanel id="taskPanel" for="taskBtn" hideEffect="fade" >
						        <p:panelGrid styleClass="mntPanels">
						    		 <f:facet name="header"><p:row><p:column>you have #{layoutMenu.tasks} Tasks</p:column></p:row></f:facet>
						    		<ui:repeat value="#{layoutMenu.messageList}" var="messagesVar">
								    	<p:row><p:column><p:commandLink>#{messagesVar.from}<span class="alignright" style="font-size: xx-small;"><span class="fa fa-clock-o"></span>#{messagesVar.time}</span><br/>#{messagesVar.subject}</p:commandLink></p:column></p:row>
						            </ui:repeat>
								    <f:facet name="footer"><p:row><p:column><a href="#" >See All Tasks</a></p:column></p:row></f:facet>
						    	</p:panelGrid>
						    </p:overlayPanel>
						    
						    <p:commandButton  id="settingBtn" icon="fa fa-gears"/>
		   				 	<p:tooltip for="settingBtn" value="Page Settings"/>
						    <p:overlayPanel id="settingPanel" for="settingBtn" hideEffect="fade">
						    	<p:panelGrid styleClass="mntPanels">
						    		 <f:facet name="header">
								        <p:row>
								            <p:column>Page Settings</p:column>
								        </p:row>
								    </f:facet>
						    		<p:row>
								        <p:column>
								        	<p:commandButton value="Top Menu" id="topMenu" actionListener="#{layoutMenu.topMenuBar}" ajax="false"/>
								        	<p:commandButton value="Side Menu" id="sideMenu" actionListener="#{layoutMenu.sideMenuBar}" ajax="false"/>
								        </p:column>
								    </p:row>
								    <p:row>
								        <p:column>
								        	<p:outputLabel for="themeSwitcher" value="Theme:" />
								        	<p:spacer width="15px"/>
				 				        	<p:themeSwitcher id="themeSwitcher" value="#{layoutMenu.user.theme}" style="vertical-align:middle; margin-bottom: 2px;">
				 				        	   <p:ajax listener="#{layoutMenu.saveTheme}"/>
									           <f:selectItems value="#{themeSwitcherView.themes}"/>
									      	</p:themeSwitcher>
								        </p:column>
								    </p:row>
						    	</p:panelGrid>
						    </p:overlayPanel>
						    
						    <p:commandButton  id="userBtn" icon="fa fa-user" value="#{layoutMenu.user.userId}"/>
		   				 	<p:tooltip for="userBtn" value="User Settings"/>
						    <p:overlayPanel id="userPanel" for="userBtn" hideEffect="fade">
						    	 <p:panelGrid styleClass="mntPanels">
						    		 <f:facet name="header">
								        <p:row><p:column>User Settings</p:column></p:row>
								    </f:facet>
						    		<p:row><p:column><p:commandButton value="Change Password" id="changePwd"/></p:column></p:row>
								    <p:row><p:column><p:button href="/common/init/login?logout" value="Logout" icon="ui-icon-extlink" /></p:column></p:row>
						    	</p:panelGrid>
						    </p:overlayPanel>
		      			</f:facet>
   					</p:menubar>
   				</h:form>
            </p:layoutUnit>
          <p:layoutUnit position="west" header="Welcome #{layoutMenu.user.firstName} #{layoutMenu.user.lastName}" collapsible="true" id="sidebar" rendered="#{not layoutMenu.user.topMenu}" size="280">
            	<h:form id="sideMenuBar" style="height: 100%;" >
		    		<p:panelMenu model="#{layoutMenu.model}" style="height:100%;width:auto;overflow:auto;" styleClass="ui-widget-header" />
				</h:form>
            </p:layoutUnit>

            <p:layoutUnit position="center" id="content">
	            <div><ui:insert name="content">Put default content here, if any.</ui:insert></div>
            </p:layoutUnit>
            
            <p:layoutUnit position="south" id="footer" size="45">
	            <div style="text-align: right; height: 25px; padding-right: 20px; padding-top: 5px;" class="ui-widget-header">
	              	<h:outputText value="#{ADMIN_CONF['version']}" /> 
	            </div>
            </p:layoutUnit>
        </p:layout>
        <h:outputScript name="js/layout.js"/>
        <ui:insert name="scriptInclude"></ui:insert>
    </h:body>
</html>