<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />
        </f:facet>
        <f:metadata>
                 <f:viewAction action="#{adminView.onLoadAction}" />
        </f:metadata>
        <title>#{adminView.companyName}</title>
        
        <h:outputScript name="js/ripple-effect.js" library="modena-layout" />
        <h:outputScript name="js/perfect-scrollbar.js" library="modena-layout" />
        <h:outputScript name="js/layout.js" library="modena-layout" />
        <h:outputScript name="js/kurver.js" />		
         <h:outputScript name="js/fullscreen.js" />		
        <ui:insert name="head" />        
		<ui:insert name="cssInclude"></ui:insert>
			<script>
		window.addEventListener('load', function() {
			  function updateOnlineStatus(event) {
			    var condition = navigator.onLine ? '#{msg.hdr_onLineJsMsg}' : '#{msg.hdr_offLineJsMsg}';
			    alert(condition);
			  }

			  window.addEventListener('online',  updateOnlineStatus);
			  window.addEventListener('offline', updateOnlineStatus);
			});
		</script>
		
		<link rel="shortcut icon" type="image/x-icon" href="#{request.contextPath}/images/#{adminView.getAdminConfMap().get('favIcon')}"/>
        
    </h:head>

    <h:body class="GrayModena Geometry">
        <ui:include src="topbar.xhtml" />
        <div id="wrapper">
            <div id="wrapperIndent">

                <ui:include src="layoutmenu.xhtml" />

                <div id="layout-portlets-cover">
                    <div class="Container96 Fnone MarAuto">
                        
                        <!-- SUB TOPBAR START -->
                        <div class="Container100 UserLinks">
                            <div class="ContainerIndent TexAlRight">
                                  <a href="#" class="DispInlBlock Fright BoldGray HoverEffect"><span class="Fs22 FontRobotoLight MarRight10">#{layoutMenu.user.firstName} #{layoutMenu.user.lastName}</span> <p:graphicImage cache="false" class="Fright Fs30 circleicon" 
                                    value= "/images/#{layoutMenu.getDefaultImage(layoutMenu.user.userImage) ne null ? 'default.jpg' : layoutMenu.user.userImage}" /></a> 
                            </div>   

                            <div class="EmptyBox10"></div>
                        </div>

                        <div class="Container100 UserLinks">
                            <div class="ContainerIndent">
                                <span class="BoldGray Fs18 FontRobotoLight Fleft ShowOnDesktop"><i class="icon-arrow-right"></i> <ui:insert name="subheader" /></span>


                            </div>

                            <div class="EmptyBox5"></div>
                        </div>
                        <!-- SUB TOPBAR END -->
                        
                        <ui:insert name="content">
                            Template
                        </ui:insert>

                        <!-- footer -->
                        <div class="Container100">
                            <div class="ContainerIndent Fs14 BoldGray">
                                <div class="Wid100 Fleft Responsive50"><div align="right"><h:outputText value="#{adminView.version}" /> </div></div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                
              
            </div>
        </div>
        <h:outputStylesheet name="css/core-layout.css" library="modena-layout" />
        <h:outputStylesheet name="css/animate.css" library="modena-layout" />
        <h:outputStylesheet name="css/modena-font.css" library="modena-layout" />
        <h:outputStylesheet name="css/ripple-effect.css" library="modena-layout" />
        <h:outputStylesheet name="css/perfect-scrollbar.css" library="modena-layout" />
        <h:outputStylesheet name="css/font-awesome.css" library="modena-layout" />
        <h:outputStylesheet name="css/modena-layout.css" library="modena-layout" />
        <h:outputStylesheet name="css/kurver.css" />
        <h:outputStylesheet name="css/layout.css" />
    </h:body>

</html>