<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
  
    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />
        </f:facet>
	<f:metadata>
                 <f:viewAction action="#{adminView.onLoadAction}" />
        </f:metadata>
       
        
        <h:outputScript name="js/ripple-effect.js" library="modena-layout" />
        <h:outputScript name="js/perfect-scrollbar.js" library="modena-layout" />
        <h:outputScript name="js/layout.js" library="modena-layout" />
        <h:outputScript name="js/kurver.js" />		
        <h:outputScript name="js/fullscreen.js"/>	
        <h:outputScript name="loginfiles/primefaces.js" />
        <h:outputScript name="loginfiles/jquery.js" />	 	
        <ui:insert name="head" />        
		<ui:insert name="cssInclude"></ui:insert>
	
		<link type="text/css" rel="stylesheet" href="#{request.contextPath}/resources/primefaces-modena/theme.css"/>
		<link type="text/css" rel="stylesheet" href="#{request.contextPath}/resources/loginfiles/primefaces.css"/>
		<link type="text/css" rel="stylesheet" href="#{request.contextPath}/resources/modena-layout/css/core-layout.css"/>
		<link type="text/css" rel="stylesheet" href="#{request.contextPath}/resources/modena-layout/css/animate.css"/>
		<link type="text/css" rel="stylesheet" href="#{request.contextPath}/resources/modena-layout/css/modena-font.css"/>
		<link type="text/css" rel="stylesheet" href="#{request.contextPath}/resources/modena-layout/css/ripple-effect.css"/>
		<link type="text/css" rel="stylesheet" href="#{request.contextPath}/resources/modena-layout/css/font-awesome.css"/>
		<link type="text/css" rel="stylesheet" href="#{request.contextPath}/resources/modena-layout/css/modena-layout.css"/>
		<link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>
		<link  type="text/css" rel="stylesheet" href="#{request.contextPath}/resources/css/kurver.css" />
		<link  type="text/css" rel="stylesheet" href="#{request.contextPath}/resources/css/login.css" />
		
		<link rel="shortcut icon" type="image/x-icon" href="#{request.contextPath}/images/#{adminView.getAdminConfMap().get('favIcon')}"/>
			
		       
        
    </h:head>

    <h:body class="GrayModena Geometry">
    
        <div id="wrapper">
            <div id="wrapperIndent">
	              <!-- <div id="layout-portlets-cover">
                    <div class="Container96 Fnone MarAuto"> -->
                        
                        <ui:insert name="content">
                            Template
                        </ui:insert>

                        <!-- footer -->
                        <!--  <div class="Container100">
                            <div class="ContainerIndent Fs14 BoldGray">
                                <div class="Wid100 Fleft Responsive50"><div align="right"><h:outputText value="#{adminView.version}" /> </div></div>
                            </div>
                        </div> 
                        
                    </div>
                </div>-->
                
              
            </div>
        </div>
       		
        
    </h:body>

</html>