<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pm="http://primefaces.org/modena"
    xmlns:fn="http://java.sun.com/jsp/jstl/functions"
   	xmlns:c="http://java.sun.com/jsp/jstl/core"
    xmlns:pe="http://primefaces.org/ui/extensions">
  	
   <h:form id="topBarForm">
  
   
    <!-- TOPBAR START -->
    <div id="layout-topbar">
        
        <a id="logo">
            <h:graphicImage value="/images/#{ADMIN_CONF['layoutLogo']}" styleClass="layoutLogo"/>
        </a>
        
        <a id="show-top-menu" class="ShowOnMobile ripplelink"><i class="icon-more_vert" id="active"></i><i class="icon-close DispNone" id="passive"></i> </a>
        
        
    </div>
    <!-- TOPBAR END -->
    
  </h:form>
 
 
  
				
</ui:composition>



