<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pm="http://primefaces.org/modena"
    xmlns:fn="http://java.sun.com/jsp/jstl/functions"
   	xmlns:c="http://java.sun.com/jsp/jstl/core"
    xmlns:pe="http://primefaces.org/ui/extensions">
  	
   <h:form id="topBarForm">
  
   
    <!-- TOPBAR START -->
    <div id="layout-topbar">
        <a id="mobile-menu-button">
            <span class="ButtonLine" id="ButtonLine1"></span>
            <span class="ButtonLine" id="ButtonLine2"></span>
            <span class="ButtonLine" id="ButtonLine3"></span>
        </a>
        <a href="#{request.contextPath}/common/process/dashboard/loadDashboard.html" id="logo">
            <h:graphicImage value="/images/#{sessionScope['ADMIN_CONF'].layoutLogo}" styleClass="layoutLogo"/>
        </a>
        
        <a id="show-top-menu" class="ShowOnMobile ripplelink"><i class="icon-more_vert" id="active"></i><i class="icon-close DispNone" id="passive"></i> </a>
        
        <ul id="top-menu">
            <ui:fragment rendered = "#{sessionScope['SHOW_ADMIN_BUTTON'] eq 'true'}" >
           		 <li>
               		<a href="#{request.contextPath}/common/process/admin/loadSystemAdministration.html" ><i class="icon-settings" title="#{msg.tip_admin}"></i> #{msg.tip_admin}</a>
            	 </li>
              </ui:fragment>

  <!--         <ui:fragment>
             <li>
             	<a href="#"  onclick="resizeText(1)" id="incfont">A+</a>
             	</li>
             	<li>
				<a href="#" onclick="resizeText(-1)" id="decfont">A-</a>
				</li>
             </ui:fragment>  --> 
            <ui:fragment  >
            <li id="showFull" >
            	<a class="ripplelink"  onclick="launchIntoFullscreen(document.documentElement)" title="#{msg.title_fullScreen}"><i  class="icon-fullscreen"></i> <span class="ShowOnMobile">#{msg.title_fullScreen}</span></a>
            </li>
            </ui:fragment>
           <ui:fragment >
				<li id="exitFull" style="display:none;" >
                	<a class="ripplelink" onclick="exitFullscreen()" ><i  class="icon-fullscreen_exit"  title="#{msg.title_exitFullScreen}"></i> <span class="ShowOnMobile">#{msg.title_exitFullScreen}</span></a>
            	</li>
            </ui:fragment>
           
            	<li>
               		<a class="ripplelink" href="#{request.contextPath}/common/process/admin/loadInboxMail.html"><i class="icon-archive" title="#{msg.hdr_Mail}"></i> <span class="ShowOnMobile">#{msg.hdr_Mail}</span></a>
            	</li>
      <ui:fragment rendered = "#{sessionScope['TASK_PLANNER_ACTIVE'] eq 'true'}">     	
            	<li><a class="ripplelink"><i class="icon-paper" title="#{msg.tip_taskManager}"></i> <span class="ShowOnMobile">#{msg.tip_taskManager}</span></a>
           <ul>
           
           
           
          <c:if test="#{userProfileView.taskListSize eq 0 or userProfileView.taskListSize gt 1}">
            	<li><a href="#{request.contextPath}/common/process/taskplanner/loadTaskPlannerTopBar.html"><i class="icon-alarm_on"></i> #{userProfileView.taskListSize} #{msg.tip_newTask}</a></li>
           </c:if>
            <c:if test="#{userProfileView.taskListSize eq 1}">
            	<li><a href="#{request.contextPath}/common/process/taskplanner/loadTaskPlannerTopBar.html"><i class="icon-alarm_on"></i> #{userProfileView.taskListSize} #{msg.tip_newTask1}</a></li>
           </c:if>
           <li><a class="ripplelink" href="#" id="openID"><i class="icon-library_add" id="openID"></i>#{msg.tip_createTask}</a></li>
          <li><a href="#{request.contextPath}/common/process/taskplanner/loadWatchListTopBar.html"><i class="fa fa-star"></i> #{msg.top_watchlist}</a></li>     
           </ul>
            <script>
            $(document).ready(function () {
            	
            	   $("#openID").click( function(e) {
            		myTaskDialog.show();
            		
            	});
            });
   			</script>
            
  
            </li>
           </ui:fragment>
            <!--

            <li>
                <a class="ripplelink"><i class="icon-notifications_none" title="#{msg.tip_notification}"></i> <span class="ShowOnMobile">#{msg.tip_notification}</span></a>
 
            </li>
            -->
            <li>
                <a class="ripplelink"><i class="icon-cog" title="#{msg.tip_userAccountSettings}"></i> <span class="ShowOnMobile">#{msg.tip_userAccountSettings}</span></a>
                <ul>
                    <li><a href="#{request.contextPath}/common/process/admin/loadChangePassPage.html"><i class="icon-verified_user"></i>#{msg.tip_changePassword}</a></li>
                  <li><a href="#{request.contextPath}/common/process/admin/loadUserProfile.html"><i class="icon-settings"></i> #{msg.tip_profile}</a></li>             
                   <!-- <li><a href="#"><i class="icon-assignment_ind"></i> My System Settings</a></li> --> 
                    
                </ul>
            </li>
            <li>
                <a class="ripplelink"><i class="icon-power"></i> <span class="ShowOnMobile">System</span></a>
                <ul>
                    <li><a href="#{request.contextPath}/common/init/login?logout"><span class="Red"><i class="icon-vpn_key Fs30 DispBlock"></i> #{msg.tip_abmelden}</span></a></li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- TOPBAR END -->
    
  </h:form>
 
 
  <p:dialog id="createTask" stickyHeader="true"  header="#{msg.hdr_taskCreation}" widgetVar="myTaskDialog" class="GrayModena Geometry"  aria-hidden="false" aria-live="polite"  resizable="false" responsive="true" modal="true"  style="width: auto !important; max-height:100% !important; max-width: 60%; height: auto !important; z-index: 1005"
 	visible="#{taskPlannerView.createNewTask}" >
 	<p:ajax event="close" update="createTask"/>
	<ui:include src="/views/taskplanner/task/taskCreateDialog.xhtml" />				
</p:dialog> 
				
</ui:composition>



