<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui">
    <script type="text/javascript"> 
	//<![CDATA[
	$( document ).ready(function() {
		var path = (window.location.pathname);
		if(path.indexOf("loadSystemAdministration") >= 0){
			$("[id*='adminsa']").css('background-color','rgb(187, 199, 206)');
		}else if(path.indexOf("loadRoleManagement") >= 0){
			$("[id*='adminra']").css('background-color','rgb(187, 199, 206)');
		}else if(path.indexOf("loadUserManagement") >= 0){
			$("[id*='adminua']").css('background-color','rgb(187, 199, 206)');
		}else if(path.indexOf("loadModuleManagement") >= 0) {
			$("[id*='adminmm']").css('background-color','rgb(187, 199, 206)');	
		}else if(path.indexOf("loadModuleActivity") >= 0) {
			$("[id*='adminma']").css('background-color','rgb(187, 199, 206)');
		}else if(path.indexOf("loadMailTemplates") >= 0) {
			$("[id*='adminmt']").css('background-color','rgb(187, 199, 206)');
		}else if(path.indexOf("loadMultiValue") >= 0) {
			$("[id*='adminmv']").css('background-color','rgb(187, 199, 206)');
		}else{
			$("[id*='adminsl']").css('background-color','rgb(187, 199, 206)');
			
		}	
	  });
	//]]>
	</script>
    <h:body>
    <div class="ui-g-3">  
   		<p:menu id="adminMenu">
        <p:submenu label="#{msg.hdr_administration}" id="adminMenuItems">
            <p:menuitem id="adminsa" url="/common/process/admin/loadSystemAdministration.html" value="#{msg.tip_system_admin}"/>
            <p:menuitem id="adminra" url="/common/process/admin/loadRoleManagementList.html" value="#{msg.tip_role_admin}"/>
            <p:menuitem id="adminua" url="/common/process/admin/loadUserManagementList.html" value="#{msg.tip_user_admin}"/>
            <p:menuitem id="adminmm" url="/common/process/admin/loadModuleManagement.html" value="#{msg.hdr_Module_Management}"/>
            <p:menuitem id="adminma" url="/common/process/admin/loadModuleActivity.html" value="#{msg.hdr_Module_Activity}"/>
            <p:menuitem id="adminmt" url="/common/process/admin/loadMailTemplates.html" value="#{msg.hdr_Mail_Templates}"/>
            <p:menuitem id="adminsl" url="/common/process/loginformation/loadSystemlog.html" value="#{msg.hdr_login_audit_trail}"/>
            <p:menuitem id="adminmv" url="/common/process/admin/loadMultiValue.html" value="#{msg.hdr_MultiValue}"/>
		</p:submenu>
		</p:menu>
	</div>
	</h:body>
</html>