<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jstl/core">
	<ui:define name="subheader">
        Calendar
    </ui:define>
	<ui:define name="content">
	<f:metadata>
           <f:viewAction action="#{calendarListView.onLoadAction}"/>
     </f:metadata> 
     <f:event type="preRenderView" listener="#{calendarListView.preRenderView}" />
	<p:messages id="messages" showDetail="true" autoUpdate="true" 
						closable="true" escape="false" />
     <div class="Container100">
            <div class="ContainerIndent">
                <div class="Card ShadowEffect TexAlCenter">
                    <h:form id="form">
			<p:layout style="height:80vh">
				<p:layoutUnit position="west" size="210" id="calRoom"
					collapsible="true" header="#{msg.Calendar}">
					<p:dataTable id="availableCalendars" var="calendar" 
						rowKey="#{calendar.id}"
						selection="#{calendarListView.selectedCalendar}"
						value="#{calendarListView.calendars}" style="margin-bottom:0"
						widgetVar="Calender">
						<p:ajax id="update" event="rowSelectCheckbox"
							listener="#{calendarListView.selectCalendar}" execute="update"
							update="form:schedule">
						</p:ajax>
						<p:ajax id="update" event="rowUnselectCheckbox"
							listener="#{calendarListView.unselectCalendar}" execute="update"
							update="form:schedule">
						</p:ajax>
						<p:column selectionMode="multiple"
							style="width:16px;text-align:center">
						</p:column>
						<p:column>
							<h:outputText value="#{calendar.value}" />
						</p:column>
						<p:column>
							<p:commandButton id="editCalButton"
								actionListener="#{calendarListView.editCalendar}"
								update="form:editEventDetails" icon="fa fa-gear" title="Edit"
								oncomplete="PF('calEditDialog').show();" process="@this">
								<f:param name="editCalId" value="#{calendar.id}" />
							</p:commandButton>
						</p:column>
						<f:facet name="footer">
							<p:commandButton value="Add Calendar" type="button"
								process="@parent" onclick="PF('calDialog').show();" />
						</f:facet>
					</p:dataTable>
				</p:layoutUnit>

				<p:layoutUnit position="center" style="height:50%">
					
					<br />
					<br />
					<p:panelGrid columnClasses="value" id="panelGrid" style="border:1px !important; background:none;" styleClass="ui-panelgrid-blank ui-responsive">
						<h3 style="margin-top: 0">#{msg.Editable_Schedule}</h3>
						<p:schedule id="schedule" value="#{calendarListView.eventModel}"
							widgetVar="myschedule" allDaySlot="true" showWeekends="true"
							aspectRatio="2.1">
							<p:ajax event="dateSelect"
								listener="#{calendarListView.onDateSelect}" update="eventDetails"
								oncomplete="PF('eventDialog').show()" />
							<p:ajax event="eventSelect"
								listener="#{calendarListView.onEventSelect}" update="eventDetails"
								oncomplete="PF('eventDialog').show();" />
							<p:ajax event="eventMove" listener="#{calendarListView.onEventMove}"
								update="messages" />
							<p:ajax event="eventResize"
								listener="#{calendarListView.onEventResize}" update="messages" />
						</p:schedule>
					</p:panelGrid>
					<p:dialog widgetVar="eventDialog" header="#{msg.Event_Details}"
						showEffect="clip" hideEffect="clip">
						<p:tabView id="eventDetails">
							<p:tab title="Edit_Event">
								<p:panelGrid columns="2" style="border:1px !important; background:none;" styleClass="ui-panelgrid-blank ui-responsive">
									<p:outputLabel for="title" value="#{msg.Titles}:" />
									<p:inputText id="title" value="#{calendarListView.event.title}"
										required="true"  />

									<p:outputLabel for="Calendars" value="#{msg.Calendars}:" />
									<p:selectOneMenu id="Calendars" style="width:150px"
										value="#{calendarListView.event.calId}">
										<f:selectItem itemLabel="#{msg.Select_Calendar}" itemValue=""
											noSelectionOption="true" />
										<f:selectItems value="#{calendarListView.calendars}"
											var="calendar" itemValue="#{calendar.id}"
											itemLabel="#{calendar.value}" itemLabelEscaped="true" />
									</p:selectOneMenu>

									<p:outputLabel for="from" value="#{msg.From}:" />
									<!-- <p:calendar id="from" locale="#{layoutMenu.user.language}" value="#{calendarListView.event.startDate}"
										pattern="#{calendarListView.displayDateFormat}" /> -->
								    <p:calendar id="from"  locale="#{layoutMenu.user.language}" value="#{calendarListView.event.startDate}"  converter="dateConverter" pattern="#{CommonConstants.APP_DATE_FORMAT}" mask="true" 
            				           widgetVar="dobWidget"  />

									<p:outputLabel for="to" value="#{msg.To}:" />
									<!-- <p:calendar id="to" locale="#{layoutMenu.user.language}" value="#{calendarListView.event.endDate}"
										pattern="#{calendarListView.displayDateFormat}" /> -->
								    <p:calendar id="to"  locale="#{layoutMenu.user.language}" value="#{calendarListView.event.endDate}"  converter="dateConverter" pattern="#{CommonConstants.APP_DATE_FORMAT}" mask="true" 
            				           widgetVar="dobWidget"  />

									<p:outputLabel for="allDay" value="#{msg.All_Day}:" />
									<h:selectBooleanCheckbox id="allDay"
										value="#{calendarListView.event.allDay}" />
									<p:outputLabel for="editall" value="#{msg.edit_all_event}:" />
									<h:selectBooleanCheckbox id="editall" disabled="#{empty calendarListView.event.calId}"
										value="#{calendarListView.event.editAll}" />
								</p:panelGrid>
							</p:tab>
							<p:tab title="Schedule_Events" id="ScheduleEvents" disabled="#{not empty calendarListView.event.calId}">
								<p:panelGrid columns="2" style="border:1px !important; background:none;" styleClass="ui-panelgrid-blank ui-responsive">
									<p:outputLabel for="mode" value="#{msg.Mode}:" />
									<p:selectOneMenu id="mode" style="width:150px"
										value="#{calendarListView.event.type}">
										<f:selectItem itemLabel="#{msg.Select}" itemValue="" />
										<f:selectItem itemLabel="#{msg.Weekly}" itemValue="W" />
										<f:selectItem itemLabel="#{msg.Daily}" itemValue="D" />
										<f:selectItem itemLabel="#{msg.Monthly}" itemValue="M" />
									</p:selectOneMenu>
									<p:outputLabel for="count" value="#{msg.Count}:" />
									<p:inputText id="count" value="#{calendarListView.event.count}" />
									<p:outputLabel for="interval" value="#{msg.Interval}:" />
									<p:inputText id="interval" value="#{calendarListView.event.skip}" />
									<p:outputLabel for="tilldate" value="#{msg.From}:" />
									<p:calendar id="tilldate" locale="#{layoutMenu.user.language}" value="#{calendarListView.event.tillDate}"
										pattern="#{calendarListView.displayDateFormat}" />
								</p:panelGrid>
							</p:tab>
						</p:tabView>
						<p:commandButton id="deleteButton" value="#{msg.Delete}"
							actionListener="#{calendarListView.deleteEvent}" process="@parent"
							oncomplete="PF('myschedule').update();PF('eventDialog').hide();" />
						<p:commandButton id="addButton" value="#{msg.Save}"
							actionListener="#{calendarListView.addEvent}" process="@parent"
							oncomplete="PF('myschedule').update();PF('eventDialog').hide();" />
					</p:dialog>
					
					<p:dialog widgetVar="calDialog" header="#{msg.Add_Calendar}"
						showEffect="clip" hideEffect="clip">
						<p:panelGrid id="addEventDetails" columns="2" style="border:1px !important; background:none;" styleClass="ui-panelgrid-blank ui-responsive">
							
							<p:outputLabel for="editDesignation" value="#{msg.Designation}:" />
							<p:inputText id="editDesignation" value="#{calendarListView.calName}"
								required="true"  />
							<!-- <p:outputLabel for="addType" value="#{msg.Type}:" /> -->
							<!-- <p:selectOneRadio id="addType" value="#{calendarListView.calType}"
								layout="pageDirection">
								<f:selectItem itemLabel="#{msg.Private_Calendar}" itemValue="1" />
								<f:selectItem itemLabel="#{msg.Public_Calendar}" itemValue="2" />
							</p:selectOneRadio> -->
							
							<p:outputLabel for="facilities" value="#{msg.hdr_facilities}" />							
		        		    <p:selectOneMenu id="facilities" value="#{calendarListView.calFacilities}" > 
				               <f:selectItem itemLabel="#{msg.lbl_select}" itemValue=""  noSelectionOption="true"/>
				               <f:selectItems value="#{calendarListView.facilitiesList}" var="facilities" itemLabel="#{facilities.name}" itemValue="#{facilities.id}" />
				               <p:ajax update="tasks" listener="#{calendarListView.filterTask(calendarListView.calFacilities)}" process="@this"/> 
				            </p:selectOneMenu>  
				                
		        		   <p:outputLabel for="tasks" value="#{msg.lbl_tasks}" />							
	            		   <p:selectOneMenu id="tasks" value="#{calendarListView.calTask}">
              	                <f:selectItem itemLabel="#{msg.lbl_select}" itemValue=""  noSelectionOption="true"/>
				               <f:selectItems value="#{calendarListView.filterTaskList}" var="task" itemLabel="#{task.name}" itemValue="#{task.id}" itemLabelEscaped="true"/>
            			   </p:selectOneMenu>
            			   
							<p:outputLabel for="addColor" value="#{msg.Color}:" />
							<p:colorPicker id="addColor" value="#{calendarListView.calColor}"
								required="true"  />
							<p:commandButton id="abortButton" value="#{msg.Abort}"
								type="button" onclick="PF('calDialog').hide();" />
							
							<p:commandButton id="createButton" value="#{msg.Create}"
								actionListener="#{calendarListView.createCalendar}"
								 update="form:availableCalendars"
								process = "addEventDetails" oncomplete="PF('calDialog').hide();">
								<p:resetInput target="form:addEventDetails" />
						    </p:commandButton>
								
						</p:panelGrid>
					</p:dialog>
					<p:dialog widgetVar="calEditDialog" header="#{msg.Edit_Calendar}"
						showEffect="clip" hideEffect="clip">
						<p:panelGrid id="editEventDetails" columns="2" style="border:1px !important; background:none;" styleClass="ui-panelgrid-blank ui-responsive">
							<p:outputLabel for="designation" value="#{msg.Designation}:" />
							<p:inputText id="designation" value="#{calendarListView.calName}"
								required="true" />
							<!-- <p:outputLabel for="editType" value="#{msg.Type}:" />
							<p:selectOneRadio id="editType" value="#{calendarListView.calType}"
								layout="pageDirection">
								<f:selectItem itemLabel="#{msg.Private_Calendar}" itemValue="0" />
								<f:selectItem itemLabel="#{msg.Public_Calendar}" itemValue="1" />
							</p:selectOneRadio> -->
							<p:outputLabel for="editFacilities" value="#{msg.hdr_facilities}" />							
		        		    <p:selectOneMenu id="editFacilities" value="#{calendarListView.calFacilities}" > 
				               <f:selectItem itemLabel="#{msg.lbl_select}" itemValue=""  noSelectionOption="true"/>
				               <f:selectItems value="#{calendarListView.facilitiesList}" var="facilities" itemLabel="#{facilities.name}" itemValue="#{facilities.id}" />
				               <p:ajax update="editTasks" listener="#{calendarListView.filterTask(calendarListView.calFacilities)}" process="@this"/> 
				            </p:selectOneMenu>
				                
            			   <p:outputLabel for="editTasks" value="#{msg.lbl_tasks}" />							
	            		   <p:selectOneMenu id="editTasks" value="#{calendarListView.calTask}">
              	                <f:selectItem itemLabel="#{msg.lbl_select}" itemValue=""  noSelectionOption="true"/>
				               <f:selectItems value="#{calendarListView.filterTaskList}" var="task" itemLabel="#{task.name}" itemValue="#{task.id}" itemLabelEscaped="true"/>
            			   </p:selectOneMenu>
            			   
							<p:outputLabel for="editcolor" value="#{msg.Color}:" />
							<p:colorPicker id="editcolor" value="#{calendarListView.calColor}"
								required="true" />
							
							<p:commandButton id="closeButton" value="#{msg.Abort}"
								type="button" onclick="PF('calEditDialog').hide();" />
								
							<p:commandButton id="calDeleteButton" value="#{msg.Delete}"
								actionListener="#{calendarListView.deleteCalendar}"
								process="@parent" update="form:availableCalendars"
								oncomplete="PF('calEditDialog').hide();" />
								
							<p:commandButton id="calUpdateButton" value="#{msg.Update}"
								actionListener="#{calendarListView.updateCalendar}"
								process="@parent" update="form:availableCalendars"
								oncomplete="PF('calEditDialog').hide();" />
						</p:panelGrid>
					</p:dialog>
				</p:layoutUnit>
			</p:layout>
			<!-- <p:blockUI block="form" trigger="availableCalendars"/> -->
		</h:form>
                </div>
            </div>
        </div>
		
	</ui:define>
</ui:composition>