<ui:composition template="/WEB-INF/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui">
	<ui:define name="headContent">
	</ui:define>
	<ui:define name="content">
	<f:metadata>
           <f:viewAction action="#{calendarView.onLoadAction}"/>
     </f:metadata>
     <f:event type="preRenderView" listener="#{calendarView.preRenderView}" />
		<h:form id="form">
			<p:layout style="height:100vh">
				<p:layoutUnit position="west" size="210" id="calRoom"
					collapsible="true" header="#{msg.Calendar}">
					<p:dataTable id="availableCalendars" var="calendar"
						rowKey="#{calendar.id}"
						selection="#{calendarView.selectedCalendar}"
						value="#{calendarView.calendars}" style="margin-bottom:0"
						widgetVar="Calender">
						<p:ajax id="update" event="rowSelectCheckbox"
							listener="#{calendarView.selectCalendar}" execute="update"
							update="form:schedule">
						</p:ajax>
						<p:ajax id="update" event="rowUnselectCheckbox"
							listener="#{calendarView.unselectCalendar}" execute="update"
							update="form:schedule">
						</p:ajax>
						<p:column selectionMode="multiple"
							style="width:16px;text-align:center">
						</p:column>
						<p:column>
							<h:outputText value="#{calendar.value}" />
						</p:column>
						<p:column>
							<p:commandButton id="editCalButton"
								actionListener="#{calendarView.editCalendar}"
								update="form:editEventDetails" icon="ui-icon-gear" title="Edit"
								oncomplete="PF('calEditDialog').show();" process="@this">
								<f:param name="editCalId" value="#{calendar.id}" />
							</p:commandButton>
						</p:column>
						<f:facet name="footer">
							<p:commandButton value="Add Calendar" type="button"
								process="@parent" onclick="PF('calDialog').show();" />
						</f:facet>
					</p:dataTable>
				</p:layoutUnit>

				<p:layoutUnit position="center">
					<f:event type="preRenderView"
						listener="#{calendarView.preRenderView}" />
					<p:messages id="messages" showDetail="true" autoUpdate="true"
						closable="true" escape="false" />
					<br />
					<br />
					<h:panelGrid columnClasses="value" id="panelGrid">
						<h3 style="margin-top: 0">#{msg.Editable_Schedule}</h3>
						<p:schedule id="schedule" value="#{calendarView.eventModel}"
							widgetVar="myschedule" allDaySlot="true" showWeekends="true"
							aspectRatio="2.1">
							<p:ajax event="dateSelect"
								listener="#{calendarView.onDateSelect}" update="eventDetails"
								oncomplete="PF('eventDialog').show()" />
							<p:ajax event="eventSelect"
								listener="#{calendarView.onEventSelect}" update="eventDetails"
								oncomplete="PF('eventDialog').show();" />
							<p:ajax event="eventMove" listener="#{calendarView.onEventMove}"
								update="messages" />
							<p:ajax event="eventResize"
								listener="#{calendarView.onEventResize}" update="messages" />
						</p:schedule>
					</h:panelGrid>
					<p:dialog widgetVar="eventDialog" header="#{msg.Event_Details}"
						showEffect="clip" hideEffect="clip">
						<p:tabView id="eventDetails">
							<p:tab title="Edit_Event">
								<h:panelGrid columns="2">
									<p:outputLabel for="title" value="#{msg.Titles}:" />
									<p:inputText id="title" value="#{calendarView.event.title}"
										required="true"  />

									<p:outputLabel for="Calendars" value="#{msg.Calendars}:" />
									<p:selectOneMenu id="Calendars" style="width:150px"
										value="#{calendarView.event.calId}">
										<f:selectItem itemLabel="#{msg.Select_Calendar}" itemValue=""
											noSelectionOption="true" />
										<f:selectItems value="#{calendarView.calendars}"
											var="calendar" itemValue="#{calendar.id}"
											itemLabel="#{calendar.value}" itemLabelEscaped="true" />
									</p:selectOneMenu>

									<p:outputLabel for="from" value="#{msg.From}:" />
									<p:calendar id="from" locale="#{layoutMenu.user.language}" value="#{calendarView.event.startDate}"
										pattern="dd/MM/yyyy HH:mm" />

									<p:outputLabel for="to" value="#{msg.To}:" />
									<p:calendar id="to" locale="#{layoutMenu.user.language}" value="#{calendarView.event.endDate}"
										pattern="dd/MM/yyyy HH:mm" />

									<p:outputLabel for="allDay" value="#{msg.All_Day}:" />
									<h:selectBooleanCheckbox id="allDay"
										value="#{calendarView.event.allDay}" />
									<p:outputLabel for="editall" value="#{msg.edit_all_event}:" />
									<h:selectBooleanCheckbox id="editall" disabled="#{empty calendarView.event.calId}"
										value="#{calendarView.event.editAll}" />
								</h:panelGrid>
							</p:tab>
							<p:tab title="Schedule_Events" id="ScheduleEvents" disabled="#{not empty calendarView.event.calId}">
								<h:panelGrid columns="2">
									<p:outputLabel for="mode" value="#{msg.Mode}:" />
									<p:selectOneMenu id="mode" style="width:150px"
										value="#{calendarView.event.type}">
										<f:selectItem itemLabel="Select One" itemValue="" />
										<f:selectItem itemLabel="Weekly" itemValue="W" />
										<f:selectItem itemLabel="Daily" itemValue="D" />
										<f:selectItem itemLabel="Monthly" itemValue="M" />
									</p:selectOneMenu>
									<p:outputLabel for="count" value="#{msg.Count}:" />
									<p:inputText id="count" value="#{calendarView.event.count}" />
									<p:outputLabel for="interval" value="#{msg.Interval}:" />
									<p:inputText id="interval" value="#{calendarView.event.skip}" />
									<p:outputLabel for="tilldate" value="#{msg.From}:" />
									<p:calendar id="tilldate"  locale="#{layoutMenu.user.language}" value="#{calendarView.event.tillDate}"
										pattern="dd/MM/yyyy" />
								</h:panelGrid>
							</p:tab>
						</p:tabView>
						<p:commandButton id="deleteButton" value="#{msg.Delete}"
							actionListener="#{calendarView.deleteEvent}" process="@parent"
							oncomplete="PF('myschedule').update();PF('eventDialog').hide();" />
						<p:commandButton id="addButton" value="#{msg.Save}"
							actionListener="#{calendarView.addEvent}" process="@parent"
							oncomplete="PF('myschedule').update();PF('eventDialog').hide();" />
					</p:dialog>
					<p:dialog widgetVar="calDialog" header="#{msg.Add_Calendar}"
						showEffect="clip" hideEffect="clip">
						<h:panelGrid id="addEventDetails" columns="2">
							<p:outputLabel for="editDesignation" value="#{msg.Designation}:" />
							<p:inputText id="editDesignation" value="#{calendarView.calName}"
								required="true"  />
							<p:outputLabel for="addType" value="#{msg.Type}:" />
							<p:selectOneRadio id="addType" value="#{calendarView.calType}"
								layout="pageDirection">
								<f:selectItem itemLabel="#{msg.Private_Calendar}" itemValue="1" />
								<f:selectItem itemLabel="#{msg.Public_Calendar}" itemValue="2" />
							</p:selectOneRadio>
							<p:outputLabel for="addColor" value="#{msg.Color}:" />
							<p:colorPicker id="addColor" value="#{calendarView.calColor}"
								required="true" />
							<p:commandButton id="abortButton" value="#{msg.Abort}"
								type="button" onclick="PF('calDialog').hide();" />
							<p:commandButton id="createButton" value="#{msg.Create}"
								actionListener="#{calendarView.createCalendar}"
								process="@parent" update="form:availableCalendars"
								oncomplete="PF('calDialog').hide();" />
						</h:panelGrid>
					</p:dialog>
					<p:dialog widgetVar="calEditDialog" header="#{msg.Edit_Calendar}"
						showEffect="clip" hideEffect="clip">
						<h:panelGrid id="editEventDetails" columns="2">
							<p:outputLabel for="designation" value="#{msg.Designation}:" />
							<p:inputText id="designation" value="#{calendarView.calName}"
								required="true" />
							<p:outputLabel for="editType" value="#{msg.Type}:" />
							<p:selectOneRadio id="editType" value="#{calendarView.calType}"
								layout="pageDirection">
								<f:selectItem itemLabel="#{msg.Private_Calendar}" itemValue="0" />
								<f:selectItem itemLabel="#{msg.Public_Calendar}" itemValue="1" />
							</p:selectOneRadio>
							<p:outputLabel for="editcolor" value="#{msg.Color}:" />
							<p:colorPicker id="editcolor" value="#{calendarView.calColor}"
								required="true" />
							<p:commandButton id="closeButton" value="#{msg.Abort}"
								type="button" onclick="PF('calEditDialog').hide();" />
							<p:commandButton id="calDeleteButton" value="#{msg.Delete}"
								actionListener="#{calendarView.deleteCalendar}"
								process="@parent" update="form:availableCalendars"
								oncomplete="PF('calEditDialog').hide();" />
							<p:commandButton id="calUpdateButton" value="#{msg.Update}"
								actionListener="#{calendarView.updateCalendar}"
								process="@parent" update="form:availableCalendars"
								oncomplete="PF('calEditDialog').hide();" />
						</h:panelGrid>
					</p:dialog>
				</p:layoutUnit>
			</p:layout>
			<!-- <p:blockUI block="form" trigger="availableCalendars"/> -->
		</h:form>
	</ui:define>
</ui:composition>