<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core" >
	<ui:define name="subheader">
        #{msg.hdr_korfAddress}
    </ui:define>
    <ui:define name="content">
	  <f:event type="preRenderView" listener="#{korfAddressAddUpdate.preRenderView}" />
	  <f:metadata>
		<f:viewAction action="#{korfAddressAddUpdate.onLoadAction}" />
	  </f:metadata>
	  <h:form id="form" enctype="multipart/form-data" >
	   <div id="user" class="Container100">
		<div class="ContainerIndent">
		  <div class="Card ShadowEffect">
		    <div class="Container100 Responsive100 ui-fluid">
			  <div class="ContainerIndent">
				  <p:messages id="messages" globalOnly="true" showDetail="true"
					  autoUpdate="true" closable="true" escape="false" />
				   <p:panelGrid id="panel2" columns="3" style="border:1px !important; background:none;" styleClass="ui-panelgrid-blank ui-responsive">    
				      <p:commandButton value="#{msg.btn_save}" id="btnSave" icon="fa fa-save" 
					     actionListener="#{korfAddressAddUpdate.saveAction}" ajax="false" onclick=" PF('bui').show() " >
				      </p:commandButton>
				      <p:commandButton value="#{msg.btn_cancel}" id="btnCancel" icon="fa fa-close"
				 	  action="#{korfAddressAddUpdate.cancelAction}"
					  process="@this" />
				   </p:panelGrid>
						
				   <p:tabView id="pnl">
					 <p:tab title="#{msg.lbl_korfName}">
					  <div class="Card SoftBlue ui-fluid"  >
					     <div class="Container100  Responsive100">
				           <div class="ContainerIndent " >
						    <p:panelGrid id="korfAddress" columns="4" layout="grid" style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank">
														
							   <p:outputLabel for="identifier" value="#{msg.lbl_tour_id}" rendered="#{korfAddressAddUpdate.showIdentifier eq 'true'}" />
							   <p:outputLabel id="identifier" value="#{korfAddressAddUpdate.korfAddress.identifier}"
							    disabled="true" rendered="#{korfAddressAddUpdate.showIdentifier eq 'true'}" />
                            
						         <p:outputLabel for="name" value="#{msg.lbl_name}" />							
							     <p:inputText id="name" value="#{korfAddressAddUpdate.korfAddress.name}" required="true" />
							   <!-- 
								 <p:outputLabel for="address" value="#{msg.lbl_address}"/> 
								 <p:inputText id="address" value="#{korfAddressAddUpdate.korfAddress.address}"/> -->
	        				
	        				     <p:outputLabel for="street" value="#{msg.lbl_street}" />
								 <p:inputText id="street" value="#{korfAddressAddUpdate.korfAddress.street}" required="true"/>
								 
								 <p:outputLabel for="houseNo" value="#{msg.lbl_houseNo}" />
					             <p:inputText id="houseNo" value="#{korfAddressAddUpdate.korfAddress.houseNumber}" required="true"/>
					
								 <p:outputLabel for="place" value="#{msg.lbl_place}" />
					             <p:inputText id="place" value="#{korfAddressAddUpdate.korfAddress.place}" required="true"/>
								
								 <p:outputLabel for="zip" value="#{msg.lbl_zip}" />
								 <p:inputText id="zip" value="#{korfAddressAddUpdate.korfAddress.zipCode}" required="true">
								 	<pe:keyFilter regEx="/[\d]/" />
								 </p:inputText>	
								 
								  <p:outputLabel for="state" value="#{msg.lbl_state}" />
					             <p:selectOneMenu id="state"  value="#{korfAddressAddUpdate.korfAddress.state}"  required="true">
									<f:selectItem itemLabel="#{msg.lbl_select}" itemValue="" noSelectionOption="true" />
								    <f:selectItems value="#{korfAddressAddUpdate.stateList}" var="state" itemValue="#{state.id}"
								       itemLabel="#{state.value}" itemLabelEscaped="true" />
								 </p:selectOneMenu>  
					
					             <p:outputLabel for="country" value="#{msg.lbl_country}" />
					               <p:selectOneMenu id="country"  value="#{korfAddressAddUpdate.korfAddress.country}"  required="true">
									<f:selectItem itemLabel="#{msg.lbl_select}" itemValue="" noSelectionOption="true" />
								    <f:selectItems value="#{korfAddressAddUpdate.countryList}" var="country" itemValue="#{country.id}"
								       itemLabel="#{country.value}" itemLabelEscaped="true" />
								 </p:selectOneMenu>  
            								
					     </p:panelGrid>
					    </div>
					   </div>
					  </div>
					 </p:tab>
				   </p:tabView>
				 </div>
			   </div>
		     </div>
			             <p:blockUI block="pnl" widgetVar="bui">LOADING<br /> 
       			           <p:graphicImage  value="/images/ajax-loader.gif"/>
    		             </p:blockUI>
		   </div>
		 </div>
	  </h:form>	
   </ui:define>
 </ui:composition>