<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jstl/core">
	<ui:define name="subheader">
       #{msg.hdr_korfAddress}
    </ui:define>
	<ui:define name="content">
	<f:event type="preRenderView" listener="#{korfAddressView.preRenderView}" />
	<f:metadata>
			<f:viewAction action="#{korfAddressView.onLoadAction}" />
	</f:metadata>
		  <div class="Container100">
            <div class="ContainerIndent">
               <div class="Card ShadowEffect">
                  <div class="Container100  Responsive100">
                     <div class="ContainerIndent">
                       <h2 class="TexAlCenter BigTopic"> #{msg.hdr_korfAddressList}</h2>
                        <h:form id="korfAddressListForm" >
                          <p:messages id="messages" globalOnly="true" showDetail="true"
				             autoUpdate="true" closable="true" escape="false" />
				            <div class="ui-widget ui-widget-header ui-corner-all ui-helper-clearfix">
				             <div class="ui-toolbar-group-left">
			 	
                              <p:commandButton styleClass="btn" value="#{msg.btn_add}" id="btnAdd" icon="fa fa-plus"
					             action="#{korfAddressView.addAction}" onstart="PF('blockUIForButtons').block()"/> 
					 
                              <p:commandButton value="#{msg.btn_show_acti_korfAddress}" id="btnShowAct" actionListener="#{korfAddressView.showActive}" 
		       	                disabled="#{korfAddressView.showActiveListBtn eq 'false'}" process="@this" update="korfAddressListForm" onstart="PF('blockUIForButtons').block()"
					            oncomplete="PF('listTableWidgetVar').clearFilters(), PF('blockUIForButtons').unblock()">
		       	              </p:commandButton>
		       	                	
		       	              <p:commandButton value="#{msg.btn_show_inacti_korfAddress}" id="btnShowInact" actionListener="#{korfAddressView.showInactive}" 
		       	               disabled="#{korfAddressView.showActiveListBtn eq 'true'}" process="@this" update="korfAddressListForm"  onstart="PF('blockUIForButtons').block()"
					            oncomplete="PF('listTableWidgetVar').clearFilters(), PF('blockUIForButtons').unblock()">
		       	              </p:commandButton>
                
				              <span class="ui-separator">
                               <span class="fa fa-ellipsis-v SoftGray"></span>
                              </span>
                              <p:commandButton icon="fa fa-lock" id="lock" actionListener="#{korfAddressView.lockAction}" 
		       	               update="listTable" title="#{msg.lbl_lockKorfAddress}" rendered="#{korfAddressView.showActivateBtn eq 'false'}"
		       		           process="@form" onstart="PF('blockUIForButtons').block()"
					            oncomplete="PF('listTableWidgetVar').clearFilters()" />
		       		 
		       		
		       	              <p:commandButton icon="fa fa-unlock" id="unlock" actionListener="#{korfAddressView.unlockAction}"
		       	                 update="listTable" title="#{msg.lbl_unlockKorfAddress}" rendered="#{korfAddressView.showActivateBtn eq 'true'}"
		       	                 process="@form"  onstart="PF('blockUIForButtons').block()"
					            oncomplete="PF('listTableWidgetVar').clearFilters()" />
				           </div>
                           <div class="ui-toolbar-group-right"> 
				             <p:commandButton id="delete" icon="fa fa-trash" process="@form"
					            actionListener="#{korfAddressView.deleteAction}" title="#{msg.lbl_deleteKorfAddress}"
					            rendered="#{korfAddressView.showActivateBtn eq 'true'}" onstart="PF('blockUIForButtons').block()"
					            oncomplete="PF('listTableWidgetVar').clearFilters()" >
			                   <p:confirm header="#{msg.confirmation}" message="#{msg.delete_sure}" icon="ui-icon-alert" />
			                 </p:commandButton>
			                 <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                                <p:commandButton value="#{msg.btn_yes}" type="button" styleClass="ui-confirmdialog-yes " icon="ui-icon-check fa fa-check Fs14 White" />
                                <p:commandButton value="#{msg.btn_no}" type="button" styleClass="ui-confirmdialog-no " icon="ui-icon-close fa fa-close Fs14 White" />
                             </p:confirmDialog>	
                         </div>
                      </div>
                           <p:dataTable id="listTable" var="korfAddress" selection="#{korfAddressView.selectedKorfAddressList}" value="#{korfAddressView.korfAddressList}" 
                             rowsPerPageTemplate="#{sessionScope['USER_IN_CONTEXT'].actualDisplayRowsSize}"
				             rows="#{sessionScope['USER_IN_CONTEXT'].displayRowsSize}"
				             currentPageReportTemplate="#{msg.lbl_showing} {startRecord}-{endRecord} #{msg.lbl_outOf} {totalRecords}"
				             rowKey="#{korfAddress.id}" emptyMessage="#{msg.table_empty_msg}" 	widgetVar="listTableWidgetVar" 
				             paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				             paginator="true"  paginatorPosition="bottom" 	rowIndexVar="rowIndex" 
				             filteredValue="#{korfAddressView.filteredKorfAddressList}"
				             reflow="true" tableStyle="table-layout: auto;">
				
                              <f:facet name="header">
			                    <div style="height: 50px;">
			                      <table id="filter" style="margin-top: -15px;">
					                <tr>
						              <td align="left">
						                <p:inputText id="globalFilter"
						                   onkeyup="PF('listTableWidgetVar').filter()"
						                   korfAddressholder="#{msg.lbl_search}" style="width:75%"/>
						              </td>
					                  <td align="right" >
					                   	 <p:commandButton id="toggler" type="button" class="GrayButton"
					                   	    icon="fa fa-calculator" title="#{msg.btn_columns}"/>
					                   	 <p:ajax event="page" oncomplete="updateToggles(PF('columnToggler'))" />
					                   	 <p:columnToggler widgetVar="columnToggler" datasource="listTable" trigger="toggler" style="width:100%">
					                        <p:ajax event="toggle" listener="#{korfAddressView.onToggle}" />
					                   	 </p:columnToggler>
				                      </td>
					                </tr>
				                  </table>
					            </div>
			                  </f:facet>
			                  
			                  <p:column  selectionMode="multiple" visible="#{korfAddressView.startPointTogglerList[0]}" headerText="#{msg.lbl_select}" 
				                   value="#{korfAddress.checked}" style="width:54px;" class="TexAlCenter text-top" >
					          </p:column>
			                            
		        	          <p:column headerText="#{msg.lbl_tour_id}" 
		        	             sortBy="#{korfAddress.identifier}" filterMatchMode="contains"
		        	             filterBy="#{korfAddress.identifier}" visible="#{korfAddressView.startPointTogglerList[1]}">
						         <p:commandLink id="identifier" class="MarRight10" onstart="PF('blockUIForButtons').block()" value="#{korfAddress.identifier}" action="#{korfAddressView.viewAction(korfAddress.identifier)}" />
						                
						         <p:commandLink id="identifierNewTab" action="#{korfAddressView.viewAction(korfAddress.identifier)}" ajax="false" target="_blank" onstart="PF('blockUIForButtons').block()">
						            <i class="icon-tab Fs22 bottom" title="#{msg.lbl_opennewtab}"></i>
						         </p:commandLink>
					          </p:column>
					                    
					          <p:column headerText="#{msg.lbl_name}" visible="#{korfAddressView.startPointTogglerList[2]}" sortBy="#{korfAddress.name}" filterMatchMode="contains" filterBy="#{korfAddress.name}"  >
					             <h:outputText value="#{korfAddress.name}" />
					          </p:column>
					          
					          <p:column headerText="#{msg.lbl_street}" visible="#{korfAddressView.startPointTogglerList[3]}" sortBy="#{korfAddress.street}" filterMatchMode="contains" filterBy="#{korfAddress.street}"  >
					             <h:outputText value="#{korfAddress.street} #{korfAddress.houseNumber}" />
					          </p:column>
					          
					          <p:column headerText="#{msg.lbl_zip}" visible="#{korfAddressView.startPointTogglerList[4]}" sortBy="#{korfAddress.zipCode}" filterMatchMode="contains" filterBy="#{korfAddress.zipCode}"  >
					             <h:outputText value="#{korfAddress.zipCode}" />
					          </p:column>
					          
					           <p:column headerText="#{msg.lbl_place}" visible="#{korfAddressView.startPointTogglerList[5]}" sortBy="#{korfAddress.place}" filterMatchMode="contains" filterBy="#{korfAddress.place}"  >
					             <h:outputText value="#{korfAddress.place}" />
					          </p:column>
					                     
					          
	                       </p:dataTable>	 
		                      <!--  <p:blockUI block="listTable"  widgetVar="bui"/>
			                      <p:blockUI block="listTable" class="spinner" trigger="listTable, btnAdd"><br/>
       		                      <p:graphicImage value="/images/ajax-loader.gif"/>
		                       </p:blockUI>  -->
		                       
		                       <pe:blockUI block="listTable" widgetVar="blockUIForButtons"   css="{top: '400px', left: '', right: '750px'}"  >  
								<h:panelGrid columns="1" style="text-align:center;">
								<h:graphicImage library="images"  value="/images/ajax-loader.gif"/>
								<h:outputText value="#{msg.lbl_loading}"/>  
								<div class="EmptyBox10"></div>
								</h:panelGrid>
								</pe:blockUI>
			            </h:form>
		             </div>
                 </div>
               </div>
             </div>
          </div>
	 </ui:define>
</ui:composition>