<ui:composition template="/WEB-INF/templates/template.xhtml"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:pe="http://primefaces.org/ui/extensions"
     xmlns:p="http://primefaces.org/ui"
     xmlns:c="http://java.sun.com/jstl/core">
    <ui:define name="subheader">
         #{msg.hdr_korfAddress}
    </ui:define>
    <ui:define name="content">
       <f:event type="preRenderView" listener="#{korfAddressView.preRenderView}" />
       <f:metadata>
           <f:viewAction action="#{korfAddressView.onLoadAction}"/>
       </f:metadata> 
       <div class="Container70 Responsive100">
		 <div class="ContainerIndent">
			<div class="Card ShadowEffect ">
			  <div class="Container100 Responsive100">
				<div class="ContainerIndent">
                <h:form id="korfAddressviewForm" enctype="multipart/form-data">   
                  <p:messages id="messages" globalOnly="true" showDetail="true"
				     autoUpdate="true" closable="true" escape="false" />

			        <div class="ui-widget ui-widget-header ui-corner-all ui-helper-clearfix">
			          <div class="ui-toolbar-group-left">
			 
			             <p:commandButton  value="#{msg.btn_edit}" id="btnEdit" icon="fa fa-pencil" 
			                action="#{korfAddressView.editAction(korfAddressView.korfAddress.identifier)}" rendered="#{korfAddressView.korfAddress.active eq 'Y'}" />
			             <p:commandButton  value="#{msg.btn_cancel}" id="btnCancel" icon="fa fa-close" 
			                action="#{korfAddressView.cancelAction}" process="@this" />
			             <span class="ui-separator">
                           <span class="fa fa-ellipsis-v SoftGray"></span>
                         </span>
			             <p:commandButton id="lock" icon="fa fa-lock" process="@form" 
			                actionListener="#{korfAddressView.lockViewedKorfAddress(korfAddressView.korfAddress.identifier)}"
				            title="#{msg.lbl_lockKorfAddress}" rendered="#{korfAddressView.korfAddress.active eq 'Y'}" />
			             <p:commandButton id="unlock" icon="fa fa-unlock" process="@form" 
			                actionListener="#{korfAddressView.unlockViewedKorfAddress(korfAddressView.korfAddress.identifier)}"
				            title="#{msg.lbl_unlockKorfAddress}" rendered="#{korfAddressView.korfAddress.active eq 'N'}" />
                      </div>
                      <div class="ui-toolbar-group-right">
                         <p:commandButton id="delete" icon="fa fa-trash-o" process="@form" 
                            action="#{korfAddressView.deleteViewedKorfAddress(korfAddressView.korfAddress.identifier)}"
				            rendered="#{korfAddressView.korfAddress.active eq 'N'}" title="#{msg.lbl_deleteKorfAddress}">
			                <p:confirm header="#{msg.confirmation}" message="#{msg.delete_sure}" icon="ui-icon-alert" />
			             </p:commandButton>
				         <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                             <p:commandButton value="#{msg.btn_yes}" type="button" styleClass="ui-confirmdialog-yes "
                                icon="ui-icon-check fa fa-check Fs14 White" />
                              <p:commandButton value="#{msg.btn_no}" type="button" styleClass="ui-confirmdialog-no "
                                icon="ui-icon-close fa fa-close Fs14 White" />
                         </p:confirmDialog>
                      </div>
                   </div>  
			                             
		            <p:tabView>
          	           <p:tab title="#{msg.lbl_korfName}">
          	            <div class="Card SoftBlue ui-fluid"  >
				         <div class="Container100  Responsive100">
				           <div class="ContainerIndent " > 
				              <p:panelGrid columns="4" layout="grid" style="border:0px !important; background:none;">
				                
				                <p:outputLabel for="identifier" value="#{msg.lbl_tour_id}" />
				                <p:outputLabel id="identifier"  value="#{korfAddressView.korfAddress.identifier}"/> 
				                
				               
				                <p:outputLabel for="name" value="#{msg.lbl_name}" />
				                <p:outputLabel id="name" value="#{korfAddressView.korfAddress.name}"/>
				                
				              <!--   <p:outputLabel for="address" value="#{msg.lbl_address}" />
				                <p:outputLabel id="address"	value="#{korfAddressView.korfAddress.address}"/> -->
				                
				                <p:outputLabel for="street" value="#{msg.lbl_street}"/>
				                <p:outputLabel id="street" value="#{korfAddressView.korfAddress.street}"/>
				                
				                <p:outputLabel for="houseNo" value="#{msg.lbl_houseNo}" />
				                <p:outputLabel id="houseNo" value="#{korfAddressView.korfAddress.houseNumber}"/> 
				                
				                <p:outputLabel for="place" value="#{msg.lbl_place}" />
				                <p:outputLabel id="place" value="#{korfAddressView.korfAddress.place}"/> 
				                
				                <p:outputLabel for="zip" value="#{msg.lbl_zip}" />
				                <p:outputLabel id="zip" value="#{korfAddressView.korfAddress.zipCode}"/> 
				                
				                <p:outputLabel for="state" value="#{msg.lbl_state}" />
				                <p:outputLabel id="state" value="#{not empty korfAddressView.korfAddress.state ? msg['state.'+=korfAddressView.korfAddress.state] : ''}"/> 
				                
				                <p:outputLabel for="country" value="#{msg.lbl_country}" />
				                <p:outputLabel id="country" value="#{not empty korfAddressView.korfAddress.country ? msg['country.'+=korfAddressView.korfAddress.country] : ''}" /> 
				               
				              
				                
			                 </p:panelGrid>
			                </div>
			               </div>
			              </div> 
			            </p:tab>
			        </p:tabView>      
			     </h:form>
		       </div>
             </div>
           </div>
        </div>
     </div>
	   <div class="Container30 Responsive100">
		 <div class="ContainerIndent">
		   <div class="Card ShadowEffect HeiAutoOnMobile">
			 <h2 class="CardTopic"><i class="icon-info"></i>#{msg.hdr_info}</h2>
			  <div class="EmptyBox10"></div>
				<div class="SeparatorFull"></div>
                  <div class="EmptyBox10"></div>
					
						  <p:panelGrid columns="3" layout="grid" columnClasses="ui-grid-col-5,ui-grid-col-6,ui-grid-col-1" style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank" >
							<p:outputLabel for="createBy" value="#{msg.lbl_createdBy}: " />
							<p:outputLabel id="createBy" value="#{korfAddressView.getUserFullName(korfAddressView.korfAddress.createBy) != null ? korfAddressView.getUserFullName(korfAddressView.korfAddress.createBy) : ''}"	/>
                            <p:graphicImage  class ="Fright Fs30 circlesmallicon" 
                            	value="/images/#{korfAddressView.korfAddress.createBy ne null ? korfAddressView.getUserImage(korfAddressView.korfAddress.createBy) : 'default.jpg'  }"/>

							        
							<p:outputLabel for="createTime" value="#{msg.lbl_createdOn}: " />
							<p:outputLabel id="createTime" value="#{korfAddressView.korfAddress.createTime}">
							   <f:convertDateTime type="both"  timeZone="#{sessionScope['USER_IN_CONTEXT'].timeZone}" />
					        </p:outputLabel>
                            <div class="EmptyBox10"></div>
                            
                            <p:row></p:row><div class="EmptyBox10"></div><p:row></p:row>
                                    
							<p:outputLabel for="updateBy" value="#{msg.lbl_lastUpdatedBy}: " />
							<p:outputLabel id="updateBy" value="#{korfAddressView.getUserFullName(korfAddressView.korfAddress.updateBy) != null ? korfAddressView.getUserFullName(korfAddressView.korfAddress.updateBy) : ''}"	/>
                            <p:graphicImage class ="Fright Fs30 circlesmallicon" rendered="#{korfAddressView.korfAddress.updateBy ne null}" 
                            value="/images/#{korfAddressView.korfAddress.updateBy ne  null ? korfAddressView.getUserImage(korfAddressView.korfAddress.updateBy) : 'default.jpg'}"/>

							        
							<p:outputLabel for="updateTime" value="#{msg.lbl_lastUpdatedOn}: " />
							<p:outputLabel id="updateTime" value="#{korfAddressView.korfAddress.updateTime}">
							   <f:convertDateTime type="both"  timeZone="#{sessionScope['USER_IN_CONTEXT'].timeZone}" />
					        </p:outputLabel>
                            <div class="EmptyBox10"></div>
							
							<p:row></p:row><div class="EmptyBox10"></div><p:row></p:row>
                                    
                            <p:outputLabel for="lockedBy" rendered="#{korfAddressView.korfAddress.lockedBy ne null}" value="#{msg.lbl_lockedBy}: " />
							<p:outputLabel id="lockedBy" value="#{korfAddressView.getUserFullName(korfAddressView.korfAddress.lockedBy)}"	/>
						    <p:graphicImage class ="Fright Fs30 circlesmallicon" rendered="#{korfAddressView.korfAddress.lockedBy ne null}" value="/images/#{empty korfAddressView.getUserImage(korfAddressView.korfAddress.lockedBy) ? 'default.jpg' : korfAddressView.getUserImage(korfAddressView.korfAddress.lockedBy)}"></p:graphicImage>
							
							<p:outputLabel for="lockedTime" rendered="#{korfAddressView.korfAddress.lockedTime ne null}" value="#{msg.lbl_lockedTime}: " />
							<p:outputLabel id="lockedTime" value="#{korfAddressView.korfAddress.lockedTime}"	>
							<f:convertDateTime type="both"  timeZone="#{sessionScope['USER_IN_CONTEXT'].timeZone}" />
							</p:outputLabel>
							<div class="EmptyBox10"></div>
							
							<p:row></p:row><div class="EmptyBox10"></div><p:row></p:row>
							<p:outputLabel for="unlockedBy" rendered="#{korfAddressView.korfAddress.unlockedBy ne null}" value="#{msg.lbl_unlockedBy}: " />
							<p:outputLabel id="unlockedBy" value="#{korfAddressView.getUserFullName(korfAddressView.korfAddress.unlockedBy)}  "	/>
							<p:graphicImage class ="Fright Fs30 circlesmallicon" rendered="#{korfAddressView.korfAddress.unlockedBy ne null}" value="/images/#{empty korfAddressView.getUserImage(korfAddressView.korfAddress.unlockedBy) ? 'default.jpg' : korfAddressView.getUserImage(korfAddressView.korfAddress.unlockedBy)}"></p:graphicImage>
	
							<p:outputLabel for="unlockedTime" rendered="#{korfAddressView.korfAddress.unlockedTime ne null}" value="#{msg.lbl_unlockedTime}: " />
							<p:outputLabel id="unlockedTime" value="#{korfAddressView.korfAddress.unlockedTime}"	>
							<f:convertDateTime type="both"  timeZone="#{sessionScope['USER_IN_CONTEXT'].timeZone}" />
							</p:outputLabel>
							 
						</p:panelGrid>
						 
				   </div>
			    </div>		
             </div>
         
    </ui:define>
 </ui:composition>
			                             