<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui">
	<ui:define name="subheader">
        #{msg.hdr_administration}
    </ui:define>
	<ui:define name="content">
	<div class="Container100">
     <div class="ContainerIndent">
      <div class="Card ShadowEffect">
       <div class="Container100  Responsive100">
        <div class="ContainerIndent">
         <h1 class="TexAlCenter BigTopic">#{msg.hdr_Module_Management}</h1>
          <div class="Container20  Responsive60">
           <div class="ContainerIndent">
    	 
			 <h:form>
				<ui:include src="/views/admin/include/adminInclude.xhtml" />
			 </h:form>
	</div>
	</div>
	<div class="Container80  Responsive100">
	<div class="ContainerIndent">
	 		<f:event type="preRenderView"
			listener="#{moduleManagementListView.preRenderView}" />
		    <f:metadata>
			<f:viewAction action="#{moduleManagementListView.onLoadAction}" />
		    </f:metadata>
  	             <h:form id="moduleManagementList">
  	             <p:messages id="messages" globalOnly="true" showDetail="true" autoUpdate="true" closable="true" escape="false" />
  	             <div class="ui-widget ui-widget-header ui-corner-all ui-helper-clearfix">
  	             <div class="ui-toolbar-group-left">
          			<p:commandButton value="#{msg.btn_enable}" id="btnEnable" icon=" " action=" "/>
                  	<p:commandButton value="#{msg.btn_disable}" id="btnDisable" icon=" " action=" "/>	 
				 </div>	
			     <div class="ui-toolbar-group-right"> 
                  <p:commandButton id="delete" icon="fa fa-trash-o" process="@form" actionListener="#{moduleManagementListView.deleteAction}"
					title="#{msg.lbl_deleteModules}" 
					oncomplete="PF('listTableWidgetVar').clearFilters()" >
					<p:confirm header="#{msg.confirmation}" message="#{msg.delete_sure}" icon="ui-icon-alert" />
				 </p:commandButton>
					<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                       <p:commandButton value="#{msg.btn_yes}" type="button" styleClass="ui-confirmdialog-yes " icon="ui-icon-check fa fa-check Fs14 White" />
                       <p:commandButton value="#{msg.btn_no}" type="button" styleClass="ui-confirmdialog-no " icon="ui-icon-close fa fa-close Fs14 White" />
                    </p:confirmDialog>	
                 </div>
				 </div>	
					<p:tabView> 
						<p:tab title="#{msg.lbl_Module_Management_List}">				
							<p:dataTable id="listTable" var="modulesList" value="#{moduleManagementListView.metaTableList}" rowKey="#{modulesList.pageId}"
								style="border:none;" widgetVar="listTableWidgetVar" selection="#{moduleManagementListView.selectedModules}"
								rows="#{sessionScope['USER_IN_CONTEXT'].displayRowsSize}" rowsPerPageTemplate="#{sessionScope['USER_IN_CONTEXT'].actualDisplayRowsSize}"
								emptyMessage="#{msg.table_empty_msg}" resizableColumns="true" draggableColumns="true" 
								paginator="true" paginatorPosition="bottom" currentPageReportTemplate="#{msg.lbl_showing} {startRecord}-{endRecord} #{msg.lbl_outOf} {totalRecords}"
								paginatorTemplate="{CurrentPageReport}  
				    			{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
								rowIndexVar="rowIndex" reflow="true" filteredValue="#{moduleManagementListView.filteredModuleList}" tableStyle="table-layout: auto;">
								<p:ajax event="rowToggle" listener="#{moduleManagementListView.onRowToggle(modulesList.pageId)}" update="listTable" />
								
				            <f:facet name="header">
				                <div style="height: 50px;">
				                  <table id="filter" style="margin-top: -15px;">
					                <tr>
						               <td align="left" >
							             <p:inputText id="globalFilter" onkeyup="PF('listTableWidgetVar').filter()" placeholder="#{msg.lbl_search}" style="width:75%"/>
						               </td>
						
						               <td align="right" >
						                 <p:commandButton id="toggler" type="button" class="GrayButton" icon="fa fa-calculator" title="#{msg.btn_columns}"/>
							               <p:ajax event="page" oncomplete="updateToggles(PF('columnToggler'))" />
						                   <p:columnToggler widgetVar="columnToggler" datasource="listTable" trigger="toggler" style="width:100%">
						                   <p:ajax event="toggle" listener="#{moduleManagementListView.onToggle}" />
						                 </p:columnToggler>
						               </td>
					              </tr>
				               </table>
					         </div>	
								
				          </f:facet>
						                 <p:column  selectionMode="multiple" headerText="#{msg.lbl_select}" 
				                               value="#{modulesList.checked}" style="width:54px;" class="TexAlCenter text-top" visible="#{moduleManagementListView.togglerList[0]}" >
					                     </p:column>		
								        
								         <p:column headerText="#{msg.lbl_Detail_View}" visible="#{moduleManagementListView.togglerList[1]}" style="width:5%">
                                        	 <p:rowToggler />
                                         </p:column>
								        
								         <p:column headerText="#{msg.lbl_Page_Desc}" visible="#{moduleManagementListView.togglerList[2]}"  sortBy="#{modulesList.pageDesc}" filterMatchMode="contains" filterBy="#{modulesList.pageDesc}">
								         <p:commandLink id="moduleId"  value="#{msg['menuLbl_'+= modulesList.pageDesc]}" action="#{moduleManagementListView.viewAction(modulesList.pageId)}" />
								         </p:column>
								        
						                
								          <p:column headerText="#{msg.lbl_Parent_Page}" visible="#{moduleManagementListView.togglerList[3]}" sortBy="#{modulesList.parentPage}" filterMatchMode="contains" filterBy="#{modulesList.parentPage}">
									      <h:outputText value="#{msg['menuLbl_'+= moduleManagementListView.parentPageName]}" />
								          </p:column>
								          
								          <p:column headerText="#{msg.lbl_Url}" visible="#{moduleManagementListView.togglerList[4]}" sortBy="#{modulesList.url}" filterMatchMode="contains" filterBy="#{modulesList.url}">
									      <h:outputText value="#{modulesList.url}" />
								          </p:column>
	
								          <p:rowExpansion >
								              <p:dataTable id="listTable1" var="subList" value="#{moduleManagementListView.subModules}" rowKey="#{subList.pageId}"
								                     selection="#{moduleManagementListView.selectedModules}" selectionMode="multiple" tableStyle="table-layout: auto;"
								                      emptyMessage="#{msg.table_empty_msg}" resizableColumns="true" style="border:none;">
								                 <p:ajax event="rowToggle" listener="#{moduleManagementListView.onRowToggle1(subList.pageId)}" update="listTable2" />
								                <p:column headerText="Detail View" style="width:10%">
                                                <p:rowToggler rendered="#{subList.parentPageDesc eq true}" />
                                                </p:column>
                                                
	                                            <p:column headerText="#{msg.lbl_Page_Desc}">
							                	<p:commandLink id="moduleId1" value="#{msg['menuLbl_'+= subList.pageDesc]}" action="#{moduleManagementListView.viewAction(subList.pageId)}" />
								                </p:column>
								          
					                            <p:column headerText="#{msg.lbl_Parent_Page}">
									            <h:outputText value="#{msg['menuLbl_'+= moduleManagementListView.parentPageName1]}" />
								                </p:column>
								                
								                <p:column headerText="#{msg.lbl_Url}">
									            <h:outputText value="#{subList.url}" />
								                </p:column>
								                
								                <p:rowExpansion >
								                <p:dataTable id="listTable2" var="subList1" value="#{moduleManagementListView.subModules1}" rowKey="#{subList.pageId}"
								                     selection="#{moduleManagementListView.selectedModules}" selectionMode="multiple" tableStyle="table-layout: auto;"
								                      emptyMessage="#{msg.table_empty_msg}" resizableColumns="true" style="border:none;">
								                <p:column headerText="#{msg.lbl_Page_Desc}">
							                	<p:commandLink id="moduleId2" value="#{msg['menuLbl_'+= subList1.pageDesc]}" action="#{moduleManagementListView.viewAction(subList1.pageId)}" />
								                </p:column>
								          
					                            <p:column headerText="#{msg.lbl_Parent_Page}">
									            <h:outputText value="#{msg['menuLbl_'+= moduleManagementListView.parentPageName2]}" />
								                </p:column>
								                
								                <p:column headerText="#{msg.lbl_Url}">
									            <h:outputText value="#{subList1.url}" />
								                </p:column>
								                </p:dataTable>
								                </p:rowExpansion>
								          
								            </p:dataTable>
							              </p:rowExpansion>
							</p:dataTable>
					 </p:tab>
				</p:tabView>
						
		   </h:form>
	   </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
      
</ui:define>
</ui:composition>