<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui">
	<ui:define name="subheader">
      #{msg.hdr_administration}
    </ui:define>
	<ui:define name="content">
	<f:event type="preRenderView" 
               listener="#{moduleManagementListView.preRenderView}" />
			<f:metadata>
			<f:viewAction action="#{moduleManagementListView.onLoadAction}" />
			</f:metadata>
	<div class="Container100">
    <div class="ContainerIndent">
    <div class="Card ShadowEffect">
    <div class="Container100  Responsive100">
    <div class="ContainerIndent">
    <h2 class="TexAlCenter BigTopic">#{msg.hdr_Module_Management}</h2>
     	 <div class="Container20  Responsive60">
    	 <div class="ContainerIndent">
    	 <p:row></p:row><div class="EmptyBox30"></div><p:row></p:row>
			<h:form>
				<ui:include src="/views/admin/include/adminInclude.xhtml" />
			</h:form>
		 </div>
	 	 </div>
	 		<div class="Container80  Responsive100">
	 		<div class="ContainerIndent">
			
			<h:form id="form">
			  <div id="user" class="Container100">
				<div class="ContainerIndent">
					<p:messages id="messages" globalOnly="true" showDetail="true"
						autoUpdate="true" closable="true" escape="false" />
					   <div class="Container100 Responsive100">
						  <div class="ContainerIndent">
							<div class="ui-widget ui-widget-header ui-corner-all ui-helper-clearfix"><div class="ui-toolbar-group-left">
							    <p:commandButton value="#{msg.btn_edit}" id="btnEdit" actionListener="#{moduleManagementListView.editAction(moduleManagementListView.moduleId)}"
					               icon="fa fa-pencil" process="@this" rendered= "#{moduleManagementListView.metaTable.active eq 'Y'}"/>
					            <p:commandButton value="#{msg.btn_cancel}" id="btnCancel" actionListener="#{moduleManagementListView.cancelAction}" icon="fa fa-close" process="@this"/>
					        
					                 <span class="ui-separator">
                                        <span class="fa fa-ellipsis-v SoftGray"></span>
                                     </span>
                                     
			                         <p:commandButton id="lock" icon="fa fa-lock"  process="@form" 
			                             actionListener="#{moduleManagementListView.lockViewedMetaTable(moduleManagementListView.moduleId)}"
				                         title="#{msg.lbl_lockModule}" rendered="#{moduleManagementListView.metaTable.active eq 'Y'}" />
				                                 
			                         <p:commandButton id="unlock" icon="fa fa-unlock" process="@form" 
			                             actionListener="#{moduleManagementListView.unlockViewedMetaTable(moduleManagementListView.moduleId)}"
				                         title="#{msg.lbl_unlockModule}" rendered="#{moduleManagementListView.metaTable.active ne 'Y'}" />
				            </div>                  
                            <div class="ui-toolbar-group-right">
                                     <p:commandButton id="delete" icon="fa fa-trash-o"  process="@form" 
                                          action="#{moduleManagementListView.deleteViewedMetaTable(moduleManagementListView.moduleId)}"
				                          rendered="#{moduleManagementListView.metaTable.active ne 'Y'}" title="#{msg.lbl_deleteModules}">
			                              
			                         <p:confirm header="#{msg.confirmation}" message="#{msg.delete_sure}" icon="ui-icon-alert" />
			                         </p:commandButton>
				                     <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                                     
                                     <p:commandButton value="#{msg.btn_yes}" type="button" styleClass="ui-confirmdialog-yes "
                                           icon="ui-icon-check fa fa-check Fs14 White" />
                                     <p:commandButton value="#{msg.btn_no}" type="button" styleClass="ui-confirmdialog-no "
                                           icon="ui-icon-close fa fa-close Fs14 White" />
                                     </p:confirmDialog>
                             </div>
                         </div>
					     <p:tabView>
							<p:tab >
							    <f:facet name="title">
							          <p:outputLabel value="#{msg['menuLbl_'+= moduleManagementListView.metaTable.pageDesc]}" />
				                        <span class="ui-separator">
                                        <span class="fa fa-ellipsis-v SoftGray"></span>
                                        </span>
                                      <p:commandLink rendered="#{moduleManagementListView.metaTable.parentPage ne 1}">
                                      <i class="fa fa-flag" ></i>
                                      </p:commandLink>
                                  
                                 
                                </f:facet>
							    <div class="Card SoftBlue ui-fluid">
                	               <div class="Container50  Responsive100">
                	                    <div class="ContainerIndent " >
							    
								         <p:panelGrid id="addNew" columns="2" cellspacing="10" layout="grid" style="border:0px !important; background:none;word-wrap:break-word;"
									            styleClass="ui-panelgrid-blank ui-responsive">
									     
									           <p:outputLabel for="pageDesc" value="#{msg.lbl_Page_Desc}" />
	            					           <p:outputLabel id="pageDesc" value="#{msg['menuLbl_'+= moduleManagementListView.metaTable.pageDesc]}"  />
	       
	           					               <p:outputLabel for="isChildModule" value="#{msg.lbl_isChildModule}" rendered="#{moduleManagementListView.metaTable.parentPage ne '1' and moduleManagementListView.metaTable.childModuleConfig eq 'true'}"/>
	           					               <p:outputLabel id="isChildModule" value="#{moduleManagementListView.metaTable.childModuleConfig}" rendered="#{moduleManagementListView.metaTable.parentPage ne '1' and moduleManagementListView.metaTable.childModuleConfig eq 'true'}"/>
	           					              
	           					               <p:outputLabel for="image" value="#{msg.lbl_Image}" />
	            					           <p:graphicImage id="image" class="circlebigicon" cache="false" value="/images/#{moduleManagementListView.getDefaultImage(moduleManagementListView.metaTable.imageName) ne null? 'default.jpg' : moduleManagementListView.metaTable.imageName}"
                                                   />
	            					    </p:panelGrid>
	            					    </div>
	            				 </div>
	            					    
	            			     <div class="Container50  Responsive100">
                	               <div class="ContainerIndent">
							    
								        <p:panelGrid  columns="2" cellspacing="10" layout="grid" style="border:0px !important; background:none;word-wrap:break-word;"
									       styleClass="ui-panelgrid-blank ui-responsive">
	            				       
	            					       <p:outputLabel for="parentPage" value="#{msg.lbl_Parent_Page}" />
	            					       <p:outputLabel id="parentPage" value="#{msg['menuLbl_'+= moduleManagementListView.metaTable.parentPageDesc]}" /> 
	           					   
	            					       <p:outputLabel for="subModule" value="#{msg.lbl_subModule}" rendered="#{moduleManagementListView.metaTable.parentPage ne '1' and moduleManagementListView.metaTable.childModuleConfig eq 'true'}"/>
	            					       <p:outputLabel id="subModule" value="#{msg['menuLbl_'+= moduleManagementListView.metaTable.childModParentPage]}" rendered="#{moduleManagementListView.metaTable.parentPage ne '1' and moduleManagementListView.metaTable.childModuleConfig eq true}"/> 
	            					      
	            					       <p:outputLabel for="popup" value="#{msg.lbl_Popup}" />
	            					       <p:outputLabel id="popup" value="#{moduleManagementListView.metaTable.popupMenu == null? msg['lbl_disable']:moduleManagementListView.metaTable.popupMenu}" />
	            					
	            					       <p:outputLabel for="printConfig" value="#{msg.lbl_PrintConfig}" />
	            					       <p:outputLabel id="printConfig" value="#{moduleManagementListView.metaTable.printConfig== null? msg['lbl_disable']:moduleManagementListView.metaTable.printConfig}" />
	            					   
	            					   </p:panelGrid>
	            					</div>
	            			     </div>
	            					   
	            			      <div class="Container100 Responsive100">
                	                 <div class="ContainerIndent " >
							    
								       <p:panelGrid columns="2" cellspacing="10" layout="grid" style="border:0px !important; background:none;word-wrap:break-word;"
									        styleClass="ui-panelgrid-blank ui-responsive" columnClasses="ui-grid-col-3,ui-grid-col-9">
	 		                            
	 		                               <p:outputLabel for="url" value="#{msg.lbl_Url} " />
	            					       <p:outputLabel id="url" value="#{moduleManagementListView.metaTable.url}" />
	            					   </p:panelGrid>
	            					 </div>
	            				</div>  
	            			</div>
	            						
						  </p:tab>
						  <p:tab id="activityMapping" title="#{msg.hdr_activityMapping}">
			    	 
			    	           <div class="Card SoftBlue ui-fluid">
						         <div class="Container100  Responsive100">
                		            <div class="ContainerIndent " >
						               <p:panelGrid id="acvtMap" columns="4" cellspacing="2" layout="grid" styleClass="ui-panelgrid-blank">
						   
						                 <p:outputLabel for="activity" value="#{msg.lbl_modActivity}" />
						                 <p:dataList  id="activity" value="#{moduleManagementListView.metaTable.activityList}"  
						              		 styleClass="ui-datalist-data" var="activity" >
						               		<p:outputLabel value="#{activity.activityName}"/>
						                 </p:dataList>
						              </p:panelGrid>
						            </div>
						          </div>
						     </div>
						    </p:tab>
					    </p:tabView>
					</div>
				</div>
			</div>
		  </div>
		</h:form>
	</div>
	</div>
	</div>
	</div>
	</div>
	</div>
	</div>
	</ui:define>
</ui:composition>