<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui">
	<ui:define name="subheader">
        #{msg.hdr_administration}
    </ui:define>
	<ui:define name="content">
	<div class="Container100">
    <div class="ContainerIndent">
    <div class="Card ShadowEffect">
    <div class="Container100  Responsive100">
    <div class="ContainerIndent">
    <h1 class="TexAlCenter BigTopic">#{msg.hdr_Module_Management}</h1>
    <div class="Container20  Responsive60">
    <div class="ContainerIndent">
    	 
			<h:form>
				<ui:include src="/views/admin/include/adminInclude.xhtml" />
			</h:form>
	</div>
	</div>
	<div class="Container80  Responsive100">
	<div class="ContainerIndent">
	 		<f:event type="preRenderView"
			listener="#{moduleManagementListView.preRenderView}" />
		    <f:metadata>
			<f:viewAction action="#{moduleManagementListView.onLoadAction}" />
		    </f:metadata>
  	             <h:form id="moduleManagementList">
  	             
  	             <p:messages id="messages" globalOnly="true" showDetail="true" autoUpdate="true" closable="true" escape="false" />
  	             
  	             <div class="ui-widget ui-widget-header ui-corner-all ui-helper-clearfix">
  	                 <div class="ui-toolbar-group-left">
          			      
          			      <p:commandButton value="#{msg.btn_add}" id="btnAdd" icon="fa fa-plus" action="#{moduleManagementListView.addAction()}"/>
          			
          			      <p:commandButton value="#{msg.btn_show_act_module}" id="btnShowAct"
					           actionListener="#{moduleManagementListView.showActive}" 
					           disabled="#{moduleManagementListView.showActiveListBtn eq 'false'}"
					           process="@this" update="moduleManagementList"
					           oncomplete="PF('listTableWidgetVar').clearFilters()">
				          </p:commandButton>
				   
				          <p:commandButton value="#{msg.btn_show_inact_module}" id="btnShowInact"
					           actionListener="#{moduleManagementListView.showInactive}"
					           disabled="#{moduleManagementListView.showActiveListBtn eq 'true'}"
					           process="@this" update="moduleManagementList"
					           oncomplete="PF('listTableWidgetVar').clearFilters()">
				          </p:commandButton>
				          
				          <span class="ui-separator">
                          <span class="fa fa-ellipsis-v SoftGray"></span>
                          </span>
				
				          <p:commandButton id="lock" icon="fa fa-lock"  process="@form"
					           actionListener="#{moduleManagementListView.lockAction}"
					           rendered="#{moduleManagementListView.showActivateBtn eq 'false'}"
					           title="#{msg.lbl_lockModule}" update="moduleManagementList:pnl"
					           oncomplete="PF('listTableWidgetVar').clearFilters()" />
				          
				          <p:commandButton id="unlock" icon="fa fa-unlock" process="@form"
					           actionListener="#{moduleManagementListView.unlockAction}"
					           rendered="#{moduleManagementListView.showActivateBtn eq 'true'}"
					           title="#{msg.lbl_unlockModule}" update="moduleManagementList:pnl"
					           oncomplete="PF('listTableWidgetVar').clearFilters()" />
                  		 
				    </div>	
			    <div class="ui-toolbar-group-right"> 
                          <p:commandButton id="delete" icon="fa fa-trash-o" process="@form" actionListener="#{moduleManagementListView.deleteAction}"
					          title="#{msg.lbl_deleteModules}" rendered="#{moduleManagementListView.showActivateBtn eq 'true'}"
					          oncomplete="PF('listTableWidgetVar').clearFilters()" update="pnl:listTable">
					      <p:confirm header="#{msg.confirmation}" message="#{msg.delete_sure}" icon="ui-icon-alert" />
				          </p:commandButton>
					
					      <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                          <p:commandButton value="#{msg.btn_yes}" type="button" styleClass="ui-confirmdialog-yes " icon="ui-icon-check fa fa-check Fs14 White" />
                          <p:commandButton value="#{msg.btn_no}" type="button" styleClass="ui-confirmdialog-no " icon="ui-icon-close fa fa-close Fs14 White" />
                          </p:confirmDialog>	
                </div>
		      </div>	
			    <p:tabView id="pnl"> 
					<p:tab title="#{msg.lbl_Module_Management_List}">				
						  <p:dataTable id="listTable" var="modulesList" value="#{moduleManagementListView.metaTableList}" rowKey="#{modulesList.pageId}"
								style="border:none;" widgetVar="listTableWidgetVar" selection="#{moduleManagementListView.selectedModules}"
								rows="#{sessionScope['USER_IN_CONTEXT'].displayRowsSize}" rowsPerPageTemplate="#{sessionScope['USER_IN_CONTEXT'].actualDisplayRowsSize}"
								emptyMessage="#{msg.table_empty_msg}" 
								paginator="true" paginatorPosition="bottom" currentPageReportTemplate="#{msg.lbl_showing} {startRecord}-{endRecord} #{msg.lbl_outOf} {totalRecords}"
								paginatorTemplate="{CurrentPageReport}  
				    			{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
								rowIndexVar="rowIndex" reflow="true" filteredValue="#{moduleManagementListView.filteredModuleList}" tableStyle="table-layout: auto;">
								<p:ajax event="rowToggle" listener="#{moduleManagementListView.onRowToggle(modulesList.pageId)}"
									 update="moduleManagementList:pnl:listTable" />
								
				           <f:facet name="header">
				                <div style="height: 50px;">
				                  <table id="filter" style="margin-top: -15px;">
					                <tr>
						               <td align="left">
							           <p:inputText id="globalFilter" onkeyup="PF('listTableWidgetVar').filter()" placeholder="#{msg.lbl_search}" style="width:75%"/>
						               </td>
						
						               <td align="right">
						               <p:commandButton id="toggler" type="button" class="GrayButton" icon="fa fa-calculator" title="#{msg.btn_columns}"/>
							           <p:ajax event="page" oncomplete="updateToggles(PF('columnToggler'))" />
						               <p:columnToggler widgetVar="columnToggler" datasource="listTable" trigger="toggler" style="width:100%">
						               <p:ajax event="toggle" listener="#{moduleManagementListView.onToggle}" />
						               </p:columnToggler>
						               </td>
					              </tr>
				               </table>
					         </div>	
								
				          </f:facet>
						               <p:column  selectionMode="multiple" headerText="#{msg.lbl_select}" 
				                             value="#{modulesList.checked}" style="width:54px;" class="TexAlCenter text-top" visible="#{moduleManagementListView.togglerList[0]}" >
					                   </p:column>		
								
								       <p:column headerText="#{msg.lbl_Detail_View}" visible="#{moduleManagementListView.togglerList[1]}" style="width:5%">
                                      	 <p:rowToggler  />
                                       </p:column>
								
								       <p:column headerText="#{msg.lbl_Page_Desc}" visible="#{moduleManagementListView.togglerList[2]}"  sortBy="#{modulesList.pageDesc}" filterMatchMode="contains" filterBy="#{modulesList.pageDesc}">
								       <p:commandLink id="moduleId" onclick="PF('bui').show()" value="#{msg['menuLbl_'+= modulesList.pageDesc]}" action="#{moduleManagementListView.viewAction(modulesList.pageId)}" />
								       <p:commandLink id="moduleIdNewTab" action="#{moduleManagementListView.viewAction(modulesList.pageId)}" ajax="false" target="_blank" oncomplete="PF('bui').hide()">
							               <i class="icon-tab Fs22 bottom" title="#{msg.lbl_opennewtab}"></i>
						               </p:commandLink>
								       </p:column>
								
								       <p:column headerText="#{msg.lbl_Parent_Page}" visible="#{moduleManagementListView.togglerList[3]}" sortBy="#{moduleManagementListView.parentPageName}" filterMatchMode="contains" filterBy="#{moduleManagementListView.parentPageName}">
									   <h:outputText value="#{msg['menuLbl_'+= moduleManagementListView.parentPageName]}" />
								       </p:column>
								        
								       <p:column headerText="#{msg.lbl_Url}" visible="#{moduleManagementListView.togglerList[4]}" sortBy="#{modulesList.url}" filterMatchMode="contains" filterBy="#{modulesList.url}">
									   <h:outputText value="#{modulesList.url}" />
								       </p:column>
									
								  <p:rowExpansion id="exp1">
								      <p:dataTable id="listTable1" var="subList" value="#{moduleManagementListView.subModules}" rowKey="#{subList.pageId}"
								             selection="#{moduleManagementListView.selectedModules}" tableStyle="table-layout: auto;" widgetVar="listTable1WidgetVar"
								              emptyMessage="#{msg.table_empty_msg}" resizableColumns="true" style="border:none;" reflow="true" rowIndexVar="rowIndex">
								        
								           <p:ajax event="rowToggle" listener="#{moduleManagementListView.onRowToggle1((subList.pageId))}"
									       update="@parent" />
								        
						                  <p:column selectionMode="multiple"  headerText="#{msg.lbl_select}" 
				                             value="#{subList.checked}" style="width:54px;" class="TexAlCenter text-top" visible="#{moduleManagementListView.togglerList[0]}" >
					                      </p:column>		
					                 
								          <p:column headerText="Detail View" style="width:10%">
                                          <p:rowToggler rendered="#{subList.parentPageDesc eq true}" />
                                          </p:column>
                                        
	                                      <p:column headerText="#{msg.lbl_Page_Desc}">
							        	  <p:commandLink id="moduleIdOne" onclick="PF('bui').show()" action="#{moduleManagementListView.viewAction(subList.pageId)}" disabled="#{subList.subLock eq false}">
								          <h:outputText value="#{msg['menuLbl_'+= subList.pageDesc]}" />
								          </p:commandLink>
								          <p:commandLink id="moduleIdOneNewTab" action="#{moduleManagementListView.viewAction(subList.pageId)}" ajax="false" target="_blank" oncomplete="PF('bui').hide()">
							               <i class="icon-tab Fs22 bottom" title="#{msg.lbl_opennewtab}"></i>
						                  </p:commandLink>
								          </p:column>
								
					                      <p:column headerText="#{msg.lbl_Parent_Page}">
									      <h:outputText value="#{msg['menuLbl_'+= moduleManagementListView.subParentPageDesc]}" />
								          </p:column>
								        
								          <p:column headerText="#{msg.lbl_Url}">
									      <h:outputText value="#{subList.url}" />
								          </p:column>
								          
								          <p:column >
									       <p:selectBooleanCheckbox  value="#{subList.subLock}" rendered="#{subList.subLock eq true}" disabled="#{moduleManagementListView.showActiveListBtn eq 'true'}">
                                            <p:ajax event="change" listener="#{moduleManagementListView.subModLockAction(subList)}" update="@form"/>
                                           </p:selectBooleanCheckbox>
                                           <p:selectBooleanCheckbox  value="#{subList.subLock}" rendered="#{subList.subLock eq false}" disabled="#{moduleManagementListView.showActiveListBtn eq 'true'}">
                                            <p:ajax event="change" listener="#{moduleManagementListView.subModUnLockAction(subList)}" update="@form"/>
                                           </p:selectBooleanCheckbox>
								          </p:column>
								          
								          <p:column headerText="#{msg.lbl_delete}" rendered="#{moduleManagementListView.showActiveListBtn eq 'true'}">
								          <p:commandButton id="delete" icon="fa fa-trash-o" action="#{moduleManagementListView.subModdeleteAction(subList.pageId)}"
										          title="#{msg.lbl_deleteModules}" rendered="#{moduleManagementListView.showActiveListBtn eq 'true'}">
									      </p:commandButton>
										
										      
								          </p:column>
								    <p:rowExpansion id="exp2">
								        <p:dataTable id="listTable2" var="subList1" value="#{moduleManagementListView.childModules}" rowKey="#{subList1.pageId}"
								             selection="#{moduleManagementListView.selectedModules}" selectionMode="multiple" tableStyle="table-layout: auto;"
								              emptyMessage="#{msg.table_empty_msg}" resizableColumns="true" style="border:none;" widgetVar="listTable2WidgetVar">
								             
								              
						                    <p:column  selectionMode="multiple" headerText="#{msg.lbl_select}" 
				                                value="#{subList1.checked}" style="width:54px;" class="TexAlCenter text-top" visible="#{moduleManagementListView.togglerList[0]}" >
					                        </p:column>		
					                   
								            <p:column headerText="#{msg.lbl_Page_Desc}" >
							        	    <p:commandLink id="moduleIdTwo"  onclick="PF('bui').show()" action="#{moduleManagementListView.viewAction(subList1.pageId)}" value="#{msg['menuLbl_'+= subList1.pageDesc]}" disabled="#{subList1.subLock eq false}" >
							        	      <!-- <h:outputText /> -->
							        	    </p:commandLink>
							        	    <p:commandLink id="moduleIdTwoNewTab" action="#{moduleManagementListView.viewAction(subList1.pageId)}" ajax="false" target="_blank" oncomplete="PF('bui').hide()">
							                   <i class="icon-tab Fs22 bottom" title="#{msg.lbl_opennewtab}"></i>
						                    </p:commandLink>
								            </p:column>
								
					                        <p:column headerText="#{msg.lbl_Parent_Page}">
									        <h:outputText value="#{msg['menuLbl_'+= moduleManagementListView.childParentPageDesc]}" />
								            </p:column>
 								        
								            <p:column headerText="#{msg.lbl_Url}">
									        <h:outputText value="#{subList1.url}" />
								            </p:column>
								            
								            <p:column >
									        <p:selectBooleanCheckbox  value="#{subList1.subLock}" rendered="#{subList1.subLock eq true}" disabled="#{moduleManagementListView.showActiveListBtn eq 'true'}">
                                            <p:ajax event="change" listener="#{moduleManagementListView.subModLockAction(subList1)}" update="@form"/>
                                            </p:selectBooleanCheckbox>
                                             <p:selectBooleanCheckbox  value="#{subList1.subLock}" rendered="#{subList1.subLock eq false}" disabled="#{moduleManagementListView.showActiveListBtn eq 'true'}">
                                            <p:ajax event="change" listener="#{moduleManagementListView.subModUnLockAction(subList1)}" update="@form"/>
                                           </p:selectBooleanCheckbox>
								            </p:column>
								            
								          <p:column headerText="#{msg.lbl_delete}" rendered="#{moduleManagementListView.showActiveListBtn eq 'true'}">
								          <p:commandButton id="delete" icon="fa fa-trash-o" action="#{moduleManagementListView.subModdeleteAction(subList1.pageId)}"
										           title="#{msg.lbl_deleteModules}" rendered="#{moduleManagementListView.showActiveListBtn eq 'true'}">
									      </p:commandButton>
									      </p:column>
								        </p:dataTable>
								    </p:rowExpansion>
								 
							</p:dataTable>
						</p:rowExpansion>
					</p:dataTable>
				</p:tab>
		    </p:tabView>
		                    <p:blockUI block="pnl"  widgetVar="bui"/>
			                <p:blockUI block="pnl" class="spinner" trigger="pnl, btnAdd">
       		                   <p:graphicImage class="spinner" value="/images/ajax-loader.gif"/>
		                    </p:blockUI> 
						
		  </h:form>
	   </div>
       </div>
       </div>
       </div>
       </div>
       </div>
       </div>
      
	</ui:define>
</ui:composition>