<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jstl/core">
	<ui:define name="subheader">
       #{msg.hdr_administration}
    </ui:define>
   <ui:define name="content">
   <f:event type="preRenderView" 
   listener="#{moduleManagementAddUpdate.preRenderView}" />
		<f:metadata>
			<f:viewAction action="#{moduleManagementAddUpdate.onLoadAction}" />
		</f:metadata>
    <div class="Container100">
    <div class="ContainerIndent">
    <div class="Card ShadowEffect">
    <div class="Container100  Responsive100">
    <div class="ContainerIndent">
     	 <div class="Container20  Responsive60">
    	 <div class="ContainerIndent">
    	 <p:row></p:row><div class="EmptyBox50"></div><p:row></p:row> 
			<h:form>
				<ui:include src="/views/admin/include/adminInclude.xhtml" />
			</h:form>
		 </div>
	 	 </div>
	 		<div class="Container80  Responsive100">
	 		<div class="ContainerIndent">
	 		    	 <h1 class="TexAlCenter BigTopic">#{msg.hdr_Module_Management}</h1>
	     			 <h:form id="tabViewForm">
	     			 <p:messages id="messages" globalOnly="true" showDetail="true"
						autoUpdate="true" closable="true" escape="false" />
	     			 <p:commandButton process="@parent" icon="fa fa-save" value="#{msg.btn_save}" ajax="false" actionListener="#{moduleManagementAddUpdate.saveAction}"/>
	     			 <p:commandButton value="#{msg.btn_cancel}" id="btnCancel" actionListener="#{moduleManagementAddUpdate.backView}" icon="fa fa-close" process="@this"/>
            			<p:tabView id="tabView" dynamic="true">
            			   <p:tab id="moduleManagement" title="#{msg[moduleManagementAddUpdate.moduleTitle]}">
		        			 <div class="Card SoftBlue ui-fluid">
                		       <div class="Container50  Responsive100">
                		          <div class="ContainerIndent " >
		        		              <p:panelGrid  id="modNamePnl" columns="2" 
		        			                layout="grid" style="border:0% !important;  background:none; "
								            styleClass="ui-panelgrid-blank">
		        			
		        			  	          <p:outputLabel for="moduleName" value="#{msg.lbl_Page_Desc} " />
			            		          <p:inputText id="moduleName" value="#{moduleManagementAddUpdate.metaTable.pageDesc}" style="margin-bottom:20px" disabled="#{not empty moduleManagementAddUpdate.moduleId}" >
			                              </p:inputText>
			 		                       
			 		                   </p:panelGrid>
			 		                       
			 		                   <p:panelGrid  id="childModPnl" columns="2" 
		        			                layout="grid" style="border:0% !important;  background:none; "
								            styleClass="ui-panelgrid-blank">     
			 		                      <p:outputLabel for="isChildModule" value="#{msg.lbl_isChildModule}" rendered="#{moduleManagementAddUpdate.showChildCheckBox eq 'true' and moduleManagementAddUpdate.metaTable.parentPage ne '1'}"/>
										   <p:selectBooleanCheckbox id="isChildModule" style="margin-bottom:10px;margin-left:10px" value="#{moduleManagementAddUpdate.metaTable.childModuleConfig}" rendered="#{moduleManagementAddUpdate.showChildCheckBox eq 'true' and moduleManagementAddUpdate.metaTable.parentPage ne '1'}" >
									         <p:ajax listener="#{moduleManagementAddUpdate.subModuleCheck()}" process="@this" update="userprofile_1"/>
									       </p:selectBooleanCheckbox>  
			 		                   </p:panelGrid>
			 		                   <p:panelGrid  id="userprofile" columns="2" 
		        			                layout="grid" style="border:0% !important;  background:none; "
								            styleClass="ui-panelgrid-blank">     		
	               				          <p:outputLabel value="#{msg.lbl_Image}"/>
			                              <p:commandLink onclick="PF('dlg1').show();">	
                                          <p:graphicImage  class="circlebigicon" cache="false"  
                                              value = "/images/#{moduleManagementAddUpdate.getDefaultImage(moduleManagementAddUpdate.metaTable.imageName) ne null? 'default.jpg' : moduleManagementAddUpdate.metaTable.imageName}" />
                                          </p:commandLink>
                                      </p:panelGrid>
                                </div>
                              </div>
                              <div class="Container50  Responsive100">
                		           <div class="ContainerIndent " >
		        		              
		        		              <p:panelGrid  id="userprofile_1" columns="2" 
		        			               layout="grid" style="border:0% !important;  background:none; "
								            styleClass="ui-panelgrid-blank">
                                
                                          <p:outputLabel for="parentModule" value="#{msg.lbl_Parent_Page} " />
			 		                      <p:selectOneMenu id="parentModule" value="#{moduleManagementAddUpdate.metaTable.parentPage}" style="margin-bottom:20px">
			 		             	        <f:selectItem itemValue="1" itemLabel="#{msg.menuLbl_root}" itemLabelEscaped="true" />
			           	                    <f:selectItems value="#{moduleManagementAddUpdate.mainModules}" var="menuLayout" itemValue="#{menuLayout.pageId}" itemLabel="#{msg['menuLbl_'+=menuLayout.pageDesc]}" itemLabelEscaped="true" />
			            		             <p:ajax event="change" listener="#{moduleManagementAddUpdate.subModuleList(moduleManagementAddUpdate.metaTable.parentPage)}" update="userprofile_1,childModPnl" process="@this"/> 
			            		          </p:selectOneMenu>    
			            		          
			            		          <p:outputLabel for="subModule" value="#{msg.lbl_subModule}" rendered="#{moduleManagementAddUpdate.metaTable.parentPage ne '1' and moduleManagementAddUpdate.metaTable.childModuleConfig eq true and not empty moduleManagementAddUpdate.subModules}"/>
			 		                      <p:selectOneMenu id="subModule" value="#{moduleManagementAddUpdate.subModuleValue}" style="margin-bottom:20px" rendered="#{moduleManagementAddUpdate.metaTable.parentPage ne '1' and moduleManagementAddUpdate.metaTable.childModuleConfig eq true and not empty moduleManagementAddUpdate.subModules}">
			           	                    <f:selectItems value="#{moduleManagementAddUpdate.subModules}" var="subModules" itemValue="#{subModules.pageId}" itemLabel="#{msg['menuLbl_'+=subModules.pageDesc]}" itemLabelEscaped="true" />
			            		          </p:selectOneMenu> 
			            		          </p:panelGrid>
			            		          
			            		           <p:panelGrid  id="pnlGrid" columns="2" 
		        			               layout="grid" style="border:0% !important;  background:none; "
								            styleClass="ui-panelgrid-blank"> 
			            		
		                                  <h:outputLabel for="Popup" value="#{msg.lbl_Popup}" />
	                                      <p:selectBooleanCheckbox id="Popup" value="#{moduleManagementAddUpdate.metaTable.popupMenu}" />
	                             
	                                      <h:outputLabel for="PrintConfig" value="#{msg.lbl_PrintConfig}" />
                                          <p:selectBooleanCheckbox id="PrintConfig"  value="#{moduleManagementAddUpdate.metaTable.printConfig}" />
                                     </p:panelGrid>
                                 </div>
                              </div>
                              <div class="Container100  Responsive100">
                		          <div class="ContainerIndent " >
		        		             <p:panelGrid  id="userprofile_2" columns="2" columnClasses="ui-grid-col-3,ui-grid-col-9"
		        			               layout="grid" style="border:0% !important;  background:none; "
								           styleClass="ui-panelgrid-blank">
                         		          
                         		          <p:outputLabel  for = "Url" value="#{msg.lbl_Url}" />
			            		          <p:inputText id="Url" value="#{moduleManagementAddUpdate.metaTable.url}" >
	               				          </p:inputText>
	               				     </p:panelGrid>
	               				  </div>
	               			  </div>
	               				
                              <p:dialog header="#{msg.lbl_uploadPicture}" widgetVar="dlg1" closable="true"  responsive="true">
                                     <p:panelGrid  columns="1" 
		        			               layout="grid" style="border:0px !important;  background:none; "
								           styleClass="ui-panelgrid-blank">
            
		   	                            <p:fileUpload icon="fa fa-paperclip"  id="docUpload" label="#{msg.lbl_chooseFiles}" 
			                                fileUploadListener="#{moduleManagementAddUpdate.fileUploadListener}"  value="#{moduleManagementAddUpdate.file} " 
			                                multiple="true" mode="advanced" dragDropSupport="true" auto="true" update="userprofile" oncomplete="PF('dlg1').hide();" />
			                            
			                            <p:commandButton value="#{msg.btn_defaultImage}" actionListener="#{moduleManagementAddUpdate.setDefaultImage}" 
									       onsuccess="PF('dlg1').hide();" class= "ui-fileupload-choose " update="@form">
								        </p:commandButton>
			   
                                      </p:panelGrid>	
                                	    
                              </p:dialog>  
                                 
                                
                                
                            </div>               
			    	    </p:tab>
			    	
			    	    <p:tab id="activityMapping" title="#{msg.hdr_activityMapping}" rendered="#{not empty moduleManagementAddUpdate.moduleId}" >
			    	    <div class="Card SoftBlue ui-fluid">
						  <div class="Container100  Responsive100">
                		    <div class="ContainerIndent " >
						     <p:panelGrid id="acvtMap" columns="2" cellspacing="2" layout="grid" styleClass="ui-panelgrid-blank"
						        columnClasses="ui-grid-col-3,ui-grid-col-9">
						   
						         <p:outputLabel for="activity" value="#{msg.lbl_modActivity} " />
						         <p:pickList id="activity" value="#{moduleManagementAddUpdate.activityList}" var="activity" style="text-align: -webkit-left;"
							        itemLabel="#{activity.activityName}" itemValue="#{activity}" responsive="true" converter="moduleActivityConverter"
                                    showSourceFilter="true" showTargetFilter="true" filterMatchMode="contains" styleClass="myPicklist">
						         </p:pickList>
						         <p:message for="activity"/>					           
						         <div class="EmptyBox10"></div>
						       
					         </p:panelGrid>
						  </div>
			    	    </div>
			    	   </div>
			    	   </p:tab>
			    </p:tabView>
			    </h:form>
			  </div>
		   </div>
		</div>
    </div>
	</div>
	</div>
	</div>
	
   </ui:define>
   </ui:composition>