<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core" >
	<ui:define name="subheader">
        #{msg.hdr_disposals}
    </ui:define>
    <ui:define name="content">
	  <f:event type="preRenderView" listener="#{disposalsAddUpdate.preRenderView}" />
	  <f:metadata>
		<f:viewAction action="#{disposalsAddUpdate.onLoadAction}" />
	  </f:metadata>
	  <h:form id="disposalsAddUpdateForm" enctype="multipart/form-data" >
	   <div id="user" class="Container100">
		<div class="ContainerIndent">
		  <div class="Card ShadowEffect">
		    <div class="Container100 Responsive100 ui-fluid">
			  <div class="ContainerIndent">
				  <p:messages id="messages" globalOnly="true" showDetail="true"
					  autoUpdate="true" closable="true" escape="false" />
				   <p:panelGrid id="savePnl" columns="3" style="border:1px !important; background:none;" styleClass="ui-panelgrid-blank ui-responsive">    
				      <p:commandButton value="#{msg.btn_save}" id="btnSave" icon="fa fa-save" 
					     actionListener="#{disposalsAddUpdate.saveAction}" ajax="false" onclick=" PF('bui').show() " >
				      </p:commandButton>
				      <p:commandButton value="#{msg.btn_cancel}" id="btnCancel" icon="fa fa-close"
				 	  action="#{disposalsAddUpdate.cancelAction}"
					  process="@this" />
				   </p:panelGrid>
						
				   <p:tabView id="tabView" orientation="left">
					 <p:tab title="#{msg.lbl_disposalsDetails}" titleStyle="background-color: #FFFFFF;height:55px;">
					  <div class="Card SoftBlue ui-fluid"  >
					     <div class="Container50  Responsive100">
				           <div class="ContainerIndent " >
						    <p:panelGrid id="disposals" columns="2" layout="grid" style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank">
														
								<p:outputLabel for="identifier" value="#{msg.lbl_identifier}" rendered="#{disposalsAddUpdate.showIdentifier eq 'true'}" />
								<p:outputLabel id="identifier" value="#{disposalsAddUpdate.disposals.identifier}"
								    disabled="true" rendered="#{disposalsAddUpdate.showIdentifier eq 'true'}" />
	                            
		        			    <p:outputLabel for="name" value="#{msg.lbl_firstName}" />							
								<p:inputText id="name" value="#{disposalsAddUpdate.disposals.firstName}"
								    required="true" disabled="#{disposalsAddUpdate.disposals.active eq 'N'}" />
								   
							    <p:outputLabel for="customerNumber" value="#{msg.lbl_customerNumber}" />							
	            				<p:inputText id="customerNumber" value="#{disposalsAddUpdate.disposals.customerNumber}"
								      disabled="#{disposalsAddUpdate.disposals.active eq 'N'}" />    
		        				 	
		        				<p:outputLabel for="systemNumber" value="#{msg.lbl_systemNumber}" />							
								<p:inputText id="systemNumber" value="#{disposalsAddUpdate.disposals.systemNumber}"
								      disabled="#{disposalsAddUpdate.disposals.active eq 'N'}" /> 				
	            				
	            				<p:outputLabel for="object" value="#{msg.lbl_object}" />							
								<p:inputText id="object" value="#{disposalsAddUpdate.disposals.object}"
								      disabled="#{disposalsAddUpdate.disposals.active eq 'N'}" />
								      
								<p:outputLabel for="roadObject" value="#{msg.lbl_roadObject}" />							
								<p:inputText id="roadObject" value="#{disposalsAddUpdate.disposals.roadObject}"
								      disabled="#{disposalsAddUpdate.disposals.active eq 'N'}" />
								    
            								
					     </p:panelGrid>
					     </div>
					     </div>
					     <div class="Container50  Responsive100">
				           <div class="ContainerIndent " >
						    <p:panelGrid id="disposalsOne" columns="2" layout="grid" style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank">
					          
						          <p:outputLabel for="postcodeObject" value="#{msg.lbl_postcodeObject}" />							
								  <p:inputText id="postcodeObject" value="#{disposalsAddUpdate.disposals.postcodeObject}"
								      disabled="#{disposalsAddUpdate.disposals.active eq 'N'}" />
								      
								  <p:outputLabel for="districtObject" value="#{msg.lbl_districtObject}" />							
								  <p:inputText id="districtObject" value="#{disposalsAddUpdate.disposals.districtObject}"
								      disabled="#{disposalsAddUpdate.disposals.active eq 'N'}" /> 
								      
								  <p:outputLabel for="kw" value="#{msg.lbl_kw}" />							
								  <p:inputText id="kw" value="#{disposalsAddUpdate.disposals.kw}"
								    disabled="#{disposalsAddUpdate.disposals.active eq 'N'}" />
								      
								  <p:outputLabel for="intervalInKws" value="#{msg.lbl_intervalInKws}" />							
								  <p:inputText id="intervalInKws" value="#{disposalsAddUpdate.disposals.intervalInKws}"
								    disabled="#{disposalsAddUpdate.disposals.active eq 'N'}" />  
								    
								  <p:outputLabel for="intervals" value="#{msg.lbl_intervals}" />							
							      <p:inputText id="intervals" value="#{disposalsAddUpdate.disposals.intervals}"
								    disabled="#{disposalsAddUpdate.disposals.active eq 'N'}" />
								      
							  
					      
					         </p:panelGrid>
					    </div>
					   </div>
					</div>
				  </p:tab>   
			      <p:tab title="#{msg.lbl_disposalData}" titleStyle="background-color: #FFFFFF;height:55px;">
					  <div class="Card SoftBlue ui-fluid" >
					   <div class="Container50  Responsive100">
				           <div class="ContainerIndent " >
						    <p:panelGrid id="maintenanceVisit" columns="2" layout="grid" style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank">
					       
							   <p:outputLabel for="dateIn2012" value="#{msg.lbl_dateIn2012}" />							
							   <p:inputText id="dateIn2012" value="#{disposalsAddUpdate.disposals.dateIn2012}"
								    disabled="#{disposalsAddUpdate.disposals.active eq 'N'}" />
            				  	                 
							      
							   <p:outputLabel for="dateIn2013" value="#{msg.lbl_dateIn2013}" />							
							   <p:inputText id="dateIn2013" value="#{disposalsAddUpdate.disposals.dateIn2013}"
							      disabled="#{disposalsAddUpdate.disposals.active eq 'N'}" />  
							      
							   <p:outputLabel for="dateIn2014" value="#{msg.lbl_dateIn2014}" />							
							   <p:inputText id="dateIn2014" value="#{disposalsAddUpdate.disposals.dateIn2014}"
							      disabled="#{disposalsAddUpdate.disposals.active eq 'N'}" />  
					       
					        </p:panelGrid>
					       </div>
					   </div>
					   
					   
					    <div class="Container50  Responsive100">
				           <div class="ContainerIndent " >
						    <p:panelGrid id="maintenanceVisitOne" columns="2" layout="grid" style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank">
					       
					           <p:outputLabel for="dateIn2015" value="#{msg.lbl_dateIn2015}" />							
							   <p:inputText id="dateIn2015" value="#{disposalsAddUpdate.disposals.dateIn2015}"
							      disabled="#{disposalsAddUpdate.disposals.active eq 'N'}" />
							      
							   <p:outputLabel for="dateIn2016" value="#{msg.lbl_dateIn2016}" />							
							   <p:inputText id="dateIn2016" value="#{disposalsAddUpdate.disposals.dateIn2016}"
							      disabled="#{disposalsAddUpdate.disposals.active eq 'N'}" />
							      
							   <p:outputLabel for="dateIn2017" value="#{msg.lbl_dateIn2017}" />							
							   <p:inputText id="dateIn2017" value="#{disposalsAddUpdate.disposals.dateIn2017}"
							      disabled="#{disposalsAddUpdate.disposals.active eq 'N'}" />
					       
					        </p:panelGrid>
					       </div>
					   </div>
					  </div>
					 </p:tab>
					 <p:tab title="#{msg.lbl_maintenanceDetails}" titleStyle="background-color: #FFFFFF;height:55px;">
					  <div class="Card SoftBlue ui-fluid"  >
					     <div class="Container50  Responsive100">
				           <div class="ContainerIndent " >
						    <p:panelGrid id="maintenance" columns="2" layout="grid" style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank">
					        
					         <p:outputLabel for="tee" value="#{msg.lbl_tee}" />
	                         <p:inputText id="tee" value="#{disposalsAddUpdate.disposals.tee}"
							      disabled="#{disposalsAddUpdate.disposals.active eq 'N'}" />
	                         
	                         <p:outputLabel for="amount" value="#{msg.lbl_amount}" />
	                         <p:inputText id="amount" value="#{disposalsAddUpdate.disposals.amount}"
							      disabled="#{disposalsAddUpdate.disposals.active eq 'N'}" />  
	                          
	                         <p:outputLabel for="waterSupply" value="#{msg.lbl_waterSupply}" />
	                         <p:inputText id="waterSupply" value="#{disposalsAddUpdate.disposals.waterSupply}"
							      disabled="#{disposalsAddUpdate.disposals.active eq 'N'}" />
	                          
	                         <p:outputLabel for="hoseLength" value="#{msg.lbl_hoseLength}" />
	                         <p:inputText id="hoseLength" value="#{disposalsAddUpdate.disposals.hoseLength}"
							      disabled="#{disposalsAddUpdate.disposals.active eq 'N'}" />
	                         
	                         <p:outputLabel for="vehicle" value="#{msg.lbl_vehicle}" />
	                         <p:inputText id="vehicle" value="#{disposalsAddUpdate.disposals.vehicle}"
							      disabled="#{disposalsAddUpdate.disposals.active eq 'N'}" /> 
							      
							</p:panelGrid>
							</div>
							</div>
							
							<div class="Container50  Responsive100">
				           <div class="ContainerIndent " >
						    <p:panelGrid id="maintenanceDetial" columns="2" layout="grid" style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank">      
	                         
	                         <p:outputLabel for="remarksExpression" value="#{msg.lbl_remarksExpression}" />
	                         <p:inputText id="remarksExpression" value="#{disposalsAddUpdate.disposals.remarksExpression}"
							      disabled="#{disposalsAddUpdate.disposals.active eq 'N'}" />
							      
							  <p:outputLabel for="additionalInformation" value="#{msg.lbl_additionalInformation}" />							
							  <p:inputText id="additionalInformation" value="#{disposalsAddUpdate.disposals.additionalInformation}"
							      disabled="#{disposalsAddUpdate.disposals.active eq 'N'}" />
							      
							  <p:outputLabel for="installationSa" value="#{msg.lbl_installationSa}" />							
							  <p:inputText id="installationSa" value="#{disposalsAddUpdate.disposals.installationSa}"
							      disabled="#{disposalsAddUpdate.disposals.active eq 'N'}" />
							      
							  <p:outputLabel for="tender" value="#{msg.lbl_tender}" />							
							  <p:inputText id="tender" value="#{disposalsAddUpdate.disposals.tender}"
							      disabled="#{disposalsAddUpdate.disposals.active eq 'N'}" />
					        
					        </p:panelGrid>
					       </div>
					      </div>
					   </div>
					 </p:tab>
					 
					 <p:tab title="#{msg.lbl_postDetails}" titleStyle="background-color: #FFFFFF;height:55px;">
					  <div class="Card SoftBlue ui-fluid"  >
					     <div class="Container50  Responsive100">
				           <div class="ContainerIndent " >
						    <p:panelGrid id="post" columns="2" layout="grid" style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank">
					          
					          <p:outputLabel for="firstNamePost" value="#{msg.lbl_firstNamePost}" />							
							  <p:inputText id="firstNamePost" value="#{disposalsAddUpdate.disposals.firstNamePost}"
							      disabled="#{disposalsAddUpdate.disposals.active eq 'N'}" />
							      
							  <p:outputLabel for="namePost" value="#{msg.lbl_namePost}" />							
							  <p:inputText id="namePost" value="#{disposalsAddUpdate.disposals.namePost}"
							      disabled="#{disposalsAddUpdate.disposals.active eq 'N'}" />
							      
							   <p:outputLabel for="streetPost" value="#{msg.lbl_streetPost}" />							
							   <p:inputText id="streetPost" value="#{disposalsAddUpdate.disposals.streetPost}"
							      disabled="#{disposalsAddUpdate.disposals.active eq 'N'}" />
							      
							   <p:outputLabel for="postCode" value="#{msg.lbl_postCode}" />							
							   <p:inputText id="postCode" value="#{disposalsAddUpdate.disposals.postCode}"
							      disabled="#{disposalsAddUpdate.disposals.active eq 'N'}" />
					 
					 
							   </p:panelGrid>
							  </div>
							 </div> 
							 <div class="Container50  Responsive100">
				              <div class="ContainerIndent " >    
				              <p:panelGrid id="postDetail" columns="2" layout="grid" style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank">  
							  
							   <p:outputLabel for="placePost" value="#{msg.lbl_placePost}" />							
							   <p:inputText id="placePost" value="#{disposalsAddUpdate.disposals.placePost}"
							      disabled="#{disposalsAddUpdate.disposals.active eq 'N'}" />
							      
							   <p:outputLabel for="intervalInMeet" value="#{msg.lbl_intervalInMeet}" />							
							   <p:inputText id="intervalInMeet" value="#{disposalsAddUpdate.disposals.intervalInMeet}"
							      disabled="#{disposalsAddUpdate.disposals.active eq 'N'}" />
							      
							   <p:outputLabel for="datePrintPostcard" value="#{msg.lbl_datePrintPostcard}" />							
							   <p:inputText id="datePrintPostcard" value="#{disposalsAddUpdate.disposals.datePrintPostcard}"
							      disabled="#{disposalsAddUpdate.disposals.active eq 'N'}" /> 
							 
							      
							  <p:row></p:row>
                 		      <p:row></p:row>
					 
					        </p:panelGrid>
					      </div>
					     </div>
					    </div>
					   </p:tab>
					   
				   </p:tabView>
				 </div>
			   </div>
		     </div>
			             <p:blockUI block="tabView" widgetVar="bui">LOADING<br /> 
       			           <p:graphicImage  value="/images/ajax-loader.gif"/>
    		             </p:blockUI>
		   </div>
		 </div>
	  </h:form>	
   </ui:define>
 </ui:composition>