<ui:composition template="/WEB-INF/templates/template.xhtml"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:pe="http://primefaces.org/ui/extensions"
     xmlns:p="http://primefaces.org/ui"
     xmlns:c="http://java.sun.com/jstl/core">
    <ui:define name="subheader">
         #{msg.hdr_disposals}
    </ui:define>
    <ui:define name="content">
       <f:event type="preRenderView" listener="#{disposalsView.preRenderView}" />
       <f:metadata>
           <f:viewAction action="#{disposalsView.onLoadAction}"/>
       </f:metadata> 
       <div class="Container70 Responsive100">
		 <div class="ContainerIndent">
			<div class="Card ShadowEffect ">
			  <div class="Container100 Responsive100">
				<div class="ContainerIndent">
                <h:form id="disposalsviewForm" enctype="multipart/form-data">   
                  <p:messages id="messages" globalOnly="true" showDetail="true"
				     autoUpdate="true" closable="true" escape="false" />

			        <div class="ui-widget ui-widget-header ui-corner-all ui-helper-clearfix">
			          <div class="ui-toolbar-group-left">
			 
			             <p:commandButton  value="#{msg.btn_edit}" id="btnEdit" icon="fa fa-pencil" 
			                action="#{disposalsView.editAction(disposalsView.disposals.identifier)}" rendered="#{disposalsView.disposals.active eq 'Y'}" />
			             <p:commandButton  value="#{msg.btn_cancel}" id="btnCancel" icon="fa fa-close" 
			                action="#{disposalsView.cancelAction}" process="@this" />
			             <span class="ui-separator">
                           <span class="fa fa-ellipsis-v SoftGray"></span>
                         </span>
			             <p:commandButton id="lock" icon="fa fa-lock" process="@form" 
			                actionListener="#{disposalsView.lockViewedDisposals(disposalsView.disposals.identifier)}"
				            title="#{msg.lbl_lockDisposals}" rendered="#{disposalsView.disposals.active eq 'Y'}" />
			             <p:commandButton id="unlock" icon="fa fa-unlock" process="@form" 
			                actionListener="#{disposalsView.unlockViewedDisposals(disposalsView.disposals.identifier)}"
				            title="#{msg.lbl_unlockDisposals}" rendered="#{disposalsView.disposals.active eq 'N'}" />
                      </div>
                      <div class="ui-toolbar-group-right">
                         <p:commandButton id="delete" icon="fa fa-trash-o" process="@form" 
                            action="#{disposalsView.deleteViewedDisposals(disposalsView.disposals.identifier)}"
				            rendered="#{disposalsView.disposals.active eq 'N'}" title="#{msg.lbl_deleteDisposals}">
			                <p:confirm header="#{msg.confirmation}" message="#{msg.delete_sure}" icon="ui-icon-alert" />
			             </p:commandButton>
				         <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                             <p:commandButton value="#{msg.btn_yes}" type="button" styleClass="ui-confirmdialog-yes "
                                icon="ui-icon-check fa fa-check Fs14 White" />
                              <p:commandButton value="#{msg.btn_no}" type="button" styleClass="ui-confirmdialog-no "
                                icon="ui-icon-close fa fa-close Fs14 White" />
                         </p:confirmDialog>
                      </div>
                   </div>  
			                             
		            <p:tabView id="tabView" orientation="left">
					 <p:tab title="#{msg.lbl_disposalsDetails}" titleStyle="background-color: #FFFFFF;height:55px;">
					  <div class="Card SoftBlue ui-fluid"  >
					     <div class="Container50  Responsive100">
				           <div class="ContainerIndent " >
						    <p:panelGrid id="disposals" columns="2" layout="grid" style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank">
														
								<p:outputLabel for="identifier" value="#{msg.lbl_identifier}" />
								<p:outputLabel id="identifier" value="#{disposalsView.disposals.identifier}" />
	                            
		        			    <p:outputLabel for="name" value="#{msg.lbl_firstName}" />							
								<p:outputLabel id="name" value="#{disposalsView.disposals.firstName}" />
								   
							    <p:outputLabel for="customerNumber" value="#{msg.lbl_customerNumber}" />							
	            				<p:outputLabel id="customerNumber" value="#{disposalsView.disposals.customerNumber}" />    
		        				 	
		        				<p:outputLabel for="systemNumber" value="#{msg.lbl_systemNumber}" />							
								<p:outputLabel id="systemNumber" value="#{disposalsView.disposals.systemNumber}" /> 				
	            				
	            				<p:outputLabel for="object" value="#{msg.lbl_object}" />							
								<p:outputLabel id="object" value="#{disposalsView.disposals.object}" />
								      
								<p:outputLabel for="roadObject" value="#{msg.lbl_roadObject}" />							
								<p:outputLabel id="roadObject" value="#{disposalsView.disposals.roadObject}" />
								    
            								
					     </p:panelGrid>
					     </div>
					     </div>
					     <div class="Container50  Responsive100">
				           <div class="ContainerIndent " >
						    <p:panelGrid id="disposalsOne" columns="2" layout="grid" style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank">
					          
						          <p:outputLabel for="postcodeObject" value="#{msg.lbl_postcodeObject}" />							
								  <p:outputLabel id="postcodeObject" value="#{disposalsView.disposals.postcodeObject}" />
								      
								  <p:outputLabel for="districtObject" value="#{msg.lbl_districtObject}" />							
								  <p:outputLabel id="districtObject" value="#{disposalsView.disposals.districtObject}" /> 
								      
								  <p:outputLabel for="kw" value="#{msg.lbl_kw}" />							
								  <p:outputLabel id="kw" value="#{disposalsView.disposals.kw}" />
								      
								  <p:outputLabel for="intervalInKws" value="#{msg.lbl_intervalInKws}" />							
								  <p:outputLabel id="intervalInKws" value="#{disposalsView.disposals.intervalInKws}" />  
								    
								  <p:outputLabel for="intervals" value="#{msg.lbl_intervals}" />							
							      <p:outputLabel id="intervals" value="#{disposalsView.disposals.intervals}" />
								      
							  
					      
					         </p:panelGrid>
					    </div>
					   </div>
					</div>
				  </p:tab>   
			      <p:tab title="#{msg.lbl_disposalData}" titleStyle="background-color: #FFFFFF;height:55px;">
					  <div class="Card SoftBlue ui-fluid" >
					   <div class="Container50  Responsive100">
				           <div class="ContainerIndent " >
						    <p:panelGrid id="maintenanceVisit" columns="2" layout="grid" style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank">
					       
							   <p:outputLabel for="dateIn2012" value="#{msg.lbl_dateIn2012}" />							
							   <p:outputLabel id="dateIn2012" value="#{disposalsView.disposals.dateIn2012}" />
            				  	                 
							   <p:outputLabel for="dateIn2013" value="#{msg.lbl_dateIn2013}" />							
							   <p:outputLabel id="dateIn2013" value="#{disposalsView.disposals.dateIn2013}" />  
							      
							   <p:outputLabel for="dateIn2014" value="#{msg.lbl_dateIn2014}" />							
							   <p:outputLabel id="dateIn2014" value="#{disposalsView.disposals.dateIn2014}" />  
					       
					        </p:panelGrid>
					       </div>
					   </div>
					   
					   
					    <div class="Container50  Responsive100">
				           <div class="ContainerIndent " >
						    <p:panelGrid id="maintenanceVisitOne" columns="2" layout="grid" style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank">
					       
					           <p:outputLabel for="dateIn2015" value="#{msg.lbl_dateIn2015}" />							
							   <p:outputLabel id="dateIn2015" value="#{disposalsView.disposals.dateIn2015}" />
							      
							   <p:outputLabel for="dateIn2016" value="#{msg.lbl_dateIn2016}" />							
							   <p:outputLabel id="dateIn2016" value="#{disposalsView.disposals.dateIn2016}" />
							      
							   <p:outputLabel for="dateIn2017" value="#{msg.lbl_dateIn2017}" />							
							   <p:outputLabel id="dateIn2017" value="#{disposalsView.disposals.dateIn2017}" />
					       
					        </p:panelGrid>
					       </div>
					   </div>
					  </div>
					 </p:tab>
					 <p:tab title="#{msg.lbl_maintenanceDetails}" titleStyle="background-color: #FFFFFF;height:55px;">
					  <div class="Card SoftBlue ui-fluid"  >
					     <div class="Container50  Responsive100">
				           <div class="ContainerIndent " >
						    <p:panelGrid id="maintenance" columns="2" layout="grid" style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank">
					        
					         <p:outputLabel for="tee" value="#{msg.lbl_tee}" />
	                         <p:outputLabel id="tee" value="#{disposalsView.disposals.tee}" />
	                         
	                         <p:outputLabel for="amount" value="#{msg.lbl_amount}" />
	                         <p:outputLabel id="amount" value="#{disposalsView.disposals.amount}" />  
	                          
	                         <p:outputLabel for="waterSupply" value="#{msg.lbl_waterSupply}" />
	                         <p:outputLabel id="waterSupply" value="#{disposalsView.disposals.waterSupply}" />
	                          
	                         <p:outputLabel for="hoseLength" value="#{msg.lbl_hoseLength}" />
	                         <p:outputLabel id="hoseLength" value="#{disposalsView.disposals.hoseLength}" />
	                         
	                         <p:outputLabel for="vehicle" value="#{msg.lbl_vehicle}" />
	                         <p:outputLabel id="vehicle" value="#{disposalsView.disposals.vehicle}" /> 
							      
							</p:panelGrid>
							</div>
							</div>
							
							<div class="Container50  Responsive100">
				           <div class="ContainerIndent " >
						    <p:panelGrid id="maintenanceDetial" columns="2" layout="grid" style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank">      
	                         
	                          <p:outputLabel for="remarksExpression" value="#{msg.lbl_remarksExpression}" />
	                          <p:outputLabel id="remarksExpression" value="#{disposalsView.disposals.remarksExpression}" />
							      
							  <p:outputLabel for="additionalInformation" value="#{msg.lbl_additionalInformation}" />							
							  <p:outputLabel id="additionalInformation" value="#{disposalsView.disposals.additionalInformation}" />
							      
							  <p:outputLabel for="installationSa" value="#{msg.lbl_installationSa}" />							
							  <p:outputLabel id="installationSa" value="#{disposalsView.disposals.installationSa}" />
							      
							  <p:outputLabel for="tender" value="#{msg.lbl_tender}" />							
							  <p:outputLabel id="tender" value="#{disposalsView.disposals.tender}" />
					        
					        </p:panelGrid>
					       </div>
					      </div>
					   </div>
					 </p:tab>
					 
					 <p:tab title="#{msg.lbl_postDetails}" titleStyle="background-color: #FFFFFF;height:55px;">
					  <div class="Card SoftBlue ui-fluid"  >
					     <div class="Container50  Responsive100">
				           <div class="ContainerIndent " >
						    <p:panelGrid id="post" columns="2" layout="grid" style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank">
					          
					          <p:outputLabel for="firstNamePost" value="#{msg.lbl_firstNamePost}" />							
							  <p:outputLabel id="firstNamePost" value="#{disposalsView.disposals.firstNamePost}" />
							      
							  <p:outputLabel for="namePost" value="#{msg.lbl_namePost}" />							
							  <p:outputLabel id="namePost" value="#{disposalsView.disposals.namePost}" />
							      
							  <p:outputLabel for="streetPost" value="#{msg.lbl_streetPost}" />							
							  <p:outputLabel id="streetPost" value="#{disposalsView.disposals.streetPost}" />
							      
							  <p:outputLabel for="postCode" value="#{msg.lbl_postCode}" />							
							  <p:outputLabel id="postCode" value="#{disposalsView.disposals.postCode}" />
					 
					 
							   </p:panelGrid>
							  </div>
							 </div> 
							 <div class="Container50  Responsive100">
				              <div class="ContainerIndent " >    
				              <p:panelGrid id="postDetail" columns="2" layout="grid" style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank">  
							  
							   <p:outputLabel for="placePost" value="#{msg.lbl_placePost}" />							
							   <p:outputLabel id="placePost" value="#{disposalsView.disposals.placePost}" />
							      
							   <p:outputLabel for="intervalInMeet" value="#{msg.lbl_intervalInMeet}" />							
							   <p:outputLabel id="intervalInMeet" value="#{disposalsView.disposals.intervalInMeet}" />
							      
							   <p:outputLabel for="datePrintPostcard" value="#{msg.lbl_datePrintPostcard}" />							
							   <p:outputLabel id="datePrintPostcard" value="#{disposalsView.disposals.datePrintPostcard}" /> 
							      
							  <p:row></p:row>
                 		      <p:row></p:row>
					 
					        </p:panelGrid>
					      </div>
					     </div>
					    </div>
					   </p:tab>
					   
				   </p:tabView>      
			     </h:form>
		       </div>
             </div>
           </div>
        </div>
     </div>
	   <div class="Container30 Responsive100">
		 <div class="ContainerIndent">
		   <div class="Card ShadowEffect HeiAutoOnMobile">
			 <h2 class="CardTopic"><i class="icon-info"></i>#{msg.hdr_info}</h2>
			  <div class="EmptyBox10"></div>
				<div class="SeparatorFull"></div>
                  <div class="EmptyBox10"></div>
					
						  <p:panelGrid columns="3" layout="grid" columnClasses="ui-grid-col-5,ui-grid-col-6,ui-grid-col-1" style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank" >
							<p:outputLabel for="createBy" value="#{msg.lbl_createdBy}: " />
							<p:outputLabel id="createBy" value="#{disposalsView.getUserFullName(disposalsView.disposals.createBy)}"	/>
                            <p:graphicImage  class ="Fright Fs30 circlesmallicon" value="/images/#{empty disposalsView.getUserImage(disposalsView.disposals.createBy) ? 'default.jpg' : disposalsView.getUserImage(disposalsView.disposals.createBy)}"/>

							        
							<p:outputLabel for="createTime" value="#{msg.lbl_createdOn}: " />
							<p:outputLabel id="createTime" value="#{disposalsView.disposals.createTime}">
							   <f:convertDateTime type="both"  timeZone="#{sessionScope['USER_IN_CONTEXT'].timeZone}" />
					        </p:outputLabel>
                            <div class="EmptyBox10"></div>
                            
                            <p:row></p:row><div class="EmptyBox10"></div><p:row></p:row>
                                    
							<p:outputLabel for="updateBy" value="#{msg.lbl_lastUpdatedBy}: " />
							<p:outputLabel id="updateBy" value="#{disposalsView.getUserFullName(disposalsView.disposals.updateBy)}"	/>
                            <p:graphicImage class ="Fright Fs30 circlesmallicon" rendered="#{disposalsView.disposals.updateBy ne null}" value="/images/#{empty disposalsView.getUserImage(disposalsView.disposals.updateBy) ? 'default.jpg' : disposalsView.getUserImage(disposalsView.disposals.updateBy)}"/>

							        
							<p:outputLabel for="updateTime" value="#{msg.lbl_lastUpdatedOn}: " />
							<p:outputLabel id="updateTime" value="#{disposalsView.disposals.updateTime}">
							   <f:convertDateTime type="both"  timeZone="#{sessionScope['USER_IN_CONTEXT'].timeZone}" />
					        </p:outputLabel>
                            <div class="EmptyBox10"></div>
							
							<p:row></p:row><div class="EmptyBox10"></div><p:row></p:row>
                                    
                            <p:outputLabel for="lockedBy" rendered="#{disposalsView.disposals.lockedBy ne null}" value="#{msg.lbl_lockedBy}: " />
							<p:outputLabel id="lockedBy" value="#{disposalsView.getUserFullName(disposalsView.disposals.lockedBy)}"	/>
						    <p:graphicImage class ="Fright Fs30 circlesmallicon" rendered="#{disposalsView.disposals.lockedBy ne null}" value="/images/#{empty disposalsView.getUserImage(disposalsView.disposals.lockedBy) ? 'default.jpg' : disposalsView.getUserImage(disposalsView.disposals.lockedBy)}"></p:graphicImage>
							
							<p:outputLabel for="lockedTime" rendered="#{disposalsView.disposals.lockedTime ne null}" value="#{msg.lbl_lockedTime}: " />
							<p:outputLabel id="lockedTime" value="#{disposalsView.disposals.lockedTime}"	>
							<f:convertDateTime type="both"  timeZone="#{sessionScope['USER_IN_CONTEXT'].timeZone}" />
							</p:outputLabel>
							<div class="EmptyBox10"></div>
							
							<p:row></p:row><div class="EmptyBox10"></div><p:row></p:row>
							<p:outputLabel for="unlockedBy" rendered="#{disposalsView.disposals.unlockedBy ne null}" value="#{msg.lbl_unlockedBy}: " />
							<p:outputLabel id="unlockedBy" value="#{disposalsView.getUserFullName(disposalsView.disposals.unlockedBy)}  "	/>
							<p:graphicImage class ="Fright Fs30 circlesmallicon" rendered="#{disposalsView.disposals.unlockedBy ne null}" value="/images/#{empty disposalsView.getUserImage(disposalsView.disposals.unlockedBy) ? 'default.jpg' : disposalsView.getUserImage(disposalsView.disposals.unlockedBy)}"></p:graphicImage>
	
							<p:outputLabel for="unlockedTime" rendered="#{disposalsView.disposals.unlockedTime ne null}" value="#{msg.lbl_unlockedTime}: " />
							<p:outputLabel id="unlockedTime" value="#{disposalsView.disposals.unlockedTime}"	>
							<f:convertDateTime type="both"  timeZone="#{sessionScope['USER_IN_CONTEXT'].timeZone}" />
							</p:outputLabel>
							 
						</p:panelGrid>
						 
				   </div>
			    </div>		
             </div>
         
    </ui:define>
 </ui:composition>
			                             