<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
	
	<ui:define name="subheader">
    #{msg.hdr_administration}
    </ui:define>
	<ui:define name="content">
	<div class="Container100">
    <div class="ContainerIndent">
    <div class="Card ShadowEffect">
    <div class="Container100  Responsive100">
    <div class="ContainerIndent">
     	 <div class="Container20  Responsive60">
    	 <div class="ContainerIndent">
    	 <p:row></p:row><div class="EmptyBox50"></div><p:row></p:row> 
			<h:form>
				<ui:include src="/views/admin/include/adminInclude.xhtml" />
			</h:form>
		 </div> 
	 	 </div>
	 		<div class="Container80  Responsive100">
	 		<div class="ContainerIndent">
			<h1 class="TexAlCenter BigTopic">#{msg.hdr_Role_Administration}</h1>
				<f:event type="preRenderView" listener="#{roleManagementAddUpdate.preRenderView}" />
						<f:metadata>
						  <f:viewAction action="#{roleManagementAddUpdate.onLoadAction}" />
					    </f:metadata>
						 <h:form id="tabViewForm">
						 	<p:commandButton process="@form" value="#{msg.btn_save}" actionListener="#{roleManagementAddUpdate.createRole}" 
								  rendered="#{roleManagementAddUpdate.roleId eq ''}" icon="fa fa-save" />
			            		 <p:commandButton process="@form" value="#{msg.btn_update}" actionListener="#{roleManagementAddUpdate.createRole}" 
			            		  rendered="#{roleManagementAddUpdate.roleId ne ''}" icon="fa fa-save" />
			            		 <p:commandButton process="@this" value="#{msg.btn_cancel}" actionListener="#{roleManagementAddUpdate.cancelAction}" 
			            		  icon="fa fa-close" />
	 			     	 		<p:messages id="messages" globalOnly="true" showDetail="true" autoUpdate="true" closable="true" escape="false" />
								 
			            		  <!-- #{roleManagementAddUpdate.selectedSubModules} -->
								 <p:tabView id="tabView" dynamic="true">
								 	<p:tab title="#{msg[roleManagementAddUpdate.roleTitle]}" >
									 <p:wizard process="@this" flowListener="#{roleManagementAddUpdate.onFlowRoleCreationProcess}" showNavBar="true" 
									  showStepStatus="false" nextLabel="#{msg.btn_next}" backLabel="#{msg.btn_back}" >
										 <p:tab id="mainModuleCreation" title="#{msg.lbl_Main_Module}">
										 <h:panelGrid columns="2" cellpadding="5">
										 <p:outputLabel for="roleName" value="#{msg.lbl_Role_Title}" />
										 <p:inputText id="roleName" value="#{roleManagementAddUpdate.role.roleName}" required="true" style="width:300px" />
										 <p:outputLabel for="mainMenu" value="#{msg.lbl_Choose_Main_Menu}" />  
										 <p:pickList id="mainMenu" value="#{roleManagementAddUpdate.mainModules}" var="mainModule" itemLabel="#{msg['menuLbl_'+=mainModule.pageDesc]}" 
														itemValue="#{mainModule}" converter="#{roleConverter}" required="true"/>
							             </h:panelGrid>
										 </p:tab>
										 <p:tab id="subModuleCreation" title="#{msg.lbl_Sub_modules}">
										 <h:panelGrid columns="2" cellpadding="5">
										 <p:dataTable id="subModuleList" var="subModule"
													value="#{roleManagementAddUpdate.subModuleLists}" rowKey="#{subModule.pageId}"
													selection="#{roleManagementAddUpdate.selectedSubModules}" style="margin-bottom:0" widgetVar="subModules" >
										 <p:column selectionMode="multiple"
														style="width:16px;text-align:center">
										 </p:column>
										 <p:column headerText="#{msg.lbl_Sub_modules}" selectRow="true" >
										 <h:outputText value="#{msg['menuLbl_'+=subModule.pageDesc]}" />
										 </p:column>
										 <p:column headerText="#{msg.lbl_Main_Module}">
										 <h:outputText value="#{msg['menuLbl_'+=subModule.parentPageDesc]}" />
										 </p:column>
										 
										 <p:column headerText="#{msg.lbl_roleActivities}">
										 <p:selectCheckboxMenu style="width:150px" var="t" label="Activities"
										                  filter="true" filterMatchMode="contains"  value="#{subModule.activities}">
										                 
										  <f:selectItems value="#{subModule.activityList}" var="activity" itemValue="#{activity.identifier}"
														itemLabel="#{activity.activityName}" itemLabelEscaped="true" />                             
										                  </p:selectCheckboxMenu>
										 </p:column>

										 </p:dataTable>
										 </h:panelGrid>
										 <h:panelGrid columns="2" cellpadding="5">
										 </h:panelGrid>
										 </p:tab>
									 </p:wizard>
								 	</p:tab>
								 </p:tabView>
			             </h:form>
		 			 </div>
				 </div>
		 	</div>
		 </div>
	</div>
	</div>
	</div>
    </ui:define>
</ui:composition>