<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui">
	<ui:define name="subheader">
     #{msg.hdr_administration}
    </ui:define>
	<ui:define name="content">
	<div class="Container100">
      <div class="ContainerIndent">
        <div class="Card ShadowEffect">
	      <div class="Container100  Responsive100">
		    <div class="ContainerIndent">
		     	 <div class="Container20  Responsive60">
			    	 <div class="ContainerIndent">
			    	    <p:row></p:row><div class="EmptyBox50"></div><p:row></p:row> 
						<h:form>
							<ui:include src="/views/admin/include/adminInclude.xhtml" />
						</h:form>
					 </div>
			 	 </div>
		 		<div class="Container80  Responsive100">
			 		<div class="ContainerIndent">		
			 		   <h1 class="TexAlCenter BigTopic">#{msg.hdr_Role_Administration}</h1>
			 		   <f:event type="preRenderView" listener="#{roleManagementListView.preRenderView}" />
			 		    <f:metadata>
					   	 <f:viewAction action="#{roleManagementListView.onLoadAction}" />
					    </f:metadata>
					    <h:form id="form">
					    <div class="ui-widget ui-widget-header ui-corner-all ui-helper-clearfix"><div class="ui-toolbar-group-left">
					      <p:messages id="messages" globalOnly="true" showDetail="true"
					     	autoUpdate="true" closable="true" escape="false" />
					     	
					      <p:commandButton value="#{msg.btn_edit}" id="btnEdit" icon="fa fa-pencil" process="@this"
					     	actionListener="#{roleManagementListView.editAction(roleManagementListView.roleId)}"  rendered="#{roleManagementListView.role.active eq 'Y'}" />
			             
					      <p:commandButton value="#{msg.btn_cancel}" id="btnCancel" icon="fa fa-close" process="@this" actionListener="#{roleManagementListView.listAction}" />
		                  <span class="ui-separator">
                             <span class="fa fa-ellipsis-v SoftGray"></span>
                          </span>
			             <p:commandButton id="lock" icon="fa fa-lock" process="@form" 
			                actionListener="#{roleManagementListView.lockViewedRole(roleManagementListView.roleId)}"
				            title="#{msg.lbl_lockRole}" rendered="#{roleManagementListView.role.active eq 'Y'}" />
			             
			             <p:commandButton id="unlock" icon="fa fa-unlock" process="@form" 
			                actionListener="#{roleManagementListView.unlockViewedRole(roleManagementListView.roleId)}"
				            title="#{msg.lbl_unlockRole}" rendered="#{roleManagementListView.role.active ne 'Y'}" />
				        </div>
                        <div class="ui-toolbar-group-right">
                            <p:commandButton id="delete" icon="fa fa-trash-o"  process="@form" 
                               action="#{roleManagementListView.deleteRole(roleManagementListView.roleId)}"
				               rendered="#{roleManagementListView.role.active ne 'Y'}" title="#{msg.lbl_deleteRole}">
			                   <p:confirm header="#{msg.confirmation}" message="#{msg.delete_sure}" icon="ui-icon-alert" />
			                </p:commandButton>
				            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                                <p:commandButton value="#{msg.btn_yes}" type="button" styleClass="ui-confirmdialog-yes "
                                    icon="ui-icon-check fa fa-check Fs14 White" />
                                <p:commandButton value="#{msg.btn_no}" type="button" styleClass="ui-confirmdialog-no "
                                    icon="ui-icon-close fa fa-close Fs14 White" />
                            </p:confirmDialog>
                        </div>
                </div>
                    
					 <p:tabView> 
					 <p:tab title="#{msg.lbl_Role_Name}: #{roleManagementListView.role.roleName}">
					 <h:panelGrid id="userManagement" columns="4" cellspacing="5" layout="grid" style="border:0px !important; background:none; text-align: center"
								styleClass="ui-panelgrid-blank">
								
					 <p:dataTable id="subModuleList" var="role" value="#{roleManagementListView.roleModMapList}" rowKey="#{role.roleId}"
						style="margin-bottom:0" widgetVar="roleDescDetailList"
						rows="#{sessionScope['USER_IN_CONTEXT'].displayRowsSize}" rowsPerPageTemplate="#{sessionScope['USER_IN_CONTEXT'].actualDisplayRowsSize}"
						emptyMessage="#{msg.table_empty_msg}" resizableColumns="true" draggableColumns="true" 
						paginator="true" paginatorPosition="bottom" currentPageReportTemplate="#{msg.lbl_showing} {startRecord}-{endRecord} #{msg.lbl_outOf} {totalRecords}"
						paginatorTemplate="{CurrentPageReport}  
		    			{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						rowIndexVar="rowIndex" reflow="true" >
						     <p:column headerText="#{msg.lbl_Sub_modules}" selectRow="true" >
							   <h:outputText value="#{msg['menuLbl_'+=role.pageDesc]}" />
						     </p:column>
							 <p:column headerText="#{msg.lbl_Main_Module}">
								<h:outputText value="#{msg['menuLbl_'+=role.parentPageDesc]}" />
							 </p:column>
							 <p:column headerText="#{msg.lbl_roleActivities}">
							    <h:outputText value="#{role.activity}" />
								
							 </p:column>
					 </p:dataTable>
					 </h:panelGrid>
					 <div class="EmptyBox30"></div> 
					 </p:tab>
					 </p:tabView>
					</h:form>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	</div>
	</ui:define>
</ui:composition>