<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui">
	<ui:define name="subheader">
        #{msg.hdr_divisions}
    </ui:define>
	<ui:define name="content">
		<f:event type="preRenderView" listener="#{divisionView.preRenderView}" />
		<f:metadata>
           <f:viewAction action="#{divisionView.onLoadAction}"/>
     	</f:metadata>
     	<div id="user" class="Container100">
			<div class="ContainerIndent">
				<div class="Card ShadowEffect">
					<div class="Container100 Responsive100 ui-fluid">
						<div class="ContainerIndent">
		                   <h:form id="form">
			                  <p:messages id="messages" globalOnly="true" showDetail="true"
				                 autoUpdate="true" closable="true" escape="false" />
				              <p:panelGrid id="panel2" columns="3" style="border:1px !important; background:none;"
											styleClass="ui-panelgrid-blank ui-responsive">  
			                          <p:commandButton value="#{msg.btn_save}" id="btnSave" icon="fa fa-save"
				                         actionListener="#{divisionView.saveAction}" process="@form" update="form"  onclick=" PF('bui').show() "/>
			                          <p:commandButton value="#{msg.btn_cancel}" id="btnCancel" icon="fa fa-close"
				                         action="#{divisionView.cancelAction}" process="@this"/>
				             </p:panelGrid>
		     
			    <p:tabView id="pnl">
				    <p:tab title="#{msg.hdr_addDivision}">
					
							<p:panelGrid id="blo2" columns="4" layout="grid" style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank">
						        
						        <div class="EmptyBox20"></div>
            					<p:outputLabel for="division" value="#{msg.lbl_divisionName}" />
            					<p:inputText id="division" value="#{divisionView.division.name}" required="true"
									requiredMessage="#{msg.err_division}" /> 
								<p:message for="division" display="text" showDetail="true" autoUpdate="true" escape="false" />
								
							</p:panelGrid>
				    </p:tab>
			   </p:tabView>
			   			<p:blockUI block="pnl" widgetVar="bui">LOADING<br /> 
       			           <p:graphicImage  value="/images/ajax-loader.gif"/>
    		           </p:blockUI>
		    </h:form>
	   </div>
	  </div>
	 </div>
	</div>
   </div>
  </ui:define>
 </ui:composition>