<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui">
	<ui:define name="subheader">
        #{msg.hdr_divisions}
    </ui:define>
	<ui:define name="content">
 	<f:event type="preRenderView" listener="#{divisionView.preRenderView}" />
	<f:metadata>
		<f:viewAction action="#{divisionView.onLoadAction}" />
	</f:metadata>
		<div class="Container100">
            <div class="ContainerIndent">
                <div class="Card ShadowEffect">
                    <div class="Container100  Responsive100">
                     <div class="ContainerIndent">
                        <h2 class="TexAlCenter BigTopic"> #{msg.hdr_divisionlist}</h2>
		                     <h:form id="divisionListForm">
			                        <p:messages id="messages" globalOnly="true" showDetail="true"
				                       autoUpdate="true" closable="true" escape="false" />
				                      <div class="ui-widget ui-widget-header ui-corner-all ui-helper-clearfix"><div class="ui-toolbar-group-left">				
			                                 <p:commandButton value="#{msg.btn_add}" id="btnAdd" icon="fa fa-plus"
					                            action="#{divisionView.addAction}" ajax="false" onclick="PF('blockUIForButtons').block()"/>
				                             <p:commandButton value="#{msg.btn_show_act_div}" id="btnShowAct" actionListener="#{divisionView.showActive}"
					                            disabled="#{divisionView.showActiveListBtn eq 'false'}"	process="@this" update="divisionListForm"
					                            onstart="PF('blockUIForButtons').block()" oncomplete="PF('listTableWidgetVar').clearFilters(), PF('blockUIForButtons').unblock()">
				                             </p:commandButton>
				                             <p:commandButton value="#{msg.btn_show_inact_div}" id="btnShowInact" actionListener="#{divisionView.showInactive}"
					                            disabled="#{divisionView.showActiveListBtn eq 'true'}" process="@this" update="divisionListForm" 
					                            onstart="PF('blockUIForButtons').block()" oncomplete="PF('listTableWidgetVar').clearFilters(), PF('blockUIForButtons').unblock()" >
				                             </p:commandButton>
				                             <span class="ui-separator">
                                                   <span class="fa fa-ellipsis-v SoftGray"></span>
                                             </span>
				                             <p:commandButton id="lock" icon="fa fa-lock" process="@form" actionListener="#{divisionView.lockAction}" title="#{msg.lbl_lockDivision}"
					                            rendered="#{divisionView.showActivateBtn eq 'false'}" onstart="PF('blockUIForButtons').block()" oncomplete="PF('listTableWidgetVar').clearFilters(), PF('blockUIForButtons').unblock()"/>
				                             <p:commandButton id="unlock" icon="fa fa-unlock" process="@form" actionListener="#{divisionView.unlockAction}" title="#{msg.lbl_unlockDivision}"
					                            rendered="#{divisionView.showActivateBtn eq 'true'}"  onstart="PF('blockUIForButtons').block()" oncomplete="PF('listTableWidgetVar').clearFilters(), PF('blockUIForButtons').unblock()" />
				                             </div>
                                                <div class="ui-toolbar-group-right"> 
				                             <p:commandButton id="delete" icon="fa fa-trash" process="@form" title="#{msg.lbl_deleteDivision}" actionListener="#{divisionView.deleteAction}"
					                            rendered="#{divisionView.showActivateBtn eq 'true'}" onstart="PF('blockUIForButtons').block()" oncomplete="PF('listTableWidgetVar').clearFilters()" >
			                                 <p:confirm header="#{msg.confirmation}" message="#{msg.delete_sure}" icon="ui-icon-alert" />
			                                 </p:commandButton>
			                                 <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                                                <p:commandButton value="#{msg.btn_yes}" type="button" styleClass="ui-confirmdialog-yes " icon="ui-icon-check fa fa-check Fs14 White" />
                                                <p:commandButton value="#{msg.btn_no}" type="button" styleClass="ui-confirmdialog-no " icon="ui-icon-close fa fa-close Fs14 White" />
                                            </p:confirmDialog>
                                          </div>
                                    </div>
			 <p:dataTable id="listTable" var="divisions" selection="#{divisionView.selectedDocs}" value="#{divisionView.divisionList}" 
			    rowsPerPageTemplate="#{sessionScope['USER_IN_CONTEXT'].actualDisplayRowsSize}"
				rows="#{sessionScope['USER_IN_CONTEXT'].displayRowsSize}"
				currentPageReportTemplate="#{msg.lbl_showing} {startRecord}-{endRecord} #{msg.lbl_outOf} {totalRecords}"
				rowKey="#{divisions.id}" emptyMessage="#{msg.table_empty_msg}" 	widgetVar="listTableWidgetVar" 
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				paginator="true"  paginatorPosition="bottom" 	rowIndexVar="rowIndex" 
				filteredValue="#{divisionView.filteredDivisionList}"
				reflow="true" tableStyle="table-layout: auto;">
				 <f:facet name="header">
				<div style="height: 50px;">
				<table id="filter" style="margin-top: -15px;">
					<tr>
						<td align="left">
							<p:inputText id="globalFilter"
							onkeyup="PF('listTableWidgetVar').filter()"
							placeholder="#{msg.lbl_search}" style="width:75%"/>
						</td>
						
						<td align="right">
						
						<p:commandButton id="toggler" type="button" class="GrayButton"
							icon="fa fa-calculator" title="#{msg.btn_columns}"/>
						<p:ajax event="page" oncomplete="updateToggles(PF('columnToggler'))" />
						<p:columnToggler widgetVar="columnToggler" datasource="listTable" trigger="toggler" style="width:100%">
                        <p:ajax event="toggle" listener="#{divisionView.onToggle}" />
                        </p:columnToggler>
						</td>
					</tr>
				</table>
				</div>	
				</f:facet>
			                   
			                   <p:column  selectionMode="multiple" visible="#{divisionView.togglerList[0]}" headerText="#{msg.lbl_select}" 
				                  value="#{divisions.checked}" style="width:54px;" class="TexAlCenter text-top" >
					           </p:column>
			        
				               <p:column headerText="#{msg.lbl_divisions}" sortBy="#{divisions.name}" filterMatchMode="contains"
					              filterBy="#{divisions.name}" visible="#{divisionView.togglerList[1]}">
					              <p:commandLink id="name" class="MarRight10" onstart="PF('blockUIForButtons').block()" value="#{divisions.name}" 
						             action="#{divisionView.viewAction(divisions.id)}" />
								  <p:commandLink id="divisionIdNewTab" action="#{divisionView.viewAction(divisions.id)}" ajax="false" target="_blank" onstart="PF('blockUIForButtons').block()">
							         <i class="icon-tab Fs22 bottom" title="#{msg.lbl_opennewtab}"></i>
						          </p:commandLink>
				               </p:column>
			 </p:dataTable>
		   <!-- <p:blockUI block="listTable"  widgetVar="bui"/>
		   <p:blockUI block="listTable" class="spinner" trigger="listTable,btnAdd">
       	   <p:graphicImage class="spinner" value="/images/ajax-loader.gif"/>
		   </p:blockUI>  -->
		   
		   <pe:blockUI block="listTable" widgetVar="blockUIForButtons"   css="{top: '400px', left: '', right: '750px'}"  >  
			<h:panelGrid columns="1" style="text-align:center;">
			<h:graphicImage library="images"  value="/images/ajax-loader.gif"/>
			<h:outputText value="#{msg.lbl_loading}"/>  
			<div class="EmptyBox10"></div>
			</h:panelGrid>
		  </pe:blockUI>
		   
		</h:form>
	   </div>
	  </div>
	 </div>
	</div>
   </div>
  </ui:define>
 </ui:composition>