<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jstl/core">
	<ui:define name="subheader">
      #{msg.hdr_divisions}
    </ui:define>
	<ui:define name="content">
		<f:event type="preRenderView"
			listener="#{divisionView.preRenderView}" />
		<f:metadata>
			<f:viewAction action="#{divisionView.onLoadAction}" />
		</f:metadata>
		<div class="Container70 Responsive100">
			<div class="ContainerIndent">
				<div class="Card ShadowEffect ">
					<div class="Container100 Responsive100">
						<div class="ContainerIndent">
							<h:form id="form" enctype="multipart/form-data">
								<p:messages id="messages" globalOnly="true" showDetail="true"
									autoUpdate="true" closable="true" escape="false" />
								<div class="ui-widget ui-widget-header ui-corner-all ui-helper-clearfix"><div class="ui-toolbar-group-left">
									<p:commandButton  value="#{msg.btn_edit}" id="btnEdit" icon="fa fa-pencil"
										action="#{divisionView.editAction(divisionView.division.id)}"  rendered="#{divisionView.division.active eq 'Y'}" />
									<p:commandButton  value="#{msg.btn_cancel}" id="btnCancel" icon="fa fa-close"
										action="#{divisionView.cancelAction}" process="@this" />
									<span class="ui-separator">
                                                    <span class="fa fa-ellipsis-v SoftGray"></span>
                                    </span>
									<p:commandButton id="lock" icon="fa fa-lock" process="@form" 
										actionListener="#{divisionView.lockViewedDivision(divisionView.division.id)}"
										title="#{msg.lbl_lockDivision}" rendered="#{divisionView.division.active eq 'Y'}" />
									<p:commandButton id="unlock" icon="fa fa-unlock" process="@form"
										actionListener="#{divisionView.unlockViewedDivision(divisionView.division.id)}"
										rendered="#{divisionView.division.active eq 'N'}" title="#{msg.lbl_unlockDivision}" />
									 </div>
                               	         <div class="ui-toolbar-group-right">
									 <p:commandButton id="delete" icon="fa fa-trash-o" process="@form" 
                                        action="#{divisionView.deleteViewedDivision(divisionView.division.id)}"
				                        rendered="#{divisionView.division.active eq 'N'}" title="#{msg.lbl_deleteDivision}">
			                            <p:confirm header="#{msg.confirmation}" message="#{msg.delete_sure}" icon="ui-icon-alert" />
			                         </p:commandButton>
				                     <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                                     <p:commandButton value="#{msg.btn_yes}" type="button" styleClass="ui-confirmdialog-yes "
                                        icon="ui-icon-check fa fa-check Fs14 White" />
                                     <p:commandButton value="#{msg.btn_no}" type="button" styleClass="ui-confirmdialog-no "
                                        icon="ui-icon-close fa fa-close Fs14 White" />
                                     </p:confirmDialog>
				                 </div>
				                </div>
				    
				      <p:tabView>
				            <p:tab title="#{msg.hdr_divisionData}">
				                  <p:panelGrid columns="4" layout="grid" style="border:0px !important; background:none;">
				  
				                      <div class="EmptyBox20"></div>
				                      <p:outputLabel for="division" value="#{msg.lbl_divisionName}" />
				                      <p:outputLabel id="division"  value="#{divisionView.division.name}" required="true" disabled="true" />
				                      <p:message for="division" display="text" showDetail="true" autoUpdate="true" escape="false"/>
				     		  
				     		      </p:panelGrid>
			                </p:tab>
		           </p:tabView>
				</h:form>
			  </div>
			</div>
		  </div>
         </div>
      </div>
		<div class="Container30 Responsive100">
						<div class="ContainerIndent">
						<div class="Card ShadowEffect HeiAutoOnMobile">
						<h2 class="CardTopic" ><i class="icon-info"></i>#{msg.hdr_info}</h2><div class="EmptyBox10"></div>
						   <div class="SeparatorFull"></div>
                        <div class="EmptyBox10"></div>
						     <p:panelGrid columns="3" layout="grid" columnClasses="ui-grid-col-5,ui-grid-col-6,ui-grid-col-1" style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank" >
									
								<p:outputLabel for="createBy" value="#{msg.lbl_createdBy}: " />
								<p:outputLabel id="createBy" value="#{divisionView.getUserFullName(divisionView.division.createBy)}"	/>
                                <p:graphicImage  class ="Fright Fs30 circlesmallicon" value="/images/#{empty divisionView.getUserImage(divisionView.division.createBy) ? 'default.jpg' : divisionView.getUserImage(divisionView.division.createBy)}"></p:graphicImage>
                                    							        
							    <p:outputLabel for="createTime" value="#{msg.lbl_createdOn}: " />
							    <p:outputLabel id="createTime" value="#{divisionView.division.createTime}"	>
							    <f:convertDateTime type="both"  timeZone="#{sessionScope['USER_IN_CONTEXT'].timeZone}" />
							    </p:outputLabel>
                                <div class="EmptyBox10"></div>
                                 
                                 <p:row></p:row><div class="EmptyBox10"></div><p:row></p:row>   
							    <p:outputLabel for="updateBy" value="#{msg.lbl_lastUpdatedBy}: " />
							    <p:outputLabel id="updateBy" value="#{divisionView.getUserFullName(divisionView.division.updateBy)}"	/>
                                <p:graphicImage class ="Fright Fs30 circlesmallicon" value="/images/#{empty divisionView.getUserImage(divisionView.division.updateBy) ? 'default.jpg' : divisionView.getUserImage(divisionView.division.updateBy)}"></p:graphicImage>
							        
							    <p:outputLabel for="updateTime" value="#{msg.lbl_lastUpdatedOn}: " />
							    <p:outputLabel id="updateTime" value="#{divisionView.division.updateTime}"	>
							    <f:convertDateTime type="both" timeZone="#{sessionScope['USER_IN_CONTEXT'].timeZone}" />
							    </p:outputLabel>
							    <div class="EmptyBox10"></div>
							    
                                <p:row></p:row><div class="EmptyBox10"></div><p:row></p:row>
                                <p:outputLabel for="lockedBy" rendered="#{divisionView.division.lockedBy ne null}" value="#{msg.lbl_lockedBy}: " />
								<p:outputLabel id="lockedBy" value="#{divisionView.getUserFullName(divisionView.division.lockedBy)}"	/>
						    	<p:graphicImage class ="Fright Fs30 circlesmallicon" rendered="#{divisionView.division.lockedBy ne null}" value="/images/#{empty divisionView.getUserImage(divisionView.division.lockedBy) ? 'default.jpg' : divisionView.getUserImage(divisionView.division.lockedBy)}"></p:graphicImage>
							
								<p:outputLabel for="lockedTime" rendered="#{divisionView.division.lockedBy ne null}" value="#{msg.lbl_lockedTime}: " />
								<p:outputLabel id="lockedTime" value="#{divisionView.division.lockedTime}"	>
								<f:convertDateTime type="both"  timeZone="#{sessionScope['USER_IN_CONTEXT'].timeZone}" />
								</p:outputLabel>
								<div class="EmptyBox10"></div>
							
								<p:row></p:row><div class="EmptyBox10"></div><p:row></p:row>
								<p:outputLabel for="unlockedBy" rendered="#{divisionView.division.unlockedBy ne null}" value="#{msg.lbl_unlockedBy}: " />
								<p:outputLabel id="unlockedBy" value="#{divisionView.getUserFullName(divisionView.division.unlockedBy)}  "	/>
								<p:graphicImage class ="Fright Fs30 circlesmallicon" rendered="#{divisionView.division.unlockedBy ne null}" value="/images/#{empty divisionView.getUserImage(divisionView.division.unlockedBy) ? 'default.jpg' : divisionView.getUserImage(divisionView.division.unlockedBy)}"></p:graphicImage>
	
								<p:outputLabel for="unlockedTime" rendered="#{divisionView.division.unlockedTime ne null}" value="#{msg.lbl_unlockedTime}: " />
								<p:outputLabel id="unlockedTime" value="#{divisionView.division.unlockedTime}"	>
								<f:convertDateTime type="both"  timeZone="#{sessionScope['USER_IN_CONTEXT'].timeZone}" />
								</p:outputLabel>
							 
							 </p:panelGrid>
					</div>
				</div>
			  </div>		
            
	</ui:define>
  </ui:composition>