<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jstl/core">
	<ui:define name="subheader">
       #{msg.hdr_administration}
    </ui:define>
   <ui:define name="content">
   <f:event type="preRenderView" 
   listener="#{mailTemplatesAddUpdate.preRenderView}" /> 
		<f:metadata>
			<f:viewAction action="#{mailTemplatesAddUpdate.onLoadAction}" />
		</f:metadata>
    <div class="Container100">
    <div class="ContainerIndent">
    <div class="Card ShadowEffect">
    <div class="Container100  Responsive100">
    <div class="ContainerIndent">
     	 <div class="Container20  Responsive60">
    	 <div class="ContainerIndent">
    	 <p:row></p:row><div class="EmptyBox50"></div><p:row></p:row> 
			<h:form>
				<ui:include src="/views/admin/include/adminInclude.xhtml" />
			</h:form>
		 </div>
	 	 </div>
	 		<div class="Container80  Responsive100">
	 		<div class="ContainerIndent">
	 		    	 <h1 class="TexAlCenter BigTopic">#{msg.hdr_Mail_Templates}</h1>
	     			 <h:form id="tabViewForm">
	     			 <p:commandButton process="@parent" icon="fa fa-save" value="#{msg.btn_save}"  actionListener="#{mailTemplatesAddUpdate.saveAction}" ajax="false" />
	     			 <p:commandButton value="#{msg.btn_cancel}" id="btnCancel"  icon="fa fa-close"   action="#{mailTemplatesAddUpdate.backView}" process="@this"/>
            			<p:tabView id="tabView" dynamic="true">
            			   <p:tab id="mailTemplates" title="#{msg.hdr_Mail_Templates}">
		        			<div class="Card SoftBlue ui-fluid">
                	         <div class="Container50  Responsive100">
                	           <div class="ContainerIndent " >
		        		        <p:panelGrid   columns="2"  layout="grid" style="border:0% !important;  background:none; "
						          styleClass="ui-panelgrid-blank">
								         						
							    <p:outputLabel for="identifier" value="#{msg.lbl_mtIdentifier}" rendered="#{mailTemplatesAddUpdate.showIdentifier eq 'true'}" />
							    <p:outputLabel id="identifier" value="#{mailTemplatesAddUpdate.mailTemplates.identifier}"
								 required="true" disabled="true" rendered="#{mailTemplatesAddUpdate.showIdentifier eq 'true'}" /> 
		        			
		        			    <p:outputLabel for="name" value="#{msg.lbl_name} " />
			            	    <p:inputText id="name" value="#{mailTemplatesAddUpdate.mailTemplates.name}"  >
			                    </p:inputText>
			                   </p:panelGrid>
			                 </div>
			               </div>
			 		       <div class="Container50  Responsive100">
                		    <div class="ContainerIndent " >
		        		     <p:panelGrid   columns="2"  layout="grid" style="border:0% !important;  background:none; "
							    styleClass="ui-panelgrid-blank">  		
			            		
	               			  <p:outputLabel  for="content" value="#{msg.lbl_content}"/>
			                  <p:inputTextarea  id="content" value="#{mailTemplatesAddUpdate.mailTemplates.content}"></p:inputTextarea>
			                              
                            </p:panelGrid>
                           </div>
                          </div>
                        </div>
                      </p:tab>
                     </p:tabView>
                    </h:form>
                   </div>
                  </div>
                 </div>
                </div>
              </div>
            </div>
          </div>
       </ui:define>
    </ui:composition>