<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui">
	<ui:define name="subheader">
        #{msg.hdr_administration}
    </ui:define>
	<ui:define name="content">
	<div class="Container100">
     <div class="ContainerIndent">
       <div class="Card ShadowEffect">
        <div class="Container100  Responsive100">
         <div class="ContainerIndent">
           <h1 class="TexAlCenter BigTopic">#{msg.hdr_Mail_Templates}</h1>
            <div class="Container20  Responsive60">
              <div class="ContainerIndent">
			    <h:form>
			    	<ui:include src="/views/admin/include/adminInclude.xhtml" />
			    </h:form>
	         </div>
	        </div>
	        <div class="Container80  Responsive100">
	         <div class="ContainerIndent">
	 		      <f:event type="preRenderView"
			         listener="#{mailTemplatesListView.preRenderView}" /> 
		          <f:metadata>
			         <f:viewAction action="#{mailTemplatesListView.onLoadAction}" />
		          </f:metadata>
  	              <h:form id="mailTemplatesList">
  	             
  	              <p:messages id="messages" globalOnly="true" showDetail="true" autoUpdate="true" closable="true" escape="false" />
  	             
  	              <div class="ui-widget ui-widget-header ui-corner-all ui-helper-clearfix">
  	                <div class="ui-toolbar-group-left">
          			      
          			<p:commandButton value="#{msg.btn_add}" id="btnAdd" icon="fa fa-plus" action="#{mailTemplatesListView.addAction()}"/>
          			      
          			<p:commandButton value="#{msg.btn_show_act_template}" id="btnShowAct"
					actionListener="#{mailTemplatesListView.showActive}" 
					disabled="#{mailTemplatesListView.showActiveListBtn eq 'false'}"
					process="@this" update="mailTemplatesList"
					oncomplete="PF('listTableWidgetVar').clearFilters()">
				    </p:commandButton>
				
				    <p:commandButton value="#{msg.btn_show_inact_template}" id="btnShowInact"
					actionListener="#{mailTemplatesListView.showInactive}"
					disabled="#{mailTemplatesListView.showActiveListBtn eq 'true'}"
					process="@this" update="mailTemplatesList"
					oncomplete="PF('listTableWidgetVar').clearFilters()">
				   </p:commandButton>
				   <span class="ui-separator">
                    <span class="fa fa-ellipsis-v SoftGray"></span>
                   </span>
				 
			   	  <p:commandButton id="lock" icon="fa fa-lock"  process="@form"
					actionListener="#{mailTemplatesListView.lockAction}"
					rendered="#{mailTemplatesListView.showActivateBtn eq 'false'}"
					title="#{msg.lbl_lockTemplate}" update="pnl:listTable"
					oncomplete="PF('listTableWidgetVar').clearFilters()" />
				
				 <p:commandButton id="unlock" icon="fa fa-unlock" process="@form"
					actionListener="#{mailTemplatesListView.unlockAction}"
					rendered="#{mailTemplatesListView.showActivateBtn eq 'true'}"
					title="#{msg.lbl_unlockTemplate}" update="pnl:listTable"
					oncomplete="PF('listTableWidgetVar').clearFilters()" />
				</div>
                
                <div class="ui-toolbar-group-right"> 
                  <p:commandButton id="delete" icon="fa fa-trash-o" process="@form"
					actionListener="#{mailTemplatesListView.deleteAction}"
					rendered="#{mailTemplatesListView.showActivateBtn eq 'true'}"
					title="#{msg.lbl_deleteMailTemplate}" 
					oncomplete="PF('listTableWidgetVar').clearFilters()" >
					<p:confirm header="#{msg.confirmation}" message="#{msg.delete_sure}" icon="ui-icon-alert" />
					</p:commandButton>
				  <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                     <p:commandButton value="#{msg.btn_yes}" type="button" styleClass="ui-confirmdialog-yes " icon="ui-icon-check fa fa-check Fs14 White" />
                     <p:commandButton value="#{msg.btn_no}" type="button" styleClass="ui-confirmdialog-no " icon="ui-icon-close fa fa-close Fs14 White" />
                  </p:confirmDialog>	
               </div>
            </div>
           <p:tabView id="pnl"> 
			<p:tab title="#{msg.hdr_mailTemplatesList}">
              <p:dataTable  id="listTable" var="mailTemplates" selection="#{mailTemplatesListView.selectedTemplates}"
				value="#{mailTemplatesListView.templateList}" rowsPerPageTemplate="#{sessionScope['USER_IN_CONTEXT'].actualDisplayRowsSize}"
				rows="#{sessionScope['USER_IN_CONTEXT'].displayRowsSize}"
				currentPageReportTemplate="#{msg.lbl_showing} {startRecord}-{endRecord} #{msg.lbl_outOf} {totalRecords}"
				rowKey="#{mailTemplates.id}" emptyMessage="#{msg.table_empty_msg}" 	widgetVar="listTableWidgetVar" 
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				paginator="true"  paginatorPosition="bottom" 	rowIndexVar="rowIndex" 
				filteredValue="#{mailTemplatesListView.filteredTemplateList}" reflow="true" tableStyle="table-layout: auto;">
				
				<f:facet name="header">
				<div style="height: 50px;">
				<table id="filter" style="margin-top: -15px;">
					<tr>
						<td align="left">
							<p:inputText id="globalFilter"
							onkeyup="PF('listTableWidgetVar').filter()"
							placeholder="#{msg.lbl_search}" style="width:75%"/>
						</td>
						
						<td align="right" >
						
						<p:commandButton id="toggler" type="button" class="GrayButton"
							icon="fa fa-calculator" title="#{msg.btn_columns}"/>
						<p:ajax event="page" oncomplete="updateToggles(PF('columnToggler'))" />
						<p:columnToggler widgetVar="columnToggler" datasource="listTable" trigger="toggler" style="width:100%">
                        <p:ajax event="toggle" listener="#{mailTemplatesListView.onToggle}" />
                        </p:columnToggler>
						</td>
					  </tr>
				   </table>
				  </div>	
				</f:facet>
				 <p:column  selectionMode="multiple" visible="#{mailTemplatesListView.togglerList[0]}" headerText="#{msg.lbl_select}" 
			    	value="#{mailTemplates.checked}" style="width:54px;" class="TexAlCenter text-top" >
			     </p:column>

			     <p:column headerText="#{msg.lbl_mtIdentifier}" sortBy="#{mailTemplates.identifier}" filterMatchMode="contains"
					filterBy="#{mailTemplates.identifier}" visible="#{mailTemplatesListView.togglerList[1]}">
					<p:commandLink id="identifier" class="MarRight10" onclick="PF('bui').show()" value="#{mailTemplates.identifier}" action="#{mailTemplatesListView.viewAction(mailTemplates.identifier)}" />
                    <p:commandLink id="idNewTab" action="#{mailTemplatesListView.viewAction(mailTemplates.identifier)}" ajax="false" target="_blank" oncomplete="PF('bui').hide()">
                    <i class="icon-tab Fs22 bottom" title="#{msg.lbl_opennewtab}"/>
				    </p:commandLink>
				  </p:column>
				
								
				  <p:column class="text-top" headerText="#{msg.lbl_name}" sortBy="#{mailTemplates.name}" filterMatchMode="contains" filterBy="#{mailTemplates.name}" visible="#{mailTemplatesListView.togglerList[2]}">
				 		<h:outputText value="#{mailTemplates.name}"/>
				  </p:column>
				
				  <p:column class="text-top" headerText="#{msg.lbl_content}" sortBy="#{mailTemplates.content}" filterMatchMode="contains" filterBy="#{mailTemplates.content}" visible="#{mailTemplatesListView.togglerList[3]}">
						<h:outputText value="#{mailTemplates.content}"/>
				  </p:column>
				
			   </p:dataTable>
              </p:tab>
             </p:tabView>

		          <p:blockUI block="pnl"  widgetVar="bui"/>
	              <p:blockUI block="pnl" class="spinner" trigger="pnl, btnAdd">
       		         <p:graphicImage class="spinner" value="/images/ajax-loader.gif"/>
		          </p:blockUI>  
          			
          	 </h:form>
            </div>
           </div>
          </div>
         </div>
       </div>
     </div>
   </div>
  </ui:define>
</ui:composition>