<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui">
	<ui:define name="subheader">
      #{msg.hdr_administration}
    </ui:define>
	<ui:define name="content">
	<f:event type="preRenderView" 
               listener="#{mailTemplatesListView.preRenderView}" />
			<f:metadata>
			<f:viewAction action="#{mailTemplatesListView.onLoadAction}" />
			</f:metadata>
	<div class="Container100">
    <div class="ContainerIndent">
    <div class="Card ShadowEffect">
    <div class="Container100  Responsive100">
    <div class="ContainerIndent">
    <h2 class="TexAlCenter BigTopic">#{msg.hdr_Mail_Templates}</h2>
     	 <div class="Container20  Responsive60">
    	 <div class="ContainerIndent">
    	 <p:row></p:row><div class="EmptyBox30"></div><p:row></p:row>
			<h:form>
				<ui:include src="/views/admin/include/adminInclude.xhtml" />
			</h:form>
		 </div>
	 	 </div>
	 		<div class="Container80  Responsive100">
	 		<div class="ContainerIndent">
			
			<h:form id="form">
			  <div id="user" class="Container100">
				<div class="ContainerIndent">
					<p:messages id="messages" globalOnly="true" showDetail="true"
						autoUpdate="true" closable="true" escape="false" />
					   <div class="Container100 Responsive100">
						  <div class="ContainerIndent">
							<div class="ui-widget ui-widget-header ui-corner-all ui-helper-clearfix"><div class="ui-toolbar-group-left">
							    <p:commandButton value="#{msg.btn_edit}" id="btnEdit"   rendered="#{mailTemplatesListView.mailTemplates.active eq 'Y'}" actionListener="#{mailTemplatesListView.editAction(mailTemplatesListView.id)}"
					               icon="fa fa-pencil" process="@this"/>
					               
					            <p:commandButton value="#{msg.btn_cancel}" id="btnCancel" actionListener="#{mailTemplatesListView.cancelAction}" icon="fa fa-close" process="@this"/>
					        
					                 <span class="ui-separator">
                                        <span class="fa fa-ellipsis-v SoftGray"></span>
                                     </span>
                                     
			                         <p:commandButton id="lock" icon="fa fa-lock"  process="@form" 
			                             actionListener="#{mailTemplatesListView.lockViewedMailTemplates(mailTemplatesListView.id)}"
				                         title="#{msg.lbl_lockTemplate}" rendered="#{mailTemplatesListView.mailTemplates.active eq 'Y'}" />
				                                 
			                         <p:commandButton id="unlock" icon="fa fa-unlock" process="@form" 
			                             actionListener="#{mailTemplatesListView.unlockViewedMailTemplates(mailTemplatesListView.id)}"
				                         title="#{msg.lbl_unlockTemplate}" rendered="#{mailTemplatesListView.mailTemplates.active ne 'Y'}" />
				                 </div>                  
                                 <div class="ui-toolbar-group-right">
                                     <p:commandButton id="delete" icon="fa fa-trash-o"  process="@form" 
                                          action="#{mailTemplatesListView.deleteViewedTemplates(mailTemplatesListView.id)}"
				                          rendered="#{mailTemplatesListView.mailTemplates.active ne 'Y'}" title="#{msg.lbl_deleteMailTemplate}">
			                              
			                         <p:confirm header="#{msg.confirmation}" message="#{msg.delete_sure}" icon="ui-icon-alert" />
			                         </p:commandButton>
				                     <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                                     
                                     <p:commandButton value="#{msg.btn_yes}" type="button" styleClass="ui-confirmdialog-yes "
                                           icon="ui-icon-check fa fa-check Fs14 White" />
                                     <p:commandButton value="#{msg.btn_no}" type="button" styleClass="ui-confirmdialog-no "
                                           icon="ui-icon-close fa fa-close Fs14 White" />
                                     </p:confirmDialog>
                             </div>
                           </div>
					     <p:tabView>
							<p:tab title="#{msg.hdr_Mail_Templates}">
							  <div class="Card SoftBlue ui-fluid">
                	             <div class="Container50  Responsive100">
                	                <div class="ContainerIndent " >
								       <p:panelGrid id="addNew" columns="2" cellspacing="10" layout="grid" style="border:0px !important; background:none;word-wrap:break-word;"
									       styleClass="ui-panelgrid-blank ui-responsive">
									     
									       <p:outputLabel for="identifier" value="#{msg.lbl_identifier}" />
				                           <p:outputLabel id="identifier"  value="#{mailTemplatesListView.mailTemplates.identifier}" /> 
				                
									            
									        <p:outputLabel for="name" value="#{msg.lbl_name}" />
	            					        <p:outputLabel id="name" value="#{mailTemplatesListView.mailTemplates.name}"  />
	            					    </p:panelGrid>
	            					   </div>
	            					 </div>
	                                  <div class="Container50  Responsive100">
                	                    <div class="ContainerIndent " >
							    
								         <p:panelGrid id="new" columns="2" cellspacing="10" layout="grid" style="border:0px !important; background:none;word-wrap:break-word;"
									            styleClass="ui-panelgrid-blank ui-responsive">
	           					               <p:outputLabel for="content" value="#{msg.lbl_content}" />
	            					           <p:outputLabel id="content" value="#{mailTemplatesListView.mailTemplates.content}" />
	            					    </p:panelGrid>
	            					   </div>
	            		            </div>
	            			    </div>
						     </p:tab>
					      </p:tabView>
					   </div>
				    </div>
			     </div>
		      </div>
		    </h:form>
	      </div>
	    </div>
	  </div>
    </div>
  </div>
 </div>
</div>
	
	<!--  <div class="Container30 Responsive100">
						<div class="ContainerIndent">
						<div class="Card ShadowEffect HeiAutoOnMobile">
						<h2 class="CardTopic"><i class="icon-info"></i>#{msg.hdr_info}</h2>
						<div class="EmptyBox10"></div>
						   <div class="SeparatorFull"></div>
                        <div class="EmptyBox10"></div>
					
						     <p:panelGrid columns="3" layout="grid" columnClasses="ui-grid-col-5,ui-grid-col-6,ui-grid-col-1" style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank" >
									
							<p:outputLabel for="createBy" value="#{msg.lbl_createdBy}: " />
							<p:outputLabel id="createBy" value="#{mailTemplatesListView.getUserFullName(mailTemplatesListView.mailTemplates.createBy)}"	/>
                            <p:graphicImage  class ="Fright Fs30 circlesmallicon" value="/images/#{empty mailTemplatesListView.getUserImage(mailTemplatesListView.mailTemplates.createBy) ? 'default.jpg' : mailTemplatesListView.getUserImage(mailTemplatesListView.mailTemplates.createBy)}"/>

							        
							<p:outputLabel for="createTime" value="#{msg.lbl_createdOn}: " />
							<p:outputLabel id="createTime" value="#{mailTemplatesListView.mailTemplates.createTime}"	/>
                            <div class="EmptyBox10"></div>
                            
                            <p:row></p:row><div class="EmptyBox10"></div><p:row></p:row>
                                    
							<p:outputLabel for="updateBy" value="#{msg.lbl_lastUpdateBy}: " />
							<p:outputLabel id="updateBy" value="#{mailTemplatesListView.getUserFullName(mailTemplatesListView.mailTemplates.updateBy)}"	/>
                            <p:graphicImage class ="Fright Fs30 circlesmallicon" rendered="#{mailTemplatesListView.mailTemplates.updateBy ne null}" value="/images/#{empty mailTemplatesListView.getUserImage(mailTemplatesListView.mailTemplates.updateBy) ? 'default.jpg' : mailTemplatesListView.getUserImage(mailTemplatesListView.mailTemplates.updateBy)}"/>

							        
							<p:outputLabel for="updateTime" value="#{msg.lbl_lastUpdateOn}: " />
							<p:outputLabel id="updateTime" value="#{mailTemplatesListView.mailTemplates.updateTime}"	/>
                            <div class="EmptyBox10"></div>
							
							<p:row></p:row><div class="EmptyBox10"></div><p:row></p:row>
                                    
                            <p:outputLabel for="lockedBy" rendered="#{mailTemplatesListView.mailTemplates.lockedBy ne null}" value="#{msg.lbl_lockedBy}: " />
							<p:outputLabel id="lockedBy" value="#{mailTemplatesListView.getUserFullName(mailTemplatesListView.mailTemplates.lockedBy)}"	/>
						    <p:graphicImage class ="Fright Fs30 circlesmallicon" rendered="#{mailTemplatesListView.mailTemplates.lockedBy ne null}" value="/images/#{empty mailTemplatesListView.getUserImage(mailTemplatesListView.mailTemplates.lockedBy) ? 'default.jpg' : mailTemplatesListView.getUserImage(mailTemplatesListView.mailTemplates.lockedBy)}"></p:graphicImage>
							
							<p:outputLabel for="lockedTime" rendered="#{mailTemplatesListView.mailTemplates.lockedTime ne null}" value="#{msg.lbl_lockedTime}: " />
							<p:outputLabel id="lockedTime" value="#{mailTemplatesListView.mailTemplates.lockedTime}"	>
							<f:convertDateTime type="both"  timeZone="#{sessionScope['USER_IN_CONTEXT'].timeZone}" />
							</p:outputLabel>
							<div class="EmptyBox10"></div>
							
							<p:row></p:row><div class="EmptyBox10"></div><p:row></p:row>
							<p:outputLabel for="unlockedBy" rendered="#{mailTemplatesListView.mailTemplates.unlockedBy ne null}" value="#{msg.lbl_unlockedBy}: " />
							<p:outputLabel id="unlockedBy" value="#{mailTemplatesListView.getUserFullName(mailTemplatesListView.mailTemplates.unlockedBy)}  "	/>
							<p:graphicImage class ="Fright Fs30 circlesmallicon" rendered="#{mailTemplatesListView.mailTemplates.unlockedBy ne null}" value="/images/#{empty mailTemplatesListView.getUserImage(mailTemplatesListView.mailTemplates.unlockedBy) ? 'default.jpg' : mailTemplatesListView.getUserImage(mailTemplatesListView.mailTemplates.unlockedBy)}"></p:graphicImage>
	
							<p:outputLabel for="unlockedTime" rendered="#{mailTemplatesListView.mailTemplates.unlockedTime ne null}" value="#{msg.lbl_unlockedTime}: " />
							<p:outputLabel id="unlockedTime" value="#{mailTemplatesListView.mailTemplates.unlockedTime}"	>
							<f:convertDateTime type="both"  timeZone="#{sessionScope['USER_IN_CONTEXT'].timeZone}" />
							</p:outputLabel>
							 
							 </p:panelGrid>
						 
				</div>
			  </div>		
            </div>  -->
	</ui:define>
</ui:composition>