<ui:composition template="/WEB-INF/templates/template.xhtml"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:pe="http://primefaces.org/ui/extensions"
     xmlns:p="http://primefaces.org/ui"
     xmlns:c="http://java.sun.com/jstl/core">
    <ui:define name="subheader">
         #{msg.hdr_transport}
    </ui:define>
    <ui:define name="content">
       <f:event type="preRenderView" listener="#{transportView.preRenderView}" />
       <f:metadata>
           <f:viewAction action="#{transportView.onLoadAction}"/>
       </f:metadata> 
       <div class="Container70 Responsive100">
		 <div class="ContainerIndent">
			<div class="Card ShadowEffect ">
			  <div class="Container100 Responsive100">
				<div class="ContainerIndent">
                <h:form id="transportViewForm" enctype="multipart/form-data">   
                  <p:messages id="messages" globalOnly="true" showDetail="true"
				     autoUpdate="true" closable="true" escape="false" />

			        <div class="ui-widget ui-widget-header ui-corner-all ui-helper-clearfix">
			          <div class="ui-toolbar-group-left">
			 
			             <p:commandButton  value="#{msg.btn_edit}" id="btnEdit" icon="fa fa-pencil" 
			                action="#{transportView.editAction(transportView.transport.identifier)}" rendered="#{transportView.transport.active eq 'Y'}" />
			             <p:commandButton  value="#{msg.btn_cancel}" id="btnCancel" icon="fa fa-close" 
			                action="#{transportView.cancelAction}" process="@this" />
			             <span class="ui-separator">
                           <span class="fa fa-ellipsis-v SoftGray"></span>
                         </span>
			             <p:commandButton id="lock" icon="fa fa-lock" process="@form" 
			                actionListener="#{transportView.lockViewedTransport(transportView.transport.identifier)}"
				            title="#{msg.lbl_lockTransport}" rendered="#{transportView.transport.active eq 'Y'}" />
			             <p:commandButton id="unlock" icon="fa fa-unlock" process="@form" 
			                actionListener="#{transportView.unlockViewedTransport(transportView.transport.identifier)}"
				            title="#{msg.lbl_unlockTransport}" rendered="#{transportView.transport.active eq 'N'}" /> 
                      </div>
                     <div class="ui-toolbar-group-right">
                         <p:commandButton id="delete" icon="fa fa-trash-o" process="@form" 
                            action="#{transportView.deleteViewedTransport(transportView.transport.identifier)}"
				            rendered="#{transportView.transport.active eq 'N'}" title="#{msg.lbl_deleteTransport}">
			                <p:confirm header="#{msg.confirmation}" message="#{msg.delete_sure}" icon="ui-icon-alert" />
			             </p:commandButton>
				         <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                             <p:commandButton value="#{msg.btn_yes}" type="button" styleClass="ui-confirmdialog-yes "
                                icon="ui-icon-check fa fa-check Fs14 White" />
                              <p:commandButton value="#{msg.btn_no}" type="button" styleClass="ui-confirmdialog-no "
                                icon="ui-icon-close fa fa-close Fs14 White" />
                         </p:confirmDialog>
                      </div> 
                   </div>  
			                             
		            <p:tabView>
          	           <p:tab title="#{msg.hdr_transport}">
          	            <div class="Card SoftBlue ui-fluid"  >
				         <div class="Container100  Responsive100">
				           <div class="ContainerIndent " > 
				              <p:panelGrid columns="4" layout="grid" style="border:0px !important; background:none;">
				                
				                <p:outputLabel for="identifier" value="#{msg.lbl_identifier}" />
				                <p:outputLabel id="identifier"  value="#{transportView.transport.identifier}"/> 
				                
				                <p:outputLabel for="name" value="#{msg.lbl_name}" />
				                <p:outputLabel id="name"	value="#{transportView.transport.name}"/>
				                
			                 </p:panelGrid>
			                </div>
			               </div>
			              </div> 
			            </p:tab>
			        </p:tabView>      
			     </h:form>
		       </div>
             </div>
           </div>
        </div>
     </div>
	   <div class="Container30 Responsive100">
		 <div class="ContainerIndent">
		   <div class="Card ShadowEffect HeiAutoOnMobile">
			 <h2 class="CardTopic"><i class="icon-info"></i>#{msg.hdr_info}</h2>
			  <div class="EmptyBox10"></div>
				<div class="SeparatorFull"></div>
                  <div class="EmptyBox10"></div>
					
						  <p:panelGrid columns="3" layout="grid" columnClasses="ui-grid-col-5,ui-grid-col-6,ui-grid-col-1" style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank" >
							<p:outputLabel for="createBy" value="#{msg.lbl_createdBy}: " />
							<p:outputLabel id="createBy" value="#{transportView.getUserFullName(transportView.transport.createBy)}"	/>
                            <p:graphicImage  class ="Fright Fs30 circlesmallicon" value="/images/#{empty transportView.getUserImage(transportView.transport.createBy) ? 'default.jpg' : transportView.getUserImage(transportView.transport.createBy)}"/>

							        
							<p:outputLabel for="createTime" value="#{msg.lbl_createdOn}: " />
							<p:outputLabel id="createTime" value="#{transportView.transport.createTime}">
							   <f:convertDateTime type="both"  timeZone="#{sessionScope['USER_IN_CONTEXT'].timeZone}" />
					        </p:outputLabel>
                            <div class="EmptyBox10"></div>
                            
                            <p:row></p:row><div class="EmptyBox10"></div><p:row></p:row>
                                    
							<p:outputLabel for="updateBy" value="#{msg.lbl_lastUpdatedBy}: " />
							<p:outputLabel id="updateBy" value="#{transportView.getUserFullName(transportView.transport.updateBy)}"	/>
                            <p:graphicImage class ="Fright Fs30 circlesmallicon" rendered="#{transportView.transport.updateBy ne null}" value="/images/#{empty transportView.getUserImage(transportView.transport.updateBy) ? 'default.jpg' : transportView.getUserImage(transportView.transport.updateBy)}"/>

							        
							<p:outputLabel for="updateTime" value="#{msg.lbl_lastUpdatedOn}: " />
							<p:outputLabel id="updateTime" value="#{transportView.transport.updateTime}">
							   <f:convertDateTime type="both"  timeZone="#{sessionScope['USER_IN_CONTEXT'].timeZone}" />
					        </p:outputLabel>
                            <div class="EmptyBox10"></div>
							
							<p:row></p:row><div class="EmptyBox10"></div><p:row></p:row>
                                    
                            <p:outputLabel for="lockedBy" rendered="#{transportView.transport.lockedBy ne null}" value="#{msg.lbl_lockedBy}: " />
							<p:outputLabel id="lockedBy" value="#{transportView.getUserFullName(transportView.transport.lockedBy)}"	/>
						    <p:graphicImage class ="Fright Fs30 circlesmallicon" rendered="#{transportView.transport.lockedBy ne null}" value="/images/#{empty transportView.getUserImage(transportView.transport.lockedBy) ? 'default.jpg' : transportView.getUserImage(transportView.transport.lockedBy)}"></p:graphicImage>
							
							<p:outputLabel for="lockedTime" rendered="#{transportView.transport.lockedTime ne null}" value="#{msg.lbl_lockedTime}: " />
							<p:outputLabel id="lockedTime" value="#{transportView.transport.lockedTime}"	>
							<f:convertDateTime type="both"  timeZone="#{sessionScope['USER_IN_CONTEXT'].timeZone}" />
							</p:outputLabel>
							<div class="EmptyBox10"></div>
							
							<p:row></p:row><div class="EmptyBox10"></div><p:row></p:row>
							<p:outputLabel for="unlockedBy" rendered="#{transportView.transport.unlockedBy ne null}" value="#{msg.lbl_unlockedBy}: " />
							<p:outputLabel id="unlockedBy" value="#{transportView.getUserFullName(transportView.transport.unlockedBy)}  "	/>
							<p:graphicImage class ="Fright Fs30 circlesmallicon" rendered="#{transportView.transport.unlockedBy ne null}" value="/images/#{empty transportView.getUserImage(transportView.transport.unlockedBy) ? 'default.jpg' : transportView.getUserImage(transportView.transport.unlockedBy)}"></p:graphicImage>
	
							<p:outputLabel for="unlockedTime" rendered="#{transportView.transport.unlockedTime ne null}" value="#{msg.lbl_unlockedTime}: " />
							<p:outputLabel id="unlockedTime" value="#{transportView.transport.unlockedTime}"	>
							<f:convertDateTime type="both"  timeZone="#{sessionScope['USER_IN_CONTEXT'].timeZone}" />
							</p:outputLabel>
							 
						</p:panelGrid>
						 
				   </div>
			    </div>		
             </div>
         
    </ui:define>
 </ui:composition>
			                             