<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui">
	
	<f:metadata>
	  <f:viewAction action="#{multiValueList.onLoadAction}" />  
    </f:metadata> 

    <h:form id="multiValForm" enctype="multipart/form-data">
	  <p:panel id="panelMultiVal">
	
	  <p:messages id="messages" globalOnly="true" showDetail="true"
	     autoUpdate="true" closable="true" escape="false" />
	  			 	
	  <div class="ui-widget ui-widget-header ui-corner-all ui-helper-clearfix">
	     <div class="ui-toolbar-group-left">
			   <p:commandButton id="btnSave"  value="#{msg.btn_save}" icon="fa fa-save" process="@form"
			    actionListener="#{multiValueList.saveMultiValAndMsg}"  />
			   <p:commandButton id="btnCancel" value="#{msg.btn_cancel}"  icon="fa fa-close" 
				  process="@this" onsuccess="PF('multiValueDialog').hide();" >
			   </p:commandButton>
		 </div>
	  </div>
	
	 <div class="Card ShadowEffect ui-fluid" style="overflow:auto !important;width:700px;Height:300px;" >
       <div class="Card SoftBlue ui-fluid"  >
	    <div class="Container100  Responsive100">
          <div class="ContainerIndent " >
          
           <p:panelGrid id="multiValueFieldPnl" columns="2" layout="grid" columnClasses="ui-grid-col-6,ui-grid-col-6" 
             styleClass="ui-panelgrid-blank">
          
	              <p:outputLabel for="multiValueField" value="#{msg.lbl_multiValueField}" />
	              <p:inputText id="multiValueField" value="#{multiValueList.multiVal.multiValueField}" />
	              
	              <p:outputLabel for="noOfValue" value="#{msg.lbl_noOfValue}" />
	              <p:inputText id="noOfValue" value="#{multiValueList.noOfValue}" >
	               <pe:keyFilter regEx="/[\d]/" />
	               <p:ajax event="keyup" listener="#{multiValueList.addMultiValues}"  update=":multiValForm:langPnl"/>
	              </p:inputText>
	              
	              <p:outputLabel for="parentModule" value="#{msg.lbl_msgParentModule}" />
				  <p:selectOneMenu id="parentModule" value="#{multiValueList.parentPage}" style="margin-bottom:20px" >
				 		<f:selectItem itemValue="1" itemLabel="#{msg.menuLbl_root}" itemLabelEscaped="true" />
				        <f:selectItems value="#{multiValueList.mainModuleList}" var="menuLayout" itemValue="#{menuLayout.pageId}" itemLabel="#{msg['menuLbl_'+=menuLayout.pageDesc]}" itemLabelEscaped="true" />
				  </p:selectOneMenu>
              
           </p:panelGrid>
                     
		  </div>
		</div>
       <p:panel id="langPnl" styleClass="ui-widget-content-no-border" >
         <div class="Container20  Responsive100">
            <div class="ContainerIndent " >
            
                 <p:panelGrid id="multiValuePnl" columns="1" layout="grid"  
                   styleClass="ui-panelgrid-blank">
                   <p:outputLabel for="multiValue" value="#{msg.hdr_MultiValue}"  rendered="#{not empty multiValueList.multiValIdList}"/>
                   <c:forEach items="#{multiValueList.multiValIdList}" var="multiValId" >
                   <p:inputText id="multiValue" value="#{multiValId}" />
                   </c:forEach>
                 </p:panelGrid>
           </div>
          </div>
          <div class="Container40  Responsive100">
            <div class="ContainerIndent " >
            
                 <p:panelGrid id="engField" columns="1" layout="grid"  styleClass="ui-panelgrid-blank " >
                    <p:outputLabel value="#{msg.lbl_engValue}" rendered="#{not empty multiValueList.multiValIdList}" />
            		<c:forEach items="#{multiValueList.multiValEngList}" var="multiValEng" >
            		<p:inputText id="english" value="#{multiValEng}"  />
            		</c:forEach>
            				      
            	 </p:panelGrid>
            </div>
            </div>	 
           <div class="Container40  Responsive100">
            <div class="ContainerIndent " > 
           
            	  <p:panelGrid id="gerField" columns="1" layout="grid"  styleClass="ui-panelgrid-blank" >
            	    <p:outputLabel value="#{msg.lbl_gerValue}" rendered="#{not empty multiValueList.multiValIdList}"/>
            		<c:forEach items="#{multiValueList.multiValGerList}" var="multiValGer" >
                    <p:inputText id="german" value="#{multiValGer}" />
            		</c:forEach>
            	 </p:panelGrid> 
             </div>
          </div>
         </p:panel>
         
         
     </div>
	</div> 
   </p:panel>
</h:form>
	<p:blockUI block="multiValForm" widgetVar="dynaSelItemWidget">#{msg.lbl_loading}<br /> 
    	<p:graphicImage  value="/images/ajax-loader.gif"/>
    </p:blockUI>
</html>
