<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jstl/core">
	<ui:define name="subheader">
       #{msg.hdr_administration}
    </ui:define>
   
	<ui:define name="content">
	
	<div class="Container100">
    <div class="ContainerIndent">
    <div class="Card ShadowEffect">
    <div class="Container100  Responsive100">
    <div class="ContainerIndent">
     	 <div class="Container20  Responsive20">
    	 <div class="ContainerIndent">
    	 <p:row></p:row><div class="EmptyBox40"></div><p:row></p:row> 
			<h:form>
				<ui:include src="/views/admin/include/adminInclude.xhtml" />
			</h:form>
		 </div>
	 	 </div>
	 	 <div class="Container80  Responsive100">
		<f:event type="preRenderView" listener="#{multiValueList.preRenderView}" />
		<f:metadata>
			<f:viewAction action="#{multiValueList.onLoadAction}" />
		</f:metadata>
		<h:form id="multiValueForm">
		  <div class="Container100">
            <div class="ContainerIndent">
                    <div class="Container100  Responsive100">
                     <div class="ContainerIndent">
  				              
                        <h2 class="TexAlCenter BigTopic"> #{msg.hdr_MultiValue}</h2>
                         <p:messages id="messages" globalOnly="true" showDetail="true"
	                       autoUpdate="true" closable="true" escape="false" />
			                <p:commandButton value="#{msg.btn_add}" id="btnAdd" icon="fa fa-plus" process="@this" oncomplete="PF('multiValueDialog').show();">
			                <p:resetInput target="multiValForm:panelMultiVal" />
			                </p:commandButton>
			 <p:tabView id="pnl"> 
			<p:tab title="#{msg.hdr_MultiValueList}">              
                <p:dataTable  id="listTable" var="multiValue" selection="#{multiValueList.selectedMultiValList}"
				value="#{multiValueList.multiValList}" rowsPerPageTemplate="#{sessionScope['USER_IN_CONTEXT'].actualDisplayRowsSize}"
				rows="#{sessionScope['USER_IN_CONTEXT'].displayRowsSize}"
				currentPageReportTemplate="#{msg.lbl_showing} {startRecord}-{endRecord} #{msg.lbl_outOf} {totalRecords}"
				rowKey="#{multiValue.id}" emptyMessage="#{msg.table_empty_msg}" 	widgetVar="auditTrailTableWidgetVar" 
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				paginator="true"  paginatorPosition="bottom" 	rowIndexVar="rowIndex" 
				filteredValue="#{multiValueList.filteredMultiValList}" reflow="true" tableStyle="table-layout: auto;" >
				
				<f:facet name="header">
				<div style="height: 50px;">
				<table id="filter" style="margin-top: -15px;">
					<tr>
						<td align="left">
							<p:inputText id="globalFilter"
							onkeyup="PF('auditTrailTableWidgetVar').filter()"
							placeholder="#{msg.lbl_search}" style="width:75%"/> 
						</td>
						
						<td align="right">
						 <p:commandButton id="toggler" type="button" class="GrayButton"
							icon="fa fa-calculator" title="#{msg.btn_columns}"/>
							<p:ajax event="page" oncomplete="updateToggles(PF('columnToggler'))" />
						<p:columnToggler widgetVar="columnToggler" datasource="listTable" trigger="toggler" style="width:100%">
						 </p:columnToggler>
						</td>
					</tr>
				</table>
					</div>	
								
				</f:facet>
				<p:column  selectionMode="multiple" visible="#{multiValueList.togglerList[0]}" headerText="#{msg.lbl_select}" 
				       value="#{multiValue.checked}" style="width:54px;" class="TexAlCenter text-top" >
			    </p:column>
				
				 <p:column headerText="#{msg.lbl_multiValueField}" visible="#{multiValueList.togglerList[1]}" sortBy="#{multiValue.multiValueField}" filterMatchMode="contains" filterBy="#{multiValue.multiValueField}"  >
					   <h:outputText value="#{multiValue.multiValueField}" />
			    </p:column>
			    
			    <p:column headerText="#{msg.hdr_MultiValue}" visible="#{multiValueList.togglerList[2]}" sortBy="#{multiValue.multiValue}" filterMatchMode="contains" filterBy="#{multiValue.multiValue}"  >
					   <h:outputText value="#{multiValue.multiValue}" />
			    </p:column>
 			   
			</p:dataTable>
			</p:tab>
			</p:tabView>
			<p:blockUI block="pnl"  widgetVar="bui"/>
			<p:blockUI block="pnl" class="spinner" trigger="pnl, btnAdd">
       		 <p:graphicImage class="spinner" value="/images/ajax-loader.gif"/>
		     </p:blockUI>  
       	  
       	  
       	 
		 </div>
        </div>
       </div>
      </div>
    </h:form>
     <p:dialog id="addMultiValDialog" stickyHeader="true"  appendBody="false" header="#{msg.hdr_MultiValue}"
                                widgetVar="multiValueDialog" class="GrayModena Geometry"  aria-hidden="false" aria-live="polite"
                                style="width: auto !important; max-height:150% !important; max-width: 100%;
                                height: auto !important; z-index: 1005" resizable="false" responsive="true" modal="true">
                                  <p:ajax event="close"  update="multiValForm:panelMultiVal"/> 
                                  <ui:include src="/views/admin/multivalue/multiValDialog.xhtml" />
			                   </p:dialog> 
     </div>
     </div>
     </div>
     </div>
     </div>
     </div>
     
	</ui:define>
</ui:composition>