<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui">
		<ui:define name="subheader">
        #{msg.hdr_editPass}
    </ui:define>
    
	<ui:define name="content">
	<f:event type="preRenderView"
			listener="#{changePassView.preRenderView}" />
		<h:form id="changePassForm">
		<div class="Container100">
            <div class="ContainerIndent">
                <div class="Card ShadowEffect ui-fluid">
                    <div class="Container100  Responsive100">
                     <div class="ContainerIndent">
                      <p:messages id="messages" globalOnly="true" showDetail="true" autoUpdate="true" closable="true" escape="false" />
                      
                      <p:panelGrid columns="2" style="border:1px !important; background:none;" styleClass="ui-panelgrid-blank ">
                      <p:commandButton  value="#{msg.btn_change}" id="btnSave" icon="fa fa-user-secret"
						actionListener="#{changePassView.changePass}" update="changePassForm"></p:commandButton>
					  <p:commandButton  value="#{msg.btn_pass_cancel}" id="btnCancel" icon="fa fa-close"
            	        action="#{changePassView.cancelAction}" process="@this"/>
                      </p:panelGrid>
                       <p:tabView>
                     	<p:tab title="#{msg.hdr_changePassword}">
                     	
                     	<div class="EmptyBox10"></div>
							<p:outputLabel value="Hinweis:" style="color: #03202E;" ></p:outputLabel>
							<p:outputLabel value="#{msg.passwordRegexMessage}" style="color: #1F95CC;" ></p:outputLabel>
                     	<div class="EmptyBox30"></div>
                     	
                     	<p:panelGrid id="changePass" columns="4" layout="grid" style="border:0px !important; background:none; "
							styleClass="ui-panelgrid-blank">
							
							<div class="EmptyBox10"></div>
                   		  	<p:outputLabel value="#{msg.lbl_currentPassword}" for="currentPass"></p:outputLabel>
                     		<p:password id="currentPass"  value="#{changePassView.changePassword.currentPass}" required="true"  requiredMessage="#{msg.err_password_empty}"></p:password>
                     		<p:message for="currentPass"/>
                     		
                     		<div class="EmptyBox10"></div>
                     		<p:outputLabel value="#{msg.lbl_newPassword}" for="newPass"></p:outputLabel>
                     		<p:password id="newPass" value="#{changePassView.changePassword.newPass}" validatorMessage="#{msg.err_min_length}" required="true" requiredMessage="#{msg.err_newpass_empty}">
                     			<f:validateLength minimum="6" ></f:validateLength>
                     		</p:password>
                     		<p:message for="newPass"/>
                     		
                     		<div class="EmptyBox10"></div>
                     		<p:outputLabel value="#{msg.lbl_newPasswordRepeat}" for="repeatPass"></p:outputLabel>
                     		<p:password id="repeatPass"  value="#{changePassView.changePassword.repeatPass}" validatorMessage="#{msg.err_min_length}" required="true"  requiredMessage="#{msg.err_repeatpass_empty}" >
                     		<f:validateLength minimum="6" ></f:validateLength></p:password>
                     		<p:message for="repeatPass"/>
                   		</p:panelGrid>
                   		 <div class="EmptyBox30"></div>
                   		</p:tab>
                      </p:tabView>                     
                     </div>
                    </div>
                 </div>
              </div>
          </div>
		</h:form>
	</ui:define>
</ui:composition>