<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui">
	
	<f:metadata>
	 <f:viewAction action="#{messagesListView.onLoadAction}" />  
	
    </f:metadata> 

    <h:form id="addMsgdialogForm" enctype="multipart/form-data">
	  <p:panel id="addMsgPanel">
	
	  <p:messages id="messages" globalOnly="true" showDetail="true"
	  autoUpdate="true" closable="true" escape="false" />
	  			 	
	  <div class="ui-widget ui-widget-header ui-corner-all ui-helper-clearfix">
	     <div class="ui-toolbar-group-left">
	     <p:panelGrid id="btn" columns="2"  layout="grid" style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank">
		  <p:commandButton id="btnSave"  value="#{msg.btn_save}" icon="fa fa-save" 
		    actionListener="#{messagesListView.saveAction}"  update="addMsgdialogForm:addMsgPanel" />
		   <p:commandButton id="btnCancel" value="#{msg.btn_cancel}"  icon="fa fa-close" 
			  process="@this" onsuccess="PF('addDialog').hide();" >
		   </p:commandButton> 
		   </p:panelGrid>
		</div>
	  </div>
	
	<div class="Card ShadowEffect ui-fluid" style="overflow:auto !important;width:500px;Height:300px;" >
      <div class="Card SoftBlue ui-fluid"  >
	    <div class="Container100  Responsive100">
          <div class="ContainerIndent " >
          
            <p:panelGrid id="messageFields" columns="2" layout="grid" columnClasses="ui-grid-col-6,ui-grid-col-6" 
             styleClass="ui-panelgrid-blank">
          
              <p:outputLabel for="key" value="#{msg.lbl_msgKey}" />
              <p:inputText id="key" value="#{messagesListView.messageResourceMap.Key}" >
               <pe:keyFilter regEx="/^[A-Za-z_0-9][A-Za-z\d_]*$/" />
              </p:inputText>
              
              <p:outputLabel for="german" value="#{msg.lbl_msgGerman}" />
              <p:inputText id="german" value="#{messagesListView.messageResourceMap.German}" />
              
              <p:outputLabel for="English" value="#{msg.lbl_msgEnglish}" />
              <p:inputText id="English" value="#{messagesListView.messageResourceMap.English}" />
                  	
                         
           </p:panelGrid>
                     
		</div>
		</div>
		</div>
	   </div>
	</p:panel>
</h:form>
	
</html>
