<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui">
	
	<f:metadata>
	 <f:viewAction action="#{messagesListView.onLoadAction}" />  
	
    </f:metadata>
    
    <h:form id="addExceldialogForm" enctype="multipart/form-data">
    
     <p:fileUpload fileUploadListener="#{messagesListView.handleFileUpload}" mode="advanced" dragDropSupport="false"
           onclick="PF('bui').show();" value="#{messagesListView.file}" sizeLimit="10000000"
            allowTypes="/(\.|\/)(xls|xlsx)$/" fileLimit="1" oncomplete="PF('addExcel').hide();"/>
   
    </h:form>
    <p:blockUI block="addExceldialogForm" widgetVar="bui">#{msg.lbl_loading}<br /> 
    	<p:graphicImage  value="/images/ajax-loader.gif"/>
    </p:blockUI>
    	
</html>