<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core" >
	<ui:define name="subheader">
        #{msg.hdr_message}
    </ui:define>
	<ui:define name="content">
		<f:event type="preRenderView" listener="#{messagesListView.preRenderView}" />
		<f:metadata>
			<f:viewAction action="#{messagesListView.onLoadAction}" />
		</f:metadata>
		
		<h:form id="messagesViewForm" enctype="multipart/form-data" >
		
	      <div id="user" class="Container100">
			<div class="ContainerIndent">
			  <div class="Card ShadowEffect">
				<div class="Container100 Responsive100 ui-fluid">
				  <div class="ContainerIndent">
				    <p:messages id="messages" globalOnly="true" showDetail="true"
				     closable="true" escape="false" />
				
					  <div class="ui-widget ui-widget-header ui-corner-all ui-helper-clearfix">
					     <div class="ui-toolbar-group-left"> 
					       <p:panelGrid id="addUpdate" columns="4" styleClass="ui-panelgrid-blank">
			                   
			                   <p:commandButton id="btnAdd" value="#{msg.btn_add}" icon="fa fa-plus"
					              process="@this"  oncomplete="PF('addDialog').show();" disabled="#{messagesListView.disable ne true}">
					           </p:commandButton>
					           
					           <p:dialog id="addDialog" stickyHeader="true"  appendBody="false" header="#{msg.btn_add}"
                                widgetVar="addDialog" class="GrayModena Geometry"  aria-hidden="false" aria-live="polite"
                                style="width: auto !important; max-height:150% !important; max-width: 100%;
                                height: auto !important; z-index: 1005" resizable="false" responsive="true" modal="true">
                                  <p:ajax event="close"  update="addMsgdialogForm:addMsgPanel"/> 
                                  <ui:include src="/views/messages/addDialog.xhtml" />
			                   </p:dialog> 
					            					    
			                   <p:commandButton id="btnImport" value="#{msg.btn_import}" icon="fa fa-download"
					              process="@this"  oncomplete="PF('addExcel').show();" disabled="#{messagesListView.disable ne true}">
					           </p:commandButton>
					           
					           <p:dialog id="addExcel" stickyHeader="true"  appendBody="false" header="#{msg.btn_import}"
                                widgetVar="addExcel" class="GrayModena Geometry"  aria-hidden="false" aria-live="polite"
                                style="width: auto !important; max-height:150% !important; max-width: 100%;
                                height: auto !important; z-index: 1005" resizable="false" responsive="true" modal="true">
                                  <p:ajax event="close"  update="addExceldialogForm"/> 
                                  <ui:include src="/views/messages/addExcel.xhtml" />
			                   </p:dialog> 
					      </p:panelGrid> 
			             </div>
			                        
                         
						 <div class="ui-toolbar-group-right"> 

			                  <p:commandButton id="delete" icon="fa fa-trash-o"  
			                     title="#{msg.lbl_deleteMessageResource}" rendered="#{not empty messagesListView.messageResourceList}" ajax="false"
			                     onclick="rc()"  process="@form">
								<p:confirm header="#{msg.confirmation}" message="#{msg.delete_sure}" icon="ui-icon-alert" />
								</p:commandButton>
								
			                    <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
			                       <p:commandButton value="#{msg.btn_yes}" type="button" styleClass="ui-confirmdialog-yes"
			                          icon="ui-icon-check fa fa-check Fs14 White" />
			                       <p:commandButton value="#{msg.btn_no}" type="button" styleClass="ui-confirmdialog-no" 
			                          icon="ui-icon-close fa fa-close Fs14 White" />
			                    </p:confirmDialog>	
						</div>
			             
			          </div>	
					  
					  <p:tabView id="tabView">
					  
                         
						<p:tab title="#{msg.hdr_message}">
						  <div class="Card SoftBlue ui-fluid">
                		    <div class="Container100  Responsive100">
                		      <div class="ContainerIndent " >
                		          
							   <p:panelGrid id="parentPageId" columns="4"  layout="grid" style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank">
							
								<p:outputLabel for="parentModule" value="#{msg.lbl_msgParentModule}" />
				 		        <p:selectOneMenu id="parentModule" value="#{messagesListView.parentPage}" style="margin-bottom:20px" >
	                               <p:ajax  update="@form" listener="#{messagesListView.getMsgResourceList}" process="@this"/>
				 		           <f:selectItem itemLabel="#{msg.lbl_select}" itemValue="" noSelectionOption="true" />
				 		           <f:selectItem itemValue="1" itemLabel="#{msg.menuLbl_root}" itemLabelEscaped="true" />
				           	       <f:selectItems value="#{messagesListView.mainModuleList}" var="menuLayout" itemValue="#{menuLayout.pageId}" itemLabel="#{msg['menuLbl_'+=menuLayout.pageDesc]}" itemLabelEscaped="true" />
				           	    </p:selectOneMenu>
							
						       </p:panelGrid>
						       
						   <p:tabView id="langTabView" >
						   
						
            			     
            			     <p:tab id="german" title="#{msg.lbl_msgGerman}">
            			     
							     <p:remoteCommand name="rc" process="@parent" oncomplete="PF('bui').hide();" actionListener="#{messagesListView.deleteAction}" update="@form" />
							     
							     <p:dataTable id="gerListTable" var="messageResource" selection="#{messagesListView.selectedMsgResourceList}" value="#{messagesListView.messageResourceList}" 
							      rowsPerPageTemplate="#{sessionScope['USER_IN_CONTEXT'].actualDisplayRowsSize}" rows="#{sessionScope['USER_IN_CONTEXT'].displayRowsSize}"
							      currentPageReportTemplate="#{msg.lbl_showing} {startRecord}-{endRecord} #{msg.lbl_outOf} {totalRecords}" 
							      rowKey="#{messageResource.id}" emptyMessage="#{msg.table_empty_msg}" widgetVar="gerListTableWidgetVar" 
							      paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				                  paginator="true"  paginatorPosition="bottom" 	rowIndexVar="rowIndex" filteredValue="#{messagesListView.filteredMsgResourceList}"
				                  reflow="true" tableStyle="table-layout: auto;">  
				                    
				                  <f:facet name="header">
				                    <div style="height: 50px;">
				                      <table id="filter" style="margin-top: -15px;">
					                    <tr>
						                  <td align="left">
							                <p:inputText id="globalFilter"
							                 onkeyup="PF('gerListTableWidgetVar').filter()"
							                 placeholder="#{msg.lbl_search}" style="width:75%"/>
						                  </td>
						                  
						                  <td align="right" >
						                  
						                   <p:commandButton id="xls" ajax="false" title="xls" icon="fa fa-file-excel-o" rendered="#{not empty messagesListView.messageResourceList}" process="@form">
		       	                				<p:dataExporter type="xls" target="gerListTable" fileName="#{msg.lbl_messageFile}" process="@form" /> 
                            	 			</p:commandButton> 
						                  
						                    <p:commandButton id="germanToggler" type="button" class="GrayButton"
							                 icon="fa fa-calculator" title="#{msg.btn_columns}"/>
						                    <p:ajax event="page" oncomplete="updateToggles(PF('columnGermanToggler'))" />
						                    <p:columnToggler widgetVar="columnGermanToggler" datasource="gerListTable" trigger="germanToggler" style="width:100%">
                                             <p:ajax event="toggle" listener="#{messagesListView.onToggle}" />
                                            </p:columnToggler>
						                  </td>
						
					                   </tr>
				                     </table>
					               </div>	
				                  </f:facet>
				                  
                                      <p:column  selectionMode="multiple" visible="#{messagesListView.togglerList[0]}" headerText="#{msg.lbl_select}" 
				                         value="#{messageResource.checked}" style="width:54px;" class="TexAlCenter text-top" exportable="false">
			                          </p:column>
			                    
                                      
                                      
			                          <p:column headerText="#{msg.lbl_msgKey}" sortBy="#{messageResource.code}" visible="#{messagesListView.togglerList[1]}" 
			                          			filterMatchMode="contains" filterBy="#{messageResource.code}">
                                        <h:outputText value="#{messageResource.code}" />
                                      </p:column> 
                                      
			                          
                                      <p:column headerText="#{msg.lbl_msgExisting}" sortBy="#{messageResource.german}" filterMatchMode="contains" 
                                      		visible="#{messagesListView.togglerList[2]}" filterBy="#{messageResource.german}">
                                        <h:outputText value="#{messageResource.german}" />
                                      </p:column> 
                              
                                      <p:column headerText="#{msg.lbl_msgNew}" sortBy="#{messageResource.german}" filterMatchMode="contains" filterBy="#{messageResource.german}" 
                                      	visible="#{messagesListView.togglerList[3]}">
                                        <p:inputText id="ger" value="#{messageResource.german}"  onkeypress="if (event.keyCode == 13) { return false; }" >
                                        <p:ajax update="gerListTable" listener="#{messagesListView.updateMessageResource(messageResource)}" 
                                        		process="@this" onstart="PF('bui').show()" oncomplete="PF('bui').hide()"/>
                                        <!-- <p:remoteCommand name="rcGerLang" process="gerListTable"  action="#{messagesListView.updateMessageResource(messageResource)}" update="gerListTable" /> -->
                                      </p:inputText>
                                      </p:column>
                                                      
                                 </p:dataTable>
                                  
                                </p:tab> 
                                
            			     <p:tab id="english" title="#{msg.lbl_msgEnglish}">
            			     
            			   <!--  <p:remoteCommand name="rc" process="@parent" oncomplete="PF('bui').hide();" actionListener="#{messagesListView.deleteAction}" update="@form" /> -->
            			    					
							     <p:dataTable id="engListTable" var="messageResource" selection="#{messagesListView.selectedMsgResourceList}" value="#{messagesListView.messageResourceList}" 
							      rowsPerPageTemplate="#{sessionScope['USER_IN_CONTEXT'].actualDisplayRowsSize}" rows="#{sessionScope['USER_IN_CONTEXT'].displayRowsSize}"
							      currentPageReportTemplate="#{msg.lbl_showing} {startRecord}-{endRecord} #{msg.lbl_outOf} {totalRecords}" 
							      rowKey="#{messageResource.id}" emptyMessage="#{msg.table_empty_msg}" widgetVar="engListTableWidgetVar" 
							      paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				                  paginator="true"  paginatorPosition="bottom" 	rowIndexVar="rowIndex" filteredValue="#{messagesListView.filteredMsgResourceList}"
				                  reflow="true" tableStyle="table-layout: auto;">
				                  
				                  <f:facet name="header">
				                    <div style="height: 50px;">
				                      <table id="filter" style="margin-top: -15px;">
					                   <tr>
						                  <td align="left">
							                <p:inputText id="globalFilter"
							                 onkeyup="PF('engListTableWidgetVar').filter()"
							                 placeholder="#{msg.lbl_search}" style="width:75%"/>
						                  </td>
						                  
						                  <td align="right" >
						                  
						                  <p:commandButton id="xls" ajax="false" title="xls" icon="fa fa-file-excel-o" rendered="#{not empty messagesListView.messageResourceList}" process="@form">
		       	                				<p:dataExporter type="xls" target="engListTable" fileName="#{msg.lbl_messageFile}" process="@form" /> 
                            	 			</p:commandButton> 
						                  
						                    <p:commandButton id="englishToggler" type="button" class="GrayButton"
							                 icon="fa fa-calculator" title="#{msg.btn_columns}"/>
						                     <p:ajax event="page" oncomplete="updateToggles(PF('columnEnglishToggler'))" />
						                    <p:columnToggler widgetVar="columnEnglishToggler" datasource="engListTable" trigger="englishToggler" style="width:100%">
                                             <p:ajax event="toggle" listener="#{messagesListView.onToggle}" />
                                            </p:columnToggler>
						                  </td>
					                   </tr>
				                     </table>
					                </div>	
				                  </f:facet>
				                  
				                      <p:column  selectionMode="multiple" visible="#{messagesListView.togglerList[0]}" headerText="#{msg.lbl_select}" 
				                         value="#{messageResource.checked}" style="width:54px;" class="TexAlCenter text-top" exportable="false">
			                          </p:column>
			                          
                                      
                                      
			                           <p:column headerText="#{msg.lbl_msgKey}" visible="#{messagesListView.togglerList[1]}" sortBy="#{messageResource.code}" filterMatchMode="contains" filterBy="#{messageResource.code}">
                                        <h:outputText value="#{messageResource.code}" />
                                      </p:column> 
                                      
                                      			                          
				               
                                      <p:column headerText="#{msg.lbl_msgExisting}" visible="#{messagesListView.togglerList[2]}" sortBy="#{messageResource.english}" filterMatchMode="contains" filterBy="#{messageResource.english}" >
                                        <h:outputText value="#{messageResource.english}" />
                                      </p:column> 
                              
                                      <p:column  headerText="#{msg.lbl_msgNew}" sortBy="#{messageResource.english}" filterMatchMode="contains" 
                                      		visible="#{messagesListView.togglerList[3]}" filterBy="#{messageResource.english}" >
                                        <p:inputText id="eng" value="#{messageResource.english}"  onkeypress="if (event.keyCode == 13) { return false; }"  >
                                          <p:ajax update="engListTable" listener="#{messagesListView.updateMessageResource(messageResource)}" 
                                          			process="@this" onstart="PF('bui').show()" oncomplete="PF('bui').hide()"/>
                                        <!-- <p:remoteCommand name="rcEngLang" process="engListTable"  action="#{messagesListView.updateMessageResource(messageResource)}" oncomplete="PF('engListTableWidgetVar').clearFilters()" update="engListTable" /> -->
                                    </p:inputText>
                                     </p:column>
                                                      
                                 </p:dataTable>
                                  
                              </p:tab>
                             </p:tabView>
							
						</div>
					   </div>  
					  </div>
					<p:blockUI block="messagesViewForm:tabView" widgetVar="bui"/>
					<p:blockUI block="messagesViewForm:tabView" class="spinner" trigger="messagesViewForm:delete">#{msg.lbl_loading}
		       		  <p:graphicImage  value="/images/ajax-loader.gif"/>
		    		</p:blockUI>
				     </p:tab>
				   </p:tabView>
					
			     </div>
			   </div>
		     </div>
			</div>
		   </div> 
		 </h:form>
		 
	
    </ui:define>
 </ui:composition>