<ui:composition template="/WEB-INF/templates/template3.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui">
<ui:define name="content">
<script type="text/javascript" src="#{request.getContextPath()}/resources/loginfiles/jquery.js"></script>
<script type="text/javascript" src="#{request.getContextPath()}/resources/loginfiles/primefaces.js"></script>
<f:event type="preRenderView" listener="#{googleAuthManageView.preRenderView}" />
	<f:metadata>
		<f:viewAction action="#{googleAuthManageView.onLoadAction}" />
	</f:metadata>
	
<h:form id="form">
	<div class="Wid90 DispBlock MarAuto MarTopPerc5 TexAlCenter">
   	 <div class="Wid33 MarAuto WidAutoOnMobile" >					
    	<div class="Card ShadowEffect" >
		<div class="Wid100 OvHidden BigTopic Fs30">
			<h:graphicImage value= "/images/#{googleAuthManageView.adminConfMap['companyLogo']}"/>
			<div class="EmptyBox30"></div>
			#{msg.hdr_googleAuthentication}
		</div>
			<div class="EmptyBox30"></div>
			<div class="Container100  Responsive100">
           	<div class="ContainerIndent">
			<p:messages id="messages" globalOnly="true" showDetail="true" autoUpdate="true" closable="true" escape="false" />
			<div class="Wid100">
			<p:inputText id="authCode" value="#{googleAuthManageView.authCode}" required="true" placeholder="#{msg.lbl_googleToken}" maxlength="6"
			aria-readonly="false" aria-disabled="false" role="textbox" name="authCode" class="ui-inputfield ui-inputtext ui-widget ui-state-default ui-corner-all Wid80 TexAlCenter Fs18">
				 <pe:keyFilter regEx="/[\d]/" />
			</p:inputText>  
			</div>
			</div>
			</div>
			<div class="EmptyBox30"></div>
			<div class="Container100  Responsive100">
           	<div class="ContainerIndent">
            <div class="Wid50 Fleft Responsive40">
           	<p:commandButton id="validGoogleAuth" actionListener="#{googleAuthManageView.validateToken}" icon="fa fa-mail-forward"
           		class="Wid100 heightlogin ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left Fs17 White RaisedButton Fright FloatNoneOnMobile" 
           	   process="@form" ajax="false" value="#{msg.btn_submit}">
           	</p:commandButton>
            	
            </div>
            <div class="EmptyBox5 ShowOnMobile"></div>
            <div class="Wid50 Fleft Responsive40">
            	<p:commandButton id="cancel" actionListener="#{googleAuthManageView.cancelAction}" icon="fa fa-lock"
            	   class="Wid100 heightlogin ui-button ui-widget ui-state-default ui-corner-all RedButton Fs17 White RaisedButton Fleft FloatNoneOnMobile" 
            	   process="@this" value="#{msg.btn_cancel}" immediate="true">
            	</p:commandButton>
            </div>
          	
            </div>
            </div>
        </div>
	   </div>
	 </div>
		
	<div class="Wid100 TexAlCenter MarTop20 Fs14 FontRobotoRegular Gray">
		<h:outputText value="#{googleAuthManageView.adminConfMap['version']}" />
	</div>
</h:form>

</ui:define>
</ui:composition>
