<ui:composition template="/WEB-INF/templates/template3.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jstl/core">
<ui:define name="content">
<script type="text/javascript" src="#{request.getContextPath()}/resources/loginfiles/jquery.js"></script>
<script type="text/javascript" src="#{request.getContextPath()}/resources/loginfiles/primefaces.js"></script> 
<f:event type="preRenderView" listener="#{googleAuthManageView.preRenderView}" />
	<f:metadata>
		<f:viewAction action="#{googleAuthManageView.onLoadAction}" />
	</f:metadata>
	
<h:form id="form">
	<div class="Wid90 DispBlock MarAuto MarTopPerc5 TexAlCenter">
   	 <div class="Wid33 MarAuto WidAutoOnMobile" >					
    	<div class="Card ShadowEffect" >
		<div class="Wid100 OvHidden BigTopic Fs30">
			<h:graphicImage value= "/images/#{googleAuthManageView.adminConfMap['companyLogo']}"/>
			<div class="EmptyBox30"></div>
			#{msg.hdr_googleAuthentication}
		</div>
			<div class="EmptyBox30"></div>
			<div class="Container100  Responsive100">
           	<div class="ContainerIndent">
			<p:messages id="messages" globalOnly="true" showDetail="true" autoUpdate="true" closable="true" escape="false" />
			<p:message for="userName"/>
			<div class="Wid100">
				<p:inputText id="userName" value="#{googleAuthManageView.givenUserId}" required="true" placeholder="#{msg.lbl_userName}"
				aria-readonly="false" aria-disabled="false" role="textbox" name="username" requiredMessage="#{msg.err_username_empty}" 
				class="ui-inputfield ui-inputtext ui-widget ui-state-default ui-corner-all Wid80 TexAlCenter Fs18" type="text"/>
			</div>
			</div>
			</div>
			<div class="EmptyBox30"></div>
			<div class="Container100  Responsive100">
           		<div class="ContainerIndent">
            	<div class="Wid50 Fleft Responsive40">
		           	<p:commandButton id="enableGoogleAuth" actionListener="#{googleAuthManageView.googleAuthAction}" icon="fa fa-mail-forward"
		           		class="Wid100 heightlogin ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left Fs17 White RaisedButton Fright FloatNoneOnMobile" 
		           	    value="#{msg.btn_gotoGoogleAuthRegPage}" process="@form" update="confDlg">
		           	    <!-- <c:if test="#{googleAuthManageView.googleAuthUser eq 'true' }">
		           	<p:confirm header="#{msg.confirmation}" message="#{msg.delete_sure}" icon="ui-icon-alert" />
		           	</c:if> -->
		           	</p:commandButton>
		           	<p:confirmDialog id="confDlg"  
             		showEffect="fade" hideEffect="fade" widgetVar="confirmRegister" global="true">
              		<p:commandButton action="#{googleAuthManageView.enableGoogleAuthenticator}" oncomplete="PF('confirmRegister').show();" value="#{msg.btn_yes}" 
              			styleClass="ui-confirmdialog-yes " icon="ui-icon-check fa fa-check Fs14 White" process="@this" />
              		<p:commandButton process="@this" value="#{msg.btn_no}" styleClass="ui-confirmdialog-no" action="#{googleAuthManageView.closeDialog}" 
              		oncomplete="PF('confirmRegister').hide();" icon="ui-icon-close fa fa-close Fs14 White" />
             </p:confirmDialog>
		         <!-- onclick="handleComplete($('#form\\:enableGoogleAuth'), $('#form\\:confDlg'));" -->
		           
           		</div>
            <div class="EmptyBox5 ShowOnMobile"></div>
            <div class="Wid50 Fleft Responsive40">
            	<p:commandButton id="cancel" actionListener="#{googleAuthManageView.cancelAction}" icon="fa fa-lock"
            	   class="Wid100 heightlogin ui-button ui-widget ui-state-default ui-corner-all RedButton Fs17 White RaisedButton Fleft FloatNoneOnMobile" 
            	   process="@this" value="#{msg.btn_cancel}" immediate="true">
            	</p:commandButton>
            	
            </div>
          
            </div>
            </div>
        </div>
	   </div>
	  
	 </div>
		
	<div class="Wid100 TexAlCenter MarTop20 Fs14 FontRobotoRegular Gray">
		<h:outputText value="#{googleAuthManageView.adminConfMap['version']}" />
	</div>
	
</h:form>


<!-- <script type="text/javascript">
function adjustPositionning(sourceElement, dialog) {
	alert("hi");
    var x = sourceElement.offset().left;
    var y = sourceElement.offset().top;
    var width = sourceElement.width();
    var padding = 15;
  dialog.parent().offset({ top: y, left: x + width + padding });
}
</script> 
<script >
    function handleComplete(sourceElement, dialog) {
    	var win = $(window);
    	dialog.css({
            position: 'absolute',
            left: (win.width() - $(dialog).parent().outerWidth()) / 2,
            top: (win.height() - $(dialog).parent().outerHeight()) / 2
            
        });
    	
    	/* $('#form\\:confDlg').parent().position({
    		   my: "center",
    		   at: "center",
    		   of: window,
    		   within: $(".content")
    		});
    	 */
    	PF('confirmRegister').show();
    	/* 		var win = $(window);

    	dialog.parent().css({
            position: 'absolute',
            left : 900,
            top : 900
            
        });
    	
    	
    var x = sourceElement.offset().left;
        var y = sourceElement.offset().top;
        var width = sourceElement.width();
        var padding = 1; */
     // dialog.parent().offset({ top: y, left: x + width + padding });
      
    	//alert($('#form\\:confDlg').width());
    	
    	var googleAuthUser = #{googleAuthManageView.googleAuthUser} ;
    	
        if (googleAuthUser == true) { 
        	PF('confirmRegister').show();
        	alert('hello');
            }               
        }
</script>   -->
<!-- <script type="text/javascript">
function handleComplete() {
	/* alert('hai'); */
	var googleAuthUser = #{googleAuthManageView.googleAuthAction()} ;
	if (googleAuthUser == true) { 
		/* alert('hello'); */
    	PF('confirmRegister').show();
    	
        }               
   /*  } */
	
}


</script> -->

</ui:define>
</ui:composition>

