<ui:composition template="/WEB-INF/templates/template3.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui">
<ui:define name="content">
<script type="text/javascript" src="#{request.getContextPath()}/resources/loginfiles/jquery.js"></script>
<script type="text/javascript" src="#{request.getContextPath()}/resources/loginfiles/primefaces.js"></script>
<f:event type="preRenderView" listener="#{googleAuthManageView.preRenderView}" />
	<f:metadata>
		<f:viewAction action="#{googleAuthManageView.onLoadAction}" />
	</f:metadata>
	
<h:form id="form">
	<div class="Wid90 DispBlock MarAuto MarTopPerc5 TexAlCenter">
   	 <div class="Wid45 MarAuto WidAutoOnMobile" >					
    	<div class="Card ShadowEffect" >
		<div class="Wid100 OvHidden BigTopic Fs30">
			<h:graphicImage value= "/images/#{googleAuthManageView.adminConfMap['companyLogo']}"/>
			<div class="EmptyBox10"></div>
			#{msg.hdr_googleAuthentication}
			<div class="EmptyBox10"></div>
		</div>
		
		<div class="EmptyBox30"></div>
			<div class="Container100  Responsive100">
           	<div class="ContainerIndent">
			<p:messages id="messages" globalOnly="true" showDetail="true" autoUpdate="true" closable="true" escape="false" />
			<p:message for="registrationPin"/>
			<div class="Wid100">
				<p:inputText id="registrationPin" value="#{googleAuthManageView.registrationPin}" required="true" placeholder="#{msg.lbl_regPin}"
				aria-readonly="false" aria-disabled="false" role="textbox" name="registrationPin" requiredMessage="#{msg.err_reg_pin_empty}" 
				class="ui-inputfield ui-inputtext ui-widget ui-state-default ui-corner-all Wid80 TexAlCenter Fs18" type="text" onkeypress="if (event.keyCode == 13) { rgPin(); return false; }">
				 <p:ajax event="keyup" listener="#{googleAuthManageView.validateRegPin(googleAuthManageView.registrationPin)}" process="@this" update="@form"/>  
				</p:inputText>
				<p:remoteCommand name="rgPin" action="#{googleAuthManageView.validateRegPin(googleAuthManageView.registrationPin)}" process="@form" update="@form" />
			</div>
			</div>
			</div>
			<!-- <div class="EmptyBox20"></div> -->
			<div class="Container100  Responsive100">
           	<div class="ContainerIndent">
			<p:message for="secretKey"/> 
			<div class="Wid100">
			    <!-- <p:outputLabel value="Secret Key" rendered="#{googleAuthManageView.authBoolValue}"></p:outputLabel>  -->
				<p:inputText id="secretKey" value="#{googleAuthManageView.secretKey}" rendered="#{googleAuthManageView.authBoolValue}"
				aria-readonly="false" aria-disabled="false" role="textbox" name="secretKey" 
				class="ui-inputfield ui-inputtext ui-widget ui-state-default ui-corner-all Wid80 TexAlCenter Fs18" type="text">
				</p:inputText>
			</div>
			</div>
			</div>
		<p:outputLabel value="Hinweis: " style="color: #03202E;" rendered="#{googleAuthManageView.authBoolValue}"></p:outputLabel>
		<p:outputLabel value="#{msg.info_creatingGoogleSecrete}" style="color: #1F95CC;" rendered="#{googleAuthManageView.authBoolValue}"></p:outputLabel>
		
		<div class="Container100  Responsive100">
			<!-- <p:messages id="messages" globalOnly="true" showDetail="true" autoUpdate="true" closable="true" escape="false" /> -->
			<div class="Wid100">
				<!-- <p:inputText id="userName" value="#{googleAuthManageView.givenUserId}" required="true" placeholder="#{msg.lbl_userName}"
				aria-readonly="false" aria-disabled="false" role="textbox" name="username" requiredMessage="#{msg.err_username_empty}" 
				class="ui-inputfield ui-inputtext ui-widget ui-state-default ui-corner-all Wid80 TexAlCenter Fs18" type="text"/> -->
					<h:graphicImage  style="margin-bottom:10px" width="200" height="200"  value = "/moduleUploads/googleauthqr/#{googleAuthManageView.givenUserId}_qr.png" rendered="#{googleAuthManageView.authBoolValue}"/>
                  
			<!-- </div>
			</div>
			</div>
			
			<div class="Wid100">
				<p:inputText id="authCode" value="#{googleAuthManageView.authCode}" required="true" placeholder="#{msg.lbl_googleToken}"
				aria-readonly="false" aria-disabled="false" role="textbox" name="authCode" class="ui-inputfield ui-inputtext ui-widget ui-state-default ui-corner-all Wid80 TexAlCenter Fs18" type="text"/>  -->
			</div>
			
			</div>
			
			<div class="EmptyBox10"></div>
			<div class="Container100  Responsive100">
           	<div class="ContainerIndent">
            <div class="Wid50 Fleft Responsive40">
	           	<p:commandButton id="regGoogleAuth" actionListener="#{googleAuthManageView.addSecretKey}" icon="fa fa-mail-forward"
	           		class="Wid100 heightlogin ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left Fs17 White RaisedButton Fright FloatNoneOnMobile" 
	           	   process="@form" ajax="false" value="#{msg.btn_confirmRegistration}">
	           	</p:commandButton>
	            	
            </div>
          	<div class="Wid50 Fleft Responsive40">
            	<p:commandButton id="cancel" actionListener="#{googleAuthManageView.cancelAction}" icon="fa fa-lock"
            	   class="Wid100 heightlogin ui-button ui-widget ui-state-default ui-corner-all RedButton Fs17 White RaisedButton Fleft FloatNoneOnMobile" 
            	   process="@this" value="#{msg.btn_cancel}" immediate="true">
            	</p:commandButton>
            </div>
          	
            </div>
            </div>
        </div>
	   </div>
	 </div>
		
	<div class="Wid100 TexAlCenter MarTop20 Fs14 FontRobotoRegular Gray">
		<h:outputText value="#{googleAuthManageView.adminConfMap['version']}" />
	</div>
</h:form>

</ui:define>
</ui:composition>
