<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jstl/core">
<h:head>
	
    <f:facet name="first">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
        <meta name="apple-mobile-web-app-capable" content="yes" />
    </f:facet>
    
    <link type="text/css" rel="stylesheet" href="#{request.getContextPath()}/resources/primefaces-modena/theme.css"/>
	<link type="text/css" rel="stylesheet" href="#{request.getContextPath()}/resources/loginfiles/primefaces.css"/>
	<link type="text/css" rel="stylesheet" href="#{request.getContextPath()}/resources/modena-layout/css/core-layout.css"/>
	<link type="text/css" rel="stylesheet" href="#{request.getContextPath()}/resources/modena-layout/css/animate.css"/>
	<link type="text/css" rel="stylesheet" href="#{request.getContextPath()}/resources/modena-layout/css/modena-font.css"/>
	<link type="text/css" rel="stylesheet" href="#{request.getContextPath()}/resources/modena-layout/css/ripple-effect.css"/>
	<link type="text/css" rel="stylesheet" href="#{request.getContextPath()}/resources/modena-layout/css/font-awesome.css"/>
	<link  rel="stylesheet" href="#{request.getContextPath()}/resources/modena-layout/css/modena-layout.css"/>
	<link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="#{request.getContextPath()}/resources/css/kurver.css" />
	<link rel="stylesheet" href="#{request.getContextPath()}/resources/css/login.css" />
	
	
	<script type="text/javascript" src="#{request.getContextPath()}/resources/loginfiles/jquery.js"></script>
	<script type="text/javascript" src="#{request.getContextPath()}/resources/loginfiles/primefaces.js"></script>	
	<script type="text/javascript" src="#{request.getContextPath()}/resources/modena-layout/js/ripple-effect.js"></script>
	<script type="text/javascript" src="#{request.getContextPath()}/resources/modena-layout/js/perfect-scrollbar.js"></script>	
	<script type="text/javascript" src="#{request.getContextPath()}/resources/js/kurver.js"></script>	
	<script type="text/javascript" src="#{request.getContextPath()}/resources/js/fullscreen.js"></script>	
		
	<ui:insert name="head" />        
	<ui:insert name="cssInclude"></ui:insert>
	<link rel="apple-touch-icon" type="image/png"  sizes="57x57" href="#{request.getContextPath()}/resources/images/apple-icon-57x57.png"/>
	<link rel="apple-touch-icon" type="image/png"  sizes="60x60" href="#{request.getContextPath()}/resources/images/apple-icon-60x60.png"/>
	<link rel="apple-touch-icon" type="image/png"  sizes="72x72" href="#{request.getContextPath()}/resources/images/apple-icon-72x72.png"/>
	<link rel="apple-touch-icon" type="image/png"  sizes="76x76" href="#{request.getContextPath()}/resources/images/apple-icon-76x76.png"/>
	<link rel="apple-touch-icon" type="image/png"  sizes="114x114" href="#{request.getContextPath()}/resources/images/apple-icon-114x114.png"/>
	<link rel="apple-touch-icon" type="image/png"  sizes="120x120" href="#{request.getContextPath()}/resources/images/apple-icon-120x120.png"/>
	<link rel="apple-touch-icon" type="image/png"  sizes="144x144" href="#{request.getContextPath()}/resources/images/apple-icon-144x144.png"/>
	<link rel="apple-touch-icon" type="image/png"  sizes="152x152" href="#{request.getContextPath()}/resources/images/apple-icon-152x152.png"/>
	<link rel="apple-touch-icon" type="image/png"  sizes="180x180" href="#{request.getContextPath()}/resources/images/apple-icon-180x180.png"/>
	<link rel="icon" type="image/png" sizes="192x192"  href="#{request.getContextPath()}/resources/images/android-icon-192x192.png"/>
	<link rel="icon" type="image/png" sizes="32x32" href="#{request.getContextPath()}/resources/images/favicon-32x32.png"/>
	<link rel="icon" type="image/png" sizes="96x96" href="#{request.getContextPath()}/resources/images/favicon-96x96.png"/>
	<link rel="icon" type="image/png" sizes="16x16" href="#{request.getContextPath()}/resources/images/favicon-16x16.png"/>
	<link rel="manifest" href="#{request.getContextPath()}/resources/images/manifest.json"/>
	<meta name="msapplication-TileColor" content="#ffffff" />
	<meta name="msapplication-TileImage" content="#{request.getContextPath()}/resources/images/ms-icon-144x144.png" />
	<meta name="theme-color" content="#ffffff" />
		
</h:head>
<h:form id="form">
<h:body class="GrayModena Geometry">
	<div class="Wid90 DispBlock MarAuto MarTopPerc5 TexAlCenter">
   	 <div class="Wid33 MarAuto WidAutoOnMobile">					
    	<div class="Card ShadowEffect">
		<div class="Wid100 OvHidden BigTopic Fs30">
			 <h:graphicImage value= "/images/#{forgotPassManageView.adminConfMap['companyLogo']}"/>
			<div class="EmptyBox30"></div>${LOGIN_RES_BUN['lbl_forgotPassword']}</div>
			<div class="EmptyBox30"></div>
			<div class="Wid100">
				<p:inputText placeholder="${LOGIN_RES_BUN['lbl_userName']}" required="true" 
					class="ui-inputfield ui-inputtext ui-widget ui-state-default ui-corner-all Wid80 TexAlCenter Fs18">
				</p:inputText>
			</div>
			<div class="EmptyBox30"></div>
			<div class="Wid10 Fleft EmptyBox30"></div>
            <div class="Wid40 Fleft Responsive50">
            	<p:commandButton class="Wid100 Hei100 heightlogin ui-button ui-widget ui-state-default ui-corner-all Fs16 White RaisedButton Fright FloatNoneOnMobile" 
            	   		type="submit" value="${LOGIN_RES_BUN['btn_sendPassword'] }">
            	</p:commandButton>
            </div>
            <div class="EmptyBox5 ShowOnMobile"></div>
            <div class="Wid40 Fleft Responsive50">
            	<p:commandButton class="Wid100 heightlogin ui-button ui-widget ui-state-default ui-corner-all RedButton Fs18 White RaisedButton Fleft FloatNoneOnMobile" 
            	  actionListener="#{loginControl.cancelAction}" process="@this" value="${LOGIN_RES_BUN['btn_back'] }">
            	</p:commandButton>
            </div>
        </div>
		</div>
		</div>
	<div class="Wid100 TexAlCenter MarTop20 Fs14 FontRobotoRegular Gray">
          
    </div>
</h:body>
</h:form>
</ui:composition>

