<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui">
	<ui:define name="subheader">
        #{msg.hdr_tour_routes}
    </ui:define>
    <ui:define name="content">
    <f:event type="preRenderView" listener="#{tourView.preRenderView}" />
       <f:metadata>
           <f:viewAction action="#{tourView.onLoadAction}"/>
       </f:metadata> 
	<div class="Container100">
     <div class="ContainerIndent">
      <div class="Card ShadowEffect HeiAutoOnMobile">
       <div class="Container100  Responsive100">
        <div class="ContainerIndent">
         <h2 class="TexAlCenter BigTopic">#{msg.hdr_tour_map}</h2>
		  <h:form id="showRouteForm">
		  <p:messages id="messages" globalOnly="true" showDetail="true" autoUpdate="true" closable="true" escape="false" />
		   <div class="ui-widget ui-widget-header ui-corner-all ui-helper-clearfix">
			<div class="ui-toolbar-group-left">
				 <p:commandButton styleClass="btn" process="@this" value="#{msg.btn_solve_action}" id="solveButton" icon="fa fa-forward" 
				 		onclick="resolveDirections();PF('bui').show()"/>
				 <p:commandButton  value="#{msg.btn_cancel}" id="btnCancel" icon="fa fa-close" action="#{tourView.viewAction(tourView.tour.identifier)}" process="@this" />
				 <h:inputText id="facilityId" value="#{tourView.tour.identifier}" style="display:none"/> 
				 <h:inputText id="apiKey" value="#{msg.google_map_api_key}" style="display:none"/> 
			</div>
			<div class="ui-toolbar-group-right">
				<span class="BoldGray Fs18 FontRobotoLight Red Fleft ShowOnDesktop" id="distanceValue"></span>
		    </div>
		   </div>
		   <div class="EmptyBox10"></div>
		   <p:accordionPanel activeIndex="-1" style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank">
        		<p:tab title="#{msg.route_details}" style = "background-color: #FF0000 !important">
            		<h:panelGrid>
                    <span class="BoldGray Fs18 FontRobotoLight Red Fleft ShowOnDesktop" id="directionsPanel"></span>
            		</h:panelGrid>
            	</p:tab>
            </p:accordionPanel>
		  
        	<div class="EmptyBox10"></div>
		    <div id="map-canvas" style="height: 600px; width: 100%; margin-top: 10px; margin-bottom: 10px;"></div>
		    <p:blockUI block="showRouteForm"  widgetVar="bui"/>
			      <p:blockUI block="showRouteForm" class="spinner" trigger="solveButton">
       		      <p:graphicImage class="spinner" value="/images/progress_inge.gif"/>
		    </p:blockUI> 
		    		
		  </h:form>
		</div></div></div></div>
		</div>
		<!-- <script src="https://maps.googleapis.com/maps/api/js?key=***REMOVED***"></script> -->
	<script src="https://maps.googleapis.com/maps/api/js?language=de&amp;region=DE&amp;key=#{msg.google_map_api_key}"></script>
	<script>
	  	var map;
		var directionsService;
		var vehicleRouteLines;
		var intervalTimer;
		
		var vehicleRouteDirections;
		var directionsTaskQueue;
		var directionsTaskTimer;
		var myParam = "";
		var totalDistanceTraveled = 0;
		
		function initMap() {
			var mapCanvas = document.getElementById('map-canvas');
		    var mapOptions = {
		      mapTypeId: google.maps.MapTypeId.ROADMAP
		    };
		    map = new google.maps.Map(mapCanvas, mapOptions);
		    directionsService = new google.maps.DirectionsService();
		    loadSolution();
		}
		ajaxError = function(jqXHR, textStatus, errorThrown) {
		    console.log("Error: " + errorThrown);
		    console.log("TextStatus: " + textStatus);
		    console.log("jqXHR: " + jqXHR);
		    alert("Error: " + errorThrown);
		};
		myParam = $('#showRouteForm\\:facilityId').val();
		
		//Load solution into map 
		loadSolution = function() {
			
			$.ajax({
		      url: "#{request.getContextPath()}/common/process/tsp/loadSolution?tourId="+myParam,
		      type: "GET",
		      dataType : "json",
		      success: function(solution) {
		    	var zoomBounds = new google.maps.LatLngBounds ();
			    var zoomBounds1 = new google.maps.LatLngBounds ();
				$.each(solution.vehicleRouteList, function(index, vehicleRoute) {
				    var latLng = new google.maps.LatLng(vehicleRoute.depotLatitude, vehicleRoute.depotLongitude);
				    zoomBounds.extend(latLng);
				    var image = 'https://maps.google.com/mapfiles/ms/icons/green-dot.png';
				    var marker = new google.maps.Marker({
			             position: latLng,
			             icon : image,
			             title: "#{msg.lbl_korfName}: "+ vehicleRoute.depotLocationName + " (" + vehicleRoute.depotLatitude + ", "+vehicleRoute.depotLongitude+" )",
			             map: map
			        });
		    	
				  /*  var infowindow = new google.maps.InfoWindow();
				    infowindow.setContent("Ziel: "+ vehicleRoute.depotLocationName);
				    infowindow.open(map, marker); */
			    
		    		google.maps.event.addListener(marker, 'click', function() {
		             	new google.maps.InfoWindow({
		               	content: "#{msg.lbl_korfName}: "+ vehicleRoute.depotLocationName + " (" + vehicleRoute.depotLatitude + ", "+vehicleRoute.depotLongitude+" )",
		            	}).open(map,marker);
		        	})
		        
				});
	        	var image1 = 'https://maps.google.com/mapfiles/ms/icons/red-dot.png';
	         	$.each(solution.customerList, function(index, customer) {	
	          	var latLng = new google.maps.LatLng(customer.latitude, customer.longitude);
	         	zoomBounds.extend(latLng);
		        var marker = new google.maps.Marker({
		            position: latLng,
		            icon : image1,
		            title: "#{msg.hdr_facilities}: "+ customer.locationName + " (" + customer.latitude + ", "+customer.longitude+")",
		            map: map
		        });
	          
		         /*  var infowindow1 = new google.maps.InfoWindow();
		          	infowindow1.setContent(customer.locationName);
		          	infowindow1.open(map, marker); */
			    
		          google.maps.event.addListener(marker, 'click', function() {
		          new google.maps.InfoWindow({
		              content: "#{msg.hdr_facilities}: "+ customer.locationName + " (" + customer.latitude + ", "+customer.longitude+")",
		            }).open(map,marker);
		          })
	          }); 
		      map.fitBounds(zoomBounds);
		      solve();
		    }, error : function(jqXHR, textStatus, errorThrown) {ajaxError(jqXHR, textStatus, errorThrown)}
		  });
		};
		  
		solve = function() {
		    $('#solveButton').attr("disabled", "disabled");
		    if (directionsTaskTimer != undefined) {
		      window.clearInterval(directionsTaskTimer);
		      directionsTaskTimer = undefined;
		    }
		    var csrfParameter = '${_csrf.parameterName}';
		    var csrfToken = '${_csrf.token}';
		    var jsonParams = {};
		    jsonParams['parentId'] = 1;
		    jsonParams[csrfParameter] = csrfToken
		   	$.ajax({
		   		url: "#{request.getContextPath()}/common/process/tsp/solution/solve",
		      	type: "POST",
		      	cache: false,
		      	dataType : "json",
		      	 data: jsonParams,
		      	beforeSend: function(xhr, settings){
		            var csrftoken = $.cookie('CSRF-TOKEN');
		            xhr.setRequestHeader("X-CSRF-TOKEN", csrftoken);
		        },
		        success : function(message) {
		        	console.log(message.text);
		        	/* intervalTimer = setInterval(function () {
		        		 resolveDirections()
		            }, 1000); */
			    },
		      	error : function(jqXHR, textStatus, errorThrown) {ajaxError(jqXHR, textStatus, errorThrown)}
			});
		};
		  	
		resolveDirections = function () {
			totalDistanceTraveled = 0;
			window.clearInterval(intervalTimer);
		 $.ajax({
		  url: "#{request.getContextPath()}/common/process/tsp/solution?tourId="+myParam,
	      type: "GET",
	      dataType : "json",
	      success: function(solution) {
	    	  if(vehicleRouteLines != undefined) {
		        	for (var i = 0; i &lt; vehicleRouteLines.length; i++) {
				        vehicleRouteLines[i].setMap(null);
				    }
		     }
		     if(vehicleRouteDirections != undefined) {
		          for (var i = 0; i &lt; vehicleRouteDirections.length; i++) {
		            vehicleRouteDirections[i].setMap(null);
		          }
		     }
		   
	        vehicleRouteLines = undefined;
	        vehicleRouteDirections = [];
	        directionsTaskQueue = [];
	        $.each(solution.vehicleRouteList, function(index, vehicleRoute) {
	          var depotLocation = new google.maps.LatLng(vehicleRoute.depotLatitude, vehicleRoute.depotLongitude);
	          var previousLocation = depotLocation;
	          $.each(vehicleRoute.customerList, function(index, customer) {
	            var location = new google.maps.LatLng(customer.latitude, customer.longitude);
	            directionsTaskQueue.push([previousLocation, location, vehicleRoute.hexColor, vehicleRoute.depotLocationName]);
	            previousLocation = location;
	          });
	          directionsTaskQueue.push([previousLocation, depotLocation, vehicleRoute.hexColor]);
	        });
	        var summaryPanel = document.getElementById("directionsPanel");
	        summaryPanel.innerHTML = "";
	        directionsTaskTimer = setInterval(function () {
	          sendDirectionsRequest()
	        },1000); // 1 per second to avoid limit set by Google API for freeloaders
	      }, error : function(jqXHR, textStatus, errorThrown) {ajaxError(jqXHR, textStatus, errorThrown)}
	    });
	  };
	
	  sendDirectionsRequest = function () {
	    var task = directionsTaskQueue.shift();
	    if (task == undefined) {
	      window.clearInterval(directionsTaskTimer);
	      directionsTaskTimer = undefined;
	      return;
	    }
	    var request = {
	      origin: task[0],
	      destination: task[1],
	      travelMode: google.maps.TravelMode.DRIVING
	    };
	    var hexColor = task[2];
	    var employeeName = task[3];
	    directionsService.route(request, function(response, status) {
	    if (status == google.maps.DirectionsStatus.OK) {
	        var directionsRenderer = new google.maps.DirectionsRenderer({
	          map: map,
	          polylineOptions: {
	            geodesic: true,
	            strokeColor: hexColor,
	            strokeOpacity: 0.8,
	            strokeWeight: 4,
	           },
	          markerOptions: {
	            visible: false
	          },
	          preserveViewport: true
	        });
	       
	        directionsRenderer.setDirections(response);
	        var route = response.routes[0];
	        
	        var summaryPanel = document.getElementById("directionsPanel");
	        for (var i = 0; i &lt; route.legs.length; i++) {
	        	  summaryPanel.innerHTML += '&lt;br&gt;'+ ' #{msg.msg_route_segment} : ';
	        	  totalDistanceTraveled += route.legs[i].distance.value;
	        	  summaryPanel.innerHTML += ' #{msg.msg_distance}: '+route.legs[i].distance.text +' #{msg.msg_duration}: '+route.legs[i].duration.text  +'&lt;br&gt;';
	              summaryPanel.innerHTML += JSON.stringify(route.legs[i].start_address).split(',')[1].split(',')[0] + ' #{msg.lbl_travelTo} '; 
	              summaryPanel.innerHTML += JSON.stringify(route.legs[i].end_address).split(',')[1].split(',')[0] + '.' + '&lt;br&gt;';
	              summaryPanel.innerHTML += '--------------------------------------------------------------';
	              $("#distanceValue").text('#{msg.msg_totalDistance} '+returnDistance());
	         }
	        vehicleRouteDirections.push(directionsRenderer);
	        PF('bui').hide();
	      } else if (status == google.maps.DirectionsStatus.OVER_QUERY_LIMIT) {
	        console.log("Google directions API request failed wtih status (" + status + "), but retrying...");
	        directionsTaskQueue.push(task);
	      } else {
	        console.log("Google directions API request failed with status (" + status + ").");
	      }
	    });
	   
	};
	
	function returnDistance(){
		return Math.round(totalDistanceTraveled / 100) / 10 + " km";
	}
	
	google.maps.event.addDomListener(window, 'load', initMap);		
		 
</script>
		  
	
</ui:define>
</ui:composition>