<ui:composition template="/WEB-INF/templates/template3.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui">
<ui:define name="subheader">
         #{msg.hdr_category}
    </ui:define>
<ui:define name="content">
<f:event type="preRenderView" listener="#{dashboardMBean.preRenderView}" />
<h:form>
<div class="Wid90 DispBlock MarAuto MarTopPerc5 TexAlCenter">
   	 <div class="Wid33 MarAuto WidAutoOnMobile" >					
    	<div class="Card ShadowEffect" >
		<div class="Wid100 OvHidden BigTopic Fs30">
					
					<h:outputLabel class="fa fa-warning Fs100 Red" ></h:outputLabel>
		</div>
		<div class="Container100  Responsive100">
           	<div class="ContainerIndent">
					<h:outputLabel value="#{msg.msg_error_page}" ></h:outputLabel>
			</div>
			</div>		
					
				</div>
			</div>
		</div>
</h:form>
</ui:define>
</ui:composition>