<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core" >
	<ui:define name="subheader">
        #{msg.hdr_qualification}
    </ui:define>
    <ui:define name="content">
	  <f:event type="preRenderView" listener="#{qualificationsAddUpdate.preRenderView}" />
	  <f:metadata>
		<f:viewAction action="#{qualificationsAddUpdate.onLoadAction}" />
	  </f:metadata>
	   <h:form id="form" enctype="multipart/form-data" >
	    <div id="user" class="Container100">
		 <div class="ContainerIndent">
		  <div class="Card ShadowEffect">
		    <div class="Container100 Responsive100 ui-fluid">
			  <div class="ContainerIndent">
				   <p:messages id="messages" globalOnly="true" showDetail="true"
					  autoUpdate="true" closable="true" escape="false" />
				   <p:panelGrid id="panel2" columns="3" style="border:1px !important; background:none;" styleClass="ui-panelgrid-blank ui-responsive">    
				      <p:commandButton value="#{msg.btn_save}" id="btnSave" icon="fa fa-save" 
					     actionListener="#{qualificationsAddUpdate.saveAction}" ajax="false" onclick=" PF('bui').show() " >
				      </p:commandButton>
				      <p:commandButton value="#{msg.btn_cancel}" id="btnCancel" icon="fa fa-close"
				 	     action="#{qualificationsAddUpdate.cancelAction}"
					     process="@this" />
				   </p:panelGrid>
			 			
				   <p:tabView id="pnl">
					 <p:tab title="#{msg.hdr_qualification}">
					   <div class="Card SoftBlue ui-fluid"  >
					     <div class="Container100  Responsive100">
				           <div class="ContainerIndent " >
						    <p:panelGrid id="qualifications" columns="4" layout="grid" style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank">
														
							<p:outputLabel for="identifier" value="#{msg.lbl_identifier}" rendered="#{qualificationsAddUpdate.showIdentifier eq 'true'}" />
							<p:outputLabel id="identifier" value="#{qualificationsAddUpdate.qualifications.identifier}"
							   required="true" disabled="true" rendered="#{qualificationsAddUpdate.showIdentifier eq 'true'}" />
                            
	        				<p:outputLabel for="qualificationName" value="#{msg.lbl_qualiName}" />							
							<p:inputText id="qualificationName" value="#{qualificationsAddUpdate.qualifications.qualificationName}"
							   required="true" disabled="#{qualificationsAddUpdate.qualifications.active eq 'N'}" />
            								
					     </p:panelGrid>
					    </div>
					   </div>
					  </div>
					 </p:tab>
				   </p:tabView> 
				 </div>
			   </div>
		     </div>
			             <p:blockUI block="pnl" widgetVar="bui">LOADING<br /> 
       			           <p:graphicImage  value="/images/ajax-loader.gif"/>
    		             </p:blockUI> 
		 </div>
	   </div>
	 </h:form>	
   </ui:define>
 </ui:composition>