<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core" >
	<ui:define name="subheader">
        #{msg.hdr_maintenanceAct}
    </ui:define>
    <ui:define name="content">
	  <f:event type="preRenderView" listener="#{maintenanceActAddUpdate.preRenderView}" />
	  <f:metadata>
		<f:viewAction action="#{maintenanceActAddUpdate.onLoadAction}" />
	  </f:metadata>
	  <h:form id="maintenanceActAddUpdateForm" enctype="multipart/form-data" >
	   <div id="user" class="Container100">
		<div class="ContainerIndent">
		  <div class="Card ShadowEffect">
		    <div class="Container100 Responsive100 ui-fluid">
			  <div class="ContainerIndent">
				  <p:messages id="messages" globalOnly="true" showDetail="true"
					  autoUpdate="true" closable="true" escape="false" />
				   <p:panelGrid id="savePnl" columns="3" style="border:1px !important; background:none;" styleClass="ui-panelgrid-blank ui-responsive">    
				      <p:commandButton value="#{msg.btn_save}" id="btnSave" icon="fa fa-save" 
					     actionListener="#{maintenanceActAddUpdate.saveAction}" ajax="false" onclick="PF('bui').show()">
				      </p:commandButton>
				      <p:commandButton value="#{msg.btn_cancel}" id="btnCancel" icon="fa fa-close"
				 	  action="#{maintenanceActAddUpdate.cancelAction}"
					  process="@this" />
				   </p:panelGrid>
						
				   <p:tabView id="tabView" orientation="left">
					 <p:tab title="#{msg.lbl_maintenanceActDetails}" titleStyle="background-color: #FFFFFF;height:55px;">
					  <div class="Card SoftBlue ui-fluid"  >
					     <div class="Container50  Responsive100">
				           <div class="ContainerIndent " >
						    <p:panelGrid id="maintenanceAct" columns="2" layout="grid" style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank">
														
								<p:outputLabel for="identifier" value="#{msg.lbl_identifier}" rendered="#{maintenanceActAddUpdate.showIdentifier eq 'true'}" />
								<p:outputLabel id="identifier" value="#{maintenanceActAddUpdate.maintenanceAct.identifier}"
								    disabled="true" rendered="#{maintenanceActAddUpdate.showIdentifier eq 'true'}" />
	                            
		        			    <p:outputLabel for="maintenanceDate" value="#{msg.lbl_maintenanceDate}" />							
							    <p:calendar id="maintenanceDate"  locale="#{layoutMenu.user.language}" value="#{maintenanceActAddUpdate.maintenanceAct.maintenanceDate}"  converter="dateConverter" pattern="#{CommonConstants.APP_DATE_FORMAT}" mask="true" 
            				           widgetVar="dobWidget" disabled="#{maintenanceActAddUpdate.maintenanceAct.active eq 'N'}" />
            				  	   
		        				<p:outputLabel for="referenceNumber" value="#{msg.lbl_referenceNumber}" />							
								<p:inputText id="referenceNumber" value="#{maintenanceActAddUpdate.maintenanceAct.referenceNumber}"
								      disabled="#{maintenanceActAddUpdate.maintenanceAct.active eq 'N'}" /> 				
	            				
	            				<p:outputLabel for="subsequentProblems" value="#{msg.lbl_subsequentProblems}" />							
								<p:inputText id="subsequentProblems" value="#{maintenanceActAddUpdate.maintenanceAct.subsequentProblems}"
								      disabled="#{maintenanceActAddUpdate.maintenanceAct.active eq 'N'}" />
								      
								<p:outputLabel for="report" value="#{msg.lbl_report}" />							
								<p:inputText id="report" value="#{maintenanceActAddUpdate.maintenanceAct.report}"
								      disabled="#{maintenanceActAddUpdate.maintenanceAct.active eq 'N'}" />	      
								      
								<p:outputLabel for="maId" value="#{msg.lbl_maId}" />							
	            				<p:inputText id="maId" value="#{maintenanceActAddUpdate.maintenanceAct.maId}"
								      disabled="#{maintenanceActAddUpdate.maintenanceAct.active eq 'N'}" /> 
						         
								      		
					     </p:panelGrid>
					     </div>
					     </div>
					     <div class="Container50  Responsive100">
				           <div class="ContainerIndent " >
						    <p:panelGrid id="maintenanceActOne" columns="2" layout="grid" style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank">
					          
								  <p:outputLabel for="surfaceInspection" value="#{msg.lbl_surfaceInspection}" />							
								  <p:selectBooleanCheckbox id="surfaceInspection" value="#{maintenanceActAddUpdate.maintenanceAct.surfaceInspection}"
								      disabled="#{maintenanceActAddUpdate.maintenanceAct.active eq 'N'}" />	     
								 
								  <p:outputLabel for="waterTightness" value="#{msg.lbl_waterTightness}" />							
								  <p:selectBooleanCheckbox id="waterTightness" value="#{maintenanceActAddUpdate.maintenanceAct.waterTightness}"
								      disabled="#{maintenanceActAddUpdate.maintenanceAct.active eq 'N'}" />	  
								      
								  <p:outputLabel for="structuralCondition" value="#{msg.lbl_structuralCondition}" />							
								  <p:selectBooleanCheckbox id="structuralCondition" value="#{maintenanceActAddUpdate.maintenanceAct.structuralCondition}"
								    disabled="#{maintenanceActAddUpdate.maintenanceAct.active eq 'N'}"  /> 
	                              
								  <p:outputLabel for="tankInspection" value="#{msg.lbl_tankInspection}" />							
								  <p:selectBooleanCheckbox id="tankInspection" value="#{maintenanceActAddUpdate.maintenanceAct.tankInspection}"
								    disabled="#{maintenanceActAddUpdate.maintenanceAct.active eq 'N'}" />
								    
								  <p:outputLabel for="waterFilling" value="#{msg.lbl_waterFilling}" />							
								  <p:selectBooleanCheckbox id="waterFilling" value="#{maintenanceActAddUpdate.maintenanceAct.waterFilling}"
								    disabled="#{maintenanceActAddUpdate.maintenanceAct.active eq 'N'}" />
								    
								  <p:outputLabel for="shortComings" value="#{msg.lbl_shortComings}" />							
								  <p:inputText id="shortComings" value="#{maintenanceActAddUpdate.maintenanceAct.shortComings}"
								      disabled="#{maintenanceActAddUpdate.maintenanceAct.active eq 'N'}" />  
								      
								  <p:outputLabel for="waterDepth" value="#{msg.lbl_waterDepth}" />							
								  <p:inputText id="waterDepth" value="#{maintenanceActAddUpdate.maintenanceAct.waterDepth}"
								      disabled="#{maintenanceActAddUpdate.maintenanceAct.active eq 'N'}" /> 
					      
					         </p:panelGrid>
					    </div>
					   </div>
					  </div>
					    <div class="Container100  Responsive100">
                              <div class="ContainerIndent " >
                                   <p:separator style="width:100%;" />
                              </div>
                        </div>
					   
					  <h6 class="TexAlLeft BigTopic">#{msg.hdr_chamberDetails} </h6>
					  <div class="Card SoftBlue ui-fluid"  >
					   <div class="Container50  Responsive100">
				           <div class="ContainerIndent " >
						    <p:panelGrid id="chamberBS" columns="2" layout="grid" style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank">
					            <p:outputLabel for="chamberBS1" value="#{msg.lbl_chamberBS1}" />							
								<p:inputText id="chamberBS1" value="#{maintenanceActAddUpdate.maintenanceAct.chamberBs1}"
								      disabled="#{maintenanceActAddUpdate.maintenanceAct.active eq 'N'}" />
								 
								<p:outputLabel for="chamberBS2" value="#{msg.lbl_chamberBS2}" />							
								<p:inputText id="chamberBS2" value="#{maintenanceActAddUpdate.maintenanceAct.chamberBs2}"
								      disabled="#{maintenanceActAddUpdate.maintenanceAct.active eq 'N'}" />   
            					
            					<p:outputLabel for="chamberBS3" value="#{msg.lbl_chamberBS3}" />							
								<p:inputText id="chamberBS3" value="#{maintenanceActAddUpdate.maintenanceAct.chamberBs3}"
								      disabled="#{maintenanceActAddUpdate.maintenanceAct.active eq 'N'}" />	
								      
					        </p:panelGrid>
					      </div>
					   </div>
					   <div class="Container50  Responsive100">
				           <div class="ContainerIndent " >
						    <p:panelGrid id="chamberSS" columns="2" layout="grid" style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank">
					              <p:outputLabel for="chamberSS1" value="#{msg.lbl_chamberSS1}" />							
								  <p:inputText id="chamberSS1" value="#{maintenanceActAddUpdate.maintenanceAct.chamberSs1}"
								    disabled="#{maintenanceActAddUpdate.maintenanceAct.active eq 'N'}" />
								      
								  <p:outputLabel for="chamberSS2" value="#{msg.lbl_chamberSS2}" />							
								  <p:inputText id="chamberSS2" value="#{maintenanceActAddUpdate.maintenanceAct.chamberSs2}"
								    disabled="#{maintenanceActAddUpdate.maintenanceAct.active eq 'N'}" />
								     
							      <p:outputLabel for="chamberSS3" value="#{msg.lbl_chamberSS3}" />							
								  <p:inputText id="chamberSS3" value="#{maintenanceActAddUpdate.maintenanceAct.chamberSs3}"
								    disabled="#{maintenanceActAddUpdate.maintenanceAct.active eq 'N'}" />
					        </p:panelGrid>
					       </div>
					   </div>
					</div>
				  </p:tab>   
			      <p:tab title="#{msg.lbl_maintenanceControl}" titleStyle="background-color: #FFFFFF;height:55px;">
					  <div class="Card SoftBlue ui-fluid" >
					   <div class="Container50  Responsive100">
				           <div class="ContainerIndent " >
						    <p:panelGrid id="maintenanceControl" columns="2" columnClasses="ui-grid-col-7,ui-grid-col-5" layout="grid" style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank">
					       
							   <p:outputLabel for="functionControl" value="#{msg.lbl_functionControl}" />							
            				   <p:selectBooleanCheckbox id="functionControl" value="#{maintenanceActAddUpdate.maintenanceControl.functionControl}"
							      disabled="#{maintenanceActAddUpdate.maintenanceAct.active eq 'N'}" />                  
							      
							   <p:outputLabel for="machineMaintenance" value="#{msg.lbl_machineMaintenance}" />							
							   <p:selectBooleanCheckbox id="machineMaintenance" value="#{maintenanceActAddUpdate.maintenanceControl.machineMaintenance}"
							      disabled="#{maintenanceActAddUpdate.maintenanceAct.active eq 'N'}" />  
							      
							   <p:outputLabel for="changeoverTimes" value="#{msg.lbl_changeoverTimes}" />							
							   <p:selectBooleanCheckbox id="changeoverTimes" value="#{maintenanceActAddUpdate.maintenanceControl.changeoverTimes}"
							      disabled="#{maintenanceActAddUpdate.maintenanceAct.active eq 'N'}" />  
							      
							   <p:outputLabel for="powerFailureDetection" value="#{msg.lbl_powerFailureDetection}" />							
							   <p:selectBooleanCheckbox id="powerFailureDetection" value="#{maintenanceActAddUpdate.maintenanceControl.powerFailureDetection}"
							      disabled="#{maintenanceActAddUpdate.maintenanceAct.active eq 'N'}" />
					      
					        </p:panelGrid>
					       </div>
					   </div>
					   
					   
					    <div class="Container50  Responsive100">
				           <div class="ContainerIndent " >
						    <p:panelGrid id="maintenanceControlOne" columns="2" columnClasses="ui-grid-col-7,ui-grid-col-5" layout="grid" style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank">
					       
					           <p:outputLabel for="lastReportTransfer" value="#{msg.lbl_lastReportTransfer}" />							
							   <p:selectBooleanCheckbox id="lastReportTransfer" value="#{maintenanceActAddUpdate.maintenanceControl.lastReportTransfer}"
							      disabled="#{maintenanceActAddUpdate.maintenanceAct.active eq 'N'}" />
							      
							   <p:outputLabel for="companyBookExamination" value="#{msg.lbl_companyBookExamination}" />							
							   <p:selectBooleanCheckbox id="companyBookExamination" value="#{maintenanceActAddUpdate.maintenanceControl.companyBookExamination}"
							      disabled="#{maintenanceActAddUpdate.maintenanceAct.active eq 'N'}" />
							      
							   <p:outputLabel for="distributorChannelCleaning" value="#{msg.lbl_distributorChannelCleaning}" />							
							    <p:selectBooleanCheckbox id="distributorChannelCleaning" value="#{maintenanceActAddUpdate.maintenanceControl.distributorChannelCleaning}"
							      disabled="#{maintenanceActAddUpdate.maintenanceAct.active eq 'N'}" />
							      
							   <p:outputLabel for="constructionSiteCompleted" value="#{msg.lbl_constructionSiteCompleted}" />							
							   <p:selectBooleanCheckbox id="constructionSiteCompleted" value="#{maintenanceActAddUpdate.maintenanceControl.constructionSiteCompleted}"
							      disabled="#{maintenanceActAddUpdate.maintenanceAct.active eq 'N'}" />
					        
					        </p:panelGrid>
					       </div>
					   </div>
					   
					     <div class="Container100  Responsive100">
                              <div class="ContainerIndent " >
                                   <p:separator style="width:100%;" />
                              </div>
                        </div>
					     
					     <h6 class="TexAlLeft BigTopic">#{msg.hdr_controlMeasures} </h6>
					     <div class="Container50  Responsive100">
				           <div class="ContainerIndent " >
						    <p:panelGrid id="controlMeasures" columns="2" layout="grid" style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank">
					            <p:outputLabel for="temperature" value="#{msg.lbl_temperature}" />							
							    <p:inputText id="temperature" value="#{maintenanceActAddUpdate.maintenanceControl.temperature}"
							      disabled="#{maintenanceActAddUpdate.maintenanceAct.active eq 'N'}" />
							      
							    <p:outputLabel for="phValue" value="#{msg.lbl_phValue}" />							
							    <p:inputText id="phValue" value="#{maintenanceActAddUpdate.maintenanceControl.phValue}"
							      disabled="#{maintenanceActAddUpdate.maintenanceAct.active eq 'N'}" />
							      
							    <p:outputLabel for="oxygenContent" value="#{msg.lbl_oxygenContent}" />							
							    <p:inputText id="oxygenContent" value="#{maintenanceActAddUpdate.maintenanceControl.oxygenContent}"
							      disabled="#{maintenanceActAddUpdate.maintenanceAct.active eq 'N'}" />
							      
							    <p:outputLabel for="sampleNumber" value="#{msg.lbl_sampleNumber}" />							
							    <p:inputText id="sampleNumber" value="#{maintenanceActAddUpdate.maintenanceControl.sampleNumber}"
							      disabled="#{maintenanceActAddUpdate.maintenanceAct.active eq 'N'}" />
							      
							    <p:outputLabel for="sampleComment" value="#{msg.lbl_sampleComment}" />							
							    <p:inputText id="sampleComment" value="#{maintenanceActAddUpdate.maintenanceControl.sampleComment}"
							      disabled="#{maintenanceActAddUpdate.maintenanceAct.active eq 'N'}" />  
					        
					        </p:panelGrid>
					      </div>
					    </div>
					   
					    <div class="Container50  Responsive100">
				           <div class="ContainerIndent " >
						    <p:panelGrid id="controlMeasuresOne" columns="2" layout="grid" style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank">
						    
					            
							    <p:outputLabel for="odor" value="#{msg.lbl_odor}" />							
							    <p:inputText id="odor" value="#{maintenanceActAddUpdate.maintenanceControl.odor}"
							      disabled="#{maintenanceActAddUpdate.maintenanceAct.active eq 'N'}" />
							      
							    <p:outputLabel for="repairFrom" value="#{msg.lbl_repairFrom}" />							
							    <p:inputText id="repairFrom" value="#{maintenanceActAddUpdate.maintenanceControl.repairFrom}"
							      disabled="#{maintenanceActAddUpdate.maintenanceAct.active eq 'N'}" />
							      
							    <p:outputLabel for="deepView" value="#{msg.lbl_deepView}" />							
							    <p:inputText id="deepView" value="#{maintenanceActAddUpdate.maintenanceControl.deepView}"
							      disabled="#{maintenanceActAddUpdate.maintenanceAct.active eq 'N'}" />
							      
							    <p:outputLabel for="remarks" value="#{msg.lbl_remarks}" />							
							    <p:inputText id="remarks" value="#{maintenanceActAddUpdate.maintenanceControl.remarks}"
							      disabled="#{maintenanceActAddUpdate.maintenanceAct.active eq 'N'}" />
					        </p:panelGrid>
					       </div>
					     </div>
					  </div>
					 </p:tab>
					 <p:tab title="#{msg.lbl_maintenanceperiod}" titleStyle="background-color: #FFFFFF;height:55px;">
					  <div class="Card SoftBlue ui-fluid"  >
					     <div class="Container50  Responsive100">
				           <div class="ContainerIndent " >
						    <p:panelGrid id="maintenanceperiod" columns="2" layout="grid"  style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank">
					        
					           <p:outputLabel for="duration1" value="#{msg.lbl_duration1}" />							
							   <p:inputText id="duration1" value="#{maintenanceActAddUpdate.maintenanceControl.duration1}"
							      disabled="#{maintenanceActAddUpdate.maintenanceAct.active eq 'N'}" />
							      
							   <p:outputLabel for="duration3" value="#{msg.lbl_duration3}" />							
							   <p:inputText id="duration3" value="#{maintenanceActAddUpdate.maintenanceControl.duration3}"
							      disabled="#{maintenanceActAddUpdate.maintenanceAct.active eq 'N'}" />
					       
					        </p:panelGrid>
					       </div>
					      </div>
					      
					      <div class="Container50  Responsive100">
				           <div class="ContainerIndent " >
						    <p:panelGrid id="maintenanceperiodOne" columns="2" layout="grid"  style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank">
					           
					           <p:outputLabel for="duration2" value="#{msg.lbl_duration2}" />							
							   <p:inputText id="duration2" value="#{maintenanceActAddUpdate.maintenanceControl.duration2}"
							      disabled="#{maintenanceActAddUpdate.maintenanceAct.active eq 'N'}" />
							      
							   <p:outputLabel for="duration4" value="#{msg.lbl_duration4}" />							
							   <p:inputText id="duration4" value="#{maintenanceActAddUpdate.maintenanceControl.duration4}"
							      disabled="#{maintenanceActAddUpdate.maintenanceAct.active eq 'N'}" />
					       
					       
					        </p:panelGrid>
					       </div>
					      </div>
					   </div>
					 </p:tab>
					 
					 <p:tab title="#{msg.lbl_substance}" titleStyle="background-color: #FFFFFF;height:55px;">
					  <div class="Card SoftBlue ui-fluid"  >
					     <div class="Container50  Responsive100">
				           <div class="ContainerIndent " >
						    <p:panelGrid id="substance" columns="2" layout="grid" columnClasses="ui-grid-col-7,ui-grid-col-5" style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank">
					 
					          <p:outputLabel for="mudAssessment" value="#{msg.lbl_mudAssessment}" />							
							  <p:selectBooleanCheckbox id="mudAssessment" value="#{maintenanceActAddUpdate.maintenanceSubstance.mudAssessment}"
							      disabled="#{maintenanceActAddUpdate.maintenanceAct.active eq 'N'}" />
							      
							  <p:outputLabel for="mudOverflowDrain" value="#{msg.lbl_mudOverflowDrain}" />							
							  <p:selectBooleanCheckbox id="mudOverflowDrain" value="#{maintenanceActAddUpdate.maintenanceSubstance.mudOverflowDrain}"
							      disabled="#{maintenanceActAddUpdate.maintenanceAct.active eq 'N'}" />
							      
							  <p:outputLabel for="mudRemoval" value="#{msg.lbl_mudRemoval}" />							
							  <p:selectBooleanCheckbox id="mudRemoval" value="#{maintenanceActAddUpdate.maintenanceSubstance.mudRemoval}"
							      disabled="#{maintenanceActAddUpdate.maintenanceAct.active eq 'N'}" />
							      
					          <p:outputLabel for="sealedDisposal" value="#{msg.lbl_sealedDisposal}" />							
							  <p:selectBooleanCheckbox id="sealedDisposal" value="#{maintenanceActAddUpdate.maintenanceSubstance.sealedDisposal}"
							      disabled="#{maintenanceActAddUpdate.maintenanceAct.active eq 'N'}" />
							  
							  <p:outputLabel for="floatingMud" value="#{msg.lbl_floatingMud}" />							
							  <p:selectBooleanCheckbox id="floatingMud" value="#{maintenanceActAddUpdate.maintenanceSubstance.floatingMud}"
							      disabled="#{maintenanceActAddUpdate.maintenanceAct.active eq 'N'}" />
							     
							   <p:outputLabel for="floatingMudRemoval" value="#{msg.lbl_floatingMudRemoval}" />							
							   <p:selectBooleanCheckbox id="floatingMudRemoval" value="#{maintenanceActAddUpdate.maintenanceSubstance.floatingMudRemoval}"
							      disabled="#{maintenanceActAddUpdate.maintenanceAct.active eq 'N'}" />
							      
							 
					        </p:panelGrid>
					      </div>
					     </div>
					     <div class="Container50  Responsive100">
				           <div class="ContainerIndent " >
						    <p:panelGrid id="measurements" columns="2" columnClasses="ui-grid-col-8,ui-grid-col-4" layout="grid" style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank">
					          
							   
							   <p:outputLabel for="exitOpeningsChanged" value="#{msg.lbl_exitOpeningsChanged}" />							
							   <p:selectBooleanCheckbox id="exitOpeningsChanged" value="#{maintenanceActAddUpdate.maintenanceSubstance.exitOpeningsChanged}"
							      disabled="#{maintenanceActAddUpdate.maintenanceAct.active eq 'N'}" />
							         
							   <p:outputLabel for="stability" value="#{msg.lbl_stability}" />							
							   <p:selectBooleanCheckbox id="stability" value="#{maintenanceActAddUpdate.maintenanceSubstance.stability}"
							      disabled="#{maintenanceActAddUpdate.maintenanceAct.active eq 'N'}" />
							   
							   <p:outputLabel for="testRun" value="#{msg.lbl_testRun}" />							
							   <p:selectBooleanCheckbox id="testRun" value="#{maintenanceActAddUpdate.maintenanceSubstance.testRun}"
							      disabled="#{maintenanceActAddUpdate.maintenanceAct.active eq 'N'}" />
							   
							   <p:outputLabel for="soakAway" value="#{msg.lbl_soakAway}" />							
							   <p:selectBooleanCheckbox id="soakAway" value="#{maintenanceActAddUpdate.maintenanceSubstance.soakAway}"
							      disabled="#{maintenanceActAddUpdate.maintenanceAct.active eq 'N'}" />   
							      
							  <p:outputLabel for="durationPasswordProgramming" value="#{msg.lbl_durationPasswordProgramming}" />							
							  <p:selectBooleanCheckbox id="durationPasswordProgramming" value="#{maintenanceActAddUpdate.maintenanceSubstance.durationPasswordProgramming}"
							      disabled="#{maintenanceActAddUpdate.maintenanceAct.active eq 'N'}" /> 
							         
							    <p:row></p:row>
                 		        <p:row></p:row> 
					        
					        </p:panelGrid>
					       </div>
					     </div>
					     </div>
					       <div class="Container100  Responsive100">
                              <div class="ContainerIndent " >
                                   <p:separator style="width:100%;" />
                              </div>
                           </div>
					     
					    <div class="Card SoftBlue ui-fluid"  >
					     <div class="Container50  Responsive100">
				           <div class="ContainerIndent " >
						    <p:panelGrid id="substanceOne" columns="2" layout="grid" style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank">
					 
					            <p:outputLabel for="mudStorageVolume" value="#{msg.lbl_mudStorageVolume}" />							
							    <p:inputText id="mudStorageVolume" value="#{maintenanceActAddUpdate.maintenanceSubstance.mudStorageVolume}"
							      disabled="#{maintenanceActAddUpdate.maintenanceAct.active eq 'N'}" />
							      
							    <p:outputLabel for="revival" value="#{msg.lbl_revival}" />							
							    <p:inputText id="revival" value="#{maintenanceActAddUpdate.maintenanceSubstance.revival}"
							      disabled="#{maintenanceActAddUpdate.maintenanceAct.active eq 'N'}" />
					             
					        </p:panelGrid>
					       </div>
					      </div>
					      
					      <div class="Container50  Responsive100">
				           <div class="ContainerIndent " >
						    <p:panelGrid id="measurementsOne" columns="2" layout="grid" style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank">
					 
					           <p:outputLabel for="removableSubstances" value="#{msg.lbl_removableSubstances}" />							
							   <p:inputText id="removableSubstances" value="#{maintenanceActAddUpdate.maintenanceSubstance.removableSubstances}"
							      disabled="#{maintenanceActAddUpdate.maintenanceAct.active eq 'N'}" />
							      
							   <p:outputLabel for="buffer" value="#{msg.lbl_buffer}" />							
							   <p:inputText id="buffer" value="#{maintenanceActAddUpdate.maintenanceSubstance.buffer}"
							      disabled="#{maintenanceActAddUpdate.maintenanceAct.active eq 'N'}" />
					             
					        </p:panelGrid>
					       </div>
					      </div>
					     
					   </div>
					   </p:tab>
				   </p:tabView>
				 </div>
			   </div>
		     </div>
			             <p:blockUI block="tabView" widgetVar="bui">LOADING<br /> 
       			           <p:graphicImage  value="/images/ajax-loader.gif"/>
    		             </p:blockUI> 
    		              
		   </div>
		 </div>
	  </h:form>	
   </ui:define>
 </ui:composition>