<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui">

	  <f:metadata>
		<f:viewAction action="#{facilitiesView.onLoadAction}" />
	  </f:metadata>
	  <h:form id="maintenanceActAddForm" enctype="multipart/form-data" >
	   <div class="ui-widget ui-widget-header ui-corner-all ui-helper-clearfix">
	      <div class="ui-toolbar-group-left">
		      <p:commandButton value="#{msg.btn_save}" id="btnSave" icon="fa fa-save" 
			     actionListener="#{facilitiesView.saveMainteanceActAction}" ajax="false" onclick="PF('bui').show()">
		      </p:commandButton>
		      <p:commandButton value="#{msg.btn_cancel}" id="btnCancel" icon="fa fa-close"  process="@this" 
		      	oncomplete="PF('createMaintenanceDialog').hide()"/>
			</div>
	 </div>
	 <div class="Card ShadowEffect ui-fluid" style="overflow:auto !important;width:800px;Height:380px;" >
	  <p:tabView id="tabView" orientation="left">
      <p:tab title="#{msg.hdr_maintenanceAct}">	
	
	 <div class="Card SoftBlue ui-fluid"  >
	   <div class="Container50  Responsive50">
          <div class="ContainerIndent " >
			<p:panelGrid id="maintenanceAct" columns="2" layout="grid" style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank">
														
				<!-- <p:outputLabel for="identifier" value="#{msg.lbl_identifier}" rendered="#{not empty facilitiesView.maintenanceAct.identifier}" />
				<p:outputLabel id="identifier" value="#{facilitiesView.maintenanceAct.identifier}"
				    disabled="true" rendered="#{not empty facilitiesView.maintenanceAct.identifier}" /> -->
                 
                <p:outputLabel for="referenceNumber" value="#{msg.lbl_referenceNumber}" />							
				<p:inputText id="referenceNumber" value="#{facilitiesView.maintenanceAct.referenceNumber}"
				      disabled="#{facilitiesView.maintenanceAct.active eq 'N'}" /> 	 
                         
      			<p:outputLabel for="maintenanceDate" value="#{msg.lbl_maintenanceDate}" />							
			    <p:calendar id="maintenanceDate"  locale="#{layoutMenu.user.language}" value="#{facilitiesView.maintenanceAct.maintenanceDate}"  converter="dateConverter" pattern="#{CommonConstants.APP_DATE_FORMAT}" mask="true" 
        				           widgetVar="dobWidget" disabled="#{facilitiesView.maintenanceAct.active eq 'N'}" />
        				  	   
         		<p:outputLabel for="subsequentProblems" value="#{msg.lbl_subsequentProblems}" />							
				<p:inputText id="subsequentProblems" value="#{facilitiesView.maintenanceAct.subsequentProblems}"
				      disabled="#{facilitiesView.maintenanceAct.active eq 'N'}" />
				      
				<p:outputLabel for="report" value="#{msg.lbl_report}" />							
				<p:inputText id="report" value="#{facilitiesView.maintenanceAct.report}"
				      disabled="#{facilitiesView.maintenanceAct.active eq 'N'}" />	      
				      
				<p:outputLabel for="maId" value="#{msg.lbl_maId}" />							
         		<p:inputText id="maId" value="#{facilitiesView.maintenanceAct.maId}"
				      disabled="#{facilitiesView.maintenanceAct.active eq 'N'}" /> 
						         
			</p:panelGrid>
			</div>
		</div>
	     <div class="Container50  Responsive50">
	          <div class="ContainerIndent " >
		    	<p:panelGrid id="maintenanceActOne" columns="2" columnClasses="ui-grid-col-7,ui-grid-col-5" layout="grid" style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank">
	          
				  <p:outputLabel for="surfaceInspection" value="#{msg.lbl_surfaceInspection}" />							
				  <p:selectBooleanCheckbox id="surfaceInspection" value="#{facilitiesView.maintenanceAct.surfaceInspection}"
				      disabled="#{facilitiesView.maintenanceAct.active eq 'N'}" />	     
				 
				  <p:outputLabel for="waterTightness" value="#{msg.lbl_waterTightness}" />							
				  <p:selectBooleanCheckbox id="waterTightness" value="#{facilitiesView.maintenanceAct.waterTightness}"
				      disabled="#{facilitiesView.maintenanceAct.active eq 'N'}" />	  
				      
				  <p:outputLabel for="structuralCondition" value="#{msg.lbl_structuralCondition}" />							
				  <p:selectBooleanCheckbox id="structuralCondition" value="#{facilitiesView.maintenanceAct.structuralCondition}"
				    disabled="#{facilitiesView.maintenanceAct.active eq 'N'}"  /> 
	                          
				  <p:outputLabel for="tankInspection" value="#{msg.lbl_tankInspection}" />							
				  <p:selectBooleanCheckbox id="tankInspection" value="#{facilitiesView.maintenanceAct.tankInspection}"
				    disabled="#{facilitiesView.maintenanceAct.active eq 'N'}" />
				    
				  <p:outputLabel for="waterFilling" value="#{msg.lbl_waterFilling}" />							
				  <p:selectBooleanCheckbox id="waterFilling" value="#{facilitiesView.maintenanceAct.waterFilling}"
				    disabled="#{facilitiesView.maintenanceAct.active eq 'N'}" />
				    
				  <p:outputLabel for="shortComings" value="#{msg.lbl_shortComings}" />							
				  <p:inputText id="shortComings" value="#{facilitiesView.maintenanceAct.shortComings}"
				      disabled="#{facilitiesView.maintenanceAct.active eq 'N'}" />  
				      
				  <p:outputLabel for="waterDepth" value="#{msg.lbl_waterDepth}" />							
				  <p:inputText id="waterDepth" value="#{facilitiesView.maintenanceAct.waterDepth}"
				      disabled="#{facilitiesView.maintenanceAct.active eq 'N'}" /> 
	      
	         </p:panelGrid>
	    </div>
	   </div>
	  </div>
	    <div class="Container100  Responsive100">
	        <div class="ContainerIndent " >
	        	<p:separator style="width:100%;" />
	    	</div>
	    </div>
					   
		<h6 class="TexAlLeft BigTopic">#{msg.hdr_chamberDetails} </h6>
		<div class="Card SoftBlue ui-fluid"  >
			<div class="Container50  Responsive100">
	           <div class="ContainerIndent " >
			    <p:panelGrid id="chamberBS" columns="2"  layout="grid" style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank">
		            <p:outputLabel for="chamberBS1" value="#{msg.lbl_chamberBS1}" />							
					<p:inputText id="chamberBS1" value="#{facilitiesView.maintenanceAct.chamberBs1}"
					      disabled="#{facilitiesView.maintenanceAct.active eq 'N'}" />
					 
					<p:outputLabel for="chamberBS2" value="#{msg.lbl_chamberBS2}" />							
					<p:inputText id="chamberBS2" value="#{facilitiesView.maintenanceAct.chamberBs2}"
					      disabled="#{facilitiesView.maintenanceAct.active eq 'N'}" />   
         					
         					<p:outputLabel for="chamberBS3" value="#{msg.lbl_chamberBS3}" />							
					<p:inputText id="chamberBS3" value="#{facilitiesView.maintenanceAct.chamberBs3}"
					      disabled="#{facilitiesView.maintenanceAct.active eq 'N'}" />	
					      
		        </p:panelGrid>
		      </div>
		   </div>
		   <div class="Container50  Responsive100">
	           <div class="ContainerIndent " >
			    <p:panelGrid id="chamberSS" columns="2" layout="grid" style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank">
		              <p:outputLabel for="chamberSS1" value="#{msg.lbl_chamberSS1}" />							
					  <p:inputText id="chamberSS1" value="#{facilitiesView.maintenanceAct.chamberSs1}"
					    disabled="#{facilitiesView.maintenanceAct.active eq 'N'}" />
					      
					  <p:outputLabel for="chamberSS2" value="#{msg.lbl_chamberSS2}" />							
					  <p:inputText id="chamberSS2" value="#{facilitiesView.maintenanceAct.chamberSs2}"
					    disabled="#{facilitiesView.maintenanceAct.active eq 'N'}" />
					     
				      <p:outputLabel for="chamberSS3" value="#{msg.lbl_chamberSS3}" />							
					  <p:inputText id="chamberSS3" value="#{facilitiesView.maintenanceAct.chamberSs3}"
					    disabled="#{facilitiesView.maintenanceAct.active eq 'N'}" />
		        </p:panelGrid>
		       </div>
		   </div>
		</div>
	</p:tab>   
    <p:tab title="#{msg.lbl_maintenanceControl}" titleStyle="background-color: #FFFFFF;height:55px;">
	  <div class="Card SoftBlue ui-fluid" >
	   <div class="Container50  Responsive100">
	          <div class="ContainerIndent " >
		    <p:panelGrid id="maintenanceControl" columns="2" columnClasses="ui-grid-col-9,ui-grid-col-3" layout="grid" style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank">
	       
			   <p:outputLabel for="functionControl" value="#{msg.lbl_functionControl}" />							
	       				   <p:selectBooleanCheckbox id="functionControl" value="#{facilitiesView.maintenanceControl.functionControl}"
			      disabled="#{facilitiesView.maintenanceAct.active eq 'N'}" />                  
			      
			   <p:outputLabel for="machineMaintenance" value="#{msg.lbl_machineMaintenance}" />							
			   <p:selectBooleanCheckbox id="machineMaintenance" value="#{facilitiesView.maintenanceControl.machineMaintenance}"
			      disabled="#{facilitiesView.maintenanceAct.active eq 'N'}" />  
			      
			   <p:outputLabel for="changeoverTimes" value="#{msg.lbl_changeoverTimes}" />							
			   <p:selectBooleanCheckbox id="changeoverTimes" value="#{facilitiesView.maintenanceControl.changeoverTimes}"
			      disabled="#{facilitiesView.maintenanceAct.active eq 'N'}" />  
			      
			   <p:outputLabel for="powerFailureDetection" value="#{msg.lbl_powerFailureDetection}" />							
			   <p:selectBooleanCheckbox id="powerFailureDetection" value="#{facilitiesView.maintenanceControl.powerFailureDetection}"
			      disabled="#{facilitiesView.maintenanceAct.active eq 'N'}" />
	      
	        </p:panelGrid>
	       </div>
   		</div>
	    <div class="Container50  Responsive100">
           <div class="ContainerIndent " >
		    <p:panelGrid id="maintenanceControlOne" columns="2" columnClasses="ui-grid-col-9,ui-grid-col-3" layout="grid" style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank">
	       
	           <p:outputLabel for="lastReportTransfer" value="#{msg.lbl_lastReportTransfer}" />							
			   <p:selectBooleanCheckbox id="lastReportTransfer" value="#{facilitiesView.maintenanceControl.lastReportTransfer}"
			      disabled="#{facilitiesView.maintenanceAct.active eq 'N'}" />
			      
			   <p:outputLabel for="companyBookExamination" value="#{msg.lbl_companyBookExamination}" />							
			   <p:selectBooleanCheckbox id="companyBookExamination" value="#{facilitiesView.maintenanceControl.companyBookExamination}"
			      disabled="#{facilitiesView.maintenanceAct.active eq 'N'}" />
			      
			   <p:outputLabel for="distributorChannelCleaning" value="#{msg.lbl_distributorChannelCleaning}" />							
			    <p:selectBooleanCheckbox id="distributorChannelCleaning" value="#{facilitiesView.maintenanceControl.distributorChannelCleaning}"
			      disabled="#{facilitiesView.maintenanceAct.active eq 'N'}" />
			      
			   <p:outputLabel for="constructionSiteCompleted" value="#{msg.lbl_constructionSiteCompleted}" />							
			   <p:selectBooleanCheckbox id="constructionSiteCompleted" value="#{facilitiesView.maintenanceControl.constructionSiteCompleted}"
			      disabled="#{facilitiesView.maintenanceAct.active eq 'N'}" />
	        
	        </p:panelGrid>
	       </div>
	   </div>
   
     <div class="Container100  Responsive100">
            <div class="ContainerIndent " >
                 <p:separator style="width:100%;" />
            </div>
      </div>
					     
     <h6 class="TexAlLeft BigTopic">#{msg.hdr_controlMeasures} </h6>
	     <div class="Container50  Responsive100">
	          <div class="ContainerIndent " >
		    <p:panelGrid id="controlMeasures" columns="2" columnClasses="ui-grid-col-7,ui-grid-col-5" layout="grid" style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank">
	            <p:outputLabel for="temperature" value="#{msg.lbl_temperature}" />							
			    <p:inputText id="temperature" value="#{facilitiesView.maintenanceControl.temperature}"
			      disabled="#{facilitiesView.maintenanceAct.active eq 'N'}" />
			      
			    <p:outputLabel for="phValue" value="#{msg.lbl_phValue}" />							
			    <p:inputText id="phValue" value="#{facilitiesView.maintenanceControl.phValue}"
			      disabled="#{facilitiesView.maintenanceAct.active eq 'N'}" />
			      
			    <p:outputLabel for="oxygenContent" value="#{msg.lbl_oxygenContent}" />							
			    <p:inputText id="oxygenContent" value="#{facilitiesView.maintenanceControl.oxygenContent}"
			      disabled="#{facilitiesView.maintenanceAct.active eq 'N'}" />
			      
			    <p:outputLabel for="sampleNumber" value="#{msg.lbl_sampleNumber}" />							
			    <p:inputText id="sampleNumber" value="#{facilitiesView.maintenanceControl.sampleNumber}"
			      disabled="#{facilitiesView.maintenanceAct.active eq 'N'}" />
			      
			    <p:outputLabel for="sampleComment" value="#{msg.lbl_sampleComment}" />							
			    <p:inputText id="sampleComment" value="#{facilitiesView.maintenanceControl.sampleComment}"
			      disabled="#{facilitiesView.maintenanceAct.active eq 'N'}" />  
	        
	        </p:panelGrid>
	      </div>
    </div>
	    <div class="Container50  Responsive100">
	          <div class="ContainerIndent " >
		    <p:panelGrid id="controlMeasuresOne" columns="2" columnClasses="ui-grid-col-7,ui-grid-col-5" layout="grid" style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank">
			    <p:outputLabel for="odor" value="#{msg.lbl_odor}" />							
			    <p:inputText id="odor" value="#{facilitiesView.maintenanceControl.odor}"
			      disabled="#{facilitiesView.maintenanceAct.active eq 'N'}" />
			      
			    <p:outputLabel for="repairFrom" value="#{msg.lbl_repairFrom}" />							
			    <p:inputText id="repairFrom" value="#{facilitiesView.maintenanceControl.repairFrom}"
			      disabled="#{facilitiesView.maintenanceAct.active eq 'N'}" />
			      
			    <p:outputLabel for="deepView" value="#{msg.lbl_deepView}" />							
			    <p:inputText id="deepView" value="#{facilitiesView.maintenanceControl.deepView}"
			      disabled="#{facilitiesView.maintenanceAct.active eq 'N'}" />
			      
			    <p:outputLabel for="remarks" value="#{msg.lbl_remarks}" />							
			    <p:inputText id="remarks" value="#{facilitiesView.maintenanceControl.remarks}"
			      disabled="#{facilitiesView.maintenanceAct.active eq 'N'}" />
	        </p:panelGrid>
	       </div>
	     </div>
	  </div>
	</p:tab>
	 <p:tab title="#{msg.lbl_maintenanceperiod}" titleStyle="background-color: #FFFFFF;height:55px;">
	  <div class="Card SoftBlue ui-fluid"  >
	     <div class="Container50  Responsive100">
           <div class="ContainerIndent " >
		    <p:panelGrid id="maintenanceperiod" columns="2" layout="grid"  style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank">
	        
	           <p:outputLabel for="duration1" value="#{msg.lbl_duration1}" />							
			   <p:inputText id="duration1" value="#{facilitiesView.maintenanceControl.duration1}"
			      disabled="#{facilitiesView.maintenanceAct.active eq 'N'}" />
			      
			   <p:outputLabel for="duration3" value="#{msg.lbl_duration3}" />							
			   <p:inputText id="duration3" value="#{facilitiesView.maintenanceControl.duration3}"
			      disabled="#{facilitiesView.maintenanceAct.active eq 'N'}" />
	       
	        </p:panelGrid>
	       </div>
	      </div>
	      
	      <div class="Container50  Responsive100">
           <div class="ContainerIndent " >
		    <p:panelGrid id="maintenanceperiodOne" columns="2" layout="grid"  style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank">
	           
	           <p:outputLabel for="duration2" value="#{msg.lbl_duration2}" />							
			   <p:inputText id="duration2" value="#{facilitiesView.maintenanceControl.duration2}"
			      disabled="#{facilitiesView.maintenanceAct.active eq 'N'}" />
			      
			   <p:outputLabel for="duration4" value="#{msg.lbl_duration4}" />							
			   <p:inputText id="duration4" value="#{facilitiesView.maintenanceControl.duration4}"
			      disabled="#{facilitiesView.maintenanceAct.active eq 'N'}" />
	       
	       
	        </p:panelGrid>
	       </div>
	      </div>
	   </div>
	 </p:tab>
					 
	 <p:tab title="#{msg.lbl_substance}" titleStyle="background-color: #FFFFFF;height:55px;">
	  <div class="Card SoftBlue ui-fluid"  >
	     <div class="Container50  Responsive100">
           <div class="ContainerIndent " >
		    <p:panelGrid id="substance" columns="2" layout="grid" columnClasses="ui-grid-col-9,ui-grid-col-3" style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank">
	 
	          <p:outputLabel for="mudAssessment" value="#{msg.lbl_mudAssessment}" />							
			  <p:selectBooleanCheckbox id="mudAssessment" value="#{facilitiesView.maintenanceSubstance.mudAssessment}"
			      disabled="#{facilitiesView.maintenanceAct.active eq 'N'}" />
			      
			  <p:outputLabel for="mudOverflowDrain" value="#{msg.lbl_mudOverflowDrain}" />							
			  <p:selectBooleanCheckbox id="mudOverflowDrain" value="#{facilitiesView.maintenanceSubstance.mudOverflowDrain}"
			      disabled="#{facilitiesView.maintenanceAct.active eq 'N'}" />
			      
			  <p:outputLabel for="mudRemoval" value="#{msg.lbl_mudRemoval}" />							
			  <p:selectBooleanCheckbox id="mudRemoval" value="#{facilitiesView.maintenanceSubstance.mudRemoval}"
			      disabled="#{facilitiesView.maintenanceAct.active eq 'N'}" />
			      
	          <p:outputLabel for="sealedDisposal" value="#{msg.lbl_sealedDisposal}" />							
			  <p:selectBooleanCheckbox id="sealedDisposal" value="#{facilitiesView.maintenanceSubstance.sealedDisposal}"
			      disabled="#{facilitiesView.maintenanceAct.active eq 'N'}" />
			  
			  <p:outputLabel for="floatingMud" value="#{msg.lbl_floatingMud}" />							
			  <p:selectBooleanCheckbox id="floatingMud" value="#{facilitiesView.maintenanceSubstance.floatingMud}"
			      disabled="#{facilitiesView.maintenanceAct.active eq 'N'}" />
			     
			   <p:outputLabel for="floatingMudRemoval" value="#{msg.lbl_floatingMudRemoval}"  style="word-wrap:break-word;"/>							
			   <p:selectBooleanCheckbox id="floatingMudRemoval" value="#{facilitiesView.maintenanceSubstance.floatingMudRemoval}"
			      disabled="#{facilitiesView.maintenanceAct.active eq 'N'}" />
			      
			 
	        </p:panelGrid>
	      </div>
	     </div>
	     <div class="Container50  Responsive100">
           <div class="ContainerIndent " >
		    <p:panelGrid id="measurements" columns="2" columnClasses="ui-grid-col-9,ui-grid-col-3" layout="grid" style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank">
	          
			   
			   <p:outputLabel for="exitOpeningsChanged" value="#{msg.lbl_exitOpeningsChanged}"  />							
			   <p:selectBooleanCheckbox id="exitOpeningsChanged" value="#{facilitiesView.maintenanceSubstance.exitOpeningsChanged}"
			      disabled="#{facilitiesView.maintenanceAct.active eq 'N'}" />
			         
			   <p:outputLabel for="stability" value="#{msg.lbl_stability}" />							
			   <p:selectBooleanCheckbox id="stability" value="#{facilitiesView.maintenanceSubstance.stability}"
			      disabled="#{facilitiesView.maintenanceAct.active eq 'N'}" />
			   
			   <p:outputLabel for="testRun" value="#{msg.lbl_testRun}" />							
			   <p:selectBooleanCheckbox id="testRun" value="#{facilitiesView.maintenanceSubstance.testRun}"
			      disabled="#{facilitiesView.maintenanceAct.active eq 'N'}" />
			   
			   <p:outputLabel for="soakAway" value="#{msg.lbl_soakAway}" />							
			   <p:selectBooleanCheckbox id="soakAway" value="#{facilitiesView.maintenanceSubstance.soakAway}"
			      disabled="#{facilitiesView.maintenanceAct.active eq 'N'}" />   
			      
			  <p:outputLabel for="durationPasswordProgramming" value="#{msg.lbl_durationPasswordProgramming}" />							
			  <p:selectBooleanCheckbox id="durationPasswordProgramming" value="#{facilitiesView.maintenanceSubstance.durationPasswordProgramming}"
			      disabled="#{facilitiesView.maintenanceAct.active eq 'N'}" /> 
			         
			    <p:row></p:row>
             		        <p:row></p:row> 
	        
	        </p:panelGrid>
	       </div>
	     </div>
	     </div>
	       <div class="Container100  Responsive100">
                          <div class="ContainerIndent " >
                               <p:separator style="width:100%;" />
                          </div>
                       </div>
	     
	    <div class="Card SoftBlue ui-fluid"  >
	     <div class="Container50  Responsive100">
           <div class="ContainerIndent " >
		    <p:panelGrid id="substanceOne" columns="2" layout="grid" style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank">
	 
	            <p:outputLabel for="mudStorageVolume" value="#{msg.lbl_mudStorageVolume}" style="word-wrap:break-word;" />							
			    <p:inputText id="mudStorageVolume" value="#{facilitiesView.maintenanceSubstance.mudStorageVolume}"
			      disabled="#{facilitiesView.maintenanceAct.active eq 'N'}" />
			      
			    <p:outputLabel for="revival" value="#{msg.lbl_revival}" />							
			    <p:inputText id="revival" value="#{facilitiesView.maintenanceSubstance.revival}"
			      disabled="#{facilitiesView.maintenanceAct.active eq 'N'}" />
	             
	        </p:panelGrid>
	       </div>
	      </div>
	      
	      <div class="Container50  Responsive100">
           <div class="ContainerIndent " >
		    <p:panelGrid id="measurementsOne" columns="2" layout="grid" style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank">
	 
	           <p:outputLabel for="removableSubstances" value="#{msg.lbl_removableSubstances}" />							
			   <p:inputText id="removableSubstances" value="#{facilitiesView.maintenanceSubstance.removableSubstances}"
			      disabled="#{facilitiesView.maintenanceAct.active eq 'N'}" />
			      
			   <p:outputLabel for="buffer" value="#{msg.lbl_buffer}" />							
			   <p:inputText id="buffer" value="#{facilitiesView.maintenanceSubstance.buffer}"
			      disabled="#{facilitiesView.maintenanceAct.active eq 'N'}" />
	             
	        </p:panelGrid>
	       </div>
	      </div>
	     </div>
	     </p:tab>
		</p:tabView>
	</div>
			   
	            <p:blockUI block="tabView" widgetVar="bui">LOADING<br /> 
     			        <p:graphicImage  value="/images/ajax-loader.gif"/>
  		         </p:blockUI> 
	  </h:form>
	  </html>