<ui:composition template="/WEB-INF/templates/template.xhtml"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:pe="http://primefaces.org/ui/extensions"
     xmlns:p="http://primefaces.org/ui"
     xmlns:c="http://java.sun.com/jstl/core">
    <ui:define name="subheader">
         #{msg.hdr_maintenanceAct}
    </ui:define>
    <ui:define name="content">
       <f:event type="preRenderView" listener="#{maintenanceActView.preRenderView}" />
       <f:metadata>
           <f:viewAction action="#{maintenanceActView.onLoadAction}"/>
       </f:metadata> 
       <div class="Container70 Responsive100">
		 <div class="ContainerIndent">
			<div class="Card ShadowEffect ">
			  <div class="Container100 Responsive100">
				<div class="ContainerIndent">
                <h:form id="maintenanceActviewForm" enctype="multipart/form-data">   
                  <p:messages id="messages" globalOnly="true" showDetail="true"
				     autoUpdate="true" closable="true" escape="false" />

			        <div class="ui-widget ui-widget-header ui-corner-all ui-helper-clearfix">
			          <div class="ui-toolbar-group-left">
			 
			             <p:commandButton  value="#{msg.btn_edit}" id="btnEdit" icon="fa fa-pencil" 
			                action="#{maintenanceActView.editAction(maintenanceActView.maintenanceAct.identifier)}" rendered="#{maintenanceActView.maintenanceAct.active eq 'Y'}" />
			             <p:commandButton  value="#{msg.btn_cancel}" id="btnCancel" icon="fa fa-close" 
			                action="#{maintenanceActView.cancelAction}" process="@this" />
			             <span class="ui-separator">
                           <span class="fa fa-ellipsis-v SoftGray"></span>
                         </span>
			             <p:commandButton id="lock" icon="fa fa-lock" process="@form" 
			                actionListener="#{maintenanceActView.lockViewedMaintenanceAct(maintenanceActView.maintenanceAct.identifier)}"
				            title="#{msg.lbl_lockMaintenanceAct}" rendered="#{maintenanceActView.maintenanceAct.active eq 'Y'}" />
			             <p:commandButton id="unlock" icon="fa fa-unlock" process="@form" 
			                actionListener="#{maintenanceActView.unlockViewedMaintenanceAct(maintenanceActView.maintenanceAct.identifier)}"
				            title="#{msg.lbl_unlockMaintenanceAct}" rendered="#{maintenanceActView.maintenanceAct.active eq 'N'}" />
                      </div>
                      <div class="ui-toolbar-group-right">
                         <p:commandButton id="delete" icon="fa fa-trash-o" process="@form" 
                            action="#{maintenanceActView.deleteViewedMaintenanceAct(maintenanceActView.maintenanceAct.identifier)}"
				            rendered="#{maintenanceActView.maintenanceAct.active eq 'N'}" title="#{msg.lbl_deleteMaintenanceAct}">
			                <p:confirm header="#{msg.confirmation}" message="#{msg.delete_sure}" icon="ui-icon-alert" />
			             </p:commandButton>
				         <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                             <p:commandButton value="#{msg.btn_yes}" type="button" styleClass="ui-confirmdialog-yes "
                                icon="ui-icon-check fa fa-check Fs14 White" />
                              <p:commandButton value="#{msg.btn_no}" type="button" styleClass="ui-confirmdialog-no "
                                icon="ui-icon-close fa fa-close Fs14 White" />
                         </p:confirmDialog>
                      </div>
                   </div>  
			                             
		            <p:tabView id="tabView" orientation="left">
          	           <p:tab title="#{msg.hdr_maintenanceAct}">
          	            <div class="Card SoftBlue ui-fluid"  >
				         <div class="Container50  Responsive100">
				           <div class="ContainerIndent " > 
				              <p:panelGrid id="maintenanceAct" columns="2"  layout="grid" style="border:0px !important; background:none;">
				                
				                <p:outputLabel for="identifier" value="#{msg.lbl_identifier}" />
				                <p:outputLabel id="identifier"  value="#{maintenanceActView.maintenanceAct.identifier}"/> 
				                
		        			    <p:outputLabel for="maintenanceDate" value="#{msg.lbl_maintenanceDate}" />							
								<p:outputLabel id="maintenanceDate" value="#{maintenanceActView.maintenanceAct.maintenanceDate}">
								 <f:convertDateTime pattern="#{CommonConstants.APP_DATE_FORMAT}"  />
								 </p:outputLabel>
								   
		        				<p:outputLabel for="referenceNumber" value="#{msg.lbl_referenceNumber}" />							
								<p:outputLabel id="referenceNumber" value="#{maintenanceActView.maintenanceAct.referenceNumber}"/>
	            				
	            				<p:outputLabel for="subsequentProblems" value="#{msg.lbl_subsequentProblems}" />							
								<p:outputLabel id="subsequentProblems" value="#{maintenanceActView.maintenanceAct.subsequentProblems}" />
								      
								<p:outputLabel for="report" value="#{msg.lbl_report}" />							
								<p:outputLabel id="report" value="#{maintenanceActView.maintenanceAct.report}" />
								
								<p:outputLabel for="maId" value="#{msg.lbl_maId}" />							
	            				<p:outputLabel id="maId" value="#{maintenanceActView.maintenanceAct.maId}" />
								      
					     </p:panelGrid>
					     </div>
					     </div>
					     <div class="Container50  Responsive100">
				           <div class="ContainerIndent " >
						    <p:panelGrid id="maintenanceActOne" columns="2" layout="grid" style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank">
					          
								  <p:outputLabel for="surfaceInspection" value="#{msg.lbl_surfaceInspection}" />							
								  <p:outputLabel id="surfaceInspection" value="#{maintenanceActView.maintenanceAct.surfaceInspection == true ? msg.lbl_perfect : msg.lbl_defects}" />
								 
								  <p:outputLabel for="waterTightness" value="#{msg.lbl_waterTightness}" />							
								  <p:outputLabel id="waterTightness" value="#{maintenanceActView.maintenanceAct.waterTightness == true ? msg.btn_yes : msg.btn_no}"/>	     
								      
								  <p:outputLabel for="structuralCondition" value="#{msg.lbl_structuralCondition}" />							
								  <p:outputLabel id="structuralCondition" value="#{maintenanceActView.maintenanceAct.structuralCondition == true ? msg.lbl_perfect : msg.lbl_defects}" />
								    
								  <p:outputLabel for="tankInspection" value="#{msg.lbl_tankInspection}" />							
								  <p:outputLabel id="tankInspection" value="#{maintenanceActView.maintenanceAct.tankInspection == true ? msg.lbl_perfect : msg.lbl_defects}" />
								    
								  <p:outputLabel for="waterFilling" value="#{msg.lbl_waterFilling}" />							
								  <p:outputLabel id="waterFilling" value="#{maintenanceActView.maintenanceAct.waterFilling == true ? msg.btn_yes : msg.btn_no}" />
					        
					              <p:outputLabel for="shortComings" value="#{msg.lbl_shortComings}" />							
								  <p:outputLabel id="shortComings" value="#{maintenanceActView.maintenanceAct.shortComings}"/>
								      
								  <p:outputLabel for="waterDepth" value="#{msg.lbl_waterDepth}" />							
								  <p:outputLabel id="waterDepth" value="#{maintenanceActView.maintenanceAct.waterDepth}" />
					      
					      
					         </p:panelGrid>
					    </div>
					   </div>
					   </div>
					    <div class="Container100  Responsive100">
                              <div class="ContainerIndent " >
                                   <p:separator style="width:100%;" />
                              </div>
                        </div>
					   
					    <h6 class="TexAlLeft BigTopic">#{msg.hdr_chamberDetails} </h6>
					   <div class="Card SoftBlue ui-fluid" > 
					   <div class="Container50  Responsive100">
				           <div class="ContainerIndent " >
						    <p:panelGrid id="chamberBS" columns="2" layout="grid" style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank">
					            <p:outputLabel for="chamberBS1" value="#{msg.lbl_chamberBS1}" />							
								<p:outputLabel id="chamberBS1" value="#{maintenanceActView.maintenanceAct.chamberBs1}" />
								 
								<p:outputLabel for="chamberBS2" value="#{msg.lbl_chamberBS2}" />							
								<p:outputLabel id="chamberBS2" value="#{maintenanceActView.maintenanceAct.chamberBs2}" />
            					
            					<p:outputLabel for="chamberBS3" value="#{msg.lbl_chamberBS3}" />							
								<p:outputLabel id="chamberBS3" value="#{maintenanceActView.maintenanceAct.chamberBs3}" />
								      
					        </p:panelGrid>
					      </div>
					   </div>
					   <div class="Container50  Responsive100">
				           <div class="ContainerIndent " >
						    <p:panelGrid id="chamberSS" columns="2" layout="grid" style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank">
					              <p:outputLabel for="chamberSS1" value="#{msg.lbl_chamberSS1}" />							
								  <p:outputLabel id="chamberSS1" value="#{maintenanceActView.maintenanceAct.chamberSs1}" />
								      
								  <p:outputLabel for="chamberSS2" value="#{msg.lbl_chamberSS2}" />							
								  <p:outputLabel id="chamberSS2" value="#{maintenanceActView.maintenanceAct.chamberSs2}" />
								     
							      <p:outputLabel for="chamberSS3" value="#{msg.lbl_chamberSS3}" />							
								  <p:outputLabel id="chamberSS3" value="#{maintenanceActView.maintenanceAct.chamberSs3}" />
					        </p:panelGrid>
					       </div>
					   </div>
					</div>
				  </p:tab>   
			      <p:tab title="#{msg.lbl_maintenanceControl}" titleStyle="background-color: #FFFFFF;height:55px;">
					  <div class="Card SoftBlue ui-fluid" >
					   <div class="Container50  Responsive100">
				           <div class="ContainerIndent " >
						    <p:panelGrid id="maintenanceControl" columnClasses="ui-grid-col-8,ui-grid-col-4" columns="2" layout="grid" style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank">
					       
							   <p:outputLabel for="functionControl" value="#{msg.lbl_functionControl}" style="word-wrap:break-word;"/>							
            				   <p:outputLabel id="functionControl" value="#{maintenanceActView.maintenanceControl.functionControl == true ? msg.lbl_perfect : msg.lbl_defects}"/>
							      
							   <p:outputLabel for="machineMaintenance" value="#{msg.lbl_machineMaintenance}" />							
							   <p:outputLabel id="machineMaintenance" value="#{maintenanceActView.maintenanceControl.machineMaintenance == true ? msg.lbl_perfect : msg.lbl_defects}" />
							      
							   <p:outputLabel for="changeoverTimes" value="#{msg.lbl_changeoverTimes}" />							
							   <p:outputLabel id="changeoverTimes" value="#{maintenanceActView.maintenanceControl.changeoverTimes == true ? msg.lbl_perfect : msg.lbl_defects}" />
							      
							   <p:outputLabel for="powerFailureDetection" value="#{msg.lbl_powerFailureDetection}" style="word-wrap:break-word;"/>							
							   <p:outputLabel id="powerFailureDetection" value="#{maintenanceActView.maintenanceControl.powerFailureDetection == true ? msg.btn_yes : msg.btn_no}" />
					      
					        </p:panelGrid>
					       </div>
					   </div>
					   
					   
					    <div class="Container50  Responsive100">
				           <div class="ContainerIndent " >
						    <p:panelGrid id="maintenanceControlOne" columnClasses="ui-grid-col-9,ui-grid-col-3" columns="2" layout="grid" style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank">
					       
					           <p:outputLabel for="lastReportTransfer" value="#{msg.lbl_lastReportTransfer}" />							
							   <p:outputLabel id="lastReportTransfer" value="#{maintenanceActView.maintenanceControl.lastReportTransfer == true ? msg.lbl_perfect : msg.lbl_defects}" />
							      
							   <p:outputLabel for="companyBookExamination" value="#{msg.lbl_companyBookExamination}" style="word-wrap:break-word;"/>							
							   <p:outputLabel id="companyBookExamination" value="#{maintenanceActView.maintenanceControl.companyBookExamination == true ? msg.lbl_perfect : msg.lbl_defects}"/>
							    
							   <p:outputLabel for="distributorChannelCleaning" value="#{msg.lbl_distributorChannelCleaning}" />							
							   <p:outputLabel id="distributorChannelCleaning" value="#{maintenanceActView.maintenanceControl.distributorChannelCleaning == true ? msg.btn_yes : msg.btn_no}"/>
							         
							   <p:outputLabel for="constructionSiteCompleted" value="#{msg.lbl_constructionSiteCompleted}" />							
							   <p:outputLabel id="constructionSiteCompleted" value="#{maintenanceActView.maintenanceControl.constructionSiteCompleted == true ? msg.btn_yes : msg.btn_no}"/>
					        
					        </p:panelGrid>
					       </div>
					   </div>
					   </div>
					     <div class="Container100  Responsive100">
                              <div class="ContainerIndent " >
                                   <p:separator style="width:100%;" />
                              </div>
                        </div>
					     
					     <h6 class="TexAlLeft BigTopic">#{msg.hdr_controlMeasures} </h6> 
					     <div class="Card SoftBlue ui-fluid" >
					     <div class="Container50  Responsive100">
				           <div class="ContainerIndent " >
						    <p:panelGrid id="controlMeasures" columns="2" layout="grid" style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank">
					            <p:outputLabel for="temperature" value="#{msg.lbl_temperature}" />							
							    <p:outputLabel id="temperature" value="#{maintenanceActView.maintenanceControl.temperature}"/>
							      
							    <p:outputLabel for="phValue" value="#{msg.lbl_phValue}" />							
							    <p:outputLabel id="phValue" value="#{maintenanceActView.maintenanceControl.phValue}"/>
							      
							    <p:outputLabel for="oxygenContent" value="#{msg.lbl_oxygenContent}" />							
							    <p:outputLabel id="oxygenContent" value="#{maintenanceActView.maintenanceControl.oxygenContent}"/>
							      
							    <p:outputLabel for="sampleNumber" value="#{msg.lbl_sampleNumber}" />							
							    <p:outputLabel id="sampleNumber" value="#{maintenanceActView.maintenanceControl.sampleNumber}"/>
							      
							    <p:outputLabel for="sampleComment" value="#{msg.lbl_sampleComment}" style="word-wrap:break-word;"/>							
							    <p:outputLabel id="sampleComment" value="#{maintenanceActView.maintenanceControl.sampleComment}"/>
					        
					        </p:panelGrid>
					      </div>
					    </div>
					   
					    <div class="Container50  Responsive100">
				           <div class="ContainerIndent " >
						    <p:panelGrid id="controlMeasuresOne" columns="2" layout="grid" style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank">
					            
					            <p:outputLabel for="odor" value="#{msg.lbl_odor}" />							
							    <p:outputLabel id="odor" value="#{maintenanceActView.maintenanceControl.odor}"/>
							    
							    <p:outputLabel for="repairFrom" value="#{msg.lbl_repairFrom}" />							
							    <p:outputLabel id="repairFrom" value="#{maintenanceActView.maintenanceControl.repairFrom}" />
							      
							    <p:outputLabel for="deepView" value="#{msg.lbl_deepView}" />							
							    <p:outputLabel id="deepView" value="#{maintenanceActView.maintenanceControl.deepView}" />
							      
							    <p:outputLabel for="remarks" value="#{msg.lbl_remarks}" />							
							    <p:outputLabel id="remarks" value="#{maintenanceActView.maintenanceControl.remarks}" />
					        </p:panelGrid>
					       </div>
					     </div>
					  </div>
					 </p:tab>
					 <p:tab title="#{msg.lbl_maintenanceperiod}" titleStyle="background-color: #FFFFFF;height:55px;">
					  <div class="Card SoftBlue ui-fluid"  >
					     <div class="Container50  Responsive100">
				           <div class="ContainerIndent " >
						    <p:panelGrid id="maintenanceperiod" columns="2" layout="grid"  style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank">
					        
					           <p:outputLabel for="duration1" value="#{msg.lbl_duration1}" />							
							   <p:outputLabel id="duration1" value="#{maintenanceActView.maintenanceControl.duration1}" />
							      
							   <p:outputLabel for="duration3" value="#{msg.lbl_duration3}" />							
							   <p:outputLabel id="duration3" value="#{maintenanceActView.maintenanceControl.duration3}" />
					       
					        </p:panelGrid>
					       </div>
					      </div>
					      
					      <div class="Container50  Responsive100">
				           <div class="ContainerIndent " >
						    <p:panelGrid id="maintenanceperiodOne" columns="2" layout="grid"  style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank">
					           
					           <p:outputLabel for="duration2" value="#{msg.lbl_duration2}" />							
							   <p:outputLabel id="duration2" value="#{maintenanceActView.maintenanceControl.duration2}" />
							      
							   <p:outputLabel for="duration4" value="#{msg.lbl_duration4}" />							
							   <p:outputLabel id="duration4" value="#{maintenanceActView.maintenanceControl.duration4}" />
					       
					       
					        </p:panelGrid>
					       </div>
					      </div>
					   </div>
					 </p:tab>
					 
					 <p:tab title="#{msg.lbl_substance}" titleStyle="background-color: #FFFFFF;height:55px;">
					  <div class="Card SoftBlue ui-fluid"  >
					     <div class="Container50  Responsive100">
				           <div class="ContainerIndent " >
						    <p:panelGrid id="substance" columns="2" columnClasses="ui-grid-col-9,ui-grid-col-3" layout="grid" style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank">
					 
					          <p:outputLabel for="mudAssessment" value="#{msg.lbl_mudAssessment}" />							
							  <p:outputLabel id="mudAssessment" value="#{maintenanceActView.maintenanceSubstance.mudAssessment == true ? msg.lbl_perfect : msg.lbl_defects}"/>
							      
							  <p:outputLabel for="mudOverflowDrain" value="#{msg.lbl_mudOverflowDrain}" />							
							  <p:outputLabel id="mudOverflowDrain" value="#{maintenanceActView.maintenanceSubstance.mudOverflowDrain == true ? msg.lbl_perfect : msg.lbl_defects}" />
							      
							  <p:outputLabel for="mudRemoval" value="#{msg.lbl_mudRemoval}" />							
							  <p:outputLabel id="mudRemoval" value="#{maintenanceActView.maintenanceSubstance.mudRemoval == true ? msg.btn_yes : msg.btn_no}" />
							      
					          <p:outputLabel for="sealedDisposal" value="#{msg.lbl_sealedDisposal}" />							
							  <p:outputLabel id="sealedDisposal" value="#{maintenanceActView.maintenanceSubstance.sealedDisposal == true ? msg.btn_yes : msg.btn_no}"/>
							  
							  <p:outputLabel for="floatingMud" value="#{msg.lbl_floatingMud}" style="word-wrap:break-word;"/>							
							  <p:outputLabel id="floatingMud" value="#{maintenanceActView.maintenanceSubstance.floatingMud == true ? msg.lbl_perfect : msg.lbl_defects}"/>
							   
							  <p:outputLabel for="floatingMudRemoval" value="#{msg.lbl_floatingMudRemoval}" style="word-wrap:break-word;"/>							
							  <p:outputLabel id="floatingMudRemoval" value="#{maintenanceActView.maintenanceSubstance.floatingMudRemoval == true ? msg.btn_yes : msg.btn_no}" />
							      
					        </p:panelGrid>
					      </div>
					     </div>
					     <div class="Container50  Responsive100">
				           <div class="ContainerIndent " >
						    <p:panelGrid id="measurements" columns="2" columnClasses="ui-grid-col-9,ui-grid-col-3" layout="grid" style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank">
					          
							   
							   <p:outputLabel for="exitOpeningsChanged" value="#{msg.lbl_exitOpeningsChanged}" style="word-wrap:break-word;"/>							
							   <p:outputLabel id="exitOpeningsChanged" value="#{maintenanceActView.maintenanceSubstance.exitOpeningsChanged == true ? msg.btn_yes : msg.btn_no}" />
							      
							   <p:outputLabel for="stability" value="#{msg.lbl_stability}" />							
							   <p:outputLabel id="stability" value="#{maintenanceActView.maintenanceSubstance.stability == true ? msg.btn_yes : msg.btn_no}" />
							   
							   <p:outputLabel for="testRun" value="#{msg.lbl_testRun}" />							
							   <p:outputLabel id="testRun" value="#{maintenanceActView.maintenanceSubstance.testRun == true ? msg.btn_yes : msg.btn_no}" />
							    
							   <p:outputLabel for="soakAway" value="#{msg.lbl_soakAway}" />							
							   <p:outputLabel id="soakAway" value="#{maintenanceActView.maintenanceSubstance.soakAway == true ? msg.btn_yes : msg.btn_no}"/>
							      
							   <p:outputLabel for="durationPasswordProgramming" value="#{msg.lbl_durationPasswordProgramming}" />							
							   <p:outputLabel id="durationPasswordProgramming" value="#{maintenanceActView.maintenanceSubstance.durationPasswordProgramming == true ? msg.btn_yes : msg.btn_no}"/>
							          
							   <p:row></p:row>
                 		       <p:row></p:row> 
					        
					        </p:panelGrid>
					       </div>
					      </div>
					     </div>
					             
					       <div class="Container100  Responsive100">
                              <div class="ContainerIndent " >
                                   <p:separator style="width:100%;" />
                              </div>
                           </div>  
                           
                        <div class="Card SoftBlue ui-fluid"  >
					     <div class="Container50  Responsive100">
				           <div class="ContainerIndent " >
						    <p:panelGrid id="substanceOne" columnClasses="ui-grid-col-8,ui-grid-col-4" columns="2" layout="grid" style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank">
					           
					           <p:outputLabel for="mudStorageVolume" value="#{msg.lbl_mudStorageVolume}" style="word-wrap:break-word;"/>							
							   <p:outputLabel id="mudStorageVolume" value="#{maintenanceActView.maintenanceSubstance.mudStorageVolume}"/>
							      
							   <p:outputLabel for="revival" value="#{msg.lbl_revival}" />							
							   <p:outputLabel id="revival" value="#{maintenanceActView.maintenanceSubstance.revival}"/>
							      
					        </p:panelGrid>
					       </div>
					     </div>
					     
					     <div class="Container50  Responsive100">
				          <div class="ContainerIndent " >
						    <p:panelGrid id="measurementsOne" columns="2" columnClasses="ui-grid-col-7,ui-grid-col-5" layout="grid" style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank">
					          
					           <p:outputLabel for="removableSubstances" value="#{msg.lbl_removableSubstances}" />							
							   <p:outputLabel id="removableSubstances" value="#{maintenanceActView.maintenanceSubstance.removableSubstances}" />
							  
							   <p:outputLabel for="buffer" value="#{msg.lbl_buffer}" />							
							   <p:outputLabel id="buffer" value="#{maintenanceActView.maintenanceSubstance.buffer}" />
							      
					        </p:panelGrid>
					       </div>
					     </div>
					       
					    </div>
					             
					           </p:tab>
			        </p:tabView>      
			     </h:form>
		       </div>
             </div>
           </div>
        </div>
     </div>
	   <div class="Container30 Responsive100">
		 <div class="ContainerIndent">
		   <div class="Card ShadowEffect HeiAutoOnMobile">
			 <h2 class="CardTopic"><i class="icon-info"></i>#{msg.hdr_info}</h2>
			  <div class="EmptyBox10"></div>
				<div class="SeparatorFull"></div>
                  <div class="EmptyBox10"></div>
					
						  <p:panelGrid columns="3" layout="grid" columnClasses="ui-grid-col-5,ui-grid-col-6,ui-grid-col-1" style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank" >
							<p:outputLabel for="createBy" value="#{msg.lbl_createdBy}: " />
							<p:outputLabel id="createBy" value="#{maintenanceActView.getUserFullName(maintenanceActView.maintenanceAct.createBy)}"	/>
                            <p:graphicImage  class ="Fright Fs30 circlesmallicon" value="/images/#{empty maintenanceActView.getUserImage(maintenanceActView.maintenanceAct.createBy) ? 'default.jpg' : maintenanceActView.getUserImage(maintenanceActView.maintenanceAct.createBy)}"/>

							        
							<p:outputLabel for="createTime" value="#{msg.lbl_createdOn}: " />
							<p:outputLabel id="createTime" value="#{maintenanceActView.maintenanceAct.createTime}">
							   <f:convertDateTime type="both"  timeZone="#{sessionScope['USER_IN_CONTEXT'].timeZone}" />
					        </p:outputLabel>
                            <div class="EmptyBox10"></div>
                            
                            <p:row></p:row><div class="EmptyBox10"></div><p:row></p:row>
                                    
							<p:outputLabel for="updateBy" value="#{msg.lbl_lastUpdatedBy}: " />
							<p:outputLabel id="updateBy" value="#{maintenanceActView.getUserFullName(maintenanceActView.maintenanceAct.updateBy)}"	/>
                            <p:graphicImage class ="Fright Fs30 circlesmallicon" rendered="#{maintenanceActView.maintenanceAct.updateBy ne null}" value="/images/#{empty maintenanceActView.getUserImage(maintenanceActView.maintenanceAct.updateBy) ? 'default.jpg' : maintenanceActView.getUserImage(maintenanceActView.maintenanceAct.updateBy)}"/>

							        
							<p:outputLabel for="updateTime" value="#{msg.lbl_lastUpdatedOn}: " />
							<p:outputLabel id="updateTime" value="#{maintenanceActView.maintenanceAct.updateTime}">
							   <f:convertDateTime type="both"  timeZone="#{sessionScope['USER_IN_CONTEXT'].timeZone}" />
					        </p:outputLabel>
                            <div class="EmptyBox10"></div>
							
							<p:row></p:row><div class="EmptyBox10"></div><p:row></p:row>
                                    
                            <p:outputLabel for="lockedBy" rendered="#{maintenanceActView.maintenanceAct.lockedBy ne null}" value="#{msg.lbl_lockedBy}: " />
							<p:outputLabel id="lockedBy" value="#{maintenanceActView.getUserFullName(maintenanceActView.maintenanceAct.lockedBy)}"	/>
						    <p:graphicImage class ="Fright Fs30 circlesmallicon" rendered="#{maintenanceActView.maintenanceAct.lockedBy ne null}" value="/images/#{empty maintenanceActView.getUserImage(maintenanceActView.maintenanceAct.lockedBy) ? 'default.jpg' : maintenanceActView.getUserImage(maintenanceActView.maintenanceAct.lockedBy)}"></p:graphicImage>
							
							<p:outputLabel for="lockedTime" rendered="#{maintenanceActView.maintenanceAct.lockedTime ne null}" value="#{msg.lbl_lockedTime}: " />
							<p:outputLabel id="lockedTime" value="#{maintenanceActView.maintenanceAct.lockedTime}"	>
							<f:convertDateTime type="both"  timeZone="#{sessionScope['USER_IN_CONTEXT'].timeZone}" />
							</p:outputLabel>
							<div class="EmptyBox10"></div>
							
							<p:row></p:row><div class="EmptyBox10"></div><p:row></p:row>
							<p:outputLabel for="unlockedBy" rendered="#{maintenanceActView.maintenanceAct.unlockedBy ne null}" value="#{msg.lbl_unlockedBy}: " />
							<p:outputLabel id="unlockedBy" value="#{maintenanceActView.getUserFullName(maintenanceActView.maintenanceAct.unlockedBy)}  "	/>
							<p:graphicImage class ="Fright Fs30 circlesmallicon" rendered="#{maintenanceActView.maintenanceAct.unlockedBy ne null}" value="/images/#{empty maintenanceActView.getUserImage(maintenanceActView.maintenanceAct.unlockedBy) ? 'default.jpg' : maintenanceActView.getUserImage(maintenanceActView.maintenanceAct.unlockedBy)}"></p:graphicImage>
	
							<p:outputLabel for="unlockedTime" rendered="#{maintenanceActView.maintenanceAct.unlockedTime ne null}" value="#{msg.lbl_unlockedTime}: " />
							<p:outputLabel id="unlockedTime" value="#{maintenanceActView.maintenanceAct.unlockedTime}"	>
							<f:convertDateTime type="both"  timeZone="#{sessionScope['USER_IN_CONTEXT'].timeZone}" />
							</p:outputLabel>
							 
						</p:panelGrid>
						 
				   </div>
			    </div>		
             </div>
         
    </ui:define>
 </ui:composition>
			                             