<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui">
<ui:define name="subheader">#{msg.hdr_administration}</ui:define>
<ui:define name="content">
 <f:event type="preRenderView" listener="#{userProfileView.preRenderView}" />
<f:metadata>
     <f:viewAction action="#{adminView.onLoadAction}" />
 </f:metadata>
 <div class="Container100">
  <div class="ContainerIndent">
   <div class="Card ShadowEffect">
    <div class="Container100  Responsive100">
     <div class="ContainerIndent"> 
        <div class="Container20  Responsive100">
		  <div class="ContainerIndent">
			<p:row></p:row>
			<div class="EmptyBox50"></div>
			<p:row></p:row>
			<h:form>
			  <ui:include src="/views/admin/include/adminInclude.xhtml" />
			</h:form>
		  </div>
		</div>
        <div class="Container80  Responsive100">
		  <div class="ContainerIndent">
			  <h1 class="TexAlCenter BigTopic">#{msg.tip_system_admin}</h1>
				         <h:form id="tabViewForm">
				            <p:messages id="messages" globalOnly="true" showDetail="true"
							  autoUpdate="true" closable="true" escape="false" />
											<p:commandButton value="#{msg.btn_save}" id="btnSave"
												icon="fa fa-save"
												actionListener="#{adminView.systemAdministration}"
												ajax="false" onclick=" PF('bui').show() ">
											</p:commandButton>
											<p:commandButton value="#{msg.btn_cancel}" id="btnCancel"
												icon="fa fa-close" action="#{adminView.cancelAction}"
												process="@this" />
					                     <p:tabView id="tabView" dynamic="true">
											<p:tab id="systemAdministration"
												title="#{msg.hdr_System_Administration}">
												<!-- <p:growl id="messages" showDetail="true" /> -->
												<div class="Card SoftBlue ui-fluid">
													<div class="Container100  Responsive100">
														<div class="ContainerIndent ">

															<p:panelGrid columnClasses="ui-grid-col-2,ui-grid-col-4,ui-grid-col-4,ui-grid-col-2"
																columns="4" layout="grid"
																style="border:0px !important;  background:none; "
																styleClass="ui-panelgrid-blank">

																<div class="EmptyBox10"></div>
																<p:outputLabel for="companyName"
																	value="#{msg.lbl_Company_Name}: " />
																<p:inputText id="companyName"
																	value="#{adminView.companyName}" required="true">
																	<f:validateLength minimum="5" />
																</p:inputText>
																<p:row></p:row>
																
																<p:spacer style="height:5%;" />
            				                                    <p:spacer style="height:5%;" />
                		                                        <p:spacer style="height:5%;" />
                		                                        <p:spacer style="height:5%;" />

																<div class="EmptyBox10"></div>
																<p:outputLabel for="version"
																	value="#{msg.lbl_Version}: " />
																<p:inputText id="version" value="#{adminView.version}"
																	required="true">
																	<f:validateLength minimum="5" />
																</p:inputText>
																<p:row></p:row>
																
																<p:spacer style="height:5%;" />
            				                                    <p:spacer style="height:5%;" />
                		                                        <p:spacer style="height:5%;" />
                		                                        <p:spacer style="height:5%;" />

																<div class="EmptyBox10"></div>
																<p:outputLabel for="locale" value="#{msg.lbl_locale}: " />
																<p:selectOneMenu id="locale"
																	value="#{adminView.defaultLocale}" style="width:150px">
																	<f:selectItems value="#{adminView.locales}" />
																</p:selectOneMenu>
																<p:row></p:row>
																
						
																<p:spacer style="height:5%;" />
            				                                    <p:spacer style="height:5%;" />
                		                                        <p:spacer style="height:5%;" />
                		                                        <p:spacer style="height:5%;" />
                		                                        
                		                                        
						                                       <p:row rendered="#{adminView.showSevdesk eq 'Yes'}" ></p:row>
                                                                <p:outputLabel for="sevdeskAuthentication"
																	value="#{msg.lbl_sevdeskAuthentication}:" rendered="#{adminView.showSevdesk eq 'Yes'}"/>
																<p:selectOneRadio id="sevdeskAuthentication"
																	value="#{adminView.sevdeskAuthentication}"  rendered="#{adminView.showSevdesk eq 'Yes'}">
																	<f:selectItem itemLabel="#{msg.lbl_yes}"
																		itemValue="Yes" />
																	<f:selectItem itemLabel="#{msg.lbl_no}"
																		itemValue="No" />
																</p:selectOneRadio>
                                                                <p:row rendered="#{adminView.showSevdesk eq 'Yes'}" ></p:row>
                                                                
																
																<p:spacer style="height:5%;" rendered="#{adminView.showSevdesk eq 'Yes'}"/>
            				                                    <p:spacer style="height:5%;" rendered="#{adminView.showSevdesk eq 'Yes'}"/>
                		                                        <p:spacer style="height:5%;" rendered="#{adminView.showSevdesk eq 'Yes'}"/>
                		                                        <p:spacer style="height:5%;" rendered="#{adminView.showSevdesk eq 'Yes'}"/>
                		                                        
                		                                        <p:row rendered="#{adminView.showIngeConfig eq 'Yes'}" ></p:row>
																<p:outputLabel for="ingeConfig"
																	value="#{msg.lbl_ingeConfiguration}: " rendered="#{adminView.showIngeConfig eq 'Yes'}" />
																<p:selectOneRadio id="ingeConfig"
																	value="#{adminView.ingeConfiguration}" rendered="#{adminView.showIngeConfig eq 'Yes'}" >
																	<f:selectItem itemLabel="#{msg.lbl_yes}"
																		itemValue="Yes" />
																	<f:selectItem itemLabel="#{msg.lbl_no}"
																		itemValue="No" />
																</p:selectOneRadio>
                                                               <p:row rendered="#{adminView.showIngeConfig eq 'Yes'}" ></p:row>
                                                                
																<p:spacer style="height:5%;" rendered="#{adminView.showIngeConfig eq 'Yes'}"/>
            				                                    <p:spacer style="height:5%;" rendered="#{adminView.showIngeConfig eq 'Yes'}"/>
                		                                        <p:spacer style="height:5%;" rendered="#{adminView.showIngeConfig eq 'Yes'}"/>
                		                                        <p:spacer style="height:5%;" rendered="#{adminView.showIngeConfig eq 'Yes'}"/>
									                            
									                           
																<div class="EmptyBox10"></div>
																<p:outputLabel for="authenticateUser"
																	value="#{msg.lbl_Second_Level_Auth_Type}: " />
																<p:selectOneRadio id="authenticateUser" required="true"
																	value="#{adminView.secondLevelAuth}" columns="1" layout="grid">
																	<f:selectItem itemLabel="#{msg.lbl_Email}"
																		itemValue="#{msg.lbl_Email}" />
																	<f:selectItem itemLabel="#{msg.lbl_SMS}"
																		itemValue="#{msg.lbl_SMS}" />
																	<f:selectItem itemLabel="#{msg.lbl_GoogleAuth}"
																		itemValue="#{msg.lbl_googleAuthentication}" /> 
																	<f:selectItem itemLabel="#{msg.lbl_Disable}"
																		itemValue="#{adminView.secondLevelAuthDisable}" />
																</p:selectOneRadio>
                                                                <p:row></p:row> 
                                                                
                                                                  
                                                                <p:spacer style="height:5%;" />
            				                                    <p:spacer style="height:5%;" />
                		                                        <p:spacer style="height:5%;" />
                		                                        <p:spacer style="height:5%;" />
                                                                
                                                                <div class="EmptyBox10"></div>
                                                                <p:outputLabel for="googleMapConfig"
																	value="#{msg.lbl_googleMapConfiguration}: " />
																<p:selectOneRadio id="googleMapConfig"
																	value="#{adminView.googleMapConfiguration}">
																	<f:selectItem itemLabel="#{msg.lbl_yes}"
																		itemValue="Yes" />
																	<f:selectItem itemLabel="#{msg.lbl_no}"
																		itemValue="No" />
																</p:selectOneRadio>
                                                                <p:row></p:row>
                                                                
                                                                <p:spacer style="height:5%;" />
            				                                    <p:spacer style="height:5%;" />
                		                                        <p:spacer style="height:5%;" />
                		                                        <p:spacer style="height:5%;" />
                                                                
                                                                
                                                                <div class="EmptyBox10"></div>
																<p:outputLabel for="ipAddressLog"
																	value="#{msg.lbl_ip_address_log}: " />
																<p:selectOneRadio id="ipAddressLog" required="true"
																	value="#{adminView.ipAddressLog}" columns="1" layout="grid">
																	<f:selectItem itemLabel="#{msg.ipAddressLog1}"
																		itemValue="1" />
																	<f:selectItem itemLabel="#{msg.ipAddressLog2}"
																		itemValue="2" />
																	<f:selectItem itemLabel="#{msg.ipAddressLog3}"
																		itemValue="3" />	
																</p:selectOneRadio>
                                                                <p:row></p:row>
                                                                
                                                                <p:spacer style="height:5%;" />
            				                                    <p:spacer style="height:5%;" />
                		                                        <p:spacer style="height:5%;" />
                		                                        <p:spacer style="height:5%;" />
                                                                
                                                                <div class="EmptyBox10"></div>
                                                                <p:outputLabel for="passwordChangeConfig"
																	value="#{msg.lbl_passwordChangeValid}: " />
																<p:selectOneRadio id="passwordChangeConfig"
																	value="#{adminView.passwordChangeValid}">
																	<f:selectItem itemLabel="#{msg.lbl_yes}"
																		itemValue="Yes" />
																	<f:selectItem itemLabel="#{msg.lbl_no}"
																		itemValue="No" />
																</p:selectOneRadio>
                                                                <p:row></p:row>
                                                                
                                                                <p:spacer style="height:5%;" />
            				                                    <p:spacer style="height:5%;" />
                		                                        <p:spacer style="height:5%;" />
                		                                        <p:spacer style="height:5%;" />
                                                                
                                                                <div class="EmptyBox10"></div>
                                                                <p:outputLabel for="pswdValidConfig"
																	value="#{msg.lbl_passwordValidation}: " />
																<p:selectOneRadio id="pswdValidConfig"
																	value="#{adminView.passwordValidation}">
																	<f:selectItem itemLabel="#{msg.lbl_yes}"
																		itemValue="Yes" />
																	<f:selectItem itemLabel="#{msg.lbl_no}"
																		itemValue="No" />
																</p:selectOneRadio>
                                                                <p:row></p:row>
																
															</p:panelGrid>
														</div>
													</div>
												</div>
											</p:tab>
											<p:tab id="fileUploads" title="#{msg.hdr_File_Uploads}">
                                              <div class="Card SoftBlue ui-fluid">
											    <div class="Container100  Responsive100">
												  <div class="ContainerIndent ">
												  <p:panelGrid id="appImagesPanel" columnClasses="ui-grid-col-2,ui-grid-col-4,ui-grid-col-4,ui-grid-col-2"
													columns="4" layout="grid"
													style="border:0px !important;  background:none; "
													styleClass="ui-panelgrid-blank">

													<div class="EmptyBox10"></div>
													<p:outputLabel for="companyLogo" value="#{msg.lbl_Company_Logo}" />
													<p:fileUpload id="companyLogo"
														value="#{adminView.companyLogo}" mode="advanced" fileUploadListener="#{adminView.handleFileUpload}"
														dragDropSupport="true"  auto="true" invalidFileMessage="#{msg.err_invalidFileFormat}" invalidSizeMessage="#{msg.lbl_invalidSizeMsg}"
														allowTypes="/(\.|\/)(jpe?g|png)$/" update="companyLogoImage">
														<f:attribute name="param" value="companyLogo" />
													</p:fileUpload>
													<h:graphicImage id="companyLogoImage" class="circlebigicon"  value="/images/#{adminView.getAdminConfMap().get('companyLogo')}" /> 

													<div class="EmptyBox10"></div>
													<p:outputLabel for="favIcon" value="#{msg.lbl_FavIcon}" />
													<p:fileUpload id="favIcon" value="#{adminView.favIcon}"
														mode="advanced" fileUploadListener="#{adminView.handleFileUpload}"
														dragDropSupport="true"  auto="true"
														invalidFileMessage="#{msg.err_invalidFileFormat}" invalidSizeMessage="#{msg.lbl_invalidSizeMsg}"
														allowTypes="/(\.|\/)(ico)$/" update="favIconImage">
														<f:attribute name="param" value="favIcon" />
													</p:fileUpload>
													<h:graphicImage id="favIconImage" class="circlebigicon"  value="/images/#{adminView.getAdminConfMap().get('favIcon')}" /> 

													<div class="EmptyBox10"></div>
													<p:outputLabel for="layoutLogo" value="#{msg.lbl_Layout_Logo}" />
														<p:fileUpload icon="fa fa-paperclip"  id="layoutLogo" 
															fileUploadListener="#{adminView.handleFileUpload}" value="#{adminView.layoutLogo}"
															multiple="false" mode="advanced" dragDropSupport="true" auto="true" 
															update="layoutLogoImage"  allowTypes="/(\.|\/)(jpg|jpeg|png|gif|bmp)$/"  >
																<f:attribute name="param" value="layoutLogo" />
														</p:fileUpload>
														
													<h:graphicImage id="layoutLogoImage" class="circlebigicon"  value="/images/#{adminView.getAdminConfMap().get('layoutLogo')}" /> 
													<div class="EmptyBox10"></div>
												</p:panelGrid>
												</div>
												</div>
												</div>
											</p:tab>
											<p:tab title="#{msg.hdr_User_SMS_Configuration}">
											  <div class="Card SoftBlue ui-fluid">
											   <div class="Container100  Responsive100">
												 <div class="ContainerIndent ">
												<p:panelGrid columnClasses="ui-grid-col-2,ui-grid-col-4"
													columns="3" layout="grid"
													style="border:0px !important;  background:none; "
													styleClass="ui-panelgrid-blank">

													<div class="EmptyBox10"></div>
													<p:outputLabel for="smsUname"
														value="#{msg.lbl_sms_userName}: " />
													<p:inputText id="smsUname" value="#{adminView.smsUserName}" />

													<div class="EmptyBox10"></div>
													<p:outputLabel for="smsPword"
														value="#{msg.lbl_sms_password}: " />
													<p:inputText id="smsPword" value="#{adminView.smsPassword}" />
												</p:panelGrid>
											 </div>
										   </div>
										</div>
									</p:tab>

									<p:tab title="#{msg.tab_googleMap}" rendered="#{adminView.googleMapConfiguration eq 'Yes'}">
											  <div class="Card SoftBlue ui-fluid">
											   <div class="Container100  Responsive100">
												 <div class="ContainerIndent ">
												<p:panelGrid columnClasses="ui-grid-col-2,ui-grid-col-3,ui-grid-col-7"
													columns="3" layout="grid"
													style="border:0px !important;  background:none; "
													styleClass="ui-panelgrid-blank">

													<div class="EmptyBox10"></div>
													<p:outputLabel for="apiKey"
														value="#{msg.lbl_apiKey}: " />
													<p:inputText id="apiKey" value="#{adminView.googleApiKey}" />

													
												</p:panelGrid>
											 </div>
										   </div>
										</div>
									</p:tab>
									
									<p:tab title="#{msg.hdr_QC_Survey}" rendered="#{adminView.showSurveyUrl eq 'Y'}" >
											  <div class="Card SoftBlue ui-fluid">
											   <div class="Container100  Responsive100">
												 <div class="ContainerIndent ">
												 
												<p:panelGrid columnClasses="ui-grid-col-2,ui-grid-col-4"
													columns="3" layout="grid"
													style="border:0px !important;  background:none; "
													styleClass="ui-panelgrid-blank"  >

													<div class="EmptyBox10"></div>
													<p:outputLabel for="qcSurveyURL"
														value="#{msg.lbl_qcSurveyURL}: " />
													<p:inputText id="qcSurveyURL" value="#{adminView.qcSurveyURL}" />
													
												</p:panelGrid>
											 </div>
										   </div>
										</div>
									</p:tab>
									<p:tab title="#{msg.hdr_Sevdesk_API_Credentials}" rendered="#{adminView.sevdeskAuthentication eq 'Yes' and adminView.showSevdesk eq 'Yes'}" >
											  <div class="Card SoftBlue ui-fluid">
											   <div class="Container100  Responsive100">
												 <div class="ContainerIndent ">
												<p:panelGrid columnClasses="ui-grid-col-2,ui-grid-col-4"
													columns="3" layout="grid"
													style="border:0px !important;  background:none; "
													styleClass="ui-panelgrid-blank">

													<div class="EmptyBox10"></div>
													<p:outputLabel for="sevdeskUname"
														value="#{msg.lbl_sevdesk_userName}: " />
													<p:inputText id="sevdeskUname" value="#{adminView.sevdeskUserName}" />

													<div class="EmptyBox10"></div>
													<p:outputLabel for="sevdeskAPIToken"
														value="#{msg.lbl_sevdesk_API_Token}: " />
													<p:inputText id="sevdeskAPIToken" value="#{adminView.sevdeskApiToken}" />
												</p:panelGrid>
											 </div>
										   </div>
										</div>
									</p:tab>
					            </p:tabView>					
						    </h:form>
						 </div>
				     </div>
                  </div>
               </div>
             </div>
          </div>
       </div>
	</ui:define>
</ui:composition>