<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui">
	<ui:define name="subheader">
        #{msg.hdr_Mail}
    </ui:define>
	<ui:define name="content">
	 <div class="Container100">
    <div class="ContainerIndent">
    <div class="Card ShadowEffect">
    <div class="Container100  Responsive100">
    <div class="ContainerIndent">
     	 <div class="Container20  Responsive60">
    	 <div class="ContainerIndent">
			<h:form>
				<ui:include src="/views/mail/head.xhtml" />
			</h:form>
		 </div>
	 	 </div>
	 		 <f:metadata>
					 <f:viewAction action="#{groupMailView.onLoadAction}" />
					 <!-- <f:viewAction action="#{mailView.onLoadAction}" /> -->			 
			 </f:metadata>
					 <h:form id="form">
					 
					 <p:messages id="messages" globalOnly="true" showDetail="true"
						autoUpdate="true" closable="true" escape="false" />
						
					 <p:commandButton value="#{msg.btn_edit}" id="btnEdit" icon="fa fa-pencil" process="@this"
						action="#{groupMailView.editAction(groupMailView.groupMail.identifier)}" />
						
					 <p:commandButton value="#{msg.btn_cancel}" id="btnCancel" actionListener="#{groupMailView.cancelViewAction}" 
						icon="fa fa-close" process="@this"/> 
						
					 <div class="Container80 Responsive100">
					 <p:tabView> 
					 <p:tab title="#{msg.lbl_mail_groupMail}">
					 
					   <div class="Card SoftBlue ui-fluid">
		                <div class="Container100  Responsive100">
		                 <div class="ContainerIndent " >
								<p:panelGrid columns="3" layout="grid" 
								   style="border:0px !important; background:none;" columnClasses="ui-grid-col-1,ui-grid-col-2,ui-grid-col-9">
										   <p:row></p:row>
						    			   <p:outputLabel for="listOfUser1" value="#{msg.lbl_mail_groupName}"/>
										   <p:outputLabel id="listOfUser1" value="#{groupMailView.groupMail.groupName}"/>
									        
									       <p:spacer style="height:5%;" />
						                   <p:spacer style="height:5%;" />
						                   <p:spacer style="height:5%;" />
									        
										   <p:row></p:row>
										   <p:outputLabel for="listOfUser" value="#{msg.lbl_mail_listOfUser}" />
										   <p:outputLabel id="listOfUser"  value="#{groupMailView.groupMail.listOfUser}" /> 
										    
										
							     </p:panelGrid>
							   </div>
							 </div>
						   </div>
					 </p:tab>
					 </p:tabView>
					 </div>
				     </h:form>
					 </div>
					</div>
					</div>
			</div>
	</div>
	
	</ui:define>
</ui:composition>