<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:pm="http://primefaces.org/modena"
	xmlns:p="http://primefaces.org/ui">
	<ui:define name="subheader">
        #{msg.hdr_Mail}
    </ui:define>
	<ui:define name="content">
		 <!-- <f:event type="preRenderView"
			listener="#{groupMailView.preRenderView}" /> --> 
		<f:metadata>
			<f:viewAction action="#{groupMailView.onLoadAction}" />
			<f:viewAction action="#{mailView.onLoadAction}" />
		</f:metadata>
		<p:messages id="messages" globalOnly="true" showDetail="true"
			 	     autoUpdate="true" closable="true" escape="false" />
		<div class="Container100">
           <div class="ContainerIndent">
              <div class="Card ShadowEffect">
<h:form id="groupUser" >
    <div class="Container80  Responsive100">
	   <div class="ContainerIndent">		 
	   <div class="ui-widget ui-widget-header ui-corner-all ui-helper-clearfix">
	   <div class="ui-toolbar-group-left">
	  
	           <p:commandButton value="#{msg.btn_save}" id="btnSave" icon="fa fa-save" 
				   actionListener="#{groupMailView.saveAction}" ajax="false" onclick=" PF('bui').show() "/>
	           
			    <p:commandButton  value="#{msg.btn_cancel}" id="btnCancel" icon="fa fa-close" 
				   action="#{groupMailView.cancelAction}" process="@this"/>
			
	   </div>
	   </div>
	   
   <p:tabView>
       
       <p:tab title="#{msg.lbl_mail_groupMail}">
	     <p:panelGrid columns="2" layout="grid" 
			style="border:0px !important; background:none;" columnClasses="ui-grid-col-2,ui-grid-col-10">
							
			       <p:outputLabel for="groupName" value="#{msg.lbl_mail_groupName}"/>
				   <p:inputText id="groupName"  value="#{groupMailView.groupMail.groupName}" />
					  
				   <p:outputLabel for="listOfUser" value="#{msg.lbl_mail_listOfUser}" />
				   <p:autoComplete id="listOfUser" forceSelection="true"  var="users1"
					  value="#{groupMailView.selectedUsers}" multiple="true"
					  itemLabel="#{users1}" itemValue="#{users1}" 
					  completeMethod="#{groupMailView.completeUser}" style="width:50% !important"> 
                   </p:autoComplete>
				   
		</p:panelGrid>
	</p:tab>
   </p:tabView>
   </div>
   </div>
    
   </h:form>
   
   </div>
   </div>
   </div>
   </ui:define>
   </ui:composition>