<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jstl/core">
	<ui:define name="subheader">
        #{msg.hdr_Mail}
    </ui:define>
	<ui:define name="content">
	<div class="Container100">
    <div class="ContainerIndent">
    <div class="Card ShadowEffect">
    <div class="Container100  Responsive100">
    <div class="ContainerIndent">
     	 <div class="Container20  Responsive60">
    	 <div class="ContainerIndent">
    	 	<h:form>
				<ui:include src="/views/mail/head.xhtml" />
			</h:form>
		 </div>
	 	 </div>
	 	 <div class="Container80  Responsive100">
	 	 <!--  <f:event type="preRenderView" listener="#{groupMailView.preRenderView}" /> -->
                    <f:metadata>
					<f:viewAction action="#{groupMailView.onLoadAction}" />
					<!-- <f:viewAction action="#{mailView.onLoadAction}" /> -->
					</f:metadata>
					<h:form id="GroupAdd">
					<p:messages id="messages" globalOnly="true" showDetail="true" autoUpdate="true" closable="true" escape="false"/>
					<div class="ui-widget ui-widget-header ui-corner-all ui-helper-clearfix">
							<div class="ui-toolbar-group-left">
					           <p:commandButton id="submit" value="#{msg.btn_save}" icon="fa fa-save" actionListener="#{groupMailView.saveAction}" process="@form" update="@form">
						       <p:resetInput target="@form" />
					           </p:commandButton>
					           <p:commandButton process="@this" value="#{msg.btn_cancel}" actionListener="#{groupMailView.cancelEditAction}" icon="fa fa-close" />
            		        </div>
            		</div>            		  
					
	    <p:tabView>
		  <p:tab title="#{msg.lbl_mail_groupMail}">
					
			<div class="Card SoftBlue ui-fluid">
                <div class="Container100  Responsive100">
                 <div class="ContainerIndent " >
						
					<p:panelGrid id="panelId" columns="4" layout="grid" columnClasses="ui-grid-col-1,ui-grid-col-2,ui-grid-col-5,ui-grid-col-4" 
			             styleClass="ui-panelgrid-blank">
			                      
			               <p:row></p:row>
			               <p:outputLabel for="listOfUser1" value="#{msg.lbl_mail_groupName}"  />
						   <p:inputText id="listOfUser1" placeholder="#{msg.lbl_mail_groupName}" required = "true"
			                  value="#{groupMailView.groupMail.groupName}"/>
			               <p:row></p:row>
			               
			               <p:spacer style="height:5%;" />
						   <p:spacer style="height:5%;" />
			               <p:spacer style="height:5%;" />  
			               <p:spacer style="height:5%;" />
								  
						   <p:row></p:row>
						   <p:outputLabel for="listOfUser" value="#{msg.lbl_mail_listOfUser}" />
						   <p:autoComplete id="listOfUser" forceSelection="true"  var="users" required = "true"
							  value="#{groupMailView.selectedUsers}" multiple="true"
							  itemLabel="#{users}" itemValue="#{users}"
							  completeMethod="#{groupMailView.completeUser}"> 
			               </p:autoComplete>
			               <p:row></p:row>
			         </p:panelGrid>
			       </div>
			     </div>
			   </div>
			</p:tab>
		</p:tabView>
		</h:form>
		</div>
		</div>
		</div>
	 </div>
	</div>
	</div>
</ui:define>
</ui:composition>