<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui">
	<ui:define name="subheader">
        #{msg.hdr_Mail}
    </ui:define>
	<ui:define name="content">
	<div class="Container100">
    <div class="ContainerIndent">
    <div class="Card ShadowEffect">
    <div class="Container100  Responsive100">
    <div class="ContainerIndent">
    <div class="Container20  Responsive60">
    <div class="ContainerIndent">
    	 	<h:form>
				<ui:include src="/views/mail/head.xhtml" />
			</h:form>
	</div>
	</div> 
	<div class="Container80  Responsive100">
	<div class="ContainerIndent">
	 		<f:metadata>
			<f:viewAction action="#{groupMailView.onLoadAction}" />
			<!-- <f:viewAction action="#{mailView.onLoadAction}" /> -->
		    </f:metadata>
	   	             <p:messages id="messages" globalOnly="true" showDetail="true" autoUpdate="true" closable="true" escape="false" />
						
		<h:form id="GroupUser">			
	   	              <p:commandButton value="#{msg.btn_add}" id="btnAdd" icon="fa fa-plus" action="#{groupMailView.addAction()}"/> 
	  
	  <div class="ui-toolbar-group-right">
	  <p:commandButton  icon="fa fa-trash" 
	     actionListener="#{groupMailView.deleteAction}" title="#{msg.lbl_mail_deleteGroup}" 
	     oncomplete="PF('listTableGroupWidgetVar1').clearFilters()" >
			        <p:confirm header="#{msg.confirmation}" message="#{msg.delete_sure}" icon="ui-icon-alert" />
	  </p:commandButton>
	  <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
      <p:commandButton value="#{msg.btn_yes}" type="button" styleClass="ui-confirmdialog-yes " 
         icon="ui-icon-check fa fa-check Fs14 White" />
      <p:commandButton value="#{msg.btn_no}" type="button" styleClass="ui-confirmdialog-no " 
         icon="ui-icon-close fa fa-close Fs14 White" />
      </p:confirmDialog>
      </div>
	   	              	 	
	   	              	 	<p:tabView> 
								<p:tab title="#{msg.lbl_mail_groupMail}">
									
			   <p:dataTable id="listTableGroup" 
			           var="groupMail" selection="#{groupMailView.selectedGroupMail}" value="#{groupMailView.groupUserList}" 
                       rowsPerPageTemplate="#{sessionScope['USER_IN_CONTEXT'].actualDisplayRowsSize}"
				       rows="#{sessionScope['USER_IN_CONTEXT'].displayRowsSize}"
				       currentPageReportTemplate="#{msg.lbl_showing} {startRecord}-{endRecord} #{msg.lbl_outOf} {totalRecords}"
				       rowKey="#{groupMail.id}" emptyMessage="#{msg.table_empty_msg}" 	widgetVar="listTableGroupWidgetVar1" 
				       paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				       paginator="true"  paginatorPosition="bottom" 	rowIndexVar="rowIndex" 
				       filteredValue="#{groupMailView.filteredMailList}" reflow="true"  tableStyle="table-layout: auto;">
		            
			        <f:facet name="header">
		              <div style="height: 50px;">
			            <table id="filter" style="margin-top: -15px;">
					      <tr>
						      <td align="left">
							      <p:inputText id="globalFilter" 
							         onkeyup="PF('listTableGroupWidgetVar1').filter()"
							         placeholder="#{msg.lbl_search}" style="width:75%"/>
						      </td>
						      
						      <td align="right">
        					    <p:commandButton id="toggler" type="button" class="GrayButton"
							      icon="fa fa-calculator" title="#{msg.btn_columns}"/>
						         <p:ajax event="page" oncomplete="updateToggles(PF('columnToggler'))" />
						         <p:columnToggler widgetVar="columnToggler" datasource="listTableGroup" trigger="toggler" style="width:100%">
                                <p:ajax event="toggle" listener="#{groupMailView.onToggle}" />
                                </p:columnToggler>
		        			   </td>
						      
					     </tr>
			           </table>
			         </div>
		           </f:facet>
		           
					<p:column selectionMode="multiple" headerText="#{msg.lbl_select}" visible="#{groupMailView.togglerList[0]}"
				      value="#{mail.checked}" style="width:54px;" class="TexAlCenter text-top">
			        </p:column>
					
					<p:column class="text-top" headerText="#{msg.lbl_mail_groupName}" sortBy="#{groupMail.groupName}" 
				       filterMatchMode="contains" filterBy="#{groupMail.groupName}" visible="#{groupMailView.togglerList[1]}" >  
                    <p:commandLink id="myGroupViewDialog1" class="MarRight10" value="#{groupMail.groupName}" 
				         action="#{groupMailView.viewAction(groupMail.identifier)}" process="@this"/> 
				    </p:column>
                     
				     <p:column class="text-top" headerText="#{msg.lbl_mail_listOfUser}" sortBy="#{groupMail.listOfUser}" 
				        filterMatchMode="contains" filterBy="#{groupMail.listOfUser}" visible="#{groupMailView.togglerList[2]}">
				     <h:outputText value="#{groupMail.listOfUser}" />
				     </p:column>

                 </p:dataTable>	
								</p:tab>
							</p:tabView>
							</h:form>
						
			</div>
          	</div>
          	</div>
          	</div>
          	</div>
       </div>
       </div>
       
	</ui:define>
</ui:composition>