<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui">
   <f:event type="preRenderView" listener="#{mailReceiverView.preRenderView}" />
    <!-- <f:metadata>
			<f:viewAction action="#{mailReceiverView.onLoadAction}" />
	</f:metadata> --> 
    <script type="text/javascript"> 
	$( document ).ready(function() {
		var path = (window.location.pathname);
		if(path.indexOf("loadInbox") >= 0){
			/* $("[id*='inbox']").css('background-color','rgb(187, 199, 206)'); */
			$("[id*='inbox']").css('fontWeight','bold');
			$("[id*='inbox1']").css('fontWeight','bold');
		}else if(path.indexOf("loadOutbox") >= 0){
			/* $("[id*='outbox']").css('background-color','rgb(187, 199, 206)'); */
			$("[id*='outbox']").css('fontWeight','bold');
		}else if(path.indexOf("loadPost") >= 0){
			/* $("[id*='post']").css('background-color','rgb(187, 199, 206)'); */
			$("[id*='post']").css('fontWeight','bold');
		}else if(path.indexOf("loadTrash") >= 0){
			/* $("[id*='post']").css('background-color','rgb(187, 199, 206)'); */
			$("[id*='trash']").css('fontWeight','bold');
		}else {
			/* $("[id*='group']").css('background-color','rgb(187, 199, 206)'); */
			$("[id*='group']").css('fontWeight','bold');
		}
	  });
	</script>
    <h:body>
    <div class="EmptyBox50"></div>
    <div class="Container100  Responsive100">  
   		<p:menu id="mail" style="width: 80%">
        <p:submenu label="#{msg.hdr_Mail}" id="mailItems">
            <p:menuitem id="post" url="/common/process/admin/loadPostMail.html" value="#{msg.lbl_mail_Poston} " icon="fa fa-plus"/> 
            <p:menuitem id="inbox" url="/common/process/admin/loadInboxMail.html" value="#{msg.lbl_mail_Inbox}" icon="fa fa-inbox" rendered="#{sessionScope['MAIL_INBOX_COUNT'] eq 0}" />
            <p:menuitem id="inbox1" url="/common/process/admin/loadInboxMail.html" value="#{msg.lbl_mail_Inbox} (#{sessionScope['MAIL_INBOX_COUNT']})" rendered="#{sessionScope['MAIL_INBOX_COUNT'] ne 0}"/>
            <p:menuitem id="outbox" url="/common/process/admin/loadOutboxMail.html" value="#{msg.lbl_mail_Outbox}" icon="fa fa-envelope"/>
            <p:menuitem id="trash" url="/common/process/admin/loadTrash.html" value="#{msg.lbl_mail_trash}" icon="fa fa-trash" style="margin-bottom:20px"/> 
            <p:menuitem id="group" url="/common/process/admin/loadGroupMail.html" value="#{msg.lbl_mail_groupMail}" icon="fa fa-users" />
		</p:submenu>
		
		 
		</p:menu>
		 
	</div>
	</h:body>
	
</html>