<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui">
	<ui:define name="subheader">
        #{msg.hdr_Mail}
    </ui:define>
	<ui:define name="content">
	<div class="Container100">
    <div class="ContainerIndent">
    <div class="Card ShadowEffect">
    <div class="Container100  Responsive100">
    <div class="ContainerIndent">
    <div class="Container20  Responsive60">
    <div class="ContainerIndent">
			<h:form>
				<ui:include src="/views/mail/head.xhtml" />
			</h:form>
		 </div>
	 	 </div>
	 	 <div class="Container80 Responsive100">
	 		 <f:metadata>
					 <f:viewAction action="#{mailReceiverView.onLoadAction}" />
			 </f:metadata>
					 <h:form id="form">
					 
					 <p:messages id="messages" globalOnly="true" showDetail="true"
						closable="true" escape="false" />
						<div class="ui-widget ui-widget-header ui-corner-all ui-helper-clearfix">
					     <div class="ui-toolbar-group-left"> 
						   <p:commandButton styleClass="btn" value="#{msg.lbl_mail_reply}" id="mailreply" icon="fa fa-mail-reply" 
						   	  process="@this" oncomplete="PF('myMailReplyDialog').show();" action="#{mailReceiverView.replyViewMail}" update="dialogFormMail:panelDialogMail"/>
						   
						   <p:commandButton styleClass="btn" value="#{msg.lbl_mail_replyAll}" id="mailreplyall" icon="fa fa-mail-reply-all" rendered="#{mailReceiverView.receiverList.size() > 1 }"
							   process="@this" oncomplete="PF('myMailReplyAllDialog').show();" action="#{mailReceiverView.replyAllViewMail}" update="dialogReplyAllMail:panelRelpyAllMail"/>
						   
						   <p:commandButton styleClass="btn" value="#{msg.lbl_mail_forward}" id="mailforward" icon="fa fa-mail-forward" 
							  process="@this" oncomplete="PF('myMailforwardDialog1').show();" action="#{mailReceiverView.forwardViewMail}" update="dialogForwardMail:panelDialogForwardMail"/> 
						   
						   <p:commandButton  value="#{msg.btn_cancel}" id="btnCancel"  icon="fa fa-close"
							   action="#{mailReceiverView.receiverCancelAction}" process="@this" />
			            </div>
			   
			  
						<div class="ui-toolbar-group-right">
						
							
	                        <p:commandButton  icon="fa fa-trash" 
	                            actionListener="#{mailReceiverView.deleteReceiverViewedMail(mailReceiverView.mail.id)}" title="#{msg.lbl_mail_deleteInbox}" 
	                            oncomplete="PF('myMailReplyDialog').clearFilters()" >
			               
			                <p:confirm header="#{msg.confirmation}" message="#{msg.delete_sure}" icon="ui-icon-alert" />
	                        </p:commandButton>
	                        <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
	                            <p:commandButton value="#{msg.btn_yes}" type="button" styleClass="ui-confirmdialog-yes " 
	                                  icon="ui-icon-check fa fa-check Fs14 White" />
	                            <p:commandButton value="#{msg.btn_no}" type="button" styleClass="ui-confirmdialog-no " 
	                                     icon="ui-icon-close fa fa-close Fs14 White" />
                           </p:confirmDialog>
					  </div>
					 </div>
					 <p:tabView> 
					 <p:tab title="#{msg.lbl_mail_Inbox}">
					 
	<div class="Card SoftBlue ui-fluid">
           <div class="Container100  Responsive100">
                <div class="ContainerIndent " >					 
					<p:panelGrid columns="3" layout="grid" 
					   style="border:0px !important; background:none;" columnClasses="ui-grid-col-1,ui-grid-col-2,ui-grid-col-9">
						   	 
						   
						   <p:row></p:row>
						   <h:outputText for="sender" value="#{msg.lbl_mail_Transmitter}" style="font-weight:bold"/>
						   <h:outputText id="sender"  value="#{mailReceiverView.getUserFullName(mailReceiverView.mail.sender)}" /> 
							
							
						   <p:spacer style="height:5%;" />
			               <p:spacer style="height:5%;" />  
			               <p:spacer style="height:5%;" /> 
			               
			               <p:row></p:row>
						   <h:outputText for="receiver" value="#{msg.lbl_mail_Receiver}" style="font-weight:bold"/>
						   <h:outputText id="receiver" value="#{mailReceiverView.mail.receiver}" />
					
					       <p:spacer style="height:5%;" />
			               <p:spacer style="height:5%;" />  
			               <p:spacer style="height:5%;" />
						 
						 
						   <p:row></p:row>
						   <h:outputText for="postedOn" value="#{msg.lbl_mail_PostonDate}"  style="font-weight:bold"/>
						   <h:outputText id="postedOn"	value="#{mailReceiverView.mail.createTime}"  >
						   <f:convertDateTime type="both" />
						   </h:outputText>
						   
						   <p:spacer style="height:5%;" />
			               <p:spacer style="height:5%;" />  
			               <p:spacer style="height:5%;" />
							                				                				  
						   <p:row></p:row>
						   <h:outputText for="subject" value="#{msg.lbl_mail_Subject}" style="font-weight:bold"/>
						   <h:outputText id="subject" value="#{mailReceiverView.mail.subject}"  />
						   
						   <p:spacer style="height:5%;" rendered="#{mailReceiverView.mail.attachmentList.size() ne 0 }"/>
			               <p:spacer style="height:5%;" rendered="#{mailReceiverView.mail.attachmentList.size() ne 0 }"/>  
			               <p:spacer style="height:5%;" rendered="#{mailReceiverView.mail.attachmentList.size() ne 0 }"/>
						   
							
							<p:row rendered="#{mailReceiverView.mail.attachmentList.size() ne 0 }"></p:row>
							<h:outputText for="attachment" value="#{msg.lbl_mail_attachment}" rendered="#{mailReceiverView.mail.attachmentList.size() ne 0 }" style="font-weight:bold"/>
							<p:dataList id="attachment" value="#{mailReceiverView.mail.attachmentList}" var="files" 
								 emptyMessage="#{msg.empty_file_upload}" type="unordered" styleClass="ui-datalist-data" rendered="#{mailReceiverView.mail.attachmentList.size() ne 0 }">
									<p:commandLink id="openView" class="MarRight10"  value="#{files}"  ajax="false" 
									   action="#{mailReceiverView.downloadFile(files)}" /> 
							</p:dataList>		
						  
							<p:spacer style="height:5%;" />
			                <p:spacer style="height:5%;" />  
			                <p:spacer style="height:5%;" />
						
							<p:row></p:row>                          
						   <h:outputText for="content" value="#{msg.lbl_mail_Content}" style="font-weight:bold"/>
						   <h:outputText id="content" value="#{mailReceiverView.mail.text}" escape="false" style="word-wrap:break-word;" />
						       
							
				     </p:panelGrid>
				</div>
			</div>
		</div>     			   	   
					
					
					 </p:tab>
					 </p:tabView>
					 
					 
					 
				     </h:form>
				     
				    
				     
				     
				     </div>
				     
<p:dialog id="createReplyMail" stickyHeader="true"  appendBody="false" header="#{msg.lbl_mail_reply}"
   widgetVar="myMailReplyDialog" class="GrayModena Geometry"  aria-hidden="false" aria-live="polite"
   style="width: auto !important; max-height:150% !important; max-width: 100%;
   height: auto !important; z-index: 1005" resizable="false" responsive="true" modal="true" focus="dialogFormMail:content" >
<p:ajax event="close" update="dialogFormMail:panelDialogMail"/> 
<ui:include src="/views/mail/reply.xhtml" />
</p:dialog>
        		
<p:dialog id="createReplyAllMail" stickyHeader="true"  appendBody="false" header="#{msg.lbl_mail_replyAll}"
   widgetVar="myMailReplyAllDialog" class="GrayModena Geometry"  aria-hidden="false" aria-live="polite"
   style="width: auto !important; max-height:150% !important; max-width: 100%;
   height: auto !important; z-index: 1005" resizable="false" responsive="true" modal="true"  >
   <p:ajax event="close" update="dialogReplyAllMail:panelRelpyAllMail"/> 
   <ui:include src="/views/mail/replyAll.xhtml" />
</p:dialog> 
        		
<p:dialog id="createForwardMail" stickyHeader="true"  appendBody="false" header="#{msg.lbl_mail_forward}"
   widgetVar="myMailforwardDialog1" class="GrayModena Geometry"  aria-hidden="false" aria-live="polite"
   style="width: auto !important; max-height:150% !important; max-width: 100%;
   height: auto !important; z-index: 1005" resizable="false" responsive="true" modal="true"  >
   <p:ajax event="close" update="dialogForwardMail:panelDialogForwardMail"/>
   <ui:include src="/views/mail/forward.xhtml" />
</p:dialog> 
				     
					 </div>
					</div>
					</div>
			</div>
	</div>
		
	</ui:define>
</ui:composition>