<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui">
	<ui:define name="subheader">
        #{msg.hdr_Mail}
    </ui:define>
	<ui:define name="content">
	<div class="Container100">
    <div class="ContainerIndent">
    <div class="Card ShadowEffect">
    <div class="Container100  Responsive100">
    <div class="ContainerIndent">
    <div class="Container20  Responsive60">
    <div class="ContainerIndent">
			<h:form>
				<ui:include src="/views/mail/head.xhtml" />
			</h:form>
		 </div>
	 	 </div>
	 	 <div class="Container80 Responsive100">
	 		 <f:metadata>
					 <f:viewAction action="#{mailSenderView.onLoadAction}" />
			 </f:metadata>
					 <h:form id="form1">
					 
					 <p:messages id="messages" globalOnly="true" showDetail="true"
						autoUpdate="true" closable="true" escape="false" />
					 <div class="ui-widget ui-widget-header ui-corner-all ui-helper-clearfix">
					 <div class="ui-toolbar-group-left"> 
					 
					 <p:commandButton  value="#{msg.btn_cancel}" id="btnCancel" icon="fa fa-close" 
				        action="#{mailSenderView.senderCancelAction}" process="@this" ajax="false" />
					 
					 </div>
					 <div class="ui-toolbar-group-right">
			           <p:commandButton id="delete" icon="fa fa-trash-o" process="@form" 
			              action="#{mailSenderView.deleteSenderViewedMail(mailSenderView.mail.id)}"
						  title="#{msg.lbl_mail_deleteOutbox}">
						 <p:confirm header="#{msg.confirmation}" message="#{msg.delete_sure}" icon="ui-icon-alert" />
					   </p:commandButton>
					   <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
			            <p:commandButton value="#{msg.btn_yes}" type="button" styleClass="ui-confirmdialog-yes "
			               icon="ui-icon-check fa fa-check Fs14 White" />
			            <p:commandButton value="#{msg.btn_no}" type="button" styleClass="ui-confirmdialog-no "
			               icon="ui-icon-close fa fa-close Fs14 White" />
			           </p:confirmDialog>
         			 </div>
					 </div>
					 
	<p:tabView> 
	  <p:tab title="#{msg.lbl_mail_Outbox}">
	<div class="Card SoftBlue ui-fluid">
                		       <div class="Container100  Responsive100">
                		          <div class="ContainerIndent " >	
		
		
		<p:panelGrid columns="4" layout="grid" 
		   style="border:0px !important; background:none;" columnClasses="ui-grid-col-1,ui-grid-col-2,ui-grid-col-8,ui-grid-col-1">
			   <p:row></p:row>
			   <h:outputText for="receiver" value="#{msg.lbl_mail_Receiver}" style="font-weight:bold"/>
			   <p:dataList value="#{mailSenderView.filteredMailReceiverList}" var="mailReceiver" type="definition" styleClass="ui-datalist-data" >
               <h:outputText id="receiver" value="#{mailReceiver.receiver}" style="word-wrap:break-word;" styleClass="#{mailReceiver.receiverReadTime ne null ? 'outputTextGreenShape' : 'outputTextRedShape'}"/>
               <p:tooltip id="toolTipTrack" for="receiver" value="#{msg.lbl_readOn} #{mailSenderView.getReceiverReadTime(mailReceiver.receiverReadTime)}" rendered="#{mailReceiver.receiverReadTime ne null}" trackMouse="true" style="color : black; background-color : white"/>
               <div class="EmptyBox20"></div>
               </p:dataList>
				                        				                
		</p:panelGrid>	 
		<p:panelGrid columns="3" layout="grid" 
		   style="border:0px !important; background:none;" columnClasses="ui-grid-col-1,ui-grid-col-2,ui-grid-col-9">	 
			 
			   
			   <p:spacer style="height:5%;" />
               <p:spacer style="height:5%;" />  
               <p:spacer style="height:5%;" />
			   
			   <p:row></p:row>
			   <h:outputText for="postedOn" value="#{msg.lbl_mail_PostonDate}" style="font-weight:bold" />
			   <h:outputText id="postedOn"	value="#{mailSenderView.mail.createTime}"  >
			   <f:convertDateTime type="both" />
			   </h:outputText>
			   
			   <p:spacer style="height:5%;" rendered="#{mailSenderView.mail.attachmentList.size() ne 0 }"/>
               <p:spacer style="height:5%;" rendered="#{mailSenderView.mail.attachmentList.size() ne 0 }"/>  
               <p:spacer style="height:5%;" rendered="#{mailSenderView.mail.attachmentList.size() ne 0 }"/>
		   
			
			   <p:row rendered="#{mailSenderView.mail.attachmentList.size() ne 0 }"></p:row>
			   <h:outputText for="attachment" value="#{msg.lbl_mail_attachment}" rendered="#{mailSenderView.mail.attachmentList.size() ne 0 }" style="font-weight:bold"/>
			   <p:dataList id="attachment" value="#{mailSenderView.mail.attachmentList}" var="files" 
				  emptyMessage="#{msg.empty_file_upload}" type="unordered" styleClass="ui-datalist-data" rendered="#{mailSenderView.mail.attachmentList.size() ne 0 }">
					<p:commandLink id="openView" class="MarRight10"  value="#{files}"  ajax="false" 
					   action="#{mailSenderView.downloadFile(files)}" /> 
			   </p:dataList>
				
			   <p:spacer style="height:5%;" />
               <p:spacer style="height:5%;" />  
               <p:spacer style="height:5%;" />                				                				  
			  
			   <p:row></p:row>
			   <h:outputText for="subject" value="#{msg.lbl_mail_Subject}" style="font-weight:bold"/>
			   <h:outputText id="subject" value="#{mailSenderView.mail.subject}"  />
			   
			   <p:spacer style="height:5%;" />
               <p:spacer style="height:5%;" />  
               <p:spacer style="height:5%;" />
				                          
			   <p:row></p:row>
			   <h:outputText for="content" value="#{msg.lbl_mail_Content}" style="font-weight:bold"/>
			   <h:outputText id="content" value="#{mailSenderView.mail.text}" escape="false" style="word-wrap:break-word;" />
				
	     </p:panelGrid>
	     
	     
	    </div>
	   </div>
	  </div>
	     			   	   
					 </p:tab>
					 </p:tabView>
					 			   
			   
				
					 
				     </h:form>
				     </div>
					 </div>
					</div>
					</div>
			</div>
	</div>
	
	</ui:define>
</ui:composition>