<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui">
	<ui:define name="subheader">
        #{msg.hdr_Mail}
    </ui:define>
	<ui:define name="content">
	<div class="Container100">
    <div class="ContainerIndent">
    <div class="Card ShadowEffect">
    <div class="Container100  Responsive100">
    <div class="ContainerIndent">
    <div class="Container20  Responsive60">
    <div class="ContainerIndent">
    	 	<h:form>
				<ui:include src="/views/mail/head.xhtml" />
			</h:form>
	</div>
	</div> 
	<div class="Container80  Responsive100">
	<div class="ContainerIndent">
	 		
		    <f:metadata>
			<f:viewAction action="#{mailSenderView.onLoadAction}" />
			</f:metadata>
	   	             <p:messages id="messages" globalOnly="true" showDetail="true" autoUpdate="true" closable="true" escape="false" />
	   	             	<h:form id="Outbox">
							<div class="ui-widget ui-widget-header ui-corner-all ui-helper-clearfix">
							<div class="ui-toolbar-group-right">
	                              <p:commandButton  icon="fa fa-trash" 
	                                  actionListener="#{mailSenderView.senderDeleteAction}" title="#{msg.lbl_mail_deleteOutbox}" 
	                                  oncomplete="PF('listTableOutboxWidgetVar1').clearFilters()" >
			                      <p:confirm header="#{msg.confirmation}" message="#{msg.delete_sure}" icon="ui-icon-alert" />
	                              </p:commandButton>
	                              <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                                  <p:commandButton value="#{msg.btn_yes}" type="button" styleClass="ui-confirmdialog-yes " 
                                     icon="ui-icon-check fa fa-check Fs14 White" />
                                  <p:commandButton value="#{msg.btn_no}" type="button" styleClass="ui-confirmdialog-no " 
                                     icon="ui-icon-close fa fa-close Fs14 White" />
                                  </p:confirmDialog>
                           </div>
                           </div>
	  	
							<p:tabView>
							 	<p:tab title="#{msg.lbl_mail_Outbox}">
			  <p:dataTable id="listTableOutbox" 
			           var="mail" selection="#{mailSenderView.selectedMail}" value="#{mailSenderView.mailSenderList}" 
                       rowsPerPageTemplate="#{sessionScope['USER_IN_CONTEXT'].actualDisplayRowsSize}"
				       rows="#{sessionScope['USER_IN_CONTEXT'].displayRowsSize}"
				       currentPageReportTemplate="#{msg.lbl_showing} {startRecord}-{endRecord} #{msg.lbl_outOf} {totalRecords}"
				       rowKey="#{mail.id}" emptyMessage="#{msg.table_empty_msg}" 	widgetVar="listTableOutboxWidgetVar1" 
				       paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				       paginator="true"  paginatorPosition="bottom"	rowIndexVar="rowIndex" 
				       filteredValue="#{mailSenderView.filteredMailList}" reflow="true" tableStyle="table-layout: auto;">
				<!-- <p:ajax event="rowToggle" listener="#{mailSenderView.onRowToggle(mail.identifier)}"
									 update="listTableOutbox" /> -->	       
		           <f:facet name="header">
		              <div style="height: 50px;">
			             <table id="filter" style="margin-top: -15px;">
					       <tr>
						        <td align="left">
							    <p:inputText id="globalFilter"
							       onkeyup="PF('listTableOutboxWidgetVar1').filter()"
							       placeholder="#{msg.lbl_search}" style="width:75%"/>
						        </td>
						        
						        <td align="right">
        					    <p:commandButton id="toggler" type="button" class="GrayButton"
							      icon="fa fa-calculator" title="#{msg.btn_columns}"/>
						        <p:ajax event="page" oncomplete="updateToggles(PF('columnToggler'))" />
						        <p:columnToggler widgetVar="columnToggler" datasource="listTableOutbox" trigger="toggler" style="width:100%">
                                <p:ajax event="toggle" listener="#{mailSenderView.onToggle}" />
                                </p:columnToggler>
		        			    </td>
             			   </tr>
			             </table>
			          </div>
		            </f:facet>
			
			    <p:column selectionMode="multiple" headerText="#{msg.lbl_select}" visible="#{mailSenderView.togglerList[0]}"
				      value="#{mail.checked}" style="width:54px;" class="TexAlCenter text-top">
			    </p:column>
			    
			    <!--  <p:column headerText="#{msg.lbl_recieverReadTimeView}" style="width:30px">
                        <p:rowToggler />
                 </p:column> -->
			    
			    <p:column headerText="#{msg.lbl_mail_Receiver}" sortBy="#{mail.receiver}" 
			        filterMatchMode="contains" filterBy="#{mail.receiver}" visible="#{mailSenderView.togglerList[1]}">
				<p:commandLink id="OutboxMailDialog" class="MarRight10"  value="#{mail.receiver}" 
				      action="#{mailSenderView.senderViewAction(mail.id)}" /> 
				</p:column>
				 
				<p:column class="text-top" headerText="#{msg.lbl_mail_Subject}" sortBy="#{mail.subject}"
				   filterMatchMode="contains" filterBy="#{mail.subject}" visible="#{mailSenderView.togglerList[2]}">
				<h:outputText value="#{mail.subject}"/>
				</p:column>

				<p:column class="text-top" headerText="#{msg.lbl_mail_PostonDate}" sortBy="#{mail.createTime}" 
				   filterMatchMode="contains" filterBy="#{mailSenderView.getCriteriaDateFormat(mail.createTime)}" visible="#{mailSenderView.togglerList[3]}">
				<h:outputText value="#{mail.createTime}">
				<f:convertDateTime type="both" />
				</h:outputText>
				</p:column> 
				<!-- <p:rowExpansion >
				 <p:commandLink id="identifier1" class="MarRight10" onclick="PF('bui').show()"  
			     action="#{mailSenderView.senderViewAction(mail.id)}" ajax="false">
                   <p:panelGrid  columns="1" style="width:50% !important"> 
                   <p:dataList value="#{mailSenderView.filteredMailReceiverList}" var="mailReceiver" type="definition" styleClass="ui-datalist-data" >
                   <h:outputText id="receiver" value="#{mailReceiver.receiver}" style="word-wrap:break-word;" styleClass="#{mailReceiver.receiverReadTime ne null ? 'outputTextGreenShape' : 'outputTextRedShape'}"/>
                   <p:tooltip id="toolTipTrack" for="receiver" value="#{msg.lbl_readOn} #{mailSenderView.getReceiverReadTime(mailReceiver.receiverReadTime)}" trackMouse="true" style="color : black; background-color : white"/>
                   <div class="EmptyBox20"></div>
                   </p:dataList>
			 	
			 
         		 </p:panelGrid> 
                 </p:commandLink>
                </p:rowExpansion> -->
         
			    </p:dataTable>
			    </p:tab>
			</p:tabView>
		</h:form>
			</div>
          	</div>
          	</div>
          	</div>
       </div>
       </div>
       </div>
      
	</ui:define>
</ui:composition>