<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui">
	<ui:define name="subheader">
        #{msg.hdr_Mail}
    </ui:define>
	<ui:define name="content">
	    
	<div class="Container100   ">
	    <div class="ContainerIndent">
        <div class="Card ShadowEffect">
        <div class="Container20  Responsive100">
        <div class="ContainerIndent">
    
    
    	 	<h:form>
				<ui:include src="/views/mail/head.xhtml" />
			</h:form>
	</div>
	</div> 
	
	<div class="Container80 Responsive100 ">
	    <div class="ContainerIndent">
	 		<f:metadata>
			   <f:viewAction action="#{mailSenderView.onLoadAction}" />
			</f:metadata>
		         <p:messages id="messages" globalOnly="true" showDetail="true" autoUpdate="true" closable="true" escape="false" />
	
		             <h:form id="dialogFormPost1" enctype="multipart/form-data">
	                       <p:panel id="panelDialogPost1">
	   
	                <div class="ui-widget ui-widget-header ui-corner-all ui-helper-clearfix">
			          <div class="ui-toolbar-group-left">
			 
			 	         <p:commandButton value="#{msg.lbl_mail_submit}" id="btnSave" icon="fa fa-send" 
				            actionListener="#{mailSenderView.saveAction}" ajax="false" onclick=" PF('bui').show() " />
				         <p:commandButton  value="#{msg.btn_cancel}" id="btnCancel"  icon="fa fa-close"
				            action="#{mailSenderView.cancelAction}" process="@this" /> 
			    
			           </div>
			          
			          <div class="ui-toolbar-group-right">
			          
			          <p:commandButton onclick="PF('fileUpload').show()" icon="fa fa-paperclip" immediate="true" title="#{msg.lbl_mail_attachment}"/>
			           
			          </div> 
		            </div>
	
	
	<div class="Card ShadowEffect ui-fluid">
	 <div class="Container100  Responsive100">
        <div class="ContainerIndent " >
        
         <p:panelGrid id="panelId1" columns="3"  layout="grid"  
            styleClass="ui-panelgrid-blank" columnClasses="ui-grid-col-2,ui-grid-col-4,ui-grid-col-6">
                      
             <p:outputLabel for="receiver" value="#{msg.lbl_mail_Receiver}"  />
			 <p:autoComplete id="receiver" required="true" forceSelection="true"  var="users"
				value="#{mailSenderView.selectedUsers}" multiple="true"
				itemLabel="#{users}" itemValue="#{users}"
				completeMethod="#{mailSenderView.completeUser}" styleClass="myStyle"> 
             </p:autoComplete>
             <p:row></p:row>
             
             <p:spacer style="height:5%;" />
			 <p:spacer style="height:5%;" />
			 <p:spacer style="height:5%;" />  
             </p:panelGrid>
             
             
             
           <p:panelGrid id="sub" columns="3"  layout="grid"  
            styleClass="ui-panelgrid-blank" columnClasses="ui-grid-col-2,ui-grid-col-6,ui-grid-col-4">                           
             <p:outputLabel for="subject" value="#{msg.lbl_mail_Subject}" />
             <p:inputText id="subject" placeholder="#{msg.lbl_mail_Subject}" 
                value="#{mailSenderView.mail.subject}" required="true" />
              <p:row></p:row>   
              
             <p:spacer style="height:5%;" />
			 <p:spacer style="height:5%;" />
			 <p:spacer style="height:5%;" /> 
                
                </p:panelGrid>
                
                <p:row></p:row><div class="EmptyBox10"></div><p:row></p:row>
              
            <p:panelGrid id="panelId2" columns="2"  layout="grid"  
            styleClass="ui-panelgrid-blank" columnClasses="ui-grid-col-2,ui-grid-col-10">   
               
                
              <p:outputLabel for="file" value="#{msg.lbl_uploadedFiles}" />  
            <p:dataList id="file" value="#{mailSenderView.uploadedFiles}" var="files" 
			   emptyMessage="#{msg.empty_file_upload}" type="unordered" styleClass="ui-datalist-data">
			<p:commandLink id="openView" class="MarRight10"  value="#{files}" style="margin-bottom:10px"  ajax="false" 
						action="#{mailSenderView.downloadFile(files)}" immediate="true"/> 		
            <p:commandLink action="#{mailSenderView.deleteFile(files)}" update="@parent" immediate="true">
			<icon class="fa fa-close"/>
			<p:confirm header="#{msg.confirmation}" message="#{msg.delete_upload_file}" icon="ui-icon-alert" />
			</p:commandLink>
			<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
            <p:commandButton value="#{msg.btn_yes}" type="button" styleClass="ui-confirmdialog-yes "
               icon="ui-icon-check fa fa-check Fs14 White" />
            <p:commandButton value="#{msg.btn_no}" type="button" styleClass="ui-confirmdialog-no "
               icon="ui-icon-close fa fa-close Fs14 White" />
            </p:confirmDialog>
            </p:dataList>   
            
            </p:panelGrid>
            
            <p:row></p:row><div class="EmptyBox10"></div><p:row></p:row>   
			
			 
            
            <p:panelGrid id="panelId3" columns="2"  layout="grid"  
            styleClass="ui-panelgrid-blank" columnClasses="ui-grid-col-2,ui-grid-col-10">  
            
            <p:spacer style="height:5%;" />
			<p:spacer style="height:5%;" /> 
            
            <p:outputLabel value="#{msg.lbl_mail_Switch}" />
             <p:selectBooleanCheckbox id="checkboxId" value="#{mailSenderView.mail.checked}" style="margin-bottom:10px;">
               <p:ajax event="change" update="panelId" />
             </p:selectBooleanCheckbox>
             
             
            
             </p:panelGrid>
                
         <p:panelGrid id="panelId5" columns="2" layout="grid"  
            styleClass="ui-panelgrid-blank">
               
            <p:row></p:row>
            <p:row></p:row>
             
        </p:panelGrid>
         <p:row></p:row><div class="EmptyBox10"></div><p:row></p:row>
           <p:panelGrid id="panelId" columns="4" layout="grid"  
            styleClass="ui-panelgrid-blank" columnClasses="ui-grid-col-2,ui-grid-col-4">
            
            
            <p:outputLabel for="calendar" rendered="#{mailSenderView.mail.checked}" 
                 value="#{msg.lbl_mail_expiryDate}" />
            <p:calendar id="calendar" locale="#{layoutMenu.user.language}"
               rendered="#{mailSenderView.mail.checked}" value="#{mailSenderView.mail.expiryDate}" 
               converter="dateConverter" pattern="#{CommonConstants.APP_DATE_FORMAT}" mask="true"
               widgetVar="dobWidget" mindate="Today"  />
           </p:panelGrid>
          
         
				
		<div class="Container100 Responsive100">
			<div class="ContainerIndent">
          <p:panelGrid>
          
            <pe:ckEditor height="400" width="100%" language="#{sessionScope['USER_IN_CONTEXT'].language}"
              		value="#{mailSenderView.mail.text}" toolbar="[['Styles','Bold','Italic','Underline','TextColor','BGColor','Strike','BulletedList','NumberedList','Cut','Copy','Paste','Undo','Redo','Link', 'Unlink']]">  
   			</pe:ckEditor>
          
          </p:panelGrid>
          
          
          <p:dialog header="#{msg.lbl_mail_attachment}" widgetVar="fileUpload" closable="true"  responsive="true">
                  <p:panelGrid id="profilePic" columns="1" layout="grid" style="border:0px !important;  background:none;align:center" 	styleClass="ui-panelgrid-blank; ">
                       <p:fileUpload id="docUpload"  fileUploadListener="#{mailSenderView.fileUploadListener}" value="#{mailSenderView.file}" label="#{msg.lbl_mailChoose}"
					      multiple="true" mode="advanced" dragDropSupport="true" auto="true" sizeLimit="1000000" update="panelId2" oncomplete="PF('fileUpload').hide()"/>
                     			
									
				  </p:panelGrid>
								
			</p:dialog>
          
          
          </div>
          </div>
          
        </div>
   	 </div>
   </div>   	
       
  
   </p:panel>
     </h:form>
			
			</div>
          	</div>
          	</div>
          	</div>
       </div>
      
      
	</ui:define>
</ui:composition>