<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui">

 <f:metadata>
			<f:viewAction action="#{mailReceiverView.onLoadAction}" />
 </f:metadata>
	
  <h:form id="dialogReplyAllMail" enctype="multipart/form-data">
	<p:panel id="panelRelpyAllMail">
	  <p:messages id="messages" globalOnly="true" showDetail="true"
					autoUpdate="true" closable="true" escape="false" />
	
          <p:commandButton value="#{msg.lbl_mail_submit}" id="btnSave" icon="fa fa-save" 
			actionListener="#{mailReceiverView.saveAction}" oncomplete="if (!args.validationFailed) PF('bui').show();" update="dialogReplyAllMail:panelRelpyAllMail" />
				   
          <p:commandButton value="#{msg.btn_cancel}" id="btnCancel" icon="fa fa-close"
			 action="#{mailReceiverView.cancelAction}" process="@this" />
			 
			 <div class="ui-toolbar-group-right">
			    <p:commandButton onclick="PF('fileUpload').show()" icon="fa fa-paperclip" immediate="true" title="#{msg.lbl_mail_attachment}"/>
			  </div> 
   
	<div class="Card ShadowEffect ui-fluid" style="overflow:auto !important;width:700px;Height:400px;" >
	  <div class="Card SoftBlue ui-fluid"  >
	    <div class="Container100  Responsive100">
          <div class="ContainerIndent " >
				 	
		   <p:panelGrid id="replyAllPnl" columns="3" layout="grid"  styleClass="ui-panelgrid-blank"
		       columnClasses="ui-grid-col-3,ui-grid-col-8,ui-grid-col-1">
		 
			 	<h:outputText for="sender" value="#{msg.lbl_mail_Transmitter}" style="font-weight:bold"/>
				<p:outputLabel id="sender"  value="#{mailReceiverView.mail.sender}" />
				<p:row></p:row> 
				
				<p:spacer style="height:5%;" />
                <p:spacer style="height:5%;" />  
                <p:spacer style="height:5%;" />
				 
				<h:outputText for="receiver" value="#{msg.lbl_mail_Receiver}" style="font-weight:bold"/>                        				                
				<p:autoComplete id="receiver" forceSelection="true"  var="users"
				   value="#{mailReceiverView.selectedUsers}" multiple="true"
				   itemLabel="#{users}" itemValue="#{users}" required="true"
				   completeMethod="#{mailReceiverView.completeUser}" > 
                </p:autoComplete>
                <p:row></p:row> 
                
                <p:spacer style="height:5%;" />
                <p:spacer style="height:5%;" />  
                <p:spacer style="height:5%;" />
				      
			    <h:outputText for="postedOn" value="#{msg.lbl_mail_PostonDate}"  style="font-weight:bold"/>
			    <p:calendar id="postedOn" locale="#{layoutMenu.user.language}"
                 value="#{mailReceiverView.mail.expiryDate}" 
                 converter="dateConverter" pattern="#{CommonConstants.APP_DATE_FORMAT}" mask="true"
            	 widgetVar="dobWidget" mindate="Today"  />
				<p:row></p:row> 
				
				<p:spacer style="height:5%;" />
                <p:spacer style="height:5%;" />  
                <p:spacer style="height:5%;" />
				     
				<h:outputText for="subject" value="#{msg.lbl_mail_Subject}" style="font-weight:bold"/>
				<p:inputText id="subject" value="#{mailReceiverView.mail.subject}"  />
				<p:row></p:row> 
			
			    <p:spacer style="height:5%;" />
                <p:spacer style="height:5%;" />  
                <p:spacer style="height:5%;" />
				      
		   </p:panelGrid>
		   
		   <p:panelGrid id="filePnl" columns="3" layout="grid"  
            styleClass="ui-panelgrid-blank" columnClasses="ui-grid-col-3,ui-grid-col-8,ui-grid-col-1">
               
                      
            <h:outputText for="file" value="#{msg.lbl_uploadedFiles}" style="font-weight:bold"/>  
            <p:dataList id="file" value="#{mailReceiverView.uploadedFiles}" var="files" 
			   emptyMessage="#{msg.empty_file_upload}" type="unordered" styleClass="ui-datalist-data">
				<p:commandLink id="openView" class="MarRight10"  value="#{files}" style="margin-bottom:10px"  ajax="false" 
						action="#{mailReceiverView.downloadFile(files)}" immediate="true"/> 	
            <p:commandLink action="#{mailReceiverView.deleteFile(files)}" update="@parent" immediate="true">
			<icon class="fa fa-close"/>
			<p:confirm header="#{msg.confirmation}" message="#{msg.delete_upload_file}" icon="ui-icon-alert" />
			</p:commandLink>
			<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
            <p:commandButton value="#{msg.btn_yes}" type="button" styleClass="ui-confirmdialog-yes "
               icon="ui-icon-check fa fa-check Fs14 White" />
            <p:commandButton value="#{msg.btn_no}" type="button" styleClass="ui-confirmdialog-no "
               icon="ui-icon-close fa fa-close Fs14 White" />
            </p:confirmDialog>
            </p:dataList>
            <p:row></p:row> 
                      
        </p:panelGrid>
		   
		   <div class="Container100 Responsive100">
						<div class="ContainerIndent">
          <p:panelGrid>
          
          <pe:ckEditor height="400" width="100%" language="#{sessionScope['USER_IN_CONTEXT'].language}"
               		value="#{mailReceiverView.mail.text}" toolbar="[['Styles','Bold','Italic','Underline','TextColor','BGColor','Strike','BulletedList','NumberedList','Cut','Copy','Paste','Undo','Redo','Link', 'Unlink']]">  
    			</pe:ckEditor>
          
          </p:panelGrid>
          
           <p:dialog header="#{msg.lbl_mail_attachment}" widgetVar="fileUpload" closable="true"  responsive="true">
                  <p:panelGrid id="profilePic" columns="1" layout="grid" style="border:0px !important;  background:none;align:center" 	styleClass="ui-panelgrid-blank; ">
                       <p:fileUpload id="docUpload1"  fileUploadListener="#{mailReceiverView.fileUploadListener}" value="#{mailReceiverView.file}" label="#{msg.lbl_mailChoose}"
					      multiple="true" mode="advanced" dragDropSupport="true" auto="true" update="filePnl" oncomplete="PF('fileUpload').hide()"/>
                     			
									
				  </p:panelGrid>
								
			</p:dialog>
          
          
          </div>
          </div>
		   
		 </div>
	    </div>
   	</div>
   	</div>
   </p:panel>
   <p:blockUI block="dialogReplyAllMail" widgetVar="bui">#{msg.lbl_loading}<br /> 
       			<p:graphicImage  value="/images/ajax-loader.gif"/>
    		</p:blockUI>
  </h:form>
	 <script type="text/javascript">
    function handleRequest(xhr, status, args) {
        if(args.validationFailed || !args.loggedIn) {
            PF('myMailReplyAllDialog').jq.effect("shake", {times:5}, 100);
        }
        else {
            PF('myMailReplyAllDialog').hide();
            
        }
    }
</script>		
    		
</html>