<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui">
	<ui:define name="subheader">
        #{msg.hdr_Trash}
    </ui:define>
	<ui:define name="content">
	
	<div class="Container100">
    <div class="ContainerIndent">
    <div class="Card ShadowEffect">
    <div class="Container100  Responsive100">
    <div class="ContainerIndent">
    <div class="Container20  Responsive60">
    
    <div class="ContainerIndent">
    	 	<h:form>
				<ui:include src="/views/mail/head.xhtml" />
			</h:form>
	</div>
	</div> 
	<div class="Container80  Responsive100">
	<div class="ContainerIndent">
	 		<f:metadata>
			<f:viewAction action="#{mailReceiverView.onLoadAction}" />
			</f:metadata>
	<p:messages id="messages" globalOnly="true" showDetail="true" autoUpdate="true" closable="true" escape="false" />
		    
		             <h:form id="Inbox">
							<div class="ui-widget ui-widget-header ui-corner-all ui-helper-clearfix">
							<div class="ui-toolbar-group-right">
						
							
	                              <p:commandButton  icon="fa fa-trash" 
	                                  actionListener="#{mailReceiverView.deleteTrashMail}" title="#{msg.lbl_mail_deleteTrash}" 
	                                  oncomplete="PF('listTableTrashWidgetVar1').clearFilters()" >
			                      <p:confirm header="#{msg.confirmation}" message="#{msg.delete_sure}" icon="ui-icon-alert" />
	                              </p:commandButton>
	                              <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                                  <p:commandButton value="#{msg.btn_yes}" type="button" styleClass="ui-confirmdialog-yes " 
                                     icon="ui-icon-check fa fa-check Fs14 White" />
                                  <p:commandButton value="#{msg.btn_no}" type="button" styleClass="ui-confirmdialog-no " 
                                     icon="ui-icon-close fa fa-close Fs14 White" />
                                  </p:confirmDialog>
                           </div>
                           </div>
							
							<p:tabView> 
								<p:tab title="#{msg.lbl_mail_Trash}">
									
			  <p:dataTable id="listTableTrash" 
			    var="mail" selection="#{mailReceiverView.selectedMail}" value="#{mailReceiverView.deletedMailList}"  
                rowsPerPageTemplate="#{sessionScope['USER_IN_CONTEXT'].actualDisplayRowsSize}"
				rows="#{sessionScope['USER_IN_CONTEXT'].displayRowsSize}" 
				currentPageReportTemplate="#{msg.lbl_showing} {startRecord}-{endRecord} #{msg.lbl_outOf} {totalRecords}"
				rowKey="#{mail.id}" emptyMessage="#{msg.table_empty_msg}" 	widgetVar="listTableTrashWidgetVar1" 
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				paginator="true"  paginatorPosition="bottom" 	rowIndexVar="rowIndex" 
				filteredValue="#{mailReceiverView.filteredMailList}" reflow="true"  tableStyle="table-layout: auto;">
								  
				<f:facet name="header">
		              <div style="height: 50px;">
			             <table id="filter" style="margin-top: -15px;">
					       <tr>
						        <td align="left">
							    <p:inputText id="globalFilter"
							       onkeyup="PF('listTableTrashWidgetVar1').filter()"
							       placeholder="#{msg.lbl_search}" style="width:75%"/>
						        </td>
						        
						       <td align="right">
        					   <p:commandButton id="toggler" type="button" class="GrayButton"
							      icon="fa fa-calculator" title="#{msg.btn_columns}"/>
						       <p:ajax event="page" oncomplete="updateToggles(PF('columnToggler'))" />
						       <p:columnToggler widgetVar="columnToggler" datasource="listTableTrash" trigger="toggler" style="width:100%">
                               <p:ajax event="toggle" listener="#{mailReceiverView.onToggle}" />
                               </p:columnToggler>
		        			   </td>
             			   </tr>
			             </table>
			          </div>
		           </f:facet>
				  
				   
				   <p:column selectionMode="multiple" headerText="#{msg.lbl_select}" visible="#{mailReceiverView.togglerList[0]}"
				      value="#{mail.checked}" style="width:54px;" class="TexAlCenter text-top"/>
			       
			       <p:column class="text-top" headerText="#{msg.lbl_mail_Transmitter}" sortBy="#{mail.sender}" 
                      filterMatchMode="contains" filterBy="#{mailReceiverView.getUserFullName(mail.sender)}" visible="#{mailReceiverView.togglerList[1]}">
				      <p:commandLink id="InboxViewMail" class="MarRight10"  
				      action="#{mailReceiverView.trashViewAction(mail.id)}" value="#{mailReceiverView.getUserFullName(mail.sender)}"/>
				   </p:column>
			       
				   <p:column class="text-top" headerText="#{msg.lbl_mail_Subject}" sortBy="#{mail.subject}" 
				       filterMatchMode="contains" filterBy="#{mail.subject}" visible="#{mailReceiverView.togglerList[2]}">
				   <h:outputText value="#{mail.subject}"/>
				   </p:column>

				   <p:column class="text-top" headerText="#{msg.lbl_mail_PostonDate}" sortBy="#{mail.createTime}"
				      filterMatchMode="contains" filterBy="#{mailReceiverView.getCriteriaDateFormat(mail.createTime)}" visible="#{mailReceiverView.togglerList[3]}">
				   <h:outputText value="#{mail.createTime}" >
				   <f:convertDateTime type="both" /> 
				   </h:outputText>
				   </p:column> 
				   
				    <p:column visible="#{mailReceiverView.togglerList[4]}">
                      <f:facet name="header" >
                        <i class="icon-attach_file"></i> 
                      </f:facet>
                      <p:panelGrid rendered="#{mail.attachment ne null}" styleClass="ui-panelgrid-blank" style="width:10px"> 
                      <span class="icon-attach_file" />
                      <h:outputText rendered="#{mail.attachment ne null}" >
                      
                       
                      </h:outputText>    
                      
                     </p:panelGrid>             
                   </p:column>
				   
				</p:dataTable>	
								</p:tab>
							</p:tabView>
						</h:form>
						
						
						
			</div>
          	</div>
          	</div>
          	</div>
       </div>
       </div>
       </div>
      
	</ui:define>
</ui:composition>