<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui">
	<ui:define name="subheader">
       #{msg.hdr_administration}
    </ui:define>
	<ui:define name="content">
	<div class="Container100">
    <div class="ContainerIndent">
    <div class="Card ShadowEffect">
    <div class="Container100  Responsive100">
    <div class="ContainerIndent">
     	 <div class="Container20  Responsive20">
    	 <div class="ContainerIndent">
    	 <p:row></p:row><div class="EmptyBox50"></div><p:row></p:row>  	
			<h:form>
				<ui:include src="/views/admin/include/adminInclude.xhtml" />
			</h:form>
		 </div>
	 	 </div>
	 	 <div class="Container80 Responsive80">
	 	 <div class="ContainerIndent">
		 <h2 class="TexAlCenter BigTopic">#{msg.hdr_User_Management}</h2>
		 <f:event type="preRenderView" listener="#{userManagementAddUpdate.preRenderView}" />
		 <f:metadata>
			<f:viewAction action="#{userManagementAddUpdate.onLoadAction}" />
		 </f:metadata>
		 <h:form id="userManagement">
            <p:commandButton process="@form" value="#{msg.btn_save}" actionListener="#{userManagementAddUpdate.createUpdateUser}" rendered="#{empty userManagementAddUpdate.id}" icon="fa fa-save" update="@form" />
            <p:commandButton process="@form" value="#{msg.btn_update}" actionListener="#{userManagementAddUpdate.createUpdateUser}" rendered="#{not empty userManagementAddUpdate.id}" icon="fa fa-save" update="@form"/>
            <p:commandButton process="@this" value="#{msg.btn_cancel}" actionListener="#{userManagementAddUpdate.cancelAction}" icon="fa fa-close" />
                
            <p:messages id="messages" globalOnly="true" showDetail="true" autoUpdate="true" closable="true" escape="false" />
			<p:tabView id="userAdmin"> 
				<p:tab title="#{msg.hdr_userManagement}">
				<div class="Card SoftBlue ui-fluid">
                		<div class="Container50  Responsive100">
                		<div class="ContainerIndent " >
            	          <p:panelGrid id="userManagement" columns="2" layout="grid" styleClass="ui-panelgrid-blank">

						      <p:outputLabel for="userId" value="#{msg.lbl_User_Id} " />
						      <p:inputText id="userId" value="#{userManagementAddUpdate.user.userId}"  required="true"
						             disabled="#{not empty userManagementAddUpdate.id}" requiredMessage="#{msg.err_userId}">
						      <p:ajax event="blur" update="userAdmin:userId" />
							  <f:validateLength minimum="2" />
						      </p:inputText>
						
						      <p:outputLabel for="lastName" value="#{msg.lbl_Last_Name} " />
						      <p:inputText id="lastName" value="#{userManagementAddUpdate.user.lastName}"  required="true" requiredMessage="#{msg.err_lastName}">
							  <f:validateLength minimum="2" />
						      </p:inputText>
						
						      <!-- <p:outputLabel value="#{msg.reset_password} " rendered="#{not empty userManagementAddUpdate.id}"/>
						      <p:selectBooleanCheckbox value="#{userManagementAddUpdate.resetPass}" rendered="#{not empty userManagementAddUpdate.id}"/> -->
					
					      	  <p:outputLabel for="phoneNumber" value="#{msg.lbl_userPhno}"/>
            		          <p:inputText id="phoneNumber" value="#{userManagementAddUpdate.user.phoneNumber}"   >
            			      <pe:keyFilter regEx="/[\d]/" />
            			      </p:inputText>
            			      
            			      <p:outputLabel for="role" value="#{msg.lbl_Role} " /> 
            				  <p:selectOneMenu id="role" value="#{userManagementAddUpdate.user.roleId}" required="true">
							    	<f:selectItem itemLabel="#{msg.lbl_select}" itemValue="" noSelectionOption="true"/>
			                      	<f:selectItems value="#{userManagementAddUpdate.roleList}" var="roles" itemLabel="#{roles.roleName}" itemValue="#{roles.roleId}"/>
			                  </p:selectOneMenu>  
            			
							</p:panelGrid>
						</div>
						</div>
						 
						<div class="Container50  Responsive100">
                		<div class="ContainerIndent " >
            	          <p:panelGrid id="userManagement1" columns="2" layout="grid" styleClass="ui-panelgrid-blank">
						
						      <p:outputLabel for="firstName" value="#{msg.lbl_First_Name} " />
						      <p:inputText id="firstName" value="#{userManagementAddUpdate.user.firstName}"  required="true" requiredMessage="#{msg.err_firstName}">
							  <f:validateLength minimum="2" />
						      </p:inputText>
						
						      <!-- <p:outputLabel value="#{msg.disable_user}" rendered="#{not empty userManagementAddUpdate.id}"/>
						      <p:selectBooleanCheckbox value="#{userManagementAddUpdate.user.disable}" rendered="#{not empty userManagementAddUpdate.id}"/> -->
						
						      <p:outputLabel for="eMail" value="#{msg.lbl_Email}" />
						      <p:inputText id="eMail" value="#{userManagementAddUpdate.user.email}"  required="true" validatorMessage="#{msg.err_emailValid}" >
							  <f:validateRegex pattern="(.+@.+\.[a-zA-Z]+)?"/>
						      </p:inputText>
						      
						      <div class="EmptyBox10" />
						      <p:message for="eMail" />						
							
							
						      <p:outputLabel for="photo" value="#{msg.lbl_uploadPicture}"></p:outputLabel>
                 		      <p:commandLink id="photo" onclick="PF('userfotoUpload').show()" immediate="true">	
                 		      <p:graphicImage class="circlebigicon" cache="false" value= "/images/#{userManagementAddUpdate.getDefaultImage(userManagementAddUpdate.user.userImage) ne null ? 'default.jpg' : userManagementAddUpdate.user.userImage}"/>
               			      </p:commandLink>
               			      
               			      
               			      <p:dialog header="#{msg.lbl_uploadPicture}" widgetVar="userfotoUpload" closable="true"  responsive="true">
        						<p:panelGrid id="profilePic" columns="2" layout="grid" style="border:0px !important; background:none;align:center" 
        							styleClass="ui-panelgrid-blank; ">
								<p:fileUpload icon="fa fa-paperclip"  id="docUpload" label="#{msg.btn_upload}" 
									fileUploadListener="#{userManagementAddUpdate.fileUploadListener}"
									multiple="false" mode="advanced" dragDropSupport="true" auto="true" 
									update="photo" oncomplete="PF('userfotoUpload').hide();" 
									allowTypes="/(\.|\/)(jpg|jpeg|png|gif|bmp)$/"/>
						
								<p:commandButton value="#{msg.btn_defaultImage}" action="#{userManagementAddUpdate.setDefaultImage}" 
									class= "ui-fileupload-choose " update="photo" oncomplete="PF('userfotoUpload').hide();" immediate="true">
								</p:commandButton> 
								</p:panelGrid>
							</p:dialog>
						     <div class="EmptyBox10" />
               		
               			  </p:panelGrid>
               			</div>
               			</div>
               		</div>
						
					<!-- <div class="Card SoftBlue ui-fluid">
						<div class="Container100  Responsive100">
                		<div class="ContainerIndent " >
						   <p:panelGrid id="userRoles" columns="4" cellspacing="2" layout="grid" styleClass="ui-panelgrid-blank">
						   
						       <p:outputLabel for="role" value="#{msg.lbl_Role} " />        
					           <p:pickList id="role" value="#{userManagementAddUpdate.roles}" var="roles" style="text-align: -webkit-left;" 
							        itemLabel="#{roles.roleName}" itemValue="#{roles}" converter="#{roleConverter}" required="true" >
							        <p:ajax event="transfer" listener="#{userManagementAddUpdate.onTransfer}"/>
							    </p:pickList>
						       <div class="EmptyBox10"></div>
						       <p:message for="role"/>
						  </p:panelGrid>
						  </div>
						</div>
					</div> -->
			</p:tab>
			<p:tab title="#{msg.hdr_genralSettings}">
				  <div class="Card SoftBlue ui-fluid">
				        <div class="Container50  Responsive100">
                		<div class="ContainerIndent " >
            	               <p:panelGrid   id="generalSetting" columns="2" layout="grid" styleClass="ui-panelgrid-blank">
				
						          <p:outputLabel for="startDate" value="#{msg.lbl_userStartDate}"  />
    					          <p:calendar id="startDate" value="#{userManagementAddUpdate.user.startDate}" 
    					                pattern="#{CommonConstants.APP_DATE_FORMAT}" requiredMessage="#{msg.err_expiry_Date}" validatorMessage="yyy" mindate="Today"/>  
    					                
									<!-- validator="pastDateValidator"  --> 
				                  <p:outputLabel for="listSize" value="#{msg.lbl_userListsize}" />
						          <p:inputText id="listSize" value="#{userManagementAddUpdate.user.displayRowsSize}"  required="true" requiredMessage="#{msg.err_rowSize}">
							      <f:validateLength minimum="1" />
							      <pe:keyFilter regEx="/[0-9_]/i"/>
						          </p:inputText>
						  
			                      <p:outputLabel for="dateFormat" value="#{msg.lbl_userDateFormat}" />
			                      <p:selectOneMenu id="dateFormat" value="#{userManagementAddUpdate.user.displayDateFormat}" >
			                      
			                      <f:selectItems value="#{userManagementAddUpdate.userDateFormats}" />
			                      </p:selectOneMenu>
			            
						      </p:panelGrid>
						</div>
						</div>
						<div class="Container50  Responsive100">
                		<div class="ContainerIndent " >
            	             <p:panelGrid  id="generalSetting1" columns="2" layout="grid" styleClass="ui-panelgrid-blank">
						   
						          <p:outputLabel for="expiryDateTime" value="#{msg.lbl_Expiry_Date}"  required="true"/>
    					          <p:calendar id="expiryDateTime" validator="pastDateValidator" value="#{userManagementAddUpdate.user.userExpiry}" 
    					                pattern="#{CommonConstants.APP_DATE_FORMAT}"  required="true" requiredMessage="#{msg.err_expiry_Date}" validatorMessage="yyy" mindate="Today"/>
								
						     						    
						          <p:outputLabel for="language"  value="#{msg.lbl_Language}" />
							      <p:selectOneMenu id="language" value="#{userManagementAddUpdate.user.language}"  required="true" >
				                  <f:selectItems value="#{userManagementAddUpdate.locales}" />
			                      </p:selectOneMenu>		
			                
			                    
			                      <p:outputLabel for="timeZone" value="#{msg.lbl_timeZone}" />
			                      <p:selectOneMenu id="timeZone" value="#{userManagementAddUpdate.user.timeZone}" filter="true" filterMatchMode="contains">
                                  <f:selectItems value="#{userManagementAddUpdate.timeZoneList}" var="timeZone" itemLabel="#{timeZone}" itemValue="#{timeZone}"/>
                                  </p:selectOneMenu>    
						     </p:panelGrid>
						 </div>
						 </div>
					</div>		
				</p:tab>
				
				
				<p:tab title="#{msg.tab_authentication}">
				    <div class="Card SoftBlue ui-fluid">
				         <div class="Container50  Responsive100">
                		 <div class="ContainerIndent " >
            	             <p:panelGrid   id="authentication1" columns="2" layout="grid" styleClass="ui-panelgrid-blank" >
								<p:outputLabel  for ="authenticateUser" value="#{msg.lbl_Second_Level_Auth_Type}" disabled="#{userManagementAddUpdate.user.secondLevelAuthUserPrivilege eq 'false' }"/> 
    					          <p:selectOneRadio id ="authenticateUser"  value="#{userManagementAddUpdate.user.authenticateUser}" layout="grid" columns="1" disabled="#{userManagementAddUpdate.user.secondLevelAuthUserPrivilege eq 'false' }" >
    						      <f:selectItem itemLabel = "#{userManagementAddUpdate.secondLevelAuthEmail}"  itemValue = "#{userManagementAddUpdate.secondLevelAuthEmail}" />
        					      <f:selectItem itemLabel = "#{msg.lbl_SMS}" itemValue = "#{userManagementAddUpdate.secondLevelAuthSMS}" />
        					      <f:selectItem itemLabel="#{msg.lbl_GoogleAuth}" itemValue="#{userManagementAddUpdate.googleAuthentication}" />
								 <!--  <f:selectItem itemLabel = "#{msg.lbl_Token}" itemValue = "#{userManagementAddUpdate.secondLevelAuthToken}" /> -->
        					      <f:selectItem itemLabel = "#{msg.lbl_Disable}" itemValue = "#{userManagementAddUpdate.secondLevelAuthDisable}" />
        			              </p:selectOneRadio>   
        			         </p:panelGrid>
        			     </div>
        			     </div>   
        			         		
        			     <div class="Container50  Responsive100">
                		 <div class="ContainerIndent " >
            	             <p:panelGrid id="authentication2" columns="2" layout="grid" styleClass="ui-panelgrid-blank">
				      		    <p:outputLabel for="privilege" value="#{msg.lbl_Second_Level_Auth_Privilege}" />
    					          <p:selectBooleanCheckbox id="privilege" style="align: left" value="#{userManagementAddUpdate.user.secondLevelAuthUserPrivilege}" > 
				                   <p:ajax event="change" update="authentication1"  /> 
				                  </p:selectBooleanCheckbox>
				             </p:panelGrid>
				         </div>
				         </div>
				   </div>
			</p:tab>
			<p:tab title="#{msg.tab_password}">
				    <div class="Card SoftBlue ui-fluid">
				         <div class="Container100  Responsive100">
                		 <div class="ContainerIndent " >
            	            <p:panelGrid id="passwordPnl" columns="4" layout="grid" columnClasses="ui-grid-col-3,ui-grid-col-3,ui-grid-col-3,ui-grid-col-3" styleClass="ui-panelgrid-blank" >
								
								<div class="EmptyBox20"></div>
								<p:outputLabel  for ="pass" value="#{msg.tab_password}" />
								<p:selectBooleanCheckbox id="pass" style="align: left" value="#{userManagementAddUpdate.user.isPasswordChecked}"  > 
								<p:ajax event="change" process="@this" update="passwordPnl,TempPassPnl" ></p:ajax>
								</p:selectBooleanCheckbox>
    					        <div class="EmptyBox20"></div>  
    					        
    					        
    					        <div class="EmptyBox20"></div>
    					        <div class="EmptyBox20"></div>
    					        
								<p:row rendered="#{userManagementAddUpdate.user.isPasswordChecked eq 'true'}" ></p:row>
								<p:outputLabel  for ="newPass" value="#{msg.lbl_newPassword}" rendered="#{userManagementAddUpdate.user.isPasswordChecked eq 'true'}"/>
								<p:inputText id="newPass" value="#{userManagementAddUpdate.user.newPassword}" required="true" rendered="#{userManagementAddUpdate.user.isPasswordChecked eq 'true'}"/> 
								<p:row rendered="#{userManagementAddUpdate.user.isPasswordChecked eq 'true'}"></p:row>
    					        
								<p:row rendered="#{userManagementAddUpdate.user.isPasswordChecked eq 'true'}"></p:row>
								<p:outputLabel  for ="confirmPass" value="#{msg.Confirm_Password}" rendered="#{userManagementAddUpdate.user.isPasswordChecked eq 'true'}"/>
								<p:inputText id="confirmPass" value="#{userManagementAddUpdate.user.confirmPassword}" required="true"  rendered="#{userManagementAddUpdate.user.isPasswordChecked eq 'true'}"/> 
								<p:row rendered="#{userManagementAddUpdate.user.isPasswordChecked eq 'true' }"></p:row>
		
									  
											   
								
								<p:spacer style="height:5%;" rendered="#{userManagementAddUpdate.user.isPasswordChecked eq 'true' }"/>
            				    <p:spacer style="height:5%;" rendered="#{userManagementAddUpdate.user.isPasswordChecked eq 'true' }"/>	
								<p:spacer style="height:5%;" rendered="#{userManagementAddUpdate.user.isPasswordChecked eq 'true' }"/>
            				    <p:spacer style="height:5%;" rendered="#{userManagementAddUpdate.user.isPasswordChecked eq 'true' }"/>	
    					        
        			         </p:panelGrid>
        			         
        			            
							<p:panel id="TempPassPnl" styleClass="ui-widget-content-no-border" >	
        			          <p:panelGrid id="TempPass" columns="3" layout="grid" columnClasses="ui-grid-col-5,ui-grid-col-3,ui-grid-col-4"
        			             rendered="#{not empty userManagementAddUpdate.id}" styleClass="ui-panelgrid-blank">
        			         
        			            
        			            <div class="EmptyBox20"></div>
								<p:commandButton action="#{userManagementAddUpdate.setTempPass}" process="@this" value="#{msg.reset_pass}" icon="fa fa-save"></p:commandButton>
    					        <div class="EmptyBox20"></div> 
        			         
        			          </p:panelGrid>
        			          </p:panel>
        			     </div>
        			     </div>   
				   </div>
			</p:tab>
	     </p:tabView>
	    </h:form>
		
	</div>
	</div>
	</div>
	</div>
	</div>
	</div>
	</div>
	</ui:define>
</ui:composition>