<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui">
	<ui:define name="subheader">
        #{msg.hdr_administration}
    </ui:define>
	<ui:define name="content">
	<div class="Container100">
    <div class="ContainerIndent">
    <div class="Card ShadowEffect">
    <div class="Container100  Responsive100">
    <div class="ContainerIndent">	 
     	 <div class="Container20  Responsive60">
    	 <div class="ContainerIndent">
    	 <p:row></p:row><div class="EmptyBox50"></div><p:row></p:row> 
			<h:form>
				<ui:include src="/views/admin/include/adminInclude.xhtml" />
			</h:form>
		 </div>
	 	 </div>
	 		<div class="Container80  Responsive100">
			<h2 class="TexAlCenter BigTopic">#{msg.hdr_User_Management}</h2>
			<f:event type="preRenderView" listener="#{userManagementListView.preRenderView}" />
			<f:metadata>
			<f:viewAction action="#{userManagementListView.onLoadAction}" />
			</f:metadata>
			   <h:form id="userManagementList">
			     <p:messages id="messages" globalOnly="true" showDetail="true" autoUpdate="true" closable="true" escape="false" />
			       <p:commandButton value="#{msg.btn_add}" id="btnAdd" icon="fa fa-plus" action="#{userManagementListView.addAction()}"/>
			     
			     <p:commandButton value="#{msg.btn_show_act_user}" id="btnShowAct"
					actionListener="#{userManagementListView.showActive}" 
					disabled="#{userManagementListView.showActiveListBtn eq 'false'}"
					process="@this" update="userManagementList"
					oncomplete="PF('listTableWidgetVar').clearFilters()">
				</p:commandButton>
				<p:commandButton value="#{msg.btn_show_inact_user}" id="btnShowInact"
					actionListener="#{userManagementListView.showInactive}"
					disabled="#{userManagementListView.showActiveListBtn eq 'true'}"
					process="@this" update="userManagementList"
					oncomplete="PF('listTableWidgetVar').clearFilters()">
				</p:commandButton>
				<span class="ui-separator">
                    <span class="fa fa-ellipsis-v SoftGray"></span>
                 </span>
				<p:commandButton id="lock" icon="fa fa-lock"  process="@form"
					actionListener="#{userManagementListView.lockAction}"
					rendered="#{userManagementListView.showActivateBtn eq 'false'}"
					title="#{msg.lbl_lockUser}" update="pnl:listTable"
					oncomplete="PF('listTableWidgetVar').clearFilters()" />
				<p:commandButton id="unlock" icon="fa fa-unlock" process="@form"
					actionListener="#{userManagementListView.unlockAction}"
					rendered="#{userManagementListView.showActivateBtn eq 'true'}"
					title="#{msg.lbl_unlockUser}" update="pnl:listTable"
					oncomplete="PF('listTableWidgetVar').clearFilters()" />
				
                  <div class="ui-toolbar-group-right"> 
                  <p:commandButton id="delete" icon="fa fa-trash-o" process="@form"
					actionListener="#{userManagementListView.deleteAction}"
					rendered="#{userManagementListView.showActivateBtn eq 'true'}"
					title="#{msg.lbl_deleteUser}" 
					oncomplete="PF('listTableWidgetVar').clearFilters()" >
					<p:confirm header="#{msg.confirmation}" message="#{msg.delete_sure}" icon="ui-icon-alert" />
					</p:commandButton>
					<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                       <p:commandButton value="#{msg.btn_yes}" type="button" styleClass="ui-confirmdialog-yes " icon="ui-icon-check fa fa-check Fs14 White" />
                       <p:commandButton value="#{msg.btn_no}" type="button" styleClass="ui-confirmdialog-no " icon="ui-icon-close fa fa-close Fs14 White" />
                    </p:confirmDialog>	
               </div>
            
					<p:tabView id="pnl"> 
						<p:tab title="#{msg.lbl_User_Management_List}">
							
							<p:dataTable id="listTable" var="userList" value="#{userManagementListView.userList}" rowKey="#{userList.userId}"
								selection="#{userManagementListView.selectedUsers}" widgetVar="listTableWidgetVar"
								rows="#{sessionScope['USER_IN_CONTEXT'].displayRowsSize}" rowsPerPageTemplate="#{sessionScope['USER_IN_CONTEXT'].actualDisplayRowsSize}"
								emptyMessage="#{msg.table_empty_msg}" 
								paginator="true" paginatorPosition="bottom" currentPageReportTemplate="#{msg.lbl_showing} {startRecord}-{endRecord} #{msg.lbl_outOf} {totalRecords}"
								paginatorTemplate="{CurrentPageReport}  
				    			{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
								rowIndexVar="rowIndex" reflow="true" tableStyle="table-layout: auto;" filteredValue="#{userManagementListView.filteredUserList}">
								
								<f:facet name="header">
				<div style="height: 50px;">
				<table id="filter" style="margin-top: -15px;">
					<tr>
						<td align="left">
							<p:inputText id="globalFilter"
							onkeyup="PF('listTableWidgetVar').filter()"
							placeholder="#{msg.lbl_search}" style="width:75%"/>
						</td>
						
						<td align="right">
						 <p:commandButton id="toggler" type="button" class="GrayButton"
							icon="fa fa-calculator" title="#{msg.btn_columns}"/>
							<p:ajax event="page" oncomplete="updateToggles(PF('columnToggler'))" />
						<p:columnToggler widgetVar="columnToggler" datasource="listTable" trigger="toggler" style="width:100%">
						 <p:ajax event="toggle" listener="#{userManagementListView.onToggle}" />
						 </p:columnToggler>
						</td>
					</tr>
				</table>
					</div>	
								
				</f:facet>
								
						<p:column  selectionMode="multiple" headerText="#{msg.lbl_select}" 
				value="#{userList.checked}" style="width:54px;" class="TexAlCenter text-top" visible="#{userManagementListView.togglerList[0]}" >
					</p:column>		
								
								<p:column headerText="#{msg.lbl_User_Id}" sortBy="#{userList.userId}" filterMatchMode="contains" filterBy="#{userList.userId}" 
								   visible="#{userManagementListView.togglerList[1]}">
								<p:commandLink id="userId" value="#{userList.userId}" onclick="PF('bui').show()" action="#{userManagementListView.viewAction(userList.id)}" />
								<p:commandLink id="userIdNewTab" action="#{userManagementListView.viewAction(userList.id)}" ajax="false" target="_blank" oncomplete="PF('bui').hide()">
							         <i class="icon-tab Fs22 bottom" title="#{msg.lbl_opennewtab}"></i>
						        </p:commandLink>
								</p:column>
								<p:column headerText="#{msg.lbl_First_Name}" sortBy="#{userList.firstName}" filterMatchMode="contains" filterBy="#{userList.firstName}"
								   visible="#{userManagementListView.togglerList[2]}">
									<h:outputText value="#{userList.firstName}" />
								</p:column>
								<p:column headerText="#{msg.lbl_Last_Name}" sortBy="#{userList.lastName}" filterMatchMode="contains" filterBy="#{userList.lastName}"
								   visible="#{userManagementListView.togglerList[3]}">
									<h:outputText value="#{userList.lastName}" />
								</p:column>
								<p:column headerText="#{msg.lbl_Email}" sortBy="#{userList.email}" filterMatchMode="contains" filterBy="#{userList.email}"
								   visible="#{userManagementListView.togglerList[4]}">
									<h:outputText value="#{userList.email}" />
								</p:column>
								<p:column headerText="#{msg.lbl_Expiry_Date}" sortBy="#{userList.userExpiry}" filterMatchMode="contains" filterBy="#{userList.userExpiry}"
								   visible="#{userManagementListView.togglerList[5]}" filterStyle="display:none">
							       <h:outputText value="#{userList.userExpiry}" >
									<f:convertDateTime pattern="#{CommonConstants.APP_DATE_FORMAT}"  />
								   </h:outputText>
							    </p:column>
							</p:dataTable>
							
							
						</p:tab>
					</p:tabView>
					       <p:blockUI block="pnl"  widgetVar="bui"/>
			               <p:blockUI block="pnl" class="spinner" trigger="pnl, btnAdd">
       		                 <p:graphicImage class="spinner" value="/images/ajax-loader.gif"/>
		                   </p:blockUI>
					
				</h:form>
  		 </div>
  	 </div>
   </div>
   </div>
   </div>
   </div>
   </ui:define>
</ui:composition>