<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui">
	<ui:define name="subheader">
      #{msg.hdr_administration}
    </ui:define>
	<ui:define name="content">
	<div class="Container100">
    <div class="ContainerIndent">
    <div class="Card ShadowEffect">
    <div class="Container100  Responsive100">
    <div class="ContainerIndent">
     	 <div class="Container20  Responsive60">
    	 <div class="ContainerIndent">
    	 <p:row></p:row><div class="EmptyBox50"></div><p:row></p:row> 
			<h:form>
				<ui:include src="/views/admin/include/adminInclude.xhtml" />
			</h:form>
		 </div>
	 	 </div>
	 		<div class="Container80  Responsive100">
	 		<div class="ContainerIndent">
			<h2 class="TexAlCenter BigTopic">#{msg.hdr_User_Management}</h2>
			<f:event type="preRenderView" listener="#{userManagementListView.preRenderView}" />
			<f:metadata>
			<f:viewAction action="#{userManagementListView.onLoadAction}" />
		    </f:metadata>
			<h:form id="form">
			<div id="user" class="Container100">
				<div class="ContainerIndent">
					<p:messages id="messages" globalOnly="true" showDetail="true"
						autoUpdate="true" closable="true" escape="false" />
					
						    <div class="Container100 Responsive100">
							<div class="ContainerIndent">
							<p:commandButton value="#{msg.btn_edit}" id="btnEdit" actionListener="#{userManagementListView.editAction(userManagementListView.viewUser.id)}"
					               icon="fa fa-pencil" process="@this"  rendered="#{userManagementListView.viewUser.active eq 'Y'}"/>
					        <p:commandButton value="#{msg.btn_cancel}" id="btnCancel" actionListener="#{userManagementListView.listAction}" icon="fa fa-close" process="@this"/>
							<p:commandButton value="#{msg.btn_switch_user}" id="btnChangeUser" actionListener="#{userManagementListView.changeUserAction(userManagementListView.viewUser.id)}" 
					        			icon="fa fa-user-secret" process="@this"/>
					        
					        <span class="ui-separator">
                        <span class="fa fa-ellipsis-v SoftGray"></span>
                     </span>
			        <p:commandButton id="lock" icon="fa fa-lock" process="@form" 
			           actionListener="#{userManagementListView.lockViewedUser(userManagementListView.viewUser.id)}"
				       title="#{msg.lbl_lockUser}" rendered="#{userManagementListView.viewUser.active eq 'Y'}" />
			        <p:commandButton id="unlock" icon="fa fa-unlock" process="@form" 
			           actionListener="#{userManagementListView.unlockViewedUser(userManagementListView.viewUser.id)}"
				       title="#{msg.lbl_unlockUser}" rendered="#{userManagementListView.viewUser.active ne 'Y'}" />
				       
				       <div class="ui-toolbar-group-right">
				       
				       <p:commandButton id="delete" icon="fa fa-trash-o" process="@form" 
                          action="#{userManagementListView.deleteViewedUser(userManagementListView.viewUser.id)}"
				          rendered="#{userManagementListView.viewUser.active ne 'Y'}" title="#{msg.lbl_deleteUser}">
			             <p:confirm header="#{msg.confirmation}" message="#{msg.delete_sure}" icon="ui-icon-alert" />
			           </p:commandButton>
				       <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                         <p:commandButton value="#{msg.btn_yes}" type="button" styleClass="ui-confirmdialog-yes "
                            icon="ui-icon-check fa fa-check Fs14 White" />
                         <p:commandButton value="#{msg.btn_no}" type="button" styleClass="ui-confirmdialog-no "
                            icon="ui-icon-close fa fa-close Fs14 White" />
                       </p:confirmDialog>
                       </div>
					        
					        <p:tabView>
							<p:tab title="#{msg.hdr_userManagement}">
					<div class="Card SoftBlue ui-fluid">
						 <div class="Container50  Responsive100">
                	        <div class="ContainerIndent">
								<p:panelGrid id="addNew" columns="2" layout="grid" style="border:0px !important; background:none; text-align: left"
									styleClass="ui-panelgrid-blank">
									<p:outputLabel for="userId" value="#{msg.lbl_User_Id}" />
	            					<p:outputLabel id="userId" value="#{userManagementListView.viewUser.userId}" />
	            					
	            					
	            					<p:outputLabel for="lastName" value="#{msg.lbl_Last_Name}" />
	            					<p:outputLabel id="lastName" value="#{userManagementListView.viewUser.lastName}" />
	            					
	            					
	            					<p:outputLabel for="phoneNumber" value="#{msg.lbl_userPhno}"/>
            		                <p:outputLabel id="phoneNumber" value="#{userManagementListView.viewUser.phoneNumber}"/>
            		                
            		              
                                    <p:outputLabel for="role" value="#{msg.lbl_Role}"/>
            		                <p:outputLabel id="role" value="#{userManagementListView.role}"/>
            		                
            		                <p:message for="role"/>					           
						            <div class="EmptyBox10"></div>
            		                
            			            
            		            </p:panelGrid>
            		          </div>
	            	     </div>
	            	      <div class="Container50 Responsive100">
                	         <div class="ContainerIndent " >
                	            <p:panelGrid id="addNew1" columns="2" layout="grid" style="border:0px !important; background:none; text-align: left"
									styleClass="ui-panelgrid-blank">
                	                <p:outputLabel for="firstName" value="#{msg.lbl_First_Name}" />
	            					<p:outputLabel id="firstName" value="#{userManagementListView.viewUser.firstName}" />
	            					 
	            				    <p:outputLabel for="email" value="#{msg.lbl_Email}" />
	            					<p:outputLabel id="email" value="#{userManagementListView.viewUser.email}" />
	            					
	            					<p:outputLabel for="image" value="#{msg.lbl_uploadPicture}" />
	            					<p:graphicImage id="image" cache="false" class="circlebigicon" value="/images/#{userManagementListView.getDefaultImage(userManagementListView.viewUser.userImage) ne null ? 'default.jpg' : userManagementListView.viewUser.userImage}"
                                           /> 
                                </p:panelGrid>
                              </div>
	            	     </div>           
	            	</div>			            					
	            					 
							 </p:tab>
							
							  <p:tab title="#{msg.hdr_genralSettings}">
					  <div class="Card SoftBlue ui-fluid">
						 <div class="Container50  Responsive100">
                	        <div class="ContainerIndent">
				
				                  <p:panelGrid id="generalSetting" columns="2"  layout="grid" style="border:0px !important; background:none; "
						                      styleClass="ui-panelgrid-blank">
				
				                    <p:outputLabel for="startDate" value="#{msg.lbl_userStartDate}"  required="true"/>
    					            <p:outputLabel id="startDate" validator="pastDateValidator" value="#{userManagementListView.viewUser.startDate}">
    					              <f:convertDateTime pattern="#{CommonConstants.APP_DATE_FORMAT}"  />
    					            </p:outputLabel>    
				
				                    
				                    <p:outputLabel for="listSize" value="#{msg.lbl_userListsize}" />
						            <p:outputLabel id="listSize" value="#{userManagementListView.viewUser.displayRowsSize}"/>  
						    						    
						             <p:outputLabel for="dateFormat" value="#{msg.lbl_userDateFormat}" />
			                        <p:outputLabel id="dateFormat" value="#{userManagementListView.viewUser.displayDateFormat}"/>
			                          
						         </p:panelGrid>
						     </div>
						  </div>
						   <div class="Container50  Responsive100">
                	          <div class="ContainerIndent">
				                      <p:panelGrid id="generalSetting1" columns="2"  layout="grid" style="border:0px !important; background:none; "
						                      styleClass="ui-panelgrid-blank">
				                     <p:outputLabel for="expiryDateTime" value="#{msg.lbl_Expiry_Date}"  required="true"/>
    					             <p:outputLabel id="expiryDateTime" validator="pastDateValidator" value="#{userManagementListView.viewUser.userExpiry}">
    					            <f:convertDateTime pattern="#{CommonConstants.APP_DATE_FORMAT}"  />
    					            </p:outputLabel> 
    					            
    					            <p:outputLabel for="language"  value="#{msg.lbl_Language}" />
							        <p:outputLabel id="language" value="#{msg[userManagementListView.viewUser.language]}"/>
				                
						             <p:outputLabel for="timeZone" value="#{msg.lbl_timeZone}" />
			                        <p:outputLabel id="timeZone" value="#{userManagementListView.viewUser.timeZone}"/>    
						     
						         </p:panelGrid>
						      </div>
						   </div>
					  </div>
						     </p:tab>
						     
				             <p:tab title="#{msg.tab_authentication}">
				      <div class="Card SoftBlue ui-fluid">
						 <div class="Container100 Responsive100">
                	        <div class="ContainerIndent">
				
				                 <p:panelGrid id="authentication1" columns="4"  layout="grid" style="border:0px !important; background:none; "
									                 styleClass="ui-panelgrid-blank">
				
				                    <p:outputLabel for="authenticateUser" value="#{msg.lbl_Second_Level_Auth_Type}"/>
	            					<p:outputLabel id="authenticateUser" value="#{userManagementListView.viewUser.authenticateUser != null ? msg['lbl_'+=userManagementListView.viewUser.authenticateUser] : ''}" />
	            					
									<p:outputLabel for="secondLevelAuthUserPrivilege" value="#{msg.lbl_Second_Level_Auth_Privilege}"/>
	            					<p:outputLabel id="secondLevelAuthUserPrivilege" value="#{userManagementListView.viewUser.secondLevelAuthUserPrivilege eq 'true' ? msg.lbl_yes : msg.lbl_no}" />
				
				                 </p:panelGrid>
				             </div>
				           </div>
				       </div>
				             </p:tab>
				             <!-- <p:tab title="#{msg.tab_password}">
				    <div class="Card SoftBlue ui-fluid">
				         <div class="Container100  Responsive100">
                		 <div class="ContainerIndent " >
            	            <p:panelGrid id="passwordPnl" columns="4" layout="grid" columnClasses="ui-grid-col-3,ui-grid-col-3,ui-grid-col-3,ui-grid-col-3" styleClass="ui-panelgrid-blank">
								
								<div class="EmptyBox20"></div>
								<p:outputLabel  for ="pass" value="#{msg.tab_password}" />
								<p:selectBooleanCheckbox id="pass" style="align: left" disabled="true" value="#{userManagementListView.viewUser.isPasswordChecked}"  > 
								</p:selectBooleanCheckbox>
    					        <div class="EmptyBox20"></div>  
    					        
    					        
    					        <div class="EmptyBox20"></div>
    					        <div class="EmptyBox20"></div>
    					        
								<p:row rendered="#{userManagementListView.viewUser.isPasswordChecked eq 'true'}"></p:row>
								<p:outputLabel  for ="newPass" value="#{msg.lbl_newPassword}" rendered="#{userManagementListView.viewUser.isPasswordChecked eq 'true'}"/>
								<p:outputLabel id="newPass" value="#{userManagementListView.viewUser.newPassword}" required="true" rendered="#{userManagementListView.viewUser.isPasswordChecked eq 'true'}"/> 
								<p:row rendered="#{userManagementListView.viewUser.isPasswordChecked eq 'true'}"></p:row>
    					        
								<p:row rendered="#{userManagementListView.viewUser.isPasswordChecked eq 'true'}"></p:row>
								<p:outputLabel  for ="confirmPass" value="#{msg.Confirm_Password}" rendered="#{userManagementListView.viewUser.isPasswordChecked eq 'true'}"/>
								<p:outputLabel id="confirmPass" value="#{userManagementListView.viewUser.confirmPassword}" required="true"  rendered="#{userManagementListView.viewUser.isPasswordChecked eq 'true'}"/> 
								<p:row rendered="#{userManagementListView.viewUser.isPasswordChecked eq 'true'}"></p:row>
    					        
        			         </p:panelGrid>
        			     </div>
        			     </div>   
				   </div>
			</p:tab> -->
						</p:tabView>
					    </div>
						</div>
				</div>
			</div>
		</h:form>
	</div>
	</div>
	</div>
	</div>
	</div>
	</div>
	</div>
	</ui:define>
</ui:composition>