<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui">
		 <ui:define name="subheader">
       #{msg.hdr_userProfile} #{userProfileView.user.firstName} #{userProfileView.user.lastName} 
    </ui:define>
	<ui:define name="content">
	<f:event type="preRenderView"
			listener="#{userProfileView.preRenderView}" />
	<f:metadata>
		<f:viewAction action="#{userProfileView.onLoadAction}" />
	</f:metadata>
		<h:form id="UserProfileForm" enctype="multipart/form-data">
		<div class="Container100">
            <div class="ContainerIndent">
               <div class="Card ShadowEffect ui-fluid">
                 <div class="Container100  Responsive100">
                   <div class="ContainerIndent">
                     <p:messages id="messages" globalOnly="true" showDetail="true" autoUpdate="true" closable="true" escape="false" />
                     <p:panelGrid columns="2" style="border:1px !important; background:none;" styleClass="ui-panelgrid-blank ">  
                     <p:commandButton  value="#{msg.btn_change}"  id="btnSave" icon="fa fa-user-secret" onclick="PF('bui').show()"
						actionListener="#{userProfileView.saveProfile}"  oncomplete="window.location.reload();"></p:commandButton>
					 <p:commandButton value="#{msg.btn_pass_cancel}" id="btnCancel" icon="fa fa-close"
                    	action="#{userProfileView.cancelAction}" process="@this"/>
            		</p:panelGrid>
                        
                        <p:tabView id="userprofile">
                       <p:tab title="#{msg.hdr_User_Management}">
                     		<p:panelGrid id="userprofile" columns="4" layout="grid" style="border:0px !important;  background:none;"
								styleClass="ui-panelgrid-blank">
                     			
                     			<div class="EmptyBox10"></div>
                     			<p:outputLabel  value="#{msg.lbl_fName}" ></p:outputLabel>
                     			<p:inputText id="firstName" value="#{userProfileView.user.firstName}" requiredMessage="#{msg.err_parti_firstName}" required="true"/>
                     			<p:message for="firstName"/>
                     			
                     			<div class="EmptyBox10"></div>
                     			<p:outputLabel value="#{msg.lbl_lName}" ></p:outputLabel>
                     			<p:inputText id="lastName" value="#{userProfileView.user.lastName}" requiredMessage="#{msg.err_parti_surName}" required="true"/>
                     			<p:message for="lastName"/>
                     			
                     			<div class="EmptyBox10"></div>
                     			<p:outputLabel value="#{msg.lbl_uEmail}" ></p:outputLabel>
                     			<p:inputText id="email" tyle="width:200px;" value="#{userProfileView.user.email}" requiredMessage="#{msg.error_emailNotValid}"  validatorMessage="#{msg.err_parti_email}" required="true">
                     			<f:validateRegex pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />
                     			</p:inputText>
                     			<p:message for="email"/>
                     			 
                     			<div class="EmptyBox10"></div>
                     			<p:outputLabel value="#{msg.lbl_initials}" ></p:outputLabel>
                     			<p:inputText id="initials" value="#{userProfileView.user.initials}" />
                     			<p:message for="initials"/>
                     			
                     			  <p:row></p:row>
                     			  
			             <p:outputLabel for="deputy" value="#{msg.lbl_deputyUser} " />
			             <p:selectOneMenu id="deputy" value="#{userProfileView.user.deputy}" required="true">
			             	<f:selectItem itemLabel="#{msg.lbl_select}" itemValue="" noSelectionOption="true" />
			            	<f:selectItems value="#{userProfileView.userList}" var="user" itemValue="#{user.userId}"
							itemLabel="#{userProfileView.getUserFullName(user.userId)}" itemLabelEscaped="true" />
			            </p:selectOneMenu>
			            <p:row></p:row>
                     			 
                     			<div class="EmptyBox10"></div>
                     			<p:outputLabel for="photo" value="#{msg.lbl_uploadPicture}" ></p:outputLabel>
                     			<p:commandLink id="photo" onclick="PF('fotoUpload').show()" immediate="true">	
                     				<p:graphicImage class="circlebigicon" cache="false" value= "/images/#{userProfileView.getDefaultImage(userProfileView.user.userImage) ne null ? 'default.jpg' : userProfileView.user.userImage}"/>
                     			</p:commandLink>
                     			
                     		<p:dialog header="#{msg.lbl_uploadPicture}" widgetVar="fotoUpload" closable="true"  responsive="true">
                     			<p:panelGrid id="profilePic" columns="2" layout="grid" style="border:0px !important;  background:none;align:center" 	styleClass="ui-panelgrid-blank; ">
                     				<p:fileUpload icon="fa fa-paperclip"  id="docUpload" label="#{msg.btn_upload}" style="width:100% height:25px"
										fileUploadListener="#{userProfileView.fileUploadListener}" value="#{userProfileView.file}" 
										multiple="false" mode="advanced" dragDropSupport="true" auto="true" 
										update="photo" oncomplete="PF('fotoUpload').hide();" allowTypes="/(\.|\/)(jpg|jpeg|png|gif|bmp)$/"  />
                     			
									<p:commandButton value="#{msg.btn_defaultImage}" actionListener="#{userProfileView.setDefaultImage}" immediate="true"
										update="photo" oncomplete="PF('fotoUpload').hide();" style="margin-top:2px;height:48px; !important">
									</p:commandButton>
								</p:panelGrid>
								
								</p:dialog>
                     			
							</p:panelGrid>
						  <div class="EmptyBox20"></div>
					 </p:tab>
                      
                      <p:tab title="#{msg.hdr_userSettings}">
                     	<p:panelGrid id="userSettings" columns="4" layout="grid" style="border:0px !important;  background:none;"
							styleClass="ui-panelgrid-blank">	
                     
                     	<div class="EmptyBox10"></div>
                     	<p:outputLabel value="#{msg.lbl_userListsize} " ></p:outputLabel>
                     	<p:inputText id="userListsize" value="#{userProfileView.user.displayRowsSize}" />
                     	<p:message for="userListsize"/>
                     	
                     	<div class="EmptyBox10"></div>
                     	<p:outputLabel for="locale" value="#{msg.lbl_userLang}" />
			           	<p:selectOneMenu id="locale" value="#{userProfileView.user.language}" >
			            <f:selectItems value="#{adminView.locales}" />
			            </p:selectOneMenu>
			            <p:message for="locale"/>
			            
			            <div class="EmptyBox10"></div>
			            <p:outputLabel for="dateFormat" value="#{msg.lbl_userDateFormat}" />
			            <p:selectOneMenu id="dateFormat" value="#{userProfileView.user.displayDateFormat}" >
			            <f:selectItems value="#{userProfileView.userDateFormats}" />
			            </p:selectOneMenu>
			            <div class="EmptyBox10"></div>
			            
			              
			            <p:row></p:row>
			            <p:outputLabel for="smsSignature" value="#{msg.lbl_smsSignature}" />
			            <p:inputText id="smsSignature" value="#{userProfileView.user.smsSignature}" maxlength="160" >
			            <p:ajax event="keyup" update="textBoxCount" />
			            </p:inputText>
			            <p:outputLabel id="textBoxCount" value="&lt;sup&gt;#{userProfileView.user.smsSignature.length()} Zeichen&lt;sup/&gt;" escape="false"/> 
			            
			            
			            <p:row></p:row>
			            <p:outputLabel for="emailSignature" value="#{msg.lbl_emailSignature}" />
			            <p:inputTextarea id="emailSignature" value="#{userProfileView.user.emailSignature}"/>
			            <div class="EmptyBox10"></div>
			            
						                
			          </p:panelGrid>
			          
            		</p:tab>
            		 	
			        <p:tab title="#{msg.tab_ingeSettings}" rendered="#{adminView.ingeConfiguration eq 'Yes' and adminView.showIngeConfig eq 'Yes'}">
			         	<p:panelGrid id="ingeSettings" columns="4" layout="grid" style="border:0px !important;  background:none;"
			         		styleClass="ui-panelgrid-blank">
			         	<div class="EmptyBox10"></div>
                     	<p:outputLabel value="#{msg.inge_userName}" ></p:outputLabel>
                     	<p:inputText id="ingeUser" value="#{userProfileView.user.wsUserId}" placeholder="#{msg.inge_userName}" />
                     	<p:message for="ingeUser"/>
			         	
			         	<div class="EmptyBox10"></div>
                     	<p:outputLabel value="#{msg.inge_password}" for="ingePass"></p:outputLabel>
                     	<p:password id="ingePass"  value="#{userProfileView.user.wsPassword}" placeholder="#{not empty userProfileView.user.wsPassword ? '******' : msg.inge_password}" >
                     	</p:password>
                     	<p:message for="ingePass"/>
                     	</p:panelGrid>
			        </p:tab>	

                 
                 
   				    <p:tab title="#{msg.tab_authentication}" rendered="#{userProfileView.user.secondLevelAuthUserPrivilege eq 'true'}">
			         	
			         	 <div class="Card SoftBlue ui-fluid">
                		       <div class="Container50  Responsive100">
                		          <div class="ContainerIndent " >
			         	
			         	<p:panelGrid id="authentication" columns="2"  layout="grid" style="border:0px !important;  background:none;"
			         		styleClass="ui-panelgrid-blank">
			         	<!-- <div class="EmptyBox10"></div> -->
                          	<p:outputLabel  value="#{msg.lbl_Second_Level_Auth_Type}: " />
        					<p:selectOneRadio id = "authenticateUser" value="#{userProfileView.user.authenticateUser}" columns="1" layout="grid">
        					 <f:selectItem itemLabel = "#{msg.lbl_Email}"  itemValue = "#{msg.lbl_Email}" />
            					<f:selectItem itemLabel = "#{msg.lbl_SMS}" itemValue = "#{msg.lbl_SMS}" />
            					<f:selectItem itemLabel="#{msg.lbl_GoogleAuth}" itemValue="#{msg.lbl_googleAuthentication}" />	
            					<f:selectItem itemLabel = "#{msg.lbl_Disable}" itemValue = "#{userProfileView.secondLevelAuthDisable}" />
            			 	</p:selectOneRadio>
            			 	<!-- <p:message for="authenticateUser"/>  -->
            	</p:panelGrid>
            	</div>
            </div>
            <div class="Container50  Responsive100">
             <div class="ContainerIndent " >
            	<p:panelGrid id="authenticationLink" columns="1"  layout="grid" style="border:0px !important;  background:none;"
			         		styleClass="ui-panelgrid-blank">
			         		
			         <p:commandLink  value="#{msg.lbl_deRegister}" actionListener="#{userProfileView.deRegisterAction}">
			         </p:commandLink>
			         
			         <div class="EmptyBox10"></div>
			         <div class="EmptyBox10"></div>
			         
			         <p:commandLink  value="#{msg.lbl_reRegister}" actionListener="#{googleAuthManageView.reRegisterAction(userProfileView.user.userId)}" action="#{googleAuthManageView.enableGoogleAuthenticator}">
			         </p:commandLink>
			         		
			    </p:panelGrid>
			    
			  </div>
			 </div>
		    </div>
            	</p:tab>                  
                  </p:tabView>  
                  
                  <p:blockUI block="userprofile"  widgetVar="bui"> #{msg.lbl_loading}<br />
                   <p:graphicImage value="/images/ajax-loader.gif"/>
    			  </p:blockUI>                  
                     </div>
                    </div>
                 </div>
              </div>
          </div>
		</h:form>
	</ui:define>
</ui:composition>