<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core" >
	<ui:define name="subheader">
        #{msg.hdr_vacation}
    </ui:define>
    <ui:define name="content">
	 <f:event type="preRenderView" listener="#{vacationAddUpdate.preRenderView}" />
	 <f:metadata>
	   <f:viewAction action="#{vacationAddUpdate.onLoadAction}" />
	 </f:metadata>
	  <h:form id="form" enctype="multipart/form-data" >
	   <div id="user" class="Container100">
		 <div class="ContainerIndent">
		  <div class="Card ShadowEffect">
		    <div class="Container100 Responsive100 ui-fluid">
			  <div class="ContainerIndent">
				 <p:messages id="messages" globalOnly="true" showDetail="true"
					 autoUpdate="true" closable="true" escape="false" />
				 <p:panelGrid id="panel2" columns="3" style="border:1px !important; background:none;" styleClass="ui-panelgrid-blank ui-responsive">    
				    <p:commandButton value="#{msg.btn_save}" id="btnSave" icon="fa fa-save" 
					   actionListener="#{vacationAddUpdate.saveAction}" ajax="false" onstart="PF('blockUIForButtons').block()" oncomplete="PF('blockUIForButtons').unblock()" >
				    </p:commandButton>
				    <p:commandButton value="#{msg.btn_cancel}" id="btnCancel" icon="fa fa-close"
				 	   action="#{vacationAddUpdate.cancelAction}"
					   process="@this" />
				 </p:panelGrid>
				 <p:tabView id="pnl">
				   <p:tab title="#{msg.hdr_vacation}">
					 <div class="Card SoftBlue ui-fluid"  >
					   <div class="Container100  Responsive100">
				         <div class="ContainerIndent " >
						   <p:panelGrid id="vacation" columns="4" layout="grid" style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank">
														
							<p:outputLabel for="identifier" value="#{msg.lbl_identifier}" rendered="#{vacationAddUpdate.showIdentifier eq 'true'}" />
							<p:outputLabel id="identifier" value="#{vacationAddUpdate.vacation.identifier}"
							   required="true" disabled="true" rendered="#{vacationAddUpdate.showIdentifier eq 'true'}" />
							   
						    <p:outputLabel for="vacationType" value="#{msg.lbl_vacationType}" escape="false"  />
            				<p:selectOneRadio id="vacationType" value="#{vacationAddUpdate.vacation.vacationType}" layout="pageDirection" 
            				   disabled="#{vacationAddUpdate.vacation.active eq 'N'}" required="true">
						       <f:selectItem itemLabel="#{msg.holidays_0}" itemValue="0" />
						       <f:selectItem itemLabel="#{msg.holidays_1}" itemValue="1" />
						    </p:selectOneRadio>	  
                         
	                        <p:outputLabel for="employee" value="#{msg.lbl_employee}" />
	                        <p:selectCheckboxMenu id="employee" value="#{vacationAddUpdate.vacationEmpList}" label="#{msg.lbl_select}"
	                            filter="true" filterMatchMode="contains" showCheckbox="true" required="true">
	                            <f:selectItems value="#{vacationAddUpdate.employeeList}" var="employee" itemValue="#{employee.identifier}"
								          itemLabel="#{vacationAddUpdate.getUserFullName(employee.firstName)}" itemLabelEscaped="true" />
	                        </p:selectCheckboxMenu>
                        
                         <p:outputLabel for="startDate" value="#{msg.lbl_startDate}" escape="false" />
            			 <p:calendar id="startDate" value="#{vacationAddUpdate.vacation.startDate}" locale="#{layoutMenu.user.language}" 
            				converter="dateConverter" pattern="#{CommonConstants.APP_DATE_FORMAT}" mask="true" 
            				disabled="#{vacationAddUpdate.vacation.active eq 'N'}" required="true">
            				 <p:ajax event="dateSelect" update="endDate" />
            				 </p:calendar>
						
						 <p:outputLabel for="endDate" value="#{msg.lbl_endDate}" escape="false" />
            			 <p:calendar id="endDate" value="#{vacationAddUpdate.vacation.endDate}" locale="#{layoutMenu.user.language}" 
            				converter="dateConverter" pattern="#{CommonConstants.APP_DATE_FORMAT}" mask="true" mindate="#{vacationAddUpdate.vacation.startDate}"
            				disabled="#{vacationAddUpdate.vacation.active eq 'N'}" />
						
						 <p:outputLabel for="reason" value="#{msg.lbl_reason}" />			
		        	     <p:inputTextarea id="reason" value="#{vacationAddUpdate.vacation.reason}" autoResize="false" />			
								
					     </p:panelGrid>
					    </div>
					   </div>
					  </div>
					 </p:tab>
				   </p:tabView> 
				 </div>
			   </div>
		     </div>
			             <!-- <p:blockUI block="pnl" widgetVar="bui">LOADING<br /> 
       			           <p:graphicImage  value="/images/ajax-loader.gif"/>
    		             </p:blockUI> -->
    		             
    		             <pe:blockUI block="pnl" widgetVar="blockUIForButtons"   css="{top: '400px', left: '', right: '750px'}"  >  
							<h:panelGrid columns="1" style="text-align:center;">
								<h:graphicImage library="images"  value="/images/ajax-loader.gif"/>
								<h:outputText value="#{msg.lbl_loading}"/>  
								<div class="EmptyBox10"></div>
							</h:panelGrid>
						</pe:blockUI> 
	    </div>
	   </div>
	 </h:form>	
   </ui:define>
 </ui:composition>