<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jstl/core">
	<ui:define name="subheader">
       #{msg.hdr_vacation}
    </ui:define>
	<ui:define name="content">
	<f:event type="preRenderView" listener="#{vacationView.preRenderView}" />
	<f:metadata>
	   <f:viewAction action="#{vacationView.onLoadAction}" />
	</f:metadata>
	  <div class="Container100">
         <div class="ContainerIndent">
            <div class="Card ShadowEffect">
               <div class="Container100  Responsive100">
                  <div class="ContainerIndent">
                     <h2 class="TexAlCenter BigTopic"> #{msg.hdr_vacationList}</h2>
                       <h:form id="vacationListForm" >
                         <p:messages id="messages" globalOnly="true" showDetail="true"
				            autoUpdate="true" closable="true" escape="false" />
				           <div class="ui-widget ui-widget-header ui-corner-all ui-helper-clearfix">
				             <div class="ui-toolbar-group-left">
			 	
                             <p:commandButton styleClass="btn" value="#{msg.btn_add}" id="btnAdd" icon="fa fa-plus"
					            action="#{vacationView.addAction}" onstart="PF('blockUIForButtons').block()"/> 
					 
                            <p:commandButton value="#{msg.btn_show_acti_vacation}" id="btnShowAct" actionListener="#{vacationView.showActive}" 
		       	                disabled="#{vacationView.showActiveListBtn eq 'false'}" process="@this" update="vacationListForm"  onstart="PF('blockUIForButtons').block()" oncomplete="PF('listTableWidgetVar').clearFilters(),PF('blockUIForButtons').unblock()">
		       	              </p:commandButton>
		       	                	
		       	              <p:commandButton value="#{msg.btn_show_inacti_vacation}" id="btnShowInact" actionListener="#{vacationView.showInactive}" 
		       	               disabled="#{vacationView.showActiveListBtn eq 'true'}" process="@this" update="vacationListForm"  onstart="PF('blockUIForButtons').block()" oncomplete="PF('listTableWidgetVar').clearFilters(),PF('blockUIForButtons').unblock()">
		       	              </p:commandButton>
                
				              <span class="ui-separator">
                               <span class="fa fa-ellipsis-v SoftGray"></span>
                              </span>
                              <p:commandButton icon="fa fa-lock" id="lock" actionListener="#{vacationView.lockAction}" 
		       	               update="listTable" title="#{msg.lbl_lockVacation}" rendered="#{vacationView.showActivateBtn eq 'false'}"
		       		           process="@form"  onstart="PF('blockUIForButtons').block()" oncomplete="PF('listTableWidgetVar').clearFilters(),PF('blockUIForButtons').unblock()" />
		       		 
		       		
		       	              <p:commandButton icon="fa fa-unlock" id="unlock" actionListener="#{vacationView.unlockAction}"
		       	                 update="listTable" title="#{msg.lbl_unlockVacation}" rendered="#{vacationView.showActivateBtn eq 'true'}"
		       	                 process="@form"  onstart="PF('blockUIForButtons').block()" oncomplete="PF('listTableWidgetVar').clearFilters(),PF('blockUIForButtons').unblock()" /> 
				           </div>
                           <div class="ui-toolbar-group-right"> 
				             <p:commandButton id="delete" icon="fa fa-trash" process="@form"
					            actionListener="#{vacationView.deleteAction}" title="#{msg.lbl_deleteVacation}"
					            rendered="#{vacationView.showActivateBtn eq 'true'}"
					           onstart="PF('blockUIForButtons').block()" oncomplete="PF('listTableWidgetVar').clearFilters()">
			                   <p:confirm header="#{msg.confirmation}" message="#{msg.delete_sure}" icon="ui-icon-alert" />
			                 </p:commandButton>
			                 <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                                <p:commandButton value="#{msg.btn_yes}" type="button" styleClass="ui-confirmdialog-yes " icon="ui-icon-check fa fa-check Fs14 White" />
                                <p:commandButton value="#{msg.btn_no}" type="button" styleClass="ui-confirmdialog-no " icon="ui-icon-close fa fa-close Fs14 White" />
                             </p:confirmDialog>	
                         </div> 
                      </div>
                           <p:dataTable id="listTable" var="vacation" selection="#{vacationView.selectedVacationList}" value="#{vacationView.vacationList}" 
                             rowsPerPageTemplate="#{sessionScope['USER_IN_CONTEXT'].actualDisplayRowsSize}"
				             rows="#{sessionScope['USER_IN_CONTEXT'].displayRowsSize}"
				             currentPageReportTemplate="#{msg.lbl_showing} {startRecord}-{endRecord} #{msg.lbl_outOf} {totalRecords}"
				             rowKey="#{vacation.id}" emptyMessage="#{msg.table_empty_msg}" 	widgetVar="listTableWidgetVar" 
				             paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				             paginator="true"  paginatorPosition="bottom" 	rowIndexVar="rowIndex" 
				             filteredValue="#{vacationView.filteredVacationList}"
				             reflow="true" tableStyle="table-layout: auto;">
				
                              <f:facet name="header">
			                    <div style="height: 50px;">
			                      <table id="filter" style="margin-top: -15px;">
					                <tr>
						              <td align="left">
						                <p:inputText id="globalFilter"
						                   onkeyup="PF('listTableWidgetVar').filter()"
						                   bankholder="#{msg.lbl_search}" style="width:75%"/>
						              </td>
					                  <td align="right" >
					                   	 <p:commandButton id="toggler" type="button" class="GrayButton"
					                   	    icon="fa fa-calculator" title="#{msg.btn_columns}"/>
					                   	 <p:ajax event="page" oncomplete="updateToggles(PF('columnToggler'))" />
					                   	 <p:columnToggler widgetVar="columnToggler" datasource="listTable" trigger="toggler" style="width:100%">
					                        <p:ajax event="toggle" listener="#{vacationView.onToggle}" />
					                   	 </p:columnToggler>
				                      </td>
					                </tr>
				                  </table>
					            </div>
			                  </f:facet>
			                  
			                  <p:column  selectionMode="multiple" visible="#{vacationView.togglerList[0]}" headerText="#{msg.lbl_select}" 
				                   value="#{vacation.checked}" style="width:54px;" class="TexAlCenter text-top" >
					          </p:column>
			                            
		        	          <p:column headerText="#{msg.lbl_id}" 
		        	             sortBy="#{vacation.identifier}" filterMatchMode="contains"
		        	             filterBy="#{vacation.identifier}" visible="#{vacationView.togglerList[1]}">
						         <p:commandLink id="identifier" class="MarRight10" onstart="PF('blockUIForButtons').block()" value="#{vacation.identifier}" action="#{vacationView.viewAction(vacation.identifier)}" />
						                
						      <p:commandLink id="identifierNewTab" action="#{vacationView.viewAction(vacation.identifier)}" ajax="false" target="_blank" onstart="PF('blockUIForButtons').block()">
						            <i class="icon-tab Fs22 bottom" title="#{msg.lbl_opennewtab}"></i>
						         </p:commandLink>
					          </p:column>
					                    
					          <p:column headerText="#{msg.lbl_vacationType}" visible="#{vacationView.togglerList[2]}" sortBy="#{vacation.vacationType}" filterMatchMode="contains" filterBy="#{vacation.vacationType}"  >
					             <f:facet name="filter">
			               		       <p:selectOneMenu onchange="PF('listTableWidgetVar').filter()"  >
			                   		      <f:selectItem itemLabel="#{msg.lbl_choose}" itemValue="#{null}" noSelectionOption="true" />
			                   		      <f:selectItem itemLabel="#{msg.holidays_0}" itemValue="0" />
						       			  <f:selectItem itemLabel="#{msg.holidays_1}" itemValue="1" />
			                	       </p:selectOneMenu>
			            		</f:facet>
					             <h:outputText value="#{vacation.vacationType != null ? msg['holidays_'+=vacation.vacationType] : ''}" />
					          </p:column>
					          
					          <p:column headerText="#{msg.lbl_employee}" visible="#{vacationView.togglerList[3]}" sortBy="#{vacation.employee}" filterMatchMode="contains" filterBy="#{vacationView.getEmployeeName(vacation.employee)}"  >
					             <h:outputText value="#{vacationView.getEmployeeName(vacation.employee)}" />
					          </p:column> 
					          
					          <p:column headerText="#{msg.lbl_start}" visible="#{vacationView.togglerList[4]}" sortBy="#{vacation.startDate}" filterMatchMode="contains" filterBy="#{vacationView.getAppDateFormat(vacation.startDate)}"  >
					             <h:outputText value="#{vacation.startDate}" >
					               <f:convertDateTime pattern="#{CommonConstants.APP_DATE_FORMAT}"  />
					             </h:outputText>  
					          </p:column>
					          
					          <p:column headerText="#{msg.lbl_end}" visible="#{vacationView.togglerList[5]}" sortBy="#{vacation.endDate}" filterMatchMode="contains" filterBy="#{vacationView.getAppDateFormat(vacation.endDate)}"  >
					             <h:outputText value="#{vacation.endDate}" >
					               <f:convertDateTime pattern="#{CommonConstants.APP_DATE_FORMAT}"  />
					             </h:outputText>  
					          </p:column>
					          
					          
	                       </p:dataTable>	 
		                      <!-- <p:blockUI block="listTable"  widgetVar="bui"/>
			                      <p:blockUI block="listTable" class="spinner" trigger="listTable, btnAdd">
       		                      <p:graphicImage class="spinner" value="/images/ajax-loader.gif"/>
		                       </p:blockUI>  -->
		                       <pe:blockUI block="listTable" widgetVar="blockUIForButtons"   css="{top: '400px', left: '', right: '750px'}"  >  
									<h:panelGrid columns="1" style="text-align:center;">
      		 							<h:graphicImage library="images"  value="/images/ajax-loader.gif"/>
      		 	  						<h:outputText value="#{msg.lbl_loading}"/>  
             							<div class="EmptyBox10"></div>
    		 						</h:panelGrid>
			 					</pe:blockUI>
			            </h:form>
		             </div>
                 </div>
               </div>
             </div>
          </div>
	 </ui:define>
</ui:composition>