<ui:composition template="/WEB-INF/templates/template.xhtml"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:pe="http://primefaces.org/ui/extensions"
     xmlns:p="http://primefaces.org/ui"
     xmlns:c="http://java.sun.com/jstl/core">
    <ui:define name="subheader">
         #{msg.hdr_vacation}
    </ui:define>
    <ui:define name="content">
       <f:event type="preRenderView" listener="#{vacationView.preRenderView}" />
       <f:metadata>
           <f:viewAction action="#{vacationView.onLoadAction}"/>
       </f:metadata> 
       <div class="Container70 Responsive100">
		 <div class="ContainerIndent">
			<div class="Card ShadowEffect ">
			  <div class="Container100 Responsive100">
				<div class="ContainerIndent">
                <h:form id="vacationViewForm" enctype="multipart/form-data">   
                  <p:messages id="messages" globalOnly="true" showDetail="true"
				     autoUpdate="true" closable="true" escape="false" />

			        <div class="ui-widget ui-widget-header ui-corner-all ui-helper-clearfix">
			          <div class="ui-toolbar-group-left">
			 
			             <p:commandButton  value="#{msg.btn_edit}" id="btnEdit" icon="fa fa-pencil" 
			                action="#{vacationView.editAction(vacationView.vacation.identifier)}" rendered="#{vacationView.vacation.active eq 'Y'}" />
			             <p:commandButton  value="#{msg.btn_cancel}" id="btnCancel" icon="fa fa-close" 
			                action="#{vacationView.cancelAction}" process="@this" />
			             <span class="ui-separator">
                           <span class="fa fa-ellipsis-v SoftGray"></span>
                         </span>
			             <p:commandButton id="lock" icon="fa fa-lock" process="@form" 
			                actionListener="#{vacationView.lockViewedVacation(vacationView.vacation.identifier)}"
				            title="#{msg.lbl_lockVacation}" rendered="#{vacationView.vacation.active eq 'Y'}" />
			             <p:commandButton id="unlock" icon="fa fa-unlock" process="@form" 
			                actionListener="#{vacationView.unlockViewedVacation(vacationView.vacation.identifier)}"
				            title="#{msg.lbl_unlockVacation}" rendered="#{vacationView.vacation.active eq 'N'}" /> 
                      </div>
                     <div class="ui-toolbar-group-right">
                         <p:commandButton id="delete" icon="fa fa-trash-o" process="@form" 
                            action="#{vacationView.deleteViewedVacation(vacationView.vacation.identifier)}"
				            rendered="#{vacationView.vacation.active eq 'N'}" title="#{msg.lbl_deleteVacation}">
			                <p:confirm header="#{msg.confirmation}" message="#{msg.delete_sure}" icon="ui-icon-alert" />
			             </p:commandButton>
				         <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                             <p:commandButton value="#{msg.btn_yes}" type="button" styleClass="ui-confirmdialog-yes "
                                icon="ui-icon-check fa fa-check Fs14 White" />
                              <p:commandButton value="#{msg.btn_no}" type="button" styleClass="ui-confirmdialog-no "
                                icon="ui-icon-close fa fa-close Fs14 White" />
                         </p:confirmDialog>
                      </div> 
                   </div>  
			                             
		            <p:tabView>
          	           <p:tab title="#{msg.hdr_vacation}">
          	            <div class="Card SoftBlue ui-fluid"  >
				         <div class="Container100  Responsive100">
				           <div class="ContainerIndent " > 
				              <p:panelGrid columns="4" layout="grid" style="border:0px !important; background:none;">
				                
				                <p:outputLabel for="identifier" value="#{msg.lbl_vacationIdentifier}" />
				                <p:outputLabel id="identifier"  value="#{vacationView.vacation.identifier}"/> 
				                
				                <p:outputLabel for="vacationType" value="#{msg.lbl_vacationType}" />
				                <p:outputLabel id="vacationType"	value="#{empty vacationView.vacation.vacationType ? '': msg['holidays_'+=vacationView.vacation.vacationType]}"/>
				                
				                <p:outputLabel for="employee" value="#{msg.lbl_employee}" />
				                <p:outputLabel id="employee"  value="#{empty vacationView.vacation.employee ? '': vacationView.getEmployeeName(vacationView.vacation.employee)}"/> 
				                
				                <p:outputLabel for="startDate" value="#{msg.lbl_startDate}" />
				                <p:outputLabel id="startDate"	value="#{vacationView.vacation.startDate}">
				                    <f:convertDateTime pattern="#{CommonConstants.APP_DATE_FORMAT}"  />
				                </p:outputLabel>    
				                
				                <p:outputLabel for="endDate" value="#{msg.lbl_endDate}" />
				                <p:outputLabel id="endDate"	value="#{vacationView.vacation.endDate}">
				                 <f:convertDateTime pattern="#{CommonConstants.APP_DATE_FORMAT}"  />
				                </p:outputLabel>
				                
				                <p:outputLabel for="reason" value="#{msg.lbl_reason}" />
				                <p:outputLabel id="reason"	value="#{vacationView.vacation.reason}"/>
				                
			                 </p:panelGrid>
			                </div>
			               </div>
			              </div> 
			            </p:tab>
			        </p:tabView>      
			     </h:form>
		       </div>
             </div>
           </div>
        </div>
     </div>
	   <div class="Container30 Responsive100">
		 <div class="ContainerIndent">
		   <div class="Card ShadowEffect HeiAutoOnMobile">
			 <h2 class="CardTopic"><i class="icon-info"></i>#{msg.hdr_info}</h2>
			  <div class="EmptyBox10"></div>
				<div class="SeparatorFull"></div>
                  <div class="EmptyBox10"></div>
					
						  <p:panelGrid columns="3" layout="grid" columnClasses="ui-grid-col-5,ui-grid-col-6,ui-grid-col-1" style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank" >
							<p:outputLabel for="createBy" value="#{msg.lbl_createdBy}: " />
							<p:outputLabel id="createBy" value="#{vacationView.getUserFullName(vacationView.vacation.createBy)}"	/>
                            <p:graphicImage  class ="Fright Fs30 circlesmallicon" value="/images/#{empty vacationView.getUserImage(vacationView.vacation.createBy) ? 'default.jpg' : vacationView.getUserImage(vacationView.vacation.createBy)}"/>

							        
							<p:outputLabel for="createTime" value="#{msg.lbl_createdOn}: " />
							<p:outputLabel id="createTime" value="#{vacationView.vacation.createTime}">
							   <f:convertDateTime type="both"  timeZone="#{sessionScope['USER_IN_CONTEXT'].timeZone}" />
					        </p:outputLabel>
                            <div class="EmptyBox10"></div>
                            
                            <p:row></p:row><div class="EmptyBox10"></div><p:row></p:row>
                                    
							<p:outputLabel for="updateBy" value="#{msg.lbl_lastUpdatedBy}: " />
							<p:outputLabel id="updateBy" value="#{vacationView.getUserFullName(vacationView.vacation.updateBy)}"	/>
                            <p:graphicImage class ="Fright Fs30 circlesmallicon" rendered="#{vacationView.vacation.updateBy ne null}" value="/images/#{empty vacationView.getUserImage(vacationView.vacation.updateBy) ? 'default.jpg' : vacationView.getUserImage(vacationView.vacation.updateBy)}"/>

							        
							<p:outputLabel for="updateTime" value="#{msg.lbl_lastUpdatedOn}: " />
							<p:outputLabel id="updateTime" value="#{vacationView.vacation.updateTime}">
							   <f:convertDateTime type="both"  timeZone="#{sessionScope['USER_IN_CONTEXT'].timeZone}" />
					        </p:outputLabel>
                            <div class="EmptyBox10"></div>
							
							<p:row></p:row><div class="EmptyBox10"></div><p:row></p:row>
                                    
                            <p:outputLabel for="lockedBy" rendered="#{vacationView.vacation.lockedBy ne null}" value="#{msg.lbl_lockedBy}: " />
							<p:outputLabel id="lockedBy" value="#{vacationView.getUserFullName(vacationView.vacation.lockedBy)}"	/>
						    <p:graphicImage class ="Fright Fs30 circlesmallicon" rendered="#{vacationView.vacation.lockedBy ne null}" value="/images/#{empty vacationView.getUserImage(vacationView.vacation.lockedBy) ? 'default.jpg' : vacationView.getUserImage(vacationView.vacation.lockedBy)}"></p:graphicImage>
							
							<p:outputLabel for="lockedTime" rendered="#{vacationView.vacation.lockedTime ne null}" value="#{msg.lbl_lockedTime}: " />
							<p:outputLabel id="lockedTime" value="#{vacationView.vacation.lockedTime}"	>
							<f:convertDateTime type="both"  timeZone="#{sessionScope['USER_IN_CONTEXT'].timeZone}" />
							</p:outputLabel>
							<div class="EmptyBox10"></div>
							
							<p:row></p:row><div class="EmptyBox10"></div><p:row></p:row>
							<p:outputLabel for="unlockedBy" rendered="#{vacationView.vacation.unlockedBy ne null}" value="#{msg.lbl_unlockedBy}: " />
							<p:outputLabel id="unlockedBy" value="#{vacationView.getUserFullName(vacationView.vacation.unlockedBy)}  "	/>
							<p:graphicImage class ="Fright Fs30 circlesmallicon" rendered="#{vacationView.vacation.unlockedBy ne null}" value="/images/#{empty vacationView.getUserImage(vacationView.vacation.unlockedBy) ? 'default.jpg' : vacationView.getUserImage(vacationView.vacation.unlockedBy)}"></p:graphicImage>
	
							<p:outputLabel for="unlockedTime" rendered="#{vacationView.vacation.unlockedTime ne null}" value="#{msg.lbl_unlockedTime}: " />
							<p:outputLabel id="unlockedTime" value="#{vacationView.vacation.unlockedTime}"	>
							<f:convertDateTime type="both"  timeZone="#{sessionScope['USER_IN_CONTEXT'].timeZone}" />
							</p:outputLabel>
							 
						</p:panelGrid>
						 
				   </div>
			    </div>		
             </div>
         
    </ui:define>
 </ui:composition>
			                             