<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core" >
	<ui:define name="subheader">
        #{msg.hdr_employee}
    </ui:define>
    <ui:define name="content">
	 <f:event type="preRenderView" listener="#{employeeAddUpdate.preRenderView}" />
	 <f:metadata>
	   <f:viewAction action="#{employeeAddUpdate.onLoadAction}" />
	 </f:metadata>
	  <h:form id="form" enctype="multipart/form-data" >
	   <div id="user" class="Container100">
		 <div class="ContainerIndent">
		  <div class="Card ShadowEffect">
		    <div class="Container100 Responsive100 ui-fluid">
			  <div class="ContainerIndent">
				 <p:messages id="messages" globalOnly="true" showDetail="true"
					 autoUpdate="true" closable="true" escape="false" />
				 <p:panelGrid id="panel2" columns="3" style="border:1px !important; background:none;" styleClass="ui-panelgrid-blank ui-responsive">    
				    <p:commandButton value="#{msg.btn_save}" id="btnSave" icon="fa fa-save" 
					   actionListener="#{employeeAddUpdate.saveAction}" ajax="false" onstart="PF('blockUIForButtons').block()" oncomplete="PF('blockUIForButtons').unblock()" >
				    </p:commandButton>
				    <p:commandButton value="#{msg.btn_cancel}" id="btnCancel" icon="fa fa-close"
				 	   action="#{employeeAddUpdate.cancelAction}"
					   process="@this" />
				 </p:panelGrid>
						
				 <p:tabView id="pnl">
				   <p:tab title="#{msg.hdr_employee}">
					 <div class="Card SoftBlue ui-fluid"  >
					   <div class="Container50  Responsive50">
				         <div class="ContainerIndent " >
						    <p:panelGrid id="employee_dtl1" columns="2" layout="grid" style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank">
														
							<p:outputLabel for="identifier" value="#{msg.lbl_identifier}" rendered="#{employeeAddUpdate.showIdentifier eq 'true'}" />
							<p:outputLabel id="identifier" value="#{employeeAddUpdate.employee.identifier}"
							   required="true" disabled="true" rendered="#{employeeAddUpdate.showIdentifier eq 'true'}" />
                            
	        				<p:spacer style="height:5%;" rendered="#{employeeAddUpdate.showIdentifier eq 'true'}" />
	                        <p:spacer style="height:5%;" rendered="#{employeeAddUpdate.showIdentifier eq 'true'}"/>
	                        
	        				<p:outputLabel for="qualificationsId" value="#{msg.lbl_qualiMAId}" />
					   	    <p:selectCheckboxMenu id="qualificationsId" style="display: inline-block !important;vertical-align:top;"  scrollHeight="120" 
					   	    		value="#{employeeAddUpdate.qualificationsNameList}" filter="true" 
              	                   filterMatchMode="contains"  label="#{msg.lbl_select}" collectionType="java.util.ArrayList" required="true">	 
              	             <f:selectItems value="#{employeeAddUpdate.qualificationsList}" var="qualifications" itemValue="#{qualifications.id}" 
									   itemLabel="#{qualifications.qualificationName}" itemLabelEscaped="true"  />
			                    </p:selectCheckboxMenu> 							
							
							<!-- <p:spacer style="height:5%;" />
	                        <p:spacer style="height:5%;" />
							      
							<p:outputLabel for="northing" value="#{msg.lbl_northing}"  />							
							<p:inputMask id="northing" value="#{employeeAddUpdate.employee.northing}"  
							      disabled="#{employeeAddUpdate.employee.active eq 'N'}" placeholder="-85 to 85" > 
							</p:inputMask>   
							
							<p:spacer style="height:5%;" />
	                        <p:spacer style="height:5%;" />
							
							<p:outputLabel for="easting" value="#{msg.lbl_easting}"  />							
							<p:inputMask id="easting" value="#{employeeAddUpdate.employee.easting}" 
							      disabled="#{employeeAddUpdate.employee.active eq 'N'}" placeholder="-180 to 180">  
							</p:inputMask> -->
							      
							
				            
						</p:panelGrid>
					</div>
				</div>
				<div class="Container50  Responsive100">
				        <div class="ContainerIndent " >					  
						
						<p:panelGrid id="employee_dtl2" columns="2" layout="grid" style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank">	  
							
							<p:outputLabel for="employeeName" value="#{msg.lbl_employeeName}" />
             		         <p:selectOneMenu id="employeeName"  value="#{employeeAddUpdate.employee.firstName}" required="true">
						         <f:selectItem itemLabel="#{msg.lbl_select}" itemValue="" noSelectionOption="true" />
					           	 <f:selectItems value="#{employeeAddUpdate.userList}" var="user" itemValue="#{user.userId}"
							          itemLabel="#{employeeAddUpdate.getUserFullName(user.userId)}" itemLabelEscaped="true" />
					         </p:selectOneMenu>  
					         
						    <!--  <p:spacer style="height:5%;" />
	                        <p:spacer style="height:5%;" />
	                           	   
						   <p:outputLabel for="calendarId" value="#{msg.lbl_calendar}" />							
							<p:inputText id="calendarId" value="#{employeeAddUpdate.employee.calendarId}"
							   required="true" disabled="#{employeeAddUpdate.employee.active eq 'N'}" />	   
            				
            				<p:spacer style="height:5%;" />
	                        <p:spacer style="height:5%;" />
							      
							<p:outputLabel for="degreeOfLatitude" value="#{msg.lbl_degreeOfLatitude}"  />							
							<p:inputMask id="degreeOfLatitude" value="#{employeeAddUpdate.employee.degreeOfLatitude}" mask="99° 99' 99, 9''" 
							      disabled="#{employeeAddUpdate.employee.active eq 'N'}" placeholder="#{msg.lbl_latitude}"/>
            				
            				<p:spacer style="height:5%;" />
	                        <p:spacer style="height:5%;" />
            				
            				<p:outputLabel for="degreeOfLongitude" value="#{msg.lbl_degreeOfLongitude}"  />							
							<p:inputMask id="degreeOfLongitude" value="#{employeeAddUpdate.employee.degreeOfLongitude}" mask="99° 99' 99, 9''" 
							      disabled="#{employeeAddUpdate.employee.active eq 'N'}" placeholder="#{msg.lbl_longitude}"/> -->
							      
					     </p:panelGrid>
					    </div>
					   </div>
					   </div>
					 </p:tab>
				   </p:tabView> 
				 </div>
			   </div>
		     </div>
            <!-- <p:blockUI block="pnl" widgetVar="bui">LOADING<br /> 
   			   <p:graphicImage  value="/images/ajax-loader.gif"/>
		    </p:blockUI> -->
		    <pe:blockUI block="pnl" widgetVar="blockUIForButtons"   css="{top: '400px', left: '', right: '750px'}"  >  
				<h:panelGrid columns="1" style="text-align:center;">
					<h:graphicImage library="images"  value="/images/ajax-loader.gif"/>
					<h:outputText value="#{msg.lbl_loading}"/>  
					<div class="EmptyBox10"></div>
				</h:panelGrid>
			</pe:blockUI> 
	    </div>
	   </div>
	 </h:form>	
   </ui:define>
 </ui:composition>