<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui">
<ui:define name="subheader">
        #{msg.hdr_dashboard}
    </ui:define>
	<ui:define name="content">
	<f:event type="preRenderView" listener="#{dashboardMBean.preRenderView}" />
		<f:metadata>
			<f:viewAction action="#{dashboardMBean.onLoadAction}" />
		</f:metadata>
		<div class="Container100">
            <div class="ContainerIndent">
                <div class="Card ShadowEffect HeiAutoOnMobile">
                    <div class="Container100  Responsive100">
                     <div class="ContainerIndent">
		<h:form>
		<p:dataGrid value="#{dashboardMBean.mainModules}" var="menuLayout" layout="grid" columns="3">
			<p:panel header="#{msg['menuLbl_'+=menuLayout.pageDesc]}"  toggleable="true">
				<h:panelGrid columns="1" style="width:100%">
				
				<h:outputLink value="#{request.contextPath}#{menuLayout.url}">
					<h:graphicImage value="/images/#{menuLayout.imageName}" height="128" width="128" />
				</h:outputLink>
				
				</h:panelGrid>
			</p:panel>   
		</p:dataGrid>
		</h:form>
		</div></div></div></div>
		</div>
	</ui:define>
	
</ui:composition>