<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core" >
	<ui:define name="subheader">
        #{msg.hdr_tour}
    </ui:define>
    <ui:define name="content">
	  <f:event type="preRenderView" listener="#{tourAddUpdate.preRenderView}" />
	  <f:metadata>
		<f:viewAction action="#{tourAddUpdate.onLoadAction}" />
	  </f:metadata>
	  <h:form id="tourAddUpdateForm" enctype="multipart/form-data" >
	   <div id="user" class="Container100">
		<div class="ContainerIndent">
		  <div class="Card ShadowEffect">
		    <div class="Container100 Responsive100 ui-fluid">
			  <div class="ContainerIndent">
				  <p:messages id="messages" globalOnly="true" showDetail="true"
					  autoUpdate="true" closable="true" escape="false" />
				   <p:panelGrid id="savePnl" columns="3" style="border:1px !important; background:none;" styleClass="ui-panelgrid-blank ui-responsive">    
				      <p:commandButton value="#{msg.btn_save}" id="btnSave" icon="fa fa-save" process="@form" update ="@form"
					     actionListener="#{tourAddUpdate.saveAction}" onclick=" PF('bui').show() " >
				      </p:commandButton>
				      <p:commandButton value="#{msg.btn_cancel}" id="btnCancel" icon="fa fa-close"
				 	  action="#{tourAddUpdate.cancelAction}"
					  process="@this" />
				   </p:panelGrid>
						
				   <p:tabView id="tabView" >
					 <p:tab title="#{msg.hdr_tour}" titleStyle="background-color: #FFFFFF;height:55px;">
					  <div class="Card SoftBlue ui-fluid"  >
					     <div class="Container100  Responsive100">
				           <div class="ContainerIndent " >
						    <p:panelGrid id="tour" columns="4" columnClasses="ui-grid-col-1,ui-grid-col-3,ui-grid-col-5,ui-grid-col-3" layout="grid" style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank">
								<p:row rendered="#{tourAddUpdate.showIdentifier eq 'true'}"></p:row>
								<p:outputLabel for="identifier" value="#{msg.lbl_identifier}" rendered="#{tourAddUpdate.showIdentifier eq 'true'}" />
								<p:outputLabel id="identifier" value="#{tourAddUpdate.tour.identifier}"
								    disabled="true" rendered="#{tourAddUpdate.showIdentifier eq 'true'}" />
								<p:row rendered="#{tourAddUpdate.showIdentifier eq 'true'}"></p:row>
	                            
	                            <p:spacer/>
	                            <p:spacer/>
	                            <p:spacer/>
	                            <p:spacer/>
	                            
	                            <p:row></p:row>
		        			    <p:outputLabel for="name" value="#{msg.lbl_name}"  />							
								<p:inputText id="name" value="#{tourAddUpdate.tour.name}" required="true" disabled="#{tourAddUpdate.tour.active eq 'N'}" />
								<p:row></p:row>
								
								<p:spacer/>
	                            <p:spacer/>
	                            <p:spacer/>
	                            <p:spacer/>
				                
				                <p:row></p:row>
				                <p:outputLabel for="dueDate" value="#{msg.lbl_tourDate}" />
								<p:calendar id="dueDate" value="#{tourAddUpdate.tour.tourDate}" converter="dateConverter" 
									pattern="#{CommonConstants.APP_DATE_FORMAT}" mask="true" mindate="dobWidget.today()" widgetVar="dobWidget" 
									required="true" />
				                <p:row></p:row>
				                
				                <p:spacer/>
	                            <p:spacer/>
	                            <p:spacer/>
	                            <p:spacer/>
				                
				                <p:row></p:row>
		        			    <p:outputLabel for="korfmannPlace" value="#{msg.lbl_korfName}"  /> 	
								<p:selectOneMenu id="korfmannPlace" value="#{tourAddUpdate.tour.korfmannOfficeLocation}" required="true" disabled="#{tourAddUpdate.tour.active eq 'N'}" > 
				                   <f:selectItem itemLabel="#{msg.lbl_select}" itemValue=""  noSelectionOption="true" />
				                   <f:selectItems value="#{tourAddUpdate.korfmannLocationList}" var="korfmann" itemLabel="#{korfmann.name}" itemValue="#{korfmann.identifier}" />
				                </p:selectOneMenu>  
								<p:row></p:row> 
								
								<p:spacer/>
	                            <p:spacer/>
	                            <p:spacer/>
	                            <p:spacer/>
				                
				                <p:row></p:row> 	
		        			    <p:outputLabel for="employee" value="#{msg.hdr_employee}" />							
	            				 <p:selectOneMenu id="employee" value="#{tourAddUpdate.tour.employee}" required="true"> 
				                   <f:selectItem itemLabel="#{msg.lbl_select}" itemValue=""  noSelectionOption="true"/>
				                   <f:selectItems value="#{tourAddUpdate.employeeList}" var="employee" itemLabel="#{tourAddUpdate.getUserFullName(employee.firstName)}" itemValue="#{employee.identifier}" />
				                   <p:ajax event="change" process="@this" update="tourFacility" listener="#{tourAddUpdate.getFilteredFaciltiesList}"/> 
				                </p:selectOneMenu>  
            					 <p:row></p:row>
            				 </p:panelGrid>
            				 
            				<div class="EmptyBox10" />
            				 
            				 <p:panelGrid id="tourFacility" columns="3" columnClasses="ui-grid-col-1,ui-grid-col-3,ui-grid-col-8" layout="grid" style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank">
            					<p:row></p:row>  
            					<p:outputLabel for="facilities" value="#{msg.hdr_facilities}" />
            					<p:pickList id="facilities" value="#{tourAddUpdate.facilityPickList}" var="facility" style="text-align: -webkit-left;"
							        itemLabel="#{facility.name}" itemValue="#{facility}" required="true" responsive="true" converter="#{tourFacilityConverter}"
                                    showSourceFilter="true" showTargetFilter="true" filterMatchMode="contains" >
                                 </p:pickList>
					       </p:panelGrid>
					      </div>
					     </div>
					   </div>
					   </p:tab>
				     </p:tabView>
				   </div>
			     </div>
		      </div>
			             <p:blockUI block="tabView" widgetVar="bui">LOADING<br /> 
       			           <p:graphicImage  value="/images/ajax-loader.gif"/>
    		             </p:blockUI>
    		             
    		             
		   </div>
		 </div>
	  </h:form>	
   </ui:define>
 </ui:composition>