<ui:composition template="/WEB-INF/templates/template.xhtml"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:pe="http://primefaces.org/ui/extensions"
     xmlns:p="http://primefaces.org/ui"
     xmlns:c="http://java.sun.com/jstl/core">
    <ui:define name="subheader">
         #{msg.hdr_tour}
    </ui:define>
    <ui:define name="content">
       <f:event type="preRenderView" listener="#{tourView.preRenderView}" />
       <f:metadata>
           <f:viewAction action="#{tourView.onLoadAction}"/>
       </f:metadata> 
       <div class="Container70 Responsive100">
		 <div class="ContainerIndent">
			<div class="Card ShadowEffect ">
			  <div class="Container100 Responsive100">
				<div class="ContainerIndent">
                <h:form id="tourViewForm" enctype="multipart/form-data">   
                  <p:messages id="messages" globalOnly="true" showDetail="true"
				     autoUpdate="true" closable="true" escape="false" />

			        <div class="ui-widget ui-widget-header ui-corner-all ui-helper-clearfix">
			          <div class="ui-toolbar-group-left">
			 
			             <p:commandButton  value="#{msg.btn_edit}" id="btnEdit" icon="fa fa-pencil" 
			                action="#{tourView.editAction(tourView.tour.identifier)}" rendered="#{tourView.tour.active eq 'Y'}" />
			             <p:commandButton  value="#{msg.btn_cancel}" id="btnCancel" icon="fa fa-close" 
			                action="#{tourView.cancelAction}" process="@this" />
			             <span class="ui-separator">
                           <span class="fa fa-ellipsis-v SoftGray"></span>
                         </span>
			             <p:commandButton id="lock" icon="fa fa-lock" process="@form" 
			                actionListener="#{tourView.lockViewedTour(tourView.tour.identifier)}"
				            title="#{msg.lbl_lockTour}" rendered="#{tourView.tour.active eq 'Y'}" />
			             <p:commandButton id="unlock" icon="fa fa-unlock" process="@form" 
			                actionListener="#{tourView.unlockViewedTour(tourView.tour.identifier)}"
				            title="#{msg.lbl_unlockTour}" rendered="#{tourView.tour.active eq 'N'}" />
                      </div>
                      <div class="ui-toolbar-group-right">
                         <p:commandButton  id="cmd" title="pdf" icon="fa fa-file-pdf-o" ajax="false" process="@this" action="#{tourView.createPDF(tourView.tour.identifier)}" immediate="true">
                         </p:commandButton>
                                               
                      	<p:commandButton id="showRoutePlan" icon="fa fa-car" action="#{tourView.showMapTourAction(tourView.tour.identifier)}"
				            rendered="#{tourView.tour.active eq 'Y'}" title="#{msg.btn_route_show}">
			             </p:commandButton>
                      
                         <p:commandButton id="delete" icon="fa fa-trash-o" process="@form" 
                            action="#{tourView.deleteViewedTour(tourView.tour.identifier)}"
				            rendered="#{tourView.tour.active eq 'N'}" title="#{msg.lbl_deleteTour}">
			                <p:confirm header="#{msg.confirmation}" message="#{msg.delete_sure}" icon="ui-icon-alert" />
			             </p:commandButton>
				         <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                             <p:commandButton value="#{msg.btn_yes}" type="button" styleClass="ui-confirmdialog-yes "
                                icon="ui-icon-check fa fa-check Fs14 White" />
                              <p:commandButton value="#{msg.btn_no}" type="button" styleClass="ui-confirmdialog-no "
                                icon="ui-icon-close fa fa-close Fs14 White" />
                         </p:confirmDialog>
                      </div>
                   </div>  
			                             
		            <p:tabView id="tabView" >
					 <p:tab title="#{msg.hdr_tour}" titleStyle="background-color: #FFFFFF;height:55px;">
					  <div class="Card SoftBlue ui-fluid"  >
					     <div class="Container100  Responsive100">
				           <div class="ContainerIndent " >
						     <p:panelGrid id="tour" columns="3" columnClasses="ui-grid-col-3,ui-grid-col-3,ui-grid-col-6" layout="grid" style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank">
								<div class = "EmptyBox10"></div>  
								<p:outputLabel for="identifier" value="#{msg.lbl_tour_id}" />
								<p:outputLabel id="identifier" value="#{tourView.tour.identifier}" />
								
								<div class = "EmptyBox10"></div>
		        			    <p:outputLabel for="name" value="#{msg.lbl_name}" />							
								<p:outputLabel id="name" value="#{tourView.tour.name}" />
								
								<div class = "EmptyBox10"></div>
								<p:outputLabel for="dueDate" value="#{msg.lbl_tourDate}" />
								<p:outputLabel id="dueDate"  value="#{tourView.tour.tourDate}" >
									<f:convertDateTime pattern="#{CommonConstants.APP_DATE_FORMAT}"  />
								</p:outputLabel>
								
	            				 <div class = "EmptyBox10"></div> 	
		        			    <p:outputLabel for="employee" value="#{msg.hdr_employee}" />
		        			    <p:outputLabel id="employee" value="#{tourView.returnEmployeeName(tourView.tour.employee) != null and not empty tourView.tour.employee ? 
		        			    										tourView.returnEmployeeName(tourView.tour.employee) : ''}" />							
            					
            					<p:row></p:row>  
            					<p:outputLabel for="korfLocation" value="#{msg.lbl_korfName}" />
            					<p:outputLabel id="korfLocation" value="#{tourView.returnKorfmannLocationName(tourView.tour.korfmannOfficeLocation) != null ? tourView.returnKorfmannLocationName(tourView.tour.korfmannOfficeLocation) : ''}" />
	            				
					       </p:panelGrid>
					       <div class="EmptyBox10" />
					       <p:dataTable var="facility" value="#{tourView.selectedFacilitysList}" rowIndexVar="rowIndex"
													emptyMessage="#{msg.table_empty_msg}"
													tableStyle="table-layout: auto;">
													
									<p:column headerText="#{msg.hdr_facilities}">					
								    <p:commandLink id="name" class="MarRight10" ajax="false"
																onclick="PF('bui').show()" value="#{facility.name}"
																action="#{tourView.viewFacilityAction(facility.identifier)}"
																target="_blank" />
									</p:column>							
								 
								    <p:column headerText="#{msg.menuLbl_Aufgaben}">
								        <h:outputText value="#{facility.maintenanceActId}" />
								    </p:column>
							</p:dataTable>
					       
					      </div>
					     </div>
					    </div>
				      </p:tab>   
				   </p:tabView>      
			     </h:form>
		       </div>
             </div>
           </div>
        </div>
     </div>
	   <div class="Container30 Responsive100">
		 <div class="ContainerIndent">
		   <div class="Card ShadowEffect HeiAutoOnMobile">
			 <h2 class="CardTopic"><i class="icon-info"></i>#{msg.hdr_info}</h2>
			  <div class="EmptyBox10"></div>
				<div class="SeparatorFull"></div>
                  <div class="EmptyBox10"></div>
					
						  <p:panelGrid columns="3" layout="grid" columnClasses="ui-grid-col-5,ui-grid-col-6,ui-grid-col-1" style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank" >
							<p:outputLabel for="createBy" value="#{msg.lbl_createdBy}: " />
							<p:outputLabel id="createBy" value="#{tourView.getUserFullName(tourView.tour.createBy)}"	/>
                            <p:graphicImage  class ="Fright Fs30 circlesmallicon" value="/images/#{empty tourView.getUserImage(tourView.tour.createBy) ? 'default.jpg' : tourView.getUserImage(tourView.tour.createBy)}"/>

							        
							<p:outputLabel for="createTime" value="#{msg.lbl_createdOn}: " />
							<p:outputLabel id="createTime" value="#{tourView.tour.createTime}">
							   <f:convertDateTime type="both"  timeZone="#{sessionScope['USER_IN_CONTEXT'].timeZone}" />
					        </p:outputLabel>
                            <div class="EmptyBox10"></div>
                            
                            <p:row></p:row><div class="EmptyBox10"></div><p:row></p:row>
                                    
							<p:outputLabel for="updateBy" value="#{msg.lbl_lastUpdatedBy}: " />
							<p:outputLabel id="updateBy" value="#{tourView.getUserFullName(tourView.tour.updateBy)}"	/>
                            <p:graphicImage class ="Fright Fs30 circlesmallicon" rendered="#{tourView.tour.updateBy ne null}" value="/images/#{empty tourView.getUserImage(tourView.tour.updateBy) ? 'default.jpg' : tourView.getUserImage(tourView.tour.updateBy)}"/>

							        
							<p:outputLabel for="updateTime" value="#{msg.lbl_lastUpdatedOn}: " />
							<p:outputLabel id="updateTime" value="#{tourView.tour.updateTime}">
							   <f:convertDateTime type="both"  timeZone="#{sessionScope['USER_IN_CONTEXT'].timeZone}" />
					        </p:outputLabel>
                            <div class="EmptyBox10"></div>
							
							<p:row></p:row><div class="EmptyBox10"></div><p:row></p:row>
                                    
                            <p:outputLabel for="lockedBy" rendered="#{tourView.tour.lockedBy ne null}" value="#{msg.lbl_lockedBy}: " />
							<p:outputLabel id="lockedBy" value="#{tourView.getUserFullName(tourView.tour.lockedBy)}"	/>
						    <p:graphicImage class ="Fright Fs30 circlesmallicon" rendered="#{tourView.tour.lockedBy ne null}" value="/images/#{empty tourView.getUserImage(tourView.tour.lockedBy) ? 'default.jpg' : tourView.getUserImage(tourView.tour.lockedBy)}"></p:graphicImage>
							
							<p:outputLabel for="lockedTime" rendered="#{tourView.tour.lockedTime ne null}" value="#{msg.lbl_lockedTime}: " />
							<p:outputLabel id="lockedTime" value="#{tourView.tour.lockedTime}"	>
							<f:convertDateTime type="both"  timeZone="#{sessionScope['USER_IN_CONTEXT'].timeZone}" />
							</p:outputLabel>
							<div class="EmptyBox10"></div>
							
							<p:row></p:row><div class="EmptyBox10"></div><p:row></p:row>
							<p:outputLabel for="unlockedBy" rendered="#{tourView.tour.unlockedBy ne null}" value="#{msg.lbl_unlockedBy}: " />
							<p:outputLabel id="unlockedBy" value="#{tourView.getUserFullName(tourView.tour.unlockedBy)}  "	/>
							<p:graphicImage class ="Fright Fs30 circlesmallicon" rendered="#{tourView.tour.unlockedBy ne null}" value="/images/#{empty tourView.getUserImage(tourView.tour.unlockedBy) ? 'default.jpg' : tourView.getUserImage(tourView.tour.unlockedBy)}"></p:graphicImage>
	
							<p:outputLabel for="unlockedTime" rendered="#{tourView.tour.unlockedTime ne null}" value="#{msg.lbl_unlockedTime}: " />
							<p:outputLabel id="unlockedTime" value="#{tourView.tour.unlockedTime}"	>
							<f:convertDateTime type="both"  timeZone="#{sessionScope['USER_IN_CONTEXT'].timeZone}" />
							</p:outputLabel>
							 
						</p:panelGrid>
						 
				   </div>
			    </div>		
             </div>
         
    </ui:define>
 </ui:composition>
			                             