<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui">
	<ui:define name="subheader">
        #{msg.hdr_category}
    </ui:define>
	<ui:define name="content">
		<f:event type="preRenderView" listener="#{categoryView.preRenderView}" />
		<f:metadata>
           <f:viewAction action="#{categoryView.onLoadAction}"/>
     	</f:metadata>
     	<div id="user" class="Container100">
				<div class="ContainerIndent">
				<div class="Card ShadowEffect">
					<div class="Container100 Responsive100 ui-fluid">
						<div class="ContainerIndent">
		                     <h:form id="form">
			                      <p:messages id="messages" globalOnly="true" showDetail="true"
				                     autoUpdate="true" closable="true" escape="false" />
				                     <p:panelGrid id="panel2" columns="3" style="border:1px !important; background:none;"
											styleClass="ui-panelgrid-blank ui-responsive">
			                                 <p:commandButton value="#{msg.btn_save}" id="btnSave" icon="fa fa-save"
				                                actionListener="#{categoryView.saveAction}" process="@form" update="form" onstart="PF('blockUIForButtons').block()"/>
			                                 <p:commandButton value="#{msg.btn_cancel}" id="btnCancel" icon="fa fa-close"
				                                action="#{categoryView.cancelAction}" process="@this"/>
				                      </p:panelGrid>
			
			   <p:tabView id="pnl">
				  <p:tab title="#{msg.hdr_categoryAdd}">
					  <p:panelGrid columns="4" layout="grid" style="border:0px !important; background:none;">
            					
            					<div class="EmptyBox20"></div>
            					<p:outputLabel for="category" value="#{msg.lbl_categoryName}" />
            					<p:inputText id="category" value="#{categoryView.category.name}" required="true"
									requiredMessage="#{msg.err_cate_category}" /> 
								<p:message for="category" display="text" showDetail="true" autoUpdate="true" escape="false" />
							
						</p:panelGrid>
				   </p:tab>
			  </p:tabView>
			  <!-- <p:blockUI block="pnl" widgetVar="bui">#{msg.lbl_loading}<br /> 
       			<p:graphicImage  value="/images/ajax-loader.gif"/>
    		</p:blockUI> -->
    		
    		<pe:blockUI block="pnl" widgetVar="blockUIForButtons"   css="{top: '400px', left: '', right: '750px'}"  >  
			<h:panelGrid columns="1" style="text-align:center;">
				<h:graphicImage library="images"  value="/images/ajax-loader.gif"/>
				<h:outputText value="#{msg.lbl_loading}"/>  
				<div class="EmptyBox10"></div>
			</h:panelGrid>
			</pe:blockUI>
    		
    		
		    </h:form>
	     </div>
	   </div>
	  </div>
	 </div>
    </div>
  </ui:define>
 </ui:composition>