<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui">
	<ui:define name="subheader">
        #{msg.hdr_category}
    </ui:define>
	<ui:define name="content">

		<f:event type="preRenderView" listener="#{categoryView.preRenderView}" />
		<f:metadata>
			<f:viewAction action="#{categoryView.onLoadAction}" />
		</f:metadata>
         <div class="Container100">
            <div class="ContainerIndent">
                <div class="Card ShadowEffect">
                    <div class="Container100  Responsive100">
                     <div class="ContainerIndent">
                        <h2 class="TexAlCenter BigTopic"> #{msg.hdr_categorylist}</h2>
		                    <h:form id="categoryListForm">
			                    <p:messages id="messages" globalOnly="true" showDetail="true"
				                   autoUpdate="true" closable="true" escape="false" />
				                   <div class="ui-widget ui-widget-header ui-corner-all ui-helper-clearfix"><div class="ui-toolbar-group-left">
				                           <p:commandButton value="#{msg.btn_add}" id="btnAdd" icon="fa fa-plus"
					                          action="#{categoryView.addAction}" onstart="PF('blockUIForButtons').block()"/>
				                           <p:commandButton value="#{msg.btn_show_act_cat}" id="btnShowAct"
					                          actionListener="#{categoryView.showActive}"
					                          disabled="#{categoryView.showActiveListBtn eq 'false'}"
					                          process="@this" update="categoryListForm" onstart="PF('blockUIForButtons').block()" 
					                          oncomplete="PF('listTableWidgetVar').clearFilters(), PF('blockUIForButtons').unblock()">
				                           </p:commandButton>
				                           <p:commandButton value="#{msg.btn_show_inact_cat}" id="btnShowInact"
					                          actionListener="#{categoryView.showInactive}"
					                          disabled="#{categoryView.showActiveListBtn eq 'true'}"
					                          process="@this" update="categoryListForm" onstart="PF('blockUIForButtons').block()" 
					                          oncomplete="PF('listTableWidgetVar').clearFilters(), PF('blockUIForButtons').unblock()">
				                           </p:commandButton>
				                           <span class="ui-separator">
                                                 <span class="fa fa-ellipsis-v SoftGray"></span>
                                           </span>
				                           <p:commandButton id="lock" icon="fa fa-lock" process="@form"
					                          actionListener="#{categoryView.lockAction}" title="#{msg.lbl_lockCat}"
					                          rendered="#{categoryView.showActivateBtn eq 'false'}" onstart="PF('blockUIForButtons').block()" 
					                          oncomplete="PF('listTableWidgetVar').clearFilters(), PF('blockUIForButtons').unblock()"/>
				                           <p:commandButton id="unlock" icon="fa fa-unlock" process="@form"
					                          actionListener="#{categoryView.unlockAction}" title="#{msg.lbl_unlockCat}"
					                          rendered="#{categoryView.showActivateBtn eq 'true'}" onstart="PF('blockUIForButtons').block()" 
					                          oncomplete="PF('listTableWidgetVar').clearFilters(), PF('blockUIForButtons').unblock()" />
				                           </div>
                                               <div class="ui-toolbar-group-right">
				                           <p:commandButton id="delete" icon="fa fa-trash" process="@form" title="#{msg.lbl_deleteCat}"
					                          actionListener="#{categoryView.deleteAction}"
					                          rendered="#{categoryView.showActivateBtn eq 'true'}" onstart="PF('blockUIForButtons').block()" 
					                          oncomplete="PF('listTableWidgetVar').clearFilters(), PF('blockUIForButtons').unblock()" >
					                       <p:confirm header="#{msg.confirmation}" message="#{msg.delete_sure}" icon="ui-icon-alert" />
			                               </p:commandButton>
			                               <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                                                <p:commandButton value="#{msg.btn_yes}" type="button" styleClass="ui-confirmdialog-yes " icon="ui-icon-check fa fa-check Fs14 White" />
                                                <p:commandButton value="#{msg.btn_no}" type="button" styleClass="ui-confirmdialog-no " icon="ui-icon-close fa fa-close Fs14 White" />
                                           </p:confirmDialog>
			                             </div>
                                   </div>
                                   
			<p:dataTable id="listTable" var="categories" selection="#{categoryView.selectedDocs}" value="#{categoryView.categoryList}" 
			    rowsPerPageTemplate="#{sessionScope['USER_IN_CONTEXT'].actualDisplayRowsSize}"
				rows="#{sessionScope['USER_IN_CONTEXT'].displayRowsSize}"
				currentPageReportTemplate="#{msg.lbl_showing} {startRecord}-{endRecord} #{msg.lbl_outOf} {totalRecords}"
				rowKey="#{categories.id}" emptyMessage="#{msg.table_empty_msg}" 	widgetVar="listTableWidgetVar" 
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				paginator="true"  paginatorPosition="bottom" 	rowIndexVar="rowIndex" 
				filteredValue="#{categoryView.filteredCategoryList}"
				reflow="true" tableStyle="table-layout: auto;">
				<f:facet name="header">
				<div style="height: 50px;">
				<table id="filter" style="margin-top: -15px;">
					<tr>
						<td align="left">
							<p:inputText id="globalFilter"
							onkeyup="PF('listTableWidgetVar').filter()"
							placeholder="#{msg.lbl_search}" style="width:75%"/>
						</td>
						
						<td align="right">
						 <p:commandButton id="toggler" type="button" class="GrayButton"
							icon="fa fa-calculator" title="#{msg.btn_columns}"/>
							<p:ajax event="page" oncomplete="updateToggles(PF('columnToggler'))" />
						<p:columnToggler widgetVar="columnToggler" datasource="listTable" trigger="toggler" style="width:100%">
						 <p:ajax event="toggle" listener="#{categoryView.onToggle}" />
						 </p:columnToggler>
						</td>
					</tr>
				</table>
			    </div>	
				</f:facet>
			        
			                   <p:column  selectionMode="multiple" headerText="#{msg.lbl_select}" 
				                  value="#{categories.checked}" style="width:54px;" class="TexAlCenter text-top" visible="#{categoryView.togglerList[0]}">
				               </p:column>
				               <p:column headerText="#{msg.lbl_categoryName}" sortBy="#{categories.name}" filterMatchMode="contains"
					              filterBy="#{categories.name}" visible="#{categoryView.togglerList[1]}" >
					           <p:commandLink id="name" class="MarRight10" onstart="PF('blockUIForButtons').block()" value="#{categories.name}" 
					           action="#{categoryView.viewAction(categories.id)}"  />
					           <p:commandLink id="idNewTab" action="#{categoryView.viewAction(categories.id)}" ajax="false" target="_blank" onstart="PF('blockUIForButtons').block()">
				               <i class="icon-tab Fs22 bottom" title="#{msg.lbl_opennewtab}"></i>
				               </p:commandLink>
				               </p:column>
				               
			   </p:dataTable>
			<!-- <p:blockUI block="listTable"  widgetVar="bui"/>
			<p:blockUI block="listTable" class="spinner" trigger="listTable, btnAdd">
       		<p:graphicImage class="spinner" value="/images/ajax-loader.gif"/>
		    </p:blockUI>   --> 
		    
		    <pe:blockUI block="listTable" widgetVar="blockUIForButtons"   css="{top: '400px', left: '', right: '750px'}"  >  
			<h:panelGrid columns="1" style="text-align:center;">
				<h:graphicImage library="images"  value="/images/ajax-loader.gif"/>
				<h:outputText value="#{msg.lbl_loading}"/>  
				<div class="EmptyBox10"></div>
			</h:panelGrid>
			</pe:blockUI>
		</h:form>
		</div>
		</div>
		</div>
		</div>
		</div>
	</ui:define>
</ui:composition>