<ui:composition template="/WEB-INF/templates/template.xhtml"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:pe="http://primefaces.org/ui/extensions"
     xmlns:p="http://primefaces.org/ui"
     xmlns:c="http://java.sun.com/jstl/core">
    <ui:define name="subheader">
        #{msg.hdr_category}
    </ui:define>
    <ui:define name="content">
       <f:event type="preRenderView" listener="#{categoryView.preRenderView}" />
       <f:metadata>
           <f:viewAction action="#{categoryView.onLoadAction}"/>
       </f:metadata>
       <div class="Container70 Responsive100">
			<div class="ContainerIndent">
				<div class="Card ShadowEffect ">
					<div class="Container100 Responsive100">
						<div class="ContainerIndent">
                               <h:form id="CategoryListForm" enctype="multipart/form-data">   
                                    <p:messages id="messages" globalOnly="true" showDetail="true"
				                       autoUpdate="true" closable="true" escape="false" />

			                             <div class="ui-widget ui-widget-header ui-corner-all ui-helper-clearfix"><div class="ui-toolbar-group-left">
			 
			                                  <p:commandButton  value="#{msg.btn_edit}" id="btnEdit" icon="fa fa-pencil" 
			                                     action="#{categoryView.editAction(categoryView.category.id)}" rendered= "#{categoryView.category.active eq 'Y'}"/>
			                                  <p:commandButton  value="#{msg.btn_cancel}" id="btnCancel" icon="fa fa-close" 
			                                     action="#{categoryView.cancelAction}" process="@this" />
			                                  <span class="ui-separator">
                                                    <span class="fa fa-ellipsis-v SoftGray"></span>
                                               </span>
			                                  <p:commandButton id="lock" icon="fa fa-lock" process="@form" 
			                                     actionListener="#{categoryView.lockViewedCategory(categoryView.category.id)}"
				                                 title="#{msg.lbl_lockCat}" rendered="#{categoryView.category.active eq 'Y'}"/>
			                                  <p:commandButton id="unlock" icon="fa fa-unlock" process="@form" 
			                                     actionListener="#{categoryView.unlockViewedCategory(categoryView.category.id)}"
				                                 title="#{msg.lbl_unlockCat}" rendered="#{categoryView.category.active eq 'N'}"/>
                                              </div>
                               	              <div class="ui-toolbar-group-right">
                                              <p:commandButton id="delete" icon="fa fa-trash-o" process="@form" 
                                                 action="#{categoryView.deleteViewedCategory(categoryView.category.id)}"
				                                 rendered="#{categoryView.category.active eq 'N'}" title="#{msg.lbl_deleteCat}">
			                                     <p:confirm header="#{msg.confirmation}" message="#{msg.delete_sure}" icon="ui-icon-alert" />
			                                  </p:commandButton>
				                              <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                                                  <p:commandButton value="#{msg.btn_yes}" type="button" styleClass="ui-confirmdialog-yes "
                                                      icon="ui-icon-check fa fa-check Fs14 White" />
                                                  <p:commandButton value="#{msg.btn_no}" type="button" styleClass="ui-confirmdialog-no "
                                                      icon="ui-icon-close fa fa-close Fs14 White" />
                                              </p:confirmDialog>
                                              
			                             </div>
			                             </div>
			                             
			             <p:tabView>
				                 <p:tab title="#{msg.hdr_categoryData}">
				                       <p:panelGrid columns="4" layout="grid" style="border:0px !important; background:none;">
				                       
				                              <div class="EmptyBox20"></div>
				                              <p:outputLabel for="category" value="#{msg.lbl_categoryName}" />
				                              <p:outputLabel id="category" value="#{categoryView.category.name}" required="true" disabled="true"/>
									          <p:message for="category" display="text" showDetail="true" autoUpdate="true" escape="false"/>   
									   
									    </p:panelGrid>
            	          	     </p:tab>
	                    </p:tabView>
	               </h:form>
                 </div>
             </div>
            </div>
		  </div>
		 </div>
            <div class="Container30 Responsive100">
						<div class="ContainerIndent">
						<div class="Card ShadowEffect HeiAutoOnMobile">
						<h2 class="CardTopic" ><i class="icon-info"></i>#{msg.hdr_info}</h2><div class="EmptyBox10"></div>
						   <div class="SeparatorFull"></div>
                        <div class="EmptyBox10"></div>
						     <p:panelGrid columns="3" layout="grid" columnClasses="ui-grid-col-5,ui-grid-col-6,ui-grid-col-1" style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank" >
									
									<p:outputLabel for="createBy" value="#{msg.lbl_createdBy}: " />
							        <p:outputLabel id="createBy" value="#{categoryView.getUserFullName(categoryView.category.createBy)}"	/>
                                    <p:graphicImage  class ="Fright Fs30 circlesmallicon" value="/images/#{empty categoryView.getUserImage(categoryView.category.createBy) ? 'default.jpg' : categoryView.getUserImage(categoryView.category.createBy)}"></p:graphicImage>
							        
							        <p:outputLabel for="createTime" value="#{msg.lbl_createdOn}: " />
							        <p:outputLabel id="createTime" value="#{categoryView.category.createTime}">
							        <f:convertDateTime type="both"  timeZone="#{sessionScope['USER_IN_CONTEXT'].timeZone}" />
							        </p:outputLabel>
                                    <div class="EmptyBox10"></div>
                                    
                                    <p:row></p:row><div class="EmptyBox10"></div><p:row></p:row>
                                    
							        <p:outputLabel for="updateBy" value="#{msg.lbl_lastUpdatedBy}: " />
							        <p:outputLabel id="updateBy" value="#{categoryView.getUserFullName(categoryView.category.updateBy)}"	/>
                                    <p:graphicImage class ="Fright Fs30 circlesmallicon" value="/images/#{empty categoryView.getUserImage(categoryView.category.updateBy) ? 'default.jpg' : categoryView.getUserImage(categoryView.category.updateBy)}"></p:graphicImage>
							        
							        <p:outputLabel for="updateTime" value="#{msg.lbl_lastUpdatedOn}: " />
							        <p:outputLabel id="updateTime" value="#{categoryView.category.updateTime}">
							        <f:convertDateTime type="both"  timeZone="#{sessionScope['USER_IN_CONTEXT'].timeZone}" />
							        </p:outputLabel>
                                    <div class="EmptyBox10"></div>
                                    
                                    <p:row></p:row><div class="EmptyBox10"></div><p:row></p:row>
                                    
                                    <p:outputLabel for="lockedBy" rendered="#{categoryView.category.lockedBy ne null}" value="#{msg.lbl_lockedBy}: " />
							        <p:outputLabel id="lockedBy" rendered="#{categoryView.category.lockedBy ne null}" value="#{categoryView.getUserFullName(categoryView.category.lockedBy)}"	/>
							        <p:graphicImage class ="Fright Fs30 circlesmallicon" rendered="#{categoryView.category.lockedBy ne null}" value="/images/#{empty categoryView.getUserImage(categoryView.category.lockedBy) ? 'default.jpg' : categoryView.getUserImage(categoryView.category.lockedBy)}"></p:graphicImage>
							
							        <p:outputLabel for="lockedTime" rendered="#{categoryView.category.lockedTime ne null}" value="#{msg.lbl_lockedTime}: " />
							        <p:outputLabel id="lockedTime" rendered="#{categoryView.category.lockedTime ne null}" value="#{categoryView.category.lockedTime}"	>
							        <f:convertDateTime type="both"  timeZone="#{sessionScope['USER_IN_CONTEXT'].timeZone}" />
							        </p:outputLabel>
							        <div class="EmptyBox10"></div>
							
							        <p:row></p:row><div class="EmptyBox10"></div><p:row></p:row>
														
							        <p:outputLabel for="unlockedBy" rendered="#{categoryView.category.unlockedBy ne null}" value="#{msg.lbl_unlockedBy}: " />
							        <p:outputLabel id="unlockedBy" rendered="#{categoryView.category.unlockedBy ne null}" value="#{categoryView.getUserFullName(categoryView.category.unlockedBy)}  "	/>
							        <p:graphicImage class ="Fright Fs30 circlesmallicon" rendered="#{categoryView.category.unlockedBy ne null}" value="/images/#{empty categoryView.getUserImage(categoryView.category.unlockedBy) ? 'default.jpg' : categoryView.getUserImage(categoryView.category.unlockedBy)}"></p:graphicImage>
							
							        <p:outputLabel for="unlockedTime" rendered="#{categoryView.category.unlockedTime ne null}" value="#{msg.lbl_unlockedTime}: " />
							        <p:outputLabel id="unlockedTime" rendered="#{categoryView.category.unlockedTime ne null}" value="#{categoryView.category.unlockedTime}"	>
							        <f:convertDateTime type="both"  timeZone="#{sessionScope['USER_IN_CONTEXT'].timeZone}" />
							        </p:outputLabel>
							        <div class="EmptyBox10"></div>
							 
							 </p:panelGrid>
						</div>
				</div>
			  </div>
		    
	</ui:define>
</ui:composition>
