<ui:composition template="/WEB-INF/templates/template3.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<ui:define name="content">
<f:event type="preRenderView" listener="#{forgotPassManageView.preRenderView}" />
	<f:metadata>
		<f:viewAction action="#{forgotPassManageView.onLoadAction}" />
	</f:metadata>
	
<h:form id="form">
	<div class="Wid90 DispBlock MarAuto MarTopPerc5 TexAlCenter">
   	 <div class="Wid33 MarAuto WidAutoOnMobile" >					
    	<div class="Card ShadowEffect" >
		<div class="Wid100 OvHidden BigTopic Fs30">
		<h:graphicImage value= "/images/#{forgotPassManageView.adminConfMap['companyLogo']}"/> 
			<div class="EmptyBox30"></div>
			#{msg.forgot_password}
		</div>
			<div class="EmptyBox30"></div>
			<div class="Container100  Responsive100">
           	<div class="ContainerIndent">
			<p:messages id="messages" globalOnly="true" showDetail="true" autoUpdate="true" closable="true" escape="false" />
			
			<c:if test="#{forgotPassManageView.passwordExpiredMsg != null}"> 
									<div class="msg">#{forgotPassManageView.passwordExpiredMsg}</div>
								</c:if>  
								
			<p:message for="userName"/>
			
			<div class="Wid100">
			
				<p:inputText id="userName" value="#{forgotPassManageView.givenUserId}" required="true" placeholder="#{msg.lbl_userName}"
				aria-readonly="false" aria-disabled="false" role="textbox" name="username" requiredMessage="#{msg.err_username_empty}" 
				class="ui-inputfield ui-inputtext ui-widget ui-state-default ui-corner-all Wid80 TexAlCenter Fs18" type="text"/>
			</div>
			</div>
			</div>
			<div class="EmptyBox30"></div>
			<div class="Container100  Responsive100">
           	<div class="ContainerIndent">
            <div class="Wid50 Fleft Responsive40">
           	<p:commandButton id="forgotPass" actionListener="#{forgotPassManageView.forgotPassword}" icon="fa fa-mail-forward"
           		class="Wid100 heightlogin ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left Fs17 White RaisedButton Fright FloatNoneOnMobile" 
           	   process="@form" ajax="false" value="#{msg.btn_sendPassword}">
           	</p:commandButton>
            	
            </div>
            <div class="EmptyBox5 ShowOnMobile"></div>
            <div class="Wid50 Fleft Responsive40">
            	<p:commandButton id="cancel" actionListener="#{forgotPassManageView.cancelAction(Null)}" icon="fa fa-lock"
            	   class="Wid100 heightlogin ui-button ui-widget ui-state-default ui-corner-all RedButton Fs17 White RaisedButton Fleft FloatNoneOnMobile" 
            	   process="none" ajax="false" value="#{msg.btn_cancel}" immediate="true">
            	</p:commandButton>
            </div>
          	
            </div>
            </div>
        </div>
	   </div>
	 </div>
		
	<div class="Wid100 TexAlCenter MarTop20 Fs14 FontRobotoRegular Gray">
		<h:outputText value="#{forgotPassManageView.adminConfMap['version']}" />
	</div>
</h:form>

</ui:define>

	
</ui:composition>
