<ui:composition template="/WEB-INF/templates/template3.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui">
<ui:define name="content">
<f:event type="preRenderView" listener="#{forgotPassManageView.preRenderView}" />
	<f:metadata>
		<f:viewAction action="#{forgotPassManageView.onLoadAction}" />
	</f:metadata>
	
	<h:form id="form" >
		<div class="Wid90 DispBlock MarAuto MarTopPerc5 TexAlCenter" >
	   	 <div class="Wid33 MarAuto WidAutoOnMobile" align="left">					
	    	<div class="Card ShadowEffect" align="center">
			<div class="Wid100 OvHidden BigTopic Fs30">
			    <h:graphicImage value= "/images/#{forgotPassManageView.adminConfMap['companyLogo']}"/>
			
				<div class="EmptyBox30"></div>
				#{msg.reset_password}
			</div>
			<p:messages id="errorMessages" globalOnly="true" showDetail="true" autoUpdate="true" closable="true" escape="false" rendered="#{forgotPassManageView.forgotPass eq null}"/>
			<p:panelGrid id="mainPanel" rendered="#{forgotPassManageView.forgotPass ne null}">
				<div class="EmptyBox30"></div>
				<p:messages id="messages" globalOnly="true" showDetail="true" autoUpdate="true" closable="true" escape="false" />
				<p:message for="tempPass"/>
				<p:message for="password1"/>
				<p:message for="password2"/>
				
				<p:password id="tempPass" placeholder="#{msg.temp_pass}" value="#{forgotPassManageView.tempPass}" required="true" 
					requiredMessage="#{msg.err_tmp_password_empty}" aria-readonly="false" aria-disabled="false" 
					class="ui-inputfield ui-inputtext ui-widget ui-state-default ui-corner-all Wid80 TexAlCenter Fs18" type="text">
				</p:password>
				
				<p:password id="password1" placeholder="#{msg.lbl_newPassword}" value="#{forgotPassManageView.newPassword}" required="true"
					requiredMessage="#{msg.err_password_empty}" aria-readonly="false" aria-disabled="false" 
					class="ui-inputfield ui-inputtext ui-widget ui-state-default ui-corner-all Wid80 TexAlCenter Fs18" type="text">
				</p:password>
				
				<p:password id="password2" placeholder="#{msg.Confirm_Password}" value="#{forgotPassManageView.confirmPassword}" required="true"
					requiredMessage="#{msg.err_cpassword}" aria-readonly="false" aria-disabled="false" 
					class="ui-inputfield ui-inputtext ui-widget ui-state-default ui-corner-all Wid80 TexAlCenter Fs18" type="text">
				</p:password>
				
				<div class="EmptyBox30"></div>
					<p:outputLabel value="Hinweis:" style="color: #03202E;" ></p:outputLabel>
					<p:outputLabel value="#{forgotPassManageView.passPreMessage}" style="color: #1F95CC;" ></p:outputLabel>
			</p:panelGrid>
				<div class="EmptyBox30"></div>
				<div class="Wid50 Responsive50">
            	<p:commandButton id="resetPass" actionListener="#{forgotPassManageView.resetPassword}" icon="fa fa-send"
            	   rendered="#{forgotPassManageView.forgotPass ne null}"
            	   class="Wid100 Hei100 heightlogin ui-button ui-widget ui-state-default ui-corner-all Fs18 White RaisedButton Fright FloatNoneOnMobile" 
            	  process="@form" disabled="#{forgotPassManageView.forgotPass eq null}" ajax="false" value="#{msg.Reset_Password}" >
            	</p:commandButton>
            	</div>
	        </div>
		  </div>
		</div>
		<div class="Wid100 TexAlCenter MarTop20 Fs14 FontRobotoRegular Gray">
		<h:outputText value="#{forgotPassManageView.adminConfMap['version']}" />
	</div>
	</h:form>
</ui:define>

	
</ui:composition>
