.circleicon {
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	width: 30px;
	height: 30px;

 /*  This would also work as background, but we might be more flexible if we apply the class to the html img tag...
	background: url(lawo.png) no-repeat; */
	}


.circlesmallicon {
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	width: 25px;
	height: 25px;

 /*  This would also work as background, but we might be more flexible if we apply the class to the html img tag...
	background: url(lawo.png) no-repeat; */
	}
	
.circlebigicon {
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	width: 60px;
	height: 60px;
}
	
/* Inline Styles */

.ui-messages-success {
    border: 1px solid;
    margin: 10px 0px;
    padding: 10px;
}
.ui-messages-success, .ui-message-success {
    color: #66BB6A!important;
    background-color: #fff!important;
    border-color: #66BB6A!important;
    font-size: 18px;
    font-weight: normal;
    padding: 10px !important;
    font-family: "robotolight";
}

.ui-messages-success-icon {
    background-image: url("success.svg") !important;
    background-position: center top !important;
    background-size: 80% auto !important;
    width: 40px !important;
    height: 40px !important;
}

.ui-messages-success-summary, .ui-message-success-summary {
    margin-left: 10px;
    font-weight: bold;
}

.ui-messages-success-detail, .ui-message-success-detail {
    margin-left: 5px;
}

.ui-button-eye{
	color :#eceff1;
	background-color: #eceff1 !important;
	background: #eceff1;
}
.ui-button-eye .ui-widget .ui-state-default .ui-corner-all .ui-button-text-icon-left .ui-state-hover{
	background-color: #eceff1;
}

/* Growl Styles */

.ui-growl-image-success {
    background: url("success.svg") no-repeat;
    background-position: center center;
    background-size: 90% auto;
    margin-top: 5px;
}

.ui-growl-icon-close-success {
    width: 10px !important;
    height: 10px !important;
    background-image: url("/modena/javax.faces.resource/images/delete-green.svg.xhtml?ln=primefaces-modena") !important;
    background-position: center center !important;
    background-size: 130% auto !important;
}

.ui-growl-image-success + .ui-growl-message {
    color: #66BB6A !important;
}

.spinner {
    align-items: center;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 9999 !important;
    top: 50%;
    left: 50%;
    position: fixed !important;
}

@font-face {
  font-family: 'Modena'; !important;
  src:url('../modena-layout/fonts/Modena.eot'); !important;
  src:url('../modena-layout/fonts/Modena.eot'#iefix-edmmgb) format("embedded-opentype"),
      url('../modena-layout/fonts/Modena.woff') format("woff"),
      url('../modena-layout/fonts/Modena.ttf') format("truetype"),
      url('../modena-layout/fonts/Modena.svg'#modena) format("svg"); !important;
  font-weight: normal;
  font-style: normal;

}
.ui-datalist-data{
border: none;
background: transparent;
background-image: none;
}

.ui-fileupload-choose{
height: 48px;
background-color: #c6d6df;
font-weight: normal;
font-size: 1.1em;
text-align: center;
vertical-align: middle;
color: white;
}

.iconclass{
	margin-top : -1px !important;
	left : 20%;
}

.ui-button .ui-widget .ui-state-default .ui-corner-all .ui-button-text-icon-left .ui-fileupload-choose .ui-state-hover{
	background-color: #bdcace;
}

.ui-treetable table thead tr th.ui-state-active, .ui-treetable table thead tr th.ui-state-hover{
	color : #546e7a;
	background-color: #c1d5df !important;
}

.ui-treetable table thead tr th{
	color : #546e7a; 
	background-color: #c1d5df !important;
	border: solid 0px #c5d5e2;
}

.ui-treetable table tbody tr td{
	border: solid 0px #c5d5e2;
	width : 100%;
}


.ui-treetable table tbody .ui-state-highlight td{
	background-color: #00000;
	background : #c5d5e2;
	width : 100%;
}

.ui-treetable .ui-treetable-header{
	color : #ffffff; 
	background-color: #80bfff;
	border : none;
	
}

.ui-wizard .ui-wizard-step-titles li {
	background-color: #80bfff; !important;
}
.ui-wizard .ui-wizard-step-titles li.ui-state-highlight {
	background-color: #c5d5e2; !important;
}

.ui-tabs-left > .ui-tabs-nav {
       height:100% !important;
       width:24%; !important;
    } 
    
.highlight {
		background: #bdcace  !important ;
       font-weight: bold; 
      
}
.outputTextGreenShape
{
    -moz-border-radius: 15px;
    border-radius: 15px;
    border:solid 1px #1aff1a;
    padding:5px;
    background-color:#1aff1a
}

.outputTextRedShape
{
    -moz-border-radius: 15px;
    border-radius: 15px;
    border:solid 1px #ff4d4d;
    padding:5px;
    background-color:#ff4d4d
}



#filter td{
     width: 30%;
     border:none !important;
}

.myStyle .ui-autocomplete-multiple-container {
  width: 100%;
}


.myPicklist.ui-picklist .ui-picklist-list {
    height: 500px;
        
}

.ui-panel-titlebar {
    border-bottom: solid 0px #e0e0e0!important;
}

.ui-datagrid{
    border: solid 0px #e0e0e0!important;
}


.baseline {vertical-align: baseline;}
.middle {vertical-align: middle;}
.text-top {vertical-align: text-top;}
.text-bottom {vertical-align: text-bottom;}
.top {vertical-align: top;}
.bottom {vertical-align: bottom;}

.GrayModena #layout-topbar {
    background-color: white !important;
}

.ui-accordion-header{
	background-color: #c51010 !important;
}
.ui-accordion .ui-accordion-header.ui-state-hover, .ui-accordion .ui-accordion-header.ui-state-active{
	background-color: #c51010 !important;
}

#top-menu > li > a {
color: #546e7a !important;
}