.ui-layout-pane {
	border: none;
}

.ui-layout-unit .ui-layout-unit-content {
	overflow: hidden;
}

.ui-messages-info,.ui-message-info {
	color: #66BB6A!important;
    background-color: #fff!important;
    border-color: #66BB6A!important;
    font-size: 18px;
    font-weight: normal;
    padding: 10px !important;
    font-family: "robotolight";
}

.ui-layout-north {
	z-index: 20 !important;
	overflow: visible !important;
}

.ui-panelgrid
.ui-panelgrid-cell{
	padding: 0px 1px;
}
.globalFilter{
background: url(images/sport.png) 0 0 no-repeat;
border: none;
cursor: pointer;
}

.ui-columntoggler {
display: none;
}
.ui-layout-north .ui-layout-unit-content {
	overflow: visible !important;
}

.ui-selectonemenu .ui-selectonemenu-trigger {
	width: 16px;
}

.ui-selectonemenu-items-wrapper {
	width: auto;
}
/*Set font to a reasonable size*/
body {
	font-size: 15px;
}

form#topMenuBar {
	font-size: 11px;
}

/* mntPanels - message, notification and task Panels */
table.mntPanels {
	width: 260px !important;
}

table.mntPanels tr {
	width: 100% !important;
}

table.mntPanels tfoot tr {
	text-align: center !important;
}

table.mntPanels tr td {
	width: 92% !important;
	border: none !important;
}

table.mntPanels tr td a {
	text-decoration: none !important;
}

table.mntPanels tr td a span.alignright {
	float: right !important;
	clear: both !important;
}

.layoutLogo { /* Company Name */
	height: 30px !important;
	margin-left: 50px;
}

/*Let submenu width be based on content*/
.ui-menubar .ui-menuitem .ui-menu-parent .ui-menu-child {
	width: auto;
	white-space: nowrap;
}

.ui-menubar .ui-menu-child {
	white-space: nowrap;
	width: 150% !important;
}
/*Prevent rightward facing icons from wrapping
            .ui-menu .ui-menu-parent .ui-icon-triangle-1-e*/
.ui-menubar .ui-menu-parent .ui-menuitem-link span.ui-icon-triangle-1-e
	{
	position: absolute;
	height: 16px;
	top: 50%;
	margin-top: -8px;
	right: -8px;
}
/*Make room for righward facing icons*/
.ui-menubar .ui-menuitem ul.ui-menu-child {
	padding-right: 16px !important;
}
/*Set link width, which affects submenu overlap and is related to rightward facing icon padding*/
.ui-menubar .ui-menu-child .ui-menuitem .ui-menuitem-link {
	width: 100% !important;
}
/*Prevent menuitem icon from generating a line break. Also make room for left-side icon.  Note: we use relative parent absolute child strategy*/
.ui-menubar .ui-menu-child>.ui-menuitem>.ui-menuitem-link>.ui-menuitem-text
	{
	position: relative !important;
	padding-right: 16px !important;
	margin-left: 5px;
}

.ui-menubar .ui-menuitem-text {
	float: none;
}
/* header link */
.ui-widget-header a {
	color: currentColor;
}
.ui-widget-content-no-border{
	border: 0px;
    background: #ffffff;
    color: #000000;
}

.ui-radiobutton .ui-state-active .ui-icon-bullet, .ui-radiobutton .ui-state-focus .ui-icon-bullet {
width: 18px !important;
height: 18px !important;
margin: -1px !important;
}

.ui-paginator-rpp-options {
	-webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
text-shadow: none;
z-index: 100;
overflow: hidden;
background-size: 35%;
background-image: url('/korfmann/javax.faces.resource/images/downarrow-navy.svg.xhtml?ln=primefaces-modena') !important;
background-position: right !important;
background-repeat: no-repeat !important;
color: #546e7a !important;
border: solid 0px #c6d6df !important;
border-bottom: solid 1px #b0bec5 !important;
background-color: #b0bec5 !important;
padding: 0px 25px 0px 1px !important;
}