.error {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}

.msg {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.classnav{
	color: #ccc;
    background-color: #424548;
    background-image: linear-gradient(to bottom, #424548, #111);
    background-repeat: repeat-x;
    border-color: #424548;
}

 #footer{
	color: #ccc;
    padding: 20px;
    background-color: #424548;
    background-image: linear-gradient(to bottom, #424548, #111);
    background-repeat: repeat-x;
    border-color: #424548;
	}
	
.GrayModena.Geometry {
    background-image: url("triangle-gray.svg") !important;
    background-attachment: fixed !important;
    background-size: 100% auto !important;;
    background-repeat: no-repeat !important;
}

.heightlogin{ height:60px}	