<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui">
	<ui:define name="subheader">
      #{msg.hdr_taskplanner}
    </ui:define>
	<ui:define name="content">
		<f:event type="preRenderView"
			listener="#{taskPlannerAddUpdateView.preRenderView}" />

		<f:metadata>
			<f:viewAction action="#{taskPlannerAddUpdateView.onLoadAction}" />
		</f:metadata>
		<div class="Container100">
           <div class="ContainerIndent">
              <div class="Card ShadowEffect ui-fluid">
                 <div class="Container100  Responsive100 ">
                   <div class="ContainerIndent">
		<h:form id="form" enctype="multipart/form-data">
			<p:messages id="messages" globalOnly="true" showDetail="true"
				autoUpdate="true" closable="true" escape="false" />
			<p:panelGrid id="panel2" columns="3" style="border:1px !important; background:none;"
											styleClass="ui-panelgrid-blank ui-responsive"> 
			<p:commandButton value="#{msg.btn_save}" id="btnSave" onclick=" PF('bui').show()" icon="fa fa-save" 
				actionListener="#{taskPlannerAddUpdateView.saveAction}" ajax="false" process="@this"
				rendered="#{taskPlannerAddUpdateView.task.active eq 'Y' and taskPlannerAddUpdateView.cloneTask ne 'true'}" />
				
			<p:commandButton value="#{msg.btn_clone}" id="btnClone" onclick=" PF('bui').show()" icon="fa fa-plus" process="@this"
				actionListener="#{taskPlannerAddUpdateView.cloneAction}" ajax="false"
				rendered="#{taskPlannerAddUpdateView.task.active eq 'Y' and taskPlannerAddUpdateView.cloneTask eq 'true'}" />	
			
			<p:commandButton value="#{msg.btn_cancel}" id="btnCancel" icon="fa fa-close"
				action="#{taskPlannerAddUpdateView.cancelAction}" process="@this" />
			</p:panelGrid>
			
			<p:tabView id="pnl">
				<p:tab title="#{msg.hdr_taskUpdation}">
				<div class="Card SoftBlue ui-fluid">
				 
				 <div class="Container100  Responsive100">
               		<div class="ContainerIndent" >
               		<p:panelGrid columns="2" layout="grid"  columnClasses="ui-grid-col-3,ui-grid-col-9" styleClass="ui-panelgrid-blank">
               			<p:outputLabel for="name" value="#{msg.lbl_taskName}" />
						<p:inputText id="name" value="#{taskPlannerAddUpdateView.task.name}" required="true" />
					</p:panelGrid>
                	</div>
                </div>
				 
				 <div class="Container50  Responsive50">
                 <div class="ContainerIndent " >
                  <p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank">
                 						
					<p:outputLabel for="project" value="#{msg.lbl_createIn}" />
					<p:selectOneMenu id="project"  value="#{taskPlannerAddUpdateView.task.project}" required="true">
						<f:selectItem itemLabel="#{msg.lbl_select}" itemValue="" noSelectionOption="true" />
						<f:selectItems value="#{taskPlannerAddUpdateView.projectList}" var="projects" itemValue="#{projects.id}"
							itemLabel="#{projects.name}" itemLabelEscaped="true" />
					</p:selectOneMenu>
					
					<p:outputLabel for="taskType" value="#{msg.lbl_typeName}" />
					<p:selectOneMenu id="taskType" value="#{taskPlannerAddUpdateView.task.type}" >
						<f:selectItem itemLabel="#{msg.lbl_select}" itemValue="" noSelectionOption="true" />
						<f:selectItems value="#{taskPlannerView.typeList}" var="types" itemValue="#{types.id}"
							itemLabel="#{types.type}" itemLabelEscaped="true" />
					</p:selectOneMenu>
					
					<p:outputLabel for="facilities" value="#{msg.lbl_facilities}" />
					<p:selectOneMenu id="facilities" value="#{taskPlannerAddUpdateView.task.facilities}" filter="true" 
							filterMatchMode="contains" required="true">
						<f:selectItem itemLabel="#{msg.lbl_select}" itemValue="" noSelectionOption="true" />
						<f:selectItems value="#{taskPlannerAddUpdateView.facilitiesList}" var="facilities" itemValue="#{facilities.id}"
							itemLabel="#{facilities.name}#{taskPlannerAddUpdateView.filterClients(facilities.clientId)}" itemLabelEscaped="true" />
					</p:selectOneMenu>
					
					</p:panelGrid>
				</div>
				</div>
				<div class="Container50  Responsive50">
            		<div class="ContainerIndent " > 
                 	<p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank">            	
             		
             		<p:outputLabel for="startDate" value="#{msg.lbl_taskStartDate}" />
					<p:calendar id="startDate" value="#{taskPlannerAddUpdateView.task.startDate}" converter="dateConverter" pattern="#{CommonConstants.APP_DATE_FORMAT}" mask="true" 
            			widgetVar="dobWidget" />
            			<!-- mindate="dobWidget.today()"  -->
            		<p:outputLabel for="dueDate" value="#{msg.lbl_dueDate}" />
					<p:calendar id="dueDate" value="#{taskPlannerAddUpdateView.task.dueDate}" converter="dateConverter" pattern="#{CommonConstants.APP_DATE_FORMAT}" mask="true" 
            			mindate="dobWidget.today()" widgetVar="dobWidget" required="true"/>
					
					<p:outputLabel for="estimatedTime" value="#{msg.lbl_estimated_time}"/>      
					<p:selectOneMenu id="estimatedTime"  value="#{taskPlannerAddUpdateView.task.estimatedTime}"  disabled="#{taskPlannerAddUpdateView.task.active eq 'N'}" >
						<f:selectItem itemLabel="#{msg.lbl_select}" itemValue="" noSelectionOption="true" required="true" />
						<f:selectItems value="#{taskPlannerAddUpdateView.estimatedWorkHoursList.entrySet()}" var="entry" 
									itemValue="#{entry.value}" itemLabel="#{entry.key}" />
					</p:selectOneMenu>
										
					</p:panelGrid>
					</div>
				</div>
				
                <div class="Container100  Responsive50">
                <div class="ContainerIndent " >
                <p:separator style="width:100%;" />
                </div>
                </div>
				<div class="Container50  Responsive50">
                <div class="ContainerIndent " >
				<p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank"> 
					
					<p:outputLabel for="category" value="#{msg.lbl_category}" />
					<p:selectOneMenu id="category"  required="true" value="#{taskPlannerAddUpdateView.task.category}">
						<f:selectItem itemLabel="#{msg.lbl_select}" itemValue="" noSelectionOption="true" />
						<f:selectItems value="#{taskPlannerAddUpdateView.categoryList}" var="categories" itemValue="#{categories.id}"
							itemLabel="#{categories.name}" itemLabelEscaped="true" />
					</p:selectOneMenu>
					
					<p:outputLabel for="priority" value="#{msg.lbl_priority}" />
             		<p:selectOneMenu id="priority"  value="#{taskPlannerAddUpdateView.task.priority}">
						<f:selectItem itemLabel="#{msg.lbl_select}" itemValue="" noSelectionOption="true" />
						<f:selectItems value="#{taskPlannerAddUpdateView.priorityList}" var="priority" itemValue="#{priority.id}"
							itemLabel="#{priority.value}" itemLabelEscaped="true" />
					</p:selectOneMenu>
							
					<p:outputLabel for="status" value="#{msg.lbl_status}" />
					<p:selectOneMenu id="status"   value="#{taskPlannerAddUpdateView.task.status}" >
						<f:selectItem itemLabel="#{msg.lbl_select}" itemValue="" noSelectionOption="true" />
						<f:selectItems value="#{taskPlannerAddUpdateView.statusList}"  var="status" itemValue="#{status.id}"
							itemLabel="#{status.value}" itemLabelEscaped="true" />
					</p:selectOneMenu>
					
					<!-- <p:outputLabel for="participant" value="#{msg.lbl_taskParti}" />
					<p:selectOneMenu id="participant"   value="#{taskPlannerAddUpdateView.task.participantName}" valueChangeListener="#{taskPlannerAddUpdateView.onChangeParticipantEvent}">
						<f:selectItem itemLabel="#{msg.lbl_select}" itemValue="" noSelectionOption="true" />
						<f:selectItems value="#{taskPlannerAddUpdateView.participantList}"  var="participant" itemValue="#{participant.identifier}"
							itemLabel="#{participant.firstName} #{participant.surName}" itemLabelEscaped="true" />
					</p:selectOneMenu> -->
					
					
					<!-- <p:row></p:row>
					<div class="EmptyBox10"/>
					
					<p:outputLabel for="qmsFile" value="#{msg.lbl_fileFromQMS}"/>
					<p:selectBooleanCheckbox id="qmsFile"  value="#{taskPlannerAddUpdateView.task.qmsDoc}" >
						<p:ajax update="doc"  />
				    </p:selectBooleanCheckbox> -->
					
				</p:panelGrid>
				</div>
				</div>
				<div class="Container50  Responsive50">
                <div class="ContainerIndent " >
				<p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank">
					
					<p:outputLabel for="reporter" value="#{msg.lbl_reporter}" />
             		<p:selectOneMenu id="reporter"  value="#{taskPlannerAddUpdateView.task.reporter}" required="true">
						<f:selectItem itemLabel="#{msg.lbl_select}" itemValue="" noSelectionOption="true" />
						<f:selectItems value="#{taskPlannerAddUpdateView.userList}" var="user" itemValue="#{user.userId}"
							itemLabel="#{taskPlannerAddUpdateView.getUserFullName(user.userId)}" itemLabelEscaped="true" />
					</p:selectOneMenu>
							           		             	
             		<p:outputLabel for="assignTo" value="#{msg.lbl_assignTo}" />
					<p:selectOneMenu id="assignTo"  value="#{taskPlannerAddUpdateView.task.assignTo}" required="true">
						<f:selectItem itemLabel="#{msg.lbl_notAssigned}" itemValue="#{msg.lbl_notAssigned}" />
						<f:selectItems value="#{taskPlannerAddUpdateView.userList}" var="user" itemValue="#{user.userId}"
							itemLabel="#{taskPlannerAddUpdateView.getUserFullName(user.userId)}" itemLabelEscaped="true" />
					</p:selectOneMenu>
					
					<p:outputLabel for="deputy" value="#{msg.lbl_taskDeputy1} " />
			         <p:selectOneMenu id="deputy" value="#{not empty taskPlannerAddUpdateView.task.deputy ? taskPlannerAddUpdateView.task.deputy : taskPlannerAddUpdateView.deputyUser.deputy}" 
			         required="true" valueChangeListener="#{taskPlannerAddUpdateView.onChangeDeputyEvent}"> 
			         	<f:selectItem itemLabel="#{msg.lbl_select}" itemValue="" noSelectionOption="true" />
			         	<f:selectItems value="#{taskPlannerAddUpdateView.deputyList}" var="user" itemValue="#{user.userId}"
							itemLabel="#{taskPlannerAddUpdateView.getUserFullName(user.userId)}" itemLabelEscaped="true" />
					</p:selectOneMenu>
					
					<p:outputLabel for="crm" value="#{msg.lbl_taskCrm}" />
					<p:selectOneMenu id="crm" value="#{taskPlannerAddUpdateView.task.crmName}" valueChangeListener="#{taskPlannerAddUpdateView.onChangeCrmEvent}" filter="true" filterMatchMode="contains">
						<f:selectItem itemLabel="#{msg.lbl_select}" itemValue="" noSelectionOption="true" />
						<f:selectItems value="#{taskPlannerAddUpdateView.crmList}"  var="crm" itemValue="#{crm.identifier}"
							itemLabel="#{crm.firstName}" itemLabelEscaped="true" />
					</p:selectOneMenu>
					
					<!-- <p:outputLabel for="course" value="#{msg.lbl_taskCourse}" />
					<p:selectOneMenu id="course"   value="#{taskPlannerAddUpdateView.task.courseId}" valueChangeListener="#{taskPlannerAddUpdateView.onChangeCourseEvent}">
						<f:selectItem itemLabel="#{msg.lbl_select}" itemValue="" noSelectionOption="true" />
						<f:selectItems value="#{taskPlannerAddUpdateView.courseList}"  var="course" itemValue="#{course.identifier}"
							itemLabel="#{course.courseId}" itemLabelEscaped="true" />
					</p:selectOneMenu>
					 -->
					</p:panelGrid>
             		</div>
                </div>										
				
				<div class="Container100  Responsive50">
               	<div class="ContainerIndent" >
              	  	<p:panelGrid id="doc" columns="2" layout="grid" columnClasses="ui-grid-col-3,ui-grid-col-9" styleClass="ui-panelgrid-blank">
              			
					<p:outputLabel for="attachment" value="#{msg.lbl_attachment}" rendered="#{taskPlannerAddUpdateView.task.qmsDoc eq 'false' || empty taskPlannerAddUpdateView.task.qmsDoc}"/>
					<p:fileUpload icon="fa fa-paperclip"  id="attachment" label="#{msg.lbl_browseFiles}" fileUploadListener="#{taskPlannerAddUpdateView.fileUploadListener}" value="#{taskPlannerAddUpdateView.file}" 
						multiple="true" mode="advanced" dragDropSupport="true" auto="true" sizeLimit="1000000" 
						update="uploadedfile" rendered="#{taskPlannerAddUpdateView.task.qmsDoc eq 'false' || empty taskPlannerAddUpdateView.task.qmsDoc}">
					</p:fileUpload>
					
					<!-- <p:outputLabel for="qmsUpload" value="#{msg.lbl_templateFile}" required="true"   
							rendered="#{taskPlannerAddUpdateView.task.qmsDoc eq 'true'}"/>
						<p:selectOneMenu id="qmsUpload"  value="#{taskPlannerAddUpdateView.task.qmsFile}" filter="true" filterMatchMode="startsWith"
							rendered="#{taskPlannerAddUpdateView.task.qmsDoc eq 'true'}" required="true" > 
							<f:selectItem itemLabel="#{msg.lbl_select}" itemValue="" noSelectionOption="true" />
							<f:selectItems value="#{taskPlannerAddUpdateView.documentList}" var="documents" 
								itemValue="#{documents.uploadedDoc}" itemLabel="#{documents.name}" itemLabelEscaped="true" />
								<p:ajax update="uploadedfile"  process="@this" listener="#{taskPlannerAddUpdateView.qmsFileUploadListener(taskPlannerAddUpdateView.task.qmsFile)}"/>  
						</p:selectOneMenu>
						 -->
            		</p:panelGrid>
            	</div>
			</div>
            <div class="Container100  Responsive100">
            	<div class="ContainerIndent " >  
                 	<p:outputLabel for="uploadedfile" value="#{msg.lbl_uploadedFiles}" />
					<p:dataList id="uploadedfile" value="#{taskPlannerAddUpdateView.uploadedFileList}" var="files" 
					emptyMessage="#{msg.empty_file_upload}" type="unordered" styleClass="ui-datalist-data">
						<p:commandLink id="openView" class="MarRight10"  value="#{files}"  ajax="false" 
						action="#{taskPlannerAddUpdateView.downloadFile(taskPlannerAddUpdateView.task.dirName,files)}" /> 
						<p:commandLink action="#{taskPlannerAddUpdateView.deleteFile(taskPlannerAddUpdateView.task.dirName,files)}" update="@parent">
						<icon class="fa fa-close"></icon>
						<p:confirm header="#{msg.confirmation}" message="#{msg.delete_upload_file}" icon="ui-icon-alert" />
						</p:commandLink>
						<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                         <p:commandButton value="#{msg.btn_yes}" type="button" styleClass="ui-confirmdialog-yes "
                         icon="ui-icon-check fa fa-check Fs14 White" />
                         <p:commandButton value="#{msg.btn_no}" type="button" styleClass="ui-confirmdialog-no "
                         icon="ui-icon-close fa fa-close Fs14 White" />
                        </p:confirmDialog>
						
					</p:dataList>
									
					
					<div class="EmptyBox10"/>            		
               		<p:outputLabel for="description" value="#{msg.lbl_description}" />
               		   <pe:ckEditor id="description" height="150" width="100%" language="#{sessionScope['USER_IN_CONTEXT'].language}"
               			value="#{taskPlannerAddUpdateView.task.description}" toolbar="[['Styles','Bold','Italic','Underline','TextColor','BGColor','Strike','BulletedList','NumberedList','Cut','Copy','Paste','Undo','Redo','Link', 'Unlink']]">  
    					</pe:ckEditor> 
               		</div>
               		</div>
               		</div>
                </p:tab>
			</p:tabView>
			<p:blockUI block="pnl" widgetVar="bui">#{msg.lbl_loading}<br /> 
       			<p:graphicImage  value="/images/ajax-loader.gif"/>
    		</p:blockUI>
		   </h:form>
		  </div>
		 </div>
		</div>
	   </div>
	 </div>
	</ui:define>
</ui:composition>