<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui">
	<ui:define name="subheader">
      #{msg.hdr_taskplanner}
    </ui:define>
	<ui:define name="content">
		<f:event type="preRenderView"
			listener="#{taskPlannerAddUpdateView.preRenderView}" />
		<f:metadata>
			<f:viewAction action="#{taskPlannerView.onLoadAction}" />
		</f:metadata>
		<div class="Container70 Responsive100">
           <div class="ContainerIndent">
              <div class="Card ShadowEffect">
                 <div class="Container100  Responsive100">
                   <div class="ContainerIndent">
			<h:form id="form" enctype="multipart/form-data">
			<p:messages id="messages" globalOnly="true" showDetail="true"
			   autoUpdate="true" closable="true" escape="false" />
			 <div class="ui-widget ui-widget-header ui-corner-all ui-helper-clearfix"><div class="ui-toolbar-group-left">
			<p:commandButton value="#{msg.btn_edit}" id="btnEdit" process="@this" icon="fa fa-pencil" 
				action="#{taskPlannerView.editViewAction(taskPlannerView.task.id)}" />
			
			<p:commandButton value="#{msg.btn_cancel}" id="btnCancel" icon="fa fa-close"
				action="#{taskPlannerView.cancelAction}" process="@this" />
				
				<p:commandButton id="btnSubTask" value="#{msg.btn_subTask}" icon="fa fa-plus" process="@this"  
			 	action="#{taskPlannerAddUpdateView.subTaskAction(taskPlannerView.task.identifier)}" oncomplete="PF('mySubTaskDialog').show();" />
			 
					 
			<p:dialog id="subTaskCreate" stickyHeader="true"  appendBody="false" header="#{taskPlannerView.task.identifier}" 
          	 widgetVar="mySubTaskDialog" class="GrayModena Geometry"  aria-hidden="false" aria-live="polite" 
          	 style="margin-top: 30px; width: auto !important; max-height:100% !important; max-width: 60%; height: auto !important; z-index: 1005"
 	           position="top"  
			 resizable="false" responsive="true" modal="true" visible="#{taskPlannerView.createNewTask}" >
			  <p:panel id="panelDialogSubTask">
			  <p:ajax event="close" update="dialogForm:panelDialog"/>	 
			 
			 	<ui:include src="/views/taskplanner/task/taskCreateDialog.xhtml" />
			 	</p:panel>
			 </p:dialog> 
			
			</div>
			<div class="ui-toolbar-group-right">
				<p:commandButton id="delete" icon="fa fa-trash-o" process="@form"
                        action="#{taskPlannerView.deleteViewedAction(taskPlannerView.task.id)}"
                        rendered="#{taskPlannerView.task.active eq 'Y'}"
                        title="#{msg.btn_deleTask}" >
                        <p:confirm header="#{msg.confirmation}" message="#{msg.lbl_reallyDeleteTask}" icon="ui-icon-alert" />
                </p:commandButton>
                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                <p:commandButton value="#{msg.btn_yes}" type="button" styleClass="ui-confirmdialog-yes " icon="ui-icon-check fa fa-check Fs14 White" />
                <p:commandButton value="#{msg.btn_no}" type="button" styleClass="ui-confirmdialog-no " icon="ui-icon-close fa fa-close Fs14 White" />
                </p:confirmDialog>
			</div>
			</div>
			
			
			<p:tabView id="pnl">
			<p:tab>
				<f:facet name="title">
				<p:outputLabel value="#{taskPlannerView.task.identifier}" />
				<span class="ui-separator">
                      <span class="fa fa-ellipsis-v SoftGray"></span>
                </span>
              		      
		     	<p:commandButton  id="addwatchList" icon="fa fa-star Fs25 Gray iconclass" actionListener="#{taskPlannerView.addTowatchListAction}" 
		      		rendered="#{taskPlannerView.task.watchStatus ne 'true' and taskPlannerView.task.identifier != null}" onclick="PF('bui').show()" styleClass="ui-button-eye"
          			update="@form" process="@this" 
          			style="vertical-align:top;display:inline-block;background-color: #eceff1;margin-top:-20px;">
          			</p:commandButton>
          			
          		<p:commandButton id="removewatchList" icon="fa fa-star Fs25 Blue iconclass"   actionListener="#{taskPlannerView.removeWatchListAction}" 
          			rendered="#{taskPlannerView.task.watchStatus eq  'true' and taskPlannerView.task.identifier != null}" onclick="PF('bui').show()" styleClass="ui-button-eye"
          			update="@form" process="@this" 
          			style="vertical-align:top;display:inline-block;background-color: #eceff1;margin-top:-20px;" />
		      
				</f:facet>
				
				
				<div class="Container100 Responsive100">
          		<div class="ContainerIndent">
					<p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank" columnClasses="ui-grid-col-3,ui-grid-col-9">
							<p:outputLabel for="name" value="#{msg.lbl_taskName}" />
							<p:outputLabel id="name" value="#{taskPlannerView.task.name}" />
					</p:panelGrid>
				</div>	 
				</div>	
				
				<div class="Container50 Responsive100">
           		<div class="ContainerIndent">
				<p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank">
				
					<p:outputLabel for="project" value="#{msg.lbl_createIn}" />
					<p:outputLabel id="project" value="#{taskPlannerView.task.project}" />
					
					<p:outputLabel for="taskType" value="#{msg.lbl_typeName}" />
					<p:outputLabel id="taskType"  value="#{taskPlannerView.filteredType(taskPlannerView.task.type)}" />
					
					<p:outputLabel for="facilities" value="#{msg.lbl_facilities}" />
					<p:outputLabel id="facilities" value="#{taskPlannerView.filterFacilityName(taskPlannerView.task.facilities)}" />
					
													
				</p:panelGrid>
				</div>
				</div>
							
				<div class="Container50 Responsive100">
          		<div class="ContainerIndent">
					<p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank">
					
					<p:outputLabel for="startDate" value="#{msg.lbl_taskStartDate}" />
					<p:outputLabel id="startDate"  value="#{taskPlannerView.task.startDate}" >
					<f:convertDateTime pattern="#{CommonConstants.APP_DATE_FORMAT}"  />
					</p:outputLabel>
					
					<p:outputLabel for="dueDate" value="#{msg.lbl_dueDate}" />
					<p:outputLabel id="dueDate"  value="#{taskPlannerView.task.dueDate}" >
					<f:convertDateTime pattern="#{CommonConstants.APP_DATE_FORMAT}"  />
					</p:outputLabel>
					
					<p:outputLabel for="estimatedTime" value="#{msg.lbl_estimated_time}"/> 
         			<p:outputLabel id="estimatedTime" value="#{not empty taskPlannerView.task.estimatedTime ? 
         													taskPlannerView.returnedEstimatedWork(taskPlannerView.task.estimatedTime) : ''}"/>  
					 
				</p:panelGrid>
				</div>	 
				</div>
				
				<div class="Container100  Responsive100">
                <div class="ContainerIndent " >
                <p:separator style="width:100%;" />
                </div>
                </div>
				<div class="Container50 Responsive50">
          		<div class="ContainerIndent">
					<p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank" >	
					
					
					<p:outputLabel for="priority" value="#{msg.lbl_priority}" />
					<p:outputLabel id="priority" value="#{not empty taskPlannerView.task.priority ? msg['priority.'+=taskPlannerView.task.priority] : ''}" />
					
					<p:outputLabel for="category" value="#{msg.lbl_category}" />
					<p:outputLabel id="category" value="#{taskPlannerView.task.category}" />
					
					<p:outputLabel for="status" value="#{msg.lbl_status}" />
					<p:outputLabel id="status" value="#{msg['status.'+=taskPlannerView.task.status]}" />
					
					<!-- <p:outputLabel for="participant" value="#{msg.lbl_taskParti}" />
					<p:outputLabel id="participant" value="#{taskPlannerView.filteredParticipantName(taskPlannerView.task.participantName)}" /> -->
					
					
				</p:panelGrid>
			</div>
			</div>
			
			<div class="Container50 Responsive50">
          		<div class="ContainerIndent">
					<p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank" >	
							
					<p:outputLabel for="reporter" value="#{msg.lbl_reporter}" />
					<p:outputLabel id="reporter" value="#{taskPlannerView.getUserFullName(taskPlannerView.task.reporter)}" />
					
					<p:outputLabel for="assignTo" value="#{msg.lbl_assignTo}" />
					<p:outputLabel id="assignTo" value="#{taskPlannerView.task.assignTo == 'Unassigned' or taskPlannerView.task.assignTo == 'Nicht zugewiesen' ? 
					msg.lbl_notAssigned : taskPlannerView.getUserFullName(taskPlannerView.task.assignTo)}" />
					
					<p:outputLabel for="deputy" value="#{msg.lbl_taskDeputy1}" />
					<p:outputLabel id="deputy" value="#{not empty taskPlannerView.task.deputy ? taskPlannerView.getUserFullName(taskPlannerView.task.deputy) : ''}" />
					
					<p:outputLabel for="crm" value="#{msg.lbl_taskCrm}" />
					<p:outputLabel id="crm" value="#{taskPlannerView.filteredCrmName(taskPlannerView.task.crmName)}" />
					
					<!-- <p:outputLabel for="course" value="#{msg.lbl_taskCourse}" />
					<p:outputLabel id="course" value="#{taskPlannerView.filteredCourseId(taskPlannerView.task.courseId)}" />
					 -->
					<div class = "EmptyBox30"></div>
					<p:messages for="deputy"  /> 
					</p:panelGrid>								
					</div>
					</div>
				
					<p:panelGrid columns="1"  styleClass="ui-panelgrid-blank">
					<p:outputLabel for="attachment" value="#{msg.lbl_attachment}" />
					<p:dataList id="attachment" value="#{taskPlannerView.task.attachmentList}" var="files" 
						emptyMessage="#{msg.empty_file_upload}" type="unordered" styleClass="ui-datalist-data">
						<p:commandLink id="openView" class="MarRight10"  value="#{files}"  ajax="false" 
						action="#{taskPlannerAddUpdateView.downloadFile(taskPlannerView.task.dirName,files)}" /> 
						
					</p:dataList>
					</p:panelGrid>
					
					
					<p:panelGrid columns="1"  styleClass="ui-panelgrid-blank">
					<p:outputLabel for="subTask" value="#{msg.lbl_taskRelation}"  />
					<div class = "EmptyBox20"></div>
					
					<p:dataTable  id="subTask" var="subTask" 
				        value="#{taskPlannerView.task.subTasks}"
				        emptyMessage="#{msg.table_empty_msg}" >
				          
				          <p:column headerText="#{msg.lbl_taskRelation}">
					          <h:outputText value="#{subTask.relation}"  />
					      </p:column>
				            
					      <p:column headerText="#{msg.lbl_createIn}">
					          <h:outputText value="#{subTask.project}"  />
					      </p:column>
					      
					      <p:column headerText="#{msg.lbl_taskId}">
					      <p:commandLink id="openView" class="MarRight10"  value="#{subTask.identifier}"  ajax="false" 
						     action="#{taskPlannerView.subTaskViewAction(subTask.identifier)}" />
						       <!-- <h:outputText value="#{subTask.identifier}"  /> -->
					      </p:column>
					      
					      <p:column headerText="#{msg.lbl_typeName}">
						       <h:outputText value="#{taskPlannerView.filteredType(subTask.type)}"  />
					      </p:column>
					                  
				                              
                       </p:dataTable>         
					</p:panelGrid>
					
					
					<p:panelGrid columns="1"  styleClass="ui-panelgrid-blank">
					<p:outputLabel for="description" value="#{msg.lbl_description}" />
					<p:outputLabel id="description" value="#{taskPlannerView.task.description}" escape="false" style="word-wrap:break-word;"/>
					</p:panelGrid>
					
				   </p:tab>
				   
				   <p:tab title="#{msg.tab_history}">
				<p:panelGrid columns="1" layout="grid" styleClass="ui-panelgrid-blank">
				  		<p:dataTable id="historyTable" var="histTask" 
						value="#{taskPlannerView.filteredTaskStatusHistoryList}" rowsPerPageTemplate="#{sessionScope['USER_IN_CONTEXT'].actualDisplayRowsSize}"
						rows="#{sessionScope['USER_IN_CONTEXT'].displayRowsSize}"   rowKey="#{histTask.id}"
						currentPageReportTemplate="#{msg.lbl_showing} {startRecord}-{endRecord} #{msg.lbl_outOf} {totalRecords}"
						style="margin-bottom:0;" 
						emptyMessage="#{msg.table_empty_msg}"
						paginatorTemplate="{PageLinks} {RowsPerPageDropdown}" paginator="true"  paginatorPosition="bottom"  styleClass="paginated" widgetVar="historyTableWidgetVar"
						rowIndexVar="rowIndex" >
				
						<p:column style="width:5%">
                        	<p:rowToggler />
                     	</p:column>
						
						<p:column headerText="#{msg.lbl_status}"  sortBy="#{histTask.status}" filterMatchMode="contains" filterBy="#{histTask.status}" filterStyle="display:none">
							<h:outputText value="#{msg['status.'+=histTask.status]}" />
						</p:column>
						
						<p:column headerText="#{msg.lbl_reporter}" sortBy="#{histTask.reporter}"  filterMatchMode="contains" filterBy="#{histTask.reporter}" filterStyle="display:none">
							<h:outputText value="#{taskPlannerView.getUserFullName(histTask.reporter)}" />
						</p:column>
						
						<p:column headerText="#{msg.lbl_assignTo}"  sortBy="#{histTask.assignTo}" filterMatchMode="contains" filterBy="#{histTask.assignTo}" filterStyle="display:none">
							<h:outputText value="#{histTask.assignTo == 'Unassigned' or histTask.assignTo == 'Nicht zugewiesen' ? 
							msg.lbl_notAssigned : taskPlannerView.getUserFullName(histTask.assignTo)}" />
						</p:column>
						
						<p:column headerText="#{msg.lbl_lastUpdatedOn}"  sortBy="#{histTask.assignTo}" filterMatchMode="contains" filterBy="#{histTask.assignTo}" filterStyle="display:none">
							<h:outputText id="updateTime" value="#{histTask.updateTime}"	>
							<f:convertDateTime type="both"  timeZone="#{sessionScope['USER_IN_CONTEXT'].timeZone}" />
							</h:outputText>
						</p:column>
						
						<p:column headerText="#{msg.lbl_lastUpdatedBy}"  sortBy="#{histTask.assignTo}" filterMatchMode="contains" filterBy="#{histTask.assignTo}" filterStyle="display:none">
							<p:outputLabel id="updateBy" value="#{taskPlannerView.getUserFullName(histTask.updateBy)}"	/>
						</p:column>
						  
					
						
						<p:rowExpansion >
						 <p:panelGrid  columns="4" layout="grid"   style="width:100% !important" styleClass="ui-panelgrid-blank"> 
			                <p:outputLabel for="project" value="#{msg.lbl_createIn}" />
							<p:outputLabel id="project" value="#{histTask.project}" />
							
							<p:outputLabel for="startDate" value="#{msg.lbl_taskStartDate}" />
							<p:outputLabel id="startDate"  value="#{histTask.startDate}" >
							<f:convertDateTime pattern="#{CommonConstants.APP_DATE_FORMAT}"  />
							</p:outputLabel>
							
							<p:outputLabel for="taskType" value="#{msg.lbl_typeName}" />
							<p:outputLabel id="taskType"  value="#{histTask.type}" >
							</p:outputLabel>
												
							<p:outputLabel for="dueDate" value="#{msg.lbl_dueDate}" />
							<p:outputLabel id="dueDate"  value="#{histTask.dueDate}" >
							<f:convertDateTime pattern="#{CommonConstants.APP_DATE_FORMAT}"  />
							</p:outputLabel>
			            </p:panelGrid>
			            <div class = "EmptyBox10"></div>  
			            <p:separator style="width:100%;" />
						<div class = "EmptyBox10"></div>
						<p:panelGrid  columns="4" layout="grid"   style="width:100% !important" styleClass="ui-panelgrid-blank"> 	              
							<p:outputLabel for="category" value="#{msg.lbl_category}" />
							<p:outputLabel id="category" value="#{histTask.category}" />
							
							<p:outputLabel for="reporter" value="#{msg.lbl_reporter}" />
							<p:outputLabel id="reporter" value="#{not empty histTask.reporter ? taskPlannerView.getUserFullName(histTask.reporter) : ''}" />
							
							<p:outputLabel for="priority" value="#{msg.lbl_priority}" />					
							<p:outputLabel id="priority" value="#{not empty histTask.priority ? msg['priority.'+=histTask.priority] : ''}" />
							
							<p:outputLabel for="assignTo" value="#{msg.lbl_assignTo}" />
							<p:outputLabel id="assignTo" value="#{histTask.assignTo == 'Unassigned' or histTask.assignTo == 'Nicht zugewiesen' ? 
							msg.lbl_notAssigned : taskPlannerView.getUserFullName(histTask.assignTo)}" />
							
							<p:outputLabel for="status" value="#{msg.lbl_status}" />
							<p:outputLabel id="status" value="#{not empty histTask.status ? msg['status.'+=histTask.status] :''}" />				              
			              
			            </p:panelGrid> 
			            </p:rowExpansion>
						
					</p:dataTable>
					</p:panelGrid>
				 </p:tab>
				 
				   
				 </p:tabView>
				 
				</h:form>
				
		  </div>
		 </div>
		</div>
	   </div>
	   </div>
	   <div class="Container30 Responsive100">
		<div class="ContainerIndent" >
		<div class="Card ShadowEffect HeiAutoOnMobile">
			<h2 class="CardTopic" ><i class="icon-info"></i>#{msg.hdr_info}</h2>
			<div class="SeparatorFull"></div>
				
				<p:panelGrid columns="3" layout="grid" columnClasses="ui-grid-col-5,ui-grid-col-6,ui-grid-col-1" 
					style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank" >
					
					<p:outputLabel for="createBy" value="#{msg.lbl_createdBy}: " />
					<p:outputLabel id="createBy" value="#{taskPlannerView.getUserFullName(taskPlannerView.task.createBy)}"	/>
            		<p:graphicImage  class ="Fright Fs30 circlesmallicon" value="/images/#{empty taskPlannerView.getUserImage(taskPlannerView.task.createBy) ? 'default.jpg' : taskPlannerView.getUserImage(taskPlannerView.task.createBy)}"></p:graphicImage>
			 
					<p:outputLabel for="createTime" value="#{msg.lbl_createdOn}: " />
					<p:outputLabel id="createTime" value="#{taskPlannerView.task.createTime}"	/>
            		<div class="EmptyBox10"></div>
                    
                    <p:row></p:row><div class="EmptyBox10"></div><p:row></p:row>
                                   
					<p:outputLabel for="updateBy" value="#{msg.lbl_lastUpdatedBy}: " />
					<p:outputLabel id="updateBy" value="#{taskPlannerView.getUserFullName(taskPlannerView.task.updateBy)}"	/>
            		<p:graphicImage class ="Fright Fs30 circlesmallicon" value="/images/#{empty taskPlannerView.getUserImage(taskPlannerView.task.updateBy) ? 'default.jpg' : taskPlannerView.getUserImage(taskPlannerView.task.updateBy)}"></p:graphicImage>
							        
					<p:outputLabel for="updateTime" value="#{msg.lbl_lastUpdatedOn}: " />
						<p:outputLabel id="updateTime" value="#{taskPlannerView.task.updateTime}"	/>
            		<div class="EmptyBox10"></div>
 				</p:panelGrid>
				</div>
				</div>
				</div>
		   	<p:blockUI block="form:pnl" widgetVar="bui">#{msg.lbl_loading}<br /> 
       				<p:graphicImage  value="/images/ajax-loader.gif"/>
    			</p:blockUI> 
	</ui:define>
</ui:composition>