<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui">

	<f:metadata>
		<f:viewAction action="#{taskPlannerView.onLoadAction}" />
		<f:viewAction action="#{taskPlannerAddUpdateView.onLoadAction}" />
	</f:metadata>
	
	<h:form id="dialogForm" enctype="multipart/form-data">
	<p:panel id="panelDialog">
			<p:messages id="dialgoMessages" showDetail="true"
			 	closable="true" escape="false" rendered="#{taskPlannerAddUpdateView.validateCheck eq 'false'}" />
			
			<div class="ui-widget ui-widget-header ui-corner-all ui-helper-clearfix"><div class="ui-toolbar-group-left">
			 					
					<p:commandButton value="#{msg.btn_create}" icon="fa fa-save" process="@this" id="btnSave" actionListener="#{taskPlannerAddUpdateView.saveAction}" 
					rendered="#{taskPlannerView.task.active eq 'Y' or empty taskPlannerView.task.active}" ajax="false" onclick="PF('blockUIForButtons').block()"/>
					
			 		<p:commandButton value="#{msg.btn_cancel}" id="btnCancel" icon="fa fa-close" 
			 		   process="@this" actionListener="#{taskPlannerAddUpdateView.clearDialogErrors}" update="createTask,panelDialog,:dialogForm:name1" 
			 		   onsuccess="if(#{taskPlannerAddUpdateView.task.parentTask eq null}){ PF('myTaskDialog').hide();}else{PF('mySubTaskDialog').hide();}" />
			 		 
			 		
			 	</div>
			 	<div style="color:#546e7a; !important"  class="ui-toolbar-group-right">
			 		<h:outputText value="#{msg.lbl_createAnotherTask}" />
        			<p:selectBooleanCheckbox value="#{taskPlannerView.createNewTask}">
        			<p:ajax listener="#{taskPlannerView.setCreateTaskDialog}" />
           			</p:selectBooleanCheckbox>  
			 	 </div>
			</div>
			 	
			
			 
			   <div class="Card ShadowEffect ui-fluid" style="overflow:auto !important;Height:400px;">
			   
			   <div class="Container100  Responsive100">
               	<div class="ContainerIndent" >
				<p:panelGrid columns="2" layout="grid"  columnClasses="ui-grid-col-3,ui-grid-col-9" styleClass="ui-panelgrid-blank">
								
				<p:outputLabel for="name" value="#{msg.lbl_taskname}" 
					rendered="#{not empty taskPlannerAddUpdateView.task.name or taskPlannerAddUpdateView.validateCheck eq 'true'}" />
				<p:inputText id="name" value="#{taskPlannerAddUpdateView.task.name}" 
					rendered="#{not empty taskPlannerAddUpdateView.task.name or taskPlannerAddUpdateView.validateCheck eq 'true'}"/>
					
				<p:outputLabel for="name1" value="#{msg.lbl_taskname}" 
					rendered="#{empty taskPlannerAddUpdateView.task.name and taskPlannerAddUpdateView.validateCheck eq 'false'}"/>
				<p:inputText id="name1" value="#{taskPlannerAddUpdateView.task.name}" class= "ui-state-error" 
					rendered="#{empty taskPlannerAddUpdateView.task.name and taskPlannerAddUpdateView.validateCheck eq 'false'}"/>
				</p:panelGrid>
				</div>
				</div>
				
			     <div class="Container50  Responsive50">
                 <div class="ContainerIndent " >
                  <p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank">
                 	
                 	<p:outputLabel for="project" value="#{msg.lbl_createIn1}" 
                 		rendered="#{taskPlannerAddUpdateView.task.project != null or taskPlannerAddUpdateView.validateCheck eq 'true'}"/>
					<p:selectOneMenu id="project" value="#{taskPlannerAddUpdateView.task.project}" 
						rendered="#{taskPlannerAddUpdateView.task.project != null or taskPlannerAddUpdateView.validateCheck eq 'true'}">
						<f:selectItem itemLabel="#{msg.lbl_select}" itemValue="" noSelectionOption="true" />
						<f:selectItems value="#{taskPlannerView.projectList}" var="projects" itemValue="#{projects.id}"
							itemLabel="#{projects.name}" itemLabelEscaped="true" />
					</p:selectOneMenu>
					
					<p:outputLabel for="project1" value="#{msg.lbl_createIn1}" 
						rendered="#{taskPlannerAddUpdateView.task.project == null and taskPlannerAddUpdateView.validateCheck eq 'false'}"/>
					<p:selectOneMenu id="project1" value="#{taskPlannerAddUpdateView.task.project}" class="ui-state-error" 
						rendered="#{taskPlannerAddUpdateView.task.project == null and taskPlannerAddUpdateView.validateCheck eq 'false'}">
						<f:selectItem itemLabel="#{msg.lbl_select}" itemValue="" noSelectionOption="true" />
						<f:selectItems value="#{taskPlannerView.projectList}" var="projects" itemValue="#{projects.id}"
							itemLabel="#{projects.name}" itemLabelEscaped="true" />
					</p:selectOneMenu>
                 	
                 	<p:outputLabel for="taskType" value="#{msg.lbl_typeName}" />
					<p:selectOneMenu id="taskType" value="#{taskPlannerAddUpdateView.task.type}" >
						<f:selectItem itemLabel="#{msg.lbl_select}" itemValue="" noSelectionOption="true" />
						<f:selectItems value="#{taskPlannerView.typeList}" var="types" itemValue="#{types.id}"
							itemLabel="#{types.type}" itemLabelEscaped="true" />
					</p:selectOneMenu>
					
					<p:outputLabel for="facilities" value="#{msg.lbl_facilities} *" 
							rendered="#{taskPlannerAddUpdateView.task.facilities != null or taskPlannerAddUpdateView.validateCheck eq 'true'}" />
					<p:selectOneMenu id="facilities" value="#{taskPlannerAddUpdateView.task.facilities}" filter="true" filterMatchMode="contains"
							rendered="#{taskPlannerAddUpdateView.task.facilities != null or taskPlannerAddUpdateView.validateCheck eq 'true'}" >
						<f:selectItem itemLabel="#{msg.lbl_select}" itemValue="" noSelectionOption="true" />
						<f:selectItems value="#{taskPlannerView.facilitiesList}" var="facilities" itemValue="#{facilities.id}"
							itemLabel="#{facilities.name}#{taskPlannerView.filterClients(facilities.clientId)}" itemLabelEscaped="true" />
					</p:selectOneMenu>
					
					<p:outputLabel for="facilities1" value="#{msg.lbl_facilities} *" 
							rendered="#{taskPlannerAddUpdateView.task.facilities == null and taskPlannerAddUpdateView.validateCheck eq 'false'}"/>
					<p:selectOneMenu id="facilities1" value="#{taskPlannerAddUpdateView.task.facilities}" class="ui-state-error" filter="true" filterMatchMode="contains"
							rendered="#{taskPlannerAddUpdateView.task.facilities == null and taskPlannerAddUpdateView.validateCheck eq 'false'}" >
						<f:selectItem itemLabel="#{msg.lbl_select}" itemValue="" noSelectionOption="true" />
						<f:selectItems value="#{taskPlannerView.facilitiesList}" var="facilities" itemValue="#{facilities.id}"
							itemLabel="#{facilities.name}#{taskPlannerView.filterClients(facilities.clientId)}" itemLabelEscaped="true" />
					</p:selectOneMenu>
                 	
                 	</p:panelGrid>
             	</div>
              </div>
				
              <div class="Container50  Responsive50">
               	<div class="ContainerIndent" >
              	  	<p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank">
               		
               		<p:outputLabel for="startDate" value="#{msg.lbl_taskStartDate}" />
					<p:calendar id="startDate" value="#{taskPlannerAddUpdateView.task.startDate}" converter="dateConverter" pattern="#{CommonConstants.APP_DATE_FORMAT}" mask="true" 
            			 widgetVar="dobWidget"/> <!-- mindate="dobWidget.today()" -->
            			             	
             		 		
             		<p:outputLabel for="dueDate" value="#{msg.lbl_dueDate} *" 
             			rendered="#{taskPlannerAddUpdateView.task.dueDate != null or taskPlannerAddUpdateView.validateCheck eq 'true'}" />
					<p:calendar id="dueDate" value="#{taskPlannerAddUpdateView.task.dueDate}" converter="dateConverter" pattern="#{CommonConstants.APP_DATE_FORMAT}" mask="true" 
            			mindate="dobWidget.today()" widgetVar="dobWidget"
            			rendered="#{taskPlannerAddUpdateView.task.dueDate != null or taskPlannerAddUpdateView.validateCheck eq 'true'}" />
            			
            		<p:outputLabel for="dueDate1" value="#{msg.lbl_dueDate} *" 
            			rendered="#{taskPlannerAddUpdateView.task.dueDate == null and taskPlannerAddUpdateView.validateCheck eq 'false'}"/>
					<p:calendar id="dueDate1" value="#{taskPlannerAddUpdateView.task.dueDate}" converter="dateConverter" pattern="#{CommonConstants.APP_DATE_FORMAT}" mask="true" 
            			mindate="dobWidget.today()" widgetVar="dobWidget" styleClass="ui-state-error !important;"
            				rendered="#{taskPlannerAddUpdateView.task.dueDate == null and taskPlannerAddUpdateView.validateCheck eq 'false'}" />	
            			
            			
            		<p:outputLabel for="estimatedTime" value="#{msg.lbl_estimated_time} *"
            			rendered="#{taskPlannerAddUpdateView.task.estimatedTime != null or taskPlannerAddUpdateView.validateCheck eq 'true'}" />      
					<p:selectOneMenu id="estimatedTime"  value="#{taskPlannerAddUpdateView.task.estimatedTime}" 
						rendered="#{taskPlannerAddUpdateView.task.estimatedTime != null or taskPlannerAddUpdateView.validateCheck eq 'true'}" >
						<f:selectItem itemLabel="#{msg.lbl_select}" itemValue="" noSelectionOption="true" />
						<f:selectItems value="#{taskPlannerView.estimatedWorkHoursList.entrySet()}" var="entry" 
									itemValue="#{entry.value}" itemLabel="#{entry.key}" />
					</p:selectOneMenu>
					
					<p:outputLabel for="estimatedTime1" value="#{msg.lbl_estimated_time} *"
						rendered="#{taskPlannerAddUpdateView.task.estimatedTime == null and taskPlannerAddUpdateView.validateCheck eq 'false'}" />      
					<p:selectOneMenu id="estimatedTime1"  value="#{taskPlannerAddUpdateView.task.estimatedTime}" class="ui-state-error"
						rendered="#{taskPlannerAddUpdateView.task.estimatedTime == null and taskPlannerAddUpdateView.validateCheck eq 'false'}" >
						<f:selectItem itemLabel="#{msg.lbl_select}" itemValue="" noSelectionOption="true" />
						<f:selectItems value="#{taskPlannerView.estimatedWorkHoursList.entrySet()}" var="entry" 
									itemValue="#{entry.value}" itemLabel="#{entry.key}" />
					</p:selectOneMenu>
					
               				
					</p:panelGrid>
             		</div>
                </div>
				
				<div class="Container100  Responsive50">
                <div class="ContainerIndent " >
                <p:separator style="width:100%;" />
                </div>
                </div>
				
				<div class="Container50  Responsive50">
               	<div class="ContainerIndent" >
              	  	<p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank">
				
					<p:outputLabel for="category" value="#{msg.lbl_category1}" 
						rendered="#{taskPlannerAddUpdateView.task.category != null or taskPlannerAddUpdateView.validateCheck eq 'true'}" />
					<p:selectOneMenu id="category" value="#{taskPlannerAddUpdateView.task.category}" 
						rendered="#{taskPlannerAddUpdateView.task.category != null or  taskPlannerAddUpdateView.validateCheck eq 'true'}">
						<f:selectItem itemLabel="#{msg.lbl_select}" itemValue="" noSelectionOption="true" />
						<f:selectItems value="#{taskPlannerView.categoryList}" var="categories" itemValue="#{categories.id}"
							itemLabel="#{categories.name}" itemLabelEscaped="true" />
					</p:selectOneMenu>
					
					<p:outputLabel for="category1"  value="#{msg.lbl_category1}" 
						rendered="#{taskPlannerAddUpdateView.task.category == null and taskPlannerAddUpdateView.validateCheck eq 'false'}" />
					<p:selectOneMenu id="category1" value="#{taskPlannerAddUpdateView.task.category}" class="ui-state-error" 
						rendered="#{taskPlannerAddUpdateView.task.category == null and taskPlannerAddUpdateView.validateCheck eq 'false'}"> 
						<f:selectItem itemLabel="#{msg.lbl_select}" itemValue="" noSelectionOption="true" />
						<f:selectItems value="#{taskPlannerView.categoryList}" var="categories" itemValue="#{categories.id}"
							itemLabel="#{categories.name}" itemLabelEscaped="true" />
					</p:selectOneMenu>
					
					<p:outputLabel for="priority" value="#{msg.lbl_priority}" />
					<p:selectOneMenu id="priority"  value="#{taskPlannerAddUpdateView.task.priority  ?  taskPlannerAddUpdateView.task.priority : taskPlannerView.priority}"
					valueChangeListener="#{taskPlannerAddUpdateView.onChangePriorityEvent}">
						<f:selectItem itemLabel="#{msg.lbl_select}" itemValue="" noSelectionOption="true" />
						<f:selectItems value="#{taskPlannerView.priorityList}" var="priority" itemValue="#{priority.id}"
							itemLabel="#{priority.value}" itemLabelEscaped="true" />
					</p:selectOneMenu>
					
					<p:outputLabel for="status" value="#{msg.lbl_status}" style="margin-top: 10px; !important" />
					<p:outputLabel id="status" value="#{msg['status.notYet']}" style="margin-top: 10px; !important"/>
					
					<p:row></p:row>
					<div class="EmptyBox10"/>
					
					<!-- <p:outputLabel for="participant" value="#{msg.lbl_taskParti}" />
					<p:selectOneMenu id="participant" value="#{taskPlannerAddUpdateView.task.participantName}" valueChangeListener="#{taskPlannerAddUpdateView.onChangeParticipantEvent}"> 
						<f:selectItem itemLabel="#{msg.lbl_select}" itemValue="" noSelectionOption="true" />
						<f:selectItems value="#{taskPlannerView.participantList}" var="participant" itemValue="#{participant.identifier}"
							itemLabel="#{participant.firstName} #{participant.surName}  " itemLabelEscaped="true" />
					</p:selectOneMenu> -->
					
					
					<p:row></p:row>
					<div class="EmptyBox10"/>
					
					
					<!-- <p:outputLabel for="qmsFile" value="#{msg.lbl_fileFromQMS}"/>
					<p:selectBooleanCheckbox id="qmsFile"  value="#{taskPlannerAddUpdateView.task.qmsDoc}" >
						<p:ajax update="doc"  />
				    </p:selectBooleanCheckbox> -->
					
				</p:panelGrid>
				</div>
				</div>	
				<div class="Container50  Responsive50">
               	<div class="ContainerIndent" >
              	  	<p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank">
              	               		
					<p:outputLabel for="reporter" value="#{msg.lbl_reporter1}" 
							rendered="#{taskPlannerAddUpdateView.task.reporter == null or  taskPlannerAddUpdateView.validateCheck eq 'true'}"/>
             		<p:selectOneMenu id="reporter" value="#{taskPlannerAddUpdateView.task.reporter ? taskPlannerAddUpdateView.task.reporter : taskPlannerView.loggedUserId}"
						rendered="#{taskPlannerAddUpdateView.task.reporter == null or  taskPlannerAddUpdateView.validateCheck eq 'true'}" 
						valueChangeListener="#{taskPlannerAddUpdateView.onChangeReporterEvent}">
            		<f:selectItems value="#{taskPlannerView.userList}" var="user" itemValue="#{user.userId}"
							itemLabel="#{taskPlannerView.getUserFullName(user.userId)}" itemLabelEscaped="true" />
					</p:selectOneMenu>
					
					<p:outputLabel for="assignTo" value="#{msg.lbl_assignTo}" />
             		<p:selectOneMenu id="assignTo" value="#{taskPlannerAddUpdateView.task.assignTo}" >
						<f:selectItem itemLabel="#{msg.lbl_notAssigned}" itemValue="#{msg.lbl_notAssigned}" />
						<f:selectItems value="#{taskPlannerView.userList}" var="user" itemValue="#{user.userId}"
							itemLabel="#{taskPlannerView.getUserFullName(user.userId)}" itemLabelEscaped="true" />
					</p:selectOneMenu>
					
					<p:outputLabel for="deputy" value="#{msg.lbl_taskDeputy} " 
						rendered= "#{taskPlannerAddUpdateView.task.deputy == null and taskPlannerAddUpdateView.validateCheck eq 'false'}"/>
			         <p:selectOneMenu id="deputy" value="#{taskPlannerAddUpdateView.task.deputy ? taskPlannerAddUpdateView.task.deputy : taskPlannerView.deputyUser.deputy}" 
			         		rendered= "#{taskPlannerAddUpdateView.task.deputy == null and taskPlannerAddUpdateView.validateCheck eq 'false'}"   class="ui-state-error" 
			         		valueChangeListener="#{taskPlannerAddUpdateView.onChangeDeputyEvent}"> 
			         	<f:selectItem itemLabel="#{msg.lbl_select}" itemValue="" noSelectionOption="true" />
			         	<f:selectItems value="#{taskPlannerView.deputyList}" var="user" itemValue="#{user.userId}"
							itemLabel="#{taskPlannerView.getUserFullName(user.userId)}" itemLabelEscaped="true" />
					</p:selectOneMenu>
					
					
					<p:outputLabel for="deputy2" value="#{msg.lbl_taskDeputy} " 
						rendered= "#{taskPlannerAddUpdateView.task.deputy != null or taskPlannerAddUpdateView.validateCheck eq 'true'}"/>
			         <p:selectOneMenu id="deputy2" value="#{taskPlannerAddUpdateView.task.deputy ? taskPlannerAddUpdateView.task.deputy : taskPlannerView.deputyUser.deputy}" 
			         		rendered= "#{taskPlannerAddUpdateView.task.deputy != null or taskPlannerAddUpdateView.validateCheck eq 'true'}"   
			         		valueChangeListener="#{taskPlannerAddUpdateView.onChangeDeputyEvent}"> 
			         	<f:selectItem itemLabel="#{msg.lbl_select}" itemValue="" noSelectionOption="true" />
			         	<f:selectItems value="#{taskPlannerView.deputyList}" var="user" itemValue="#{user.userId}"
							itemLabel="#{taskPlannerView.getUserFullName(user.userId)}" itemLabelEscaped="true" />
					</p:selectOneMenu>
					
					
					
					<p:outputLabel for="crm" value="#{msg.lbl_taskCrm}" />
					<p:selectOneMenu id="crm" value="#{taskPlannerAddUpdateView.task.crmName}" valueChangeListener="#{taskPlannerAddUpdateView.onChangeCrmEvent}"
					   filter="true" filterMatchMode="contains"> 
						<f:selectItem itemLabel="#{msg.lbl_select}" itemValue="" noSelectionOption="true" />
						<f:selectItems value="#{taskPlannerView.crmList}" var="crm" itemValue="#{crm.identifier}"
							itemLabel="#{crm.firstName}" itemLabelEscaped="true" />
					</p:selectOneMenu>
					
				<!-- 	<p:outputLabel for="course" value="#{msg.lbl_taskCourse}" />
					<p:selectOneMenu id="course" value="#{taskPlannerAddUpdateView.task.courseId}"  valueChangeListener="#{taskPlannerAddUpdateView.onChangeCourseEvent}"> 
						<f:selectItem itemLabel="#{msg.lbl_select}" itemValue="" noSelectionOption="true" />
						<f:selectItems value="#{taskPlannerView.courseList}" var="course" itemValue="#{course.identifier}"
							itemLabel="#{course.courseId}" itemLabelEscaped="true" />
					</p:selectOneMenu> -->
					
					</p:panelGrid>
             		</div>
                </div>										
				
				<div class="Container100  Responsive100">
               	<div class="ContainerIndent" >
              	  	<p:panelGrid id="doc" columns="2" layout="grid" columnClasses="ui-grid-col-2,ui-grid-col-10" styleClass="ui-panelgrid-blank">
              			
					<p:outputLabel for="attachment" value="#{msg.lbl_attachment}" rendered="#{taskPlannerAddUpdateView.task.qmsDoc eq 'false' || empty taskPlannerAddUpdateView.task.qmsDoc}"/>
					<p:fileUpload icon="fa fa-paperclip"  id="attachment" label="#{msg.lbl_browseFiles}" fileUploadListener="#{taskPlannerAddUpdateView.fileUploadListener}" value="#{taskPlannerAddUpdateView.file}" 
						multiple="true" mode="advanced" dragDropSupport="true" auto="true" sizeLimit="1000000" 
						update="uploadedfile" rendered="#{taskPlannerAddUpdateView.task.qmsDoc eq 'false' || empty taskPlannerAddUpdateView.task.qmsDoc}">
					</p:fileUpload>
					
				<!-- 	<p:outputLabel for="qmsUpload" value="#{msg.lbl_templateFile}" required="true"   
							rendered="#{taskPlannerAddUpdateView.task.qmsDoc eq 'true'}"/>
						<p:selectOneMenu id="qmsUpload"  value="#{taskPlannerAddUpdateView.task.qmsFile}" filter="true" filterMatchMode="startsWith"
							rendered="#{taskPlannerAddUpdateView.task.qmsDoc eq 'true'}" required="true" > 
							<f:selectItem itemLabel="#{msg.lbl_select}" itemValue="" noSelectionOption="true" />
							<f:selectItems value="#{taskPlannerView.documentList}" var="documents" 
								itemValue="#{documents.uploadedDoc}" itemLabel="#{documents.name}" itemLabelEscaped="true" />
								<p:ajax update="uploadedfile"  process="@this" listener="#{taskPlannerAddUpdateView.qmsFileUploadListener(taskPlannerAddUpdateView.task.qmsFile)}"/>  
						</p:selectOneMenu> -->
									
					
              	  	</p:panelGrid>
              	</div>
              	</div>
					
                <div class="Container100  Responsive100">
               		<div class="ContainerIndent">
               		
					<p:outputLabel for="uploadedfile" value="#{msg.lbl_uploadedFiles}" />
					<p:dataList id="uploadedfile" value="#{taskPlannerAddUpdateView.uploadedFileList}" var="files" 
							emptyMessage="#{msg.empty_file_upload}" type="unordered" styleClass="ui-datalist-data">
							<p:outputLabel value="#{files}" />
							<p:commandLink action="#{taskPlannerAddUpdateView.deleteFile(taskPlannerAddUpdateView.task.dirName,files)}" update="@parent">
							<icon class="fa fa-close"></icon>
							<p:confirm header="#{msg.confirmation}" message="#{msg.delete_upload_file}" icon="ui-icon-alert" />
							</p:commandLink>
							<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                       	 	 <p:commandButton value="#{msg.btn_yes}" type="button" styleClass="ui-confirmdialog-yes "
                        	 icon="ui-icon-check fa fa-check Fs14 White" />
                        	 <p:commandButton value="#{msg.btn_no}" type="button" styleClass="ui-confirmdialog-no "
                        	 icon="ui-icon-close fa fa-close Fs14 White" />
                        	</p:confirmDialog>
					</p:dataList>
					<div class="EmptyBox10"/>
               		<p:outputLabel for="description" value="#{msg.lbl_description}" />
               		 <!-- <p:editor id="description" height="150" locale="#{CommonConstants.USER_LOCALE}" controls="#{msg.style_style} bold italic underline color strikethrough bullets numbering cut copy paste undo redo link unlink" 
               			value="#{taskPlannerAddUpdateView.task.description}"  /> --> 
               			<pe:ckEditor id="description" height="150" width="100%" language="#{sessionScope['USER_IN_CONTEXT'].language}"
               			value="#{taskPlannerAddUpdateView.task.description}" toolbar="[['Styles','Bold','Italic','Underline','TextColor','BGColor','Strike','BulletedList','NumberedList','Cut','Copy','Paste','Undo','Redo','Link', 'Unlink']]">  
    					</pe:ckEditor>  
                		
                	</div>
                </div>
              </div>
              </p:panel>
			</h:form>
			<!-- <p:blockUI block="dialogForm" widgetVar="bui">#{msg.lbl_loading}<br /> 
       			<p:graphicImage  value="/images/ajax-loader.gif"/>
    		</p:blockUI> -->
    		
    		<pe:blockUI block="dialogForm" widgetVar="blockUIForButtons"   css="{top: '400px', left: '', right: '650px'}"  >  
			<h:panelGrid columns="1" style="text-align:center;">
			<h:graphicImage library="images"  value="/images/ajax-loader.gif"/>
			<h:outputText value="#{msg.lbl_loading}"/>  
			<div class="EmptyBox10"></div>
			</h:panelGrid>
			</pe:blockUI>
    		
    		<script type="text/javascript"> 
						$( document ).ready(function() {
						$("button[id*='dialogForm:btnCancel']").click(function(e) { 
							$("#createTask").html("");$("#createTask").empty();
							});
							});
					</script>
			
	</html>