<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui" >
	<ui:define name="subheader">
        #{msg.hdr_taskplanner}
    </ui:define>
	<ui:define name="content">
		<f:event type="preRenderView"
			listener="#{taskPlannerView.preRenderView}" />
		<f:metadata>
			<f:viewAction action="#{taskPlannerView.onLoadAction}" />
		</f:metadata>
		
		<div class="Container100">
           <div class="ContainerIndent">
              <div class="Card ShadowEffect">
                 <div class="Container100  Responsive100">
                   <div class="ContainerIndent">
                    <h2 class="TexAlCenter BigTopic">
                    <p:panel id="pageHeader" style="border:none;"><p:outputLabel rendered="#{not empty taskPlannerView.taskList and taskPlannerView.showWatchList eq 'false'}">#{msg.hdr_taskData}</p:outputLabel>
                    <p:outputLabel rendered="#{taskPlannerView.showWatchList eq 'true'}">#{msg.menu_watchlist}</p:outputLabel></p:panel></h2>
            	<p:messages id="messages" globalOnly="true" showDetail="true"
			 	autoUpdate="true" closable="true" escape="false" rendered="#{not facesContext.validationFailed and taskPlannerAddUpdateView.validateCheck eq 'true'}"/>
			
			<h:form id="taskListForm" enctype="multipart/form-data">
			<div class="ContainerIndent  "> 
			<div class="ui-widget ui-widget-header ui-corner-all ui-helper-clearfix">
			<div   class="ui-toolbar-group-left">
			<p:outputPanel id="watchUpdate" > 	
				
			        	 	 
          	<p:commandButton value="#{msg.btn_add}" id="btnAdd" icon="fa fa-plus"   process="@this" 
				oncomplete="PF('myTaskDialog').show();"  action="#{taskPlannerAddUpdateView.normalTaskAction}"  />
          	 	 
          	 
			
          	<p:commandButton value="#{msg.list_view}" icon="fa fa-list-ul" update="taskView,:taskListForm:tableView,listViewPage,watchUpdate" action="#{taskPlannerView.onChangeView(taskPlannerView.changeView)}"
          	   process="@this" rendered="#{taskPlannerView.changeView eq 'false'}"></p:commandButton>
          	               	            	     
          	<p:commandButton value="#{msg.detail_view}" icon="fa fa-laptop" update="taskView,:taskListForm:tableView,listViewPage,watchUpdate" action="#{taskPlannerView.onChangeView(taskPlannerView.changeView)}"
          	   process="@this" rendered="#{taskPlannerView.changeView eq 'true'}"></p:commandButton>
          	   
          	    
          	
          	<p:commandButton value="#{msg.menu_watchlist}" id="showWatchList" icon="fa fa-star"  onclick="rc1();" rendered="#{not taskPlannerView.showWatchList}"
          			update=":taskView:detailViewPanel,:taskView:pnl,:taskListForm:tableView,listViewPage,@this,:pageHeader" process="@this" />
          			
          	<p:commandButton value="#{msg.btn_showAll}" id="showAllList" icon="fa fa-star"  onclick="rc2();" rendered="#{taskPlannerView.showWatchList}"
          			update=":taskView:detailViewPanel,:taskView:pnl,:taskListForm:tableView,listViewPage,@this,:pageHeader" process="@this" style="background-color: #546e7a;" />
             
          	 <p:remoteCommand name="rc1" actionListener="#{taskPlannerView.changeToWatchList}" process="@form"  update="taskView,:taskListForm:tableView,:taskListForm:showAllList,@parent" />
          	 <p:remoteCommand name="rc2" actionListener="#{taskPlannerView.changeFromWatchList}" process="@form" update="taskView,:taskListForm:tableView,:taskListForm:showAllList,@parent" />
		    
		    
		    </p:outputPanel> 
		    <p:dialog id="createTask" stickyHeader="true"  appendBody="false" header="#{msg.hdr_taskCreation}" 
          	 widgetVar="myTaskDialog" class="GrayModena Geometry"  aria-hidden="false" aria-live="polite" 
          	 style="margin-top: 30px; width: auto !important; max-height:100% !important; max-width: 60%; height: auto !important; z-index: 1005"
 	           position="top"   
			 resizable="false" responsive="true" modal="true" visible="#{taskPlannerView.createNewTask}" >
			 
			 <p:panel id="panelDialogCreateTask">
			  <p:ajax event="close" update="dialogForm:panelDialog"/>	
			 	<ui:include src="/views/taskplanner/task/taskCreateDialog.xhtml" />
			 </p:panel>	
			 </p:dialog>
		      	
          	 	<!-- listener="#{taskPlannerView.showWatchList}"  <p:ajax event="click" onstart="rc()" process="@this"  /> -->
          </div>
             <div class="ui-toolbar-group-right">
              	 
               <!-- <p:selectCheckboxMenu style="display: inline-block !important;vertical-align:top;"  scrollHeight="120" value="#{taskPlannerView.participantNameList}" label="#{msg.lbl_taskParti}" filter="true" 
              	 filterMatchMode="startsWith" showCheckbox="true" >	 
              	 <f:selectItems value="#{taskPlannerView.participantList}" var="parti" itemValue="#{parti.identifier}" 
									itemLabel="#{parti.firstName} #{parti.surName}" itemLabelEscaped="true" selection="true" />
					<p:ajax  update=":taskListForm:tableView:listTable,:listViewPage:listTable1" listener="#{taskPlannerView.onChangeParticipantEvent}" /> 
					<p:ajax event="toggleSelect" update=":taskListForm:tableView:listTable,:listViewPage:listTable1" listener="#{taskPlannerView.onChangeParticipantEvent}" />				
			   </p:selectCheckboxMenu> -->	
			   
			   <!-- <p:selectCheckboxMenu style="display: inline-block !important;vertical-align:top;"  scrollHeight="120" value="#{taskPlannerView.courseNameList}" label="#{msg.lbl_taskCourse}" filter="true" 
              	 filterMatchMode="startsWith" showCheckbox="true" >	 
              	 <f:selectItems value="#{taskPlannerView.courseList}" var="course" itemValue="#{course.identifier}" 
									itemLabel="#{course.courseId}" itemLabelEscaped="true" selection="true" />
									<p:ajax  update=":taskListForm:tableView:listTable,:listViewPage:listTable1" listener="#{taskPlannerView.onChangeCourseEvent}" /> 
					<p:ajax event="toggleSelect" update=":taskListForm:tableView:listTable,:listViewPage:listTable1" listener="#{taskPlannerView.onChangeCourseEvent}" />		
			   </p:selectCheckboxMenu>
			    -->
               <p:selectCheckboxMenu style="display: inline-block !important;vertical-align:top;"  scrollHeight="120" value="#{taskPlannerView.crmNameList}" label="#{msg.lbl_taskCrm}" filter="true" 
              	 filterMatchMode="startsWith" showCheckbox="true" >	 
              	 <f:selectItems value="#{taskPlannerView.crmList}" var="crm" itemValue="#{crm.identifier}" 
									itemLabel="#{crm.firstName}" itemLabelEscaped="true" selection="true" />
									<p:ajax  update=":taskListForm:tableView:listTable,:listViewPage:listTable1" listener="#{taskPlannerView.onChangeCrmEvent}" /> 
					<p:ajax event="toggleSelect" update=":taskListForm:tableView:listTable,:listViewPage:listTable1" listener="#{taskPlannerView.onChangeCrmEvent}" />		
			   </p:selectCheckboxMenu> 
              	 
              	 <p:selectCheckboxMenu style="display: inline-block !important;vertical-align:top;"  scrollHeight="120" value="#{taskPlannerView.catList}" label="#{msg.lbl_category}" filter="true" 
              	 filterMatchMode="startsWith" showCheckbox="true" >
    			
    				<f:selectItems value="#{taskPlannerView.categoryList}" var="cat" itemValue="#{cat.name}" 
										itemLabel="#{cat.name}" itemLabelEscaped="true" selection="true" />
					<p:ajax update=":taskListForm:tableView:listTable,:listViewPage:listTable1" listener="#{taskPlannerView.onChangeCategoryEvent}" />  
    				<p:ajax event="toggleSelect" update=":taskListForm:tableView:listTable,:listViewPage:listTable1" listener="#{taskPlannerView.onChangeCategoryEvent}" />
				</p:selectCheckboxMenu>
				
				<p:selectCheckboxMenu style="display: inline-block !important;vertical-align:top;" scrollHeight="120" panelStyleClass="panel" value="#{taskPlannerView.projList}" label="#{msg.lbl_projectName}" filter="true" filterMatchMode="startsWith" showCheckbox="true">
	    			<f:selectItems value="#{taskPlannerView.projectList}" var="proj" itemValue="#{proj.name}"
											itemLabel="#{proj.name}" itemLabelEscaped="true" />
					<p:ajax  update=":taskListForm:tableView:listTable,:listViewPage:listTable1" listener="#{taskPlannerView.onChangeProjectEvent}" />  
	    			<p:ajax event="toggleSelect" update=":taskListForm:tableView:listTable,:listViewPage:listTable1" listener="#{taskPlannerView.onChangeProjectEvent}" />
				</p:selectCheckboxMenu>
				
				<p:selectCheckboxMenu style="display: inline-block !important;vertical-align:top;" scrollHeight="120" panelStyleClass="panel" value="#{taskPlannerView.statList}" label="#{msg.lbl_status}" filter="true" filterMatchMode="startsWith" showCheckbox="true">
	    			<f:selectItems value="#{taskPlannerView.statusList}" var="stat" itemValue="#{stat.id}"
											itemLabel="#{stat.value}" itemLabelEscaped="true" />
					<p:ajax update=":taskListForm:tableView:listTable,:listViewPage:listTable1" listener="#{taskPlannerView.onChangeStatusEvent}" />  
	    			<p:ajax event="toggleSelect" update=":taskListForm:tableView:listTable,:listViewPage:listTable1" listener="#{taskPlannerView.onChangeStatusEvent}" />
				</p:selectCheckboxMenu>
				
          
          	 </div>
  
           </div>
           </div>
           <h:form id ="tableView">
			<div class="Container30  Responsive100">
            <div class="ContainerIndent  "> 
           
            <p:dataTable id="listTable" var="tasks" selection="#{taskPlannerView.task}" selectionMode="single" 
				value="#{taskPlannerView.taskList}" rowsPerPageTemplate="#{sessionScope['USER_IN_CONTEXT'].actualDisplayRowsSize}"
				rows="#{sessionScope['USER_IN_CONTEXT'].displayRowsSize}"   rowKey="#{tasks.id}"
				currentPageReportTemplate="#{msg.lbl_showing} {startRecord}-{endRecord} #{msg.lbl_outOf} {totalRecords}"
				style="margin-bottom:0;" scrollable="true" scrollHeight="420"
				emptyMessage="#{msg.table_empty_msg}"
				paginatorTemplate="{PageLinks} {RowsPerPageDropdown}" rendered="#{taskPlannerView.isDetailView eq true}"
				paginator="true" widgetVar="listTableWidgetVar" paginatorPosition="bottom"  styleClass="paginated"
				filteredValue="#{taskPlannerView.filteredTaskList}"
				rowIndexVar="rowIndex" tableStyle="table-layout: auto;">
				
				<p:ajax event="rowSelect"   update="taskView" listener="#{taskPlannerView.showTaskHistory}" />
				<f:facet name="header">
				<div style="height: 50px;">
				<table id="filter"  style="margin-top: -15px;">
					<tr>
						<td align="left" >
							<p:inputText id="globalFilter"
							onkeyup="PF('listTableWidgetVar').filter()"
							placeholder="#{msg.lbl_search}" style="width:75%"/>
						</td>
						<td align="right" >
						</td>
					</tr>
				   </table>
				  </div>	
				</f:facet>
				
				<p:column headerText="#{msg.lbl_taskId}" sortBy="#{tasks.identifier}" resizable="true" filterMatchMode="contains" filterBy="#{tasks.identifier}" filterStyle="display:none">
					<h:outputText  value="#{tasks.identifier}" />
				</p:column>
				
				<p:column headerText="#{msg.lbl_createIn}" sortBy="#{tasks.project}" resizable="true" filterMatchMode="contains" filterBy="#{tasks.project}" filterStyle="display:none">
					<h:outputText  value="#{tasks.project}" />
				</p:column>
				
			 </p:dataTable>
			
			 </div>
			 </div>
			 </h:form> 
			</h:form>
			<h:form id="taskView" enctype="multipart/form-data">
		
			<div class="Container70  Responsive100 ">
			 <div class="ContainerIndent " >
				<p:panel style="border:none !important;background-color: #f5f5f5;background-image: url('/images/kach.jpg');height:570px;text-align:center;" 
						rendered="#{empty taskPlannerView.task.identifier and taskPlannerView.isDetailView eq true}" >
					
					<div class="EmptyBox30"></div>
					<i class="fa fa-exclamation-triangle Fs30" style="margin-top:12px;" />
					<span class="ui-separator">
                    	<span class="fa fa-ellipsis-v SoftGray"></span>
                 	</span>
					<p:outputLabel rendered="#{empty taskPlannerView.task.identifier}" 
					style="font-size:35px; !important"  value="#{msg.table_empty_msg}" />
										
				</p:panel>
			</div>
		  </div>
		   
			
			 <p:panel id="detailViewPanel" style="border:none;" rendered="#{taskPlannerView.isDetailView eq true and not empty taskPlannerView.task.identifier }" >
			 <div class="Container70  Responsive100 ">
			 <div class="ContainerIndent " >
			
			 <div class="ui-widget ui-widget-header ui-corner-all ui-helper-clearfix"><div class="ui-toolbar-group-left">
			 <p:commandButton value="#{msg.btn_edit}" id="btnEdit" process="@this" icon="fa fa-pencil" action="#{taskPlannerView.editAction(taskPlannerView.task.id)}" />
			 <p:commandButton id="btnClone" value="#{msg.btn_clone}" process="@this" icon="fa fa-plus" action="#{taskPlannerView.cloneAction}" update="@form"/>
			<p:commandButton id="btnSubTask" value="#{msg.btn_subTask}" icon="fa fa-plus" process="@this"  
			 	action="#{taskPlannerAddUpdateView.subTaskAction(taskPlannerView.task.identifier)}" oncomplete="PF('mySubTaskDialog').show();" />
			 
			  <p:dialog id="subTaskCreate" stickyHeader="true"  appendBody="false" header="#{taskPlannerView.task.identifier}" 
          	 widgetVar="mySubTaskDialog" class="GrayModena Geometry"  aria-hidden="false" aria-live="polite" 
          	 style="margin-top: 30px; width: auto !important; max-height:100% !important; max-width: 60%; height: auto !important; z-index: 1005"
 	           position="top"   
			 resizable="false" responsive="true" modal="true" visible="#{taskPlannerView.createNewTask}" >
			  <p:panel id="panelDialogSubTask">
			  <p:ajax event="close" update="dialogForm:panelDialog"/> 
			 
			 	<ui:include src="/views/taskplanner/task/taskCreateDialog.xhtml" />
			 	</p:panel>
			 </p:dialog>
			 
			</div>
			 <div class="ui-toolbar-group-right">
				<p:commandButton id="deleteTask" icon="fa fa-trash-o" process="@form" onclick=" PF('bui').show()"
                        action="#{taskPlannerView.deleteAction(taskPlannerView.task.id)}"
                        rendered="#{taskPlannerView.task.active eq 'Y'}"
                        title="#{msg.btn_deleTask}" >
                        <p:confirm header="#{msg.confirmation}" message="#{msg.lbl_reallyDeleteTask}" icon="ui-icon-alert" />
                </p:commandButton>
                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                <p:commandButton value="#{msg.btn_yes}" type="button" styleClass="ui-confirmdialog-yes " icon="ui-icon-check fa fa-check Fs14 White" />
                <p:commandButton value="#{msg.btn_no}" type="button" styleClass="ui-confirmdialog-no " icon="ui-icon-close fa fa-close Fs14 White" />
                </p:confirmDialog>
			</div>
			 </div>
			 <p:tabView id="pnl">
				<p:tab>
				
				<f:facet name="title">
				<p:outputLabel value="#{taskPlannerView.task.identifier}" />
				<span class="ui-separator">
                      <span class="fa fa-ellipsis-v SoftGray"></span>
                 </span>
				
		      	<p:commandButton  id="addwatchList" icon="fa fa-star Fs25 Gray iconclass" actionListener="#{taskPlannerView.addTowatchListAction}" 
		      		rendered="#{taskPlannerView.task.watchStatus ne 'true' and taskPlannerView.task.identifier != null}" onclick="PF('bui').show()" styleClass="ui-button-eye"
          			update="taskView,:taskListForm:tableView,listViewPage,@this" process="@this" 
          			style="vertical-align:top;display:inline-block;background-color: #eceff1;margin-top:-18px;">
          			</p:commandButton>
          			
          		<p:commandButton id="removewatchList" icon="fa fa-star Fs25 Blue iconclass"   actionListener="#{taskPlannerView.removeWatchListAction}" 
          			rendered="#{taskPlannerView.task.watchStatus eq  'true' and taskPlannerView.task.identifier != null}" onclick="PF('bui').show()" styleClass="ui-button-eye"
          			update="taskView,:taskListForm:tableView,listViewPage,@this" process="@this" 
          			style="vertical-align:top;display:inline-block;background-color: #eceff1;margin-top:-18px;" />
		      	
		        
				</f:facet>
				<p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank" columnClasses="ui-grid-col-3,ui-grid-col-9">
						<p:outputLabel for="name" value="#{msg.lbl_taskName}" />
						<p:outputLabel id="name" value="#{taskPlannerView.task.name}" />
				</p:panelGrid>
					
				<p:panelGrid columns="4" layout="grid" styleClass="ui-panelgrid-blank">
				
					<p:outputLabel for="project" value="#{msg.lbl_createIn}" />
					<p:outputLabel id="project" value="#{taskPlannerView.task.project}" />
					
					<p:outputLabel for="startDate" value="#{msg.lbl_taskStartDate}" />
					<p:outputLabel id="startDate"  value="#{taskPlannerView.task.startDate}" >
					<f:convertDateTime pattern="#{CommonConstants.APP_DATE_FORMAT}"  />
					</p:outputLabel>
					
					<p:outputLabel for="taskType" value="#{msg.lbl_typeName}" />
					<p:outputLabel id="taskType"  value="#{taskPlannerView.filteredType(taskPlannerView.task.type)}" >
					</p:outputLabel>
										
					<p:outputLabel for="dueDate" value="#{msg.lbl_dueDate}" />
					<p:outputLabel id="dueDate"  value="#{taskPlannerView.task.dueDate}" >
					<f:convertDateTime pattern="#{CommonConstants.APP_DATE_FORMAT}"  />
					</p:outputLabel>
					
					<p:outputLabel for="facilities" value="#{msg.lbl_facilities}" />
					<p:outputLabel id="facilities" value="#{taskPlannerView.filterFacilityName(taskPlannerView.task.facilities)}" />
					
					<p:outputLabel for="estimatedTime" value="#{msg.lbl_estimated_time}"/> 
         			<p:outputLabel id="estimatedTime" value="#{not empty taskPlannerView.task.estimatedTime ? 
         													taskPlannerView.returnedEstimatedWork(taskPlannerView.task.estimatedTime) : ''}"/> 
					
					</p:panelGrid>
					<div class = "EmptyBox10"></div>
					<p:separator style="width:100%;" />
					<p:panelGrid columns="4" layout="grid" styleClass="ui-panelgrid-blank">
										
					<p:outputLabel for="category" value="#{msg.lbl_category}" />
					<p:outputLabel id="category" value="#{taskPlannerView.task.category}" />
					
					<p:outputLabel for="reporter" value="#{msg.lbl_reporter}" />
					<p:outputLabel id="reporter" value="#{not empty taskPlannerView.task.reporter ? taskPlannerView.getUserFullName(taskPlannerView.task.reporter) : ''}" />
					
					<p:outputLabel for="priority" value="#{msg.lbl_priority}" />					
					<p:outputLabel id="priority" value="#{not empty taskPlannerView.task.priority ? msg['priority.'+=taskPlannerView.task.priority] : ''}" />
					
					<p:outputLabel for="assignTo" value="#{msg.lbl_assignTo}" />
					<p:outputLabel id="assignTo" value="#{taskPlannerView.task.assignTo == 'Unassigned' or taskPlannerView.task.assignTo == 'Nicht zugewiesen' ? 
					msg.lbl_notAssigned : taskPlannerView.getUserFullName(taskPlannerView.task.assignTo)}" />
					
					<p:outputLabel for="status" value="#{msg.lbl_status}" />
					<p:outputLabel id="status" value="#{not empty taskPlannerView.task.status ? msg['status.'+=taskPlannerView.task.status] :''}" />	
					
					<p:outputLabel for="deputy" value="#{msg.lbl_taskDeputy1}" />
					<p:outputLabel id="deputy" value="#{not empty taskPlannerView.task.deputy ? taskPlannerView.getUserFullName(taskPlannerView.task.deputy) : ''}" />
					
					<!-- <p:outputLabel for="participant" value="#{msg.lbl_taskParti}" />
					<p:outputLabel id="participant" value="#{taskPlannerView.filteredParticipantName(taskPlannerView.task.participantName)}" /> -->
					
					<!-- <p:outputLabel for="course" value="#{msg.lbl_taskCourse}" />
					<p:outputLabel id="course" value="#{taskPlannerView.filteredCourseId(taskPlannerView.task.courseId)}" />
					 -->
					<p:outputLabel for="crm" value="#{msg.lbl_taskCrm}" />
					<p:outputLabel id="crm" value="#{taskPlannerView.filteredCrmName(taskPlannerView.task.crmName)}" />
					
					</p:panelGrid> 
					
					<div class = "EmptyBox10"></div>
					<p:panelGrid columns="1" styleClass="ui-panelgrid-blank">
					<p:outputLabel for="attachment" value="#{msg.lbl_attachment}" />
					 <p:dataList id="attachment" value="#{taskPlannerView.task.attachmentList}" var="files" 
					 emptyMessage="#{msg.empty_file_upload}" type="unordered" styleClass="ui-datalist-data">
						<p:commandLink id="openView" class="MarRight10"  value="#{files}"  ajax="false" 
						action="#{taskPlannerAddUpdateView.downloadFile(taskPlannerView.task.dirName,files)}" /> 
					</p:dataList>  

					</p:panelGrid>
					
					<div class = "EmptyBox10"></div>
					<p:panelGrid columns="1" styleClass="ui-panelgrid-blank">
					<p:outputLabel for="subTask" value="#{msg.lbl_taskRelation}" /> 
					<div class = "EmptyBox20"></div>
					<p:dataTable  id="subTask" var="subTask" 
				        value="#{taskPlannerView.task.subTasks}"
				        emptyMessage="#{msg.table_empty_msg}" >
				          
				          <p:column headerText="#{msg.lbl_taskRelation}">
					          <h:outputText value="#{subTask.relation}"  />
					      </p:column>
				            
					      <p:column headerText="#{msg.lbl_createIn}">
					          <h:outputText value="#{subTask.project}"  />
					      </p:column>
					      
					      <p:column headerText="#{msg.lbl_taskId}">
					         <p:commandLink id="openView" class="MarRight10"  value="#{subTask.identifier}"  ajax="false" 
						        action="#{taskPlannerView.subTaskViewAction(subTask.identifier)}" />
						       <!-- <h:outputText value="#{subTask.identifier}"  /> -->
					      </p:column>
					      
					      <p:column headerText="#{msg.lbl_typeName}">
						       <h:outputText value="#{taskPlannerView.filteredType(subTask.type)}"  />
					      </p:column>
					                  
				                              
                       </p:dataTable>         

					</p:panelGrid>							 
					
					<div class = "EmptyBox10"></div>
					<p:panelGrid columns="1"  layout= "grid" styleClass="ui-panelgrid-blank"  >
					<p:outputLabel for="description" value="#{msg.lbl_description}" />
					 <p:outputLabel id="description" value="#{taskPlannerView.task.description}" escape="false" style="word-wrap:break-word;"/>
					
					</p:panelGrid>
				   </p:tab>
				   
				   <p:tab>
				   
				   <f:facet name="title">
				   		<p:outputLabel value="#{msg.tab_history}" style="vertical-align:top;display:inline-block;margin-top:-0px;"/>
					</f:facet>
				   
				  	<p:dataTable id="historyTable" var="histTask" 
						value="#{taskPlannerView.taskStatusHistoryList}" rowsPerPageTemplate="#{sessionScope['USER_IN_CONTEXT'].actualDisplayRowsSize}"
						rows="#{sessionScope['USER_IN_CONTEXT'].displayRowsSize}"   rowKey="#{histTask.id}"
						currentPageReportTemplate="#{msg.lbl_showing} {startRecord}-{endRecord} #{msg.lbl_outOf} {totalRecords}"
						style="margin-bottom:0;" 
						emptyMessage="#{msg.table_empty_msg}"
						paginatorTemplate="{PageLinks} {RowsPerPageDropdown}" rendered="#{taskPlannerView.isListView eq true}"
						paginator="true"  paginatorPosition="bottom"  styleClass="paginated" widgetVar="historyTableWidgetVar"
						rowIndexVar="rowIndex" >
				
						<p:column style="width:5%">
                        	<p:rowToggler />
                     	</p:column>
						
						<p:column headerText="#{msg.lbl_status}"  sortBy="#{histTask.status}" filterMatchMode="contains" filterBy="#{histTask.status}" filterStyle="display:none">
							<h:outputText value="#{msg['status.'+=histTask.status]}" />
						</p:column>
						
						<p:column headerText="#{msg.lbl_reporter}" sortBy="#{histTask.reporter}"  filterMatchMode="contains" filterBy="#{histTask.reporter}" filterStyle="display:none">
							<h:outputText value="#{taskPlannerView.getUserFullName(histTask.reporter)}" />
						</p:column>
						
						<p:column headerText="#{msg.lbl_assignTo}"  sortBy="#{histTask.assignTo}" filterMatchMode="contains" filterBy="#{histTask.assignTo}" filterStyle="display:none">
							<h:outputText value="#{histTask.assignTo == 'Unassigned' or histTask.assignTo == 'Nicht zugewiesen' ? 
							msg.lbl_notAssigned : taskPlannerView.getUserFullName(histTask.assignTo)}" />
						</p:column>
						
						<p:column headerText="#{msg.lbl_lastUpdatedOn}"  sortBy="#{histTask.assignTo}" filterMatchMode="contains" filterBy="#{histTask.assignTo}" filterStyle="display:none">
							<h:outputText id="updateTime" value="#{histTask.updateTime}"	>
							<f:convertDateTime type="both"  timeZone="#{sessionScope['USER_IN_CONTEXT'].timeZone}" />
							</h:outputText>
						</p:column>
						
						<p:column headerText="#{msg.lbl_lastUpdatedBy}"  sortBy="#{histTask.assignTo}" filterMatchMode="contains" filterBy="#{histTask.assignTo}" filterStyle="display:none">
							<p:outputLabel id="updateBy" value="#{taskPlannerView.getUserFullName(histTask.updateBy)}"	/>
						</p:column>
						
						<p:rowExpansion >
						 <p:panelGrid  columns="4" layout="grid"   style="width:100% !important" styleClass="ui-panelgrid-blank"> 
			                <p:outputLabel for="project" value="#{msg.lbl_createIn}" />
							<p:outputLabel id="project" value="#{histTask.project}" />
							
							<p:outputLabel for="startDate" value="#{msg.lbl_taskStartDate}" />
							<p:outputLabel id="startDate"  value="#{histTask.startDate}" >
							<f:convertDateTime pattern="#{CommonConstants.APP_DATE_FORMAT}"  />
							</p:outputLabel>
							
							<p:outputLabel for="taskType" value="#{msg.lbl_typeName}" />
							<p:outputLabel id="taskType"  value="#{histTask.type}" >
							</p:outputLabel>
												
							<p:outputLabel for="dueDate" value="#{msg.lbl_dueDate}" />
							<p:outputLabel id="dueDate"  value="#{histTask.dueDate}" >
							<f:convertDateTime pattern="#{CommonConstants.APP_DATE_FORMAT}"  />
							</p:outputLabel>
			            </p:panelGrid>
			            <div class = "EmptyBox10"></div>  
			            <p:separator style="width:100%;" />
						<div class = "EmptyBox10"></div>
						<p:panelGrid  columns="4" layout="grid"   style="width:100% !important" styleClass="ui-panelgrid-blank"> 	              
							<p:outputLabel for="category" value="#{msg.lbl_category}" />
							<p:outputLabel id="category" value="#{histTask.category}" />
							
							<p:outputLabel for="reporter" value="#{msg.lbl_reporter}" />
							<p:outputLabel id="reporter" value="#{not empty histTask.reporter ? taskPlannerView.getUserFullName(histTask.reporter) : ''}" />
							
							<p:outputLabel for="priority" value="#{msg.lbl_priority}" />					
							<p:outputLabel id="priority" value="#{not empty histTask.priority ? msg['priority.'+=histTask.priority] : ''}" />
							
							<p:outputLabel for="assignTo" value="#{msg.lbl_assignTo}" />
							<p:outputLabel id="assignTo" value="#{histTask.assignTo == 'Unassigned' or histTask.assignTo == 'Nicht zugewiesen' ? 
							msg.lbl_notAssigned : taskPlannerView.getUserFullName(histTask.assignTo)}" />
							
							<p:outputLabel for="status" value="#{msg.lbl_status}" />
							<p:outputLabel id="status" value="#{not empty histTask.status ? msg['status.'+=histTask.status] :''}" />				              
			              
			            </p:panelGrid> 
			            </p:rowExpansion>
						
					</p:dataTable>
				 </p:tab>
				 
				    
				 </p:tabView>
				 <p:blockUI block="pnl" widgetVar="bui">#{msg.lbl_loading}<br /> 
       				<p:graphicImage  value="/images/ajax-loader.gif"/>
    			</p:blockUI> 
				</div>
		
		
			
		<div class="Container100  Responsive100">
			<div class="ContainerIndent" >
			<div class="Card ShadowEffect HeiAutoOnMobile">
				<h2 class="CardTopic" ><i class="icon-info"></i>#{msg.hdr_info}</h2>
				<div class="SeparatorFull"></div>
				
				<p:panelGrid columns="3" layout="grid" columnClasses="ui-grid-col-5,ui-grid-col-6,ui-grid-col-1" style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank" >
					<p:outputLabel for="createBy" value="#{msg.lbl_createdBy}: " />
					<p:outputLabel id="createBy" value="#{taskPlannerView.getUserFullName(taskPlannerView.task.createBy)}"	/>
            		<p:graphicImage  class ="Fright Fs30 circlesmallicon" value="/images/#{empty taskPlannerView.task.createBy ? 'default.jpg' : taskPlannerView.getUserImage(taskPlannerView.task.createBy)}"></p:graphicImage>
			 
					<p:outputLabel for="createTime" value="#{msg.lbl_createdOn}: " />
					<p:outputLabel id="createTime" value="#{taskPlannerView.task.createTime}"	>
					<f:convertDateTime type="both"  timeZone="#{sessionScope['USER_IN_CONTEXT'].timeZone}" />
					</p:outputLabel>
            		<div class="EmptyBox10"></div>
                                   
					<p:outputLabel for="updateBy" value="#{msg.lbl_lastUpdatedBy}: " />
					<p:outputLabel id="updateBy" value="#{taskPlannerView.getUserFullName(taskPlannerView.task.updateBy)}"	/>
            		<p:graphicImage class ="Fright Fs30 circlesmallicon" value="/images/#{empty taskPlannerView.task.updateBy ? 'default.jpg' : taskPlannerView.getUserImage(taskPlannerView.task.updateBy)}"></p:graphicImage>
							        
					<p:outputLabel for="updateTime" value="#{msg.lbl_lastUpdatedOn}: " />
						<p:outputLabel id="updateTime" value="#{taskPlannerView.task.updateTime}"	>
							<f:convertDateTime type="both"  timeZone="#{sessionScope['USER_IN_CONTEXT'].timeZone}" />
					</p:outputLabel>
            		<div class="EmptyBox10"></div>
 				</p:panelGrid>
				</div></div></div></div> 
				</p:panel>
			</h:form>
			</div>
		 </div> 
		 
		 <h:form id="listViewPage">
			<p:panel id="listViewPanel" style="border:none;" rendered="#{taskPlannerView.isListView eq 'true'}" >
			 <div class="ui-toolbar-group-right">
				<p:commandButton id="deleteTasks" icon="fa fa-trash-o" process="@form" onclick="PF('bui').show()"
                        action="#{taskPlannerView.deleteMultipleTaskAction()}"
                        title="#{msg.btn_deleTask}" >
                        <p:confirm header="#{msg.confirmation}" message="#{msg.lbl_reallyDeleteTask}" icon="ui-icon-alert" />
                </p:commandButton>
                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                <p:commandButton value="#{msg.btn_yes}" type="button" styleClass="ui-confirmdialog-yes " 
                	onclick="PF('deleteTasks').show()" icon="ui-icon-check fa fa-check Fs14 White" />
                <p:commandButton value="#{msg.btn_no}" type="button" styleClass="ui-confirmdialog-no " icon="ui-icon-close fa fa-close Fs14 White" />
                </p:confirmDialog>
			</div>
			<div class="Container100  Responsive100">
            <div class="ContainerIndent  "> 
            
            <p:dataTable id="listTable1" var="tasks" selection="#{taskPlannerView.selectedTaskList}" 
				value="#{taskPlannerView.taskList}" rowsPerPageTemplate="#{sessionScope['USER_IN_CONTEXT'].actualDisplayRowsSize}"
				rows="#{sessionScope['USER_IN_CONTEXT'].displayRowsSize}"   rowKey="#{tasks.id}"
				currentPageReportTemplate="#{msg.lbl_showing} {startRecord}-{endRecord} #{msg.lbl_outOf} {totalRecords}"
				style="margin-bottom:0;"
				emptyMessage="#{msg.table_empty_msg}"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				paginator="true" widgetVar="listTable1WidgetVar" paginatorPosition="bottom"  styleClass="paginated"
				filteredValue="#{taskPlannerView.filteredTaskList}"
				rowIndexVar="rowIndex" tableStyle="table-layout: auto;">
				<f:facet name="header">
				<div style="height: 50px;">
				<table id="filter" style="margin-top: -15px;">
					<tr>
						<td align="left" >
							<p:inputText id="globalFilter"
							onkeyup="PF('listTable1WidgetVar').filter()"
							placeholder="#{msg.lbl_search}" style="width:75%"/>
						</td>
						<td align="right" >
						         				 
						 <p:commandButton id="toggler" type="button" class="GrayButton"
							icon="fa fa-calculator" title="#{msg.btn_columns}"/>
							<p:ajax event="page" oncomplete="updateToggles(PF('columnToggler'))" />
						<p:columnToggler widgetVar="columnToggler" datasource="listTable1" trigger="toggler" style="width:100%">
						 <p:ajax event="toggle" listener="#{taskPlannerView.onToggle}" />
						 </p:columnToggler>
						 
						</td>
					</tr>
				   </table>
				  </div>	
				</f:facet>
				
				<p:column  selectionMode="multiple" visible="false" headerText="#{msg.lbl_select}" 
				      value="#{tasks.checked}" style="width:54px;" class="TexAlCenter text-top" >
				</p:column>
				
				<p:column headerText="#{msg.lbl_taskId}" sortBy="#{tasks.identifier}" resizable="true" filterMatchMode="contains"  
				filterBy="#{tasks.identifier}" filterStyle="display:none" visible="#{taskPlannerView.togglerList[0]}">
					<p:commandLink id="openView" class="MarRight10"  value="#{tasks.identifier}"
						actionListener="#{taskPlannerView.viewAction(tasks.id)}" process="@this" onclick="PF('bui').show()"/> 
						<p:commandLink id="taskIdNewTab" action="#{taskPlannerView.viewAction(tasks.id)}" ajax="false" target="_blank" oncomplete="PF('bui').hide()">
							<i class="icon-tab Fs22 bottom" title="#{msg.lbl_opennewtab}"></i>
						</p:commandLink>
					</p:column>
				<p:column headerText="#{msg.lbl_taskName}" sortBy="#{tasks.name}" visible="#{taskPlannerView.togglerList[1]}" resizable="true" filterMatchMode="contains" filterBy="#{tasks.name}" filterStyle="display:none">
					<h:outputText  value="#{tasks.name}" />
				</p:column> 
				<p:column headerText="#{msg.lbl_createIn}" sortBy="#{tasks.project}" visible="#{taskPlannerView.togglerList[2]}" resizable="true" filterMatchMode="contains" filterBy="#{tasks.project}" filterStyle="display:none">
					<h:outputText  value="#{tasks.project}" />
				</p:column>
				
				<p:column headerText="#{msg.lbl_typeName}" sortBy="#{tasks.type}" visible="#{taskPlannerView.togglerList[3]}" resizable="true" filterMatchMode="contains" filterBy="#{tasks.type}" filterStyle="display:none">
					<h:outputText  value="#{taskPlannerView.filteredType(tasks.type)}" />
				</p:column>
				
				<!-- <p:column headerText="#{msg.lbl_category}"   sortBy="#{tasks.category}" visible="#{taskPlannerView.togglerList[4]}" filterMatchMode="contains" filterBy="#{tasks.category}" filterStyle="display:none">
					<h:outputText value="#{tasks.category}" />
				</p:column> -->
				
				<p:column headerText="#{msg.lbl_facilities}"   sortBy="#{tasks.category}" visible="#{taskPlannerView.togglerList[4]}" filterMatchMode="contains" filterBy="#{tasks.category}" filterStyle="display:none">
					<h:outputText value="#{taskPlannerView.filterFacilityName(tasks.facilities)}"  />
				</p:column>
				
				<p:column headerText="#{msg.lbl_status}" sortBy="#{tasks.status}"  visible="#{taskPlannerView.togglerList[5]}" filterMatchMode="contains" filterBy="#{tasks.status}" filterStyle="display:none">
					<h:outputText value="#{msg['status.'+=tasks.status]}" />
				</p:column>
								
				<p:column headerText="#{msg.lbl_taskStartDate}" visible="#{taskPlannerView.togglerList[6]}" sortBy="#{tasks.startDate}" filterMatchMode="contains" filterBy="#{tasks.startDate}" filterStyle="display:none">
					<h:outputText value="#{tasks.startDate}">
					<f:convertDateTime pattern="#{CommonConstants.APP_DATE_FORMAT}" /></h:outputText>
				</p:column>
				<p:column headerText="#{msg.lbl_dueDate}" sortBy="#{tasks.dueDate}" visible="#{taskPlannerView.togglerList[7]}"  filterMatchMode="contains" filterBy="#{tasks.dueDate}" filterStyle="display:none">
					<h:outputText value="#{tasks.dueDate}">
					<f:convertDateTime pattern="#{CommonConstants.APP_DATE_FORMAT}" /></h:outputText>
				</p:column>
				
				<p:column headerText="#{msg.lbl_reporter}" sortBy="#{task.reporter}"  visible="#{taskPlannerView.togglerList[8]}" filterMatchMode="contains" filterBy="#{task.reporter}" filterStyle="display:none">
					<h:outputText value="#{taskPlannerView.getUserFullName(tasks.reporter)}" />
				</p:column>
				
								
				<p:column headerText="#{msg.lbl_assignTo}"  sortBy="#{tasks.assignTo}" visible="#{taskPlannerView.togglerList[9]}" filterMatchMode="contains" filterBy="#{tasks.assignTo}" filterStyle="display:none">
					<h:outputText value="#{tasks.assignTo == 'Unassigned' or tasks.assignTo == 'Nicht zugewiesen' ? 
					msg.lbl_notAssigned : taskPlannerView.getUserFullName(tasks.assignTo)}" />
				</p:column>
				
			 </p:dataTable>
			 </div>
			 </div>
   			 <p:blockUI block="listTable1" widgetVar="bui">#{msg.lbl_loading}<br /> 
       			<p:graphicImage  value="/images/ajax-loader.gif"/>
    		</p:blockUI>
    		
   			 </p:panel>
   			
			 </h:form>
			
			<p:blockUI block="taskListForm taskView" class="spinner" widgetVar="allForm">#{msg.lbl_loading}
       			 <p:graphicImage value="/images/ajax-loader.gif"/>
   			 </p:blockUI> 
		</div>
	  </div>
     </div>
 	</ui:define>
</ui:composition>

