<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">
	<ui:define name="subheader">
        #{msg.hdr_tour_routes}
    </ui:define>
    <ui:define name="content">
    <f:event type="preRenderView" listener="#{tourClusterView.preRenderView}" />
       <f:metadata>
           <f:viewAction action="#{tourClusterView.onLoadAction}"/>
       </f:metadata>
	   <div class="Container100 Responsive100">
		 <div class="ContainerIndent">
			<div class="Card ShadowEffect ">
			  <div class="Container100 Responsive100">
				<div class="ContainerIndent">
				 <h:form id="showClusterCreateForm">
         <h2 class="TexAlCenter BigTopic">#{msg.hdr_tour_map}</h2>
         <p:messages id="messages" globalOnly="true" showDetail="true" autoUpdate="true" closable="true" escape="false" />
         <div class="ui-widget ui-widget-header ui-corner-all ui-helper-clearfix">
			<div class="ui-toolbar-group-left">
		  		<!-- <p:commandButton value="#{msg.btn_submit}" id="submit" actionListener="#{tourClusterView.filterFacilities}"  icon="fa fa-arrow-right"
		  			process="@form" update="@form"  /> -->
		  	</div>
		  	<div class="ui-toolbar-group-right">
		  		<p:commandButton value="#{msg.btn_doClustering}" id="showCluster" icon="fa fa-car" onstart="PF('blockUIWidget').block()"
		  			actionListener="#{tourClusterView.generateTourClustering}" update="@form" process="@form"
		  			oncomplete="resolveDirections();"
		  			rendered="#{not empty tourClusterView.filteredEmployeeList}" />
		  				<!--  oncomplete="resolveDirections();" oncomplete="if(#{not empty tourClusterView.filteredEmployeeList}) {solve(); }"  -->  
		 </div> 
		 </div>		
		  <!-- <p:messages id="messages" globalOnly="true" showDetail="true" autoUpdate="true" closable="true" escape="false" /> -->
		 <p:tabView id="tabView" >
			<p:tab title="#{msg.hdr_tour}" >
			<div class="Card SoftBlue ui-fluid">
			 <div class="Container50  Responsive50">
        		<div class="ContainerIndent">
        		
		  	<p:panelGrid  id="filterArea" columns="2" columnClasses="ui-grid-col-6,ui-grid-col-6" layout="grid" style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank" >
		        
	           <p:outputLabel for="maintenanceCycle" value="#{msg.lbl_planninHorizon}" />							
			   <p:selectOneRadio id="maintenanceCycle" value="#{tourClusterView.tourCluster.planningHorizon}" layout="grid" columns="1" required="true"> 
                  <f:selectItem itemLabel="#{msg.planningHorizon1}" itemValue="1" />
				  <f:selectItem itemLabel="#{msg.planningHorizon2}" itemValue="2" />
				  <f:selectItem itemLabel="#{msg.planningHorizon3}" itemValue="3" />
				  <p:ajax event="change" update="@form"/>
                </p:selectOneRadio>
                
                <p:outputLabel for="monthOfMaitnenace" value="#{msg.planningHorizon1}"  rendered="#{tourClusterView.tourCluster.planningHorizon eq '1'}"/>
                <p:selectOneMenu id="monthOfMaitnenace"  value="#{tourClusterView.tourCluster.monthOfMaintenance}" rendered="#{tourClusterView.tourCluster.planningHorizon eq '1'}"
                					required="#{tourClusterView.tourCluster.planningHorizon eq '1'}" >
                    <f:selectItem itemLabel="#{msg.lbl_select}" itemValue="" noSelectionOption="true" />
         		    <f:selectItems value="#{tourClusterView.monthMap.entrySet()}" var="months" 
         		    	 		 		itemValue="#{months.key}" itemLabel="#{months.value}" itemLabelEscaped="true" />
         		    <p:ajax event="change" listener="#{tourClusterView.filterFacilities}" update="@form" /> 	 		 		
         		    	 		 		
			    </p:selectOneMenu> 
                
                <p:outputLabel for="quaterlyCycle" value="#{msg.planningHorizon2}"  rendered="#{tourClusterView.tourCluster.planningHorizon eq '2'}"/>							
			    <p:selectOneMenu id="quaterlyCycle" value="#{tourClusterView.tourCluster.quarterlyCycle}" rendered="#{tourClusterView.tourCluster.planningHorizon eq '2'}"
			    					required="#{tourClusterView.tourCluster.planningHorizon eq '2'}"> 
                  <f:selectItem itemLabel="#{msg.lbl_select}" itemValue=""  noSelectionOption="true" />
                  <f:selectItem itemLabel="#{msg.quarterlyCycle1}" itemValue="1" />
				  <f:selectItem itemLabel="#{msg.quarterlyCycle2}" itemValue="2" />
				  <f:selectItem itemLabel="#{msg.quarterlyCycle3}" itemValue="3" />
				  <f:selectItem itemLabel="#{msg.quarterlyCycle4}" itemValue="4" />
				  <p:ajax event="change" listener="#{tourClusterView.filterFacilities}" update="@form" /> 	 
				 </p:selectOneMenu>
                
               	<p:outputLabel for="yearOfMaintenance" value="#{msg.planningHorizon3}" rendered="#{not empty tourClusterView.tourCluster.planningHorizon}" />
                 <p:selectOneMenu id="yearOfMaintenance"  value="#{tourClusterView.tourCluster.yearOfMaintenance}" rendered="#{not empty tourClusterView.tourCluster.planningHorizon}" 
                 					required="#{not empty tourClusterView.tourCluster.planningHorizon}">
                 	<f:selectItem itemLabel="#{msg.lbl_select}" itemValue="" noSelectionOption="true" />
	    	 		<f:selectItems value="#{tourClusterView.yearList}" var="years"  itemValue="#{years}" itemLabel="#{years}" itemLabelEscaped="true" />
	    	 		<p:ajax event="change" listener="#{tourClusterView.filterFacilities}" update="@form" /> 	 
		        </p:selectOneMenu>
		        
		         <p:outputLabel for="korfmannPlace" value="#{msg.lbl_korfName}"  /> 	
				 <p:selectOneMenu id="korfmannPlace" value="#{tourClusterView.tourCluster.korfmannOfficeLocation}" required="true"> 
                   <f:selectItem itemLabel="#{msg.lbl_select}" itemValue=""  noSelectionOption="true" />
                   <f:selectItems value="#{tourClusterView.korfmannLocationList}" var="korfmann" itemLabel="#{korfmann.name}" itemValue="#{korfmann.identifier}" />
                   <p:ajax event="change" listener="#{tourClusterView.filterFacilities}" update="@form" /> 
                 </p:selectOneMenu>  
		       
		        <p:outputLabel for="workingHours" value="#{msg.lbl_workingHours}" />
		        <p:selectOneMenu id="workingHours" value="#{tourClusterView.tourCluster.workingHours}"  >              
    				<c:forEach var="i" begin="1" end="10">
        				<f:selectItem itemLabel="#{i}" itemValue="#{i}" />       
    				</c:forEach>
				</p:selectOneMenu>
				
								
		       </p:panelGrid>
		       </div></div>
		       	
              <div class="Container50  Responsive50">
        		<div class="ContainerIndent">
		  	 	<p:panelGrid id="resultArea" columns="2" columnClasses="ui-grid-col-4,ui-grid-col-8" layout="grid" style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank" > 
		
		        <p:outputLabel for="breakAtWork" value="#{msg.lbl_breakAtWork}: " />
				<p:selectOneMenu id="breakAtWork" value="#{tourClusterView.tourCluster.breakAtWork}" >
					<f:selectItem itemLabel="#{msg.lbl_select}" itemValue=""  noSelectionOption="true" />
					<f:selectItem itemLabel="#{msg.break_time1}" itemValue="15" />
					<f:selectItem itemLabel="#{msg.break_time2}"  itemValue="30" />
					<f:selectItem itemLabel="#{msg.break_time3}" itemValue="45" />
					<f:selectItem itemLabel="#{msg.break_time4}"  itemValue="60" />
				</p:selectOneMenu>
		
		        <p:outputLabel for="maintenanceCycleAccounting" value="#{msg.lbl_maintenanceCycleAccounting}: " />
				
				<!-- Anand added for Maintenance Cycle Consideration: -->
				<p:selectOneMenu id="maintenanceCycleAccounting" value="#{tourClusterView.tourCluster.maintenanceCycleConsideration}">
					<f:selectItem itemLabel="#{msg.lbl_select}" itemValue=""  noSelectionOption="true" />
					<f:selectItem itemLabel="#{msg.lbl_yes}" itemValue="true" />
					<f:selectItem itemLabel="#{msg.lbl_no}"  itemValue="false" />
				</p:selectOneMenu>
				
				<p:outputLabel for="considerAbsence" value="#{msg.lbl_considerAbsence} " />
				<p:selectOneMenu id="considerAbsence" value="#{tourClusterView.tourCluster.considerAbsence}" >
					<f:selectItem itemLabel="#{msg.lbl_select}" itemValue=""  noSelectionOption="true" />
					<f:selectItem itemLabel="#{msg.lbl_yes}" itemValue="true" />
					<f:selectItem itemLabel="#{msg.lbl_no}"  itemValue="false" />
				</p:selectOneMenu>
		        
      			<p:outputLabel for="employee" value="#{msg.hdr_employee}" />							
         		<p:selectCheckboxMenu id="employee" style="display: inline-block !important;vertical-align:top;"  scrollHeight="120" 
        			value="#{tourClusterView.tourCluster.employeeList}" filter="true" filterMatchMode="contains"  label="#{msg.lbl_select}"
        	    	 collectionType="java.util.ArrayList" >	 
        	        <f:selectItems value="#{tourClusterView.filteredEmployeeList}" var="employee" itemValue="#{employee.identifier}" 
			   		itemLabel="#{tourClusterView.getUserFullName(employee.firstName)}" itemLabelEscaped="true"  />
                </p:selectCheckboxMenu> 
        					 
				</p:panelGrid>
        		
        		<p:panelGrid id="tourFacility"  columns="2" columnClasses="ui-grid-col-4,ui-grid-col-8" layout="grid" style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank">			
				<p:outputLabel for="facilities" value="#{msg.hdr_facilities}" />
				<!-- <p:pickList id="facilities" value="#{tourClusterView.facilityPickList}" var="facility" style="width:120%; !important"
  					itemLabel="#{facility.name}" itemValue="#{facility}" responsive="true" converter="#{tourFacilityConverter}"
                        showSourceFilter="true" showTargetFilter="true" filterMatchMode="contains" >
                </p:pickList> -->
                
                <p:selectCheckboxMenu id="facilities" style="display: inline-block !important;vertical-align:top;"  scrollHeight="500" 
        			value="#{tourClusterView.facilityPickList}" filter="true" filterMatchMode="contains"  label="#{msg.lbl_select}"
        	    	 collectionType="java.util.ArrayList">	 
        	        <f:selectItems value="#{tourClusterView.sourceFacilitiesList}" var="facility" itemValue="#{facility.id}" 
			   		itemLabel="#{facility.name}" itemLabelEscaped="true"  />
                </p:selectCheckboxMenu> 
               
				</p:panelGrid>
			</div></div>
					      
		  </div>
		 
		 <!-- <p:panelGrid columns="2" columnClasses="ui-grid-col-10,ui-grid-col-2" layout="grid" style="border:0px !important; background:none;" 
		 	styleClass="ui-panelgrid-blank" rendered="#{not empty tourClusterView.filteredEmployeeList}">
                <div class="EmptyBox10"></div>
                <p:commandButton value="#{msg.btn_tour_show}" id="submit" icon="fa fa-arrow-right" process="@this" 
                	 onclick="PF('bui').show();"  style="display:none"
                   	 actionListener="#{tourClusterView.showPossibleTours}" update =":showClusterCreateForm:tabView" oncomplete="PF('bui').hide();" >
    			</p:commandButton>	
         </p:panelGrid> -->
         
		 <p:panel id="mapPanel" style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank" 
		 		rendered="#{not empty tourClusterView.filteredEmployeeList}"	 >
		 
		 	<p:accordionPanel activeIndex="-1" style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank" id="routeDetails" >
		 	 <p:ajax event="tabChange" listener="#{tourClusterView.showPossibleTours}" update="tourSuggestionForm:dialogPanel" />
        			
        			<p:tab title="#{msg.route_details}" style = "background-color: #FF0000 !important">
            		 
            		<p:panelGrid columns="1" layout="grid" style="border:0px !important; background:none;" 
            			styleClass="ui-panelgrid-blank">
                   	 
                   	<ui:include src="/views/tour/tourcluster/showCluster.xhtml" />
                   	 
                   <!--	 <div><span class="BoldGray Fs18 FontRobotoLight Red Fleft ShowOnDesktop" width = "100%" id="directionsPanel"></span></div>
                    	 <p:commandButton value="#{msg.btn_tour_show}" id="submit" icon="fa fa-arrow-right" oncomplete="PF('tourListDialog').show();"
                   	 			actionListener="#{tourClusterView.showPossibleTours}" update="tourSuggestionForm:dialogPanel"  process="@this"/>  -->
                   	 			
                   	 			
                   	</p:panelGrid>
                   <!-- 	<p:panelGrid columns="1" layout="grid" style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank" 
                   		rendered="#{not empty tourClusterView.createdTourList}">
                   		<ui:include src="/views/tour/tourcluster/showCluster.xhtml" />
                   	</p:panelGrid> -->
            	</p:tab>
            </p:accordionPanel>
             
		  <!--  <div id="map-canvas" style="height: 600px; width: 100%; margin-top: 10px; margin-bottom: 10px;"></div> -->
		   </p:panel>
		</p:tab></p:tabView> 
		<!-- <p:blockUI block="showClusterCreateForm"  /> -->
		<!-- <p:blockUI block="showClusterCreateForm" class="spinner" widgetVar="bui">
       		      <p:graphicImage class="spinner" value="/images/progress_inge.gif"/>
		 </p:blockUI>  -->
		
		
		<pe:blockUI widgetVar="blockUIWidget">  
			<h:panelGrid columns="1" style="text-align:center;">
				<h2 class="TexAlLeft BigTopic" style="color:white !important;text-align:center;">#{msg.lbl_clusteringProgress}</h2>
      		 	<h:graphicImage library="images"  value="/images/progress_inge.gif" style="margin-right: 12px; vertical-align: middle;"/> 
             	<div class="EmptyBox10"></div>
    		 </h:panelGrid>  
		</pe:blockUI>
		
		<pe:blockUI block="listTable" widgetVar="blockUIWidgetForFacility"   css="{top: '400px', left: '', right: '750px'}"  >  
				<h:panelGrid columns="1" style="text-align:center;">
				<h:graphicImage library="images"  value="/images/ajax-loader.gif"/>
				<h:outputText value="#{msg.lbl_loading}"/>  
				<div class="EmptyBox10"></div>
				</h:panelGrid>
			</pe:blockUI>
		</h:form>
		<p:dialog id="tourConfirmation" stickyHeader="true"  appendBody="false" header="#{msg.hdr_tourList}"
              widgetVar="tourListDialog" class="GrayModena Geometry"  aria-hidden="false" aria-live="polite"
              style="margin-top: 30px; width: auto !important; max-height:100% !important; max-width: 60%; height: auto !important; z-index: 1005"
              responsive="true" modal="true"  >
              <!-- style="width: auto !important; max-height:100% !important; max-width: 100%;height: auto !important; z-index: 1005" resizable="false"  -->
              
              <ui:include src="/views/tour/tourcluster/showCluster.xhtml" />
        </p:dialog>
		</div></div></div></div>
		</div>
		<script src="https://maps.googleapis.com/maps/api/js?language=de&amp;region=DE&amp;key=#{tourClusterView.localAdminConf['googleAPIKey']}"></script>
		 <script>
	  	var map;
		var directionsService;
		var vehicleRouteLines;
		var intervalTimer;
		
		var vehicleRouteDirections;
		var directionsTaskQueue;
		var directionsTaskTimer;
		var myParam = "";
		var totalDistanceTraveled = 0;
		var totalDurationTook = 0;
		var tempEmployee = undefined;
		var customerName;
		var tasksList = [];
		var fullName;
		
		 
		
		 function initMap() {
			 directionsService = new google.maps.DirectionsService();
			/* var mapCanvas = document.getElementById('map-canvas');
		    var mapOptions = {
		      mapTypeId: google.maps.MapTypeId.ROADMAP
		    };
		    map = new google.maps.Map(mapCanvas, mapOptions);
		    directionsService = new google.maps.DirectionsService(); */
		    //loadSolution();
		} 
		ajaxError = function(jqXHR, textStatus, errorThrown) {
		    console.log("Error: " + errorThrown);
		    console.log("TextStatus: " + textStatus);
		    console.log("jqXHR: " + jqXHR);
		    alert("Error: " + errorThrown);
		};
		
		resolveDirections1 = function(){
			 PF('blockUIWidget').unblock();
		}
				
		resolveDirections = function () {
		initMap();
		 window.clearInterval(intervalTimer);
		 $.ajax({
		  url: "#{request.getContextPath()}/common/process/tour/solution",
	      type: "GET",
	      dataType : "json",
	      success: function(solution) {
	    	 console.log('Solutions is retrieved');
	    	 PF('blockUIWidget').unblock();
	    	  if(vehicleRouteLines != undefined) {
		        	for (var i = 0; i &lt; vehicleRouteLines.length; i++) {
				        vehicleRouteLines[i].setMap(null);
				    }
		     }
		     if(vehicleRouteDirections != undefined) {
		          for (var i = 0; i &lt; vehicleRouteDirections.length; i++) {
		            vehicleRouteDirections[i].setMap(null);
		          }
		     }
		   
	        vehicleRouteLines = undefined;
	        vehicleRouteDirections = [];
	        directionsTaskQueue = [];
	        totalDistanceTraveled = 0;
			totalDurationTook = 0;
	        $.each(solution.vehicleRouteList, function(index, vehicleRoute) {
	          var depotLocation = new google.maps.LatLng(vehicleRoute.depotLatitude, vehicleRoute.depotLongitude);
	          var previousLocation = depotLocation;
	          $.each(vehicleRoute.customerList, function(index, customer) {
	            var location = new google.maps.LatLng(customer.latitude, customer.longitude);
	            directionsTaskQueue.push([previousLocation, location, vehicleRoute.hexColor, vehicleRoute.employeeName, customer.locationName, customer.tasksList]);
	            previousLocation = location;
	          });
	          directionsTaskQueue.push([previousLocation, depotLocation, vehicleRoute.hexColor]);
	        });
	        var summaryPanel = document.getElementById("directionsPanel");
	        summaryPanel.innerHTML = "";
	       directionsTaskTimer = setInterval(function () {
	        	//sendDirectionsRequest()
	        },1000); //  //1 per second to avoid limit set by Google API for freeloaders
	      }, error : function(jqXHR, textStatus, errorThrown) {ajaxError(jqXHR, textStatus, errorThrown)}
	    });
	  };
	
	  sendDirectionsRequest = function () {
		
	    var task = directionsTaskQueue.shift();
	    if (task == undefined) {
	      window.clearInterval(directionsTaskTimer);
	      directionsTaskTimer = undefined;
	      return;
	    }
	    var request = {
	      origin: task[0],
	      destination: task[1],
	      travelMode: google.maps.TravelMode.DRIVING
	    };
	    var hexColor = task[2];
	    var employeeName = task[3];
	    customerName = task[4];
	    tasksList = task[5];
	   
	    directionsService.route(request, function(response, status) {
	    if (status == google.maps.DirectionsStatus.OK) {
	        var directionsRenderer = new google.maps.DirectionsRenderer({
	          map: map,
	          polylineOptions: {
	            geodesic: true,
	            strokeColor: hexColor,
	            strokeOpacity: 0.8,
	            strokeWeight: 4,
	           },
	          markerOptions: {
	            visible: false
	          },
	          preserveViewport: true
	        });
	      	        
	       if(employeeName != undefined){
	    	   tempEmployee = employeeName;
	       }
	       if(employeeName == undefined){
	    	   employeeName = tempEmployee;
	       }
	       
	       employeeName = returnFullName(employeeName);
	       directionsRenderer.setDirections(response);
	       var route = response.routes[0];
	       var summaryPanel = document.getElementById("directionsPanel");
	       
	        for (var i = 0; i &lt; route.legs.length; i++) {
	        	
	        	if(route.legs[i].distance.value != 0){
	        	  if(employeeName != undefined ){
		        	  summaryPanel.innerHTML += ' '+ employeeName +' ';
	        	  }else{
	        		  summaryPanel.innerHTML += '&lt;br&gt;'+ 'Rückweg : ';
	        	  }
	        	  if(customerName != undefined){
	        		  summaryPanel.innerHTML += '  ------->  '+ customerName + '&lt;br&gt;';
	     	     	}
				  var  dist = route.legs[i].distance.text;
        		  var infowindow = new google.maps.InfoWindow();
	  	        	google.maps.event.addListener(directionsRenderer.polylineOptions, 'click', function(evt) {
	  	            infowindow.setContent(employeeName + "&lt;br&gt;" + dist);
	  	            infowindow.setPosition(evt.latLng);
	  	            infowindow.open(map);
	  	          })  
	        	  totalDistanceTraveled += route.legs[i].distance.value;
	  	          totalDurationTook += (route.legs[i].duration.value / 60);
	        	  
	              if(tasksList != undefined){
		              $.each(tasksList, function(index, task) {
		            	  
		            	  var hours = Math.floor(task.estimatedTime / 60);          
		            	  var minutes = Math.floor(task.estimatedTime % 60);
		            	  if(minutes == 0){ 
		            		  totalDurationTook += hours * 60;
		            	  }else{
		            		  if(hours == 0)
		            		  	totalDurationTook += minutes;
		            		  else
		            			totalDurationTook += ((hours * 60) + minutes); 
		            	  }
		            	  //alert(totalDurationTook);
		            	  var estimatedTime;
		            	  if(hours != 0){
		            		  if(minutes !=  0)
		            		  	estimatedTime = hours+'h '+minutes+' min';
		            		  else
		            			estimatedTime = hours+'h';
		            	  }else{
		            		  estimatedTime = minutes+' min';
		            	  }
		            	  summaryPanel.innerHTML += '#{msg.lbl_tasks}: ' + task.name + ' (' + estimatedTime+')'+ '&lt;br&gt;';
		              });
	              }
	              //dataTable.append('&lt;/tr&gt;');
	              summaryPanel.innerHTML += ' #{msg.msg_distance}: '+route.legs[i].distance.text +' #{msg.msg_duration}: '+route.legs[i].duration.text  +'&lt;br&gt;';
	              summaryPanel.innerHTML += JSON.stringify(route.legs[i].start_address).split(',')[1].split(',')[0] + ' #{msg.lbl_travelTo} ';
	              summaryPanel.innerHTML += JSON.stringify(route.legs[i].end_address).split(',')[1].split(',')[0] + '.' + '&lt;br&gt;';
	              if(tasksList != undefined){
	              	summaryPanel.innerHTML += '&lt;hr style="border-top: 1px dashed;width: 100%;"&gt;';
	              }else{
	            	summaryPanel.innerHTML += '&lt;br&gt;'+ '#{msg.msg_totalDistance} '+ returnDistance()+ '&lt;br&gt;';
	            	summaryPanel.innerHTML += '#{msg.msg_totalDuration}: '+ returnTime()+ '&lt;br&gt;';
	            	totalDistanceTraveled = 0;
	     			totalDurationTook = 0;
	            	summaryPanel.innerHTML += '&lt;hr style="border-top: 3px double; width: 100%;"&gt;';
	              }
	              
	              $("#distanceValue").text('#{msg.msg_totalDistance} '+returnDistance());
	        	}
	         }
	        vehicleRouteDirections.push(directionsRenderer);
	        //PF('bui').hide();
	      } else if (status == google.maps.DirectionsStatus.OVER_QUERY_LIMIT) {
	        console.log("Google directions API request failed wtih status (" + status + "), but retrying...");
	        directionsTaskQueue.push(task);
	      } else {
	        console.log("Google directions API request failed with status (" + status + ").");
	      }
	    });
	   
	};
	
	function returnFullName(employeeName){
 	    $.ajax({
	  	url: "#{request.getContextPath()}/common/process/tour/getEmployeeFullName?empName="+employeeName,
      	type: "GET",
      	dataType : "json",
      	async: false,
      	success: function(empName) {
      		fullName = empName.empName;
        }, error : function(jqXHR, textStatus, errorThrown) {ajaxError(jqXHR, textStatus, errorThrown)}	  
   		});
 	    return fullName;
  	}
	  
	  
	function returnTime(){
		var hr = Math.floor( totalDurationTook / 60);          
   	 	var mins = Math.floor(totalDurationTook % 60);
   	    var totalTime;
   	    if(hr != 0){
   	    	if(mins != 0)
   	    	   totalTime = hr+'h '+mins+' min';
   	    	else
   	    	   totalTime = hr+'h';
   	    }else{
   	    	totalTime = mins+' min';
   	    }
   	    return totalTime;
	}
	
	function returnDistance(){
		return Math.round(totalDistanceTraveled / 100) / 10 + " km";
	}
	
	//google.maps.event.addDomListener(window, 'load', initMap);	
		
	//Load solution into map 
		/* loadSolution = function() {
			//initMap();
			$.ajax({
		      url: "#{request.getContextPath()}/common/process/tour/loadSolution",
		      type: "GET",
		      dataType : "json",
		      success: function(solution) {
		    	var zoomBounds = new google.maps.LatLngBounds ();
			    var zoomBounds1 = new google.maps.LatLngBounds ();
				$.each(solution.vehicleRouteList, function(index, vehicleRoute) {
					var latLng = new google.maps.LatLng(vehicleRoute.depotLatitude, vehicleRoute.depotLongitude);
				    zoomBounds.extend(latLng);
				    var image = 'https://maps.google.com/mapfiles/ms/icons/green-dot.png';
				    var marker = new google.maps.Marker({
			             position: latLng,
			             icon : image,
			             title: "#{msg.lbl_korfName}: "+ vehicleRoute.depotLocationName + " (" + vehicleRoute.depotLatitude + ", "+vehicleRoute.depotLongitude+" )",
			             map: map
			        });
		    	
					google.maps.event.addListener(marker, 'click', function() {
		             	new google.maps.InfoWindow({
		               	content: "#{msg.lbl_korfName}: "+ vehicleRoute.depotLocationName + " (" + vehicleRoute.depotLatitude + ", "+vehicleRoute.depotLongitude+" )",
		            	}).open(map,marker);
		        	})
		        
				});
	        	var image1 = 'https://maps.google.com/mapfiles/ms/icons/red-dot.png';
	         	$.each(solution.customerList, function(index, customer) {	
	          	var latLng = new google.maps.LatLng(customer.latitude, customer.longitude);
	         	zoomBounds.extend(latLng);
		        var marker = new google.maps.Marker({
		            position: latLng,
		            icon : image1,
		            title: "#{msg.hdr_facilities}: "+ customer.locationName + " (" + customer.latitude + ", "+customer.longitude+")",
		            map: map
		        });
	          
		          google.maps.event.addListener(marker, 'click', function() {
		          new google.maps.InfoWindow({
		              content: "#{msg.hdr_facilities}: "+ customer.locationName + " (" + customer.latitude + ", "+customer.longitude+")",
		            }).open(map,marker);
		          })
	          }); 
		      map.fitBounds(zoomBounds);
		     solve();
		      
		    }, error : function(jqXHR, textStatus, errorThrown) {ajaxError(jqXHR, textStatus, errorThrown)}
		  }); 
		}; 
		
		solve = function() {
			initMap();
			//alert('solve called');
		 	if (directionsTaskTimer != undefined) {
		      window.clearInterval(directionsTaskTimer);
		      directionsTaskTimer = undefined;
		    }
		    var csrfParameter = '${_csrf.parameterName}';
		    var csrfToken = '${_csrf.token}';
		    var jsonParams = {};
		    jsonParams['parentId'] = 1;
		    jsonParams[csrfParameter] = csrfToken
		   	$.ajax({
		   		url: "#{request.getContextPath()}/common/process/tour/solve",
		      	type: "POST",
		      	cache: false,
		      	dataType : "json",
		      	 data: jsonParams,
		      	beforeSend: function(xhr, settings){
		            var csrftoken = $.cookie('CSRF-TOKEN');
		            xhr.setRequestHeader("X-CSRF-TOKEN", csrftoken);
		        },
		        success : function(message) {
		        	console.log(message.text);
		        	resolveDirections();
		        	/* intervalTimer = setInterval(function () {
		        		  PF('bui').hide();
		            }, 1000);  */
			 /*   },
		      	error : function(jqXHR, textStatus, errorThrown) {ajaxError(jqXHR, textStatus, errorThrown)}
			});
		};
		*/
		</script>
		
	</ui:define>
</ui:composition>


