<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">
	<ui:define name="subheader">
        #{msg.hdr_taskCreation}
    </ui:define>
    <ui:define name="content">
    <f:event type="preRenderView" listener="#{tourClusterTaskCreationView.preRenderView}" />
       <f:metadata>
           <f:viewAction action="#{tourClusterTaskCreationView.onLoadAction}"/>
       </f:metadata>
	   <div class="Container100 Responsive100">
		 <div class="ContainerIndent">
			<div class="Card ShadowEffect ">
			  <div class="Container100 Responsive100">
				<div class="ContainerIndent">
				 <h:form id="createTaskClusterForm">
         <h2 class="TexAlCenter BigTopic">#{msg.lbl_taskCreation}</h2>
         <p:messages id="messages" globalOnly="true" showDetail="true" autoUpdate="true" closable="true" escape="false" />
         <div class="ui-widget ui-widget-header ui-corner-all ui-helper-clearfix">
			<div class="ui-toolbar-group-left">
		  		<!-- <p:commandButton value="#{msg.btn_submit}" id="submit" actionListener="#{tourClusterTaskCreationView.filterFacilities}"  icon="fa fa-arrow-right"
		  			process="@form" update="@form"  /> -->
		  	</div>
		  	<div class="ui-toolbar-group-right">
		  		<p:commandButton value="#{msg.btn_create}" id="showCluster" icon="fa fa-save"  
		  					actionListener="#{tourClusterTaskCreationView.generateTaskClusters}" process="@form"  />
		 </div> 
		 </div>		
		  <!-- <p:messages id="messages" globalOnly="true" showDetail="true" autoUpdate="true" closable="true" escape="false" /> -->
		 <p:tabView id="tabView" >
			<p:tab title="#{msg.hdr_taskData}" >
			<div class="Card SoftBlue ui-fluid">
			 <div class="Container50  Responsive50">
        		<div class="ContainerIndent">
        		
		  	<p:panelGrid  id="filterArea" columns="2" columnClasses="ui-grid-col-6,ui-grid-col-6" layout="grid" style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank" >
		        
	           <p:outputLabel for="maintenanceCycle" value="#{msg.lbl_planninHorizon}" />							
			   <p:selectOneRadio id="maintenanceCycle" value="#{tourClusterTaskCreationView.tourCluster.planningHorizon}" layout="grid" columns="1" required="true"> 
                  <f:selectItem itemLabel="#{msg.planningHorizon1}" itemValue="1" />
				  <f:selectItem itemLabel="#{msg.planningHorizon2}" itemValue="2" />
				  <f:selectItem itemLabel="#{msg.planningHorizon3}" itemValue="3" />
				  <p:ajax event="change" update="@form"/>
                </p:selectOneRadio>
                
                <p:outputLabel for="monthOfMaitnenace" value="#{msg.planningHorizon1}"  rendered="#{tourClusterTaskCreationView.tourCluster.planningHorizon eq '1'}"/>
                <p:selectOneMenu id="monthOfMaitnenace"  value="#{tourClusterTaskCreationView.tourCluster.monthOfMaintenance}" rendered="#{tourClusterTaskCreationView.tourCluster.planningHorizon eq '1'}"
                					required="#{tourClusterTaskCreationView.tourCluster.planningHorizon eq '1'}" >
                    <f:selectItem itemLabel="#{msg.lbl_select}" itemValue="" noSelectionOption="true" />
         		    <f:selectItems value="#{tourClusterTaskCreationView.monthMap.entrySet()}" var="months" 
         		    	 		 		itemValue="#{months.key}" itemLabel="#{months.value}" itemLabelEscaped="true" />
         		    	 		 		
			    </p:selectOneMenu> 
                
                <p:outputLabel for="quaterlyCycle" value="#{msg.planningHorizon2}"  rendered="#{tourClusterTaskCreationView.tourCluster.planningHorizon eq '2'}"/>							
			    <p:selectOneMenu id="quaterlyCycle" value="#{tourClusterTaskCreationView.tourCluster.quarterlyCycle}" rendered="#{tourClusterTaskCreationView.tourCluster.planningHorizon eq '2'}"
			    					required="#{tourClusterTaskCreationView.tourCluster.planningHorizon eq '2'}"> 
                  <f:selectItem itemLabel="#{msg.lbl_select}" itemValue=""  noSelectionOption="true" />
                  <f:selectItem itemLabel="#{msg.quarterlyCycle1}" itemValue="1" />
				  <f:selectItem itemLabel="#{msg.quarterlyCycle2}" itemValue="2" />
				  <f:selectItem itemLabel="#{msg.quarterlyCycle3}" itemValue="3" />
				  <f:selectItem itemLabel="#{msg.quarterlyCycle4}" itemValue="4" />
				 </p:selectOneMenu>
                
               	<p:outputLabel for="yearOfMaintenance" value="#{msg.planningHorizon3}" rendered="#{not empty tourClusterTaskCreationView.tourCluster.planningHorizon}" />
                 <p:selectOneMenu id="yearOfMaintenance"  value="#{tourClusterTaskCreationView.tourCluster.yearOfMaintenance}" rendered="#{not empty tourClusterTaskCreationView.tourCluster.planningHorizon}" 
                 					required="#{not empty tourClusterTaskCreationView.tourCluster.planningHorizon}">
                 	<f:selectItem itemLabel="#{msg.lbl_select}" itemValue="" noSelectionOption="true" />
	    	 		<f:selectItems value="#{tourClusterTaskCreationView.yearList}" var="years"  itemValue="#{years}" itemLabel="#{years}" itemLabelEscaped="true" />
		        </p:selectOneMenu>
		        
		          
		       <p:outputLabel for="estimatedTime" value="#{msg.lbl_estimated_time}"/>      
			   <p:selectOneMenu id="estimatedTime"  value="#{tourClusterTaskCreationView.tourCluster.estimatedTime}" >
					<f:selectItem itemLabel="#{msg.lbl_select}" itemValue="" noSelectionOption="true" required="true" />
					<f:selectItems value="#{tourClusterTaskCreationView.estimatedWorkHoursMap.entrySet()}" var="entry" 
									itemValue="#{entry.value}" itemLabel="#{entry.key}" />
				</p:selectOneMenu>
				
				
				<p:outputLabel for="project" value="#{msg.lbl_createIn}" />
				<p:selectOneMenu id="project"  value="#{tourClusterTaskCreationView.tourCluster.project}" required="true">
					<f:selectItem itemLabel="#{msg.lbl_select}" itemValue="" noSelectionOption="true" />
					<f:selectItems value="#{tourClusterTaskCreationView.projectList}" var="projects" itemValue="#{projects.id}"
							itemLabel="#{projects.name}" itemLabelEscaped="true" />
				</p:selectOneMenu>
				
		       </p:panelGrid>
		       </div></div>
		       	
              <div class="Container50  Responsive50">
        		<div class="ContainerIndent">
		  	 
        		
        		<p:panelGrid id="tourFacility"  columns="2" columnClasses="ui-grid-col-4,ui-grid-col-8" layout="grid" style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank">			
				<p:outputLabel for="facilities" value="#{msg.hdr_facilities}" />
				<p:pickList id="facilities" value="#{tourClusterTaskCreationView.taskFacilityPickList}" var="facility" style="width:120%; !important"
  					itemLabel="#{facility.name}" itemValue="#{facility}" responsive="true" converter="#{tourFacilityConverter}"
                        showSourceFilter="true" showTargetFilter="true" filterMatchMode="contains" >
                </p:pickList>
                
				</p:panelGrid>
			</div></div>
					      
		  </div>
		 </p:tab></p:tabView> 
		<p:blockUI block="createTaskClusterForm:tabView"  widgetVar="bui"/>
			      <p:blockUI block="createTaskClusterForm:tabView" class="spinner" trigger="showCluster"><br/>
       		      <p:graphicImage value="/images/progress_inge.gif"/>
		 </p:blockUI> 
		</h:form>
		<!-- <p:dialog id="tourConfirmation" stickyHeader="true"  appendBody="false" header="#{msg.hdr_tourList}"
              widgetVar="tourListDialog" class="GrayModena Geometry"  aria-hidden="false" aria-live="polite"
              style="width: auto !important; max-height:100% !important; max-width: 100%;
              height: auto !important; z-index: 1005" resizable="false" responsive="true" modal="true"  >
              <ui:include src="/views/tour/tourcluster/showCluster.xhtml" />
        </p:dialog> -->
		</div></div></div></div>
		</div>
		
	</ui:define>
</ui:composition>
