<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui">

	
	 <h:form id="tourSuggestionForm" enctype="multipart/form-data">
	 <p:panel id="dialogPanel">
		 <p:messages id="messages" globalOnly="true" showDetail="true"
			 autoUpdate="true" closable="true" escape="false" />
		  			 	
	     <div class="ui-widget ui-widget-header ui-corner-all ui-helper-clearfix">
	       <div class="ui-toolbar-group-left">
		     <p:commandButton id="btnSave" value="#{msg.btn_create}" icon="fa fa-save"  onstart="PF('blockUIForButtons').block()" modal="true"
		       actionListener="#{tourClusterView.saveAction}" update="tourSuggestionForm:dialogPanel"/>
		       <!-- oncomplete="PF('tourListDialog').hide();" -->
		     <p:commandButton  id="btnCancel" value="#{msg.btn_cancel}" icon="fa fa-close" 
			  process="@this" onsuccess="PF('tourListDialog').hide();" update="@form">
		     </p:commandButton>
		   </div>
	     </div>
	     <div class="Card ShadowEffect ui-fluid" style="overflow:auto !important;">
          <div class="Card SoftBlue ui-fluid">	      
		    <div class="Container100  Responsive100">
               <div class="ContainerIndent" >
               <p:dataTable id="listTable" var="tour" selection="#{tourClusterView.selectedTourList}" 
               	value="#{tourClusterView.createdTourList}" 
				 rowsPerPageTemplate="#{sessionScope['USER_IN_CONTEXT'].actualDisplayRowsSize}"
				 rows="#{sessionScope['USER_IN_CONTEXT'].displayRowsSize}"
				 currentPageReportTemplate="#{msg.lbl_showing} {startRecord}-{endRecord} #{msg.lbl_outOf} {totalRecords}"
				 rowKey="#{tour.id}" emptyMessage="#{msg.table_empty_msg}" 	widgetVar="listTableWidgetVar" 
				 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				 paginator="true"  paginatorPosition="bottom" 	rowIndexVar="rowIndex" 
				 filteredValue="#{tourClusterView.filteredTourList}"
				 reflow="true" tableStyle="table-layout: auto;">
			
				  <f:facet name="header">
					<div style="height: 50px;">
					  <table id="filter" style="margin-top: -15px;">
						<tr>
						  <td align="left">
							<p:inputText id="globalFilter"
							   onkeyup="PF('listTableWidgetVar').filter()"
							   bankholder="#{msg.lbl_search}" style="width:75%"/>
						  </td>
						  <td align="right" >
							 <p:commandButton id="toggler" type="button" class="GrayButton"
								icon="fa fa-calculator" title="#{msg.btn_columns}"/>
							 <p:ajax event="page" oncomplete="updateToggles(PF('columnToggler'))" />
							 <p:columnToggler widgetVar="columnToggler" datasource="listTable" trigger="toggler" style="width:100%">
								<p:ajax event="toggle" listener="#{tourClusterView.onToggle}" />
							 </p:columnToggler>
						  </td>
						</tr>
					  </table>
					</div>
				  </f:facet>
				  
				 <p:column  selectionMode="multiple" visible="#{tourClusterView.togglerList[0]}" headerText="#{msg.lbl_select}" 
					   value="#{tour.checked}" style="width:54px;" class="TexAlCenter text-top" >
				  </p:column>
							
				   <p:column headerText="#{msg.hdr_employee}" visible="#{tourClusterView.togglerList[1]}" sortBy="#{tour.employee}" filterMatchMode="contains" filterBy="#{tour.employee}"  >
					 <h:outputText value="#{not empty tour.employee ? tourClusterView.getUserFullName(tour.employee) : ''}" />
				  </p:column>
				  
				  <p:column headerText="#{msg.lbl_tourDate}" visible="#{tourClusterView.togglerList[2]}" sortBy="#{tour.employee}" filterMatchMode="contains" filterBy="#{tour.employee}" >
					 <p:outputLabel value="#{tour.tourDate}" >
					 	<f:convertDateTime pattern="#{CommonConstants.APP_DATE_FORMAT}"  />
					 </p:outputLabel>
					 <h:outputText value=" #{not empty tour.dayOfTour ? msg['weekday.'+=tour.dayOfTour]: ''}" /> 
				  </p:column>
				  
				 <p:column headerText="#{msg.msg_totalDuration}" visible="#{tourClusterView.togglerList[3]}" sortBy="#{tour.tourDuration}" filterMatchMode="contains" filterBy="#{tour.tourDuration}">
				 	<p:outputLabel value=" #{not empty tour.tourDuration ? tour.tourDuration : ''}" />
				 </p:column>
				  
				  <p:column headerText="#{msg.hdr_facilities}" visible="#{tourClusterView.togglerList[4]}" sortBy="#{tour.employee}" filterMatchMode="contains" filterBy="#{tour.facilitiesList}">
					<p:dataList value="#{tour.facilitiesList}" var="facility" style="border:0px !important; background:none;" styleClass="ui-datalist-data" type="ordered">
					        #{facility}
					</p:dataList>
				  </p:column>
							 
				 
				  
			   </p:dataTable>	
      </div></div></div></div>
	 </p:panel>
	 </h:form>
	 <!-- <p:blockUI block="tourSuggestionForm" widgetVar="bui">
    </p:blockUI> -->
    <pe:blockUI block="dataTableList" widgetVar="blockUIForButtons"   css="{top: '400px', left: '', right: '750px'}"  >  
	<h:panelGrid columns="1" style="text-align:center;">
		<h:graphicImage library="images"  value="/images/ajax-loader.gif"/>
		<h:outputText value="#{msg.lbl_loading}"/>  
		<div class="EmptyBox10"></div>
	</h:panelGrid>
</pe:blockUI>

</html>
	