<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui">

 <f:metadata>
	<f:viewAction action="#{facilitiesView.documentDialog}" />
 </f:metadata>
 
 <h:form id="dialogFormDocument" enctype="multipart/form-data">
 <p:messages id="messages" globalOnly="true" showDetail="true"
					autoUpdate="true" closable="true" escape="false" />
     <div class="ui-widget ui-widget-header ui-corner-all ui-helper-clearfix">
	      <div class="ui-toolbar-group-left">
	        <p:commandButton value="#{msg.btn_save}" id="btnSave" icon="fa fa-save" update="dialogFormDocument"
			     actionListener="#{facilitiesView.saveDocument}" onstart="PF('blockUIForButtons').block()" />
			   
			<p:commandButton value="#{msg.btn_cancel}" id="btnCancel" icon="fa fa-close"  update="dialogFormDocument"
			     process="@this" oncomplete="PF('createDocumentDialog').hide();" actionListener="#{facilitiesView.clearDocumentList}"  />
			  
	 </div>
	 </div>     	
	
	  			 
	<div class="Card ShadowEffect ui-fluid" style="overflow:auto !important;width:800px;Height:400px;" >
	 <div class="Card SoftBlue ui-fluid"  >
	   <div class="Container100  Responsive100">
          <div class="ContainerIndent " >
				 	
		  <p:panelGrid id="blo3" columns="3" layout="grid" styleClass="ui-panelgrid-blank"
                		       columnClasses="ui-grid-col-1,ui-grid-col-6,ui-grid-col-4,ui-grid-col-1">
			
			<div class="EmptyBox20"></div>			           
            <p:outputLabel for="name" value="#{msg.lbl_docName}" />
			<p:inputText id="name" value="#{facilitiesView.document.name}" required="true"  />
			
			<p:spacer style="height:5%;" />
            <p:spacer style="height:5%;" />
			<p:spacer style="height:5%;" />
			
			<div class="EmptyBox20"></div>			           
            <p:outputLabel for="uploadType" value="#{msg.lbl_uploadType}" />
            <p:selectOneRadio id="uploadType" value="#{facilitiesView.document.uploadType}" required="true">
				<f:selectItem itemLabel="#{msg.lbl_internUpload}" itemValue="internUpload" />
				<f:selectItem itemLabel="#{msg.lbl_externUpload}" itemValue="externUpload" />
			</p:selectOneRadio>
            
            <div class="EmptyBox20"></div>
            <p:outputLabel for="description" value="#{msg.lbl_docDescription}" />
			<p:inputTextarea id="description"  value="#{facilitiesView.document.description}" />					 
                                    
            <div class="EmptyBox20"></div>
				<p:outputLabel for="docUpload" value="#{msg.lbl_docAttachment}" />
					<p:fileUpload id="docUpload"  fileUploadListener="#{facilitiesView.fileUploadListener}" value="#{facilitiesView.file}" 
					   multiple="false" mode="advanced" dragDropSupport="true" auto="true" update="file" required="true">
					</p:fileUpload>
          
          <div class="EmptyBox20"></div>
          <p:outputLabel for="file" value="#{msg.lbl_uploadedDocs}" />  
            <p:dataList id="file" value="#{facilitiesView.uploadedFiles}" var="files" 
			   emptyMessage="#{msg.empty_file_upload}" type="unordered" styleClass="ui-datalist-data">
			
			<div class="EmptyBox20"></div>		
			<p:outputLabel value="#{files}" />
            <p:commandLink action="#{facilitiesView.deleteFile(files)}" update="@parent" immediate="true">
			<icon class="fa fa-close"/>
			<p:confirm header="#{msg.confirmation}" message="#{msg.delete_upload_file}" icon="ui-icon-alert" />
			</p:commandLink>
			<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
            <p:commandButton value="#{msg.btn_yes}" type="button" styleClass="ui-confirmdialog-yes "
               icon="ui-icon-check fa fa-check Fs14 White" />
            <p:commandButton value="#{msg.btn_no}" type="button" styleClass="ui-confirmdialog-no "
               icon="ui-icon-close fa fa-close Fs14 White" />
            </p:confirmDialog>
            </p:dataList>      
			
			</p:panelGrid>
			
	    </div>
	  </div>
	</div>
   </div>
        
    </h:form>
	<!-- <p:blockUI block="dialogFormDocument" widgetVar="bui">
	</p:blockUI> -->
	<pe:blockUI block="dialogFormDocument" widgetVar="blockUIForButtons"   css="{top: '400px', left: '', right: '750px'}"  >  
	<h:panelGrid columns="1" style="text-align:center;">
		<h:graphicImage library="images"  value="/images/ajax-loader.gif"/>
		<h:outputText value="#{msg.lbl_loading}"/>  
		<div class="EmptyBox10"></div>
	</h:panelGrid>
</pe:blockUI>
    
 </html>