<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui">

 <f:metadata>
			<f:viewAction action="#{facilitiesView.documentView}" />
 </f:metadata>
	
  <h:form id="dialogFormUpdateDocument" enctype="multipart/form-data">
	  		<p:messages id="messages" globalOnly="true" showDetail="true"
					autoUpdate="true" closable="true" escape="false" />
	  		<div class="ui-widget ui-widget-header ui-corner-all ui-helper-clearfix"><div class="ui-toolbar-group-left">
			
			  <p:commandButton  value="#{msg.btn_edit}" id="btnEdit" icon="fa fa-pencil" 
			     rendered= "#{facilitiesView.document.active eq 'Y' and facilitiesView.editChange ne 'true'}" actionListener="#{facilitiesView.changeType}" update="@form">
			  </p:commandButton>
			
			  <p:commandButton value="#{msg.btn_save}" id="btnSave" icon="fa fa-save" 
			     actionListener="#{facilitiesView.saveDocument}" onstart="PF('blockUIForButtons').block()" rendered= "#{facilitiesView.document.active eq 'Y' and facilitiesView.editChange ne 'false'}" >
			  </p:commandButton>
			 
			  <p:commandButton value="#{msg.btn_cancel}" id="btnCancel" icon="fa fa-close"
				 	   process="@this" onclick="PF('updateDocumentDialog').hide()" />
			   <!-- action="#{facilitiesView.cancelAction1}"  -->
			  <span class="ui-separator">
                 <span class="fa fa-ellipsis-v SoftGray"></span>
              </span>
			  <p:commandButton id="lock" icon="fa fa-lock" process="@form" 
			     actionListener="#{facilitiesView.lockViewedDocument(facilitiesView.document.id)}"
				 title="#{msg.lbl_lockDoc}" rendered="#{facilitiesView.document.active eq 'Y'}" />
				 
			  <p:commandButton id="unlock" icon="fa fa-unlock" process="@form" 
			     actionListener="#{facilitiesView.unlockViewedDocument(facilitiesView.document.id)}"
				 title="#{msg.lbl_unlockDoc}" rendered="#{facilitiesView.document.active eq 'N'}" />
             </div>
             <div class="ui-toolbar-group-right">
             <p:commandButton id="delete" icon="fa fa-trash-o" process="@form" 
                action="#{facilitiesView.deleteViewedDocument(facilitiesView.document.id)}"
				rendered="#{facilitiesView.document.active eq 'N'}" title="#{msg.lbl_deleteDoc}">
			 <p:confirm header="#{msg.confirmation}" message="#{msg.delete_sure}" icon="ui-icon-alert" />
			 </p:commandButton>
			 <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
             <p:commandButton value="#{msg.btn_yes}" type="button" styleClass="ui-confirmdialog-yes "
                icon="ui-icon-check fa fa-check Fs14 White" />
             <p:commandButton value="#{msg.btn_no}" type="button" styleClass="ui-confirmdialog-no "
                icon="ui-icon-close fa fa-close Fs14 White" />
             </p:confirmDialog>
             </div>
			
			</div>
				 
	<div class="Card ShadowEffect ui-fluid" style="overflow:auto !important;width:800px;Height:380px;" >
	 <div class="Card SoftBlue ui-fluid"  >
	   <div class="Container100  Responsive100">
          <div class="ContainerIndent " >
	 	<p:panelGrid id="blo2" columns="3" layout="grid" styleClass="ui-panelgrid-blank"
                        columnClasses="ui-grid-col-1,ui-grid-col-6,ui-grid-col-4,ui-grid-col-1">

            <div class="EmptyBox20"></div>
            <p:outputLabel for="name"  value="#{msg.lbl_docName}" required="true" />
          	<p:inputText id="name" value="#{facilitiesView.document.name}" rendered="#{facilitiesView.editChange ne 'false'}" required="true" />
			<p:outputLabel  value="#{facilitiesView.document.name}" rendered="#{facilitiesView.editChange ne 'true'}"/> 
			
			<p:spacer style="height:5%;" />
            <p:spacer style="height:5%;" />
			<p:spacer style="height:5%;" />
			
			<div class="EmptyBox20"></div>			           
            <p:outputLabel for="uploadType" value="#{msg.lbl_uploadType}" />
            <p:selectOneRadio id="uploadType" value="#{facilitiesView.document.uploadType}"  
            		rendered="#{facilitiesView.editChange ne 'false'}" required="true">
				<f:selectItem itemLabel="#{msg.lbl_internUpload}" itemValue="internUpload" />
				<f:selectItem itemLabel="#{msg.lbl_externUpload}" itemValue="externUpload" />
			</p:selectOneRadio>
			<p:outputLabel  value="#{facilitiesView.document.uploadType ne null ? msg['lbl_'+=facilitiesView.document.uploadType] : ''}" 
						rendered="#{facilitiesView.editChange ne 'true'}"/>
					    
            <div class="EmptyBox20"></div>
            <p:outputLabel value="#{msg.lbl_docDescription}" />
         	<p:inputTextarea value="#{facilitiesView.document.description}" rendered="#{facilitiesView.editChange ne 'false'}" />
         	<p:outputLabel  value="#{facilitiesView.document.description}" rendered="#{facilitiesView.editChange ne 'true'}"/> 
                  
        </p:panelGrid>
         			
   		<p:panelGrid id="blo4" columns="4" layout="grid" styleClass="ui-panelgrid-blank"
                  columnClasses="ui-grid-col-1,ui-grid-col-6,ui-grid-col-4,ui-grid-col-1" rendered="#{facilitiesView.editChange ne 'true'}">
                  
           	<div class="EmptyBox20"></div>
            <p:outputLabel value="#{msg.lbl_docAttachment}" />
   			<p:outputLabel  value="#{facilitiesView.document.attachment}" rendered="#{facilitiesView.editChange ne 'true'}"/>  
   			<div class="EmptyBox20"></div>
                  
         </p:panelGrid>
       				 
       		<p:panelGrid id="blo3" columns="3" layout="grid" styleClass="ui-panelgrid-blank"
                      columnClasses="ui-grid-col-1,ui-grid-col-6,ui-grid-col-4,ui-grid-col-1" rendered="#{facilitiesView.editChange ne 'false'}">
        
            <div class="EmptyBox20"></div>
            <p:outputLabel for="docUpload" value="#{msg.lbl_docAttachment}" />
       	   	<p:fileUpload id="docUpload"  fileUploadListener="#{facilitiesView.fileUploadListener}" value="#{facilitiesView.file}" 
    			multiple="false" mode="advanced" dragDropSupport="true" auto="true" update="@form">
    		</p:fileUpload>
        
            <div class="EmptyBox20"></div>
            <p:outputLabel for="file" value="#{msg.lbl_uploadedDocs}" />  
            <p:dataList id="file" value="#{facilitiesView.uploadedFiles}" var="files" emptyMessage="#{msg.empty_file_upload}" 
            		type="unordered" styleClass="ui-datalist-data">

		       <div class="EmptyBox20"></div>		
		       <p:outputLabel value="#{files}" />
		       <p:commandLink action="#{facilitiesView.deleteFile(files)}" update="@parent" immediate="true">
		          <icon class="fa fa-close"/>
		          <p:confirm header="#{msg.confirmation}" message="#{msg.delete_upload_file}" icon="ui-icon-alert" />
		       </p:commandLink>
          	
          		<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                <p:commandButton value="#{msg.btn_yes}" type="button" styleClass="ui-confirmdialog-yes "
                icon="ui-icon-check fa fa-check Fs14 White" />
                <p:commandButton value="#{msg.btn_no}" type="button" styleClass="ui-confirmdialog-no "
                icon="ui-icon-close fa fa-close Fs14 White" />
                </p:confirmDialog>
          </p:dataList>   
        
        </p:panelGrid>
           	
           <div class="EmptyBox20"></div>
           <p:panel id="downloadArea" rendered="#{facilitiesView.editChange ne 'true'}" styleClass="ui-widget-content-no-border">
           <div class="Card SoftGrayBack TexAlCenter">
			<p:commandButton id="download" class="ui-button-text-icon-left GreenButton Fs16 White" style="width:25%" icon="fa fa-download"
			 ajax="false" action="#{facilitiesView.downloadFile(facilitiesView.document.attachment)}" value="#{msg.lbl_download}"
	  	 						title="#{msg.lbl_download}" rendered="#{facilitiesView.editChange ne 'true'}" >
	  	 </p:commandButton>
		</div>
            </p:panel> 
	    </div>
	  </div>
	</div>
   </div>
        
    </h:form>
		<!-- <p:blockUI block="dialogFormUpdateDocument" widgetVar="bui">
    </p:blockUI> -->
    <pe:blockUI block="dialogFormUpdateDocument" widgetVar="blockUIForButtons"   css="{top: '400px', left: '', right: '750px'}"  >  
	<h:panelGrid columns="1" style="text-align:center;">
		<h:graphicImage library="images"  value="/images/ajax-loader.gif"/>
		<h:outputText value="#{msg.lbl_loading}"/>  
		<div class="EmptyBox10"></div>
	</h:panelGrid>
</pe:blockUI>	
    		
</html>