<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui">
	<ui:define name="subheader">
        #{msg.hdr_administration}
    </ui:define>
	<ui:define name="content">
	<div class="Container100">
    <div class="ContainerIndent">
    <div class="Card ShadowEffect">
   <div class="Container100  Responsive100"> 
    <div class="ContainerIndent">
    <h1 class="TexAlCenter BigTopic">#{msg.hdr_Module_Activity}</h1>
   <div class="Container20  Responsive60">
    <div class="ContainerIndent">
    	 
			<h:form>
				<ui:include src="/views/admin/include/adminInclude.xhtml" />
			</h:form>
	</div>
	</div>
	<div class="Container80  Responsive100">
	<div class="ContainerIndent">
	 		<f:event type="preRenderView"
			listener="#{moduleActivityListView.preRenderView}" />
		    <f:metadata>
			<f:viewAction action="#{moduleActivityListView.onLoadAction}" />
		    </f:metadata>
  	             <h:form id="moduleActivityList">
  	             
  	             <p:messages id="messages" globalOnly="true" showDetail="true" autoUpdate="true" closable="true" escape="false" />
  	             
  	             <div class="ui-widget ui-widget-header ui-corner-all ui-helper-clearfix">
  	             <div class="ui-toolbar-group-left">
          			<p:commandButton value="#{msg.btn_add}" id="btnAdd" icon="fa fa-plus" action="#{moduleActivityListView.addAction}"/>
          			
                  	<p:commandButton  value="#{msg.btn_show_act_mod_activity}" id="btnShowAct"
					actionListener="#{moduleActivityListView.showActive}" 
					disabled="#{moduleActivityListView.showActiveListBtn eq 'false'}"
					update="moduleActivityList"
					oncomplete="PF('listTableWidgetVar').clearFilters()">
				  </p:commandButton>
				
				<p:commandButton  value="#{msg.btn_show_inact_mod_activity}" id="btnShowInact"
					actionListener="#{moduleActivityListView.showInactive}"
					disabled="#{moduleActivityListView.showActiveListBtn eq 'true'}"
					update="moduleActivityList"
					oncomplete="PF('listTableWidgetVar').clearFilters()">
				</p:commandButton>	 
				
				<span class="ui-separator"> 
                    <span class="fa fa-ellipsis-v SoftGray"></span>
                 </span>
                 
				<p:commandButton  id="lock" icon="fa fa-lock"  process="@form"
					actionListener="#{moduleActivityListView.lockAction}"
					rendered="#{moduleActivityListView.showActivateBtn eq 'false'}"
					title="#{msg.lbl_lockModuleActivity}" update="pnl:listTable"
					oncomplete="PF('listTableWidgetVar').clearFilters()" />
					
				<p:commandButton  id="unlock" icon="fa fa-unlock" process="@form"
					actionListener="#{moduleActivityListView.unlockAction}"
					rendered="#{moduleActivityListView.showActivateBtn eq 'true'}"
					title="#{msg.lbl_unlockModuleActivity}" update="pnl:listTable"
					oncomplete="PF('listTableWidgetVar').clearFilters()" />
				 </div>	
			     <div class="ui-toolbar-group-right"> 
                  <p:commandButton id="delete" icon="fa fa-trash-o" styleClass="cyan-btn" process="@form" actionListener="#{moduleActivityListView.deleteAction}"
					title="#{msg.lbl_deleteModuleActivity}" rendered="#{moduleActivityListView.showActivateBtn eq 'true'}"
					oncomplete="PF('listTableWidgetVar').clearFilters()" >
					<p:confirm header="#{msg.confirmation}" message="#{msg.delete_sure}" icon="ui-icon-alert" />
				 </p:commandButton>
					<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                       <p:commandButton value="#{msg.btn_yes}" type="button" styleClass="ui-confirmdialog-yes " icon="ui-icon-check fa fa-check Fs14 White" />
                       <p:commandButton value="#{msg.btn_no}" type="button" styleClass="ui-confirmdialog-no " icon="ui-icon-close fa fa-close Fs14 White" />
                    </p:confirmDialog>	
                 </div>
				 </div>	
					<p:tabView id="pnl"> 
						<p:tab title="#{msg.lbl_Module_Activity_List}">				
							<p:dataTable id="listTable" var="activity" value="#{moduleActivityListView.moduleActivityList}" rowKey="#{activity.id}"
								style="border:none;" widgetVar="listTableWidgetVar" selection="#{moduleActivityListView.selectedActivity}"
								rows="#{sessionScope['USER_IN_CONTEXT'].displayRowsSize}" rowsPerPageTemplate="#{sessionScope['USER_IN_CONTEXT'].actualDisplayRowsSize}"
								emptyMessage="#{msg.table_empty_msg}" resizableColumns="true" draggableColumns="true" 
								paginator="true" paginatorPosition="bottom" currentPageReportTemplate="#{msg.lbl_showing} {startRecord}-{endRecord} #{msg.lbl_outOf} {totalRecords}"
								paginatorTemplate="{CurrentPageReport}  
				    			{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
								rowIndexVar="rowIndex" reflow="true" filteredValue="#{moduleActivityListView.filteredActivityList}" tableStyle="table-layout: auto;">
																
				           <f:facet name="header">
				                <div style="height: 50px;">
				                  <table id="filter" style="margin-top: -15px;">
					                <tr>
						               <td align="left">
							           <p:inputText id="globalFilter" onkeyup="PF('listTableWidgetVar').filter()" placeholder="#{msg.lbl_search}" style="width:75%"/>
						               </td>
						
						               <td align="right">
						               <p:commandButton id="toggler" type="button"  icon="fa fa-calculator" title="#{msg.btn_columns}"/>
							           <p:ajax event="page" oncomplete="updateToggles(PF('columnToggler'))" />
						               <p:columnToggler widgetVar="columnToggler" datasource="listTable" trigger="toggler" style="width:100%">
						               <p:ajax event="toggle" listener="#{moduleActivityListView.onToggle}" />
						               </p:columnToggler>
						               </td>
					              </tr>
				               </table>
					         </div>	
								
				          </f:facet>
				          
				          
				                  <p:column  selectionMode="multiple" headerText="#{msg.lbl_select}" 
				                     value="#{activity.checked}" style="width:54px;" class="TexAlCenter text-top" visible="#{moduleActivityListView.togglerList[0]}" >
					              </p:column>		
																
								  <p:column headerText="#{msg.lbl_Activity_Name}" visible="#{moduleActivityListView.togglerList[1]}"  sortBy="#{activity.activityName}" filterMatchMode="contains" filterBy="#{activity.activityName}">
								      <p:commandLink id="moduleId"  value="#{activity.activityName}" action="#{moduleActivityListView.viewAction(activity.id)}" onclick="PF('bui').show()" />
								      <p:commandLink id="moduleIdNewTab" action="#{moduleActivityListView.viewAction(activity.id)}" ajax="false" target="_blank" oncomplete="PF('bui').hide()">
							            <i class="icon-tab Fs22 bottom" title="#{msg.lbl_opennewtab}"></i>
						              </p:commandLink>
								  </p:column>
														
								  <p:column headerText="#{msg.lbl_Activity_Desc}" visible="#{moduleActivityListView.togglerList[2]}" sortBy="#{activity.description}" filterMatchMode="contains" filterBy="#{activity.description}">
									    <h:outputText value="#{activity.description}" />
								  </p:column>
								  
							</p:dataTable>
					 </p:tab>
				</p:tabView>
				                 <p:blockUI block="pnl"  widgetVar="bui"/>
			                     <p:blockUI block="pnl" class="spinner" trigger="pnl, btnAdd">
       		                       <p:graphicImage class="spinner" value="/images/ajax-loader.gif"/>
		                        </p:blockUI>   
						
		   </h:form>
	   </div>
       </div>
       </div>
       </div>
       </div>
       </div>
       </div>
      
	</ui:define>
</ui:composition>