<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui">
	<ui:define name="subheader">
      #{msg.hdr_administration}
    </ui:define>
	<ui:define name="content">
	<f:event type="preRenderView" 
               listener="#{moduleActivityListView.preRenderView}" />
			<f:metadata>
			<f:viewAction action="#{moduleActivityListView.onLoadAction}" />
			</f:metadata>
	<div class="Container100">
    <div class="ContainerIndent">
    <div class="Card ShadowEffect">
   <div class="Container100  Responsive100">
    <div class="ContainerIndent">
    <h2 class="TexAlCenter BigTopic">#{msg.hdr_Module_Activity}</h2>
     	 <div class="Container20  Responsive60">
    	 <div class="ContainerIndent">
    	 <p:row></p:row><div class="EmptyBox30"></div><p:row></p:row>
			<h:form>
				<ui:include src="/views/admin/include/adminInclude.xhtml" />
			</h:form>
		 </div>
	 	 </div>
	 		<div class="Container80  Responsive100">
	 		<div class="ContainerIndent">
			
			<h:form id="form">
			<div class="Container100">
				<div class="ContainerIndent">
					<p:messages id="messages" globalOnly="true" showDetail="true"
						autoUpdate="true" closable="true" escape="false" />
					
					
						<div class="Container100 Responsive100">
							<div class="ContainerIndent">
							<div class="ui-widget ui-widget-header ui-corner-all ui-helper-clearfix"><div class="ui-toolbar-group-left">
							<p:commandButton  value="#{msg.btn_edit}" id="btnEdit" actionListener="#{moduleActivityListView.editAction(moduleActivityListView.moduleActivity.id)}"
					               icon="fa fa-pencil" process="@this" rendered="#{moduleActivityListView.moduleActivity.active eq 'Y'}"/>
					        <p:commandButton  value="#{msg.btn_cancel}" id="btnCancel" actionListener="#{moduleActivityListView.cancelAction}" icon="fa fa-close" process="@this"/>
					        
					        <span class="ui-separator">
                                                    <span class="fa fa-ellipsis-v SoftGray"></span>
                                               </span>
			                                  <p:commandButton id="lock" icon="fa fa-lock"  process="@form" 
			                                     actionListener="#{moduleActivityListView.lockViewedModuleActivity(moduleActivityListView.moduleActivity.id)}"
				                                 title="#{msg.lbl_lockModuleActivity}" rendered="#{moduleActivityListView.moduleActivity.active eq 'Y'}" />
			                                  <p:commandButton id="unlock"  icon="fa fa-unlock" process="@form" 
			                                     actionListener="#{moduleActivityListView.unlockViewedModuleActivity(moduleActivityListView.moduleActivity.id)}"
				                                 title="#{msg.lbl_unlockModuleActivity}" rendered="#{moduleActivityListView.moduleActivity.active ne 'Y'}" />
                                              </div>
                               	              <div class="ui-toolbar-group-right">
                                              <p:commandButton id="delete" icon="fa fa-trash-o"  process="@form" 
                                                 action="#{moduleActivityListView.deleteViewedModuleActivity(moduleActivityListView.moduleActivity.id)}"
				                                 rendered="#{moduleActivityListView.moduleActivity.active ne 'Y'}" title="#{msg.lbl_deleteModuleActivity}">
			                                     <p:confirm header="#{msg.confirmation}" message="#{msg.delete_sure}" icon="ui-icon-alert" />
			                                  </p:commandButton>
				                              <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                                                  <p:commandButton value="#{msg.btn_yes}" type="button" styleClass="ui-confirmdialog-yes "
                                                      icon="ui-icon-check fa fa-check Fs14 White" />
                                                  <p:commandButton value="#{msg.btn_no}" type="button" styleClass="ui-confirmdialog-no "
                                                      icon="ui-icon-close fa fa-close Fs14 White" />
                                              </p:confirmDialog>
                                              </div>
                                              </div>
                                              
							<p:tabView>
							
							    <p:tab title="#{msg.hdr_Module_Activity}">
							    
							    <div class="Card SoftBlue ui-fluid">
                	              <div class="Container50  Responsive100">
                	                <div class="ContainerIndent " >
							    
								     <p:panelGrid id="activity" columns="2" cellspacing="10" layout="grid" style="border:0px !important; background:none;word-wrap:break-word;"
									     styleClass="ui-panelgrid-blank ui-responsive">
									     
									   <p:outputLabel for="activityName" value="#{msg.lbl_Activity_Name}" />
	            					   <p:outputLabel id="activityName" value="#{moduleActivityListView.moduleActivity.activityName}"  />
	            					
	            					</p:panelGrid>
	            					</div>
	            					</div>
	            					<div class="Container50  Responsive100">
                	                     <div class="ContainerIndent " >
							    
								     <p:panelGrid id="activityDes" columns="2" cellspacing="10" layout="grid" style="border:0px !important; background:none;word-wrap:break-word;"
									     styleClass="ui-panelgrid-blank ui-responsive">
	            					   <p:outputLabel for="description" value="#{msg.lbl_Activity_Desc}" />
	            					   <p:outputLabel id="description" value="#{moduleActivityListView.moduleActivity.description}"  />
	            					   
	            					  </p:panelGrid>
	            					 </div>
	            					</div>
	            				</div>
	            			   </p:tab>
						</p:tabView>
					</div>
				</div>
			</div>
		  </div>
		</h:form>
	</div>
	</div>
	</div>
	</div>
	</div>
	</div>
	</div>
	</ui:define>
</ui:composition>