<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui">
	<ui:define name="subheader">
        #{msg.hdr_projectDetail}
    </ui:define>
	<ui:define name="content">
		<f:event type="preRenderView" listener="#{projectView.preRenderView}" />
		<f:metadata>
			<f:viewAction action="#{projectView.onLoadAction}" />
		</f:metadata>

		<h:form id="form" enctype="multipart/form-data">
		<div id="user" class="Container100">
				<div class="ContainerIndent">
				<div class="Card ShadowEffect">
					<div class="Container100 Responsive100 ui-fluid">
						<div class="ContainerIndent">
			<p:messages id="messages" globalOnly="true" showDetail="true"
				autoUpdate="true" closable="true" escape="false" />
				<p:panelGrid id="panel2" columns="3" style="border:1px !important; background:none;"
											styleClass="ui-panelgrid-blank ui-responsive">
			<p:commandButton value="#{msg.btn_save}" id="btnSave" icon="fa fa-save" 
				actionListener="#{projectView.saveAction}" ajax="false" onclick="PF('bui').show()" process="@form"  
       	        rendered="#{projectView.project.active eq 'Y' or projectView.project.active ne 'Y'}" />
			<p:commandButton value="#{msg.btn_cancel}" id="btnCancel" icon="fa fa-close" 
				action="#{projectView.cancelAction}" process="@this" />
				</p:panelGrid>
				
			<p:tabView id="pnl">
				<p:tab title="#{msg.hdr_projects}">
					<p:panelGrid id="blo" columns="4" layout="grid" style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank">
									
							<div class="EmptyBox20"></div>
							<p:outputLabel for="project" value="#{msg.lbl_projectName}" />
							<p:inputText id="project" value="#{projectView.project.name}" required="true" /> 
							<p:row></p:row>
							
							<div class="EmptyBox20"></div>
							<p:outputLabel for="projKey" style="margin-top:15px" value="#{msg.lbl_projectKey}" />
							<p:inputText id="projKey"  style="margin-top:15px" value="#{projectView.project.projKey}" validatorMessage="#{msg.err_projKeyLength} " maxlength="4" required="true" >
							<f:validateLength minimum="4" ></f:validateLength>
							</p:inputText> 
							 <p:row></p:row>
						
						    <div class="EmptyBox20"></div>
							<p:outputLabel for="type" style="margin-top:15px" value="#{msg.lbl_projectType}" />
							<p:selectOneRadio id="type"  style="margin-top:15px" layout="grid" columns="4"  
							valueChangeListener="#{projectView.changeType}" value="#{projectView.project.type}" required="true"
									requiredMessage="#{msg.err_prj_type}" >
									<f:selectItem itemLabel="#{msg.lbl_personalProj}" itemValue="0"  />
									<f:selectItem itemLabel="#{msg.lbl_divisionProj}" itemValue="1" />
								<p:ajax event="valueChange" process="@this" update="detailViewPanel"/>	
						   </p:selectOneRadio>
						   <p:row></p:row>
						
					 
						   <div class="EmptyBox20"></div>
						</p:panelGrid>
						
						<p:panel id="detailViewPanel" style="border:none;"  >
						<p:panelGrid id="blo1" columns="4" layout="grid" style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank" >
						    <p:row></p:row>
						   	<p:outputLabel for="division"  value="#{msg.lbl_divisions}" rendered= "#{projectView.project.type eq '1'}"/>
						   	    
            				<p:selectOneMenu id="division"  value="#{projectView.project.division}" required="true" rendered= "#{projectView.project.type eq '1'}">
									<f:selectItem itemLabel="#{msg.lbl_select}" itemValue="" noSelectionOption="true" />
									<f:selectItems value="#{projectView.divisionList}" var="divisions" itemValue="#{divisions.name}"
									   itemLabel="#{divisions.name}" itemLabelEscaped="true" />
							</p:selectOneMenu>
								
							<p:row></p:row>
												   
							</p:panelGrid>		
							
							</p:panel>		
					
				</p:tab>
			</p:tabView>
			
			</div>
			</div>
			</div>
			<p:blockUI block="pnl" widgetVar="bui">#{msg.lbl_loading}<br /> 
       			<p:graphicImage  value="/images/ajax-loader.gif"/>
    		</p:blockUI>
			</div>
			</div>
		</h:form>
	</ui:define>
</ui:composition>