<ui:composition template="/WEB-INF/templates/template.xhtml"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:pe="http://primefaces.org/ui/extensions"
     xmlns:p="http://primefaces.org/ui"
     xmlns:c="http://java.sun.com/jstl/core">
    <ui:define name="subheader">
        #{msg.hdr_projectDetail}
    </ui:define>
    <ui:define name="content">
       <f:event type="preRenderView" listener="#{projectView.preRenderView}" />
       <f:metadata>
           <f:viewAction action="#{projectView.onLoadAction}"/>
       </f:metadata> 
       <div class="Container70 Responsive100">
			<div class="ContainerIndent">
				<div class="Card ShadowEffect ">
					<div class="Container100 Responsive100">
						<div class="ContainerIndent">
                               <h:form id="projectDetailForm" enctype="multipart/form-data">   
                                    <p:messages id="messages" globalOnly="true" showDetail="true"
				                       autoUpdate="true" closable="true" escape="false" />

			                             <div class="ui-widget ui-widget-header ui-corner-all ui-helper-clearfix"><div class="ui-toolbar-group-left">
			 
			                                  <p:commandButton  value="#{msg.btn_edit}" id="btnEdit" icon="fa fa-pencil" 
			                                     action="#{projectView.editAction(projectView.project.id)}" rendered= "#{projectView.project.active eq 'Y'}"/>
			                                  <p:commandButton  value="#{msg.btn_cancel}" id="btnCancel" icon="fa fa-close" 
			                                     action="#{projectView.cancelAction}" process="@this" />
			                                  <span class="ui-separator">
                                                    <span class="fa fa-ellipsis-v SoftGray"></span>
                                               </span>
			                                  <p:commandButton id="lock" icon="fa fa-lock" process="@form" 
			                                     actionListener="#{projectView.lockViewedProject(projectView.project.id)}"
				                                 title="#{msg.lbl_lockProject}" rendered="#{projectView.project.active eq 'Y'}" />
			                                  <p:commandButton id="unlock" icon="fa fa-unlock" process="@form" 
			                                     actionListener="#{projectView.unlockViewedProject(projectView.project.id)}"
				                                 title="#{msg.lbl_unlockProject}" rendered="#{projectView.project.active eq 'N'}" />
                                              </div>
                               	              <div class="ui-toolbar-group-right">
                                              <p:commandButton id="delete" icon="fa fa-trash-o" process="@form" 
                                                 action="#{projectView.deleteViewedProject(projectView.project.id)}"
				                                 rendered="#{projectView.project.active eq 'N'}" title="#{msg.lbl_deleteProject}">
			                                     <p:confirm header="#{msg.confirmation}" message="#{msg.delete_sure}" icon="ui-icon-alert" />
			                                  </p:commandButton>
				                              <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                                                  <p:commandButton value="#{msg.btn_yes}" type="button" styleClass="ui-confirmdialog-yes "
                                                      icon="ui-icon-check fa fa-check Fs14 White" />
                                                  <p:commandButton value="#{msg.btn_no}" type="button" styleClass="ui-confirmdialog-no "
                                                      icon="ui-icon-close fa fa-close Fs14 White" />
                                              </p:confirmDialog>
                                            </div>
                                            </div>  
			                             
		  <p:tabView>
          	<p:tab title="#{msg.hdr_projectData}">
				  <p:panelGrid columns="4" layout="grid" style="border:0px !important; background:none;">
				  
				                <div class="EmptyBox20"></div>
				                <p:outputLabel for="project" value="#{msg.lbl_projectName}" />
				                <p:outputLabel id="project"	value="#{projectView.project.name}" required="true" disabled="true" />
				                <p:message for="project" display="text" showDetail="true" autoUpdate="true" escape="false"/>
				                
				                <div class="EmptyBox20"></div>
				                <p:outputLabel for="projkey" value="#{msg.lbl_projectKey}" />
				                <p:outputLabel id="projkey"	value="#{projectView.project.projKey}" required="true" disabled="true" />
				                <p:message for="projkey" display="text" showDetail="true" autoUpdate="true" escape="false"/>
				  
				                <div class="EmptyBox20"></div>
				                <p:outputLabel for="type" value="#{msg.lbl_projectType}" />
				                <p:outputLabel id="type" value="#{projectView.project.type eq '0' ? msg.lbl_personalProj : msg.lbl_divisionProj}" disabled="true" />
				                <p:message for="type" display="text" showDetail="true" autoUpdate="true" escape="false"/>
				  
				                <div class="EmptyBox20"></div>
				                <p:outputLabel for="division" value="#{msg.lbl_divisions}" rendered= "#{projectView.project.type ne '0'}" />
				                <p:outputLabel id="division" value="#{projectView.project.division}" required="true" disabled="true" rendered= "#{projectView.project.type ne '0'}"/>
				                <p:message for="division" display="text" showDetail="true" autoUpdate="true" escape="false"/>
				                
				                <p:row rendered= "#{projectView.project.type eq '0'}" ></p:row>
                 		        <p:row rendered= "#{projectView.project.type eq '0'}" ></p:row>
                 		        
			        </p:panelGrid>
			     </p:tab>
			</p:tabView>      
			</h:form>
		</div>
    </div>
   </div>
  </div>
 </div>
 <div class="Container30 Responsive100">
	<div class="ContainerIndent">
		<div class="Card ShadowEffect HeiAutoOnMobile">
			<h2 class="CardTopic"><i class="icon-info"></i>#{msg.hdr_info}</h2><div class="EmptyBox10"></div>
			   <div class="SeparatorFull"></div>
                    <div class="EmptyBox10"></div>
					     <p:panelGrid columns="3" layout="grid" columnClasses="ui-grid-col-5,ui-grid-col-6,ui-grid-col-1" style="border:0px !important; background:none;" styleClass="ui-panelgrid-blank" >
							<p:outputLabel for="createBy" value="#{msg.lbl_createdBy}: " />
					        <p:outputLabel id="createBy" value="#{projectView.getUserFullName(projectView.project.createBy)}"	/>
                            <p:graphicImage  class ="Fright Fs30 circlesmallicon" value="/images/#{empty projectView.getUserImage(projectView.project.createBy) ? 'default.jpg' : projectView.getUserImage(projectView.project.createBy)}"></p:graphicImage>
							        
					        <p:outputLabel for="createTime" value="#{msg.lbl_createdOn}: " />
					        <p:outputLabel id="createTime" value="#{projectView.project.createTime}">
					        <f:convertDateTime type="both"  timeZone="#{sessionScope['USER_IN_CONTEXT'].timeZone}" />
					        </p:outputLabel>
                            <div class="EmptyBox10"></div>
                                   
                            <p:row></p:row><div class="EmptyBox10"></div><p:row></p:row>
                                    
					        <p:outputLabel for="updateBy" value="#{msg.lbl_lastUpdatedBy}: " />
					        <p:outputLabel id="updateBy" value="#{projectView.getUserFullName(projectView.project.updateBy)}"	/>
                            <p:graphicImage class ="Fright Fs30 circlesmallicon" value="/images/#{empty projectView.getUserImage(projectView.project.updateBy) ? 'default.jpg' : projectView.getUserImage(projectView.project.updateBy)}"></p:graphicImage>
							        
					        <p:outputLabel for="updateTime" value="#{msg.lbl_lastUpdatedOn}: " />
					        <p:outputLabel id="updateTime" value="#{projectView.project.updateTime}">
					        <f:convertDateTime type="both"  timeZone="#{sessionScope['USER_IN_CONTEXT'].timeZone}" />
					        </p:outputLabel>
                            <div class="EmptyBox10"></div>
                                    
                            <p:row></p:row><div class="EmptyBox10"></div><p:row></p:row> 
                            
                            <p:outputLabel for="lockedBy" rendered="#{projectView.project.lockedBy ne null}" value="#{msg.lbl_lockedBy}: " />
						    <p:outputLabel id="lockedBy" rendered="#{projectView.project.lockedBy ne null}" value="#{projectView.getUserFullName(projectView.project.lockedBy)}"	/>
						    <p:graphicImage class ="Fright Fs30 circlesmallicon" rendered="#{projectView.project.lockedBy ne null}" value="/images/#{empty projectView.getUserImage(projectView.project.lockedBy) ? 'default.jpg' : projectView.getUserImage(projectView.project.lockedBy)}"></p:graphicImage>
							
							<p:outputLabel for="lockedTime" rendered="#{projectView.project.lockedTime ne null}" value="#{msg.lbl_lockedTime}: " />
							<p:outputLabel id="lockedTime" rendered="#{projectView.project.lockedTime ne null}" value="#{projectView.project.lockedTime}"	>
							<f:convertDateTime type="both"  timeZone="#{sessionScope['USER_IN_CONTEXT'].timeZone}" />
							</p:outputLabel>
							<div class="EmptyBox10"></div>
							
							<p:row></p:row><div class="EmptyBox10"></div><p:row></p:row> 
														
							<p:outputLabel for="unlockedBy" rendered="#{projectView.project.unlockedBy ne null}" value="#{msg.lbl_unlockedBy}: " />
							<p:outputLabel id="unlockedBy" rendered="#{projectView.project.unlockedBy ne null}" value="#{projectView.getUserFullName(projectView.project.unlockedBy)}  "	/>
							<p:graphicImage class ="Fright Fs30 circlesmallicon" rendered="#{projectView.project.unlockedBy ne null}" value="/images/#{empty projectView.getUserImage(projectView.project.unlockedBy) ? 'default.jpg' : projectView.getUserImage(projectView.project.unlockedBy)}"></p:graphicImage>
							
							<p:outputLabel for="unlockedTime" rendered="#{projectView.project.unlockedTime ne null}" value="#{msg.lbl_unlockedTime}: " />
							<p:outputLabel id="unlockedTime" rendered="#{projectView.project.unlockedTime ne null}" value="#{projectView.project.unlockedTime}"	>
							<f:convertDateTime type="both"  timeZone="#{sessionScope['USER_IN_CONTEXT'].timeZone}" />
							</p:outputLabel>
							<div class="EmptyBox10"></div>
							 
					 </p:panelGrid>
				</div>
			  </div>		
            </div>
         
    </ui:define>
 </ui:composition>
			                             