<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui">
	<ui:define name="subheader">
        #{msg.hdr_administration}
    </ui:define>
	<ui:define name="content">
	<div class="Container100">
    <div class="ContainerIndent">
    <div class="Card ShadowEffect">
    <div class="Container100  Responsive100">
    <div class="ContainerIndent">
    <div class="Container20  Responsive20">
    <div class="ContainerIndent">
    	 <p:row></p:row><div class="EmptyBox50"></div><p:row></p:row> 
			<h:form>
				<ui:include src="/views/admin/include/adminInclude.xhtml" />
			</h:form>
	</div>
	</div> 
	<div class="Container80  Responsive80">
	<div class="ContainerIndent">
	 		<h1 class="TexAlCenter BigTopic">#{msg.hdr_Layout_Administration}</h1>
		    <f:metadata>
			<f:viewAction action="#{layoutManagementListView.onLoadAction}" />
		    </f:metadata>
	   	             <h:form id="layoutManagementList">
            			<p:commandButton value="#{msg.btn_add}" id="btnAdd" icon="fa fa-plus" action="#{layoutManagementBeanListView.addAction()}"/>
                    		 <p:messages id="messages" globalOnly="true" showDetail="true" autoUpdate="true" closable="true" escape="false" />
							<p:tabView> 
								<p:tab title="#{msg.lbl_Layout_List}">
									<h:panelGrid id="layoutManagement" columns="4" cellspacing="5" layout="grid" style="border:0px !important; background:none; text-align: center"
									styleClass="ui-panelgrid-blank">
									<p:dataTable id="subModuleList" var="layoutList" value="#{layoutManagementListView.layoutList}" rowKey="#{layoutList.userId}"
										style="margin-bottom:0" widgetVar="layoutList"
										rows="#{sessionScope['USER_IN_CONTEXT'].displayRowsSize}" rowsPerPageTemplate="#{sessionScope['USER_IN_CONTEXT'].actualDisplayRowsSize}"
										emptyMessage="#{msg.table_empty_msg}" resizableColumns="true" draggableColumns="true" 
										paginator="true" paginatorPosition="bottom" currentPageReportTemplate="#{msg.lbl_showing} {startRecord}-{endRecord} #{msg.lbl_outOf} {totalRecords}"
										paginatorTemplate="{CurrentPageReport}  
						    			{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
										rowIndexVar="rowIndex" reflow="true" tableStyle="table-layout: auto;">
										
										<p:column headerText="#{msg.lbl_Layout_Id}">
										<p:commandLink id="userId" value="#{msg.layout_id}#{layoutList.layoutId}" action="#{layoutManagementListView.viewAction(layoutList.layoutId)}" />
										</p:column>
										<p:column headerText="#{msg.lbl_Layout_Name}">
											<h:outputText value="#{layoutList.layoutName}" />
										</p:column>
										<p:column headerText="#{msg.lbl_Submenu_Id}">
											<h:outputText value="#{layoutList.submenuId}" />
										</p:column>
									</p:dataTable>
									</h:panelGrid>
									<div class="EmptyBox30"></div>
								</p:tab>
							</p:tabView>
						</h:form>
			</div>
          	</div>
          	</div>
          	</div>
       </div>
       </div>
       </div>
      
	</ui:define>
</ui:composition>