<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jstl/core">
	<ui:define name="subheader">
        #{msg.hdr_administration}
    </ui:define>
	<ui:define name="content">
	<div class="Container100">
    <div class="ContainerIndent">
    <div class="Card ShadowEffect">
    <div class="Container100  Responsive100">
    <div class="ContainerIndent">
     	 <div class="Container20  Responsive20">
    	 <div class="ContainerIndent">
    	 <p:row></p:row><div class="EmptyBox40"></div><p:row></p:row> 
			<h:form>
				<ui:include src="/views/admin/include/adminInclude.xhtml" />
			</h:form>
		 </div>
	 	 </div>
	 	 <div class="Container80  Responsive80">
                    <h2 class="TexAlCenter BigTopic">#{msg.hdr_Layout_Administration}</h2>
                	<f:metadata>
					<f:viewAction action="#{layoutManagement.onLoadAction}" />
					</f:metadata>
					<h:form id="tabViewForm">
					<div class="Container100">
					
					<p:commandButton id="submit" value="#{msg.btn_save}" icon="fa fa-save"  actionListener="#{layoutManagement.saveAction}" process="@form" update="@form">
						 <p:resetInput target="@form" />
						</p:commandButton>
					 <p:commandButton process="@this" value="#{msg.btn_cancel}" actionListener="#{layoutManagement.listAction}" icon="fa fa-close" />
            		            		  
					<p:tabView id="tabView" dynamic="true">
					<p:tab title="#{msg.hdr_Layout_Administration}">
						<h:panelGrid columns="2" cellpadding="5" id="mainModule">
							<p:outputLabel for="layoutName" value="#{msg.lbl_Layout_Name}" />
							<p:inputText id="layoutName" value="#{layoutManagement.layoutName}" required="true">
								<f:validateLength minimum="1" />
							</p:inputText>
							<p:outputLabel for="mainMenu" value="#{msg.lbl_Main_Module}" />
							<p:selectOneMenu id="mainMenu" style="width:150px" value="#{layoutManagement.selectedMainModule}">
								<f:selectItem itemLabel="#{msg.lbl_Select_mainmenu}" itemValue="0" noSelectionOption="true" />
								<f:selectItems value="#{layoutManagement.fetchMainModules}" var="mainMenu" itemValue="#{mainMenu.pageId}"
									itemLabel="#{mainMenu.pageDesc}" itemLabelEscaped="true" />
								<p:ajax listener="#{layoutManagement.getSubModuleList}" process="@this" update="tabView:subMenu" />
							</p:selectOneMenu>

							<p:outputLabel for="subMenu" value="#{msg.lbl_Sub_modules}" />
							<p:selectOneMenu id="subMenu" style="width:150px" value="#{layoutManagement.selectedSubModule}">
								<f:selectItem itemLabel="#{msg.lbl_Select_submenu}" itemValue="0" noSelectionOption="true" />
								<f:selectItems value="#{layoutManagement.fetchSubModules}" var="subMenu" itemValue="#{subMenu.pageId}"
									itemLabel="#{subMenu.pageDesc}" itemLabelEscaped="true" />
								<p:ajax listener="#{layoutManagement.fetchTablesList}" process="@this" update="tables" />
							</p:selectOneMenu>
						</h:panelGrid>
						
						<h:panelGrid columns="2" cellpadding="5" id="tables">
							<p:tabView dynamic="true" id="tabViewId" rendered="#{layoutManagement.tableFieldsMap ne null}">
								<c:forEach items="#{layoutManagement.tableNameSet}" var="tableName">
									<p:tab title="#{msg[tableName]}">
										<p:pickList id="#{tableName}" value="#{layoutManagement.tableFieldsMap[tableName]}" var="tableDesc" 
										itemLabel="#{msg[tableDesc.field]}" itemValue="#{tableDesc}" converter="#{roleConverter}" required="true" />
									</p:tab>
								</c:forEach>
							</p:tabView>
						</h:panelGrid>
						
											
					</p:tab>
					</p:tabView>
				</div>
		</h:form>
		</div>
		</div>
		</div>
	 </div>
	</div>
</div>
</ui:define>
</ui:composition>